{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}
{% set data = responseData.data%}
{% if type =='user' %}
    {{ HeaderWidget.widget({'type':'user','title':title}) | raw }}
{% else %}
    {{ HeaderWidget.widget({'type':'channel','title':title}) | raw }}
{% endif %}
<main>
    <section class="blk blkPadBothExt blkAbouts">
        <div class="ctn">
            <h5>{{t('wap', 'Mô tả') }}</h5>
            <p class="desc clrGrey">{{data.detail.description}}</p><br>
            <p>{{t('web','Đã tham gia ngày')}}: {{ responseData.data.detail.created_at }}</p>
            <ul class="info list2Items alCenter">
                <li>{{data.detail.totalViews}} &nbsp;{{ data.detail.totalViews > 1 ? t('wap', 'views') : t('wap', 'view') }}</li>
                <li>{{data.detail.num_follow}} &nbsp;{{ data.detail.num_follow > 1 ? t('web', 'Lượt theo dõi') : t('web', 'Lượt theo dõi') }}</li>
            </ul>

        </div>
    </section>
    {% if trackingContent %}
        {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
    {% endif %}
</main>
