{% if responseData.data.content %}
    <section class="blk blkBdTop blkRcmChnls showed" id="rcmBlock">
        <h6 class="blkTitle">{{t('wap', 'Có thể bạn thích') }} <a class="right toggleBtn" data-target="#rcmBlock" href="#">
                <svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></a></h6>
        <ul class="rcmChnlsSlider owl-carousel">
            {% for channel in responseData.data.content %}
                <li class="owl-item" id="channel_{{ channel.channel_id }}">
                    <article class="chnlItem">
                        <div class="banner pthld">
                            <a href="/channel/{{ channel.channel_id }}">
                                <img style="width: 140px; height: 70px" src="{{ channel.coverImage }}"
                                     onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                            </a>
                        </div>
                        <div class="ctn">
                            <div class="avatar"><img src="{{ channel.avatarImage }}" onError="this.onerror=null;this.src='/images/dfphoto.png'" alt=""></div>
                            <a href="/channel/{{ channel.channel_id }}">
                                <h6 class="title">{{ channel.channel_name }}</h6>
                            </a>
                            <p class="txtInfo">{{ channel.num_follow }} {{t('wap', 'người theo dõi') }}</p>
                            <p><a href="javascript:void(0)" onclick="followChannelAndHide('{{ channel.channel_id }}', '#channel_{{ channel.channel_id }}')" class="clrBlue"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg> {{t('wap', 'Theo dõi') }}</a></p>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}