{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}

{% set data = responseData.data %}

{{ HeaderWidget.widget({'type':'user','title':title}) | raw }}

<section class="blk blkPadBothExt blkListChnlVer">
    {% if isOwner %}
        <article class="chnlItem">
            <div class="ctn">
                <div class="avatar addBtn"><a href="/channel/search-channel">
                        <svg class="ico icoAdd">
                            <use xlink:href="/images/defs.svg#ico-add"></use>
                        </svg>
                    </a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="/channel/search-channel">{{t('wap', 'Thêm mới') }}</a></h6>
                </div>
            </div>
        </article>
    {% endif %}

    {% if not data.content %}
        <p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
    {% endif %}

    {% for channel in data.content %}

        <article class="chnlItem" id="channel_related_{{ channel.channel_id }}">
            <div class="ctn">
                {% if isOwner %}
                    <a class="btn btnOutlineS right" onclick="removeChannelRelated({{ channel.channel_id }})">{{t('wap', 'Xóa') }}</a>
                {% elseif channel.isFollow %}
                    <a href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}"
                       class="btn  right" onclick="followChannel({{ channel.channel_id }}, 0)">{{t('wap', 'Hủy theo dõi') }}</a>
                    <a href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                       style="display: none" class="btn btnOutlineBlueS right"
                       onclick="followChannel({{ channel.channel_id }},1)">{{t('wap', 'Theo dõi') }}</a>
                {% else %}
                    {% if userId %}
                        <a href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}" style="display: none"
                           class="btn  right" onclick="followChannel({{ channel.channel_id }},0)">{{t('wap', 'Hủy theo dõi') }}</a>
                        <a href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                           class="btn btnOutlineBlueS right" onclick="followChannel({{ channel.channel_id }}, 1)">{{t('wap', 'Theo dõi') }}</a>
                    {% else %}
                        <a href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                           class="btn btnOutlineBlueS right" onclick="followChannel({{ channel.channel_id }}, 1)">{{t('wap', 'Theo dõi') }}</a>
                    {% endif %}


                {% endif %}
                <div class="avatar"><a href="/channel/{{ channel.channel_id }}">
                        <img src="{{ channel.avatarImage }}" alt=""></a>
                </div>
                <div class="ctnhld">
                    <h6 class="title"><a href="/channel/{{ channel.channel_id }}">{{ channel.channel_name_mini }}</a>
                    </h6>
                    <p class="txtInfo">
                        {{ channel.num_follow }}&nbsp;{{t('wap', 'theo dõi') }}<i class="dot"></i>{{ channel.num_video }}&nbsp;{{ channel.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}
                    </p>
                </div>
            </div>
        </article>
    {% endfor %}

</section>
