{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}
{% set data = responseData.data %}
{{ HeaderWidget.widget({'type':'user','title':title}) | raw }}
<main>

    <div class="blkPadBothExt">
        <section class="blk blkChnlInfo">
            <div class="banner pthld">
                <img src="{{ data.detail.coverImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
            </div>
            {% set status = data.detail.isFollow ? 0 :1 %}
            <div class="ctn">
                <div class="avatar"><img src="{{ data.detail.avatarImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt=""></div>
                <a href="{{ url('/channel/add') }}"
                   class="btn btnOutlineBlueS  right">
                    <span>{{t('wap', 'Thêm kênh') }}</span>
                </a>

                <h6 class="title">{{ data.detail.msisdn }}</h6>

                <div class="txtInfo">

                    <input type="hidden" value="{{ data.detail.id }}" id="channel_id">
                    <input type="hidden" value="{{ (data.detail.isFollow)?0:1 }}" id="status_{{ data.detail.id }}">

                    <span id="num-follow">{{ data.detail.num_follow }} &nbsp; {{t('web', 'Lượt theo dõi') }}</span>
                    <br />
                    <a href="{{ url('/channel/user-update',{'id': data.detail.id }) }}">{{t('wap','Chỉnh sửa người dùng')}}</a>

                    <!--div class="onOff" {% if not data.detail.isFollow %} style="display: none" {% endif %} id="onOff" data-target="#optionNotification">
                            <svg id="on" class="ico {% if data.detail.notification_type >0 %} active {% endif %}">
                                <use xlink:href="/images/defs.svg#ico-notification"></use>
                            </svg>
                            <svg id="off" class="ico {% if data.detail.notification_type ==0 %} active {% endif %}">
                                <use xlink:href="/images/defs.svg#ico-un-notification"></use>
                            </svg>
                        </div-->

                </div>
            </div>
        </section>

        {% if data.channel|length >0 %}
            <section class="blk blkBdTop blkListVideosVer">
                {% include "@app/views/partials/channelSmallBox.twig" with {'hideChannel': true, 'data': data.channel, 'hasTitle': true, 'hasPage': true,"num":data.detail.num_video,"id":"channel_of_user_"~data.detail.id} %}
            </section>
        {% endif %}

    </div>

    {% if trackingContent %}
        {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
    {% endif %}
    <div class="modal modalOptMn" id="editChannelOpt">
        <ul>
            <li>
                <a href="" class="edit"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-edit') }}"></use></svg> {{t('wap', 'Chỉnh sửa kênh') }}</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
            </li>
        </ul>
    </div>
</main>