{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}
{% set data = responseData.data %}
{{ HeaderWidget.widget({'type':'channel','title':title}) | raw }}
<main>

    <div class="blkPadBothExt">
        <section class="blk blkChnlInfo">
            <div class="banner pthld">
                <img src="{{ data.detail.coverImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
            </div>
            {% set status = data.detail.isFollow ? 0 :1 %}
            <div class="ctn">
                <div class="avatar"><img src="{{ data.detail.avatarImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt=""></div>
                {% if type == 'channel' %}

                <a id="aUpdate" href="{{ url('/channel/update',{'id': responseData.data.detail.id}) }}"
                   class="btn btnOutlineBlueS  right">
                    <span>{{ t('wap', 'Chỉnh sửa kênh') }}</span>
                </a>
                {% else %}
                    <a id="aFollow" onclick="followChannelAndNotify({{ data.detail.id }});return addEvent('follow_channel_action', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'follow_type ': !!+($('#status_' + {{ data.detail.id }}).val()) });"
                       class="{{ (data.detail.isFollow)?"btn  right":"btn btnOutlineBlueS  right" }}">
                        <svg class="ico active"><use xlink:href="/images/defs.svg#ico-follow"></use></svg>
                        <span>{{ (data.detail.isFollow)?t('wap', 'Đã theo dõi') :t('wap', 'Theo dõi') }}</span>
                    </a>
                {% endif %}
                <h6 class="title">{{ data.detail.name }}
                    {% if data.detail.official %}
                        <img src="/images/icon_official.png" style="width: 12px; height: 12px">
                    {% endif %}
                </h6>

                <div class="txtInfo">

                    <input type="hidden" value="{{ data.detail.id }}" id="channel_id">
                    <input type="hidden" value="{{ (data.detail.isFollow)?0:1 }}" id="status_{{ data.detail.id }}">
                    <span id="num-follow">{{ data.detail.num_follow }} &nbsp;{{t('web', 'Lượt theo dõi') }}</span>
                </div>
            </div>
        </section>

        {% if data.newest_video.content|length >0 %}
            <section class="blk blkBdTop blkListVideosVer">
                {% include "@app/views/partials/videoSmallBox.twig" with {'hideChannel': true, 'data': data.newest_video, 'hasTitle': true, 'hasPage': true,"num":data.detail.num_video,"id":"video_new_of_channel_"~data.detail.id} %}
            </section>
        {% endif %}

        {% if data.most_view_video.content|length >0 %}
            <section class="blk blkBdTop blkListVideosVer">
                {% include "@app/views/partials/videoSmallBox.twig" with { 'hideChannel': true, 'data': data.most_view_video, 'hasTitle': true, 'hasPage': true,
                "num": data.detail.num_video ,"id":"video_most_view_of_channel_"~data.detail.id} %}
            </section>
        {% endif %}

    </div>

    {% if trackingContent %}
        {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
    {% endif %}
</main>