{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}
{% set data = responseData.data %}
{{ HeaderWidget.widget({'type':'user','title':title}) | raw }}
<div>
    <section class="blk blkPadBothExt  blkListVideosVer">
        {% for playlist in response.data.content %}
            <article class="videoItem playlist-{{ playlist.id }}">
                <div class="ctn">
                    <div class="pthld">
                        <a href="{{ url('playlist/get-video-in-playlist',{'id': playlist.id}) }}">
                            <div class="plOverlay alCenter">
                                <p>{{ playlist.num_video }}</p>
                                <svg class="ico">
                                    <use xlink:href="/images/defs.svg#ico-playlist"></use>
                                </svg>
                            </div>

                            <img src="{{ playlist.coverImage }}" onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                        </a>
                    </div>
                    <div class="ctnhld">
                        <h6 class="title">
                            <a href="{{ url('playlist/get-video-in-playlist',{'id': playlist.id}) }}">{{ playlist.name }}</a>
                        </h6>
                        <p class="txtInfo">{{ playlist.num_video }}&nbsp;{{ playlist.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}</p>
                    </div>
                    <a class="icoMore optMnBtn" data-url="{{ url('playlist/detail', {'id': playlist.id}) }}" data-id="{{ video.id }}" data-target="#playlistChannelOpt">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-more"></use>
                        </svg>
                    </a>
                </div>
            </article>
        {% endfor %}

        {% if response.data.content|length ==0 %}
            <div class="ctn">
                <p>{{t('wap', 'Không có dữ liệu') }}</p>
            </div>
        {% endif %}

        <div id="container">
        </div>

        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="load-more-id" value="{{ id }}"/>
        <input type="hidden" id="alias" value="{{ idPlaylist }}"/>
        <input type="hidden" id="type" value="PLAYLIST"/>
    </section>

    {% if trackingContent %}
        {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
    {% endif %}

    <div class="modal modalOptMn" id="playlistChannelOpt">
        <ul>
{#            <li>#}
{#                <a href="javascript:void(0);" class="modalBtn" data-opt="clearAll" data-target="#popupShare"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use></svg> {{t('wap', 'Chia sẻ') }}</a>#}
{#            </li>#}
            <li>
                <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
            </li>
        </ul>
    </div>
</div>
