{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}

<header>
    <div class="ctn">
        <div class="lMn"><a href="/channel/channel-related?channel_id={{ userId }}"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></a></div>
        <!-- <div class="rMn"><a class="blue" href="#">Lưu</a></div> -->
        <nav class="mainMn pTitle alCenter">{{t('wap', 'Thêm kênh') }}</nav>
    </div>
</header>

<main>
    <section class="blk blkPadBoth blkListChnlVer">
        <div class="ctn">
            <input class="ipt iptLg iptSearch" id="keyword_channel" type="text" placeholder={{t('wap', 'Tìm kiếm') }}  autofocus>
        </div>

        <div id="content_channel_suggess">
            {% for channel in channelRelated.data.content %}
                <article class="chnlItem" id="channel_related_{{ channel.channel_id }}">
                    <div class="ctn">
                        {% if isOwner %}
                            <a class="btn btnBlueS right btn-register" onclick="removeChannelRelated({{ channel.channel_id }})"> {{t('web','Xóa')}}</a>
                        {% else %}
                            <a class="btn btnBlueS right add-channel-related" data-id="{{ channel.channel_id }}">{{t('wap', 'Thêm kênh') }}</a>
                        {% endif %}
                        <div class="avatar"><a href="{{ channel.channel_id }}">
                                <img src="{{ channel.avatarImageHX }}" alt=""></a>
                        </div>
                        <div class="ctnhld">
                            <h6 class="title"><a href="{{ channel.channel_id }}">{{ channel.channel_name }}</a></h6>
                            <p class="txtInfo">
                                {{ channel.num_follow }}&nbsp;{{t('wap', 'theo dõi') }} <i class="dot"></i>{{ channel.num_video }} &nbsp;{{ channel.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
</main>