{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

<input type="hidden" id="category-video-offset" value="{{ offset }}"/>
<input type="hidden" id="category-video-limit" value="{{ limit }}"/>

<section class="blk blkPadBoth">
    {% include "@app/views/partials/distributionPackage.twig" with {"sub": sub} %}

    {% for box in data %}
        <div class="">

            {% if box.content|length >0 %}
                <section class="blk blkBdTop blkListVideosVer" id="cate-{{ box.id }}">

                    {% include "@app/views/partials/videoSmallBox.twig" with {'hideChannel': true, 'data': box,
                    'hasTitle': true, 'hasPage': false, "id": box.id, "iconMore": false} %}

                </section>

                {% if box.content|length >= offset %}
                    <div class="dis-dDown">
                        <a class="right trans" href="javascript:void(0)">
                            <svg class="ico" onclick="loadCategoryMoreVideo('{{ box.id }}', this)">
                                <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                            </svg>
                        </a>
                    </div>
                    <input type="hidden" id="channel_search_state" value="down">
                {% endif %}

            {% endif %}
        </div>
    {% endfor %}
</section>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}


{% if popup %}
    {% include '@app/views/partials/popup.twig' with {'type': 'DISTRIBUTION', 'popup': popup, 'msisdn': msisdn } %}
{% endif %}