{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.category.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="{{ responseData.data.content|length }}">
    <input type="hidden" id="load-more-id" value="{{id}}">
    <input type="hidden" id="type" value="CATEGORY">
    <div class="mdl-general">
        <h1 class="title" style="padding-bottom: 10px">{{t('web','Chuyên mục')}}</h1>
        <div class="content">					
            <div class="list-channel">
                {% if responseData.data.content|length ==0 %}
                    <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
                {% else %}
                    <br/>
                    {% for item in responseData.data.content %}
                        <div class="item">
                            <a href="{{ url('category/get-cate-child',{'id' : item.id }) }}" class="image" title="{{item.name}}">
                                {% if(item.avatarImageHX) %}
                                    <img src="{{ item.avatarImageHX }}" width="100%"/>
                                {% else %}
                                    <img src="/images/data/4x4.png" width="100%"/>
                                {% endif %}
                            </a>
                            <div class="description">
                                <a href="{{ url('category/get-cate-child',{'id' : item.id }) }}" class="name-channel" title="{{item.name}}">{{item.name}}</a>
                                <a href="{{ url('category/get-cate-child',{'id' : item.id }) }}" class="text-1">{{item.play_times }} {{t('web','lượt xem')}}</a>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
                <div id="container">

                </div>
            </div>
        </div>
    </div>
</div>
