{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}

{{ HeaderWidget.widget({'type':'sub','title':t('wap', 'Cá nhân')}) | raw }}

<div>
    {% if not userId %}
        <div class="blkPadBoth">
            <section class="blk blkUserInfo blkUserStart">
                <a href="/auth/login" class="btn stBtn">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-settings"></use>
                    </svg>
                </a>
                <div class="ctn alCenter">
                    <div class="avatar"><img src="/images/dfphoto.png" alt=""></div>
                    <p class="txtInfo">{{t('wap', 'Đăng nhập để trải nghiệm toàn bộ tính năng dịch vụ') }}</p>
                    <p><a href="/auth/login" class="btn btnBlue">{{t('wap', 'Đăng nhập') }}</a></p>
                </div>
            </section>
            <section class="blk blkUsers">
                <ul>
                    <li><a href="/goi-cuoc">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-wallet"></use>
                            </svg>
                            {{t('wap', 'Gói cước') }}</a></li>
                    <li><a href="/chinh-sach-rieng-tu">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-lock"></use>
                            </svg>
                            {{t('wap', 'Điều khoản & chính sách bảo mật') }}</a></li>
                    <li><a href="/lien-he">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-call"></use>
                            </svg>
                            {{t('wap', 'Liên hệ') }}</a></li>
                </ul>
            </section>
        </div>
    {% else %}

        <div class="blkPadBoth">
            <section class="blk blkUserInfo">
                {% if userId %}
{#                    <a href="{{ url('/user/update',{'id':userId}) }}" class="btn stBtn">#}
{#                        <svg class="ico">#}
{#                            <use xlink:href="/images/defs.svg#ico-settings"></use>#}
{#                        </svg>#}
{#                    </a>#}
                    <div class="ctn">
                        <div class="avatar boxSd">
                            <a href="{{ url('/channel/get-user-detail',{'id':userId}) }}">
                                <img src="{{ avatarImage }}" alt="">
                            </a>
                        </div>
                        <h6 class="title"><a href="{{ url('/channel/get-user-detail',{'id':userId}) }}">{{ userName }}</a>
                            <br />
                            <a class="edit_user" href="/user/update/{{ userId }}">{{t('wap','Chỉnh sửa người dùng')}}</a>
                        </h6>
                    </div>
                    <div class="banner pthld"><img src="{{ coverImage }}" alt="" onError="this.onerror=null;this.src='/images/dfphoto.png'"></div>
                {% endif %}
            </section>

            <section class="blk blkUsers">
                <ul>

                    <li><a href="/goi-cuoc">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-wallet"></use>
                            </svg>
                            {{t('wap', 'Gói cước') }}
                        </a>
                    </li>
                    <li><a href="/video-cua-toi">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-video"></use>
                            </svg>
                            {{t('wap', 'Video của tôi') }}
                        </a>
                    </li>

                    <li><a href="/video-da-xem">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-view"></use>
                            </svg>
                            {{t('wap', 'Xem gần đây') }}</a>
                    </li>
                    <li><a href="/video-xem-sau">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-view-later"></use>
                            </svg>
                            {{t('wap', 'Xem sau') }}</a>
                    </li>
                    <li><a href="/danh-sach-playlist">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-playlist"></use>
                            </svg>
                            {{t('wap', 'Danh sách phát') }}
                        </a>
                    </li>
                    <li><a href="/binh-luan">
                            <i class="fa fa-commenting-o ico" aria-hidden="true"></i>
                            {{t('wap', 'Bình luận') }}
                        </a>
                    </li>
                    <li><a href="javascript:void(0);" class="item theme" data-theme="{{ app.session.get('themeUserId') }}">
                            <i class="fa fa-moon-o ico" aria-hidden="true"></i>
                            {% if app.session.get('themeUserId') == 1 %}{{t('web','Giao diện sáng')}}{% else %} {{t('web','Giao diện tối')}}{% endif %}
                        </a>
                    </li>
{#                    {% if userId %}#}
{#                    <li>#}
{#                        <a href="/lien-ket">#}
{#                            <svg class="ico">#}
{#                                <use xlink:href="/images/defs.svg#ico-shareto"></use>#}
{#                            </svg>#}
{#                            {{t('wap', 'Liên kết tài khoản') }}#}
{#                        </a>#}
{#                    </li>#}
{#                    {% endif %}#}
                    <li><a href="/auth/logout" onclick="return addEvent('logout_action', {})">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-logout"></use>
                            </svg>
                            {{t('wap', 'Đăng xuất') }}</a></li>

                    <li style="border: solid 1px #ddd; margin: 5px 0px"></li>

                    <li><a href="/auth/change-password">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-lock"></use>
                            </svg>
                            {{t('wap', 'Đổi mật khẩu') }}</a></li>

                    <li><a href="/gioi-thieu-dich-vu">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-page"></use>
                            </svg>
                            {{t('wap', 'Giới thiệu') }}
                        </a>
                    </li>
                    <li><a href="/dieu-khoan-su-dung">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-lock"></use>
                            </svg>
                            {{t('wap', 'Điều khoản & chính sách bảo mật') }}
                        </a>
                    </li>
                    <li><a href="/lien-he">
                            <svg class="ico">
                                <use xlink:href="/images/defs.svg#ico-call"></use>
                            </svg>
                            {{t('wap', 'Liên hệ') }}
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    {% endif %}

</div>