{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

<header>
    <div class="ctn">
        <div class="lMn"><a href="javascript:window.history.back();"><svg class="ico"><use xlink:href="/images/defs.svg#ico-back"></use></svg></a></div>
        <nav class="mainMn pTitle alCenter">{{t('wap', 'Theo dõi') }}</nav>
    </div>
</header>
<main>
    <section class="blk blkFollow blkPadBoth">
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'The Voice UK') }}</a></h6>
                    <div class="txtInfo">
                        20 {{t('wap', 'videos') }} <i class="dot"></i>
                        324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'Sasuke Ketare') }}</a></h6>
                    <div class="txtInfo">
                        220 {{t('wap', 'videos') }} <i class="dot"></i>
                        1324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'The Voice UK') }}</a></h6>
                    <div class="txtInfo">
                        20 {{t('wap', 'videos') }} <i class="dot"></i>
                        324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'Sasuke Ketare') }}</a></h6>
                    <div class="txtInfo">
                        220 {{t('wap', 'videos') }} <i class="dot"></i>
                        1324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'The Voice UK') }}</a></h6>
                    <div class="txtInfo">
                        20 {{t('wap', 'videos') }} <i class="dot"></i>
                        324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'Sasuke Ketare') }}</a></h6>
                    <div class="txtInfo">
                        220 {{t('wap', 'videos') }} <i class="dot"></i>
                        1324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'The Voice UK') }}</a></h6>
                    <div class="txtInfo">
                        20 {{t('wap', 'videos') }} <i class="dot"></i>
                        324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
        <article class="userItem">
            <div class="ctn">
                <div class="avatar left"><a href="#"><img src="/images/dfphoto.png" alt=""></a></div>
                <div class="ctnhld">
                    <h6 class="title"><a href="channel.html">{{t('wap', 'Sasuke Ketare') }}</a></h6>
                    <div class="txtInfo">
                        220 {{t('wap', 'videos') }} <i class="dot"></i>
                        1324 {{t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
                <a class="icoMore"><svg class="ico"><use xlink:href="/images/defs.svg#ico-follow"></use></svg></a>
            </div>
        </article>
    </section>
</main>