{{ use('wapsite/assets/NotificationAsset') }}
{{ register_notification_asset() }}
{{ HeaderWidget.widget({'type':'choose_chnls','title':title}) | raw }}

<main>
    <section class="blk blkChooseChnls blkPadBoth">
        <div class="ctn">
            <section class="chose">
                <h6 class="title">{{t('wap', 'Nội dung bạn đã chọn') }}</h6>
                <ul class="list4Items">
                    {% for item in responseData.data.channel_follow.content %}
                        <li id="{{ item.channel_id }}" data-id="0" class="chose">
                            <div onclick="chooseContentFollowChannel({{ item.channel_id }})">
                                <div class="chkBox">
                                    <svg class="ico">
                                        <use xlink:href="../images/defs.svg#ico-checkbox"></use>
                                    </svg>
                                </div>
                                <div class="pthld"><img
                                            src="{% if item.avatarImage == '' %} ../images/dfphoto.png {% else %} {{ item.avatarImage }}{% endif %}"/>
                                </div>

                            </div>
                            <a href="channel/{{ item.channel_id }}"><p class="short-title">{{ item.channel_name }}</p></a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="recommendation">
                <h6 class="title">{{t('wap', 'Nội dung đề xuất') }} <span class="rightCn">{{t('wap', 'Chọn nội dung yêu thích') }}</span></h6>
                <ul class="list4Items">
                    {% for item in responseData.data.channel_hot.content %}
                        <li id="{{ item.channel_id }}" data-id="1">
                            <div onclick="chooseContentFollowChannel({{ item.channel_id }})">
                                <div class="chkBox">
                                    <svg class="ico">
                                        <use xlink:href="../images/defs.svg#ico-checkbox"></use>
                                    </svg>
                                </div>
                                <div class="pthld"><img
                                            src="{% if item.avatarImage == '' %} ../images/dfphoto.png {% else %} {{ item.avatarImage }}{% endif %}"/>
                                </div>

                            </div>
                            <a href="channel/{{ item.channel_id }}"><p class="short-title">{{ item.channel_name }}</p></a>
                        </li>
                    {% endfor %}
                </ul>
            </section>

        </div>
    </section>
</main>
<div class="overlay"></div>