{{ use('wap/assets/AppAsset') }}
{{ register_app_asset() }}

{{ use('yii/widgets/ActiveForm') }}
{{ use('yii/captcha/Captcha') }}

<div class="mdl-login ctn link-account">
    {% set form = active_form_begin({
    'id': 'get-otp-form',
    'action' : url('account/get-otp'),
    'enableClientValidation' : false,
    'enableClientScript' : false,
    'errorCssClass':'',
    'fieldConfig' : {'template' : "{input}"},
    'options': {
    'class': 'form-horizontal',
    }
    }) %}
    <div class="row-login">
        <h4>
            {{t('wap', 'Xác thực tài khoản liên kết') }}

        </h4>
    </div>
    <div class="row-login">
        <p>
            (*){{t('wap', 'Quý khách vui lòng liên kết tài khoản để xem các nội dung tính phí và đăng ký dịch vụ Myclip') }}.
        </p>
    </div>
    <div class="row-login">
        {{ form.field(model, 'msisdn').textInput({'class' : 'ipt', 'placeholder' : t('wap', 'Nhập số thuê bao')}) | raw }}
    </div>
    {{ form.field(model, 'verifyCode').widget('yii\\captcha\\Captcha', {
        'options' : {'placeholder' : t('wap', 'Mã xác nhận'), 'class' : 'ipt'},
        'captchaAction': 'auth/captcha',
        'enableClientScript': false,
        'template': ' <div class="row-login captcha-left" >
						   {input}
						 </div>
                         <div class="row-login captcha-right" >
                            <span onclick="refreshCaptcha('~ "'getotpform-verifycode-image'" ~')">
                                {image}
                                <i class="fa fa-repeat" ></i>
                            </span>
                        </div>
                '}) | raw }}

    <div class="row-login form-group">
        <button type="submit" class="btn">{{t('wap', 'Lấy mã OTP') }}</button>
    </div>
    <div class="row-login form-group">
        <a href="/" class="">{{t('wap', 'Nhắc tôi liên kết tài khoản lần sau') }}</a>
    </div>

    <div class="row-login">
        <p class="txt-warning">{{ form.errorSummary(model, {'header' : '', 'class' : 'txt-warning'})|raw }} </p>
    </div>

    {{ active_form_end() }}
</div>
