{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}

<main>
    {{ HeaderWidget.widget({'title':t('wap', 'Liên kết tài khoản'),'type':'sub'}) | raw }}

    <section class="blk blkPackages blkPadBoth">
        {% if response.responseCode == 200 %}
            {% if response.data.google_id %}
                <article class="ctn pkItem">
                    <a class="btn btnOutline remove-link-social" style="width: 100%" href="javascript:void(0)" data-content="google">{{t('wap', 'Xoá liên kết với tài khoản Google') }}</a>
                </article>
            {% else %}
                <article class="ctn pkItem">
                    <a class="btn btnBlue" style="width: 100%" href="/auth/auth?authclient=google">{{t('wap', 'Liên kết với tài khoản Google') }}</a>
                </article>
            {% endif %}

            {% if response.data.facebook_id %}
                <article class="ctn pkItem">
                    <a class="btn btnOutline remove-link-social" style="width: 100%" href="javascript:void(0)" data-content="facebook">{{t('wap', 'Xoá liên kết với tài khoản Facebook') }}</a>
                </article>
            {% else %}
                <article class="ctn pkItem">
                    <a class="btn btnBlue" style="width: 100%" href="/auth/auth?authclient=facebook">{{t('wap', 'Liên kết với tài khoản Facebook') }}</a>
                </article>
            {% endif %}

        {% else %}
            <p class="ctn">{{t('wap', 'Không lấy được thông tin liên kết tài khoản') }}</p>
        {% endif %}
    </section>
</main>

<div class="overlay"></div>

