{{ HeaderWidget.widget({'type': 'sub', 'title': 'Playlist'}) | raw }}
{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}

<main>
    <section class="blk blkPadBoth blkListVideosVer ">

        {% include "@app/views/account/playlistBox.twig" with {'data': responseCode.data,"id":idPlaylist}  %}
        {% if responseCode.data.content|length ==0   %}
            <div class="ctn">
                <p>{{ t('wap', 'Không có dữ liệu') }}</p>
            </div>
        {% endif %}
        <div id="container">
        </div>  
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="load-more-id" value="{{id}}"/>
        <input type="hidden" id="alias" value="{{idPlaylist}}"/>
        <input type="hidden" id="type" value="PLAYLIST"/>
    </section>
</main>            