{{ use('wapsite/assets/NotificationAsset') }}
{{ register_notification_asset() }}
{{ HeaderWidget.widget({'type':'sub','title':title}) | raw }}

<main>
    <section class="blk blkNotification blkPadBoth">
        <input type="hidden" name="channel_id" value="">
        <input type="hidden" name="notiOffset" value="{{ notiOffset}}">
        <input type="hidden" name="notiLimit"  value="{{ notiLimit }}">
        {% for item in responseData %}
            <article class="notiItem" id="noti-{{ item.id }}">
                <div class="ctn">
                    <div class="avatar left">
                        <a href="/binh-luan?videoId={{ item.video_id }}&comment_id={{ item.last_comment }}&comment_status=0">
                            <img src="{% if item.avatarImage == '' %} ../images/16x9.png {% else %} {{ item.avatarImage }}{% endif %}"/>
                        </a>
                    </div>
                    <div class="pthld right">
                        <a href="/binh-luan?videoId={{ item.video_id }}&comment_id={{ item.last_comment }}&comment_status=0">
                            <img src="{% if item.coverImage == '' %} ../images/16x9.png {% else %} {{ item.coverImage }}{% endif %}" onerror="this.onerror=null;this.src='/images/16x9.png'"/></a>
                    </div>

                    <div class="ctnhld">
                        <h6 class="title"><a href="/binh-luan?videoId={{ item.video_id }}&comment_id={{ item.last_comment }}&comment_status=0">{{ item.aps.alert }}
                            </a></h6>
                        <div class="txtInfo" title="{{ item.sent_time_format }}">{{ item.sent_time_format }}</div>
                    </div>
                </div>
            </article>
        {% endfor %}

        {% if responseData|length ==0 %}
            <p class="ctn"> {{ t('wap','Không có dữ liệu') }} </p>
        {% endif %}

    </section>

    <div id="loading-notify" style="display: none; margin-bottom: 50px">
        <div class="clear-10"></div>
        <div class="spinner">
            <div class="quarter">
                <div class="circle"></div>
            </div>
        </div>
        <div class="clear-10"></div>
    </div>

</main>