{% if playlists.content|length > 0 %}
<div class="modal modalPopup" id="playlistPop">
    <div class="ctn">
        <h5>{{t('wap', 'Danh sách playlist') }}</h5>
        <div class="fixCtn">
            <ul class="listMenu">
                {% for playlist in playlists.content %}
                <li>
                    <a href="javascript:void(0);" class="addVideoPlaylist" data-playlistid="{{playlist.id}}" style=" overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: unset;">
                    <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg>{{playlist.name}}</a>
                </li>
                {% endfor %}               
            </ul>
        </div>
        <a class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
    </div>
</div>
{% endif %}