{% for video in data.content %}

    <article class="videoItem playlist-{{video.id}}">
        <div class="ctn playlist-edit-linhtvn">
            <div class="pthld">
                <a href="{{ url('playlist/get-video-in-playlist',{'id': video.id})}}">
                    <div class="plOverlay alCenter">
                        <p>{{video.num_video}}</p>
                        <svg class="ico"><use xlink:href="/images/defs.svg#ico-playlist"></use></svg>
                    </div>

                    <img src="{{ video.coverImage }}" onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                </a>
            </div>
            <div class="ctnhld">
                <h6 class="title"><a href="{{ url('playlist/get-video-in-playlist',{'id': video.id})}}">{{video.name}}</a></h6>
                <p class="txtInfo">{{video.num_video}} {{ video.num_video > 1 ? t('wap', 'videos') : t('wap', 'video')}}</p>
            </div>
            <a class="icoMore optMnBtn" data-id="{{video.id}}" data-target="#cmtOpt"><svg class="ico"><use xlink:href="/images/defs.svg#ico-more"></use></svg></a>
        </div>
    </article>
{% endfor %}