{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}

{{ HeaderWidget.widget({'type':'sub','title':t('wap', 'Doanh thu')}) | raw }}

<main>
    <section class="blk blkIphoneX blkIncome blkPadBoth">
        <div class="ctn">
            <div class="box">
                <div class="ctn">
                    <span>{{ t('wap', 'Thu nhập tháng này') }}</span><h5 class="right"><strong>{{ responseData.currentRevenue|number_format(0, ',', '.') }}<sup>{{ t('wap', 'đ') }}</sup></strong></h5>
                </div>
            </div>
            <p class="txtInfo" style="margin-top: 5px;">{{ t('wap', 'Chúng tôi sẽ thực hiện chi trả khi doanh thu đạt ngưỡng 500.000 VNĐ') }}</p>
            <p>&nbsp;</p>

            {% if responseData.histories|length > 0 %}
                <table cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th width="140">{{ t('wap', 'Thời gian') }}</th>
                        <th>{{ t('wap', 'Thu nhập') }}</th>
                        <th width="120">{{ t('wap', 'Trạng thái') }}</th>
                    </tr>
                    </thead>
                    <tbody id="reportUserUpload">
                        {% for history in responseData.histories %}
                            <tr {% if history.display_more %} class="display-report" {% endif %}>
                                <td>{{ t('wap', 'Tháng') }} {{ history.month }}</td>
                                <td><strong>{{ history.revenue|number_format(0, ',', '.') }}<sup>{{ t('wap', 'đ') }}</sup></strong></td>
                                <td class="txtInfo">{{ history.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <p>&nbsp;</p>
        <input id="reportLimit" type="hidden" value="{{ limit }}"/>

        {% if responseData.histories|length >= limit %}
            <p class="alCenter" id="showMoreReportUserUpload">
                <a class="trans" href="javascript:void(0)" onclick="loadMoreReport()">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                    </svg>
                </a>
            </p>
        {% endif %}
    </section>
</main>