{{ use('wapsite/assets/ChannelAsset') }}
{{ register_channel_asset() }}
{% set data = responseData.data %}
{{ HeaderWidget.widget({'type':'channel_update','title':title}) | raw }}
<main>
    <div class="blkPadBoth">

            <form action="/user/update/{{ data.detail.id }}" method="POST" enctype="multipart/form-data"
                  id="editChannel">
                <input type="hidden" name="id" value="{{data.detail.id}}"/>
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                <section class="blk blkUserInfo blkChnlSetup">
                    <a href="javascript:void(0)" class="btn stBtn">
                        <input type="file" class="photoBtn" id="file_banner" name="file_banner">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-camera"></use>
                        </svg>

                    </a>
                    <div class="avatar boxSd">
                        <input type="file" class="photoBtn" id="file_avartar" name="file_avatar">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-camera"></use>
                        </svg>
                        <img src="{{ data.detail.avatarImage }}"
                             onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">

                    </div>
                    <span id="file_avartar_name"></span>
                    <div class="banner pthld"><img src="{{ data.detail.coverImage }}"
                                                   onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                        <span id="file_banner_name"></span>
                    </div>
                </section>

                <p id="error_message" style="color: red"></p>

                <section class="blkChnlSetup">
                    <div class="ctn">

                        <div class="form-group">
                            <label>{{ t('wap', 'Tên đầy đủ') }} <span class="color_red">(*)</span></label>
                            <input name="name" type="text" maxlength="{{ app.params['channel.name.maxlength'] }}" value="{{ data.detail.name }}" class="ipt iptLg" placeholder=""
                                   autofocus id="name">
                            <div class="rMn">
                                <a class="sm-p right-p color888888">{{ t('wap', 'Tối đa') }}&nbsp;  {{ app.params['channel.name.maxlength'] }}&nbsp; {{ t('wap', 'kí tự') }}</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ t('wap', 'Mô tả') }} <span class="color_red">(*)</span></label>
                            <input name="description" maxlength="{{ app.params['channel.description.maxlength'] }}" value="{{ data.detail.description }}" placeholder="" class="ipt iptLg"
                                   id="description" type="textarea">
                            <div class="rMn">
                                <a class="sm-p right-p color888888">{{ t('wap', 'Tối đa') }}&nbsp; {{ app.params['channel.description.maxlength'] }}&nbsp; {{ t('wap', 'kí tự') }}</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{ t('wap', 'Trạng thái') }}</label>
                            <p>{{ (data.detail.status==0)? t('wap', 'Đang chờ duyệt'): ( data.detail.status==1?t('wap', 'Đã duyệt'): t('wap', 'Từ chối duyệt')) }}</p>
                        </div>
                        {% if data.detail.status==2 and data.detail.reason %}
                            <div class="form-group">
                                <label>{{ t('wap', 'Lý do từ chối') }}</label>
                                <p>{{ data.detail.reason }}</p>
                            </div>
                        {% endif %}
                    </div>
                </section>

                <section class="blkChnlSetup hidden">
                    <div class="ctn">
                        <p class="sm-p color888888"><strong>{{ t('wap', 'Lưu ý') }}:</strong></p>
                        <p class="sm-p color888888">{{ t('wap', 'Kích thước ảnh đại diện tỷ lệ 1:1, kích thước tối đa') }} 180x180(px)</p>
                        <p class="sm-p color888888">{{ t('wap', 'Kích thước ảnh nền tỷ lệ 6:1, kích thước tối đa') }} 1080x180(px)</p>
                    </div>
                </section>
                <input type="hidden" id="min_length_name_channel" value="{{ app.params['channel.name.minlength'] }}"/>
                <input type="hidden" id="max_length_name_channel" value="{{ app.params['channel.name.maxlength'] }}"/>
                <input type="hidden" id="min_length_description_channel"
                       value="{{ app.params['channel.description.minlength'] }}"/>
                <input type="hidden" id="max_length_description_channel"
                       value="{{ app.params['channel.description.maxlength'] }}"/>

            </form>
    </div>
</main>