{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title':t('wap', 'Đăng tải')}) | raw }}
{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}
{{ HeaderWidget.widget({'type':'main','title':title}) | raw }}

<main>
    <section class="blk blkUpload blkPadBoth" style="text-align: center">
        <div class="body-title">
            <span>{{t('wap', 'Tính năng không hỗ trợ trên trình duyệt của điện thoại, máy tính bảng.') }} </span>
        </div>
        <div class="body-content">
            <span>{{t('wap', 'Quý khách vui lòng tải Ứng dụng hoặc truy cập MyClip trên máy tính để đăng tải nội dung') }}</span>
        </div>
        <div class="body-footer" >
			<p class="download">{{t('wap', 'Tải ứng dụng ngay!') }}</p>
            <a href="{{href}}">
            <img class="img-footer" src="{% if isIOS %}/images/apple.png {% else %}/images/android.png {% endif %}"/>
            </a>
        </div>
    </section>
</main>
<style>
    .body-title{
	    padding-top: 50px;
        font-size: 18px;
        padding-bottom: 50px

    }
	
    .body-content{
        padding-top:10px;
        padding-bottom: 20px; 
        font-size: 14px;
		padding-right: 5px;
		padding-left: 5px
    }
    .img-footer{
        width: 180px; height: auto
    }
	.download{
		padding: 5px;
		font-weight: bold;
	}

</style>            
