{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

<header>
    <div class="ctn">
        <div class="lMn">
            <a href="/">
                <svg class="logo">
                    <use xlink:href="/images/defs.svg#logo"></use>
                </svg>
            </a>
        </div>

        <div class="rMn"><a href="javascript:void(0)" onclick='validateUpload()' id="upload-button">{{ t('wap', 'Upload') }}</a></div>
        <nav class="mainMn pTitle alCenter">{{t('wap', 'Đăng tải video') }}</nav>
    </div>
</header>

<main>
    <section class="blk blkUpload blkPadBoth">
        <form action="/account/upload" method="POST" enctype="multipart/form-data" id="uploadForm">
            <input type="hidden"
                   name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                   value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
            <div class="uploader">
                <div class="text alCenter">
                    <svg class="ico icoBigCamera">
                        <use xlink:href="/images/defs.svg#ico-big-camera"></use>
                    </svg>
                    <h5 id="">{{ t('wap', 'Chọn video tải lên') }}</h5>
                    <span id="file_video_name"></span>
                </div>
                <input type="file" name="file" id="file_video">
            </div>
            <div class="ctn form">
                <div class="form-group">
                    <label>{{ t('wap', 'Tiêu đề video') }}</label>
                    <input name="title" class="ipt iptLg" autofocus id="title">
                </div>
                <div class="form-group">
                    <label>{{ t('wap', 'Mô tả') }}</label>
                    <textarea name="description" class="ipt iptLg" id="description"></textarea>
                </div>
                <div class="form-group blkBdBt" style="padding-top: 0px;">
                    {{ t('wap', 'Hình đại diện') }}
                    <span id="file_thumbnail_name"></span>
                    <svg class="ico right">
                        <use xlink:href="/images/defs.svg#ico-camera"></use>
                    </svg>
                    <input name="thumbnail" type="file" class="photoBtn right" id="file_thumbnail">
                </div>
                <div class="form-group blkBdBt">
                    {{ t('wap', 'Chế độ') }}

                    <select name="mode" class="right">
                        <option>{{ t('wap', 'Công khai') }}</option>
                        <option>{{ t('wap', 'Riêng tư') }}</option>
                    </select>
                </div>
            </div>
        </form>
    </section>
</main>