{{ use('yii/widgets/ActiveForm') }}
{{ use('yii/captcha/Captcha') }}
{{ use('yii/helpers/Url') }}

<div class="mdl-login">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Đổi mật khẩu')}} </h3>

        {% set form = active_form_begin({
            'id': 'change-password-form',
            'action' :'/auth/change-password',
            'enableClientValidation' : false,
            'enableClientScript' : false,
            'errorCssClass':'',
            'fieldConfig' : {'template' : "{input}"},
            'options': {
            'class': 'form-horizontal',
            }
            }) %}
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form text-error" id="errorChangePass">
            {{ form.errorSummary(model, {'header' : '', 'class' : 'txt-warning error-summary'})|raw }}
        </div>
        {% if isEmptyPassword != 1 %}
        <div class="row-form">
            {{ form.field(model, 'password').passwordInput({'class' : 'input-text','placeholder':  t('web', 'Mật khẩu hiện tại') }) | raw }}
        </div>
        {% endif %}
        <div class="row-form">
            {{ form.field(model, 'newPassword').passwordInput({'class' : 'input-text','placeholder': t('web', 'Mật khẩu mới') }) | raw }}
        </div>
        <div class="row-form">
            {{ form.field(model, 'repeatPassword').passwordInput({'class' : 'input-text','placeholder': t('web', 'Nhập lại mật khẩu') }) | raw }}
        </div>

        {{ form.field(model, 'verifyCode').widget('yii\\captcha\\Captcha', {
                    'options' : {'placeholder' : t('web', 'Mã xác nhận'), 'class' : 'input-text capcha'},
                    'captchaAction': 'auth/captcha',
                    'template': ' <div class="row-form">
						   {input}
						
                         <div class="capcha-text">
                            <span class="btnRefreshCaptcha" onclick="refreshCaptcha('~ "'changepasswordform-verifycode-image'" ~')">
                                {image}
                                <i class="fa fa-repeat" ></i>
                            </span>
                        </div>
                     </div>
                '}) | raw }}

        <div class="row-form">
            <input type="submit" class="btn-login" value={{t('web','Đổi mật khẩu')}}>
        </div>

        {{ active_form_end() }}
    </div>
</div>


