
<div class="item item-channel channel-item-{{item.channel_id}} {% if noFollow != 'noFollow' %}has-follow{% endif %}">
    {% if action == true%}
    <div class="right-content">
        {% set stautus= (item.isFollow) ? 0 : 1 %}
        {% set actName= (item.isFollow) ? t('web','Hủy theo dõi') : t('web','Theo dõi') %}
        <span  data-id="{{item.channel_id}}" data-name="{{ item.channel_name }}" data-status="{{stautus}}" class="btn-default follow" onclick="return addEvent('follow_channel_action', {'channel_id': '{{ item.channel_id }}', 'channel_name': '{{ item.channel_name }}', 'follow_type ': '{{stautus}}' });">
            {{actName}}
        </span>
    </div>
    {% endif%}
    <a href="{{ url('channel/get-detail',{'id':item.channel_id})}}" class="image">
        <img src="{{ item.avatarImageHX }}" onError="this.onerror=null;this.src='/images/data/16x9.jpg'" class="image16x9">
    </a>
    <div class="description">
        <a href="{{ url('/channel/get-detail',{'id':item.channel_id})}}" class="name-video" title="{{ item.channel_name }}">{{ item.channel_name }}</a>
        <div class="info">
            <span class="cols-info">{{ t('web', '{count} người theo dõi', {'count': item.num_follow}) }}</span>
            <span class="cols-info"><i class="fa fa-circle"></i> {{ t('wap', '{count} video(s)', {'count': item.num_video}) }}</span>
        </div>
        <div class="des des-short">
            {{item.description}}
        </div>
    </div>
</div>