{% if (comments|length ==0) and offset == 0 %}
<div id="boxNoComment">
  <h5 class="blkTitle">{{ t('web', 'Chưa có bình luận') }}.</h5>
</div>
{% endif %}
{% for parentComment in comments %}
{% set childCommentNum = parentComment.children|length %}
<div class="median media-cm-video" id="cm_{{parentComment.id}}">
  <div class="media-left">
    <div class="image">
        <a href="javascript:void(0);">
            <img src="{{parentComment.avatarImage ? parentComment.avatarImage : parentComment.coverImage}}" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
        </a>
    </div>
  </div>
  <div class="media-body">
    <p class="txt-singer comment-textarea-linhtvn">
      <span class="media-heading"><a href="javascript:void(0);" class="name-channel-cm"> {{ parentComment.full_name }}</a> <br/>  </span> {{ parentComment.comment }}
    </p>
    <p class="txt-time">
{#        <span class="col">#}
{#          <a href="javascript:void(0);" data-like="{{parentComment.is_like}}" data-commentid="{{parentComment.id}}" class="btnLikeComment"><i id="icoLikedComment_{{parentComment.id}}" class="fa {% if parentComment.is_like == true %} fa-heart {% else %} fa-heart-o {% endif %}"></i></a> <span class="txtInfo likeCommentNumber_{{parentComment.id}}">{{ parentComment.like_count }}</span>#}
{#        </span>#}
        <span class="col">
            <a href="javascript:void(0);" data-like="" data-commentid="{{ parentComment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                <span class="likeCommentNumber_{{ parentComment.id }}">{{ parentComment.like_count }}&nbsp;</span>{% if (parentComment.like == 1) %}<i id="icoLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
            </a>
        </span>
        <span class="col">
            <a href="javascript:void(0);" data-like="" data-commentid="{{ parentComment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                <span class="disLikeCommentNumber_{{ parentComment.id }}">{{ parentComment.dislike_count }}</span>{% if (parentComment.like == 2) %}<i id="icoDisLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
            </a>
        </span>
        {% if parentComment.is_comment > 0%}
            {% if parentComment.status ==1 %}
            <a href="javascript:void(0)" data-id="{{parentComment.id}}" class="col btnReplyComment">{{ t('wap', 'Trả lời') }}</a>
            {% endif %}
        {% endif %}
        <span class="time">{{ parentComment.created_at|dateAgo }}</span>
    </p>
    <div class="boxReply"></div>
    {% set count =0 %}
    {% if childCommentNum > 0 %}
        {% for childComment in parentComment.children %}
        {% set count = count +1 %}
        <div class="child {% if count > 2 %} cm_group_{{ parentComment.id }} hidden {% endif %}">
          <div class="media-left">
              <a href="javascript:void(0);">
                  <img src="{{childComment.avatarImage ? childComment.avatarImage : childComment.coverImage}}" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
              </a>
          </div>
          <div class="media-body">
              <p class="txt-singer comment-textarea-linhtvn">
                  <span class="media-heading"><a href="javascript:void(0);" class="name-channel-cm">  {{ childComment.full_name }} </a> <br/> </span> {{ childComment.comment }}
              </p>
              <p class="txt-time">
                  <span class="col">
                    <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                        <span class="likeCommentNumber_{{ childComment.id }}">{{ childComment.like_count }}&nbsp;</span>{% if (childComment.like == 1) %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                    </a>
                  </span>
                  <span class="col">
                      <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                          <span class="disLikeCommentNumber_{{ childComment.id }}">{{ childComment.dislike_count }}&nbsp;</span>{% if (childComment.like == 2) %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                      </a>
                  </span>
                  <span class="time">{{ childComment.created_at|dateAgo }}</span>
              </p>
          </div>
        </div>
        {% endfor %}
        {% if childCommentNum > 2 %}
            <div class="showMore">
                <p>
                    <a href="javascript:void(0);" data-id="{{parentComment.id}}" class="liked viewMoreComment">{{ t('wap', 'Xem') }}&nbsp; {{ childCommentNum - 2 }}&nbsp; {{ t('wap', 'câu trả lời trước') }}</a>
                </p>
            </div>
            <!--sub comment-->
        {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}
