<div class="{% if isChild %}child{% else %}media{% endif %} media-cm-video" id="cm_{{responseData.data.id}}">
    <div class="media-left">
        {% if isChild %}
            <a href="javascript:void(0);">
                <img src="{{ app.session.get('avatarImage') }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object">
            </a>
        {% else %}
            <div class="image">
                <a href="javascript:void(0);">
                    <img src="{{ app.session.get('avatarImage') }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="media-body">
{#        {% if isChild == false %}<p class="txt-singer">{% endif %}#}
        <p class="txt-singer">
            <span class="media-heading"> <a href="javascript:void(0);" class="name-channel-cm">{{ responseData.data.full_name }} </a></span> {{ responseData.data.comment }}
        </p>
{#        {% if isChild == false %}</p>{% endif %}#}
        <p class="txt-time">
            <span class="col">
                <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                    <span class="likeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.like_count }}&nbsp;</span>{% if (responseData.data.like == 1) %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                </a>
            </span>
                <span class="col">
                <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                    <span class="disLikeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.dislike_count }}</span>{% if (responseData.data.like == 2) %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                </a>
            </span>
            {% if isChild == 0 %}
            {% if (responseData.data.status == 1) %}
                <a href="javascript:void(0)" data-id="{{responseData.data.id}}" class="col btnReplyComment" id="btnReplyComment_{{responseData.data.id}}">{{t('web','Trả lời')}}</a>
            {% endif %}                          
            {% endif %}
            <span class="time">{{ responseData.data.created_at|dateAgo }}</span>
        </p>
        <div class="boxReply"></div>
    </div>
</div>
