<header class="has-promotion">
    <nav>
        <div class="header-button hvr-radial-out"><i class="fa icon-menu"></i></div>
        <a href="/" class="logo"></a>
        <div class="box-search">
            <form method="GET" action ="{{url('default/search-result')}}" id="search-item">
                <input type="hidden" value="{{ url('default/search-suggestion-result') }}" id="urlSearch">
                <input type="hidden" value="{{ app.params['app.history.limit'] }}" id="limit-history">
                <input type="text" name="query" value="{{app.request.get('query')}}" autocomplete="off" class="input-text" id="keyword" placeholder="{{t('web','Nhập từ khóa')}}">
                <button type="submit" class="btn-search">
                    <i class="fa icon-search2" aria-hidden="true"></i>
                </button>
            </form>
            <div class="suggesstion" id ="contentSuggess">

            </div>
        </div>

        <div class="right-content">
            <!--
            <div class="promotion-event">
                <div class="content">
                    <a href="/event/terms-condition" style="color: white">
                        <img src="/images/data/iphone.png" class="image hvr-buzz-out" >
                        <span class="text-1">Trúng thưởng</span> iPhoneX
                    </a>
                </div>
            </div>
            -->
            <a href="/account/upload" class="btn-upload"><i class="fa icon-upload"></i> {{t('web','Tải lên')}}</a>
            {% if app.session.get('userId') %}
                <div class="link-notify" title="Notification" onclick="loadFirstNotification()">
                    <i class="fa icon-notify"></i>
                    <div id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </div>
                    <div class="mdl-general mdl-notify">
                        <div class="title">{{t('web','THÔNG BÁO')}}</div>
                        <div class="list-notify">
                            <div class="scroll" id="notifications-scroll">
                                <div class="content" id="notificationsContent">
                                    <div class="itemEmpty" style="display:none">
                                        <p class="no-notification">{{t('web','Không có dữ liệu')}}</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="spinner">
                                    <div class="quarter">
                                        <div class="circle"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="login" class="link-account">
                    <span class="link-login loged">
                        <img src="{{ app.session.get('avatarImage') }}"
                             onError="this.onerror=null;this.src='/images/data/4x4.png'" width="100%" height="100%" alt="" class="avatar">
                    </span>
                    <div class="mdl-general mdl-account popover-more">
                        <div class="title">						
                            <span class="text-account">
                                <span class="avatar" >
                                    <img src="{{ app.session.get('avatarImage') }}"
                                         onError="this.onerror=null;this.src='/images/data/4x4.png'" width="100%" height="100%" alt="">
                                </span>
                                <p class="text-1">{{app.session.get('fullName')}}</p>
                            </span>
                        </div>
                        <div class="list">
                            <a href="{{url('channel/get-user-detail',{'id':app.session.get('userId')})}} " class="item"><i class="fa icon-setting"></i> {{t('web','Kênh của tôi')}} </a>
                            <a href="{{url('default/list-package')}}" class="item active"><i class="fa icon-package"></i> {{t('web','Gói cước')}} </a>
                            <a href="{{url('default/my-video')}}" class="item"><i class="fa icon-video"></i> {{t('web','Video của tôi')}} </a>

                            <a href="{{url('contract/account')}}" class="item"><i class="icon-info"></i> {{t('web','Thông tin thanh toán')}} </a>
                            {#                            <a href="/lien-ket" class="item"><i class="fa icon-trend"></i> {{t('web','Liên kết tài khoản')}} </a>#}

                            <a href="{{url('default/contact')}}" class="item"><i class="fa icon-contact"></i> {{t('web','Trợ giúp')}} </a>

                            <a href="javascript:void(0);" onclick="showChangePass()" class="item"><i class="fa icon-locked"></i> {{t('web','Đổi mật khẩu')}} </a>
                            <a href="javascript:void(0);" class="item theme" data-theme="{{ app.session.get('themeUserId') }}"><i class="fa fa-moon-o" aria-hidden="true"></i> {% if app.session.get('themeUserId') == 1 %}{{t('web','Giao diện sáng')}}{% else %} {{t('web','Giao diện tối')}}{% endif %}</a>
                            <a href="{{url('auth/logout')}}" class="item" onclick="return addEvent('logout_action', {})"><i class="fa icon-logout"></i> {{t('web','Đăng xuất')}} </a>
                        </div>
                    </div>
                </div>
            {% else %}
                {#                <a href="javascript:void(0);" class="link-login hvr-radial-out" id="btnSignIn"><i class="fa icon-user"></i></a>#}
                <a href="/auth/login" class="link-login hvr-radial-out"><i class="fa icon-user"></i></a>
            {% endif %}
            <div id="language" class="language-option">
                <form method="post" id="menuLang" name="myform" action="{{ url(['default/changlanguage']) }}">
                    <select id="selectLanguages"  name="language"  title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">
                        <option value="en" {{ app.language == 'en' ? 'selected' : '' }}>{{ t('wap', 'English') }}</option>
                        <option value="mz" {{ app.language == 'mz' ? 'selected' : '' }}>{{ t('wap', 'Portuguese') }}</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript">
    var mainLanguage = '{{ app.language }}';
    var arrLang = {
        'en': {
            'Bình luận':'Comment',
            'Hủy':'Cancel',
            'Nhập bình luận...':'Enter comment ...',
            'Vui lòng nhập nội dung bình luận':'Please enter the comment content',
            'Nội dung bình luận không được lớn hơn 255 kí tự':'Content is not larger than 255 characters',
            'Đã theo dõi':'Unfollow',
            'Đăng kí theo dõi kênh thành công':'Register success channel tracker',
            'theo dõi':'follow',
            'Theo dõi':'Follow',
            'Hủy theo dõi kênh thành công':'Cancel tracker success channel',
            'Hủy theo dõi':'Cancel follow',
            'Theo dõi kênh thành công':'Track channel success',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Input Captor code, from 1 to 50 characters',
            'Thêm video thành công vào playlist.':'Add video to success to play list',
            'Mã captcha bắt buộc nhập':'Input captcha',
            'Bạn có chắc chắn xoá liên kết?':'Are you sure to remove link?',
            'Thêm thành công':'Add successfully',
            'Thành công':'Successful',
            'Yêu cầu nhập file video':'Video file input request',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Input required title and is not greater than 255 character',
            'Mô tả không được lớn hơn 500 kí tự':'Description is not larger than 500 characters',
            'Quý khách vui lòng nhập mô tả từ':'Please enter a description from',
            'Định dang file ảnh được phép':'The image file is specified',
            'KÊNH':'CHANNEL',
            'Tên nhập trong khoảng từ':'Input name in interval',
            'đến':'to',
            'kí tự':'character',
            'Mô tả không được lớn hơn':'Description is not greater than',
            ' người theo dõi':' follow',
            'Vui lòng chọn loại báo cáo lỗi':'Please choose an error report',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'The busy system, please try again!',
            'Chắc chắn xóa video?':'Do you really want to delete this video',
            'Xác nhận xóa kênh liên quan không?':'Specify remove the channel related?',
            'Xóa thành công':'Delete success',
            'VIDEO':'VIDEO',
            'Không có dữ liệu với từ khóa tìm kiếm':'No data with search keywords',
            ' lượt xem ':' views ',
            ' lượt xem':' views',
            'Xóa danh lịch sử xem thành công':'Successfully deleted watch history',
            'Bạn có chắc xóa playlist không?':'You have sure you delete playlist?',
            'Bật chế độ phát ngẫu nhiên':'Enable random mode',
            'Tắt chế độ phát ngẫu nhiên':'Disable random mode',
            'Bật chế độ phát lặp lại':'Enable Repeat Play',
            'Tắt chế độ phát lặp lại':'Disable Repeat Play',
            'Bạn có chắc xóa video khỏi playlist không?':'Are you sure you delete video from playlist?',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'There was an error occurred in the contents of the player. Please try again.',
            'Đang chờ upload...':'Waiting for upload...',
            'Đang chờ upload':'Waiting for upload',
            'Bỏ video thành công khỏi playlist':'Remove successful video from playlist',
            'Bỏ thích':'Dislike',
            'Thích video thành công':'Likes successful videos',
            'Tôi thích video này':'I like this video',
            'Bỏ thích video thành công':'Quit liking video successfully',
            'Bỏ không thích video này':'Don\'t like this video',
            'Không thích video thành công':'Do not like video success',
            'Tôi không thích video này':'I don\'t like this video',
            'Bỏ không thích video thành công':'Un-like video successfully',
            'Chương trình sẽ bắt đầu sau':'The program will start after',
            'Ngày':'Days',
            'Giờ':'Hours',
            'Phút':'Minutes',
            'Giây':'Seconds',
            'TIẾP THEO':'NEXT',
            'Thêm câu trả lời':'Add an answer',
            'Trả lời':'Reply',
            'Có lỗi xảy ra vui lòng thử lại':'An error has occurred please try again',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Please login to use this feature',
            'Phản hồi đang được quản trị viên xem xét':'Feedback is being reviewed by administrators',
            'Nội dung không được chấp nhận với lý do: ':'Content is not accepted for the reason: ',
            'Nội dung không được chấp nhận':'Content is not accepted',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Request to enter From - To date',
            'Yêu cầu chọn Tháng':'Request to select Month',
            'Yêu cầu nhập Tài khoản ngân hàng':'Requesting a Bank Account',
            'Yêu cầu nhập ngân hàng':'Request for bank entry',
            'Yêu cầu nhập chi nhánh ngân hàng':'Request to enter bank branch',
            'Yêu cầu nhập địa chỉ':'Please enter the address',
            'Yêu cầu nhập mã số thuế':'Request to enter tax code',
            'Yêu cầu nhập Số điện thoại':'Request to enter Phone number',
            'Yêu cầu nhập Số điện thoại Unitel':'Request to enter Movitel phone number',
            'Yêu cầu nhập tên':'Please enter name',
            'Yêu cầu nhập email':'Please enter Email',
            'Định dạng email không đúng':'Email format is incorrect',
            'Yêu cầu nhập Số chứng minh thư':'Request for ID card number',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Request to enter the place of identity card issuance',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Request to enter the date of identification card',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Request to import photos of the front of ID card',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Request to import photo of the back card',
            'Định dạng ảnh mặt sau cho phép':'The back image format allows',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'OTP đã gửi thành công':'OTP sent successfully',
            'Quý khách vui lòng nhập tên từ':'Please enter the name from',
            'Tắt thông báo thành công':'Turn off successful notifications',
            'Chuyển trạng thái thông báo thành công':'Successful status notification',
            'lịch sử xem':'view history',
            'danh sách xem sau':'list view later',
            'Bạn có muốn xóa video ':'Do you want to delete the video ',
            'khỏi':'from ',
            'không':' ',
            'Xóa video thành công ':'Delete video successfully ',
            'Xóa video khỏi lịch sử thành công':'Successfully remove videos from history',
            'Bạn có muốn xóa danh sách xem sau không ?':'Would you like to delete the following list of views?',
            'Xóa danh sách xem sau thành công':'Delete list of successes after review',
            'lịch sử tìm kiếm':'search history',
            'Bạn có muốn xóa ':'Do you want to delete ',
            ' không ?':' ?',
            'Xóa nội dung thành công':'Delete content successfully',
            'Xóa lịch sử xem thành công':'Delete successful viewing history',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Enter at least 3 characters to perform a search',
            'Không có dữ liệu':'No data',
            'Xóa lịch sử tìm kiếm thất bại':'Clear search history failed',
            'Xóa lịch sử tìm kiếm thành công':'Delete search history successfully',
            ' năm trước':' last year',
            ' tháng trước':' last month',
            ' tuần trước':' last week',
            ' ngày trước':' yesterday',
            ' giờ trước':' hours ago',
            ' phút trước':' minute ago',
            'Bạn có muốn xóa danh sách phát không ?':'Do you want to delete the playlist?',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Required name entered and cannot be greater than 255 characters',
            'Vui lòng chọn loại báo cáo':'Please select report type',
            'Thêm kênh':'Add channel',
            'Đăng tải':'Upload',
            'Vui lòng chọn file upload':'Please select the upload file',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Executing file upload, if exiting will cancel the upload.',
            'Trình duyệt không hỗ trợ':'Browser does not support',
            'File không đúng định dạng:':'File is not in the correct format:',
            'Kích thước file quá lớn':'File size is too large',
            'Kích thước file quá nhỏ':'File size is too small',
            'rỗng, vui lòng chọn file khác.':'empty, please select another file.',
            'Upload không thành công':'Upload failed',
            'Chọn video file':'Choose video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload failed, please try again later!',
            'Đăng tải thành công':'Successful posting',
            'Hoàn Thành':'Finish',
            'Đồng ý':'Agree',
            'Bạn có muốn hủy upload file này?':'Do you want to cancel uploading this file?',
            'Đang trong quá trình tải video, không thể sửa.':'In the process of downloading videos, cannot edit.',
            'Thêm vào':'Add',
            'Chờ phê duyệt(Không xem được)':'Wait for approval (Cannot view)',
            'Từ chối duyệt':'Refuse to approve',
            '(Lý do: ':'(Reason: ',
            'ĐÃ GỬI Ý KIẾN':'SENT COMMENTS',
            'GỬI Ý KIẾN':'COMMENTS',
            'Phát tiếp theo':'Play next',
            'Video chưa có tên':'Video does not have the name',
            'Đang phát':'Playing',
            'Tạo playlist mới':'Create new playlist',
            'Thêm vào danh sách phát':'Add to playlist',
            'Thêm vào xem sau':'Add to watch later',
            'Chia sẻ':'Share',
            'Xoá':'Delete',
            'Chỉnh sửa':'Edit',
            'Nội dung không có quyền xem':'Content does not have permission to view',
            'Bật chế độ vòng lặp':'Turn on loop mode',
            'Tắt chế độ vòng lặp':'Turn off loop mode',
            'Bỏ video thành công khỏi playlist.':'Remove video from playlist successfully.',
            'Có lỗi xảy ra vui lòng thử lại.':'An error occurred please try again.',
            'Vừa xong':'just finished',
            'PHÁT TẤT CẢ':'PLAY ALL',
            'Vui lòng nhập tên video':'Please enter the video name',
            'Xác nhận mật khẩu không đúng.':'Password was wrong.',
            'Like fanpage UClip thành công. Vui lòng chờ tính điểm!':'',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'',
            'không được để trống':'cannot be left blank',
            'Kích thước file không quá':'File size not more than',
            'định dạng file':'file format',
            'Tắt bình luận':'Turn off comments',
            'Bật bình luận':'Turn on comments',
            'không được quá 255 ký tự':'no more than 255 characters',
            'tháng trước' : ' months ago',
            'năm trước' : ' years ago',
            'tuần trước' : ' week ago',
            'ngày trước' : ' days ago',
            'giờ trước' : ' hours ago',
            'phút trước' : ' minutes ago',
            'Yêu cầu nhập mã OTP' : 'Request to enter OTP code',
            'Giao diện sáng' : 'Appearance Light',
            'Giao diện tối' : 'Appearance Dark',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'Content is not larger than 1000 characters',
        },
        'vi': {
            'Xác nhận mật khẩu không đúng.':'Xác nhận mật khẩu không đúng.',
            'Vừa xong':'Vừa xong',
            'Có lỗi xảy ra vui lòng thử lại.':'Có lỗi xảy ra vui lòng thử lại.',
            'Tắt chế độ vòng lặp':'Tắt chế độ vòng lặp',
            'Nội dung không có quyền xem':'Nội dung không có quyền xem',
            'Xoá':'Xoá',
            'Chia sẻ':'Chia sẻ',
            'Thêm vào danh sách phát':'Thêm vào danh sách phát',
            'Video chưa có tên':'Video chưa có tên',
            'ĐÃ GỬI Ý KIẾN':'ĐÃ GỬI Ý KIẾN',
            'Từ chối duyệt':'Từ chối duyệt',
            'Thêm vào':'Thêm vào',
            'Đang trong quá trình tải video, không thể sửa.':'Đang trong quá trình tải video, không thể sửa.',
            'Đồng ý':'Đồng ý',
            'Đăng tải thành công':'Đăng tải thành công',
            'Upload không thành công':'Upload không thành công',
            'Kích thước file quá nhỏ':'Kích thước file quá nhỏ',
            'File không đúng định dạng:':'File không đúng định dạng:',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.',
            'Đăng tải':'Đăng tải',
            'Thêm kênh':'Thêm kênh',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Tên bắt buộc nhập và không được lớn hơn 255 kí tự',
            ' giờ trước':' giờ trước',
            ' tuần trước':' tuần trước',
            ' năm trước':' năm trước',
            'Xóa lịch sử tìm kiếm thất bại':'Xóa lịch sử tìm kiếm thất bại',
            'Xóa lịch sử xem thành công':'Xóa lịch sử xem thành công',
            ' không ?':' không ?',
            'Bạn có muốn xóa danh sách xem sau không ?':'Bạn có muốn xóa danh sách xem sau không ?',
            'Xóa video khỏi lịch sử thành công':'Xóa video khỏi lịch sử thành công',
            'không':'không',
            'danh sách xem sau':'danh sách xem sau',
            'Chuyển trạng thái thông báo thành công':'Chuyển trạng thái thông báo thành công',
            'Quý khách vui lòng nhập mô tả từ':'Quý khách vui lòng nhập mô tả từ',
            'Quý khách vui lòng nhập tên từ':'Quý khách vui lòng nhập tên từ',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập Tài khoản ngân hàng':'Yêu cầu nhập Tài khoản ngân hàng',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Yêu cầu nhập ngày cấp chứng minh thư',
            'Yêu cầu nhập Số chứng minh thư':'Yêu cầu nhập Số chứng minh thư',
            'Yêu cầu nhập tên':'Yêu cầu nhập tên',
            'Yêu cầu nhập chi nhánh ngân hàng':'Yêu cầu nhập chi nhánh ngân hàng',
            'Yêu cầu nhập Số điện thoại':'Yêu cầu nhập Số điện thoại',
            'Yêu cầu nhập Số điện thoại Unitel':'Yêu cầu nhập Số điện thoại Movitel',
            'Yêu cầu nhập địa chỉ':'Yêu cầu nhập địa chỉ',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Yêu cầu nhập Từ ngày-Đến ngày',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Vui lòng đăng nhập để sử dụng tính năng này',
            'Nội dung không được chấp nhận':'Nội dung không được chấp nhận',
            'Nội dung không được chấp nhận với lý do: ':'Nội dung không được chấp nhận với lý do: ',
            'Chương trình sẽ bắt đầu sau':'Chương trình sẽ bắt đầu sau',
            'TIẾP THEO':'TIẾP THEO',
            'Trả lời':'Trả lời',
            'Đang chờ upload':'Đang chờ upload',
            'Bình luận':'Bình luận',
            'Tắt chế độ phát ngẫu nhiên':'Tắt chế độ phát ngẫu nhiên',
            'Bật chế độ phát lặp lại':'Bật chế độ phát lặp lại',
            'Tắt chế độ phát lặp lại':'Tắt chế độ phát lặp lại',
            'Bạn có chắc xóa playlist không?':'Bạn có chắc xóa playlist không?',
            'Bạn có chắc xóa video khỏi playlist không?':'Bạn có chắc xóa video khỏi playlist không?',
            'Hủy':'Hủy',
            'Nhập bình luận...':'Nhập bình luận...',
            'Vui lòng nhập nội dung bình luận':'Vui lòng nhập nội dung bình luận',
            'Đã theo dõi':'Đã theo dõi',
            'Đăng kí theo dõi kênh thành công':'Đăng kí theo dõi kênh thành công',
            'Chắc chắn xóa video?':'Chắc chắn xóa video?',
            'theo dõi':'theo dõi',
            'Theo dõi':'Theo dõi',
            'Thành công':'Thành công',
            'Thêm thành công':'Thêm thành công',
            'Vui lòng chọn loại báo cáo lỗi':'Vui lòng chọn loại báo cáo lỗi',
            'Hủy theo dõi kênh thành công':'Hủy theo dõi kênh thành công',
            'Tên nhập trong khoảng từ':'Tên nhập trong khoảng từ',
            'Thêm video thành công vào playlist.':'Thêm video thành công vào playlist.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự',
            'Mã captcha bắt buộc nhập':'Mã captcha bắt buộc nhập',
            'Bạn có chắc chắn xoá liên kết?':'Bạn có chắc chắn xoá liên kết?',
            'Yêu cầu nhập file video':'Yêu cầu nhập file video',
            'Mô tả không được lớn hơn 500 kí tự':'Mô tả không được lớn hơn 500 kí tự',
            'Định dang file ảnh được phép':'Định dang file ảnh được phép',
            'KÊNH':'KÊNH',
            'Xóa danh lịch sử xem thành công':'Xóa danh lịch sử xem thành công',
            'kí tự':'kí tự',
            'Xóa thành công':'Xóa thành công',
            'Mô tả không được lớn hơn':'Mô tả không được lớn hơn',
            'đến':'đến',
            'Bỏ thích':'Bỏ thích',
            'VIDEO':'VIDEO',
            ' lượt xem ':' lượt xem ',
            ' lượt xem':' lượt xem',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Hệ thống đang bận, quý khách vui lòng thử lại sau!',
            ' người theo dõi':' người theo dõi',
            'Bỏ video thành công khỏi playlist':'Bỏ video thành công khỏi playlist',
            'Xác nhận xóa kênh liên quan không?':'Xác nhận xóa kênh liên quan không?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Không có dữ liệu với từ khóa tìm kiếm',
            'Bật chế độ phát ngẫu nhiên':'Bật chế độ phát ngẫu nhiên',
            'Đang chờ upload...':'Đang chờ upload...',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.',
            'Thích video thành công':'Thích video thành công',
            'Tôi thích video này':'Tôi thích video này',
            'Bỏ thích video thành công':'Bỏ thích video thành công',
            'Bỏ không thích video này':'Bỏ không thích video này',
            'Không thích video thành công':'Không thích video thành công',
            'Tôi không thích video này':'Tôi không thích video này',
            'Bỏ không thích video thành công':'Bỏ không thích video thành công',
            'Ngày':'Ngày',
            'Giờ':'Giờ',
            'Phút':'Phút',
            'Giây':'Giây',
            'Thêm câu trả lời':'Thêm câu trả lời',
            'Có lỗi xảy ra vui lòng thử lại':'Có lỗi xảy ra vui lòng thử lại',
            'Phản hồi đang được quản trị viên xem xét':'Phản hồi đang được quản trị viên xem xét',
            'Yêu cầu chọn Tháng':'Yêu cầu chọn Tháng',
            'Yêu cầu nhập ngân hàng':'Yêu cầu nhập ngân hàng',
            'Yêu cầu nhập mã số thuế':'Yêu cầu nhập mã số thuế',
            'Yêu cầu nhập email':'Yêu cầu nhập email',
            'Định dạng email không đúng':'Định dạng email không đúng',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Yêu cầu nhập Nơi cấp chứng minh thư',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Yêu cầu nhập ảnh mặt trước chứng minh thư',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Yêu cầu nhập ảnh mặt sau chứng minh thư',
            'Định dạng ảnh mặt sau cho phép':'Định dạng ảnh mặt sau cho phép',
            'OTP đã gửi thành công':'OTP đã gửi thành công',
            'lịch sử xem':'lịch sử xem',
            'Tắt thông báo thành công':'Tắt thông báo thành công',
            'Bạn có muốn xóa video ':'Bạn có muốn xóa video ',
            'khỏi':'khỏi',
            'Xóa video thành công ':'Xóa video thành công ',
            'Xóa danh sách xem sau thành công':'Xóa danh sách xem sau thành công',
            'lịch sử tìm kiếm':'lịch sử tìm kiếm',
            'Bạn có muốn xóa ':'Bạn có muốn xóa ',
            'Xóa nội dung thành công':'Xóa nội dung thành công',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm',
            'Không có dữ liệu':'Không có dữ liệu',
            'Xóa lịch sử tìm kiếm thành công':'Xóa lịch sử tìm kiếm thành công',
            ' tháng trước':' tháng trước',
            ' ngày trước':' ngày trước',
            ' phút trước':' phút trước',
            'Bạn có muốn xóa danh sách phát không ?':'Bạn có muốn xóa danh sách phát không ?',
            'Vui lòng chọn loại báo cáo':'Vui lòng chọn loại báo cáo',
            'Vui lòng chọn file upload':'Vui lòng chọn file upload',
            'Trình duyệt không hỗ trợ':'Trình duyệt không hỗ trợ',
            'Kích thước file quá lớn':'Kích thước file quá lớn',
            'rỗng, vui lòng chọn file khác.':'rỗng, vui lòng chọn file khác.',
            'Chọn video file':'Chọn video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload không thành công, vui lòng thử lại sau!',
            'Hoàn Thành':'Hoàn Thành',
            'Bạn có muốn hủy upload file này?':'Bạn có muốn hủy upload file này?',
            'Chờ phê duyệt(Không xem được)':'Chờ phê duyệt(Không xem được)',
            '(Lý do: ':'(Lý do: ',
            'GỬI Ý KIẾN':'GỬI Ý KIẾN',
            'Phát tiếp theo':'Phát tiếp theo',
            'Đang phát':'Đang phát',
            'Tạo playlist mới':'Tạo playlist mới',
            'Thêm vào xem sau':'Thêm vào xem sau',
            'Chỉnh sửa':'Chỉnh sửa',
            'Bật chế độ vòng lặp':'Bật chế độ vòng lặp',
            'Bỏ video thành công khỏi playlist.':'Bỏ video thành công khỏi playlist.',
            'PHÁT TẤT CẢ':'PHÁT TẤT CẢ',
            'Vui lòng nhập tên video':'Vui lòng nhập tên video',
            'không được để trống':'không được để trống',
            'Kích thước file không quá':'Kích thước file không quá',
            'định dạng file':'định dạng file',
            'Tắt bình luận':'Tắt bình luận',
            'Bật bình luận':'Bật bình luận',
            'không được quá 255 ký tự':'không được quá 255 ký tự',
            'tháng trước' : ' tháng trước',
            'năm trước' : ' năm trước',
            'tuần trước' : ' tuần trước',
            'ngày trước' : ' ngày trước',
            'giờ trước' : ' giờ trước',
            'phút trước' : ' phút trước',
            'Yêu cầu nhập mã OTP' : 'Yêu cầu nhập mã OTP',
            'Giao diện sáng' : 'Giao diện sáng',
            'Giao diện tối' : 'Giao diện tối',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'Content is not larger than 1000 characters',
        },
        'mz': {
            ' giờ trước':' horas antes',
            ' không ?':' ?',
            ' lượt xem ':' vizualizacoes ',
            ' lượt xem':' vizualizacoes',
            ' năm trước':' anos antes',
            ' ngày trước':' dias antes',
            ' người theo dõi':' seguidores',
            ' phút trước':' minutos antes',
            ' tháng trước':' meses antes',
            ' tuần trước':' semanas antes',
            '(Lý do:': '(Motivo:',
            'Bạn có chắc chắn xoá liên kết?':'Você quer deletar este link?',
            'Bạn có chắc xóa playlist không?':'Você quer deletar esta playlist?',
            'Bạn có chắc xóa video khỏi playlist không?':'Quer excluir vídeos desta lista de reprodução?',
            'Bạn có muốn hủy upload file này?':'Quer cancelar o upload?',
            'Bạn có muốn xóa ':'Você quer deletar',
            'Bạn có muốn xóa danh sách phát không ?':'Você quer deletar esta playlist?',
            'Bạn có muốn xóa danh sách xem sau không ?':'Você quer excluir a lista de assistir mais tarde?',
            'Bạn có muốn xóa video ':'Você quer deletar este vídeo',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'Clique no link abaixo para curtir nossa fanpage!',
            'Bật chế độ phát lặp lại':'Ligue o modo de repetição',
            'Bật chế độ phát ngẫu nhiên':'Ativar modo aleatório',
            'Bật chế độ vòng lặp':'Ligue o modo de repetição',
            'Bình luận':'Comente',
            'Bỏ không thích video này':'Como este video',
            'Bỏ không thích video thành công':'Curtir vídeo com sucesso',
            'Bỏ thích video thành công':'Diferente deste vídeo',
            'Bỏ thích':'Ao contrário',
            'Bỏ video thành công khỏi playlist.':'Remover vídeo da lista de reprodução com sucesso',
            'Bỏ video thành công khỏi playlist':'Remover vídeo da lista de reprodução com sucesso',
            'Chắc chắn xóa video?':'Você quer deletar este vídeo?',
            'Chia sẻ':'Compartilhar',
            'Chỉnh sửa':'Atualizar',
            'Chờ phê duyệt(Không xem được)':'Aguardando aprovação (não consigo assistir)',
            'Chọn video file':'Escolha o arquivo de vídeo',
            'Chương trình sẽ bắt đầu sau':'O vídeo começará após',
            'Chuyển trạng thái thông báo thành công':'Atualização com sucesso',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Alguns erros ocorrem durante o jogog video. Please try again later.',
            'Có lỗi xảy ra vui lòng thử lại.':'Alguns erros ocorrem, por favor tente novamente mais tarde',
            'Có lỗi xảy ra vui lòng thử lại':'Alguns erros ocorrem, por favor tente novamente mais tarde',
            'ĐÃ GỬI Ý KIẾN':'Enviado com sucesso',
            'Đã theo dõi':'Seguido',
            'Đang chờ upload...':'Aguardando o upload ...',
            'Đang chờ upload':'Aguardando upload',
            'Đăng kí theo dõi kênh thành công':'Siga o canal com sucesso',
            'Đang phát':'Jogando',
            'Đăng tải thành công':'Publique com sucesso',
            'Đăng tải':'Publicar',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'O arquivo de vídeo está sendo enviado, este processos will be cancelled if you cancel.',
            'Đang trong quá trình tải video, không thể sửa.':'O arquivo de vídeo está sendo enviado, não é possível atualizar',
            'danh sách xem sau':'lista de observação',
            'đến':'para',
            'Định dạng ảnh mặt sau cho phép':'Extensões de imagem permitidas',
            'Định dạng ảnh mặt trước cho phép':'Extensões de imagem permitidas',
            'Định dạng ảnh mặt trước cho phép':'Extensões de imagem permitidas',
            'Định dạng email không đúng':'E-mail inválido',
            'Định dang file ảnh được phép':'Extensões de imagem permitidas',
            'Đồng ý':'Aceita',
            'File không đúng định dạng:':'Extensão de arquivo inválida',
            'Giây':'Segundo',
            'Giờ':'Hora',
            'GỬI Ý KIẾN':'ENVIAR',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'O sistema está ocupado, tente novamente mais tarde!',
            'Hoàn Thành':'Completo',
            'Hủy theo dõi kênh thành công':'Deixar de seguir o canal com sucesso',
            'Hủy theo dõi':'Deixar de seguir',
            'Hủy':'Cancelar',
            'KÊNH':'CANAL',
            'Kh\xF4ng c\xF3 d\u1EEF li\u1EC7u':'Sem dados',
            'khỏi':'',
            'Không có dữ liệu với từ khóa tìm kiếm':'Sem dados com',
            'Không có dữ liệu':'Sem dados',
            'Không thích video thành công':'Diferente do vídeo com sucesso',
            'không':'não',
            'kí tự':'personagem',
            'Kích thước file quá lớn':'Tamanho de arquivo muito grande',
            'Kích thước file quá nhỏ':'Tamanho de arquivo muito pequeno',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'Verifique a fanpage como falha. Por favor recarregue a página',
            'lịch sử xem':'assistindo a história',
            'Like fanpage UClip thành công. Vui lòng chờ tính điểm!':'Como com sucesso. Por favor aguarde seus pontos',
            'Mã captcha bắt buộc nhập':'Requeridos',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Código de ativação necessário, de 1 a 50 caracteres',
            'Mô tả không được lớn hơn 500 kí tự':'Insira menos de 500 caracteres',
            'Mô tả không được lớn hơn':'Por favor insira pelo menos',
            'Ngày':'Encontro',
            'Nhập bình luận...':'Comente...',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Insira pelo menos 3 caracteres para pesquisar',
            'Nội dung không có quyền xem':'O conteúdo requer alguma permissão para assistir',
            'Nội dung không được chấp nhận với lý do':'O conteúdo foi negado por causa de',
            'Nội dung không được chấp nhận':'O conteúdo foi negado',
            'OTP đã gửi thành công':'OTP foi enviado com sucesso',
            'Phản hồi đang được quản trị viên xem xét':'O comentário está em revisão',
            'PHÁT TẤT CẢ':'JOGUE TODOS',
            'Phát tiếp theo':'Tocar próximo vídeo',
            'Phút':'Minuto',
            'Quý khách vui lòng nhập mô tả từ':'Por favor, insira a descrição pelo menos',
            'Quý khách vui lòng nhập tên từ':'Insira a descrição pelo menos ...',
            'rỗng, vui lòng chọn file khác.':'vazio, por favor escolha outro',
            'Tạo playlist mới':'Crie uma nova lista de reprodução',
            'Tắt chế độ phát lặp lại':'Desligue o modo de repetição',
            'Tắt chế độ phát ngẫu nhiên':'Desative o modo aleatório',
            'Tắt chế độ vòng lặp':'Desligue o modo de repetição',
            'Tắt thông báo thành công':'Desligue a função de notificação com sucesso',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Nome requerido e pelo menos 255 caracteres',
            'Tên nhập trong khoảng từ':'Por favor, insira o nome de',
            'Thành công':'Bem sucedido',
            'Thêm câu trả lời':'Adicionar resposta',
            'Thêm kênh':'Adicionar canal',
            'Thêm thành công':'Criar com sucesso',
            'Thêm vào danh sách phát':'Adicionar à Playlist',
            'Thêm vào xem sau':'Adicionar à lista de observação',
            'Thêm vào':'adicionar à',
            'Thêm video thành công vào playlist.':'Adicionar vídeo à lista de reprodução com sucesso.',
            'Theo dõi kênh thành công':'Siga o canal com sucesso',
            'theo dõi':'Segue',
            'Theo dõi':'Segue',
            'Thích video thành công':'Curtir vídeo com sucesso',
            'TIẾP THEO':'PRÓXIMO',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Título obrigatório e pelo menos 255 caracteres',
            'Tôi không thích video này':'Eu não gosto deste vídeo',
            'Tôi thích video này':'Eu gosto desse video',
            'Trả lời':'Responda',
            'Trình duyệt không hỗ trợ':'O navegador não suporta',
            'Từ chối duyệt':'Negar',
            'Upload không thành công, vui lòng thử lại sau!':'Falha no upload do vídeo, tente novamente mais tarde!',
            'Upload không thành công':'Falha no upload do vídeo',
            'Video chưa có tên':'Vídeo sem nome',
            'VIDEO':'',
            'Vừa xong':'acabado de terminar',
            'Vui lòng chọn file upload':'Escolha o arquivo',
            'Vui lòng chọn loại báo cáo lỗi':'Escolha o tipo de relatório',
            'Vui lòng chọn loại báo cáo':'Escolha o tipo de relatório',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Para continuar faça o login',
            'Vui lòng nhập nội dung bình luận':'Por favor insira o conteúdo',
            'Vui lòng nhập tên video':'Insira o nome do vídeo',
            'Xác nhận mật khẩu không đúng.':'Verifique se a senha falhou.',
            'Xác nhận xóa kênh liên quan không?':'Você quer deletar canais relacionados?',
            'Xóa danh lịch sử xem thành công':'Excluir histórico de exibição com sucesso',
            'Xóa danh sách xem sau thành công':'Excluir lista de observação com sucesso',
            'Xóa lịch sử tìm kiếm thành công':'Excluir histórico de pesquisa com sucesso',
            'Xóa lịch sử tìm kiếm thất bại':'Falha ao excluir histórico de pesquisa',
            'lịch sử tìm kiếm':'histórico de pesquisa',
            'Xóa lịch sử xem thành công':'Excluir histórico de exibição',
            'Xóa nội dung thành công':'Apagar com sucesso',
            'Xóa thành công':'Apagar com sucesso',
            'Xóa video khỏi lịch sử thành công':'Remover vídeo do histórico com sucesso',
            'Xóa video thành công ':'Excluir vídeo com sucesso',
            'Xoá':'Excluir',
            'Yêu cầu chọn Tháng':'Mês necessário',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Imagem necessária',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Imagem necessária',
            'Yêu cầu nhập chi nhánh ngân hàng':'Agência bancária necessária',
            'Yêu cầu nhập địa chỉ':'Endereço obrigatório',
            'Yêu cầu nhập email':'Email (obrigatório',
            'Yêu cầu nhập file video':'Arquivo de vídeo necessário',
            'Yêu cầu nhập mã số thuế':'Código de imposto obrigatório',
            'Yêu cầu nhập ngân hàng':'Banco requerido',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Data de emissão da carteira de identidade exigida',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Requer local de emissão da carteira de identidade',
            'Yêu cầu nhập Số chứng minh thư':'Número do cartão de identidade obrigatório',
            'Yêu cầu nhập Số điện thoại Unitel':'Por favor, insira o número de telefone da Movitel',
            'Yêu cầu nhập Số điện thoại':'Número de telefone obrigatório',
            'Yêu cầu nhập Tài khoản ngân hàng':'Número do banco obrigatório',
            'Yêu cầu nhập tên':'Nome obrigatório',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Data necessária',
            'không được để trống':'não pode ser deixado em branco',
            'Kích thước file không quá':'Tamanho do arquivo não superior a',
            'định dạng file':'formato de arquivo',
            'Tắt bình luận':'Desligue os comentários',
            'Bật bình luận':'Ligue os comentários',
            'tháng trước'  : ' Meses antes',
            'năm trước'  : ' anos antes',
            'tuần trước'  : ' semanas antes',
            'ngày trước' : ' dias atrás',
            'giờ trước'  : ' horas atrás',
            'phút trước'  :  ' minutos antes',
            'Yêu cầu nhập mã OTP' : 'Requer um OTP',
            'Giao diện sáng' : 'Aspeto escuro',
            'Giao diện tối' : 'Aspeto claro',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'O conteúdo obrigatório e pelo menos 1000 caracteres',
        }
    };
    function trans(source) {
        //console.log('test:' +arrLang[mainLanguage][source]);
        //console.log(Object.keys(arrLang[mainLanguage][source]));
        // if(arrLang[mainLanguage][source].isEmpty()){
        //     return source;
        // }
        var item = arrLang[mainLanguage][source];
        console.log(item);
        if(item ==undefined){
            return source;
        }
        console.log(source);
        return item;

        // if (typeof arrLang[currentLanguage][source] != 'undefined') {
        //     return arrLang[currentLanguage][source];
        // }
        //  return source;

    }
</SCRIPT>
