<div class="item video-item-{{item.id}}">
    <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}" class="image" title="{{item.fullName}}" >
        <img src="{{ item.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="image16x9" title="{{item.fullName}}">
        {% if(item.price_play == 0) %}
            <div class="attach-img">
                <img src="/images/freeVideo.png">
            </div>
        {% endif %}
        <span class="time">{{ item.duration }}</span>
    </a>
    <div class="description">
        {% if more == true %}
            <div class="function-more">
                <span class="button-link-more"><i class="fa fa-ellipsis-v"></i></span>
                <div class="popover-more">
                    <div class="item-popover function-add-playlist" data-videoid="{{item.id}}" data-idbox="{{idBox}}">{{t('web','Thêm vào danh sách phát')}}</div>
                    <div class="item-popover function-add-playlater" data-videoid="{{item.id}}">{{t('web','Thêm vào xem sau')}}</div>
                    <div class="item-popover function-add-share" data-id="{{item.id}}" data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}" >{{t('web','Chia sẻ')}}</div>
                </div>

                <div class="cols-info">
                    <div id="function-add-playlist{{idBox}}{{item.id}}" class="function-add-playlist" data-videoid="{{item.id}}" >
                        <div class="content addVideoToPLBox" id="blockAddMorePL{{idBox}}{{item.id}}">
                            <div class="title">{{t('web','Thêm vào')}}</div><div class="scroll myPlaylistBox" data-firstload="0" id="myPlaylistBox{{idBox}}{{item.id}}"></div>
                            <div class="bottom-playlist">
                                <span class="btn-addplaylist"><i class="icon-plus btnShowAddNewPL"></i> {{t('web','Tạo playlist mới')}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif%}
        <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}" class="name-video" title="{{item.fullName}}">{{ item.fullName }}</a>
        {% if channel == true and item.userId %}<a href="{{ url('channel/get-detail',{'id':item.userId }) }}" class="name-author" title="{{item.fullUserName}}"><span class="pd-right6">{{ item.fullUserName }}</span>{% if mutiLine == false%}<i class="{% if (channel == true and item.userId) == true %}fa fa-circle{% endif%}"></i>{%endif%}</a>{% endif %}<div class="info"><span class="cols-info">{{ t('web','{count} lượt xem', {'count': item.play_times}) }}</span><span class="cols-info"><i class="fa fa-circle"></i> {{ item.publishedTime }}</span></div>
        {% if description == true %}
            <div class="des des-playlist">
                {{ item.description }}
            </div>
        {% endif %}
    </div>
    {% if removeItem == true %}
        <a href="javascript:void(0)" data-id="{{ item.id}}" data-name="{{ item.name}}" class="rmVideoHistory"><span class="remove-video"><i class="fa icon-delete"></i></span></a>
    {% endif %}
</div>
