<div class="left-menu">
    <div class="left-menu-scroll">
        <div class="list">
            <a href="/" class="item{% if route == url("/") or route == url("default/index")  %} active{% endif %}" title="{{t('web','Trang chủ')}}"><i class="fa icon-home2"></i> {{t('web','Trang chủ')}} </a>
            <a href="{{url('de-xuat')}}" class="item{% if route == url("de-xuat") %} active{% endif %}" title="{{t('web','Đề xuất')}}"><i class="fa icon-trend"></i> {{t('web','Đề xuất')}}</a>
	        <a href="{{url('thinh-hanh')}}" class="item{% if route == url("thinh-hanh") %} active{% endif %}" title="{{t('web','Thịnh hành')}}"><i class="fa icon-fire"></i> {{t('web','Thịnh hành')}} </a>
            <p href="#" class="line-separate"></p>
            <p href="#" class="sub-title">{{t('web','Video')}}</p>
            <a href="{{url('video-free')}}" class="item{% if route == url('video-free') or route == url('default/video-free') %} active{% endif %}" title="{{t('web','Video miễn phí')}}">
                <span class="avatar" style="background: none;"><img src="/images/freeVideo.png" alt=""></span>
                {{t('web','Video miễn phí')}} </a>
            <p href="#" class="line-separate"></p>
            <p href="#" class="sub-title">{{t('web','Thư viện')}}</p>
            <a href="{{url('lich-su')}}" class="item{% if route == url('lich-su') or route == url('default/history-search') %} active{% endif %}" title="{{t('web','Lịch sử')}}"><i class="fa icon-history"></i> {{t('web','Lịch sử')}} </a>
            <a href="{{url('xem-sau')}}" class="item {% if route == url("xem-sau") %} active{% endif %}" title="{{t('web','Xem sau')}}"><i class="fa icon-watch"></i> {{t('web','Xem sau')}} </a>

            {% if myPlaylist %}
                <a href="javascript:void(0)" onclick="showHidePlaylistMenu(this)" class="item" title="{{t('web','Danh sách phát')}}"><i class="fa icon-playlist"></i> <span id="menuLeftPL">{{t('web','Danh sách phát')}}</span> </a>

                <div id="playlist_parts" style="margin-left: 7px; display: none">
                    {% for k,playlist in myPlaylist if k < app.params['app.home.lazy.limit'] %}
                        <a href="{{ url('playlist/get-detail-playlist',{'id': playlist.id})}}" class="item{% if route == url('playlist/get-detail-playlist',{'id': playlist.id}) %} active{% endif %}" title="{{playlist.name}} "><i class="fa icon-playlist"></i> <span id="menuLeftPL{{ playlist.id }}">{{playlist.name}}</span> </a>
                    {% endfor %}
                    {% if myPlaylist|length > app.params['app.home.lazy.limit']  %}
                        <a href="{{url('playlist/my-playlist')}}" class="item"><i class="fa fa-angle-down"></i> {{t('web','Xem thêm')}} </a>
                    {% endif %}
                </div>

            {% endif %}

            <p href="#" class="line-separate"></p>
            <p href="#" class="sub-title">{{t('web','Chuyên mục')}}</p>
            {% if category.content | length > 0 %}
                {% for key,cate in category.content %}
                    {% if key <  app.params['app.category.menu.limit']%}
                        <a href="{{ url('category/get-cate-detail',{'id':cate.id }) }}"title="{{cate.name}}" class="item {% if route == url('category/get-cate-detail',{'id': cate.id})  %} active{% endif %}"><span class="avatar"><img src="{{ cate.avatarImage }}" onError="this.onerror=null;this.src='/images/data/4x4.png'"  alt=""/></span> {{cate.name}} </a>
                    {% endif %}
                {%endfor%}
                {% if category.content | length  > app.params['app.category.menu.limit']%}
                    <a href="{{ url('category/get-category')}}" class="item" ><i class="fa icon-addcircle"></i> {{t('web','Xem thêm')}} </a>
                {% endif %}
            {% endif %}

            <p href="#" class="line-separate"></p>
            {% if channelFollow|length > 0 %}
                <a href="{% if channelFollow|length < app.params['app.home.hotchannel.limit']%}javascript:void(0);{% else %}{{url('default/list-follow-channel')}}{% endif %}">
                <p class="sub-title">
                        {% if not userId %}{{t('web','Kênh theo dõi nhiều')}}  {% else %} {{t('web','Kênh theo dõi')}} {% endif %}
                </p> </a>
                {% for channel in channelFollow %}
                    <a href="{{ url('channel/get-detail',{'id':channel.channel_id }) }}" class="item{% if route == url('channel/get-detail',{'id': channel.channel_id})  %} active{% endif %}" title="{{channel.channel_name}}"><span class="avatar"><img src="{{ channel.avatarImage }}" onError="this.onerror=null;this.src='/images/data/16x9.jpg'"  alt=""/></span> {{channel.channel_name}} </a>
                        {% endfor %}
                        {% if channelFollow|length < app.params['app.home.hotchannel.limit']%}

                {% else%}<a href="{% if userId %} {% if channelFollow|length > 0 %} {{url('default/list-follow-channel')}} {% else %}{{url('default/list-hot-channel')}} {% endif%} {% else %} {{url('default/list-hot-channel')}}{%endif%}" class="item"><i class="fa fa-angle-down"></i> {{t('web','Xem thêm')}} </a>

                {% endif %}
            {% endif %}



        </div>
        <div class="list-2">
            <p onclick="window.location = '/'" class="sub-title">{{ t('web', 'MeuClip') }}</p>
            <a href="{{url('default/introduction')}}" class="item{% if route == url("default/introduction") %} active{% endif %}" title="{{t('web','Giới thiệu')}}"> {{t('web','Giới thiệu')}} </a>
            <a href="{{url('default/term-condition')}}" class="item{% if route == url("default/term-condition") %} active{% endif %}" title="{{ t('web', 'Điều khoản dịch vụ') }}"> {{t('web','Điều khoản dịch vụ')}} </a>
            {# <a href="{{ Url.to('default/rule') }}" class="item{% if route == url("default/rule") %} active{% endif %}" title="{{t('web','Quy chế hoạt động')}}">{{t('web','Quy chế hoạt động')}}</a> #}
            <p onclick="window.location = '{{url('default/support')}}'" class="sub-title">{{t('web','Trợ giúp')}}</p>
            <a href="{{url('default/privacy')}}" class="item{% if route == url("default/privacy") %} active{% endif %}"title="{{t('web','Chính sách riêng tư')}}" >{{t('web','Chính sách riêng tư')}}</a>
            <a href="{{url('default/contact')}}" class="item{% if route == url("default/contact") %} active{% endif %}" title="{{t('web','Liên hệ')}}"> {{t('web','Liên hệ')}} </a>
            <p href="#" class="sub-title">{{t('web','Tải  App')}}</p>
            <div class="for-app">
                <a href="https://apps.apple.com/us/app/meuclip/id1552861050?l=vi&amp;mt=8" class="link"><img src="/images/ios.png" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.viettel.mov&amp;hl=vi" class="link"><img src="/images/play.png" /></a>
            </div>
        </div>
    </div>
</div>
