{% for item in notifications %}
    <div class="item notify" id="noti-{{ item.id }}">
        <a href="{{ item.link }}" class="image">
            <img src="{{ item.avatarImage }}" onError="this.onerror=null;this.src='/images/data/4x4.png'" class="avatar"/>
            <p class="text-1" title="{{ item.aps.alert }}">{{ item.aps.alert }}</p>
            <p class="text-content" title="{{ item.sent_time }}">{{ item.sent_time_format }}</p>
        </a>
        <div class="right-content">
            <a href="{{ item.link }}" class="image">
                <img src="{{ item.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="image16x9" class="image"/>
            </a>
        </div>
    </div>
{% endfor %}

