<div id="modal-login" class="modal-vietnt">
    <div class="modal-content-vietnt" id="popupMessage">
        <h3 class="title"> {{t('web','Thông báo')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
        </div>		
    </div>
</div>
<div id="modal-notify" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Nhận thông báo')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            <p><label><input type="radio" name="accept" id="accept0" value="0"> {{t('web','Không nhận thông báo')}}</label></p>
            <p><label><input type="radio" name="accept" id="accept1" value="1"> {{t('web','Thỉnh thoảng')}}</label></p>
            <p><label><input type="radio" name="accept" id="accept2"  value="2"> {{t('web','Tất cả')}}</label></p>
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok"  value="{{t('web','Đồng ý')}}">
        </div>			
    </div>		
</div>
<div id="modal-confirm" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Thông báo')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form notice">
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok" value="{{t('web','Đồng ý')}}">
        </div>			
    </div>		
</div>
<div id="modal-confirm-all" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Thông báo')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form notice">
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok" value="{{t('web','Đồng ý')}}">
        </div>
    </div>
</div>
<div id="modal-follow" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title title-notice"></h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form notice">
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok"  value="{{t('web','Đồng ý')}}">
        </div>			
    </div>		
</div>
<div id="modal-confirm-follow" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title title-notice"> {{t('web','Thông báo')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form notice">
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok"  value="{{t('web','Đồng ý')}}">
        </div>			
    </div>		
</div>
<div id="editPlaylistModal" class="modal-vietnt">
    <div class="modal-content-vietnt" id="popupMessage">
        <h3 class="title"> {{t('web','Chỉnh sửa danh sách phát')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            <p>{{t('web','Tên')}}</p>
            <input type="text" name="namePlaylist" id="iptPlaylistName" value="" placeholder="{{t('web','Nhập tên danh sách phát')}}" class="ipt padding0 iptLg iptPlaylistName" />
        </div>
        <div class="row-form">
            <p>{{t('web','Mô tả')}}</p>
            <input type="text" name="descriptionPlaylist" value="" id ="iptPlaylistDescription" placeholder="{{t('web','Nhập mô tả danh sách phát')}}" class="ipt padding0 iptLg iptPlaylistDescription" />
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok" id="submitEditPlaylist"  value="{{t('web','Lưu')}}">
        </div>      
    </div>
</div>
{#<div class="classShareSocial modal-vietnt" id="popupShare">#}
{#    <div class="modal-content-vietnt">#}
{#        <h3 class="title"> {{t('web','Chia sẻ')}} </h3>#}
{#        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>#}
{#        <div class="row-form">#}
{#            <a href="javascript:void(0)" target="_blank" pref="https://facebook.com/sharer/sharer.php?u={{shareLink}}" class="btn-facebook shareMe"  style="width: 100%; margin-top: 0; margin-bottom: 10px;"  onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Facebook' });">Facebook</a>#}
{#        </div>#}
{#        <div class="row-form">#}
{#            <a href="javascript:void(0)" target="_blank" pref="https://plus.google.com/share?url={{shareLink}}" class="btn-google shareMe"  style="width: 100%; margin-top: 0; margin-bottom: 10px;"  onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Google' });">#}
{#                Google +#}
{#            </a>#}
{#        </div>#}

{#        <div class="clearfix"></div>#}
{#    </div>#}
{#</div>#}
