<div class="content-right">
    <!--mdl-general-->
    <div class="mdl-general">

        <h1 class="title">
            <span class="ellipsis">
                {{t('web','Tiếp theo')}}
            </span>
            {% if auto %}
                <span class="control-play">
                    {{t('web','Tự động phát')}}
                    <span class="line line-active">
                        <span class="cricle"></span>
                    </span>
                </span>
            {% endif %}
        </h1>

        {% set nextVideo = '' %}
        <div class="content">
            <div class="list-video list-video-horizontal">
                {% for k,item in data %}
                    {% if k == 0 %}
                        {% set nextVideo = item.name %}
                        <input type="hidden" id="nextVideo"
                               value="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium}) }}"/>
                        <input type="hidden" id="nextNameVideo" value="{{ item.fullName }}"/>
                        <input type="hidden" id="nextImgVideo"
                               value="{{ item.coverImage ? item.coverImage : '/images/data/16x9.png' }} "/>
                    {% endif %}
                    <div class="item">
                        <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium }) }}"
                           class="image" title="{{ item.fullName }}">
                            <img src="{{ item.coverImage }}" width="100%"
                                 onError="this.onerror=null;this.src='/images/data/16x9.png';"
                                 class="frame-image image16x9"/>
                            {% if(item.price_play == 0) %}
                                <div class="attach-img">
                                    <img src="/images/freeVideo.png">
                                </div>
                            {% endif %}
                            <span class="time">{{ item.duration }}</span>
                        </a>
                        <div class="description">
                            <div class="function-more">
                                <span class="button-link-more"><i class="fa fa-ellipsis-v"></i></span>
                                <div class="popover-more">
                                    <div class="item-popover function-add-playlist" data-videoid="{{ item.id }}">{{t('web','Thêm vào danh sách phát')}}
                                    </div>
                                    <div class="item-popover function-add-playlater" data-videoid="{{ item.id }}">{{t('web','Thêm vào xem sau')}}
                                    </div>
{#                                    <div class="item-popover function-add-share" data-id="{{ item.id }}"#}
{#                                         data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}">{{t('web','Chia sẻ')}}#}
{#                                    </div>#}
                                </div>

                                <div class="cols-info">
                                    <div id="function-add-playlist{{ item.id }}" class="function-add-playlist"
                                         data-videoid="{{ item.id }}">
                                        <div class="content" id="blockAddMorePL{{ item.id }}">
                                            <div class="title">{{t('web','Thêm vào')}}</div>
                                            <div class="scroll myPlaylistBox" data-firstload="0"
                                                 id="myPlaylistBox{{ item.id }}"></div>
                                            <div class="bottom-playlist">
                                                <span class="btn-addplaylist"><i class="icon-plus btnShowAddNewPL"></i> {{t('web','Tạo playlist mới')}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium }) }}"
                               class="name-video" title="{{ item.fullName }}">{{ item.fullName }}</a>
                            <div class="info">
                                <span class="cols-info" id="byline-container" style="display: inline-flex">
                                    <a href="/channel/{{item.channel_id}}"
                                       class="pd-right6" title="{{ item.fullUserName }}">{{ item.fullUserName }}</a>
                                     {% if item.official %}
                                         <div class="badge-style-type-verified style-scope" aria-label="đã xác minh"> <i class="fa fa-check-circle"></i></div>
                                     {% endif %}
                                </span>

                                <span class="cols-info" title="{{ item.play_times }}&nbsp;{{t('web','lượt xem')}}"><i
                                            class="fa fa-circle"></i>{{ item.play_times }}&nbsp;{{t('web','lượt xem')}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <span class="link-view-more" id="load-more-related-video">{{t('web','Hiển thị thêm')}}</span>
        </div>
    </div>
</div>

<div id="modalAutoPlay" style="display:none;">
    <div class="vjs-modal-dialog" tabindex="-1">
        <div class="vjs-modal-dialog-content" role="document" >
            <div class="text-center" onclick="window.location=document.getElementById('nextVideo').value">
                <h5>{{t('web','Tiếp Theo')}}</h5>
                <p><b>{{ nextVideo }}</b></p>
                <br/>
                <p id="countDown">
                    <span class="player-next-s3"></span>
                    <svg id="animated" width="150px" heigh="150px" viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45" fill="url(#image)"/>
                        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
                              stroke-dasharray="251.2,0"
                              d="M50 10
                          a 40 40 0 0 1 0 80
                          a 40 40 0 0 1 0 -80">
                            <animate attributeName="stroke-dasharray" from="0,251.2" to="251.2,0" dur="5s"/>
                        </path>
                    </svg>
                </p>
            </div>
            <div class="text-center">
                <p class="btn-cancel-next-video" >
                    <button class="a-cancel-next-video vjs-close-button vjs-control vjs-button" onclick="cancelNextVideo()" > {{t('web','HỦY BỎ')}} </button>
                </p>
            </div>

        </div>
    </div>
</div>