{#<div class="classShareSocial modal-vietnt" id="popupShare">#}
{#    <div class="modal-content-vietnt">#}
{#        <h3 class="title"> {{t('web','Chia sẻ')}} </h3>#}
{#        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>#}
{#        <div class="row-form">#}
{#            <a href="javascript:void(0)" target="_blank" pref="https://facebook.com/sharer/sharer.php?u={{shareLink}}" class="btn-facebook shareMe"  style="width: 100%; margin-top: 0; margin-bottom: 10px;"  onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Facebook' });">Facebook</a>#}
{#        </div>#}
{#        <div class="row-form">#}
{#            <a href="javascript:void(0)" target="_blank" pref="https://plus.google.com/share?url={{shareLink}}" class="btn-google shareMe"  style="width: 100%; margin-top: 0; margin-bottom: 10px;"  onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Google' });">#}
{#                Google +#}
{#            </a>#}
{#        </div>#}

{#        <div class="clearfix"></div>#}
{#    </div>#}
{#</div>#}