<div class="mdl-general" id="{{ box.id }}">
    {% if hasTitle %}
        <h1 class="title">
            <a href="{{ url }}" class="ellipsis">
                {{ box.name }}
            </a>
            {% if swicth %}
                <div class="switch-view">
                    <span class="switch-verizontal selected"><i class="fa fa-th"></i></span>
                    <span class="switch-horizontal"><i class="fa fa-th-list"></i></span>
                </div>
            {% endif %}
        </h1>
    {% endif %}
    <div class="content">
        <div class="list-video {% if withSlide %} has-slider owl-carousel {% endif %} ">

            {% for item in box.content %}
                {% include "@app/views/partials/videoSmallBox.twig" with {'item': item, 'description': false, 'removeItem': false, 'more': functionMore, 'channel': channel,'idBox':idBox,'myVideo':myVideo} %}
            {% endfor %}
            <div id="container" data-content-id="{{ box.id }}"></div>

        </div>
        <div id="container" class="list-video" data-content-id="{{ box.id }}"></div>
        {% if loadMore == true and not withSlide %}
            <a href="javascript:void(0)" data-url="{{ url }}" class="href-view-more"
               data-content-id="{{ box.id }}"><span class="link-view-more">{{ t('web','Hiển thị thêm') }}</span></a>
        {% endif %}
    </div>
</div>
