<div class="item video-item-{{item.id}}">
    <a href="{% if myVideo == 'myVideo' and item.status != 2 %}javascript:void(0);{% else %}{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}{% endif %}" class="image" title="{{item.fullName}}" >
        {% if(item.coverImage) %}
            <img src="/images/data/16x9.png"
                 data-src="{{ item.coverImage }}"
                 data-display="{{ item.animationImage }}"
                 onError="this.onerror=null;this.src='/images/data/16x9.png'"
                 class="frame-image animated-image lazy" title="{{item.fullName}}" style="display: block">
        {% else %}
            <img src="/images/data/16x9.png"
                 data-src="/images/data/16x9.png"
                 data-display="{{ item.animationImage }}"
                 onError="this.onerror=null;this.src='/images/data/16x9.png'"
                 class="frame-image animated-image lazy" title="{{item.fullName}}" style="display: block">
        {% endif %}
        {% if(item.price_play == 0) %}
            <div class="attach-img">
                <img src="/images/freeVideo.png">
            </div>
        {% endif %}

        <span class="time">{{ item.duration }}</span>
    </a>
    <div class="description">
        {% if myVideo == 'myVideo' %}
            <div class="function-more">
                <span class="button-link-more"><i class="fa fa-ellipsis-v"></i></span>
                <div class="popover-more">
                    {% if item.status == 2 %}
                        <div class="item-popover my-video-delete" data-videoid="{{item.id}}" data-idbox="{{idBox}}" language="{{ app.language }}" >{{t('web','Xoá')}} </div>
                        {% if(item.can_comment == 1) %}
                            <div class="item-popover function-trigger-comment function-trigger-comment-{{item.id}}" data-videoid="{{item.id}}" data-status="1">{{t('wap','Tắt bình luận')}}</div>
                        {% else %}
                            <div class="item-popover function-trigger-comment function-trigger-comment-{{item.id}}" data-videoid="{{item.id}}" data-status="1">{{t('wap','Bật bình luận')}}</div>
                        {% endif %}
{#                        <div class="item-popover function-add-share" data-id="{{item.id}}" data-url="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}" >{{t('web','Chia sẻ')}}</div>#}
                    {% endif %}
                    {% if item.status == 1 %}
                        <div class="item-popover my-video-edit" data-videoid="{{item.id}}">{{t('web','Chỉnh sửa')}}</div>
                    {% endif %}
                </div>
            </div>
        {% elseif more == true %}
            <div class="function-more">
                <span class="button-link-more"><i class="fa fa-ellipsis-v"></i></span>
                <div class="popover-more">
                    <div class="item-popover function-add-playlist" data-videoid="{{item.id}}" data-idbox="{{idBox}}">{{t('web','Thêm vào danh sách phát')}}</div>
                    <div class="item-popover function-add-playlater" data-videoid="{{item.id}}">{{t('web','Thêm vào xem sau')}}</div>
                </div>
            </div>
        {% endif%}
        <a href="{% if myVideo == 'myVideo' and item.status != 2 %}javascript:void(0);{% else %}{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}{% endif %}" class="name-video" title="{{item.fullName}}">{{ item.fullName }}</a>
        {% if channel == true and item.channel_id and myVideo !=  'myVideo'%}
            <a href="/channel/{{item.channel_id}}" class="name-author" {% if myVideo == 'myVideo' %} style="display: block" {% endif %} title="{{item.fullUserName}}">
                <span class="pd-right6">{{ item.fullUserName }}</span>
                {% if mutiLine == false%}
                    <i class="{% if (channel == true and item.userId) == true %}fa fa-check-circle{% endif%}"></i>
                {%endif%}
            </a>
        {% endif %}
        {% if myVideo == 'myVideo' and item.status == 3 %}
             <div class="info">
                 <span class="cols-info-full" title="{{t('web','Từ chối duyệt')}} {% if item.reason %} ({{t('web','Lý do')}}: {{ item.reason }}) {% endif %}">{{t('web','Từ chối duyệt')}} {% if item.reason %} ({{t('web','Lý do')}}: {{ item.reason }}) {% endif %}</span>
                 <br/>
                 <a class="feedback-upload" data-id="{{ item.id }}" id="upload_feedback_{{ item.id }}" href="javascript:void(0)" >
                     {% if item.feedback_status %}
                         <p>{{t('web','ĐÃ GỬI Ý KIẾN')}}</p>
                     {% else %}
                        <p>{{t('web','GỬI Ý KIẾN')}}</p>
                     {% endif %}
                 </a>
             </div>
            <div class="info"><span title="Chờ phê duyệt(Không xem được)" class="cols-info">Chờ phê duyệt(Không xem được)</span><span><i class="fa fa-circle"></i> {{ item.publishedTime }}</span></div>

        {% elseif myVideo == 'myVideo' and item.status != 2 %}
            <div class="info">
                <span class="cols-info-full" title="{{t('web','Chờ phê duyệt(Không xem được)')}}">{{t('web','Chờ phê duyệt(Không xem được)')}}</span>
                <span class="cols-info"><i class="fa fa-circle"></i> {{ item.publishedTime }}</span>

            </div>

        {% else %}
            <div class="info"><span class="cols-info">{{ t('web','{count} lượt xem', {'count': item.play_times}) }}</span><span class="cols-info"><i class="fa fa-circle"></i> {{ item.publishedTime }}</span></div>
        {% endif %}
        {% if description == true %}
            <div class="des des-playlist">
                {{ item.description }}
            </div>
        {% endif %}
        {% if removeItem == true %}
            <a href="javascript:void(0)" data-id="{{ item.id}}" data-name="{{ item.name}}" class="rmVideoHistory"><span class="remove-video"><i class="fa icon-delete"></i></span></a>
        {% endif %}

    </div>

    <div id="function-add-playlist{{idBox}}{{item.id}}" class="function-add-playlist" data-videoid="{{item.id}}" >
        <div class="content addVideoToPLBox popover-more-top" id="blockAddMorePL{{idBox}}{{item.id}}">
            <div class="title">{{t('web','Thêm vào')}}</div><div class="scroll myPlaylistBox" data-firstload="0" id="myPlaylistBox{{idBox}}{{item.id}}"></div>
            <div class="bottom-playlist">
                <span class="btn-addplaylist"><i class="icon-plus btnShowAddNewPL"></i>{{t('web','Tạo playlist mới')}} </span>
            </div>
        </div>
    </div>
</div>
