{{ use('wapsite/assets/DetailPlaylistAsset') }}
{{ register_detail_playlist_asset() }}

<div class="player-container">
    <video id="video" class="video-js youtube">
    </video>

    <div class="vjs-info">
        <a href="javascript:void(0)" class="arrow trans" id="arrowBtn"><img class="button" src="/images/vjsArrow.svg"></a>
        <h3>{{ detail.name }}</h3>
        <p>
            <a href="/channel/{{ detail.userId }}" style="color: white">
                {{ detail.userName }}
            </a>
        </p>
        <div class="control">
            <div class="left">
                <a href="javascript:void(0)" id="prevBtn"><img class="button" src="/images/vjsPrev.svg"></a>
                <a href="javascript:void(0)" id="nextBtn"><img class="button" src="/images/vjsNext.svg"></a>
            </div>
            <div class="right">
                <!--
                    <a href="javascript:void(0)" id="saveBtn"><img class="button" src="/images/vjsAdd.svg"></a>
                -->
                <!--
                    <a href="javascript:void(0)" id="shareBtn"><img class="button" src="/images/vjsShare.svg"></a>
                -->

{#                <a href="javascript:void(0);" id="shareDetail" class="modalBtn" data-target="#popupShare"#}
{#                   data-id="{{ detail.id }}"#}
{#                   data-url="{{ url('playlist/detail',{'id':playlistId}) }}">#}
{#                    <img class="button" src="/images/vjsShare.svg">#}
{#                </a>#}

            </div>
        </div>
    </div>

    <div class="vjs-playlist" id="vjsPlaylist">
        <!--
          The contents of this element will be filled based on the
          currently loaded playlist
        -->
    </div>
</div>

<input id="playerData" type="hidden" value="{{ playerData }}">


{% include '@app/views/partials/shareSocialModal.twig' with {'shareLink':  url('playlist/detail',{'id':playlistId}) } %}