
{{ use('wapsite/assets/DetailPlaylistAsset') }}
{{ register_detail_playlist_asset() }}

{% set detail = responseData.detail %}

<div>
    <section class="blk blkVideoDetail">
        <div class="player-container">
            <video id="video" class="video-js youtube">
            </video>
            <div class="vjs-info">
                <a href="javascript:void(0)" class="arrow trans rotate180" id="arrowBtn">
                    <img class="button" src="/images/vjsArrow.svg"></a>
                <h3>
                    <a href="{{ url('/default/get-video-playlist',{'id': 'video_playlist_' ~ playlistId}) }}" style="color: white">
                        {{ t('wap', 'Playlist') }}: {{ playlistName }}
                    </a>
                </h3>

                <p>
                    <span id="position_video">1</span>/{{ totalVideo }}
                    <a href="/channel/{{ channelId }}" style="color: white">
                        {{ channelName }}
                    </a>
                </p>
		
		{% if description %}
			<p class="dp-sub"> {{ description }} </p>
		{% endif %}

                <div class="control dp-sub">
                    <div class="left">
                        <a href="javascript:void(0)" id="prevBtn"><img class="button" src="/images/vjsPrev.svg"></a>
                        <a href="javascript:void(0)" id="nextBtn"><img class="button" src="/images/vjsNext.svg"></a>
                        <a href="javascript:void(0)" id="shuffleBtn"><img class="button" src="/images/shuffle_deactive.svg"></a>
                        <a href="javascript:void(0)" id="repeatBtn"><img class="button" src="/images/repeat_deactive.svg"></a>
                    </div>
{#                    <div class="right">#}
{#                        <a href="javascript:void(0);" id="shareDetail" class="modalBtn" data-target="#popupShare"#}
{#                           data-id="{{ detail.id }}"#}
{#                           data-url="{{ url('playlist/detail',{'id':playlistId}) }}">#}
{#                            <img class="button" src="/images/vjsShare.svg">#}
{#                        </a>#}
{#                    </div>#}
                </div>
            </div>

            <div class="vjs-playlist {{ app.language }}_playlist" id="vjsPlaylist">
            </div>
        </div>
        <input id="playerData" type="hidden" value="{{ playerData }}">
        <input id="videoIdsData" type="hidden" value="{{ videoIdsData }}">
        <input id="videoId" type="hidden" value="{{ videoId }}">
        <input id="videoBoxUrl" type="hidden" value="{{ url('video/detail-box') }}">
        {% include '@app/views/partials/shareSocialModal.twig' with {'shareLink':  url('playlist/detail',{'id':playlistId}) } %}

    </section>

    <div id="video-content" style="display: none;">
    </div>
</div>