{{ HeaderWidget.widget({'type': 'sub' ,'title':'Playlist'}) | raw }}
{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}

<main>
    <section class="blk blkPadBoth blkPlaylist">
        <div class="plHeader">
            <div class="ctn">
                <h5>{{ detail.data.name }}</h5>
                <p class="txtInfo">
                    <a href="/user/{{ detail.data.userId }}">
                        {{ detail.data.userName }}
                    </a>
                </p>

                {% if owner %}

                <div class="controls">
                    <a href="javascript:void(0)" class="btnEdit">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-edit"></use>
                        </svg>
                    </a>
                    <a id="optDel" class="btnDel" >
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-delete"></use>
                        </svg>
                    </a>
                </div>
                {% else %}
                    <input type="hidden" id="is_not_owner" value="444">
                {% endif %}

                <div class="playBtn">
                    <a href="{{ url('playlist/detail', {'id': idInt}) }}">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-play"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="blkListVideosVer">
            <p class="txtInfo ctn">{{ detail.data.num_video }}{{" "}}{{ detail.data.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}</p>

            {% include "@app/views/partials/videoSmallBox.twig" with {'data': responseData.data, 'hasTitle': false, 'hasArrow': false, 'playlist':true} %}

            {% if responseData.data.content|length == 0 %}
                <p class="ctn">{{t('web','Không có dữ liệu')}}</p>
            {% endif %}

            <div id="container">
            </div>

        </div>
        <input type="hidden" id="idInt" value="{{ idInt }}">
        <input type="hidden" id="idVideoClickOption" value="{{ idInt }}">
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="load-more-id" value="{{ id }}"/>
        <input type="hidden" id="type" value="VOD"/>




    </section>
</main>

