@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c69ni9');
  src:  url('fonts/icomoon.eot?c69ni9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c69ni9') format('truetype'),
    url('fonts/icomoon.woff?c69ni9') format('woff'),
    url('fonts/icomoon.svg?c69ni9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobitv_hd:before {
  content: "\e91f";
}
.icon-mobitv_list:before {
  content: "\e920";
}
.icon-mobitv_live:before {
  content: "\e921";
}
.icon-mobitv_money:before {
  content: "\e922";
}
.icon-arrow-down:before {
  content: "\e91c";
  color: #fff;
}
.icon-arrow-up:before {
  content: "\e91d";
  color: #fff;
}
.icon-myclip-video:before {
  content: "\e91e";
  color: #0081ff;
}
.icon-channel:before {
  content: "\e918";
  color: #fff;
}
.icon-check:before {
  content: "\e919";
  color: #00ffb4;
}
.icon-quality:before {
  content: "\e91a";
  color: #fff;
}
.icon-trend:before {
  content: "\e91b";
  color: #bbb;
}
.icon-lightbolt:before {
  content: "\e915";
  color: #bbb;
}
.icon-price:before {
  content: "\e916";
  color: #bbb;
}
.icon-time:before {
  content: "\e917";
  color: #fff;
}
.icon-ringback:before {
  content: "\e914";
}
.icon-dics:before {
  content: "\e912";
}
.icon-ring:before {
  content: "\e913";
}
.icon-binocular:before {
  content: "\e911";
  color: #ff7d00;
}
.icon-music:before {
  content: "\e910";
  color: #00a99d;
}
.icon-film:before {
  content: "\e90b";
  color: #00a99d;
}
.icon-home:before {
  content: "\e90c";
  color: #f00;
}
.icon-play:before {
  content: "\e90d";
  color: #00a99d;
}
.icon-search:before {
  content: "\e90e";
  color: #3fa9f5;
}
.icon-view:before {
  content: "\e90f";
  color: #00a99d;
}
.icon-addcircle:before {
  content: "\e923";
  color: #555;
}
.icon-addplaylist:before {
  content: "\e924";
  color: #555;
}
.icon-checker:before {
  content: "\e925";
  color: #003365;
}
.icon-delete:before {
  content: "\e926";
  color: #888;
}
.icon-dislike:before {
  content: "\e927";
  color: #555;
}
.icon-download:before {
  content: "\e928";
  color: #555;
}
.icon-fire:before {
  content: "\e929";
  color: #888;
}
.icon-history:before {
  content: "\e92a";
  color: #888;
}
.icon-home2:before {
  content: "\e92b";
  color: #003365;
}
.icon-like:before {
  content: "\e92c";
  color: #555;
}
.icon-notify:before {
  content: "\e92d";
  color: #555;
}
.icon-playlist:before {
  content: "\e92e";
  color: #888;
}
.icon-plus:before {
  content: "\e92f";
  color: #555;
}
.icon-register:before {
  content: "\e930";
  color: #888;
}
.icon-search2:before {
  content: "\e931";
  color: #555;
}
.icon-share:before {
  content: "\e932";
  color: #555;
}
.icon-sort:before {
  content: "\e933";
  color: #888;
}
.icon-user:before {
  content: "\e934";
  color: #555;
}
.icon-warning:before {
  content: "\e935";
  color: #888;
}
.icon-watch:before {
  content: "\e936";
  color: #888;
}
.icon-author-mybolero:before {
  content: "\e909";
  color: #fabe5a;
}
.icon-micro-mybolero:before {
  content: "\e90a";
  color: #fabe5a;
}
.icon-cart:before {
  content: "\e900";
  color: #f81414;
}
.icon-gear:before {
  content: "\e901";
  color: #fff;
}
.icon-account-5dmax:before {
  content: "\e902";
  color: #fff;
}
.icon-episode-5dmax:before {
  content: "\e903";
  color: #fff;
}
.icon-film-5dmax:before {
  content: "\e904";
  color: #fff;
}
.icon-home-5dmax:before {
  content: "\e905";
  color: #fff;
}
.icon-list-5dmax:before {
  content: "\e906";
  color: #fff;
}
.icon-logout-5dmax:before {
  content: "\e907";
  color: #fff;
}
.icon-package-5dmax:before {
  content: "\e908";
  color: #fff;
}
