{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form title-video-info">
                <div class="title">{{t('web','ĐIỀU KHOẢN')}}</div>
            </div>
            <div class="row-form">
                <p>{{t('web','Bằng cách đăng video lên MyClip, bạn xác nhận rằng mình đồng ý với')}} <a href="/dieu-khoan-su-dung"{{t('web','Điều khoản dịch vụ ( đọc chi tiết )')}}></a> {{t('web','và')}} <a href="/quy-che-hoat-dong">{{t('web','Quy chế hoạt động ( đọc chi tiết)')}}</a> {{t('web','của')}} MyClip</p>
                <p>{{t('web','Bạn hãy nhớ không được vi phạm bản quyền hoặc quyền riêng tư của người khác')}}.
                    <a href="/dieu-khoan-su-dung">{{t('web','Tìm hiểu thêm')}}</a></p>
            </div>
            <p class="clearfix"></p>

            <form  method="post" action="/account/condition">
                <div class="row-form">
                    <p><strong>{{t('web','Xác nhận thông tin')}}</strong></p>
                    <p><label>
                            <input type="checkbox" id="upload_condition"> &nbsp;{{t('web','Tôi đã đọc và chấp nhận các điều khoản của MXH Myclip')}}
                        </label>
                    </p>
                </div>
                <p class="clearfix"></p>
                <div class="row-form">
                    <p>
                        <button onclick="window.location='/'" type="button" class="btn-cancel">{{t('web','Hủy bỏ')}}</button> &nbsp;&nbsp;
                        <button type="submit" disabled class="btn-upload  btn-contract-condition btn-cancel">
                            {{t('web','Đồng ý')}}
                        </button>
                    </p>
                </div>
            </form>

            <p class="clearfix"></p>
        </div>
    </div>
</div>
