{{ use('yii/widgets/ActiveForm') }}
{{ use('yii/captcha/Captcha') }}

{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}

<div class="map-account">

    <div class="mdl-login link-account">
        {% set form = active_form_begin({
        'id': 'map-account-form',
        'action' : url('account/map-account'),
        'enableClientValidation' : false,
        'enableClientScript' : false,
        'errorCssClass':'',
        'fieldConfig' : {'template' : "{input}"},
        'options': {
        'class': 'form-horizontal',
        }
        }) %}
        <div class="row-login">
            <h4>
                {{t('web','Liên kết tài khoản')}}
            </h4>
        </div>
        <div class="row-login ctn">
            <b>
                (*){{t('web','Quý khách vui lòng liên kết tài khoản để xem các nội dung tính phí và đăng ký dịch vụ')}} Myclip.
            </b>
        </div>
        <div class="row-login">
            {#<b class="txt-field">{{ model.msisdn }}</b>#}
            {{ form.field(model, 'msisdn').textInput({'class' : 'ipt', 'placeholder' :  t('web', 'Nhập số thuê bao')}) | raw }}
        </div>
        <div class="row-login">
            {{ form.field(model, 'otp').textInput({'class' : 'ipt', 'placeholder' :  t('web', 'Nhập mã OTP')}) | raw }}
        </div>

        {{ form.field(model, 'verifyCode').widget('yii\\captcha\\Captcha', {
            'options' : {'placeholder' : t('web', 'Mã xác nhận'), 'class' : ' txt-captcha ipt'},
            'captchaAction': 'auth/captcha',
            {# 'enableClientScript': false, #}
            'template': ' <div class="row-login">
						   {input}
						 </div>
                         <div class="row-login">
                            <span class="btn" onclick="refreshCaptcha('~ "'mapaccountform-verifycode-image'" ~')">
                                {image}
                                <i class="fa fa-repeat" ></i>
                            </span>
                        </div>
                '}) | raw }}

        <div class="row-login">
            <button type="button" class="btnGetOTP btn">{{t('web','Lấy mã OTP')}}</button>  &nbsp;
            <button type="submit" class="btn-accept btn">{{t('web','Liên kết tài khoản')}}</button>
        </div>

        <div class="row-login">
            <p class="txt-warning">{{ form.errorSummary(model, {'header' : '', 'class' : 'txt-warning'})|raw }} </p>
        </div>

        {{ active_form_end() }}
    </div>
</div>


