{% for playlist in playlists.content %}
    <p>
        <label style="width:100%" title="{{ playlist.name }}"><input type="checkbox" class="ipt-check addVideoPlaylist" {% if playlist.id in addedPlaylistIds %} checked="checked" {% endif %} data-playlistid="{{ playlist.id }}">
            {% if(playlist.name|length > 50) %}
                {{ playlist.name[:30] ~ '...'}}
            {% else %}
                {{ playlist.name }}
            {% endif %}
        </label>
    </p>
{% endfor %}
