{{ use('website/assets/UploadAsset') }}
{{ register_upload_asset() }}

<div class="margin-top-50"></div>

<script type="text/template" id="qq-template-gallery">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="">

        <div class="upload-center">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div class="upload-area">
                    <p>
                        <button class="btn-upload">
                            <i class="fa fa-cloud-upload"></i>
                        </button>
                        <p class="text-1">{{t('web','Chọn file để upload')}}</p>
                        <p class="text-2">{{t('web','hoặc kéo thả vào đây')}}</p>
                        <p class="text-2">{{t('web','định dạng file: mp4, flv, mov, m4u')}}</p>
                    </p>
                </div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span></span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        </div>

        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
            aria-relevant="additions removals" style="display: none;">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel"
                        onclick="enableUpload('#trigger-upload')">X
                </button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    {{ t('web', 'Thử lại') }}
                </button>
                <div id="hiddenProgessBar">
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                </div>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file" id="videoFileName"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</script>
<script type="text/template" id="qq-template-image">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button" id="boxUploadImage" style="display: none;">
            <div class="row-form">
                <input type="button" class="link-view-more addImgVideo" value={{t('web','Hình ảnh')}}>
            </div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span></span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
            aria-relevant="additions removals" style="display: none;">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel"
                        onclick="enableUpload('#trigger-upload')">X
                </button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    {{ t('web', 'Thử lại') }}
                </button>
                <div id="hiddenProgessBar">
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                </div>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file" id="videoFileName"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</script>
<div id="step1">
    <div class="mdl-upload">
        <div class="upload-left">
            <div id="uploader">
            </div>
        </div>
        <div class="upload-right">
            <div class="mdl-upload-guide">
{#                <div class="title">1. <a href="/contract/account">{{t('web','Đăng ký nhận tiền')}}</a> <img src="/images/ic_new.png" width="16"></div>#}
                <div class="title">1. <a href="/contract/contract">{{t('web','Hợp đồng')}}</a> <img src="/images/ic_new.png" width="16"></div>
                <div class="title">2. {{t('web','Hướng dẫn upload video')}}</div>
                <div class="content-upload-bottom">
                    <div class="scroll">
                        <p>{{t('web','Bạn có thể tải video lên MyClip bằng một vài bước đơn giản. Sử dụng hướng dẫn dưới đây để tải lên video của bạn từ máy tính hoặc từ thiết bị di động')}}.</p>
                        <p>1.   {{t('web','Đăng nhập vào Myclip')}}.</p>
                        <p>2.   {{t('web','Nhấp vào biểu tượng')}} <strong>{{t('web','Tải lên')}}</strong> {{t('web','ở đầu trang')}}.</p>
                        <p>3.   {{t('web','Chọn Video tải lên từ thư viện Videos của bạn')}}</p>
                        <p>4.   {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn')}} <strong>{{t('web','Tiếp theo')}}</strong>.</p>
                        <p>5.   {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật')}}. </p>
                        <p>6.   {{t('web','Nhấn vào')}} <strong>{{t('web','Tải lên')}}</strong>.</p>
                        <p><br></p>
                        <p>{{t('web','Nếu các hướng dẫn này không đưa bạn đến đúng nơi thì có thể bạn chưa nhận được phiên bản mới của tính năng đang dần được ra mắt với tất cả người dùng, vui lòng sử dụng hướng dẫn dưới đây')}}.</p>
                        <p>1.   {{t('web','Đăng nhập vào Myclip')}}.</p>
                        <p>2.   {{t('web','Nhấp vào biểu tượng')}} <strong>{{t('web','Tải lên')}}</strong>. {{t('web','ở đầu trang')}}.</p>
                        <p>3.   {{t('web','Chọn Video tải lên từ thư viện Videos của bạn')}}</p>
                        <p>4.   {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn')}} <strong>{{t('web','Tiếp theo')}}</strong>.</p>
                        <p>5.   {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật')}}. </p>
                        <p>6.   {{t('web','Nhấn vào')}} <strong>{{t('web','Tải lên')}}</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="step2" style="display:none;">
    <div class="mdl-upload">
        <div class="upload-left step2">
            <input type="hidden" value="" name="idVideo" id="idVideo" />
            <div class="left-content">
                <div class="row-form title-video-info">
                    <div class="title">{{t('web','Thông tin video')}}</div>
                </div>
                <div class="row-form" id="progressBarBox">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" id="showProgressBar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        </div>
                        <div class="close-progress" id="cancelUploadId">x</div>
                    </div>
                    <p class="text-1" id="textOnProgress" style="display: none;">{{t('web','Video của bạn đang tải lên, hãy giữ trang này cho đến khi quá trình này hoàn tất')}}.</p>
                </div>
                <div class="accordion-wrap">
                    <div class="accordion-content">
                        <div class="row-form">
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtVideoName"  placeholder= "{{ t('web', 'Tiêu đề (không quá 255 kí tự)')}}">
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="description" placeholder= "{{ t('web', 'Nội dung mô tả (không quá 500 kí tự)')}}"></textarea>
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="form-group">
{#                                <select id="mode" class="form-control" name="mode" style="float: right; width: 130px; height: 34px;">#}
{#                                    <option selected="selected" value="1">{{t('web','Công khai')}}</option>#}
{#                                    <option value="0">{{t('web','Riêng tư')}}</option>#}
{#                                </select>#}
                                <input type="text" class="form-control" id="tags" placeholder="Tags" style="width: 350px">
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="clearfix"></div><br>
                            <div id="uploader-image" style="float: left;">
                            </div>
                            <p><input type="button" style="float: right" class="btn-upload btn-edit modifyInfoVideo" value={{t('web','Đồng ý chỉnh sửa')}}></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row-form" style="width: 200px">
                            <div class="spinner" id="loadingUploadImage" style="display:none;">
                                <div class="quarter">
                                    <div class="circle"></div>
                                </div>
                            </div>
                            <div class="row-form" id="showImageVideo" style="display: none;">
                                <div class="form-group">
                                    <img style="width: 200px;" src="" id="imageUploadVideo" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="link-edit-video">{{t('web','Chỉnh sửa nội dung')}} <i class="fa fa-caret-down"></i> </div>
                </div>
                <div class="clearfix"></div>
                <div class="link-extra" id="btnVideoBox" style="display: none;">
                    <a href="{{ url('/default/my-video') }}">{{t('web','Quản lý video')}}</a>
                    <a href="{{ url('/account/upload') }}"> <i class="icon-plus"></i> {{t('web','Upload video khác')}}</a>
                </div>
            </div>
        </div>
        <div class="upload-right">
            <div class="mdl-upload-guide">
                <div class="title">{{t('web','Hướng dẫn upload video') }}</div>
                <div class="content-upload-bottom">
                    <div class="scroll">
                        <p>{{t('web','Bạn có thể tải video lên MyClip bằng một vài bước đơn giản. Sử dụng hướng dẫn dưới đây để tải lên video của bạn từ máy tính hoặc từ thiết bị di động') }}.</p>
                        <p>1. {{t('web','Đăng nhập vào Myclip') }}.</p>
                        <p>2. {{t('web','Nhấp vào biểu tượng') }} <strong>{{t('web','Tải lên') }}</strong> {{t('web','ở đầu trang') }}.</p>
                        <p>3. {{t('web','Chọn Video tải lên từ thư viện Videos của bạn') }}</p>
                        <p>4. {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn') }} <strong>{{t('web','Tiếp theo') }}</strong>.</p>
                        <p>5. {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật') }}. </p>
                        <p>6. {{t('web','Nhấn vào') }} <strong>{{t('web','Tải lên') }}</strong>.</p>
                        <p><br></p>
                        <p>{{t('web','Nếu các hướng dẫn này không đưa bạn đến đúng nơi thì có thể bạn chưa nhận được phiên bản mới của tính năng đang dần được ra mắt với tất cả người dùng, vui lòng sử dụng hướng dẫn dưới đây') }}.</p>
                        <p>1. {{t('web','Đăng nhập vào Myclip') }}.</p>
                        <p>2. {{t('web','Nhấp vào biểu tượng') }} <strong>{{t('web','Tải lên') }}</strong>. {{t('web','ở đầu trang') }}.</p>
                        <p>3. {{t('web','Chọn Video tải lên từ thư viện Videos của bạn') }}</p>
                        <p>4. {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn') }} <strong>{{t('web','Tiếp theo') }}</strong>.</p>
                        <p>5. {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật') }}. </p>
                        <p>6. {{t('web','Nhấn vào') }} <strong>{{t('web','Tải lên') }}</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="need-show-popup-update-info" value="0"/>
<div id="modal-upload-complete" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title">{{t('web','Đăng tải thành công')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            <p>{{t('web','Đăng tải thành công, vui lòng cập nhật thông tin cá nhân để video được xuất bản')}}.</p>

        </div>
        <div class="row-form-border">
            <br/>
            <p> <a href="/contract/condition" class="btn-login btn-login-small btn-ok">{{t('web','Cập nhật thông tin') }}</a> </p>
        </div>
    </div>
</div>