/*_Reset CSS*/
@import url('reset.css');

/*_CSS Fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext,vietnamese);

@font-face {
  font-family: 'iCielBrushUp';
  src: url('../fonts/iCielBrushUp.eot');
  src: local('☺'), url('../fonts/iCielBrushUp.woff') format('woff'), url('../fonts/iCielBrushUp.ttf') format('truetype'), url('../fonts/iCielBrushUp.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* `Basic HTML */
hr { border: 0 solid #ccc; border-top-width: 1px; clear: both; height: 0;}

/* `Spacing */
ol,ul,li{ list-style: none; margin: 0; padding: 0;}
p,dl,hr,ol,ul,pre,table,address,fieldset,figure {margin-bottom: 10px;}
h1,h2,h3,h4,h5,h6{ margin-bottom: 5px; font-weight: normal;}

/* `general */
body,input,textarea,select,textarea,button{font-family: 'Roboto', sans-serif; font-size: 1em; color: #eee;}

a{color: #fff; text-decoration: none;}
a:hover{text-decoration: underline;}

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}

.left{ float: left;}
.right{ float: right;}

.wrap-all{ display: block; margin: auto;}
.wrap-960{ display: block; margin: auto; max-width: 960px; position: relative;}
.wrap-block{ padding: 12px;}

/* typo */
.txt-upper{ text-transform: uppercase;}
.al-ct{ text-align: center;}
.al-lt{ text-align: left;}
.al-rt{ text-align: right;}
.ipt-txt{ display: inline-block; padding: 8px 12px; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px;
  background: #e6e6e6; font-size: 1.2em; font-weight: 300; border: 0;
  -webkit-box-shadow: inset 1px 1px 6px -2px rgba(0,0,0,0.53);
  -moz-box-shadow: inset 1px 1px 6px -2px rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 6px -2px rgba(0,0,0,0.2);
  outline: none;
  box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}

/* color */

.sdtxt{text-shadow: 0px 1px 2px rgba(0,0,0,0.2);}
.sdbox{box-shadow: 0px 0px 8px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2);}
.trans{ transition: all 0.2s; -moz-transition: all 0.2s; -webkit-transition: all 0.2s;}
.scale0{ transform: scale(0.1); -moz-transform: scale(0.1); -webkit-transform: scale(0.1);}
.rotate0{ transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg);}
.grd-blue {
  background: #1387d8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(120deg, #1387d8, #0ea4d7)!important;
  background: -o-linear-gradient(120deg, #1387d8, #0ea4d7)!important;
  background: -moz-linear-gradient(120deg, #1387d8, #0ea4d7)!important;
  background: linear-gradient(120deg, #1387d8, #0ea4d7)!important;
}

.button{ position: relative; display: inline-block; padding: 6px 20px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: #4a5e6d; color: #fff; text-align: center;}
.button:hover{ background: #657d8e; text-decoration: none;}
.button-orange{ background: #ffe140; color: #111; font-size: 1.2em; text-transform: uppercase; padding: 10px 30px; font-weight: 400;}
.button-orange:hover{
  background: #00aeff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(120deg, #00aeff, #8c4a96)!important;
  background: -o-linear-gradient(120deg, #00aeff, #8c4a96)!important;
  background: -moz-linear-gradient(120deg, #00aeff, #8c4a96)!important;
  background: linear-gradient(120deg, #00aeff, #8c4a96)!important;
  color: #fff;
}

.hide-mobile{ display: none;}
.disScroll{margin: 0; height: 100%; display: block; overflow: hidden; width: 100%;}
.icon{ display: inline-block; background-image: url("../imgs/sprite_icons.png"); background-size: 240px 168px; width: 24px; height: 24px; vertical-align: middle;}

/* icon header */
.icon-humberger{ background-position: -120px 0px;}
.icon-close-menu{ background-position: -168px 0px;}
.icon-right-arrow{ background-position: -24px 0px; width: 16px; height: 16px;}


.list-style-disc li{ margin-left: 20px; vertical-align: top;}
.list-style-disc li:before{ content: '\2022'; position: absolute; margin-left: -14px; margin-top: -2px; font-size: 1.2em;}

#loader{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 9999;}
#loader .progress{ position: absolute; width: 100%; top: 40%; text-align: center;}
#loader p{ margin-top: 15px; font-size: 0.86em; color: #999;}

/* HEADER */
header{ position: absolute; display: block; top: 0px; width: 100%; height: 48px; color: #fff; border-bottom: 1px rgba(255,255,255,0.1) solid;}
header a{ color: #fff;}
header.pin{ position: fixed; top: 0; z-index: 99;}
header #humberger{ position: absolute; left: 0px; padding: 12px; cursor: pointer;}
header #humberger:hover{ background: #eee;}
header #account{ position: absolute; right: 0px; top: 0; padding: 15px 12px; vertical-align: middle}
  /* menu */
header nav{ position: fixed; z-index: 99; width: 80%; height: 100%; top: 0px; background: #fff; color: #fff; display: none; overflow: auto;}
header nav #logo{ margin: 12px 24px;}
header nav ul{ padding: 0px 24px;}
header nav a{ width: 100%; padding: 12px 0px; display: block; font-size: 1em; font-weight: 300; letter-spacing: 0px;}
header nav .close{left: 0px; padding: 12px;}
header nav img{ max-width: 100%;}
header #sublogo{ height: 24px; display: inline-block; position: absolute; left: 48px; top: 12px;}
header #sublogo img{ max-height: 100%;}

/* FOOTER */
footer{ text-align: center; font-size: 0.86em; font-weight: 300; color: #888; padding: 5px 0 20px 0;}

.pthld{ overflow: hidden; background: #eee; }
.avatar{
  width: 32px; height: 32px; overflow: hidden; background: #eee;
  border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.pthld img, .avatar img{ width: 100%; }

.videoItem{
  vertical-align: top; padding-bottom: 12px;
}
.videoItem:after{ content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.videoItem .ctn{
  display: table-cell; padding-left: 12px;
}
.videoItem .pthld{
  position: relative; float: left; width: 160px; height: 90px;
}
.videoItem .txtInfo{ color: #ddd; font-size: 0.7em;}
.videoItem .timing{
  position: absolute; background: rgba(0,0,0,0.6); color: #fff; font-size: 0.7em;
  bottom: 6px; right: 6px; padding: 2px 4px;
  border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.videoItem p{ padding-bottom: 0px;}
.videoItem .title{ font-size: 1em;}
.videoItem .winner{ float: left; width: 100%; padding-top: 15px;}
.videoItem .winner h1{ float: left; font-size: 4em; line-height: 0.6;}
.videoItem .winner h3{ font-size: 1.5em;  font-family: 'iCielBrushUp'; margin-bottom: 0px;}

/* block */
.block{}
.block:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.block h1{ font-size: 2em; font-weight: 300; margin-bottom: 12px; font-family: 'iCielBrushUp';}
.block img{ max-width: 100%;}

.block-top{ padding-top: 48px;}

.block-intro{ background: #0996d8 url("../imgs/bg_fold01.png") no-repeat 50% 50%; background-size: cover; color: #fff;}
.block-intro .left{ padding-top: 10px;}
.block-intro .right{}
.block-intro .txtInfo{ color: #fff; font-size: 0.8em; padding-top: 10px;}

.top-video{ width: 100%;}
.top-video h4{ font-family: 'iCielBrushUp'; font-size: 1.5em; margin-bottom: 0;}
.top-video .pthld{ width: 100%; height: 200px; float: none;}

.block-videos .moreBtn{ clear: both; display: block;}
.block-videos .moreBtn a{ font-size: 0.8em;}
.block-videos .moreBtn .icon{ margin-top: -3px;}

.block-rules .ctn{ max-height: 400px; overflow: auto;}

.timeTab{ margin-bottom: 20px;}
.timeTab a{ padding: 4px 20px; border:1px #fff solid; text-decoration: none; margin: 4px;
  border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;
}
.timeTab a.active{
  background: #fff; color: #0996d8;
}


.overlay{position: fixed; background: #000000; width: 100%; height: 100%; top: 0; left: 0; z-index: 98;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  display: none;
}
