{% if message|length > 0 %}

    <div id="popupAlert" class="modal-vietnt" style="display:block;">
        <div class="modal-content-vietnt" id="popupMessage">
            <h3 class="title">   {% if addition_param == 'PROMOTION' %}
                    {{t('wap', 'Xin chào') }}, {{ msisdn }}
            {% else %}
                {{t('wap', 'Thông báo') }}
            {% endif %} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            {{message}}
        </div>

        {% if addition_param == 'REGISTER_CONFIRM' %}
            <input type="hidden" id="register_confirm" value="1"/>
            <div class="row-form">
               <button shortcode="{{ app.session.get('shortcode') }}" command="{{ app.session.get('command') }}" >{{t('wap', 'Đồng ý') }}</button>
            </div>
        {% endif %}

    </div>

    {% if addition_param == 'REGISTER_SUCCESS' %}

        <input type="hidden" id="google_adword" value="1"/>
        <!-- Global site tag (gtag.js) - Google AdWords: 849928907 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-849928907"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'AW-849928907');
            gtag('event', 'conversion', {'send_to': 'AW-849928907/so2oCK-U6XEQy8WjlQM'});
        </script>

    {% endif %}

</div>
{% endif %}



