{% set data = responseData.data %}
<div class="mdl-banner">
    <img src="{{ data.detail.coverImageWeb }}"
         onError="this.onerror=null;this.src='/images/data/channels_banner.gif'" width="100%" alt="" class="image image6x1">
</div>