
{% if responseData.data.type %}
    {% if responseData.data.type == 'VOD' %}
        {% include '@app/views/partials/videoBox.twig' with {'box': responseData.data, 'hasTitle': true, 'loadMore': true} %}
    {% endif %}
{% endif %}



