<div class="mdl-comments {% if playlist != true %} width-common {% endif %}">
  <input type="hidden" id="contentId" value="{{ contentId }}">
  <input type="hidden" id="commentType" value="{% if type == 'FILM' %} PLAYLIST {% else %}{{type}}{% endif %}">
  <input type="hidden" id="replyCommentId" value="0">
  <input type="hidden" id="commentOffset" value="0">
  <input type="hidden" id="commentLimit" value="20">
  <div class="title">{{t('web','Bình luận')}}
  </div>
  <div class="content">
    <div class="media-object-default">
      <div class="media item-typing">
         <textarea class="txt-field" onclick="return addEvent('comment_video_action', $('#control_comment').show());" id="inputComment" placeholder="{{t('web','Nhập bình luận')}} ..."></textarea>
         <div id="control_comment" style="display: none;">
             <input type="button" id="btnSubmitComment" class="btn-default"  value="{{t('web','Bình luận')}}" onclick="return addEvent('comment_video_action',  {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'comment_content ': $('#inputComment').val() });">
             <input type="button" class="btn-cancel btnClearComment"  value="{{t('web','Hủy')}}" onclick="return addEvent('comment_video_action', $('#control_comment').hide());">
         </div>
      </div>
      <br/>
      <div id="commentContent"></div>
      <div class="spinner" id="loading-comment" style="display:none;">
          <div class="quarter">
              <div class="circle"></div>
          </div>
      </div>
    </div>
  </div>
</div>