<div id="createPlaylistModal" class="modal-vietnt">
    <div class="modal-content-vietnt" id="popupMessage">
        <h3 class="title"> {{t('web','Danh sách phát mới')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            <p>{{t('web','Tên')}}</p>
            <input type="text" name="namePlaylist" id="iptNamePlaylist" placeholder="{{t('web','Nhập tên danh sách phát')}}" class="ipt padding0 iptLg">
        </div>
        <div class="row-form-border">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok" id="submitCreatePlaylist"  value="{{t('web','Tạo mới')}}">
        </div>      
    </div>
</div>
