{% for item in box.data %}
    <div class="item search item-{{item.id}}" style="min-height: auto">
        <div class="description">
            <a data-id="{{item.id}}" href="{{url('default/search-result',{'query':item.name})}}" class="name-video">{{item.name}}</a>
            <div class="info">
                <span class="cols-info">{{item.time}}</span>
            </div>
        </div>
        <span data-id="{{item.id}}" data-name="{{item.name}}" class="remove-video"><i class="fa icon-delete"></i></span>
    </div>
{% endfor %}