{% for item in notifications %}
    <div class="item item{{ item.record_id }}{% if item.is_read == 0 %} unread{% endif %}">
        {% set url = url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium }) %}

        <a {% if item.is_read == 0 %}href="javascript:void(0)" onclick="return markNotifi( '{{ item.record_id }}' ,'{{ url }}')"{% else %}href="{{ url }}"{% endif %} class="image">
            <img src="{{ item.avatarImage }}" onError="this.onerror=null;this.src='/images/data/4x4.png'" class="avatar"/>
            <p class="text-1" title="{{ item.aps.alert }}">{{ item.aps.alert }}</p>
        </a>
        <div class="right-content">
            <a {% if item.is_read == 0 %}href="javascript:void(0)" onclick="return markNotifi( {{ item.record_id }} ,'{{ url }}')"{% else %}href="{{ url }}"{% endif %} class="image">
                <img src="{{ item.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="image16x9" class="image"/>
            </a>
            <span class="button-link-more">
                <i class="icoMoreNotification fa fa-ellipsis-v"></i>
            </span>
            <div class="popover-more" onclick="changeNotificationType({{ item.channel_id }}, 0)">
                <div class="item-popover"><a href="javascript:void(0)">{{t('web','Tắt thông báo')}}</a></div>
            </div>
        </div>
        {% if item.is_read == 0 %}
            <i class="icon-status"></i>
        {% endif %}
    </div>
{% endfor %}

