{% for history in responseData.histories %}

    <tr class="more-report {% if history.display_more %}display-report{% endif %}">
        <td>{{t('web','Tháng')}} {{ history.month }}</td>
        <td><strong>{{ history.revenue|number_format(0, ',', '.') }}<sup>{{t('web','đ')}}</sup></strong></td>
        <td>{{ history.status }}</td>
    </tr>

{% endfor %}
