
<div class="mdl-general">
    {% if hasTitle %}
        <h1 class="title">
            <a href="{{url}}" class="ellipsis">
                {{ box.name }}
            </a>
        </h1>
    {% endif %}
    <div class="content">
        {% if menuHistory == true %}
            <div class="menu-history">
                <p class="item-title">{{t('web','Loại lịch sử')}}</p>
                <p onclick="window.location = '{{url('default/history')}}'" class ='item {% if route == "default/history" %} selected {% endif %}'>{{t('web','Lịch sử xem')}} <i class="fa icon-checker"></i></p>
                <p onclick="window.location = '{{url('default/history-search')}}'" class="item {% if route =='default/history-search' %} selected {% endif %} ">{{t('web','Lịch sử tìm kiếm')}} <i class="fa icon-checker"></i></p>
                <p class="item-clear">{{t('web','Xóa lịch sử')}} <i class="fa icon-delete"></i></p>
            </div>
        {% endif %}
        <div class="{{ className }} list-video list-video-horizontal-left ">
            {% if box.content | length > 0 %}
                {% for item in box.content %}
                    {% if typeFunction == 'HISTORY' %}
                    {% include "@app/views/partials/historyBox.twig" with {'item': item, 'description': true, 'removeItem': removeItem, 'channel': channel,'more': more, 'mutiLine': mutiLine} %}
                    {% else %}
                    {% include "@app/views/partials/videoSmallBox.twig" with {'item': item, 'description': true, 'removeItem': removeItem, 'channel': channel,'more': more, 'mutiLine': mutiLine} %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
            {%endif%}
            <div id="container"></div>
        </div>
    </div>
</div>


