{#<div id="modalLinkAccount" class="mdl-login" style="margin-top: 15px; width: 600px">#}
{#    <div class="modal-content-vietnt">#}
{#        <h3 class="title"> {{t('web','Liên kết tài khoản')}} </h3>#}

{#        <div class="row-form">#}
{#            {% if response.responseCode == 200 %}#}
{#            {% if response.data.google_id %}#}
{#                <button class="btn-upload remove-link-social" style="width: 100%; background-color: #ccc" href="javascript:void(0)"#}
{#                   data-content="google">{{t('web','Xoá liên kết với tài khoản Google')}}#}
{#                </button>#}
{#            {% else %}#}
{#                <button class="btn-upload" style="width: 100%" onclick="window.location='/auth/auth?authclient=google'">{{t('web','Liên kết với tài khoản Google')}}#}
{#                </button>#}
{#            {% endif %}#}
{#        </div>#}

{#        <br/>#}

{#        <div class="row-form">#}
{#            {% if response.data.facebook_id %}#}
{#                <button class="btn-upload remove-link-social" style="width: 100%; background-color: #ccc" href="javascript:void(0)"#}
{#                   data-content="facebook">{{t('web','Xoá liên kết với tài khoản Facebook')}}#}
{#                </button>#}
{#            {% else %}#}
{#                <button class="btn-upload" style="width: 100%" onclick="window.location='/auth/auth?authclient=facebook'">#}
{#                    {{t('web','Liên kết với tài khoản Facebook')}}#}
{#                </button>#}
{#            {% endif %}#}

{#            {% else %}#}
{#                <p class="ctn">{{t('web','Không lấy được thông tin liên kết tài khoản')}}</p>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


