<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">

    <div class="mdl-income">
        <h3>{{t('web','Thu nhập của bạn')}} </h3>
        <div class="box">
            <h3 class="pull-right">{{ responseData.currentRevenue|number_format(0, ',', '.') }}<sup>{{t('web','đ')}}</sup></h3>
            <p>
                {{t('web','Thu nhập tháng này')}}
            </p>
        </div>
        <p class="txtInfo">{{t('web','Chúng tôi sẽ thực hiện chi trả khi doanh thu đạt ngưỡng 500.000 VNĐ')}}</p>
        <p class="clearfix"></p>

    </div>
    {% if responseData.histories|length > 0 %}

        <div class="mdl-ipx">


                <div class="box">
                    <div class="ctn">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th width="160">{{t('web','Thời gian')}}</th>
                                <th>{{t('web','Doanh thu')}}</th>
                                <th width="120">{{t('web','Trạng thái')}}</th>
                            </tr>
                            </thead>
                            <tbody id="reportUserUpload">

                                {% for history in responseData.histories %}

                                    <tr {% if history.display_more %} class="display-report" {% endif %}>
                                        <td>{{t('web','Tháng')}} {{ history.month }}</td>
                                        <td><strong>{{ history.revenue|number_format(0, ',', '.') }}<sup>{{t('web','đ')}}</sup></strong></td>
                                        <td>{{ history.status }}</td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <input id="reportLimit" type="hidden" value="{{ limit }}"/>

                    {% if responseData.histories|length >= limit %}
                        <div class="dDown" id="showMoreReportUserUpload">
                            <a class="right trans" href="javascript:void(0)" onclick="loadMoreReport()">
                                <svg class="ico">
                                    <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                                </svg>
                            </a>
                        </div>
                    {% endif %}

                </div>


            <p class="txtInfo">
                {{t('web','GHI CHÚ')}}: <br/>
                - {{t('web','Trạng thái “tạm tính” được hiểu là doanh thu tạm tính trong chu kỳ tháng hiện tại')}}.<br>
                - {{t('web','Trạng thái “chưa thanh toán” được hiểu là số tiền mà người dùng upload video thực tế  sẽ nhận từ MyClip')}}.<br>
                - {{t('web','Trạng thái “đã thanh toán” được hiểu là số tiền mà MyClip đã thanh toán cho người dùng upload video')}}.
            </p>

        </div>
    {% endif %}

</div>