{{ use('yii/widgets/ActiveForm') }}
{{ use('yii/captcha/Captcha') }}

{{ use('wapsite/assets/ChangePassAsset') }}
{{ register_change_pass_asset() }}
{{ HeaderWidget.widget({'type':'sub','title':title}) | raw }}


<main>
    <section class="blk blkPadBoth blkUsers">
        <div class="ctn">

            {% set form = active_form_begin({
            'id': 'change-password-form',
            'action' : url('auth/change-password', {'layout':layout}),
            'enableClientValidation' : false,
            'enableClientScript' : false,
            'errorCssClass':'',
            'fieldConfig' : {'template' : "{input}"},
            'options': {
            'class': 'form-horizontal',
            }
            }) %}

            {% if isEmptyPassword == 0 %}
                <div class="form-group">
                    <label>{{t('wap', 'Mật khẩu hiện tại') }}</label>
                    {{ form.field(model, 'password').passwordInput({'class' : 'ipt iptLg'}) | raw }}
                </div>
            {% endif %}
                <div class="form-group">
                    <label>{{t('wap', 'Mật khẩu mới') }}</label>
                    {{ form.field(model, 'newPassword').passwordInput({'class' : 'ipt iptLg'}) | raw }}
					<div class="rMn">
                            <a class="sm-p right-p color888888">{{t('wap', 'Tối thiểu 6 kí tự') }}</a>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{t('wap', 'Nhập lại mật khẩu') }}</label>
                    {{ form.field(model, 'repeatPassword').passwordInput({'class' : 'ipt iptLg'}) | raw }}
					<div class="rMn">
                            <a class="sm-p right-p color888888">{{t('wap', 'Tối thiểu 6 kí tự') }}</a>
                    </div>
                </div>

                {{ form.field(model, 'verifyCode').widget('yii\\captcha\\Captcha', {
                    'options' : {'placeholder' : t('wap', 'Mã xác nhận'), 'class' : 'txt-field', 'style': 'float: left;'},
                    'captchaAction': 'auth/captcha',
                    'template': '<div class="row-login">
                            {input}
                            <span class="btn" onclick="refreshCaptcha('~ "'changepasswordform-verifycode-image'" ~')">
                                {image}
                                <i class="fa fa-repeat" ></i>
                            </span>
                        </div>
                '}) | raw }}

            <div class="form-group">
                <button class="btn btnBlue btnLg btnChangePassword">{{t('wap', 'Đổi mật khẩu') }}</button>
            </div>

            <div class="row-login">
                {{ form.errorSummary(model, {'header' : '', 'class' : 'txt-warning error-summary'})|raw }}
            </div>

            {{ active_form_end() }}
        </div>
    </section>
</main>


