/* CSS Document */

.body-content {
	min-height: 500px;
	float: left;
	/*margin: 0 auto;*/
	width: 100%;
	background: var(--ucl-menuleft-background);
	padding-top: 48px;
	/*max-width: 1440px;!Important: The value must be sychronize width js*/
}

.body-content-left,.body-detail-left {
	float: left;
	width: 240px;
	min-height: 500px;
}

.body-content-right,.body-detail-right {
	float: right;
	/*width: 1183px;*/
	/*padding: 15px 45px 15px 60px;*/
	padding: 15px 16px 15px 16px;
	background: var(--ucl-content-right-background);
	overflow: hidden;
	min-height: 800px;
}

.body-detail-left{
	width: 65%;
	padding: 15px 0 15px 15px;
	background: transparent;
}

.body-detail-right {
	width: 35%;
	box-shadow: none;
	padding: 15px;
	background: transparent;
	overflow: visible; /*for case poper at playlist*/
}

/* 1.left-menu*/
.left-menu{
	background: var(--ucl-menuleft-background);
	float: left;
	width: 240px;
	text-align: left;
	position: fixed;
	z-index: 9;
	top: 48px;
	left: 0;
	overflow: hidden;
}

.container-detail .close-left-menu{
	background:rgba(0,0,0,0.67);
	left: 240px;
	position: fixed;
	z-index: 9999;
	top: 0px;
	right: 0;
	bottom: 0;
}

.container-detail .left-menu{
	display: none;
}

.left-menu .left-menu-scroll{
	float: left;
	width: 257px;
	overflow-y: scroll;
}

.left-menu:hover .left-menu-scroll{
	width: 100%;
}

.left-menu .list,.left-menu .list-2,.mdl-account .list{
	float: left;
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
}

.mdl-account .list{
	font-size: 14px;
	padding: 0;
}

.left-menu .list-2{
	padding: 0;
}

.left-menu .list .item,.left-menu .list-2 .item,.mdl-account .list .item{
	width: 100%;
	float: left;
	color: var(--primary-color);
	padding: 10px 10px 10px 17px;
	border-left: 3px solid var(--ucl-menuleft-background);
	margin: 2px 0;
	display: block;
	/* Cut off text */
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}

.mdl-account .list .item{
	border-left: 0;
}

.mdl-account .list .item{
	margin: 0;
}

.left-menu .list-2 .item{
	font-size: 14px;
	padding: 2px 10px 2px 17px;
}


.left-menu .list .item:hover,.left-menu .list-2 .item:hover,.mdl-account .list .item:hover{
	background: var(--ucl-menuleft-hover-background);
	border-left: 3px solid var(--ucl-menuleft-hover-background);
}

.mdl-account .list .item:hover{
	border-left: 0; 
}

.left-menu .list .item .fa,.left-menu .list-2 .item .fa,.mdl-account .list .item .fa{
	margin-right: 17px;
	font-size: 1.3em;
	vertical-align: middle;
	/*position: relative;
	top: -2px;*/
	float: left;
	color: var(--primary-iconleft-color);
}

.left-menu .list .icon-lunar-newyear {
	width: 22px;
	height: 22px;
	margin-right: 11px;
	display: inline-block;
	background-image: url(../images/lunarnewyear-2.svg);
	background-position: left top;
	background-size: 22px auto;
	background-repeat: no-repeat;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.left-menu .list .active .icon-lunar-newyear {
	background-image: url(../images/lunarnewyear-2-active.svg);
}

.left-menu .list .item .icon-trend{
	margin-right: 13px;
	font-size: 1.2em;
	left: -3px;
	position: relative;
}

.left-menu .list .item .icon-fire{ 
	margin-left: 2px;
	margin-right: 19px;
	font-size: 1.465em;
}

.icon-package,.icon-video,.icon-moon,.icon-about{
	font-size: 1.6em !important;
}

.icon-package{
	font-size: 1.4em !important;
}


.icon-locked{
	font-size: 1.6em !important;
	margin-left: 2px !important;
}

.icon-moon{
	margin-right: 14px !important;
}

.icon-fire{
	margin-left: 3px;
	margin-right: 18px; 
}

.left-menu .list .item .fa-angle-down{
	margin-left: 4px;
	margin-right: 21px;
	color: #a1a1a1;
}

.left-menu .list .item .icon-addcircle{
	margin-left: 5px;
	color: var(--primary-icon-color);
}

.left-menu .list .active,.left-menu .list-2 .active{
	color: var(--primary-active-color) !important;
	border-left: 3px solid var(--primary-active-color) !important;
	font-family: 'Lusitana', Arial;
}

 .active .icon-addcircle::before,.left-menu .list-2 .active .icon-addcircle::before{
	color: #003365 !important;
}


.active .icon-history::before,.active .icon-watch::before,.active .icon-playlist::before,.active .icon-fire::before,.active .icon-register::before,.active .icon-follow::before,.active .icon-home2::before,.active .icon-trend::before {
	color: var(--primary-active-color) !important;
}

.left-menu .line-separate,.mdl-account .line-separate{
	float: left;
	width: 100%;
	height: 1px;
	margin: 10px 0;
	padding: 0;
	border-bottom: 1px solid var(--ucl-line-color);
}

.left-menu .sub-title,.mdl-account .sub-title{
	float: left;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-icon-color);
	padding: 0 20px;
	margin-top: 15px;
	font-family: 'Lusitana', Arial;
}

.left-menu .item .avatar, .mdl-general .title .title-image{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 10px 0 0;
	border-radius: 50%;
	background: #e3e3e3;
	vertical-align: middle;
}

.left-menu .item .avatar img, .mdl-general .title .title-image img{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.mdl-general .title .title-image{
	margin-right: 15px;
	position: relative;
	top: -2px;
}

.left-menu .for-app, .left-menu .for-social{
	float: left;
	width: 100%;
	padding: 0 0 0 10px;
}

.left-menu .for-app img{
	float: left;
	width: 95px;
	margin-left: 10px;
}

.left-menu .for-social img{
	float: left;
	width: 32px;
	height: 32px;
	margin: 30px 0 30px 10px;
}

.left-menu .text-copyright {
	padding: 15px 10px 0 20px;
	font-size: 14px;
	float: left;
	width: 220px;
}

/* 2.Like*/
.mdl-general{
	position: relative;
	float: left;
	width: 100%;
}

.body-detail-right .mdl-general{
	background: var(--primary-bg-color);
	padding: 15px;
}

.mdl-general .title, .content-share .title{
	font-size: 18px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	padding-right: 15px;
}

.mdl-general .title .popover-more {
	font-family: 'Lusitana';
	font-size: 14px;
	width: 180px;
}

.mdl-general .sort-type-video .fa,.mdl-general .sort-video .fa{
	margin: 0 5px;
}

.mdl-general .sort-type-video{
	float: left;
	cursor: pointer;
}

.mdl-general .sort-video{
	float: right;
	font-family: 'Lusitana';
	font-size: 14px;
	cursor: pointer;
}

.mdl-general .sort-video .popover-more {
	right: 0;
}

.mdl-general .title .switch-view{
	float: right;
	color: #aeaeae;
}

.mdl-general .title .switch-view span{
	padding-right: 15px;
	cursor: pointer;
}

.mdl-general .title .switch-view .selected{
	color: var(--primary-color);
}


.mdl-general .result-search{
	border-bottom: 1px solid var(--ucl-box-comment-border);
	padding: 10px 0 10px 0; 
	margin-bottom: 20px;
}

.body-detail-right .mdl-general .title{
	margin: 10px 0 15px 0;
}

.mdl-general .control-play{
	float: right;
	font-family: 'Lusitana';
	/*font-size: 14px;*/
	color: var(--ucl-name-author-color);
	/*position: relative;*/
	padding: 15px 0;
}

.mdl-general .control-play .line{
	display: inline-block;
	height: 14px;
	position: relative;
	background: #d2d2d2;
	width: 36px;
	border-radius: 8px;
	margin-left: 10px;
	cursor: pointer;
}

.mdl-general .control-play .cricle{
	display: inline-block;
	position: absolute;
	top: -3px;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--primary-bg-color);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.6);
}

.mdl-general .control-play .line-active{
	background: #93c9f2;
}

.mdl-general .line-active .cricle{
	left: 16px;
	background: #0181fe;
}


.mdl-general .title a{
	color: var(--primary-color);
}

.mdl-general .title .text-1{
	text-transform: uppercase;
	font-family: 'Lusitana';
	color: var(--primary-iconleft-color);
	font-size: 14px;
	padding-left: 20px;
}


.mdl-general .title .btn-default{
	float: right;
	color: #fff;
}

.mdl-general .title .btn-default:hover{
	color: #fff;
}

.mdl-general .title a:hover{
	color: var(--ucl-name-video-color);
}

.mdl-general .content{
	float: left;
	width: 100%;
	border-bottom: 1px solid var(--ucl-content-line-color);
}

.body-detail-right .mdl-general .content{
	border-bottom: 0;
	padding: 0; 
}


.mdl-like .image{
	position: relative;
	float: left;
	width: 100%;
	background: #e7e7e7;
}


/* 3.List video*/
.list-video{
	position: relative;
	float: left;
	width: 100%;
}

.list-video .item{
	position: relative;
	float: left;
	width: 25%;
	margin-bottom: 25px;
	padding-right: 15px;
	font-size: 12px;
}

.list-video .owl-carousel{

	display: block;
}

.list-video .owl-carousel .item{
	padding-right: 0;
}
.owl-carousel .item{
	width: 100%;
}

.list-video .owl-loaded .item{
	width: 100%;
}

.list-video .owl-carousel .owl-controls .owl-nav .owl-next,.list-video .owl-carousel .owl-controls .owl-nav .owl-prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	background-position: center;
	-webkit-box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.5);
	-moz-box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.5);
	box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, 0.5);
	background-size: 14px 14px;
	overflow: hidden;
	padding-left: 40px;
	top: 21% !important;

}
/*/ backup_20200407*/

/*.list-video .owl-carousel  .owl-nav .owl-next,.list-video .owl-carousel  .owl-nav .owl-prev {*/
/*	width: 40px;*/
/*	height: 40px;*/
/*	border-radius: 50%;*/
/*	background-color: #fff;*/
/*	background-position: center;*/
/*	-webkit-box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.5);*/
/*	-moz-box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.5);*/
/*	box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.5);*/
/*	background-size: 14px 14px;*/
/*	overflow: hidden;*/
/*	padding-left: 40px;*/
/*	top: 21% !important;*/
/*}*/




/*.owl-carousel .owl-nav .disabled{ display: none;}*/
/*.owl-carousel .owl-nav .owl-next {*/
/*	top: 26%; right: -16px; position: absolute; cursor: pointer;*/
/*	width: 16px; height: 16px; background: url("../images/next.png"); background-size: 16px 16px;*/
/*}*/

/*.owl-carousel .owl-nav .owl-prev {*/
/*	top: 26%; left: -32px; position: absolute; cursor: pointer;*/
/*	width: 16px; height: 16px; background: url("../images/prev.png"); background-size: 16px 16px;*/
/*!*}*! backup_20200407*/

.owl-carousel .owl-nav .owl-next {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	top: 26%; right: -25px; position: absolute; cursor: pointer;
	width: 16px; height: 16px; background: url("../images/next.png"); background-size: 16px 16px;
	background-repeat: no-repeat;
}

.owl-carousel .owl-nav .owl-prev {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	top: 26%; left: -25px; position: absolute; cursor: pointer;
	width: 16px; height: 16px; background: url("../images/prev.png"); background-size: 16px 16px;
	background-repeat: no-repeat;
}


.tabcontent .list-video .item{
	margin-bottom: 10px;
}

.list-video .item .remove-video{
	position: absolute;
	top: 2px;
	right: 0;
	color: var(--primary-iconleft-color);
	cursor: pointer;
}

.list-video .item .remove-video:hover{
	color: var(--primary-color);
}

.full-body-content .list-video .item {
	width: 20%; 
}

.full-body-content .list-video .owl-carousel .item {
	width: 100%; 
}

.list-video-horizontal-left{
	width: 70%;
}

.list-video-horizontal-left-full{
	width: 100%;
}

.list-subscription {
	width: 90%; 
}

.list-video-horizontal-left .description .name-video {
	padding-right: 10px;
}

.menu-history{
	width: 30%;
	float: right;
	padding-left: 50px;
}

.menu-history p{
	width: 100%;
	border-bottom: 1px solid var(--ucl-modal-box-border);
	padding: 15px 0;
	margin: 0;
}

.menu-history p:hover{
	color: var(--primary-iconleft-color);
}

.menu-history p .icon-delete{
	float: right;
	color: var(--primary-iconleft-color);
	cursor: pointer;
	font-size: 12px;
	margin-top: 2px;
}

.menu-history p .icon-delete:hover{
	color: var(--primary-color);
}

.menu-history .item-title{
	padding-top: 0;
}

.menu-history .item-title:hover{
	color: var(--primary-color);
}

.menu-history .item,.menu-history .item-clear{
	cursor: pointer;
}

.menu-history .item{
	padding-left: 15px;
}

.menu-history .item .fa{
	float: right;
	display: none;
}

.menu-history .selected,.menu-history .selected:hover{
	color: var(--ucl-item-selected-color);
	font-family: 'Lusitana', Arial;
}

.menu-history .selected .fa{
	display: inline-block;
}

.list-video-horizontal .item, .list-video-horizontal-left .item{
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding-right: 0;
	display: table;
}

.list-subscription .item{
	margin-top: 15px;
}

.list-video .item-channel{
}

.list-video .item-channel .btn-default{
	float: right;
	margin-left: 15px;
}

.full-body-content .list-video-horizontal-left .item {
	width: 100%;
}

.list-video .image{
	position: relative;
	float: left;
	width: 100%;
	/*background: #e7e7e7;*/
	overflow: hidden;
	display: block;
}


.list-video-horizontal .image{
	width: 168px;
	display: table-cell;
	height: 92px;
	vertical-align: top;
}

.list-video-horizontal-left .image{
	width: 230px;
	height: 129px;
	overflow: hidden;
	display: table-cell;
	vertical-align: top;
}

.list-video-horizontal-left .number{
	width: 35px;
	padding-top: 15px;
	display: table-cell;
	float: left;
	font-size: 14px;
	font-family: 'Lusitana', Arial;
}

.list-video .image img{
	width: 100%;
}

.list-video .item-channel .image{
	text-align: center;
	background: transparent;
}

.list-video .item-channel .image img{
	border-radius: 50%;
	width: 130px;
	height: 130px;
}

.list-video .item-channel .description{
	padding-top: 20px;
}

.list-video .description{
	margin-top: 16px;
	float: left;
	width: 100%;
	height: 81px;
}

.list-playlist .description{
	height: auto;
}

.list-video .description .des-playlist{
	overflow: hidden;
	height: 40px;
	font-size: 14px;
}

.function-more{
	float: right;
	padding:0 0 0 10px;
	width: 24px;
	min-height: 20px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.function-more .fa-ellipsis-v {
	font-size: 18px;
}

.list-video-horizontal .function-more{
	padding-right: 0;
	height: 20px;
}

.function-more .button-link-more{
	color: var(--primary-iconleft-color);
	display: none;
}


.item:hover .function-more .button-link-more,.item:focus .function-more .button-link-more,.item .selected .button-link-more {
	display: inline-block;
}

.function-more .popover-more{
	text-align: left;
	width: 195px;
	right: 0;
	display: none;
}

.function-more .popover-more-top{
	bottom: 20px;
}

.selected.popover-more,.selected.content-share,.selected.content {
	display: block !important;
}

.list-video .description .des{
	font-size: 13px;
	color: var(--ucl-name-author-color);
	text-align: justify;
	max-height: 35px;
	overflow: hidden;
}

.list-video .description .des::after.list-video .description .des::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.list-video-horizontal .description,.list-video-horizontal-left .description{
	width: 1000px;
	display: table-cell;
	float: none;
	padding-left: 15px;
	vertical-align: top;
}

.list-subscription .description{
	padding-top: 20px;
}

.list-subscription .sub-content {
	display: table;
}

.list-subscription .sub-content .sub-left-content{
	display: table-cell;
	vertical-align: top;
	width: 10000px;
}

.list-subscription .sub-content .right-content{
	display: table-cell;
	vertical-align: top;
	margin-left: 10px;
}

.list-video .description .name-video{
	font-size: 14px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	/*line-height: normal;

	width: 100%;*/
	width: auto;
	display: block;
	max-height: 40px;
	overflow: hidden;
	margin-bottom: 5px;
}


.list-video-horizontal-left .description .name-video{
	font-size: 18px;
	font-family: 'Lusitana', Arial;
	max-height: 46px;
	line-height: normal;
}

/*Trường hợp thêm icon more cho trang channel*/
#tab1 .list-video .description .name-video,#tab2 .list-video .description .name-video{
	width: auto;
}

.list-video .description .name-video:hover{
	color: var(--ucl-name-video-hover-color);
}

.list-video .description .name-author{
	font-size: 13px;
	color: var(--ucl-name-author-color);
	display: block;
	width: 100%;

	/*padding: 5px 0 0 0;*/

	/* Cut off text */
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.list-video .description .name-author:hover{
	color: var(--primary-color);
}

.list-video .description .name-author:hover .status-follow {
	border-color:var(--primary-color);
}

.list-video-horizontal-left .description .name-author{
	display: inline-block;
	max-width: 100%;
	width:auto;
	margin:0 3px 0 0;
	white-space: normal;
	overflow: hidden;
	height: 20px;
	vertical-align: top;
	/*vertical-align: bottom;*/
}

.list-video .description .info{
	width: 100%;
	float: left;
	font-size: 13px;
	color: var(--ucl-name-author-color);
	padding-top: 0;
}

.list-video-horizontal-left .description .info{
	width: auto;
	float: none;
	font-size: 13px;
	display: inline-block;
}

.list-video .description .info a{
	color: var(--ucl-name-author-color);
}

.list-video .description .info a:hover{
	color: var(--primary-color);
}

.list-video .description .cols-info{
	max-width: 50%;
	float: left;
	padding-right: 5px;

	/*cut off text*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.list-video .description .text-waiting{
	color: #ff9900;
}

.list-video-horizontal-left .description .cols-info{
	max-width: 100%;
}

.list-video .description .cols-info:last-child{
	padding-right: 0;
}

.list-video-horizontal .description .cols-info{
	max-width: 100%;
	width: 100%;
	display: inherit;
	white-space: normal;
	height: 16px;
	line-height: normal;
}

.list-video-horizontal .description .cols-info .fa-circle{
	display: none;
}


.list-video .description .cols-info .fa-circle{
	margin-right:2px;
	font-size: 0.25em;
	position: relative;
	top: -3px;
}


.list-video .image .overlay-watch-late {
	border-radius: 5px;
	background: rgba(0,0,0,0.67);
	padding: 8px 10px;
	font-size: 1.6em;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	line-height: 16px;
	vertical-align: middle;
	cursor: pointer;
	display: none;
}

.list-video .image:hover .overlay-watch-late {
	display: inline-block;
}

.list-video .image .time{
	display: inline-block;
	border-radius: 3px;
	background: rgba(0,0,0,0.67);
	padding: 2px 4px;
	font-size: 12px;
	position: absolute;
	bottom: 4px;
	right: 4px;
	color: #fff;
	line-height: 15px;
	height: 18px;
	vertical-align: middle;
}

.status-follow{
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid var(--primary-iconleft-color);
	font-size: 0.65em;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	border-radius: 50%;
	position: relative;
	top: -2px;
	margin-left: 5px;
}

.icon-checker::before {
	font-size: 1.13em;
}

.watching{
	background: rgba(0,0,0,0.67);
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5px;
	left: 0;
	z-index: 2;
}

.watching .progress{
	background: #cb0332;
	float: left;
	height: 5px;
}

/* 4.List channel*/
.list-channel{
	width: 100%;
	display:flex ;
	flex-wrap: wrap;
}

.list-channel .item{
	position: relative;
	float: left;
	width: 25%;
	margin-bottom: 25px;
	padding-right: 15px;
	text-align: center;
}

.full-body-content .list-channel .item{
	width: 20%;
}

.list-channel .image{
	position: relative;
	width: 105px;
	height: 105px;
	border-radius: 50%;
}

.list-channel .image img{
	border-radius: 50%;
	width: 105px;
	height: 105px;
}

.list-channel .btn-register{
	margin: 20px auto 50px  auto;
	float: none;
	width: 140px;
	text-transform: uppercase;
	padding: 7px 10px;
}

.list-channel .name-channel,.list-channel .text-1{
	display: block;
	clear: both;
	color: var(--primary-icon-color);
	margin-top: 5px;

	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.list-channel .name-channel{
	font-family: 'Lusitana', Arial;
	color: var(--primary-color);

	display: block;
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

/* 5.Mdl notify*/
.mdl-notify,.mdl-account {
	position:absolute;
	width: 390px;
	right: 0;
	max-height: 431px;
	z-index: 5;
	border-radius: 5px;
	background: var(--primary-bg-color);
	border: 1px solid var(--primary-bg-color);
	text-align: left;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	display: none;
}

.mdl-account {
	width: 310px;
	height: auto;
}

.mdl-notify .title,.mdl-account .title {
    font-size: 15px;
    font-family: 'Lusitana', Arial;
    color: var(--ucl-name-video-color);
	background: var(--ucl-menuleft-background);
	text-transform: uppercase;
	text-align: left;
	padding: 10px 10px 5px 10px;
	border-bottom: 1px solid var(--ucl-line-color);
	float: left;
	width: 100%;
	line-height: 36px;
}

.mdl-notify .item{
	position: relative;
	float: left;
	width: 100%;
	padding: 10px 0;
}

.mdl-notify .list-notify{
	float: left;
	width: 372px;
	overflow-x: hidden;
}

.mdl-notify .list-notify:hover{
	float: left;
	width: 100%;
}

.mdl-notify .list-notify .scroll{
	float: left;
	max-height: 375px;
	width: 388px;
	overflow-y: scroll;
}

.mdl-notify .list-notify .item{
	width: 100%;
	position: relative;
	float: left;
}

.mdl-notify .list-notify .item .icon-status{
	position: absolute;
	left: 5px;
	top: 26px;
	background: #0181fe;
	width: 5px;
	height: 5px;
	box-shadow: 0 1px 5px 0 rgba(1, 129, 254, 0.6);
	border-radius: 50%;
	display: none;
}

.mdl-notify .list-notify .unread .icon-status{
	display: inline-block;
}

.mdl-notify .list-notify .item:hover{
	background: var(--ucl-box-comment-border);
}

.mdl-notify .list-notify .item .avatar{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	float: left;
	margin: 0 15px;
}

.mdl-notify .list-notify .item .text-1{
	width: 163px;
	float: left;
	font-size: 14px;
	margin: 0;
	color: var(--primary-color);
}

.mdl-notify .right-content{
	width: 130px;
	float: right;
	position: relative;
}

.mdl-notify .right-content .popover-more{
	right: 20px;
	top:  5px;
}

.mdl-notify .right-content img{
	width: 96px;
	height: 53px;
	float: left;
}

.mdl-notify .right-content .button-link-more{
	width: 24px;
	height: 24px;
	float: right;
	text-align: center;
	line-height: 24px;
	vertical-align: middle;
	display: none;
	cursor: pointer;
}

.mdl-notify .list-notify .item:hover .button-link-more,.mdl-notify .list-notify .selected .button-link-more{
	display: block;
}

.mdl-notify .right-content .button-link-more .fa-ellipsis-v{
	color: var(--primary-iconleft-color);
	font-size: 17px;
}

.mdl-notify .right-content .button-link-more:hover .fa-ellipsis-v{
	color: var(--primary-color);
}

.popover-more{
	position:absolute;
	width: 265px;
	z-index: 6;
	border-radius: 5px;
	display: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.selected .popover-more{
	display: block;
}

.popover-more .item-popover{
	background: var(--primary-bg-color);
	border: 1px solid var(--ucl-modal-box-border);
	padding: 13px;
	cursor: pointer;
	position: relative;
	border-bottom: 0;
}

.popover-more .item-popover:hover,.popover-more .item-selected {
	background: var(--ucl-contact-register-background);
}

.popover-more .item-popover:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.popover-more .item-popover:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid var(--ucl-modal-box-border);
}

/* 7.mdl-package*/
.mdl-package{
	float: left;
	width: 100%;
	text-align: center;
}

.mdl-package h1{
	font-family: 'Lusitana';
	font-size: 38px;
	margin-top: 50px;
}

.mdl-package .text-1{
	font-family: 'Lusitana';
	color: #808080;
}

.mdl-package .item{
	float: left;
	width: 33.333%;
	padding: 0 20px;
	margin-top: 15px;
}

.mdl-package .item .content{
	background: var(--ucl-box-package-background);
	padding: 23px;
	float: left;
	width: 100%;
	padding-bottom: 30px;
	border-radius: 2px;
}

.mdl-package .item .content:hover{
	background: var(--ucl-box-package-hover-background);
}

.mdl-package .title{
	text-transform: uppercase;
	font-size: 26px;
	color: #f90390;
	margin: 10px 0;
	font-family: 'Lusitana';
}

.mdl-package .text-2{
	font-size: 26px;
	margin: 20px 0;
	line-height: 24px;
}

.mdl-package .text-3{/*Cut text*/
	max-height: 40px;
	overflow: hidden;
}

.mdl-package sup{
	position: relative;
	top: -9px;
}

.mdl-package .text-2 .text-sub,.mdl-package sup{
	font-size: 12px;
}

.mdl-package .text-2 .text-sub{
	display: block;
	line-height: normal;
}

.mdl-package .item .check{
	height: 40px;
	font-size: 1.6em;
}

.mdl-package .item .icon-checker {
	color:#f90c94;
}

.mdl-package .item .check .fa{
	display: none;
}

.mdl-package .registed .check .fa{
	display: inline-block;
}


.mdl-package .item .row-detail{
	float: left;
	width: 100%;
	border-top: 1px solid var(--ucl-box-comment-border);
	border-bottom: 1px solid var(--ucl-box-comment-border);
	padding: 20px 0;
}

.mdl-package .item .row-detail p{
	margin-bottom: 0;
	margin-top: 12px;
}

.mdl-package .item .btn-package{
	float: right;
	border-radius: 2px;
	padding: 6px 15px;
	vertical-align: middle;
	position: relative;
	font-size: 18px;
	border: 2px solid var(--ucl-ui-button-register-border);
	cursor: pointer;
	color: var(--ucl-ui-button-register-border);
	width: 100%;
	text-align: center;
}

.mdl-package .item .btn-package:hover{
	background: var(--ucl-box-btn-package-hover-background);
	color: #fff;
}

.mdl-package .item .btn-package-remove{
	color: var(--primary-icon-color);
	border: 2px solid var(--primary-icon-color);
	display: none;
}

.mdl-package .item .btn-package-remove:hover{
	background: var(--ucl-box-btn-package-hover-background);
	color: #fff;
}

.mdl-package .registed .btn-package{
	display: none;
}

.mdl-package .registed .btn-package-remove{
	display: block;
}



/* 8.mdl-play*/
/*.bg-playlate {*/
/*	background-image:url(../images/bg_playlate.gif);*/
/*	background-repeat: repeat-y;*/
/*}*/

.mdl-play-left{
	float: left;
	width: 290px;
	padding: 15px;
	background: var(--ucl-box-play-background);
	position: relative;
	/*left: -35px;*/
	margin-right: 15px;
	display: table-cell;
	vertical-align: top
}

.mdl-play-left .item-hightlight{
	float: left;
	position: relative;
	width: 100%;
}

.mdl-play-left .item-hightlight .overlay, .list-playlist .image .overlay{
	padding: 10px 0;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: rgba(0,0,0,0.67);
}

.mdl-play-left .item-hightlight img{
	width: 260px;
	height: 146px;
}

.mdl-play-left .item-info{
	float: left;
	width: 100%;
	padding: 10px 0;
	color: var(--primary-icon-color);
}

.mdl-play-left .item-info .link-random{
	float: right;
	margin: 20px 0 0 15px;
	color: #9d9d9d;
	font-size: 1.5em;
}

.mdl-play-left .item-info .text-1{
	font-size: 18px;
	font-family: 'Lusitana', Arial;
	margin: 10px 0 0 0;
	color: var(--primary-icon-color);
	word-break: break-word;
}

.mdl-play-left .item-info .text-1 a{
	color: var(--primary-icon-color);
}

.mdl-play-left .item-info .text-info{
	color: var(--primary-iconleft-color);
	margin-bottom: 0;
}

.mdl-play-left .item-info .text-info .fa{
	font-size: 0.20em;
	margin: 0 3px;
	position: relative;
	top: -3px;
}

.mdl-play-left .item-info .text-info .button-delete{
	cursor: pointer;
	position: relative;
	top: -3px;
}

.mdl-play-left .item-info .text-info .button-delete .fa {
	font-size: 1.7em;
	margin: 0;
}

.mdl-play-left .item{
	float: left;
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #e0e0e0;
	color: var(--primary-icon-color);
	line-height: 40px;
	vertical-align: middle;
}

.mdl-play-left .item .icon{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #898989;
	color: #898989;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 1.2em;
}

.mdl-play-left .item .avatar-text{
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background-color: #006cd6;
	color: #fff;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 18px;
}

.mdl-play-left .item .text-1,.mdl-play-left .item .text-2{
	line-height: normal;
	margin: 0;
}

.mdl-play-left .item .text-2{
	display: none;
}

.mdl-play-left .item .text-1{
	font-family: 'Lusitana', Arial;
	font-size: 14px;
	padding-top: 12px;
}

.mdl-play-right{
	display: table-cell;
	width: 10000px;
	padding-top: 15px;
	vertical-align: top;
}

.mdl-play-right .warning{
	padding: 10px 15px;
	background: #006cd6;
	color: #fff;
	font-size: 14px;
	width: 100%;
	margin: 0 0 15px 0;
}

.mdl-play-right  .list-video-horizontal-left {
	width: 100%;
}

.mdl-play-right .list-video-horizontal-left .image {
	width: 140px;
	height: 78px !important;
}

.mdl-play-right .list-video-horizontal-left .item {
	min-height: 78px !important;
	min-height: 460px;
}

.mdl-play-right .list-video-horizontal-left .has-number {
	padding-left: 35px;
	position: relative;
}

.mdl-play-right .list-video-horizontal-left .has-number .number {
	left: 0;
	top: 10px;
	position: absolute;
}

/* 9. mdl-comment */
.media-body {
    width: 10000px;
}
.media, .media-body {
    overflow: hidden;
}
.media-left, .media-right, .media-body {
	display:table-cell;
	vertical-align: top;
}


/* 10. player */
.player{
	background: #000;
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
}

.player .btn-play{
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin-left: -32px;
	margin-top: -32px;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	color: #fff;
	border-radius: 50%;
	background: #0777e5;
	font-size: 1.6em;
}

.player .btn-play:hover {
    background: #165ec3;
}

.player .btn-play .fa{
	position: relative;
	margin-right: -4px;
	color: #fff;
}

/* 11. video */
.info-video{
	background: var(--primary-bg-color);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	float: left;
	width: 100%;
}

.info-video .right{
	float: right;
}
.info-video .info-video-name,.info-video .info-video-user {
	padding: 15px 15px 15px 15px;
	float: left;
	width: 100%;
}

.info-video .info-video-name .tagline{

}

.info-video .info-video-name h3 {
	margin-top: 0px;
}

.info-video .info-video-name .chapter {
	padding: 25px 0 15px 0;
	float: left;
	width: 100%;
}

.info-video .info-video-name .chapter a{
	background: #dfdfdf;
	color: var(--ucl-name-video-color);
	display: inline-block;
	padding: 3px 10px 1px 10px;
	cursor: pointer;
	margin-left: 5px;
}

.info-video .info-video-name .chapter a:hover,.info-video .info-video-name .chapter a.active{
	background: #0181ff;
	color: #fff;
}

.info-video .info-video-user {
	padding-bottom: 0; padding-top: 5px;
	border-top: 1px solid var(--ucl-box-comment-border);
}

.info-video .info-video-name h3{
	font-size: 20px;
}

.info-video .info-video-name .cols-info{
	float: left;
	/*width: 15%;
	margin-right: 10px;*/
	margin-left: 40px;
	color: var(--ucl-comment-color);
	font-size: 14px;
	margin-top: 10px;
	position: relative;
}

.info-video .info-video-name .choosed,.info-video .info-video-name .choosed .fa,.info-video .info-video-name .choosed .icon-dislike::before {
	color: var(--primary-color);
}

.info-video .info-video-name .cols-info .fa{
	font-size: 1.3em;
	margin-right: 5px;
}

.info-video .info-video-name .cols-info .fa::before{
	color: var(--primary-iconleft-color);
}

.info-video .info-video-name .choosed .fa::before{
	color: var(--primary-color)
}

.info-video .info-video-name .cols-info .icon-addplaylist{
	font-size: 1.35em;
	vertical-align: middle;
}

.recommendChnl{
	padding-top: 20px!important;
	padding-bottom: 20px!important;
}
.recommendChnl .chnl{
	display: inline-block; width: 200px!important;
	padding-right: 20px!important;
}
.chnl .banner{
	width: 100%; height: 60px; display: block; overflow: hidden;
}

.chnl .user{
	position: relative;
	margin-top: -24px; margin-left: 12px;
}
.chnl .title{
	clear: both;
	font-weight: bold;
	padding-top: 10px;
	color: var(--primary-color);
}
.chnl .cols-info{
	padding-bottom: 10px;
}

.btn-add-playlist{
	cursor: pointer;
	display: block;
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.btn-add-playlist:hover{
	color: var(--primary-color);
	cursor: pointer;
}


.info-video .info-video-name .cols-info .alert-illegal{
	cursor: pointer;
}

.info-video .info-video-name .cols-info .alert-illegal:hover{
	color: #e53b56;
}

.info-video .user-avatar{
	float: left;
	width: 100%;
	padding: 10px 0;
	color: var(--primary-icon-color);
}

.info-video .user-avatar .text-1{
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
}

.info-video .user-avatar .text-2{
	font-size: 13px;
}

.info-video .user-avatar p{
	margin: 3px 0 0 0;
}

.info-video .user-avatar a{
	color: var(--ucl-name-video-color);
}

.info-video .btn-follow{
	background: #0181ff;
	color: #fff;
	border-radius: 2px;
	display: inline-block;
	padding: 3px 15px 1px 15px;
	cursor: pointer;
	margin-right: 15px;
}

.info-video .btn-follow:hover{
	background: #165ec3;
}

.info-video .function-button{
	float: right;
	margin-top: 10px;
}

.info-video .function-button a,.info-video .function-button span{
	padding: 8px 15px;
}

.btn-like{
	background: #e53b56;
}

.btn-like:hover{
	background: #e50024;
}

.btn-share{
}

.btn-share:hover{
	color: var(--primary-color);
	cursor: pointer;
}

.content-share,.function-add-playlist .content{
	position:absolute;
	padding:15px;
	z-index: 6;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	left: 0;
	top: 24px;
	background: var(--primary-bg-color);
	display: none;
}

.info-video .function-add-playlist {
	position:relative;
	bottom: -2px;
}

.info-video .function-add-playlist .icon-addplaylist{
	position:relative;
	top: -2px;
}

.function-more .function-add-playlist .content {/*For case in popup*/
	left: auto;
	right: 0;
}

.content-share{
	width: 468px;
}

.function-add-playlist .content{
	width: 250px;
	display: none;
}

.function-add-playlist .content .scroll{
	overflow-y: auto;
	max-height: 190px;
}

.function-add-playlist .content p{
	/* Cut off text */
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.function-add-playlist .content .title{
	font-size: 16px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	padding: 0 0 7px 0;
	border-bottom: 1px solid var(--ucl-box-comment-border);
	margin-bottom: 10px;
}

.function-add-playlist .ipt-check{
	position: relative;
	bottom: -1px;
	margin-right: 5px;
}

.function-add-playlist .bottom-playlist{
	border-top: 1px solid var(--ucl-box-comment-border);
	padding-top: 10px;
}

.function-add-playlist .btn-addplaylist {
	cursor:pointer;
}

.function-add-playlist .btn-addplaylist .icon-plus{
	margin-right: 5px;
	position: relative;
	bottom: -1px;
}

.function-add-playlist .text-ipt{
	width: 100%;
	border: 0;
	border-radius: 16px;
	background: #f1f1f1;
	padding: 7px 10px;
	margin: 5px 0;
}

.function-add-playlist .btn-default{
	width: 100%;
	padding: 7px;
	margin-top: 5px;
}


.content-share .images {
	float: left;
	width: 100%;
	padding: 10px 0;
	position: relative;
	margin-left: -8px;
}

.content-share .images img{
	width: 32px;
	height: 32px;
	margin-left: 8px;
	margin-bottom: 8px;
}

.content-share .ipt-embed{
	background: var(--primary-bg-color);
	border: 1px solid #e6e6e6;
	width: 100%;
	padding: 5px 10px;
	border-radius: 3px;
}

.content-share .bottom-share{
	float: left;
	width: 100%;
	padding-top: 10px;
	text-align: right;
}

.content-share .bottom-share span,.content-share .bottom-share button{
	border: 0;
	background: transparent;
	text-transform: uppercase;
	color: var(--primary-color);
	display: inline-block;
	margin: 0 10px;
	padding: 3px;
}

.content-share .bottom-share span:hover,.content-share .bottom-share button:hover{
	color: var(--primary-icon-color);
	cursor: pointer;
}

.info-video .function-button .fa{
	font-size: 1.2em;
	bottom: -2px;
	position: relative;
	margin-right: 10px;
}

.info-video .user-avatar .user{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #dcdcdc;
	display: block;
	float: left;
	margin-right: 10px;
}

.info-video .user-avatar .user img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.info-video .info-video-description{
	float: left;
	width: 100%;
	padding: 15px;
	border-top: 1px solid var(--ucl-box-comment-border);
}

.info-video .info-video-description .content-text .text-category{
	padding: 20px 0;
	font-weight: bold;
}

.info-video .info-video-description .content-text .text-category a{
	padding: 0 20px;
	color: #006cd6;
	font-weight: normal;
}

.info-video .info-video-description .content-text{
	margin-bottom: 10px;
	height: 40px;
	overflow: hidden;
	color: var(--primary-icon-color);
}

.info-video .info-video-description .text-2{
	display: none;
}

.info-video .info-video-description .btn-view-full{
	color: var(--primary-color);
	cursor: pointer;
}

.info-video .info-video-description .btn-view-full:hover{
	color: var(--ucl-name-video-color);
}

.info-video .open-description .content-text{
	height: auto;
}

.info-video .open-description .text-1{
	display: none;
}

.info-video .open-description .text-2{
	display: inline-block;
}


/* 12. comments */
.mdl-comments{
	background: var(--primary-bg-color);
	margin-top: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	padding-bottom: 15px;
	float: left;
	width: 100%;
}

.mdl-comments .title{
	padding: 0 15px;
	font-size: 18px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	margin: 15px 0 10px 0;
}

.mdl-comments .title .sort-comment{
	margin-left: 25px;
	font-size: 14px;
	font-family: 'Lusitana';
	color: var(--primary-icon-color);
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
}

.mdl-comments .title .sort-comment .popover-more {
	text-transform: none;
	left: 0;
	top: 25px;
	width: 185px;
}

.mdl-comments .title .sort-comment .popover-sort{
	display: none;
}

.mdl-comments .title .sort-comment .fa{
	margin-right: 5px;
}

.mdl-comments .media-heading{
	margin: 0;
	font-family: 'Lusitana', Arial;
	font-size: 14px;
}

.mdl-comments .fa-heart{
	color: #e53b56;
}

.mdl-comments textarea{
	background: var(--ucl-box-comment-rep-background);
	width: 100%;
	height: 80px;
	border-radius: 2px;
	padding: 10px;
	border: 1px solid var(--ucl-box-border);
}
.mdl-comments textarea:focus-visible, .mdl-comments textarea:focus{
	border: 1px solid var(--ucl-box-border);
}
.mdl-comments .txt-time{
	color: var(--ucl-comment-color);
	font-size: 13px;
}

.mdl-comments .col{
	padding-right: 15px;
}

.mdl-comments span.col a,.mdl-comments .liked{
	color: var(--ucl-comment-like-color);
}

.mdl-comments a.col:hover,.mdl-comments .liked:hover{
	color: var(--ucl-name-video-color);
}

.mdl-comments .content{
	padding: 0 15px;
}

.mdl-comments .content img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.mdl-comments .content .media .media img{
	width: 32px;
	height: 32px;
}

.mdl-comments .item-typing .btn-default{
	margin: 15px 0 15px 15px;
	float: right;
}

/*13. mdl-banner*/
.mdl-banner {
	float: left;
	width: 100%;
	background: #fafafa;
	position: relative;
	overflow: hidden;
}

.mdl-banner .image{
	width: 100%;
}

.mdl-banner .overlay{
	position: absolute;
	right: 15px;
	bottom: 15px;
	background: rgba(0,0,0,0.67);
	padding: 10px 15px 10px 0;
	color: #fff;
	font-family: 'Lusitana', Arial;
	font-size: 12px;
}

.mdl-banner .overlay a{
	padding-left: 15px;
	color: #fff;
}

.mdl-banner .overlay img{
	width: 14px;
	height: 14px;
	vertical-align: middle;
	position:relative;
	top: -2px;
	margin-right: 5px;
}


/*14. mdl-banner*/
.channel-info {
	float: left;
	width: 100%;
	margin: 20px 0;
}

.channel-info {
	float: left;
	width: 100%;
	margin: 20px 0;
}

.channel-info .avatar{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 25px;
	background: var(--primary-bg-color);
	border-radius: 50%;
}

.channel-info .avatar img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.channel-info .text-1{
	font-size: 22px;
	font-family: 'Lusitana', Arial;
	color: var(--primary-color);
	padding-top: 6px;
	margin-bottom: 0;
}

.channel-info .text-1 .status-follow{
	width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 0.5em;
	color: var(--primary-iconleft-color);
	border-color: var(--primary-iconleft-color);
}

.channel-info .text-2{
	color: var(--primary-iconleft-color);
}

.channel-info .right-content {
	float: right;
	padding-top: 15px;
}

.list-subscription .right-content {
	float: right;
	padding-top: 35px;
	font-size: 14px;
	width: 130px;
	text-align: right;
	vertical-align: top;
}

.has-follow {
	position: relative;
	padding-right: 125px !important;
}

.has-follow .right-content {
	position: absolute;
	top: 10px;
	right: 0;
}

.list-subscription .right-content .link-notify{
	cursor: pointer;
	vertical-align: top;
	position: relative;
	bottom: -5px;
	display: inline-block;
	width: 25px;
}

.channel-info .right-content .btn-follow,.list-subscription .right-content .btn-follow{
	display: inline-block;
	border-radius: 2px;
	margin-right: 15px;
	padding: 10px 15px 8px 15px;
	background-color: #eeeeee;
	color: var(--ucl-name-author-color);
	text-transform: uppercase;
	cursor: pointer;
	vertical-align: top;
}

.channel-info .right-content .btn-follow .txt,.list-subscription .right-content .btn-follow .txt{
	padding-left: 5px;
}

.channel-info .right-content .btn-follow .txt-first,.list-subscription .right-content .btn-follow .txt-first{
	display: none;
}

.channel-info .right-content .btn-followed,.list-subscription .right-content .btn-followed{
	background-color: #003365;
	color: #fff;
}

.channel-info .right-content .btn-followed .txt,.list-subscription .right-content .btn-followed .txt{
	opacity: 0.5;
}

.channel-info .right-content .btn-followed .txt-first,.list-subscription .right-content .btn-followed .txt-first{
	display: inline-block;
}


.channel-info .right-content .link-edit,.btn-edit{
	display: inline-block;
	border-radius: 2px;
	margin-right: 15px;
	padding: 10px 15px 8px 15px;
	background-color: #388dde;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.channel-info .right-content .link-edit:hover,.btn-edit:hover{
	background-color: #2d71b2;
}

/*
.outline-channel{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


/*15.Tab*/
 /* Style the tab */
div.tab {
    overflow: hidden;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    /*transition: 0.3s;*/
	text-transform: uppercase;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    border-bottom: 3px solid var(--primary-icon-color);
}

/* Create an active/current tablink class */
div.tab button.active {
    border-bottom: 3px solid var(--primary-icon-color);
	color: var(--primary-color);
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
	height: 0;/*Use height for cases change tabs which use functions resize images*/
	overflow: hidden;
	float: left;
	width: 100%;
}
 /*
.tabcontent {
 -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;  Fading effect takes 1 second

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

}*/

/*16.mdl-about*/
.mdl-about {
	float: left;
	width: 100%;
}

.mdl-about .static{
	float: right;
	width: 260px;
	margin-left: 100px;
	margin-right: 50px;
}

.mdl-about h3{
	font-size: 16px;
}

.mdl-about .static h3{
	margin: 0;
	padding: 15px 0;
	border-bottom: 1px solid var(--ucl-box-comment-border);
	color: var(--primary-color);
}

.mdl-about .static p{
	padding: 15px 0;
	border-bottom: 1px solid var(--ucl-box-comment-border);
	margin: 0;
}

.mdl-about .static a{
	display: inline-block;
	margin-top: 10px;
	margin-right: 40px;
	color: #9c9c9c;
	font-size: 1.5em;
}

/*16.mdl-about*/
.mdl-upload {
	margin: 30px auto;
	width: 1000px;
}

.mdl-upload label{
	font-weight: normal;
}

.mdl-upload .iptlb{
	display: inline-block; width: 140px;
}

.mdl-upload .ipt1x{
	width: 131px;
}

.mdl-upload .ipt2x{
	width: 400px;
}

.mdl-upload .upload-left{
	float: left;
	width: 685px;
	margin-right: 15px;
	background: var(--primary-bg-color);
}

.mdl-upload .upload-right{
	float: left;
	width: 300px;
}

.mdl-upload .upload-area{
	padding:55px 50px;
	text-align: center;
	float: left;
	width: 100%;
	color: var(--primary-icon-color);
}

.mdl-upload .upload-area .btn-upload{
	width: 95px;
	height: 95px;
	border-radius: 50%;
	line-height: 25px;
}

.mdl-upload .upload-area .btn-upload i{
	font-size: 4em !important;
	margin: 0;
}

.mdl-upload .upload-area .text-1{
	font-size: 24px;
}

.mdl-upload .upload-area .link-view-more {
	float: none;
	display: inline-block;
}

.mdl-upload  .mdl-upload-guide {
	background: var(--primary-bg-color);
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.mdl-upload .upload-center{
	width: 830px;
	background: var(--primary-bg-color);
	padding: 20px;
	margin: 0 85px;
	float: left;
}

.mdl-upload .upload-center .avartar{
	width: 240px;
	height: 135px;
	float: left;
	background: #e8e8e8;
	margin-right: 30px;
}

.mdl-upload .upload-center .left-content{
	width: 520px;
	float: left;
}

.mdl-upload .mdl-upload-guide{
	height: 340px;
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 100%;
	font-size: 13px;
}

.mdl-upload .upload-bottom {
	background: var(--primary-bg-color);
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 100%;
	font-size: 13px;
}

.mdl-upload .mdl-upload-guide .content-upload-bottom{
	overflow: hidden;
	float: left;
	width: 268px;
}

.mdl-upload .mdl-upload-guide:hover .content-upload-bottom{
	width: 100%;
}

.mdl-upload .mdl-upload-guide .content-upload-bottom .scroll{
	overflow-y: scroll;
	height: 240px;
	width: 280px;
}

.mdl-upload .mdl-upload-guide .title,.mdl-upload .upload-bottom .title{
	float: left;
	width: 100%;

	font-size: 16px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	padding: 0 0 15px 0;
}
.mdl-upload .mdl-upload-guide .scroll p{
	position: relative;
}
.mdl-upload .mdl-upload-guide .fa-check-circle{
	color: #6ac259; font-size: 1.4em; position: absolute; right: 20px;
}


.mdl-upload .btn-edit{
	width: 200px;
}

.mdl-upload .link-extra {
	/*background:var(--ucl-box-comment-border);*/
	padding: 20px 0;
	text-align: right;
}

.mdl-upload .link-extra a{
	background: var(--primary-bg-color);
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #cccccc;
	padding: 5px 15px;
	margin-top: 0;
	color: var(--primary-color);
	margin-left: 20px;
}

.mdl-upload .link-extra a i{
	font-size: 0.7em;
	padding-right: 5px;
}

.mdl-upload .link-extra a:hover{
	border: 1px solid #999999;
	color: var(--ucl-name-video-color);
}

.mdl-upload .title-video-info .title {
    font-size: 16px;
    color: var(--primary-color)222;
    font-family: 'Lusitana', Arial;
    padding: 10px 0px;
}

.mdl-channel{
	width: 1000px;
	background: var(--primary-bg-color);
	margin: 30px auto;
}
.mdl-channel .content{
	display: block; padding: 20px;
}

.mdl-income .box{
	background: var(--primary-bg-color); padding: 15px; max-width: 600px; margin-bottom: 10px;
}
.mdl-income .box ul{
	list-style: none;
	margin: 0; padding: 0;
}
.mdl-income .box li{
	display: inline-block; width: 24%; text-align: center;
}
.mdl-income .box p{
	margin-bottom: 0px;
}
.mdl-income .box h3{ margin-top: 0px;}

.accordion-wrap {
	padding: 15px 0;
}

.mdl-ipx .box{
	background: var(--primary-bg-color); padding: 15px; max-width: 600px; margin-bottom: 10px;
}
.mdl-ipx .header{
	max-width: 600px;
	background: url('../images/ipx_bgl.png') no-repeat 50% 50%; position: relative;
	background-size: cover; min-height: 110px; margin-bottom: 0px;
}
.mdl-ipx .header .title{
	color: #fff; width: 76%; margin-bottom: 0px; padding: 15px;
}
.mdl-ipx .header .iphone{
	position: absolute; right: 12px; top: 6px;
}
.mdl-ipx .header span{
	display: inline-block;
}
.mdl-ipx table{
	font-size: 0.9em;
}
.mdl-ipx table thead th{
	border-bottom: 2px #ddd solid; text-align: left;
	padding: 6px; font-weight: bold;
}
.mdl-ipx table tbody tr:nth-child(2n+1){
	background: #f4f4f4;
}
.mdl-ipx table tfoot td{
	border-top: 2px #ddd solid;
	padding: 6px; font-weight: bold;
}
.mdl-ipx table td{
	padding: 6px;
}
.mdl-ipx table thead th:last-child,
.mdl-ipx table td:last-child{
	text-align: right;
}
.mdl-ipx .filterWeek .ipt{
	width: 37%; margin-right: 6px;
}
.mdl-ipx .filterWeek .icoCal{
	margin-left: -22px; margin-right: 6px; color: var(--primary-iconleft-color);
}
.mdl-ipx .filterMonth .btnBlue,
.mdl-ipx .filterWeek .btnBlue{
	display: inline-block; padding: 1px 16px 3px 16px; color: #fff;
	background: #009DFD;
}
.mdl-ipx .form-group{
	padding-top: 0px;
}

.mdl-ipx .filterMonth .ipt{
	margin: auto 6px; width: 50%;
}

.mdl-ipx .ctaBtn .btnBlue{
	color: #fff; width: 70%;background: #009DFD;
}
.txtInfo{ color: var(--primary-iconleft-color); font-size: 0.8em; }

.pagination{
	display: block; margin-top: 10px; margin-bottom: 10px;
}
.pagination a{
	display: inline-block; height: 24px; font-size: 0.9em; line-height: 22px;
	border: 1px #eee solid; text-align: center; color: #888!important; padding: 0 8px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.pagination a.active{
	background: #009DFD; color: #fff!important; border: 1px #009DFD solid;
}

.mdl-event{
	position: relative;
}
.mdl-event .poster{
	max-width: 800px;
}
.mdl-event .btn-white{
	position: absolute;
	left: 14%; bottom: 18%;
}

.accordion-wrap .accordion-content{
	display: none;
}

.accordion-wrap .link-edit-video{
	color: #006cd6;
	width: 100%;
	text-align: center;
	padding: 77px 0;
	text-decoration: underline;
	cursor: pointer;
}

.accordion-wrap.open .accordion-content{
	display: block;
}

.accordion-wrap.open .link-edit-video{
	display: none;
}

/* 17.menu-support*/
.menu-support{
	background: var(--ucl-box-comment-border);
	float: left;
	width: 20%;
	text-align: left;
	font-size: 14px;
	overflow: hidden;
	margin-top: 20px;
	padding-right: 30px;
}

.menu-support h4{
	color: var(--primary-icon-color);
	text-transform: uppercase;
	padding:0 20px;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 0;
	/* Cut off text */
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.menu-support .item {
	width: 100%;
	float: left;
	color: var(--primary-icon-color);
	padding: 10px 10px 10px 17px;
	border-left: 3px solid var(--ucl-box-comment-border);
	margin: 2px 0;

	/* Cut off text */
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.menu-support .item:hover{
	background: #f7f7f7;
	border-left: 3px solid #f7f7f7;
}

.content-support{
	padding-right: 60px;
	float: left;
	width: 80%;
	text-align: left;
	margin-top: 30px;
}

.content-support .list-tab{
	float: left;
	width: 100%;
	background: var(--primary-bg-color);
}

.content-support .title{
	border-bottom: 1px solid var(--ucl-box-comment-border);
	float: left;
	width: 100%;

	font-size: 18px;
	font-family: 'Lusitana', Arial;
	color: var(--ucl-name-video-color);
	padding: 15px 30px 10px 30px;

}

.list-tab .item{
	border-bottom: 1px solid var(--ucl-box-comment-border);
	float: left;
	width: 100%;
	padding: 15px 30px;
	overflow: hidden;
	height: 47px;
}

.list-tab .selected{
	height: auto;
}

.list-tab .icon-1{
	display: none;
}

.list-tab .icon-1,.list-tab .icon-2{
	padding-right: 10px;
}

.list-tab .selected .icon-1{
	display: inline-block;
}

.list-tab .selected .icon-2{
	display: none;
}

.list-tab .item .text-1{
	color: #006cd6;
	font-family: 'Lusitana', Arial;
	cursor: pointer;
}

/*18.mdl-edit-channel*/
.mdl-edit-channel {
	background: var(--primary-bg-color);
	float: left;
	width: 100%;
	margin-top: 30px;
}

.mdl-edit-channel .title{
	padding: 15px 55px;
	font-size: 20px;
	color: var(--primary-color);
	font-family: 'Lusitana', Arial;
	border-bottom: 1px solid var(--ucl-box-comment-border);
}

.mdl-edit-channel .text-3{
	font-family: 'Lusitana', Arial;
}

.mdl-edit-channel .content{
	background: var(--primary-bg-color);
	float: left;
	width: 100%;
	padding: 15px 200px 40px 40px;
}


.mdl-edit-channel .link-view-more{
	float: none;
	clear: none;
	display: inline-block;
	margin-left: 40px;

}

.mdl-edit-channel .link-view-more,.mdl-edit-channel .btn-default {
	padding: 7px 15px !important;
	min-width: 150px;
	border-radius: 2px;
	border: 0;
	vertical-align: top;
}

/*19.mdl-notfound*/
.mdl-notfound {
	margin:150px auto;
	width: 810px;
	text-align: center;
}

.mdl-notfound .box-search,.mdl-notfound .box-search form{
	background: var(--primary-bg-color);
}

.mdl-notfound .title{
	font-size: 8em;
	font-family: 'Lusitana';
}

.mdl-notfound .logo{
	margin-right: 10px !important;
}

/*20.mdl-login*/
.mdl-login {
	margin: 0 auto;
	width: 380px;
	background: #fff;
	padding: 10px 0;
	border-radius: 2px;
}

.mdl-login .title{
	font-size: 18px;
    font-family: 'Lusitana', Arial;
    color: var(--ucl-name-video-color);
	padding: 10px 25px;

	border-bottom: 1px solid var(--ucl-modal-box-border);
	margin: 0 0 20px 0;
}


/*21. list-playlist*/
.list-playlist .number{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 92px;
	top: 0;
	z-index: 2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: rgba(0,0,0,0.67);
	padding: 20% 0;
	font-size: 14px;
}

.body-content-right .list-playlist .item{
	height: auto;
}

.body-content-right .list-playlist  .name-video {
	height: 35px;
	line-height: normal;
}

.list-playlist .number .icon-playlist::before{
	color: #fff;
}

.list-playlist .image .overlay{
	top: 0;
	z-index: 3;
	padding: 25% 0;
	display: none;
	background: rgba(0,0,0,0.8);
}

.list-playlist .image:hover .overlay{
	display: block;
}

.list-playlist .image .overlay .fa-play{
	font-size: 1.4rem;
}

.cut-over{
	overflow:hidden;
}

.cut-over .item{
	display: block;
}

.list-video-horizontal-left .description {
    width: 62%;
    display: block;
    float: left;
    margin-top: 0;
	height: auto;
    /*overflow: hidden;*/
}

.list-video-no-images .description {width: 100%;}


/*22. body-detail*/
.width-common {
	width: 65%;
}

.body-detail {
	padding: 15px;
	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
}

.body-detail .content-right {
	width: 35%;
	float: right;
	position: relative;
	clear: right;
	padding-left: 15px;
}

.body-detail .content-right .mdl-general{
	padding: 0 15px;
	background: var(--primary-bg-color);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.body-detail .mdl-comments{
	order: 4;
	border: 1px solid var(--ucl-box-comment-border);
}

.body-detail .info-video{
	order: 2;
}

.body-detail .content-right {
	order: 3;
}

.body-detail .link-view-more {width: 100%; text-align: center; background: var(--ucl-view-more-background); color: #9c9c9c; }

/*promotion-event*/
.promotion-event {
	border-radius: 2px;
	padding: 0;
	vertical-align: middle;
	position: absolute;
	top: 9px;
	right: 270px;
	color: #fff;
	height: 31px;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	background: rgba(14,215,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(14,215,255,1)), color-stop(81%, rgba(17,152,219,1)), color-stop(100%, rgba(17,152,219,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: radial-gradient(ellipse at center, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed7ff', endColorstr='#1198db', GradientType=1 );
}

.promotion-event .content {
	position: relative;
	padding: 6px 15px 0 25px;
	font-family: 'Lusitana';
}

.promotion-event .image{
	width: 19px;
	position: absolute;
	left: 0;
	top: -3px;
}

/*23.Events*/
.mdl-banner-newyear {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 20px;
	padding-right: 15px;
}

.mdl-banner-newyear img{
	width: 100%;
	height: auto;
}

.has-event {
	background-image: url(../images/data/bg-tet.png);
	background-repeat: no-repeat;
	background-position: 45px top;
	background-size: 195px 48px;
}

.has-event .logo {
	background-image: url(../images/logo_2.gif);
	background-size: 106px 30px;
	height: 30px;
}


/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(11px) rotate(10deg);
    transform: translateX(11px) rotate(10deg);
  }
  20% {
    -webkit-transform: translateX(-11px) rotate(-10deg);
    transform: translateX(-11px) rotate(-10deg);
  }
  30% {
    -webkit-transform: translateX(11px) rotate(10deg);
    transform: translateX(11px) rotate(10deg);
  }
  40% {
    -webkit-transform: translateX(-11px) rotate(-10deg);
    transform: translateX(-11px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(10px) rotate(9deg);
    transform: translateX(10px) rotate(9deg);
  }
  60% {
    -webkit-transform: translateX(-10px) rotate(-9deg);
    transform: translateX(-10px) rotate(-9deg);
  }
  70% {
    -webkit-transform: translateX(10px) rotate(9deg);
    transform: translateX(10px) rotate(9deg);
  }
  80% {
    -webkit-transform: translateX(-10px) rotate(-9deg);
    transform: translateX(-10px) rotate(-9deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(11px) rotate(10deg);
    transform: translateX(11px) rotate(10deg);
  }
  20% {
    -webkit-transform: translateX(-11px) rotate(-10deg);
    transform: translateX(-11px) rotate(-10deg);
  }
  30% {
    -webkit-transform: translateX(11px) rotate(10deg);
    transform: translateX(11px) rotate(10deg);
  }
  40% {
    -webkit-transform: translateX(-11px) rotate(-10deg);
    transform: translateX(-11px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(10px) rotate(9deg);
    transform: translateX(10px) rotate(9deg);
  }
  60% {
    -webkit-transform: translateX(-10px) rotate(-9deg);
    transform: translateX(-10px) rotate(-9deg);
  }
  70% {
    -webkit-transform: translateX(10px) rotate(9deg);
    transform: translateX(10px) rotate(9deg);
  }
  80% {
    -webkit-transform: translateX(-10px) rotate(-9deg);
    transform: translateX(-10px) rotate(-9deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.promotion-event .hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);

	animation-name: hvr-buzz-out;
    animation-duration: 3s;
	animation-iteration-count: 1;
}
.promotion-event:hover .hvr-buzz-out,.promotion-event:focus .hvr-buzz-out,.promotion-event:active  .hvr-buzz-out {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.promotion-event::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(14,215,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(14,215,255,1)), color-stop(81%, rgba(17,152,219,1)), color-stop(100%, rgba(17,152,219,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	background: radial-gradient(ellipse at center, rgba(14,215,255,1) 0%, rgba(17,152,219,1) 81%, rgba(17,152,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ed7ff', endColorstr='#1198db', GradientType=1 );
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
	animation-iteration-count: 3;
}

.promotion-event:hover {
	color: #ffff00;
}

.promotion-event:hover:before, .promotion-event:focus:before, .promotion-event:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);

}

/*countdown-timer*/
.countdown-timer {
	float: left;
	width: 100%;
	background: #000;
	color: #8c8c8c;
	text-align: center;
	padding: 20% 0;
}

.content-playlist-player .countdown-timer {
	width: 65%;
}

.countdown-timer .text-1{
	color: #fff;
	padding-bottom: 30px;
}

.countdown-timer .number{
	text-transform: uppercase;
	width: 70px;
	display: inline-block;
	position: relative;
	line-height: 20px;
}

.countdown-timer .number::after{
	font-family: 'Lusitana';
	color: #fff;
	font-size:2.5em;
	content: ":";
	position: absolute;
	top: -3px;
	right: -7px;
}

.countdown-timer .number span{
	font-family: 'Lusitana';
	color: #fff;
	font-size: 3em;
	display: inline-block;
	clear: both;
	width: 70px;
}

.countdown-timer .number:last-child::after,.countdown-timer .number:first-child::after{
	display: none;
}



/*************************************************************************************/
/**************************************RESPONSIVE**************************************/
/*************************************************************************************/

@media (min-width: 1440px) {
	/*.body-content-right {width:1183px}*/
	.body-content-right {
		width: calc(100% - 240px) !important;
	}
	.body-content-right .list-video-horizontal-left .item,.body-content-right .list-playlist .item{height: auto}
	.player-container .vjs-playlist-item-list {max-height: 410px;}/*For playlist*/
	.player {height: 509px;}

	/*Fix height images*/

	.full-body-content .list-video .item .image{height: 140px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 179px;}
	.full-body-content .mdl-banner {height: 219px;}
	/*.left-playlist .vjs-mouse.vjs-playlist time {left: auto !important; right: 317px;}*/
}

@media (width:1366px) {
	.body-content-right {width:1107px}

	.body-content-right .list-video-horizontal-left .item,.body-content-right .list-playlist .item{height: auto}
	.player-container .vjs-playlist-item-list {max-height: 383px;}/*For playlist*/
	.player {height: 482px;}

	/*Fix height images*/
	.body-content-right .list-video .item .image{height: 132px}
	.full-body-content .list-video .item .image{height: 130px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 170px;}
	.full-body-content .mdl-banner {height: 210px;}
	/*.left-playlist .vjs-mouse.vjs-playlist time {left: auto !important; right: 291px;}*/

	.list-video .has-number .description .des-playlist {width: 509px;}
	.has-promotion .box-search,.has-promotion .suggesstion{width: 645px !important;}
	.has-promotion .box-search form input {width: 584px !important;}
	.has-promotion .suggesstion .scroll {width: 640px !important;}

	.has-promotion .box-search,.has-promotion .suggesstion{width: 600px !important;}
	.has-promotion .box-search form input {width: 539px !important;}
	.has-promotion .suggesstion .scroll {width: 595px !important;}
}

@media (width:1360px) {
	.body-content-right {width:1101px}
	.body-content-right .list-video-horizontal-left .item,.body-content-right .list-playlist .item{height: auto}
	.player-container .vjs-playlist-item-list {max-height: 380px; overflow: hidden}/*For playlist*/
	.player {height: 480px;}

	/*Fix height images*/
	.body-content-right .list-video .item .image{height: 131px}
	.full-body-content .list-video .item .image{height: 129px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 168px;}
	.full-body-content .mdl-banner {height: 209px;}
	/*.left-playlist .vjs-mouse.vjs-playlist time {left: auto !important; right: 289px;}*/

	.list-video .has-number .description .des-playlist {width: 503px;}

	.has-promotion .box-search,.has-promotion .suggesstion{width: 600px !important;}
	.has-promotion .box-search form input {width: 539px !important;}
	.has-promotion .suggesstion .scroll {width: 595px !important;}
}

@media (width:1280px) {
	.body-content-right {width:1040px}
	.body-content-right .list-video-horizontal-left .item,.body-content-right .list-playlist .item{height: auto}
	.player-container .vjs-playlist-item-list {max-height: 330px; min-height: 338px !important;}/*For playlist*/
	.player {height: 450px;}

	/*Fix height images*/
	.body-content-right .list-video .item .image{height: 120px}
	.full-body-content .list-video .item .image{height: 118px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 155px;}
	.full-body-content .mdl-banner {height: 195px;}
	/*.left-playlist .vjs-mouse.vjs-playlist time {left: auto !important; right: 261px;}*/

	.list-video .has-number .description .des-playlist {width: 423px;}

	.has-promotion .box-search,.has-promotion .suggesstion{width: 530px !important;}
	.has-promotion .box-search form input {width: 469px !important;}
	.has-promotion .suggesstion .scroll {width: 525px !important;}
}

@media (width:1024px) {
	.body-content-right {width:765px}
	.body-content-right .list-video-horizontal-left .item,.body-content-right .list-playlist .item{height: auto}
	.player-container .vjs-playlist-item-list {max-height: 261px;}/*For playlist*/
	.player {height: 357px;}

	/*Fix height images*/
	.body-content-right .list-video .item .image{height: 118px}
	.full-body-content .list-video .item .image{height: 118px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 113px;}
	.full-body-content .mdl-banner {height: 153px;}
	.left-playlist .vjs-mouse.vjs-playlist time {left: auto !important; right: 177px;}

	.list-video .has-number .description .des-playlist {width: 407px;}

	.has-promotion .box-search,.has-promotion .suggesstion{width: 285px !important;}
	.has-promotion .box-search form input {width: 224px !important;}
	.has-promotion .suggesstion .scroll {width: 280px !important;}
}



@media (max-width:1024px) {
	header .box-search, .mdl-notfound .box-search {width: 425px !important;}
	header .box-search form input{width: 364px !important;}
	.info-video .info-video-name .cols-info {margin-right: 30px;}
	.body-detail-right .list-video-horizontal .image{height: auto; width: 124px;}
	.list-video .description .cols-info {padding-right: 5px;}
	.mdl-notfound .box-search form input {width:364px !important;}

	.full-body-content .list-video .item {width: 25%;}
	.full-body-content .list-video-horizontal-left .item {width: 100%;}
	.player-container .vjs-playlist-item-list {min-height: 230px !important; max-height: 242px !important;}
	.player-container .content-playlist-player{min-height: 365px !important;}
	.mdl-notfound {width:542px;}
	.list-channel .btn-register {margin-bottom: 0;}

	header .suggesstion {width: 425px !important;}
	header .suggesstion .scroll {width: 419px !important;}

	.left-menu,.body-content-left{display: none;}

	.body-content-left{width: 0}

	.close-left-menu{
		background:rgba(0,0,0,0.5);
		left: 240px;
		position: fixed;
		z-index: 9999;
		top: 0px;
		right: 0;
		bottom: 0;
	}
}

@media (max-width:980px) {
	.list-video .owl-carousel .owl-controls .owl-nav .owl-prev,.list-video .owl-carousel .owl-controls .owl-nav .owl-next {top: 12%;}

	header .box-search, .mdl-notfound .box-search,header .suggesstion {width: 265px !important;}
	header .box-search form input{width: 204px !important;}
	header .suggesstion .scroll {width: 259px !important;}
	.body-detail-right .list-video-horizontal .image{height: auto; width: 124px;}
	.mdl-notfound .box-search form input {width:204px !important;}

	.full-body-content .list-video .item {width: 25%;}
	.full-body-content .list-video-horizontal-left .item {width: 100%;}
	.player-container .vjs-playlist-item-list {min-height: 230px !important; max-height: 242px !important;}
	.player-container .content-playlist-player{min-height: 365px !important;}
	.mdl-notfound {width:382px;}
	.list-channel .btn-register {margin-bottom: 0;}
	.mdl-upload .upload-left,.mdl-upload .upload-right {width: 100%;margin: 0px;}

	.mdl-upload {width: 100%;}
	.mdl-upload .mdl-upload-guide {height: 150px; margin-top: 15px;}
	.left-menu,.body-content-left{display: none;}

	.body-content-left{width: 0}

	.close-left-menu{
		background:rgba(0,0,0,0.5);
		left: 240px;
		position: fixed;
		z-index: 9999;
		top: 0px;
		right: 0;
		bottom: 0;
	}


	.mdl-package .title {font-size: 24px;}

	.menu-support{width: 30%;}

	.content-support {width: 70%; padding-right: 20px;}

	.list-video .description .des-playlist{	width:300px;}
	.menu-history{padding: 0; margin-bottom: 30px; width: 100%;}
	.cut-over {width: 100%;}
	.cut-over .description {width: 62%;}
	.list-video-horizontal-left .description .name-video {max-height: 45px;}
	.player-container .content-playlist-player .video-js.vjs-fluid, .content-playlist-player .countdown-timer {width: 100%;}
	.player-container .content-playlist-player .left-playlist {width: 100%; padding: 0 15px;}
	.mdl-general .control-play {font-size: 10px}
	.mdl-general .title, .content-share .title,.info-video .info-video-name h3{font-size: 16px;}
	.list-video-horizontal-left .has-number .description {width: 48%}

	.mdl-upload .upload-center {width: 100%; margin: 0;}
	.mdl-upload .upload-center .left-content {width: 62%;}
	/*.row-form .progress {width: 300px !important;}*/
	.list-video-no-images,.list-subscription {width: 100%;}
	.list-subscription .description {width: 48%;}
	.list-video-no-images .description  {padding-left: 0 !important;}

	.mdl-upload .mdl-upload-guide .content-upload-bottom,.mdl-upload .mdl-upload-guide .content-upload-bottom .scroll,.mdl-upload .mdl-upload-guide {width: 100%; height: auto;}
	.mdl-upload .link-extra {padding: 20px;}
	.vjs-playlist-now-playing-text::before {left: -15px !important;}
	.vjs-playlist-delete-button::before{font-size: 1.3em !important;}
	.left-playlist .vjs-csspointerevents.vjs-playlist {padding-left: 0 !important;}

	.width-common {width: 100%;}
	.body-detail .content-right {width: 100%; padding-left: 0; padding-top: 15px;}
	.body-detail {display: flex;}
	.body-detail .link-view-more {width: 100%; text-align: center; display: block;}

	.promotion-event {right:215px;}
	.promotion-event .text-1 {display: none;}
	.has-promotion .logo{margin-right: 10px;}
	.has-promotion .btn-upload {margin-right: 5px;}
	.has-promotion .right-content .link-login, .has-promotion .right-content .link-notify {margin: 0 5px;}
}

@media (width:980px) {
	.body-content-right {width:740px}
	.player-container .vjs-playlist-item-list {max-height: 244px;}/*For playlist*/
	.player {height: 347px;}

	/*Fix height images*/
	/*.body-content-right .list-video .item .image{height: 80px}
	.full-body-content .list-video .item .image{height: 78px}*/
	.body-content-right .list-video .item .image{height: 114px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.mdl-banner {height: 105px;}
	.full-body-content .mdl-banner {height: 145px;}
	.has-promotion .logo{margin-right: 80px;}
	.promotion-event .text-1 {display: inline-block;}
}

@media (max-width:800px) {
	.body-content-right .list-video .item .image{height: 89px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.list-video .description .des-playlist {width: 230px;}
}

@media (max-width:768px) {
	.body-content-right .list-video .item .image{height: 84px}
	.body-content-right .list-video-horizontal-left .item .image{height: 129px}
	.list-video .description .des-playlist {width: 200px;}
}


@media (min-width:1025px){
	.list-video-horizontal-left-full{
		width: 98% !important;
	}
	.hvr-radial-out:hover:before {
		-webkit-transform: scale(2);
		transform: scale(2)
	}
}


@media (min-width:1441px){
	/*body,.body-content {
		background: #fafafa !important;
	}*/
	.body-content-right, .body-detail-right {
		min-height: 1200px;
	}

	.container-detail .body-content{
		max-width:1440px;
		margin: 0 auto;
		float: none;
		display: grid;
	}
	.player-container .vjs-playlist-item-list {
		min-height: 350px;
		max-height: 410px;
	}
}

