.icoPlayFix {
    font-size: 3em !important;
    width: 2em !important;
    height: 2em !important;
    background-color: rgba(115, 133, 159, 0.5) !important;
    padding-top: 6px;
}

.icoPlayFix:before {
    font-size: 1.5em !important;
}

.txt656565 {
    color: var(--ucl-comment-color);
}

.txt656565:hover {
    color: var(--primary-color);
}
.control-play .line .cricle {
    background: #d2d2d2 !important;
}


.control-play .line.line-active .cricle {
    background: #0181fe !important;
}

.classShareSocial img {
    margin: 0px 10px;
    width: 84px;
}

.classShareSocial a {
    color: #fff;
    display: inline-block;
}


.mdl-package .item .row-detail {
    padding: 10px 0 !important;
}

.mdl-package .item {
    margin-bottom: 10px !important;
}

.ipt {
    border: 0;
    border-bottom: 1px #ddd solid;
    background: none;
    padding: 6px 0px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.color337ab7 {
    color: #337ab7 !important;
}

.row-form .capcha-text img {
    width: 86% !important;
    height: 41px !important;
}

.no-notification {
    text-align: center;
    margin: 70px 0 0 0;
}


.mdl-notify .list-notify {
    color: var(--primary-color);
}


.qq-gallery.qq-uploader {
    background-color: var(--ucl-uploader-background);
    padding-top: 25px;
}

.mdl-upload .upload-center {
    width: 100% !important;
    margin: 0px;
    padding: 20px 0px;
}
.mdl-upload .qq-uploader.qq-gallery .upload-center{
    background-color: var(--ucl-uploader-background);
}
.qq-gallery .qq-upload-button {
    display: inline;
    width: 100% !important;
    padding: 37px 10px;
    text-align: center;
    background: var(--ucl-uploader-background);
    color: #FFF;
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

.mdl-upload .upload-area {
    padding: 0px !important;
}



.qq-gallery .qq-upload-list {
    padding: 0 !important;
}

.mdl-upload .upload-center.step2 {
    padding: 20px
}

.qq-gallery INPUT.qq-edit-filename {
    opacity: 1;
    position: inherit;
}


.qq-gallery .qq-file-info {
    padding: 5px 20px 0 20px;
}

.qq-gallery .qq-upload-list li {

    width: 100% !important;
    max-width: 100% !important;
}

.mdl-upload .upload-center .left-content {
    width: 565px !important;
}


.link-login img, .text-account .avatar img {
    border-radius: 50%;
}

.btn-upload-image {
    display: inline-block;
    margin: 35px 10px 10px 0;
    background: #0777e5;
    color: #fff;
    text-align: center;
    line-height: 61px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
    padding: 3px 0px 0px 11px;
}

.btn-upload-image .icon-plus {
    font-size: 22px;
}

.btn-upload-image .icon-plus:before {
    content: "\e92f";
    color: #ffffff;
}

.mdl-upload .upload-center .avartar {
    text-align: center;
}

#imageVideoId {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0px;
}

.title-video-info .title {
    font-size: 16px;
    color: #222222;
    font-family: 'LatoBold', Arial;
    padding: 10px 0px;
}

.addImgVideo {
    margin: 0px 0px 20px 0px;
}

.clearfix {
    clear: both;
}

.function-add-playlist .content {
    text-align: left;
}


.txt-warning.error-summary ul {
    padding-left: 0px;
}


.txt-warning.error-summary ul li {
    list-style: none;
}

.mdl-comments .media-heading {
    padding-right: 10px;
    display: block;
}

#popup-step1 .row-form-border {
    padding: 10px 5px 0px 5px !important;
}

#popup-step1 .btn-cancel, #popup-step1 .btn-ok {
    margin: 0 5px;
}

#popup-step1 .modal-content-vietnt {
    width: 400px;
}

.info-video .info-video-name .choosed .icon-like::before {
    color: var(--primary-color);
}

.name-channel-cm {
    color: var(--primary-color);
}

.name-channel-cm:hover {
    color: var(--ucl-name-video-hover-color);
}

.btnClearComment, .btnClearReply {
    float: right;
    padding: 7px 15px;
    margin: 15px 0 15px 15px;
}

.child .media-left img {
    width: 32px;
    height: 32px;
}

.input-error {
    color: #e12617;
    padding-bottom: 15px;
    text-align: left;
}

#nextButton button {
    font-size: 18px;
    color: #FFF;
}

#nextButton button i {
    padding: 10px 0px;
}

#nextButton button:hover {
    cursor: pointer;
}

.next-video-box {
    position: relative;
    top: -135px;
    width: 300px;
    left: -40px;

    background-color: rgba(43, 51, 63, .7);
    display: none;
}

.next-video-box img {
    padding: 3px;
    width: 150px;
    float: left;
}

.next-video-box .description {
    float: left;
    width: 150px;
    text-align: start;
    padding: 5px;
    overflow: hidden;
}

.next-video-box .title {
    color: #c6c6c6;
    font-family: LatoBold, Arial;
    margin-bottom: 5px;
}


#nextButton:hover .next-video-box {
    display: block;
}

.vjs-time-divider, .vjs-duration {
    margin-top: 1px !important;
    margin-left: 1px !important;
}

.mdl-notify .list-notify .item .text-1 {
    height: 55px;
    overflow: hidden;
}

.video-js .vjs-slider {
    /*background-color: #FFF !important;*/
}


.des-short {
    overflow: hidden;
    height: 40px;
    font-size: 14px;
}


.mdl-upload-guide p, .content-upload-bottom p {
    font-size: 14px;
}

.des-playlist {
    color: black
}


#notificationsContent .popover-more {
    width: 115px;
}

.list-video .description .name-author-full {
    font-size: 14px;
    color: #888888;
    display: block;
    width: 100%;
    padding: 5px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.list-video-horizontal-left .description .name-author-full {
    display: block;
    margin: 0 10px 3px 0;
    font-size: 14px;
    color: #888888;
    width: auto;
    padding: 5px 0 0 0;
    max-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.myPlaylistBox label {
    font-weight: normal;
}

.fullWidth {
    width: 100%;
}

.function-add-playlist .content {
    text-align: left;
}

.function-add-playlist .content {
    width: 250px;
    display: none;
}


.body-detail-right .mdl-general .function-add-playlist .content {
    padding: 0px 15px 15px 15px;
}


.next-video-box .text-des-next {
    height: 50px;
    line-height: 18px;
    overflow: hidden;
}


.video-js .vjs-progress-holder {
    height: 0.24em;
}

.vjs-volume-bar {
    background-color: rgba(115, 133, 159, 0.5) !important;
}

.list-video.list-video-horizontal-left .name-author .fa-circle {
    font-size: 0.25em;
    position: relative;
    top: -3px;
}

.list-video.list-video-horizontal-left .name-author:hover .fa-circle:before {
    color: #888888;
    cursor: text;
}

.list-video.list-video-horizontal-left .description .name-author {
    font-size: 13px;
    height: 18px;
}

.pd-right6 {
    padding-right: 6px;
}

.list-video .description .info {
    padding-left: 2px;
}

.popover-more-top.content {
    top: auto !important;
}

.ico-bell {
    margin-top: 5px !important;
}

#reportModal label, #modal-notify label {
    font-weight: normal;
}

.mdl-upload .progress {
    width: 100%;
}

#uploader-image .row-form {
    padding-top: 0px;
}

#boxUploadImage .row-form {
    padding-left: 0px;
}

.color555555 {

    color: #555555 !important;
}


.link-account .txt-warning {
    color: red;
}

header .right-content .link-login .avatar {
    position: relative;
    top: -2px;
}

.content-playlist-player .countdown-timer {
    padding: 13.9% 0 !important;
}


#map-account-form, #get-otp-form {
    padding: 15px;
}

.ico {

    display: inline-block;
    background-color: transparent;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.dDown {
    width: 15px;
    margin: 5px auto 30px auto;
}

.dDown2 {
    width: 15px;
    margin: 5px auto 85px auto;
}


.mdl-general .title .text-1 {
    padding-top: 15px;
}

.channel-info .right-content .btn-followed, .list-subscription .right-content .btn-followed {
    background-color: red !important;
}


#search-icon {
    cursor: pointer;
}


#contentSuggess {
    padding-bottom: 10px;
}


.error-message-contract {
    color: red;
    padding-left: 145px;
    padding-top: 5px;
}


.thumbnail-id-card {
    width: 130px;
    height: 100px;
}

.owl-carousel .item {
    width: 100% !important;
}

.list .item .icon-info {
    margin-right: 17px;
    font-size: 1.3em;
    vertical-align: middle;
    float: left;
    color: var(--primary-iconleft-color);
}

.mdl-account .list .icon-info {
    width: 22px;
    height: 22px;
    margin-right: 11px;
    display: inline-block;
    background-image: url(/images/info.svg);
    background-position: left top;
    background-size: 22px auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
    top: -2px;
}


.function-more .popover-more {
    /*top: -45px !important;*/
}


.mdl-ipx table {
    font-size: 1em !important;
}

.mdl-account {
    max-height: 470px !important;
}


.chnl-center {
    text-align: center;

}

.player-next-onscreen .vjs-icon-placeholder:before {
    content: "\f11f" !important;
    font-family: VideoJS
}

.player-back-onscreen .vjs-icon-placeholder:before {
    content: "\f120" !important;
    font-family: VideoJS
}


.vjs-big-play-button {
    background-color: rgba(0, 129, 255, 0.9) !important;
}


.vjs-modal-dialog {
    margin-top: -20px !important;
}


.vjs-big-play-button {
    line-height: 1.95em !important;
}


.vjs-myclip .vjs-paused, .vjs-myclip .vjs-playing {
    margin-left: 0px !important;
}

.player-next-s3:before {
    content: "\f11f" !important;
    font-family: VideoJS;
    font-size: 80px;
    color: white;
}


#countDown {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


.player-next-s3 {

    position: absolute;
    color: white;
    top: 30px;
    left: 40px;
    cursor: pointer;
}


#animated {
    position: absolute;
    color: white;
    top: 15px;
    left: 0px;
    cursor: pointer;
}


#toast-container > .toast-success {
    background-color: #0777e5 !important;
}


.btn-cancel-next-video {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    position: relative;
}


.a-cancel-next-video {
    width: 100px !important;
    position: absolute;
    color: white;
    left: -20px;
    background-color: rgba(115, 133, 159, 0.5) !important;
    cursor: pointer;
    padding: 10px;
}


.txt-warning {
    color: red;
}


#activateform-verifycode {
    width: 50%;
    float: left;
}

#activate-form .image-capcha {
    width: 45%;
    float: right;
}

#activate-form .btn {
    width: 45%;
    float: right;
}

.feedback-upload {
    color: #0181fe !important;
    cursor: pointer;
}


.body-content-right .list-video .item .image {
    overflow: hidden;
}

/*.list-video .image img {*/
/*    width: 246px;*/
/*    height: 132px;*/
/*}*/
@media (min-width: 1440px) {
    .list-video .image img {
        width: 246px;
        height: 132px;
    }
}
.list-video .item {

    max-width: 260px;
}


.list-video .image img {
    max-height: 145px;
    display: inline-block!important;
}


.owl-carousel .owl-item {
    max-width: 265px;
}


.list-video-horizontal .item {
    max-width: 500px !important;
}


.list-video-horizontal-left .item {
    max-width: 100%;
}

header .right-content {
    margin-top: 0;
}

header nav {
    padding: 8px 15px 6px 15px;
}


.owl-carousel .function-add-playlist .content {
    top: 0;
}

.owl-carousel .function-add-playlist .content .scroll {
    height: 140px;
}

.popover-more .item-popover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .suggesstion .delete-search {
    margin: -30px 3px 0 5px;}

.list-video-horizontal-left .description .name-video {
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.list-video .description .name-video {
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.mdl-play-left .item-info .text-1{
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 18px;
    font-family: "LatoMedium", Arial;
    margin: 10px 0 0 0;
    color: var(--primary-icon-color);
    word-break: break-word;
    overflow: hidden;
}

.comment-textarea-linhtvn {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space:pre-line;
}

.video-channel-linhtvn {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space:pre-line;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    word-break: break-word;
}

.image {
    display: inline-block!important;
}
.content-right .list-video .image img{
    max-width: 100%;
    height: 100%;
}
.color_red {
    color: red;
    margin-top: 5px;
}
/*Chuc nang upload */
#uploader-image .color_red{
    margin-top: -10px;
}
/*chuc nang comment*/
.comment-left .name-user-cm{
    font-size: 20px;
    color: var(--ucl-name-author-color);
}
.comment-left .time-cm{
    padding-left: 10px;
}
.comment-left .avatar-cm{
    width:36px;
}
.comment-left .media-heading {
    display: flex;
    align-items: baseline;
}
.comment-left .mdl-comment .col {
    padding-right: 15px;
    cursor: pointer;
}
.comment-left .icoMoreOption{
    cursor: pointer;
}
#comment-right{
    display: flex;
}
#comment-right img{
    height: auto;
    max-width: 165px;
    border-radius: 5px;
}
#comment-right .title{
    font-size: 18px;
    padding-left: 10px;
    color:var(--primary-color);
}
.content-comment{
    margin-top: 20px;
}
.content-comment .row{
    border: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 10px;
}

.content-comment .row:last-child{
    border-bottom: 1px solid #dbdbdb;
}
#tab6 .mdl-comments{
    background: transparent;
    border: none;
    box-shadow:none;
}
.comment-left .popover-more {
    position: absolute;
    width: 174px;
    left: 261px;
    top: -5px;
}
.comment-left .commemt-content{
    margin-bottom: 5px;
    word-break: break-all;
}
.btnLikeComment .active{
    color:red;
}
.comment-left{
    position: relative;
}
.comment-left .col{
    cursor: pointer;
}
.comment-left .col i.active{
    color:#337ab7;
}
.comment-left .btnLikeComment span{
    padding-right: 5px;
}
.comment-left .btnDisLikeComment span{
    padding-right: 5px;
}
.comment-left .hide{
    display: none;
}
.comment-left .btn-cmt{
    display: inline-block;
    padding:0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.10em solid var(--ucl-comment-like-color);
    color:var(--ucl-comment-like-color);
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 13px;
}
.comment-left .btn-cmt i{
    padding-right: 3px;
}
.sort-comment .icon-sort{
    cursor: pointer;
}
/*.comment-left .approve-cmt{*/
/*    border: 0.16em solid #005b96;*/
/*    color: #005b96 ;*/
/*}*/
/*.comment-left .reject-cmt{*/
/*    border: 0.16em solid #dc3545;*/
/*    color: #dc3545;*/
/*}*/


/*Thêm icon free*/
.list-video .owl-stage-outer{
    overflow: inherit;
}
.list-video .item {
    position: relative;
}
.list-video .item .image{
    overflow: inherit!important;
}
.list-video .item .attach-img{
    z-index: 1;
    position: absolute;
    transform: rotate(45deg);
    right: -10px;
    top: -10px;
}

.list-video .item .attach-img img{
    width: 32px;
    height: 32px;
    z-index: 999;
}
#relatedBox .item .attach-img {
    right: -9px;
    top: -12px;
}
#relatedBox .item .attach-img img{
    width: 35px;
    height: 35px;
}
/*.list-video-horizontal-left .item .image>img{
    width: 230px;
    height: 129px;
}*/
.list-video-horizontal-left .item .attach-img{
    right: -14px;
    top: -15px;
}
.cut-over.list-video.list-video-horizontal-left{
    padding-top: 15px;
}
.list-video-horizontal-left .has-number .image>img{
    width: 140px;
    height: 78px;
}
.list-video-horizontal-left .has-number .attach-img img{
    width: 30px;
    height: 30px;
}

.btnDisLikeComment i{
    font-size: 20px;
    color: var(--ucl-comment-like-color);
    padding-right: 12px;
}
.btnLikeComment i{
    font-size: 20px;
    color: var(--ucl-comment-like-color);
    padding-right: 12px;
}
.btnDisLikeComment span{
    color: var(--ucl-comment-like-color);
}
.btnLikeComment span{
    color: var(--ucl-comment-like-color);
}
.media-cm-video .btnLikeComment span {
    padding-right: 5px;
}
.media-cm-video .btnLikeComment i {
    font-size: 15px;
}
.media-cm-video .btnDisLikeComment span {
    padding-right: 5px;
}
.media-cm-video .btnDisLikeComment i {
    font-size: 15px;
}
.media-cm-video .btnReplyComment {
    color: var(--ucl-comment-like-color) !important;
}
.mdl-notify .list-notify .item .text-1 {
    margin-bottom: 10px
}
.mdl-notify .list-notify .item .text-content {
    padding-left: 65px;
    color: var(--ucl-name-author-color);
}
div#notification-count {
    position: absolute;
    top: -3px;
    left: 17px;
    color: #fff;
    background-color: #c00;
    border: var(--ucl-box-border);
    padding: 0 4px;
    min-width: 8px;
    max-width: 30px;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
}