/*Version 0.0.1*/

@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

h1,h2,h3,h4,h5,h6,strong{
	font-family: 'Lusitana',  Arial;
	font-weight: normal;
}

body{
	--primary-color: #222;
	--primary-bg-color: #fff;
	--primary-icon-color: #555;
	--primary-active-color: #003365;
	--main-txt-color: #222;
	--main-bg-color: #fff;
	--active-txt-color: #fff;
	--primary-icon-color: #555;
	--primary-icon-hover-color: #555;
	--primary-iconleft-color: #888;
	--ucl-line-color: #e5e5e5;
	--ucl-content-line-color: #efefef;
	--ucl-name-video-color: #000;
	--ucl-name-video-hover-color: #595959;
	--ucl-name-author-color: #6e6e6e;
	--ucl-comment-color: #656565;
	--ucl-comment-like-color: #17a2b8;
	--ucl-link-hover-color: #23527c;
	--ucl-link-default-color: #337ab7;
	--ucl-item-selected-color: #003466;
	--ucl-playlist-author-color: #555;
	--ucl-sugges-color: #4d4d4d;


	--ucl-searchbox-background: #fff;
	--ucl-box-comment-rep-background: #f1f1f1;
	--ucl-box-comment-btn-rep-background: #d2d2d2;
	--ucl-box-package-background: #f2f2f2;
	--ucl-menuleft-background: #eeeeee;
	--ucl-menuleft-hover-background: #f7f7f7;
	--ucl-content-right-background: #fafafa;
	--ucl-view-more-background: #eeeeee;
	--ucl-box-play-background: #f5f5f5;
	--ucl-box-package-hover-background: #ebebeb;
	--ucl-box-btn-package-hover-background: #003365;
	--ucl-contact-register-background: #eeeeee;
	--ucl-uploader-background: #fff;
	--ucl-leftplaylist-background: #e5e5e5;
	--ucl-sugges-hover-background: #f5f5f5;

	--ucl-ui-button: #f6f6f6;

	--ucl-box-border: #dbdbdb;
	--ucl-box-comment-border: #efefef;
	--ucl-ui-button-border: #c5c5c5;
	--ucl-ui-button-register-border: #003365;
	--ucl-modal-box-border: #ececec;

	/*--shadow-style: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
	--shadow-style: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);

	--scrollbarBG: #eeeeee;
	--thumbBG: #90A4AE;

	font-family: 'Lusitana', Arial;
	background: #efefef;
	color: var(--primary-color);
}
/* css scoll */
.left-menu .left-menu-scroll::-webkit-scrollbar, .has-promotion .suggesstion .scroll::-webkit-scrollbar {
	width: 11px;
}
.left-menu .left-menu-scroll, .has-promotion .suggesstion .scroll {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.left-menu .left-menu-scroll::-webkit-scrollbar-track, .has-promotion .suggesstion .scroll::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}
.left-menu .left-menu-scroll::-webkit-scrollbar-thumb, .has-promotion .suggesstion .scroll::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}
/* and css scoll */
body.dark {
	--primary-color: #fff;
	--primary-bg-color: #181818;
	--primary-icon-color: #fff;
	--primary-active-color: #fff;
	--main-txt-color: #fff;
	--main-bg-color: #181818;
	--active-txt-color: #fff;
	--primary-icon-color: #fff;
	--primary-icon-hover-color: #fff;
	--primary-iconleft-color: #fff;
	--ucl-line-color: #ffffff1a;
	--ucl-content-line-color: #ffffff1a;
	--ucl-name-video-color: #fff;
	--ucl-name-video-hover-color: #fff;
	--ucl-name-author-color: #aaa;
	--ucl-comment-color: #fff;
	--ucl-comment-like-color: #fff;
	--ucl-link-hover-color: #aaa;
	--ucl-link-default-color: #aaa;
	--ucl-item-selected-color: #fff;
	--ucl-playlist-author-color: #fff;
	--ucl-sugges-color: #fff;

	--ucl-ui-button: #181818;

	--ucl-searchbox-background: #121212;
	--ucl-menuleft-background: #181818;
	--ucl-menuleft-hover-background: #ffffff1a;
	--ucl-box-comment-rep-background: #181818;
	--ucl-box-comment-btn-rep-background: #212121fa;
	--ucl-box-package-background: #181818;
	--ucl-content-right-background: #000;
	--ucl-view-more-background: #212121fa;
	--ucl-box-play-background: #181818;
	--ucl-box-package-hover-background: #ffffff1a;
	--ucl-box-btn-package-hover-background: #ffffff1a;
	--ucl-contact-register-background: #000;
	--ucl-uploader-background: #000;
	--ucl-leftplaylist-background: #000;
	--ucl-sugges-hover-background: #ffffff1a;

	--ucl-box-border: #ffffff1a;
	--ucl-box-comment-border: #ffffff1a;
	--ucl-ui-button-border: #c5c5c5;
	--ucl-ui-button-register-border: #aaa;
	--ucl-modal-box-border: #ffffff1a;

	--shadow-style: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
	--scrollbarBG: #181818;
	--thumbBG: #aaa;

	background: #000;
	color: #fff;
}

.container, .full-container{
	width: 100%;
}


.list-default{
	list-style:none;
	padding: 0;
	margin: 0;
}

a:hover,a:focus{
	outline:none;
	text-decoration: none;
}

.ellipsis {
	width:100%;
	text-overflow: ellipsis;
	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.view-more {
	float:left;
	width:100%;
	background:#eeeeee;
	text-align: center;
	padding: 25px 0;
}

.view-more .btn{
	background: #0181ff;
	color: var(--ucl-name-video-color);
	border-radius: 2px;
	min-width: 150px;
}

.view-more .btn:hover{
	background: #165ec3;
}

/************I. Header*************/
header {
	background: var(--main-bg-color);
	padding: 0;
	float: left;
	width: 100%;
	z-index: 7;
	box-shadow: var(--shadow-style);
	min-height: 48px;
	position: fixed;
	top: 0;
	left: 0;
}

header nav{
	padding: 8px 15px;
	display: block;
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.08);
	-moz-box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.08);
	box-shadow: 0px 4px 8px -3px rgba(17,17,17,0.08);
}

header .header-button{
	width: 30px;
	height: 30px;
	padding: 3px;
	display: inline-block;
	float: left;
	margin-right: 16px;
	color: #555555;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

header .header-button .fa{
	position: relative;
	top: 4px;
}

header .logo, .mdl-notfound .logo{
	background:url(../images/logo_brandname.png) no-repeat 0 0;
	display: block;
	float: left;
	width: 110px;
	height: 30px;
	background-size: 110px;
	margin: 0px 73px 0 0;
}

header .right-content {
	float: right;
	margin-top: 2px;
}

header .right-content .fa{
	font-size: 1.4em;
}

header .link-account {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	margin: 0 15px;
}

header .language-option {
	display: inline-block;
	height: 30px;
}

.btn-upload,.btn-default{
	background: #003365;
	color: var(--active-txt-color);
	border-radius: 2px;
	padding: 7px 15px;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	min-width: 110px;
	display: inline-block;
	text-align: center;
}

.btn-white{
	background: #fff;
	color: #006cd6;
	padding: 8px 30px;
}

.btn-upload:hover,.btn-default:hover{
	color: var(--ucl-name-video-color);
	background: #006cd6;
}

.text-account {
	float: left;
	width: 100%;
	line-height: normal;
	cursor: pointer;
	display: block;
	color: var(--primary-color);
}

.text-account .avatar{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	
	font-size: 20px;
	color: var(--ucl-name-video-color);
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
}

.text-account .text-1,.text-account .text-2{
	font-size: 14px;
	line-height: normal;
	text-transform: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 193px;
	
	/* Cut off text */
	text-overflow: ellipsis;	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.text-account .text-2{
	font-family: 'Lusitana';
}


.btn-upload .fa{
	font-size: 1.1em !important;
	margin-right: 5px;
	position: relative;
	bottom:-1px;
}

.link-view-more, .btn-register{
	background: var(--ucl-view-more-background);
	color: var(--primary-color);
	border-radius: 2px;
	padding: 7px 30px ;
	vertical-align: middle;
	border: 1px solid var(--ucl-box-border);
	margin-top: 0;
	margin-bottom: 5px;
	display: block;
	float: left;
	cursor: pointer;
}

.link-view-more{
	clear: both;
}

.link-view-more:hover,.btn-register:hover{
	background: var(--ucl-view-more-background);
	color: var(--ucl-link-hover-color);
}

header .right-content .link-login,header .right-content .link-notify,.channel-info .right-content .link-notify{
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 3px;
	margin: 0 15px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border-radius: 50%;
}


header .right-content .loged {
	line-height: 26px;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
}

header .right-content .link-login, header .right-content .link-notify .fa, .channel-info .right-content .link-login, .channel-info .right-content .link-notify .fa{
	cursor: pointer;
}

header .right-content .link-notify{
	font-size: 1.1em;
}

.channel-info  .right-content .link-notify,.list-subscription .right-content .link-notify{
	font-size: 1.6em !important;
}

.channel-info  .right-content .icon-ringoff{
	font-size: 1.2em !important;
	position: relative;
	top:-2px;
}

.list-subscription .right-content .icon-ringoff{
	font-size: 1.2em !important;
	position: relative;
}

header .right-content .link-notify .text,.channel-info .right-content .link-notify .text{
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 16px;
	top: -2px;
	right: 0;
	background: #ff0000;
	color: var(--ucl-name-video-color);
	font-size: 11px;
	border-radius: 50%;
}

header .right-content .link-login .avatar{
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

header .box-search,.mdl-notfound .box-search{
	float: left;
	position: relative;
	border-radius: 2px;
	width: 685px;
}

header .box-search form,.mdl-notfound .box-search form{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 2px;
	border: 1px solid var(--ucl-box-border);
	padding:4px 5px;
	margin-top: 0;
	background: var(--ucl-searchbox-background);
}

header .box-search form input,.mdl-notfound .box-search form input{
	width: 624px;
	float: left;
	border: 0;
	padding: 0;
	margin-top: 2px;
	margin-left: 14px;
	background:transparent;
	outline: none;
} 

header .box-search .selected,.mdl-notfound .box-search .selected{
	border:1px solid #5ca1e5;
}

header .box-search button,.mdl-notfound .box-search button{
	background: 0;
	float: left;
	border: 0;
	font-size: 1.3em;
	line-height: normal;
	position: relative;
	top: 2px;
	height: 18px;
	padding: 0 8px;
} 

header .box-search button:hover,.mdl-notfound .box-search button:hover{
	opacity: 1;
} 

header .suggesstion{
	display: none;
	z-index: 1;
	position: absolute;
	width: 685px;
	overflow: hidden;
	top: 40px;
	left: 0;
	right: 0;
	padding: 0 7px 7px 7px;
	color:var(--ucl-sugges-color);
	background: var(--primary-bg-color);
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-transition: display 0.4s ease-in-out;
    transition: display 0.4s ease-in-out;
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.12);
}

header .suggesstion .scroll{
	max-height: 415px;
	width: 680px;
	overflow-y: scroll;
}


header .suggesstion .link-header {
	float: left;
	width: 100%;
}

header .suggesstion .delete-search {
	float: right;
	font-size: 0.6em;
	margin: 4px 3px 0 5px;
	cursor: pointer;
}

header .suggesstion a{
	color:var(--ucl-sugges-color);
	float: none;
	font-weight: normal !important;
	padding: 0 !important;
	font-family: 'Lusitana' !important;
}

header .suggesstion li:hover a{
	color: var(--primary-color);
	background: none !important;
}

header .suggesstion li{
	display: block;
	padding: 7px 3px;
	border-radius: 2px;
	margin: 7px 0;
}

header .suggesstion li strong{
	color: var(--primary-color);;
}

header .suggesstion li:hover{
	background: var(--ucl-sugges-hover-background);
	color: var(--primary-color);
}



header .sub-header .link-header{
	width: 80%;
}

header .sub-header .link-header > li{
	position: relative;
	float: left;
}

header .sub-header a{
	padding: 16px 20px 14px 20px;
}

header .sub-header li.open > a,header .sub-header li.active > a{
	color: #51ffff;
}

header .sub-header .right-content{
	float: right;
}

header .sub-header .right-content a{
	color: var(--ucl-name-video-color);
	display: inline-block;
	width: 30px;
	height: 30px;
	border:1px solid #fff;
	text-align: center;
	line-height: 28px;
	padding: 0;
	border-radius: 2px;
	margin: 10px 10px 0 0;
}

header .sub-header .right-content a:hover{
	color: #51ffff;
	border:1px solid #51ffff;
}

/*dropdown menu*/
header .dropdown-menu{
	border-radius: 0;
	margin-top: 0;
}

header .dropdown-menu-two{
	width: 362px;
}

header .dropdown-menu-three{
	width: 542px;
}

header .dropdown-menu .list-default{
	float: left;
	width: 180px;
	padding: 5px 10px;
}

header .dropdown-menu .list-default h3{
	color: #342f7f;
	font-size: 15px;
	padding: 3px 10px;
	margin: 0 0 5px 0;
}

header .dropdown-menu .list-default a{
	color: #4d4d4d;
	padding: 3px 10px;
	border-radius: 2px;
	display: block;
	width: 100%;
	
	/* Cut off text */
	text-overflow: ellipsis;	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

header .dropdown-menu .list-default a:hover{
	background: #f5f5f5;
	color: #000;
}

/************II. Body*************/


/************II. Footer*************/
footer{
	background:#171717;
	color: var(--ucl-name-video-color);
	text-align: center;
	float: left;
	width: 100%;
}

footer .jump-footer{
	margin: 0 auto;
	width: 980px;
}

footer .jump-footer h3{
	font-size: 16px;
}

footer .jump-footer .link-footer,footer .jump-footer .add-app{
	float: left;
	text-align: left;
	width: 210px;
}

footer .jump-footer .add-app{
	width: 300px;
}

footer .link-footer a{
	display: block;
	color: #666666;
	padding: 5px 0;
}

footer .link-footer a:hover{
	color: #a8a8a8;
}

footer .jump-footer .function-social{
	float: right;
	margin-top: 50px;
}

footer .jump-footer .function-social a{
	padding-left: 10px;
}

footer .jump-footer .function-social a:hover,footer .jump-footer .add-app a:hover{
	opacity: 0.7;
}

footer .footer-bottom{
	padding: 13px 0;
	float: left;
	width: 100%;
	font-size: 13px;
	margin-top: 10px;
}

footer .footer-bottom,footer .footer-bottom a{
	background:#121212;
	color: #666666;
}

footer .footer-bottom a:hover{
	color: #a8a8a8;
}


/*----------------------------------------------------------------------------------------------------------*/
/***********************************************FOR MOBILE***************************************************/
/*----------------------------------------------------------------------------------------------------------*/

@media (max-width:979px) {	
}

/**************************************FOR SCREEN MOBILE************************************/
/***************************************MOBILE MOBILE*************************************/
/***************************************************************************************/

@media screen and (max-width: 736px) {/*iphone6+ rotate*/
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 598px) {
}

@media screen and (max-width: 568px) {/*iphone6 rotate*/
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 414px) {/*iphone 6S*/
	
}

@media screen and (max-width: 375px) {/*iphone 6*/

}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 320px) {        

}

.hvr-radial-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	overflow: hidden;
	background: var(--main-bg-color);
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .3s;
	transition-duration: .3s
}
.hvr-radial-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #e4e4e4;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}
.hvr-radial-out:active, .hvr-radial-out:focus, .hvr-radial-out:hover {
	color: var(--ucl-name-video-color);
}
.hvr-radial-out:active:before, .hvr-radial-out:focus:before {
	-webkit-transform: scale(2);
	transform: scale(2)
}


/*****Loađing******/
.spinner {
	margin: 10px auto;
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	border: 3px solid rgba(0,108,214,0.4);
	border-radius: 20px;
	-webkit-animation: sk-rotate 1.3s infinite linear;
	animation: sk-rotate 1.3s infinite linear;
}
.quarter {
	width: 16px;
	height: 16px;
	position: relative;
	margin-left: -3px;
	margin-top: -3px;
	overflow: hidden;
}
.circle {
	width: 32px;
	height: 32px;
	position: relative;
	text-align: center;
	border: 3px solid #006cd6;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
 @-webkit-keyframes sk-rotate {
	100% {
	-webkit-transform: rotate(360deg)
	}
}
@keyframes sk-rotate {
	100% {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg)
	}
}

/*modal-vietnt*/
.modal-vietnt {
    z-index: 9;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
	animation: opac 0.8s;
}

.modal-vietnt .title{
	font-size: 16px;
	font-family: 'Lusitana', Arial;
	color: var(--primary-color);
	border-bottom: 1px solid #ececec;
	padding: 7px 20px 13px 20px;
	margin: 0 0 20px 0;
}

@keyframes opac{from{opacity:0} to{opacity:1}}

.modal-vietnt .modal-content-vietnt {
    width: 380px;
    margin: 0 auto;
    background-color: var(--primary-bg-color);
    position: relative;
    padding: 10px 0 20px 0;
    outline: 0;
	border-radius: 2px;
	line-height: 24px;
}

.modal-vietnt strong {
    font-family: 'Lusitana', Arial;
}

.close {
    position: absolute;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	color: #555;
	top: 13px;
	right: 10px;
	font-size: 14px;
}

.row-form{
	width: 100%;
	padding: 5px 20px 0 20px;
}

.row-form-bottom{
	width: 100%;
	border-bottom: 1px solid #ececec;
	padding: 15px 20px 15px 20px;
	font-size: 12px;
	line-height: normal;
}

.row-form-bottom a:hover{
	color: #888;
}

.row-form-border{
	width: 100%;
	border-top: 1px solid #ececec;
	padding: 10px 20px 0px 20px;
	text-align: right;
	line-height: normal;
	margin-top: 20px;
}

.row-form .capcha{
	width: 60% !important;
}

.row-form .capcha-text{
	width: 38%;
	float: right;
}

.row-form .capcha-text img{
	width: 100%;
	height: 38px;
	border-radius: 2px;
	border: 1px solid #ebebeb;
}

.row-form .input-text{
	width: 100%;
	background: var(--ucl-contact-register-background);
	border-radius: 2px;
	height: 40px;
	border: 0;
	padding: 0 15px;
}

.row-form .text-area{
	width: 100%;
	background: #ebebeb;
	border-radius: 2px;
	height: 210px;
	border: 0;
	padding: 10px 15px;
}

.text-error{
	color: #e12617;
	padding-bottom: 15px;
	text-align: center;
}

/*.row-form a{*/
	/*color: #222;*/
/*}*/

.row-form .text-1{
	padding-top: 10px;
	padding-bottom: 0;
	display: inline-block;
	font-size: 11px;
}

.row-form .btn-upload{
	margin-right: 0;
}

.row-form .progress {
	display: inline-block;
	width: 100%;
	margin: 0 15px 0 0;
	line-height: 31px;
	height: 31px;
	vertical-align: middle;
	background: var(--ucl-view-more-background);
	box-shadow: none;
}

.row-form .progress-bar {
	line-height: 31px;
	vertical-align:middle;
}

.row-form .form-control {
	background: var(--ucl-view-more-background);
	box-shadow: none;
	border-color: #e2e2e2;
}

.row-form .progress .close-progress {
	padding: 15px 10px;
	cursor: pointer;
	float: right;
	line-height: 0;
	color: #898989;
}

.row-form .text-1:hover,.row-form .text-2:hover{
	color: #555;
}

.btn-login{
	background: #003365;
	color: #fff;
	border-radius: 2px;
	padding: 8px 15px;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	width: 100%;
	margin-top: 10px;
}

.mdl-login .btn-login,.mdl-login .btn-facebook,.mdl-login .btn-google{
	padding: 10px 15px;
}

.btn-login:hover{
	color: var(--ucl-name-video-color);
	background: #006cd6;
}

.btn-login-small{
	width: auto;
	min-width: 110px;
	margin: 0px;
}

.btn-cancel{
	background: var(--ucl-box-comment-btn-rep-background);
	color: var(--ucl-name-video-color);
	border-radius: 2px;
	padding: 7px 15px;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	min-width: 110px;
	display: inline-block;
	text-align: center;
}

.btn-cancel:hover{
	color: var(--primary-color);
	background: var(--ucl-line-color);
}

.btn-facebook,.btn-google{
	border-radius: 2px;
	padding: 8px 15px;
	vertical-align: middle;
	position: relative;
	font-size: 14px;
	border: 0;
	cursor: pointer;
	margin-top: 25px;
	color: #fff !important;
	display: inline-block;
	width: 45%;
	text-align: center;
}

.btn-facebook{
	background: #4867aa;
}

.btn-facebook:hover{
	color: var(--ucl-name-video-color);
	background: #3a5288;
}

.btn-google{
	background: #eb4f43;
	float: right;
}

.btn-google:hover{
	color: var(--ucl-name-video-color);
	background: #c24137;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?i3zrpg');
  src:  url('../fonts/icomoon.eot?i3zrpg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?i3zrpg') format('truetype'),
    url('../fonts/icomoon.woff?i3zrpg') format('woff'),
    url('../fonts/icomoon.svg?i3zrpg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobitv_hd:before {
  content: "\e91f";
}
.icon-mobitv_list:before {
  content: "\e920";
}
.icon-mobitv_live:before {
  content: "\e921";
}
.icon-mobitv_money:before {
  content: "\e922";
}
.icon-arrow-down:before {
  content: "\e91c";
  color: var(--ucl-name-video-color);
}
.icon-arrow-up:before {
  content: "\e91d";
  color: var(--ucl-name-video-color);
}
.icon-myclip-video:before {
  content: "\e91e";
  color: #0081ff;
}
.icon-channel:before {
  content: "\e918";
  color: var(--ucl-name-video-color);
}
.icon-check:before {
  content: "\e919";
  color: #00ffb4;
}
.icon-quality:before {
  content: "\e91a";
  color: var(--ucl-name-video-color);
}
.icon-trend:before {
  content: "\e91b";
	color: var(--primary-iconleft-color);
}
.icon-lightbolt:before {
  content: "\e915";
  color: #bbb;
}
.icon-price:before {
  content: "\e916";
  color: #bbb;
}
.icon-time:before {
  content: "\e917";
  color: var(--ucl-name-video-color);
}
.icon-ringback:before {
  content: "\e914";
}
.icon-dics:before {
  content: "\e912";
}
.icon-ring:before {
  content: "\e913";
}
.icon-binocular:before {
  content: "\e911";
  color: #ff7d00;
}
.icon-music:before {
  content: "\e910";
  color: #00a99d;
}
.icon-film:before {
  content: "\e90b";
  color: #00a99d;
}
.icon-home:before {
  content: "\e90c";
  color: #f00;
}
.icon-play:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
  color: #3fa9f5;
}
.icon-view:before {
  content: "\e90f";
  color: #00a99d;
}
.icon-list_h:before {
  content: "\e946";
  color: #aeaeae;
}
.icon-list_v:before {
  content: "\e947";
  color: #aeaeae;
}
.icon-random:before {
  content: "\e948";
}
.icon-replay:before {
  content: "\e949";
}
.icon-locked:before {
  content: "\e945";
  color: var(--primary-iconleft-color);
}
.icon-about:before {
  content: "\e93e";
  color: var(--primary-iconleft-color);
}
.icon-package:before {
  content: "\e941";
	color: var(--primary-iconleft-color);
}
.icon-contact:before {
  content: "\e93f";
	color: var(--primary-iconleft-color);
}
.icon-logout:before {
  content: "\e940";
	color: var(--primary-iconleft-color);
}
.icon-setting:before {
  content: "\e942";
  color: var(--primary-iconleft-color);
}
.icon-video:before {
  content: "\e943";
  color: var(--primary-iconleft-color);
}
.icon-moon:before {
  content: "\e944";
}
.icon-star:before {
  content: "\e93d";
  color: #ddd;
}
.icon-hotline:before {
  content: "\e93c";
	color: var(--primary-icon-color);
}
.icon-ringoff:before {
  content: "\e93b";
	color: var(--primary-icon-color);
}
.icon-follow:before {
  content: "\e939";
}
.icon-menu:before {
  content: "\e938";
  color: var(--primary-icon-color);
}
.icon-upload:before {
  content: "\e937";
  color: var(--active-txt-color);
}
.icon-addcircle:before {
  content: "\e923";
  color: var(--primary-icon-color);
}
.icon-addplaylist:before {
  content: "\e924";
	color: var(--primary-icon-color);
}
.icon-checker:before {
  content: "\e925";
}
.icon-delete:before {
  content: "\e926";
}
.icon-dislike:before {
  content: "\e927";
	color: var(--primary-icon-color);
}
.icon-download:before {
  content: "\e928";
	color: var(--primary-icon-color);
}
.icon-fire:before {
  content: "\e929";
  color: var(--primary-iconleft-color);
}
.icon-history:before {
  content: "\e92a";
  color: var(--primary-iconleft-color);
}
.icon-home2:before {
  content: "\e92b";
  color: var(--primary-iconleft-color);
}
.icon-like:before {
  content: "\e92c";
	color: var(--primary-icon-color);
}
.icon-notify:before {
  content: "\e92d";
	color: var(--primary-icon-color);
}
.icon-playlist:before {
  content: "\e92e";
  color: var(--primary-iconleft-color);
}
.icon-plus:before {
  content: "\e92f";
	color: var(--primary-icon-color);
}
.icon-register:before {
  content: "\e930";
  color: var(--primary-iconleft-color);
}
.icon-search2:before {
  content: "\e931";
	color: var(--primary-icon-color);
}
.icon-share:before {
  content: "\e932";
	color: var(--primary-icon-color);
}
.icon-sort:before {
  content: "\e933";
  color: var(--primary-iconleft-color);
}
.icon-user:before {
  content: "\e934";
	color: var(--primary-icon-color);
}
.icon-warning:before {
  content: "\e935";
  color: var(--primary-iconleft-color);
}
.icon-watch:before {
  content: "\e936";
}
.icon-author-mybolero:before {
  content: "\e909";
  color: #fabe5a;
}
.icon-micro-mybolero:before {
  content: "\e90a";
  color: #fabe5a;
}
.icon-cart:before {
  content: "\e900";
  color: #f81414;
}
.icon-gear:before {
  content: "\e901";
  color: var(--ucl-name-video-color);
}
.icon-file-rounded-outlined-symbol:before {
  content: "\e93a";
  color: var(--ucl-name-video-color);
}
.icon-account-5dmax:before {
  content: "\e902";
  color: var(--ucl-name-video-color);
}
.icon-episode-5dmax:before {
  content: "\e903";
  color: var(--ucl-name-video-color);
}
.icon-film-5dmax:before {
  content: "\e904";
  color: var(--ucl-name-video-color);
}
.icon-home-5dmax:before {
  content: "\e905";
  color: var(--ucl-name-video-color);
}
.icon-list-5dmax:before {
  content: "\e906";
  color: var(--ucl-name-video-color);
}
.icon-logout-5dmax:before {
  content: "\e907";
  color: var(--ucl-name-video-color);
}
.icon-package-5dmax:before {
  content: "\e908";
  color: var(--ucl-name-video-color);
}
.icon-income:before {
	content: "\e94c";
	color: var(--primary-iconleft-color);
}
.icon-tt:before {
	content: "\e94b";
	color: var(--primary-iconleft-color);
}


body .ui-widget-content{
	border-radius: 15px;
	border: 1px solid #c5c5c5;
}

#containerShareLink {
    padding: 12px;
}
#copyLinkShare {
    margin: 6px 0px;
}
h6.title a.edit_user {
	font-size: 11px;
}
#shareWebsite {
    overflow: hidden;
    display: inline-table;
    padding: inherit;
    pointer-events: none;
}
/* css dark mode theme */
.hvr-radial-out:hover .icon-menu:before {
	color: var(--primary-icon-hover-color);
}
.hvr-radial-out:before{
	background: none;
}
.fa-video-camera:before {
	color: var(--primary-iconleft-color);
}
.mdl-account .list .item.active{
	background: var(--ucl-menuleft-hover-background);
	color: var(--primary-icon-hover-color);
}

header .box-search form input#keyword{
	color: var(--primary-color);
}
div#contentVideoBlock {
	background: var(--ucl-content-right-background);
}
.mdl-upload .mdl-upload-guide .content-upload-bottom a{
	color:var(--ucl-link-default-color);
}
#form-contract .row-form .form-control, #content_channel_suggess li.ctn{
	color:var(--main-txt-color);
}
input#changepasswordform-password, input#changepasswordform-newpassword, input#changepasswordform-repeatpassword {
	color: var(--primary-color);
}
#editChannel .form-control, .accordion-content .form-control, .form-control, .list-video p.text-info{
	color: var(--primary-color);
}
#containerShareLink{
	background-color: var(--primary-bg-color);
}
#containerShareLink .form-control{
	background: var(--primary-bg-color);
}
button#closeContainerShare{
	color: #222;
}