/*****************************************************/
/*****************EDIT PLAYER VIDEOJS*****************/
/*****************************************************/
.vjs-myclip.video-js {
	color: #fff;
	font-size: 0.9em;
	font-family: 'Lato';
}

.vjs-myclip.video-js select{
	color: #222;
	background: #000;
}

/* Change the border of the big play button. */
.vjs-myclip .vjs-big-play-button {
	/*border-color: #3ac663;*/
	border-color: transparent !important;
	width: 2em;
	height: 2em;
	margin-left: -1em;
	margin-top: -1em;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	line-height: 1.85em;
}

.vjs-myclip .vjs-big-play-button .vjs-icon-placeholder{
	color: #fff;
}

/* Update status pause for big play button */
.vjs-myclip.vjs-paused .vjs-big-play-button {
    display: block;
}


/* Change the color of various "bars". */
.vjs-myclip .vjs-volume-level,
.vjs-myclip .vjs-play-progress,
.vjs-myclip .vjs-slider-bar {
	background: #006cd6;
}

.video-js .vjs-volume-level::before {
	font-size: 1em;
	top: -0.345034343433344em;
}

.vjs-myclip .vjs-play-progress::before {
	font-size: 0em;
	top: -0.345034343433344em;
	color: #006cd6;
}

.video-js .vjs-progress-control:hover .vjs-play-progress::before {
  font-size: 0.9em !important;
}

.vjs-myclip .vjs-control {
	width: 2.85em;
	padding-left: 0;
	padding-right: 0;
	outline: none;
}

.vjs-myclip a,.vjs-myclip a:hover,.vjs-myclip a:focus{
	outline: none !important;
} 

.vjs-myclip .vjs-paused,.vjs-myclip .vjs-playing {
	width: 3em;
	margin-left: 10px;
}

.player-container .vjs-myclip .vjs-paused,.player-container .vjs-myclip .vjs-playing {
	margin-left: 0;
}

.vjs-myclip .vjs-paused .vjs-icon-placeholder:before,.vjs-myclip .vjs-playing .vjs-icon-placeholder:before{
	font-size: 2.3em;
	line-height: 1.28em;
}

.vjs-myclip .vjs-time-divider {
	padding:0;
	min-width: auto;
}

.vjs-myclip .vjs-current-time-display{
	line-height:3.1em;
}

.vjs-myclip .vjs-control-bar #previousButton {
	margin-left: 10px;
}

.vjs-myclip .vjs-control-bar {
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );	
}

.vjs-myclip .vjs-subs-caps-button {
	position: absolute;
	right: 30px;
}

.vjs-myclip .vjs-fullscreen-control{
	position: absolute;
	right: 10px;
}

.vjs-myclip .quality_setting {
	position: absolute;
	right: 46px;
}

.vjs-myclip .quality_setting .vjs-icon-cog {
	position: relative;
	top: 1px;
	font-size: 1.4em;
}

.vjs-myclip .vjs-playback-rate {
	position: absolute;
	right: 82px;
}

.vjs-myclip .vjs-playback-rate .vjs-playback-rate-value {
	font-size: 1em;
	line-height: 3.1em;
}

.vjs-myclip div.vjs-captions-button{
	position: absolute;
	right: 118px;	
}

.vjs-menu-button-popup .vjs-menu {
	left: -3.1em;
	width: 11em;
}

.vjs-myclip .vjs-menu-content {
	border-radius: 3px;
	text-align: left;
	left: -3.1em;
	padding-bottom: 15px;
}

.vjs-myclip .vjs-menu-content li{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.vjs-myclip .vjs-progress-control {
	position: absolute;
	top: -10px;
	height: 15px;
	width: 100%;
	left: 0;
}

/*Left playlist*/
.player-container {
	padding: 0 15px;
	width: 100%;
	float: left;
	margin-top: 15px;
	overflow: hidden;
}

.player-container .content-playlist-player{
	width: 100%;
	background: var(--primary-bg-color);
	float: left;
	min-height: 400px;
}

.player-container .video-js.vjs-fluid{
	width: 65%;
}

.player-container .video-js {
	float: left;
}

.player-container .left-playlist {
	float: right;
	width: 35%;
	padding-left: 15px;
	position: relative;
	background: var(--primary-bg-color);
}

.player-container .left-playlist .header-list{
	padding-right: 10px;
}

.player-container .left-playlist .text-1{
	width:100%;
	text-overflow: ellipsis;
	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.player-container .left-playlist .text-2{
	width:100%;
	
	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.player-container span.vjs-control {
	cursor: pointer;
}

.player-container span.vjs-control .fa {
	font-size: 1.2em;
	line-height: 2.6;
	color: #fff;
}

.player-container .vjs-playlist-item-list {
	min-height: 350px;
}

/*Leftplaylist*/
.left-playlist .vjs-playlist {
	overflow-x: hidden;
	overflow-y: auto;
}

.left-playlist .icon-replay, .left-playlist .icon-random {
	padding-right: 15px;
	cursor: pointer;
	color: #888;
}

.left-playlist .icon-replay {
	font-size: 1.6em;
}

.left-playlist .icon-random {
	font-size: 1.7em;
	position: relative;
	bottom: -2px;
}

.left-playlist span.active .icon-replay,.left-playlist span.active .icon-random {
	color: #222;
}

.left-playlist .btn-repeat-list .fa{	
}

.vjs-csspointerevents.vjs-playlist .vjs-up-next .vjs-up-next-text {
	padding-left: 0 !important;
	color: var(--primary-color);
}

.left-playlist .vjs-playlist .vjs-playlist-name {
	font-family:"LatoMedium";
	font-size: 14px;
	padding-top: 4px;
	max-height: 2.75em;
	line-height: normal;
	padding-right: 15px;
	padding-left: 0;
	color: var(--primary-color);
}

.left-playlist .vjs-playlist .vjs-playlist-author{
	font-family:"Lato";
	font-size: 13px;
	font-style: normal;
	color: var(--ucl-playlist-author-color);
	display: block;
	width:100%;
	text-overflow: ellipsis;
	
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.left-playlist .vjs-csspointerevents.vjs-playlist {
	background: var(--primary-bg-color);
	padding-left: 6px;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-playlist-title-container {
	padding-top: 0;
	padding-bottom: 0;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-playlist-thumbnail .vjs-playlist-now-playing-text {
	width: 18px;
	height: 20px;
	overflow: hidden;
	margin: 0;
	color: #fff;
	top: 26px;
	left: 5px;
	padding-left: 18px;
}

.vjs-playlist-delete-button:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vjs-playlist-now-playing-text {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vjs-playlist-now-playing-text:before {
	content: "\e90d";
	color: #888;
	position: relative;
	bottom: -2px;
	left: -18px;
}

.vjs-playlist-delete-button{
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	display: none;
}

.vjs-playlist-item:hover  .vjs-playlist-delete-button{
	display: block;
}

.vjs-playlist-delete-button:before{
	content: "\f014";
	color: #888;
}

.left-playlist .vjs-csspointerevents.vjs-playlist time {
	left: 116px;
	top: 48px;
	border-radius: 3px;
	background: rgba(0,0,0,0.5);
	padding: 2px 4px;
	font-size: 12px;
	position: absolute;
	color: #fff;
	line-height: 16px;
	height: 18px;
	vertical-align: middle;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-playlist-thumbnail img{
	width: 124px;
	height: 70px;
	min-height: 70px;
	float: left;
	margin-right: 15px;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-playlist-title-container {
	position:relative;
	padding-left: 169px;
}

.left-playlist .vjs-playlist .vjs-playlist-item {
	margin-bottom: 15px;
}

.left-playlist .vjs-playlist .vjs-playlist-title-container {
	text-shadow:none !important;
	color: #222;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-selected {
	background: var(--ucl-leftplaylist-background);
}

.left-playlist  .vjs-csspointerevents.vjs-playlist .vjs-selected .vjs-playlist-thumbnail img {
	opacity: 1;
}

.left-playlist  .vjs-csspointerevents.vjs-playlist .vjs-playlist-index-text {
	float: left;
	color: #222;
	margin-top: 28px;
	font-size: 14px;
	width: 30px;
	text-align: center;
}

.left-playlist .vjs-csspointerevents.vjs-playlist .vjs-selected .vjs-playlist-index-text{
	color: #e5e5e5;
}

.vjs-control .vjs-button {
	outline: none;
}


/****************************/
 /* The animation code */
@keyframes animation-button {
    from {background-color: rgba(115, 133, 159, 1);  opacity: 0; width: 51px; height: 51px; display: block;}
    to {background-color: rgba(115, 133, 159, 0.5); opacity: 1; width: 71px; height: 71px; display: none;}
}

/* The element to apply the animation to */
.vjs-big-play-button {
    animation-name: animation-button;
    animation-duration: 0.035s;
	animation-timing-function: ease-out;
	display: none;
} 

.vjs-time-control {
    width: auto !important;
}