.blkUpload .photoBtn {
    width: 100%;
}

.err-upload{
    color: red;
}

.piracy .list-button a, .popup-normal .list-button a {
    background: transparent;
    border: none;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    cursor: pointer;
    height: 30px;
    padding-top: 11px;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
   display: block;
}

#rcmBlock li h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 117px;
}

.dis-dDown {
    width: 15px;
    margin: 6px auto 50px auto;
}
.mdl-ipx table{
    font-size: 1.0em !important;
}

.player-next-onscreen{
    position: absolute !important;
    right: -70px !important;
	top: 0px !important;
	font-size: 16px !important;
	border-color: #fff !important;
    background-color: #73859f !important;
    background-color: rgba(115, 133, 159, 0.2) !important;
	width: 35px !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -ms-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

.player-back-onscreen{
    position: absolute !important;
    left: -70px !important;
	top: 0px !important;
	font-size: 16px !important;
	border-color: #fff !important;
    background-color: #73859f !important;
    background-color: rgba(115, 133, 159, 0.2) !important;
	width: 35px !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -ms-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

.player-next-onscreen  .vjs-icon-placeholder:before{
	     content: "\f11f" !important; 		
}

.player-back-onscreen  .vjs-icon-placeholder:before{
	    content: "\f120" !important; 
}

.vjs-big-play-button{
	background-color: rgba(0,129,255,0.9) !important;
}

.vjs-modal-dialog{
    margin-top: -80px !important;
}

.player-next-s3:before {
    content: "\f11f" !important;
    font-family: VideoJS;
    font-size: 30px;
    color: white;
}
#countDown{
    position: relative;
    padding-bottom: 0px !important;
    margin: 0 auto;
    width: 80px;
}

.player-next-s3 {
    position: absolute;
    color: white;
    top: 6px;
    left: 21px;
    cursor: pointer;
}

#animated {
    position: absolute;
    color: white;
    /* top: 3%; */
    /* left: 43%; */
    left: 4px;
    cursor: pointer;
}

.vjs-modal-dialog .vjs-modal-dialog-content{
    min-height: 300px;
}
.vjs-modal-dialog{
    min-height: 300px;
}

.videoItem .playback span{
    width: 0px;
}

.video-js .vjs-big-play-button {

    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
     border-radius: 0 !important;

}

.cate-name{
    font-size: 12px;
    color: #444;
}

.btn-cancel-next-video{
    width: 60px;
    margin: 0px auto;
    position: relative;
}

.a-cancel-next-video{
    width: 60px !important;
    position: absolute;
    color: white;
    top: 40px !important;
    left: -4px !important;
    background-color: rgba(115, 133, 159, 0.5) !important;
    cursor: pointer;
    padding: 4px;
}

#contentSuggess li{
    height: 35px;
    border-bottom: solid 1px #eee;
    padding-bottom: 5px;
}

.blkSearch{
    overflow-y: scroll;
    max-height: 300px;
}
.width60{
    width: 60%;
}

.width30{
    width: 30%;
}

.width38{
    width: 38%;
}

.follow-btn-2{
    position: absolute !important;
    right: 12px !important;
    top: 7px !important;
    padding: 2px 4px !important;
    margin-bottom: 8px !important;
}

.dDownComment{
    width: 15px;
    margin: 6px auto 50px auto;
}

.text-highlight-event{
    color: #cd2d4b !important;
}