.blkUpload .photoBtn {
    width: 100%;
}

.err-upload{
    color: red;
}

.piracy .list-button a, .popup-normal .list-button a {
    background: transparent;
    border: none;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    cursor: pointer;
    height: 30px;
    padding-top: 11px;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}

#rcmBlock li h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 117px;
}

.dis-dDown {
    width: 15px;
    margin: 6px auto 50px auto;
}
.mdl-ipx table{
    font-size: 1.0em !important;
}

.player-next-onscreen{
    position: absolute !important;
    right: -70px !important;
    top: 0px !important;
    font-size: 16px !important;
    border-color: #fff !important;
    background-color: #73859f !important;
    background-color: rgba(115, 133, 159, 0.2) !important;
    width: 35px !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -ms-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

.player-back-onscreen{
    position: absolute !important;
    left: -70px !important;
    top: 0px !important;
    font-size: 16px !important;
    border-color: #fff !important;
    background-color: #73859f !important;
    background-color: rgba(115, 133, 159, 0.2) !important;
    width: 35px !important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -ms-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

.player-next-onscreen  .vjs-icon-placeholder:before{
    content: "\f11f" !important;
}

.player-back-onscreen  .vjs-icon-placeholder:before{
    content: "\f120" !important;
}

.vjs-big-play-button{
    background-color: rgba(0,129,255,0.9) !important;
}

.vjs-modal-dialog{
    margin-top: -80px !important;
}

.player-next-s3:before {
    content: "\f11f" !important;
    font-family: VideoJS;
    font-size: 30px;
    color: white;
}
#countDown{
    position: relative;
    padding-bottom: 0px !important;
    margin: 0 auto;
    width: 80px;
}

.player-next-s3 {
    position: absolute;
    color: white;
    top: 6px;
    left: 21px;
    cursor: pointer;
}

#animated {
    position: absolute;
    color: white;
    /* top: 3%; */
    /* left: 43%; */
    left: 4px;
    cursor: pointer;
}

.vjs-modal-dialog .vjs-modal-dialog-content{
    min-height: 300px;
}
.vjs-modal-dialog{
    min-height: 300px;
}

.videoItem .playback span{
    width: 0px;
}

.video-js .vjs-big-play-button {

    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

}

.cate-name{
    font-size: 12px;
    color: #444;
}

.btn-cancel-next-video{
    width: 60px;
    margin: 0px auto;
    position: relative;
}

.a-cancel-next-video{
    width: 60px !important;
    position: absolute;
    color: white;
    top: 40px !important;
    left: -4px !important;
    background-color: rgba(115, 133, 159, 0.5) !important;
    cursor: pointer;
    padding: 4px;
}

#contentSuggess li{
    height: 35px;
    border-bottom: solid 1px #eee;
    padding-bottom: 5px;
}

.blkSearch{
    overflow-y: scroll;
    max-height: 300px;
}
.width60{
    width: 60%;
}

.width30{
    width: 30%;
}

.width38{
    width: 38%;
}

.follow-btn-2{
    position: absolute !important;
    right: 12px !important;
    top: 7px !important;
    padding: 2px 4px !important;
    margin-bottom: 8px !important;
}

.dDownComment{
    width: 15px;
    margin: 6px auto 50px auto;
}

.text-highlight-event{
    color: #cd2d4b !important;
}

/*25.06*/
.languageCode{
    position: relative;
    top: -2px;
    margin-left: 12px;
    cursor: pointer;
    margin-right: 10px;
}

.languageCode .ico{
    width: 16px;
    height: 16px;
    color: #444;
}

.languageCode .languageCodeText{
    position: absolute;
    font-size: 9px;
    top: 2px;
    right: -13px;
    background: white;
    padding: 1px 1px;
    border-radius: 3px;
}

.scrollLanguage {
    overflow-y: auto;
    height: 180px;
    width: 100%;
    overflow-x: hidden;
}

.modalOptMn a.selected {
    background: #eee;
}

.owl-item .active {
    text-align: center;
}

.owl-item .li-cate {
    margin: 0 auto;
}

.blkTopChnls .title {
    margin-right: 24px;
}

.playlist-edit-linhtvn {
    overflow: hidden;
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
    /*white-space:pre-line;*/
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    word-break: break-word;
}

.comment-textarea-linhtvn {
    overflow: hidden;
}
.title .comment-textarea-linhtvn {
    word-wrap: break-word;
}

.cmtItem .title  {
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space:pre-line;
    -webkit-line-clamp: 1;
}

.video-channel-linhtvn {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space:pre-line;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    word-break: break-word;
}
#closeContainerShare{
    border: 0;
    color: black;
    margin-left: auto;
}
.blk .blkTitle {
    padding: 14px 12px;
}

header nav.subTab a.active {
    overflow: hidden;
    /*display: -webkit-box;*/
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-box-orient: vertical;
    margin-left: 15px;
    width: 60px;
}
#channelMenu .owl-carousel.owl-drag.chnlSlider .owl-item, header #channelMenu a.active{
    width: auto !important;
}
.blkVideoDetail .txtInfo{
    margin-top: 17px;
}
.blkVideoDetail .txtInfo img{
    position: absolute;
    top: -12px;
}
/*chuc nang comment*/+

                     .comment-left .name-user-cm{
                         font-size: 20px;
                         color: rgb(10 53 108);
                     }
.comment-left .time-cm{
    padding-left: 10px;
    color: #666;
}
.comment-left .avatar-cm{
    width:36px;
    border-radius: 50%;
}
.comment-left .media-heading {
    display: flex;
    align-items: baseline;
}
.comment-left .mdl-comment .col {
    padding-right: 15px;
    cursor: pointer;
}
.comment-left .icoMoreOption{
    cursor: pointer;
}
#comment-right{
    display: flex;
}

#comment-right .title{
    font-size: 18px;
    padding-left: 10px;
    color:var(--ucl-comment-title-color);
    width: 100%;
}
.content-comment{
    margin-top: 20px;
}
.content-comment .row{
    border: 1px solid #dbdbdb;
    border-bottom: none;
    padding: 10px;
}

.content-comment .row:last-child{
    border-bottom: 1px solid #dbdbdb;
}
#tab6 .mdl-comments{
    background: transparent;
    border: none;
    box-shadow:none;
}
.comment-left .popover-more {
    position: absolute;
    width: 174px;
    left: 261px;
    top: -5px;
}
.comment-left .comment-content{
    margin-bottom: 5px;
    padding-left: 5px;
}
.btnLikeComment .active{
    color:red;
}
.comment-left{
    position: relative;
}
.comment-left .col{
    cursor: pointer;
}
.comment-left .col i.active{
    color:#337ab7;
}
.comment-left .btnLikeComment span{
    padding-right: 5px;
}
.comment-left .btnDisLikeComment span{
    padding-right: 5px;
}
.comment-left .hide{
    display: none!important;
}
.comment-left .btn-cmt{
    display: inline-block;
    padding:0.5em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.10em solid var(--ucl-btn-reply-comment-color);
    color:var(--ucl-btn-reply-comment-color);
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 15px;
    font-size: 11px;
}
.comment-left .btn-cmt i{
    padding-right: 3px;
}
.comment-left .media-left .userInfo{
    display:flex;
    margin-top: 10px;
}
.comment-left .media-left .userInfo .comment-textarea-linhtvn{
    padding-left: 5px;
    margin-top: 5px;
}
.comment-left .media-left .name-user-cm{
    color: var(--ucl-comment-nameuser-color);
}

.comment-left .viewMoreComment{
    color: #0081ff;
}
.comment-left .btn{
    margin-top: 5px;
}
.sort-comment .icon-sort{
    cursor: pointer;
}
#commentApprove{
    margin: 100px 10px;
}
#commentApprove .row{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}
#commentApprove .list-comment{
    padding-left: 10px;
    padding-top: 20px;
}
#commentApprove .videoImage{
    width: 100%;
}
#commentApprove .videoImage img{
    width: 100%;
    border-radius: 5px;
}
#commentApprove .list-comment .child{
    padding-left: 30px;
}
#commentApprove .btn-default {
    background: #003365;
    color: var(--primary-bg-color);
    border-radius: 2px;
    padding: 7px 15px;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    min-width: 110px;
    display: inline-block;
    text-align: center;
}
#commentApprove .btn-cancel {
    background: #d2d2d2;
    color: #000;
    border-radius: 2px;
    padding: 7px 15px;
    vertical-align: middle;
    position: relative;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    min-width: 110px;
    display: inline-block;
    text-align: center;
}
.popover-more {
    position: absolute;
    width: 265px;
    z-index: 6;
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}
.popover-more .item-popover:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.popover-more .item-popover {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popover-more .item-popover {
    background: var(--ucl-searchbox-background);
    border: 1px;
    solid: #ececec;
    padding: 13px;
    cursor: pointer;
    position: relative;
    border-bottom: 0;
}
.btnDisLikeComment i{
    font-size: 20px;
    color: var(--ucl-btn-reply-comment-color);
    padding-right: 12px;
}
.btnLikeComment i{
    font-size: 20px;
    color: var(--ucl-btn-reply-comment-color);
    padding-right: 12px;
}
.btnDisLikeComment span{
    color: var(--ucl-btn-reply-comment-color);
}
.btnLikeComment span{
    color: var(--ucl-btn-reply-comment-color);
}
/*Thêm icon free*/
article.videoItem {
    position: relative;
}
.blkListVideosVer .videoItem .pthld, .blkListVideosVer .pthld{
    overflow: unset;
}
article.videoItem .attach-img{
    z-index: 1;
    position: absolute;
    right: -18px;
    top: -19px;
    transform: rotate(45deg);
}
article.videoItem .attach-img img{
    width: 45px;
    height: 45px;
    z-index: 999;
}
/*article.videoItem .pthld{*/
/*    overflow: inherit!important;*/
/*}*/
#relatedBox article.videoItem .attach-img{
    top: -13px;
    right: -10px;
}
#relatedBox article.videoItem .attach-img img{
    width: 35px;
    height: 35px;
}
#relatedBox article.videoItem .pthld{
    overflow: inherit!important;
}
.media-cm-video .btnLikeComment span {
    padding-right: 5px;
}
.media-cm-video .btnLikeComment i {
    font-size: 15px;
}
.media-cm-video .btnDisLikeComment span {
    padding-right: 5px;
}
.media-cm-video .btnDisLikeComment i {
    font-size: 15px;
}
.media-cm-video .btnReplyComment {
    color: var(--ucl-btn-reply-comment-color) !important;
}
.media-cm-video .col {
    padding-right: 0;
}
a[title="Notification"]{
    position: relative;
}
#notification-count{
    position: absolute;
    top: -9px;
    color: #fff;
    background-color: #c00;
    border: #fff;
    padding: 0 4px;
    min-width: 8px;
    max-width: 30px;
    border-radius: 22px;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.6rem;
    line-height: 1.1rem;
    font-weight: 400;
    right: -9px;
}
.item-comment .box-video span{
    font-size: 16px;
}