body {
    --ucl-btn-comment-color: #0081FF;
}
body.dark {
    --ucl-btn-comment-color: #aaa;
}
.spinner {
    margin: 10px auto;
    width: 32px;
    height: 32px;
    position: relative;
    text-align: center;
    border: 3px solid rgba(0, 129, 255, 0.4);
    border-radius: 20px;
    -webkit-animation: sk-rotate 1.3s infinite linear;
    animation: sk-rotate 1.3s infinite linear;
}

.quarter {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: -3px;
    margin-top: -3px;
    overflow: hidden;
}

.circle {
    width: 32px;
    height: 32px;
    position: relative;
    text-align: center;
    border: 3px solid var(--ucl-btn-comment-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

#popupReport, #popupShare, #popupChooseFilmPart {
    z-index: 999999;
}

.overlay-popup-2 {
    text-align: center;
}

.overlay-popup, .overlay-popup-2, .overlay-popup-3, .overlay-popup-4, .overlay-popup-5 {
    background: rgba(0, 0, 0, 0.85);
}

.overlay-popup, .overlay-popup-2, .overlay-popup-3, .overlay-popup-4, .overlay-popup-5 {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0;
    z-index: 99;
    display: none;
}

.overlay-popup .body-popup, .overlay-popup-2 .body-popup, .overlay-popup-3 .body-popup, .overlay-popup-4 .body-popup, .overlay-popup-5 .body-popup {
    background: transparent;
    width: 300px;
    margin: 0 auto;
}

.body-popup {
    padding: 10px;
    background: #063a5b;
    margin-bottom: 0px;
}

.classShareSocial .body-popup .wrap {
    background: transparent;
    margin-top: 120px;
}

.body-popup .wrap {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
}

.classShareSocial a {
    color: var(--primary-bg-color);
    display: inline-block;
}

.classShareSocial img {
    margin: 0px 10px;
    width: 84px;
}

.blkSignIn .txt-warning, .blkPadBoth .txt-warning {
    color: #FF4800;
    font-size: 13px;
}

.blkSignIn .modalPopup, .modalPopup .action a {
    color: var(--primary-color);
}

li.answerComment {
    vertical-align: sub;
}

li.answerComment a {
    color: #0081FF !important;
}

.hidden {
    display: none;
}

.body-popup .wrap {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
}

.piracy h2 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    padding-top: 0px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.piracy p {
    padding: 3px 10px;
    margin: 0 0 10px;
}

.piracy1 p {
    padding: 15px 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.piracy .title {
    text-align: center;
}

.piracy .list-button, .popup-normal .list-button {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.piracy .list-button button, .popup-normal .list-button button {
    background: transparent;
    border: none;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    cursor: pointer;
    height: 45px;
}

.btnCommentBox {
    margin-top: 10px;
    display: none;
}

.btnCommentBox a {
    padding-left: 20px;
}

.btnComment {
    color: var(--ucl-btn-comment-color);
}

.color0081FF {
    color: var(--ucl-btn-comment-color);
}

.color00000 {
    color: #000000 !important;
}

.inputReply {
    display: block;
}

.loadingBoxComment {
    display: none;
    margin-bottom: 45px !important;
}

.pb10 {
    padding-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt0 {
    margin-top: 0px !important;
}

.ctnhld_v1 {
    margin-left: 44px;
}

.banner-film {
    position: relative;
    float: left;
    width: 100%;
    background: #e7e7e7;
    overflow: hidden;
}

.banner-film .btn-play {
    position: absolute;
    z-index: 3;
    left: 25px;
    bottom: 25px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 77px;
    vertical-align: middle;
    color: var(--primary-bg-color);
    border-radius: 50%;
}

.banner-film .overlay-video {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}

.popup-custom .row-button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#popupAlert {
    color: black;
    z-index: 9999;
}

.avatar img {
    height: 100%;
}

.text-center {
    text-align: center;
    margin-top: 15px;
}

.text-center b {
    font-weight: bold !important;
}

.blkNotification .notiItem.old:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #707f8e;
    margin: 24px auto auto 6px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.padding0 {
    padding: 0px !important
}

.mt10 {
    margin-top: 10px !important;
}

.blkUserInfo .banner {
    background: #bbb !important;
}

/*MAP ACOOUNT*/

.blkMapAccount {
    background: #003365 url(../images/bglogin.png) no-repeat 50% 50%;
    background-size: cover;
    margin: 0 auto;
    /*	width:320px;
        min-height:500px;*/
    text-align: center;
    color: var(--primary-bg-color);
    padding-top: 20px;
    padding-bottom: 30px;
}

.blkMapAccount .mdl-login .logo {
    display: inline-block;
    margin: 30px 0 0 0;
    /*
    background-image: url(../images/logo_2.png);
    */
    background-size: 150px 166px;
    width: 150px;
    height: 166px;
}

.blkMapAccount .mdl-login .row-login {
    margin-top: 20px;
}

.blkMapAccount .mdl-login .txt-warning {
    color: #ff4800;
}

.blkMapAccount .mdl-login .row-login-last {
    margin-top: 50px;
    font-weight: bold;
}

.blkMapAccount .mdl-login a {
    color: #ffde01;
}

.blkMapAccount .mdl-login .txt-field {
    border: 0px;
    background: #fff;
    padding: 14px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.blkMapAccount #map-account-form button {
    padding: 14px;
    background: #0081FF;
    color: var(--primary-bg-color);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#file_avartar_name {
    position: absolute;
    bottom: 7px;
    text-align: center;
    left: 50%;
    margin-left: -150px;
    right: 0;
    font-size: 11px;
    color: var(--primary-bg-color);
    z-index: 2;
    width: 300px;
    display: block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#file_banner_name {
    position: absolute;
    top: 30px;
    text-align: center;
    right: 10px;
    font-size: 11px;
    color: var(--primary-bg-color);
    z-index: 2;
    width: 80px;
    display: block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.white {
    color: #FFFFFF;
}

.video-js .vjs-modal-dialog {
    background: rgba(0, 0, 0, 0.8);
}

.videoItem .title > a {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.overlay {
    opacity: 0.5 !important;
}

.blkSignIn {
    height: 100% !important;
}

header nav.pTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userItem .title {
    padding-right: 15px;
}

.pthld {
    overflow: hidden;
    background: white !important;
}

#loading-comment {
    margin-bottom: 50px;
}

#listFollowChannel {
    overflow: hidden;
    height: 40px;
}

#createPlaylistModal .iptLg {
    margin-bottom: 20px;
}

.notiItem.new:before {
    width: 4px !important;
    height: 4px !important;
}

.blkNotification .notiItem.old:before {
    width: 4px !important;
    height: 4px !important;
}

.blkVideoDetail .screen {
    /*height: 100% !important;*/
}

.blkSignIn {
    position: inherit !important;
}

.blkSignIn .reg {
    padding-bottom: 30px !important;
    padding-top: 10px !important;
}

.blkComments {
    margin-bottom: 80px;
}

.blkVideoDetail .chapterList .crrIdx span {
    border-bottom: 4px #dd0000 solid !important;
}

.toast-top-center {
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
}

.toast {
    width: 100% !important;
    opacity: 1;

}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
    width: 100% !important;
}

.toast-success {
    background-color: #0081FF !important;
}

#toast-container > div {
    border-radius: 0px !important;
    opacity: 1;
}

@media all and (max-width: 240px) {
    header .inviteBox {
        height: 60px
    }
}

@media all and (min-width: 241px) and (max-width: 320px) {

    .blkSignIn .logo {
        margin-left: -27px;
    }

    header .inviteBox {
        height: 60px
    }
	.blkMapAccount .mdl-login .txt-captcha{
		margin-left: 30px !important;
	}
}

@media all and (min-width: 321px) and (max-width: 480px) {
.blkMapAccount .mdl-login .txt-captcha{
		margin-left: 37px !important;
	}
}

.trunc-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay-popup {
    z-index: 9999;
}

.overlay-popup .title {
    padding: 20px 10px;
}

header nav.subTab {
    font-size: 1em !important;
}

.form-group label {
    font-size: 1em !important;
}

#changepasswordform-verifycode-image {
    height: 80px;
    width: 154px;
}

.blkPackages .btn {
    text-transform: uppercase;
}

.blkPackages article {
    border-bottom: solid 1px #eee !important;
}

ul#contentSuggess ul {
    height: 1.5em;
}

.f1em {
    font-size: 1em !important;
}

.blkVideoDetail .toggleBtn .ico {
    width: 10px !important;
    height: 5px !important;
}

.blkListVideos .videoItem .pthld img {
    height: 100%;
}

.blkChooseChnls li .ico {
    width: 10px !important;
    height: 8px !important;
}

.blkChooseChnls .title {
    font-weight: bold;
}

footer li {
    width: 18.5%;
}

.blkUserInfo .stBtn {
    z-index: 999;
}

.blkUserInfo .ctn {
    padding-top: 5px;
}

.sm-p {
    font-size: 11px;
}

.right-p {
    float: right;

}

.color888888 {
    color: #888888;
}

.hideMeVideo, .hideMeChannel {
    display: none;
}

.dDown {
    width: 15px;
    margin: 6px auto 100px auto;
}

.dDown2 {
    width: 15px;
    margin: 5px auto 85px auto;
}

header nav.pTitle {
    height: 22px;
}

.hideInfo3 {
    display: none !important;
}

main[id^='video_new_of_channel_'] .hideInfo1 {
    display: none;
}

main[id^='video_new_of_channel_'] .hideInfo3 {
    display: inline;
}

input[type="password"] {
    font-family: Arial !important;
}

.link-account input {
    width: 100%;
}

.blkMapAccount .mdl-login .txt-field {
    width: 80%;
    margin-left: 6%;
}

.blkMapAccount .mdl-login .txt-captcha {
    width: 40% !important;
    float: left;
}

.blkMapAccount .mdl-login img {
    border-radius: 6px;
}

.captcha-left {
    width: 40%;
    float: left;
}

.captcha-right {
    margin-left: 10px;
    float: left;
}

.captcha-right img {
    border-radius: 6px;
}

.blkUserInfo .banner img {
    height: 100%
}

header.search .ipt {
    height: 34px;
}

.short-title {
    line-height: normal;
    /* width: 100%; */
    width: auto;
    display: block;
    max-height: 28px;
    overflow: hidden;
    margin-bottom: 5px;
}

.link-download {
    color: blue;
}

#video_owner .hideInfo1{
    display: none;
}

#video_owner .hideInfo3{
    display: inline-block;
}

#popupShare h5{
    padding-top: 0px !important;
}

#prevBtn img, #nextBtn img {
    width: 14px;
    height: 14px;
}



#main-result-search .blkChannel{
    padding-bottom: 50px;
}

header .inviteBox{
    background: #fff;
    height: 64px; color: var(--primary-color); display: none;
    overflow: hidden; padding: 6px 8px;
}

header .inviteBox h6{ margin-bottom: 0px; font-size: 0.9em;}
header .inviteBox .appIcon{
     float: left; margin-right: 12px;
}

header .inviteBox .appInfo{
    display: table-cell; position: relative;
}

header .inviteBox .toggleBtn{
    color: var(--primary-color); padding-right: 8px; transform: scale(0.8);
}

header .inviteBox a{ color: var(--ucl-btn-comment-color); margin-top: 22px;}

.modalSearch .siBox .ipt {
    margin: 2px auto 0px 37px!important;
}

.blkIphoneX .filterMonth .btnBlue, .blkIphoneX .filterWeek .btnBlue{
    padding: 3px 10px 6px 10px !important;
}
.blkIphoneX .filterWeek .ipt {
    width: 33% !important;
}

.txt-warning{
    color: red;
}
/* css share link */
#embed-code {
    resize: none;
    height: 290px;
    width: -webkit-fill-available;
}
#copy-success {
    display: none;
}
#copy-success-link {
    display: none;
}
#shareModalWap {
    width: 90%;
    top: 15%;
    left: 50%;
    margin-left: -45%;
}
#containerShareLink {
    padding: 12px;
}
#copyLinkShare {
    margin: 6px 0px;
}
#shareWebsite {
    overflow: hidden;
    display: inline-table;
    padding: inherit;
    pointer-events: none;
}
#btnCommentBox input.clearComment {
    color: #222;
}