/*RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;  padding: 0;  border: 0;
    font-size: 100%;  font: inherit;  vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
body {
    --primary-color: #222;
    --primary-bg-color: #fff;
    --ucl-menu-color: #666;
    --ucl-comment-title-color: #388dde;
    --ucl-comment-name-color: #0a346b;
    --ucl-comment-nameuser-color: #0a356c;

    --ucl-menu-active-color: #009DFD;
    --ucl-line-color: #eee;
    --ucl-btn-comment-color: #0081FF;
    --ucl-btn-reply-comment-color: #17a2b8;
    --ucl-searchbox-background: #fff;
    --ucl-main-background: #fff;
    --ucl-playlist-header-background: #F0F0F0;
    background: #fff;
}
body.dark {
    --primary-color: #fff;
    --primary-bg-color: #181818;
    --ucl-menu-color: #fff;
    --ucl-comment-title-color: #fff;
    --ucl-comment-name-color: #fff;
    --ucl-comment-nameuser-color: #fff;

    --ucl-menu-active-color: #fff;
    --ucl-line-color: #ffffff1a;
    --ucl-btn-comment-color: #fff;
    --ucl-btn-reply-comment-color: #fff;
    --ucl-searchbox-background: #181818;
    --ucl-main-background: #000;
    --ucl-playlist-header-background: #000;
    background: #000;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';  content: none;
}
table {
    border-collapse: collapse;  border-spacing: 0;
}
strong{
    font-weight: bold;
}

/*END RESET CSS*/

/*GENERAL CSS*/

/*@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/HelveticaRegular.eot');
    src: local('☺'), url('../fonts/HelveticaRegular.woff') format('woff'), url('../fonts/HelveticaRegular.ttf') format('truetype'), url('../fonts/HelveticaRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: local('☺'), url('../fonts/HelveticaBold.woff') format('woff'), url('../fonts/HelveticaBold.ttf') format('truetype'), url('../fonts/HelveticaBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

a{
    color: var(--primary-color); text-decoration: none;
}
a:hover, a:active, a:focus{
    color: var(--ucl-menu-active-color);
    outline: none;
}

body{
    font-family: 'Lusitana', Sans-Serif;  font-size: 1em;  line-height: 1.3;
    color: var(--primary-color);
}

input, textarea, select, button{
    font-family: 'Lusitana', Sans-Serif;  font-size: 1em;  line-height: 1.3;
    color: var(--primary-color); outline: none; border: 0;
}

h1{ font-size: 2.5em; margin-bottom: 20px;}
h2{ font-size: 2em; margin-bottom: 16px;}
h3{ font-size: 1.75em; margin-bottom: 12px;}
h4{ font-size: 1.5em; margin-bottom: 10px;}
h5{ font-size: 1.25em; margin-bottom: 8px;}
h6{ font-size: 1em; margin-bottom: 6px;}
p{ padding-bottom: 10px;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.ico {
    display: inline-block; background-color: transparent;
    stroke-width: 0;  stroke: currentColor;  fill: currentColor;
    width: 16px;  height: 16px; vertical-align: middle;
}
.ico12 {
    width: 12px;  height: 12px;
}
.ico24 {
    width: 24px;  height: 24px;
}
.ctn{
    display: block; padding: 12px; position: relative; clear: both;
}
.ctn:after {
    content: ""; display: table; clear: both;
}

/* position: fixed;  */
.disScroll{margin: 0; height: 100%; display: block; overflow: hidden; width: 100%;}

.right{ float: right;}
.left{ float: left;}

.alLeft{
    text-align: left;
}
.alRight{
    text-align: right;
}
.alCenter{
    text-align: center;
}
.alJustify{
    text-align: center;
}

.ipt{
    border: 0; border-bottom: 1px #ddd solid; background: none; padding: 6px 0px; display: inline-block;
    /*border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;*/
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.ipt:hover, .ipt:focus{
    border-bottom: 1px #A0D0FF solid ;
}
.iptLg{ display: block; width: 100%;}

.clrGrey{ color: #888;}
.clrBlue{ color: var(--ucl-menu-active-color);}
.clrWhite{ color: var(--primary-color);}

.form-group label{ font-size: 0.8em; margin-bottom: -5px; position: relative; display: block; color: var(--ucl-menu-color);}
.form-group{ padding: 10px 0px;}
.form-group .w50{
    width: 49%; display: inline-block;
}

.overlay{position: fixed; background: #000000; width: 100%; height: 100%; top: 0; left: 0; z-index: 998;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    display: none;
}

.boxSd{
    -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}
.textSd{
    -webkit-text-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    -moz-text-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    text-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

/*modal*/
.modal img{ max-width: 100%;}
.modal{ position: fixed; z-index: 999; display: none; }
.modalOptMn{
    width: 100%; background: var(--primary-bg-color); bottom: 0;top: unset;
}
.modalOptMn a{
    display: block; width: 100%; padding: 12px; vertical-align: middle;
}
.modalOptMn a:hover, .optMn a:active, .optMn a:focus{
    background: var(--ucl-line-color);
}
.modalOptMn a .ico{
    margin-right: 20px;
}
.modalOptMn .listBorder li{ border-bottom: 1px var(--ucl-line-color) solid;}
.modalOptMn .listBorder li:last-child{ border-bottom: 0px;}

.modalPopup{
    width: 90%; background: var(--primary-bg-color); top: 15%; margin: auto;
    left: 50%; margin-left: -45%;
}
.modalPopup .listMenu a{
    display: block; width: 100%; padding: 12px 0px; vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}
.modalPopup a .ico{
    margin-right: 20px;
}
.modalPopup .fixCtn{
    display: block; max-height: 300px; overflow: auto; margin-bottom: 12px;
}
.modalPopup .ctn{ padding: 20px;}
.modalPopup .action a{ padding: 5px 15px;}
.modalPopup .action a.ok{ color: var(--ucl-menu-active-color); }
.modalPopup .controls{
    padding-top: 10px;
}
#playlistCreatePop .ctn>.ctn{ padding: 0px;}

.modalSearch{
    width: 100%; background: var(--primary-bg-color); top: 0%;  left: 0%;
}
.modalSearch .blkSearch{

}
.modalSearch .siBox .ctn{
}
.modalSearch .siBox button{
    background: var(--primary-bg-color);
}
.modalSearch .siBox .lIco{
    position: absolute; left: 0px; top: 14px;
}
.modalSearch .siBox .rIco{
    position: absolute; right: 0px; top: 14px;
}
.modalSearch .siBox .rIco .ico{
    margin-right: 12px;
    color: #444; width: 20px; height: 18px;
}
.modalSearch .siBox .ico{
    margin-top: -2px;
}
.modalSearch .siBox .ipt{
    width: 86%; margin: -2px auto auto auto;
}

.modalSearch .siBox .icoClose{
    width: auto; padding: 0; transform: scale(0.6); color: var(--ucl-menu-color);
}

.modalWC{
    height: 100vh; width: 100%; background: var(--primary-bg-color); top: 0;
    background: url('../images/wc_bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    color: var(--primary-bg-color);
}
.modalWC .btnWhite{
    padding: 10px 40px 12px 40px;
}
.modalWC .close{
    color: var(--primary-bg-color);
}

.tabCtn{
    display: none;
}
.tabCtn.active{
    display: block;
}
/*END GENERAL CSS*/

/*HEADER*/
header{
    position: fixed; z-index: 99; left: 0; top: 0;
    display: block; width: 100%;
    background: var(--primary-bg-color);  color: var(--primary-color); min-height: 50px;
    border-bottom: 1px var(--ucl-line-color) solid;
}
header .ctn{
    padding-top: 14px;
}
header.transparent{
    background: rgba(0,0,0,0); border: none;
}
header.search{
    background: #DFDFDF;
}
header .logo{
    width: 110px; height: 34px; margin-top: -8px;
}
header a{
    color: var(--primary-color);
}
header a:hover{
    color: var(--ucl-menu-active-color);
}

header a.blue{
    color: var(--ucl-menu-active-color);
}

header .rMn {
    height: 28px; display: inline-block;

}

header .rMn {
    height: 28px; display: flex;

}

header .rMn_child {
    display: inline-block;
}
header a .ico{
    margin-top: -2px;
}

header nav a{
    color: var(--primary-color); text-decoration: none;
}
header nav a:hover,header nav a.active{
    color: var(--ucl-menu-active-color);
}
header nav li{
    display: inline-block;
    margin: 0px 8px;
}

header .badge{
    width: 14px; height: 14px; display: inline-block; position: absolute; margin-left: 8px; margin-top: -3px;
    background: #ff0000; color: var(--primary-bg-color); font-size: 0.6em;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; text-align: center;
}

header .lMn{
    position: absolute; left: 12px;
}
header .rMn{
    position: absolute; right: 12px;
}
header .rMn a{
    margin-left: 18px; display: inline-block;
}
header .rMn a:first-child{
    margin-left: 0px;
}

header nav.mainMn{
    margin-left: 26px; margin-right: 44px; display: block; height: 20px; overflow: hidden;
}
header nav.mainMn.pullLeft{
    margin-left: 0px; margin-right: 60px;
}
header nav.pTitle{
    font-size: 1.1em; height: auto; min-height: 24px; overflow: auto;
}

/*sub tab*/
header nav.subTab{
    font-size: 0.86em; width: 100%; padding: 0px 12px;
}

header nav.subTab a{
    padding: 9px; display: block;
}
header nav.subTab a.active{
    border-bottom: 2px var(--ucl-menu-active-color) solid;
}

/*invite box*/
header .inviteBox{
    background: var(--primary-bg-color);
    height: 64px; color: var(--primary-color); display: none;
    overflow: hidden; padding: 6px 8px;
}
header p{padding: 0;font-size: 0.8em;}
header .inviteBox h6{ margin-bottom: 0px; font-size: 0.9em;}
header .inviteBox .appIcon{
     float: left; margin-right: 12px;
}

header .inviteBox .appInfo{
    display: table-cell; position: relative;
}

header .inviteBox .toggleBtn{
    color: var(--primary-color); padding-right: 8px; transform: scale(0.8);
}
header .inviteBox a{ color: var(--ucl-menu-active-color); margin-top: 22px;}

header .icoWC{
    animation: aniSpin 2s linear infinite;
}

.icoWCR{
    background: url("../images/wc_ball.png") no-repeat;
    background-size: 19px 19px;
    animation: aniSpin 2.6s linear infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes aniSpin {
    0%   {transform: rotate(0deg) scale(1);}
    50%   {transform: rotate(180deg) scale(1.4);}
    100% {transform: rotate(360deg) scale(1); }
}

/* Standard syntax */
@keyframes aniSpin {
    0%   {transform: rotate(0deg) scale(1);}
    50%   {transform: rotate(180deg) scale(1.4);}
    100% {transform: rotate(360deg) scale(1); }
}

/*END HEADER*/

main{
    transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s
}
main.padTop{
    padding-top: 70px;
}

/*FOOTER*/
footer{
    position: fixed; z-index: 99; left: 0; bottom: 0;
    display: block; width: 100%;
    background: var(--primary-bg-color);  color: var(--ucl-menu-color); height: 50px;
    box-shadow: 0px -5px 5px rgba(0,0,0,0.1); -moz-box-shadow: 0px -5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0px -5px 5px rgba(0,0,0,0.1);
}
footer nav{
    padding: 8px 0px 4px 0px;
}
footer li a{
    color: var(--ucl-menu-color);
    font-size: 0.86em;
}
footer li a.active{
    color: var(--ucl-menu-active-color);
}
footer li{
    display: inline-block; width: 18.8%; text-align: center; font-size: 0.8em;
}
footer li .ico{
    padding-bottom: 4px;
}
footer li .badge{
    width: 10px; height: 10px; display: inline-block; position: absolute; margin-left: 8px; margin-top: -5px;
    background: #ff0000; color: var(--primary-bg-color); font-size: 0.7em; padding: 1px 2px 3px 2px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}

/*END FOOTER*/

.tooltip{
    display: inline-block; position: absolute;
    background: var(--ucl-menu-active-color); color: var(--primary-bg-color); padding: 4px 10px;
    margin-top: -34px; font-size: 0.86em;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.tooltip:before {
    content:"";
    position: absolute;
    right: 100%;
    bottom: -6px;
    left: 49%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid var(--ucl-menu-active-color);
    border-right: 6px solid transparent;
}

.list2Items{}
.list2Items li{
    display: inline-block;
    width: 49%;
}
.list3Items{}
.list3Items li{
    display: inline-block;
    width: 32%;
}

.list4Items{}
.list4Items li{
    display: inline-block;
    width: 24%;
}

.list5Items{}
.list5Items li{
    display: inline-block;
    width: 18.8%;
}

.pthld{ overflow: hidden; background: var(--ucl-line-color); }
.avatar{
    width: 32px; height: 32px; overflow: hidden; background: var(--ucl-line-color);
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.pthld img, .avatar img{ width: 100%; }

.onOff{ display: inline-block;}
.onOff.switch .ico{
    width: 30px;  height: 16px;
}

.onOff .ico{ display: none;}
.onOff .active{ display: inline-block;}

.toggle{ display: none;}
/*.toggle.showed{ display: block;}*/

.trans{
    transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s
}
.rotate180{
    transform: rotate(-180deg); -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg);
}

.btn{
    text-align: center; display: inline-block; border: 0px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.btn:hover{ opacity: 0.9;}

.btnLg{ display: block; width: 100%; padding: 10px;}

.btnGrey{
    text-align: center; background: #ccc; color: var(--primary-bg-color); padding: 8px 16px;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.btnOutline{
    text-align: center; color: var(--ucl-menu-color); padding: 7px 15px; border: 1px #aaa solid;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.btnOutlineS{
     text-align: center; color: var(--ucl-menu-color); padding: 4px 10px 6px 10px!important; border: 1px #aaa solid;
     border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
 }

.btnOutlineBlue{
    text-align: center; color: var(--ucl-menu-active-color); padding: 7px 15px; border: 1px var(--ucl-menu-active-color) solid;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.btnOutlineBlueS{
    text-align: center; color: var(--ucl-menu-active-color); padding: 4px 10px 6px 10px!important; border: 1px var(--ucl-menu-active-color) solid;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.btnBlue{
    text-align: center; background: var(--ucl-menu-active-color); color: var(--primary-bg-color); padding: 8px 16px;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.btnBlueS{
    text-align: center; background: var(--ucl-menu-active-color); color: var(--primary-bg-color); padding: 4px 11px 7px 11px;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.btnWhite{
    text-align: center; background: var(--primary-bg-color); color: var(--ucl-menu-active-color); padding: 8px 16px;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.btnGrey:hover,
.btnBlue:hover,
.btnBlueS:hover{
    color: var(--primary-bg-color);
}

.blk{}
.blkPadTop{ margin-top: 48px;}
.blkPadBtm{ margin-bottom: 50px;}
.blkPadBoth{ margin: 50px auto 50px auto;}
.blkPadBothExt{ margin: 84px auto 50px auto;}
.blkBdTop{ border-top: 1px var(--ucl-line-color) solid;}
.blkBdBt{ border-bottom: 1px var(--ucl-line-color) solid;}
.blkPadTop12{ padding-top: 12px;}

.blk img{
    max-width: 100%;
}

.blk .blkTitle{
    padding: 6px 12px; color: #888;
}
.blk .blkTitle .avatar{
    display: inline-block; vertical-align: middle; margin-right: 6px;
}
.blk .ctn .blkTitle{
    padding: 0px 0px 6px 0px; color: #888;
}

.pagination{
    display: block; margin-top: 10px;
}
.pagination a{
    display: inline-block; min-width: 14px; height: 24px; font-size: 0.9em; line-height: 22px;
    border: 1px var(--ucl-line-color) solid; text-align: center; color: #888!important; padding: 0 5px;
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.pagination a.active{
    background: var(--ucl-menu-active-color); color: var(--primary-bg-color)!important; border: 1px var(--ucl-menu-active-color) solid;
}

.txtInfo{ color: #888; font-size: 0.8em; }
.txtInfo a{ color: #888; }
.txtInfo a:hover{ color: var(--ucl-menu-active-color); }
.txtInfo .dot{
    width: 3px; height: 3px; background: #888; display: inline-block; margin: 2px 5px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}

.user .ctnhld{
    display: table-cell; padding: 0px 12px; width: 100%;
}

/*List videos*/

.videoItem .avatar{
    width: 40px; height: 40px;
}
.videoItem .pthld{
    position: relative;
}
.videoItem .timing{
    position: absolute; background: rgba(0,0,0,0.6); color: #fff; font-size: 0.7em;
    bottom: 12px; right: 12px; padding: 2px 6px 4px 6px;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.videoItem .playback{
    position: absolute; background: rgba(0,0,0,0.1); width: 100%; height: 3px; bottom: 0;
}
.videoItem .playback span{
    display: block; height: 3px; width: auto; background: var(--ucl-menu-active-color);
}
.videoItem p{ padding-bottom: 0px;}
.videoItem .icoMore{
    position: absolute; right: 0px; top: 12px; padding: 2px 4px; z-index: 9;
}
.videoItem .title{ font-size: 1em;}

/*full size*/
.blkListVideos{}
.blkListVideos .videoItem{
    border-bottom: 1px var(--ucl-line-color) solid; margin-bottom: 6px;
}
.blkListVideos .videoItem:last-child{
    border: 0px;  margin-bottom: 0px
}
.blkListVideos .videoItem .ctn{
    padding-left: 0px; padding-right: 0px;
}
.blkListVideos .videoItem{
    border-bottom: 1px var(--ucl-line-color) solid;
}
.blkListVideos .videoItem .pthld{
    width: 100%; min-height: 180px; max-height: 432px;
}

.blkListVideos .videoItem .avatar{
    position: absolute;
}

.blkListVideos .videoItem .title,
.blkListVideos .videoItem .txtInfo{
    margin: auto 16px 6px 52px;
}
.blkListVideos .videoItem .icoMore{
    margin-right: -10px;
}

/*vertical size*/
.blkListVideosVer{ padding-top: 12px;}
.blkListVideosVer .ctn{ padding-top: 0px;}
.blkListVideosVer .icoMore{ top: 0px;}
.blkListVideosVer .videoItem .pthld{
    width: 160px; height: 100px; float: left;
}
.blkListVideosVer .videoItem .ctnhld{
    padding: 0px 12px 0px 18px; display: table-cell;
}
.blkListVideosVer .blkTitle .rightCn{
    float: right; font-size: 0.8em; color: #888;
}

.blkListVideosVer .pthld{
    position: relative;
}
.videoItem .plOverlay{
    position: absolute; right: 0; width: 40%; height: 100%;
    background: rgba(0,0,0,0.6); color: #fff;
}
.videoItem .plOverlay p{
    padding: 20px 0px 5px 0px; font-size: 0.86em;
}


.blkCat .videoItem .title,
.blkCat .videoItem .txtInfo{
    margin: auto 6px 6px 0px;
}
.blkCat .videoItem .ctn{
    display: inline-block; vertical-align: top;
}
.blkCat .videoItem .ctnR{
    text-align: right; font-size: 0.8em; margin-top: 10px;
}
.blkCat .videoItem .ctnR .avatar{
    float: right; position: relative; margin-left: 10px; margin-top: -10px;
}
/*End List videos*/

/*iPhoneX event*/
.blkIphoneX a{
    color: var(--ucl-menu-active-color);
}

.blkIphoneX .banner{
    background: url('../images/ipx_bg.png') no-repeat top right;
    background-size: contain;
}
.blkIphoneX .banner .hot{
    background: #FF4D4D; padding: 1px 8px 3px 8px; font-size: 0.8em; color: var(--primary-bg-color);
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
    position: absolute; margin-top: 2px;
}
.blkIphoneX .banner .title{
    margin-left: 44px; display: block;
}
.blkIphoneX .banner a{
    color: var(--primary-color);
}
.blkIphoneX .header{
    background: url('../images/ipx_bgl.png') no-repeat 50% 50%;
    background-size: cover; min-height: 90px; margin-bottom: 16px;
}
.blkIphoneX .header .title{
    color: var(--primary-bg-color); width: 76%;
}
.blkIphoneX .header .iphone{
    position: absolute; right: 12px; top: 18px;
}
.blkIphoneX .header span{
    display: inline-block;
}

.blkIphoneX table{
    font-size: 0.9em;
}
.blkIphoneX table thead th{
    border-bottom: 2px #ddd solid; text-align: left;
    padding: 6px; font-weight: bold;
}
.blkIphoneX table tbody tr:nth-child(2n+1){
    background: #f4f4f4;
}
.blkIphoneX table tfoot td{
    border-top: 2px #ddd solid;
    padding: 6px; font-weight: bold;
}
.blkIphoneX table td{
    padding: 6px;
}
.blkIphoneX table thead th:last-child,
.blkIphoneX table td:last-child{
    text-align: right;
}
.blkIphoneX .filterWeek .ipt{
    width: 37%; margin-right: 6px;
}
.blkIphoneX .filterWeek .icoCal{
    margin-left: -22px; margin-right: 6px; color: #888;
}
.blkIphoneX .filterMonth .btnBlue,
.blkIphoneX .filterWeek .btnBlue{
    display: inline-block; padding: 3px 16px 6px 16px; color: var(--primary-bg-color);
}
.blkIphoneX .form-group{
    padding-top: 0px;
}

.blkIphoneX .filterMonth .ipt{
    margin: auto 6px; width: 50%;
}

.blkIphoneX .ctaBtn .btnBlue{
    color: var(--primary-bg-color); width: 70%;
}


.blkIncome .box h5{ margin-bottom: 0px;}
.blkIncome .box{
    border: 1px var(--ucl-line-color) solid; background: #f5f5f5;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.blkIncome table td{
    padding: 6px;
}
.blkIncome .btnBlue{
    color: var(--primary-bg-color); padding: 8px 40px 10px 40px;
}

/*iPhoneX event*/

.blkEvent{
    background: url("../images/event_bg.png") center top;
    background-size: cover; min-height: 80vh;
}

.blkEvent .btnWhite{
    padding: 10px 40px;
}

.blkEvent .joinBtn{
    position: absolute; width: 100%; z-index: 9;
    top: 330px;
}

.blkEventHT{}
.blkEventHT li{
    float: left; width: 100%;
    border-top: 1px var(--ucl-line-color) solid; padding: 12px 0px; min-height: 32px;
}
.blkEventHT .blkTitle{
    color: #222!important; font-weight: bold; margin-top: 12px;
}

/*Video Detail*/
.blkVideoDetail .screen{ height: 240px;}
.blkVideoDetail .title{ margin-right: 24px;}
.blkVideoDetail .btnList{ padding-top: 5px;}
.blkVideoDetail .btnList .ico{ margin-bottom: 5px;}
.blkVideoDetail .btnList p{ padding-bottom: 0px;}

.blkVideoDetail .user a.right{ padding: 5px;}
.blkVideoDetail .toggleBtn{ padding: 2px 4px;}
.blkVideoDetail .toggleBtn .ico{ width: 10px; height: 5px;}

.blkVideoDetail .chapterList{ width: 90%; margin: auto; font-size: 1.5em; font-weight: normal; text-align: center;}

.blkVideoDetail .chapterList .crrIdx{ color: #dd0000; text-decoration: underline;}
.blkVideoDetail .chapterList .crrIdx span{ display: inline-block; border-bottom: 2px #dd0000 solid;}

.blkVideoDetail .countdown{ background: #222; color: var(--primary-bg-color);}
.blkVideoDetail h5{ padding-top: 70px;}
.blkVideoDetail .counter div{ display: inline-block; vertical-align: top; padding: 0px 10px;}
.blkVideoDetail .counter div h1{margin-bottom: 0px; font-size: 3em; font-weight: bold;}
.blkVideoDetail .counter div span{ display: inline-block; font-size: 2em;}
.blkVideoDetail .counter div p{ font-size: 0.8em; color: #ccc;}
.blkVideoDetail .counter div.dot{ font-size: 2.4em; line-height: 1.6em; padding: 0px;}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{
    position: absolute; top: 0%; width: 15px; height: 20px;
}
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-prev:hover{
    color: var(--ucl-menu-active-color);
}
.owl-carousel .owl-nav .owl-next{ right: -20px;}
.owl-carousel .owl-nav .owl-prev{ left: -20px;}


/*End Video Detail*/


/*Top channel*/
.blkTopChnls{
    border-bottom: 1px var(--ucl-line-color) solid;
    overflow: hidden; display: block;
    position: relative;
}
.blkTopChnls .addBtn{
    line-height: 40px; text-align: center; background: var(--primary-bg-color);
}
.blkTopChnls .addBtn a{
    color: var(--ucl-menu-active-color);
}
.blkTopChnls .chnlSlider{
    padding: 12px 0px 12px 12px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.blkTopChnls li{
    display: inline-block;
    margin: auto 2px;
}
.blkTopChnls .avatar{
    width: 48px; height: 48px; border: 1px var(--ucl-line-color) solid;
}
.blkTopChnls .title{
    font-size: 0.8em; text-align: center; color: var(--ucl-menu-color); font-weight: bold; padding-top: 3px; padding-bottom: 0px;
}

.blkTopChnls .selected .avatar{
    border: 1px var(--ucl-menu-active-color) solid;
}

.blkTopChnls .selected .title{
    color: var(--ucl-menu-active-color);
}


/*Choose channel*/
.blkChooseChnls{}
.blkChooseChnls section{
    margin-bottom: 10px;
}
.blkChooseChnls li{ text-align: center; vertical-align: top; padding: 10px 0px; font-size: 0.86em; position: relative;}
.blkChooseChnls li .chkBox{
    position: absolute; width: 14px; height: 14px; background: var(--primary-bg-color); border: 1px #aaa solid;
    left: 50%; margin: -4px auto auto 14px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.blkChooseChnls li.chose .chkBox{
    background: var(--ucl-menu-active-color); border-color: var(--ucl-menu-active-color);
}

.blkChooseChnls li .ico{ width: 9px; height: 8px; margin-top: -3px;}

.blkChooseChnls .pthld{
    width: 48px; height: 48px; margin: auto; margin-bottom: 5px;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.blkChooseChnls .title{
    border-bottom: 1px #ddd solid; padding: 10px 0px; margin-bottom: 10px;
}
.blkChooseChnls .title .rightCn{
    float: right; font-size: 0.8em; color: #888; padding-top: 5px;
}
/*End Choose channel*/

/*Channel detail*/
.blkChnlInfo{}
.blkChnlInfo .banner{
    width: 100%;  height:64px;
}
.blkChnlInfo .avatar{
    position: relative; width: 54px; height: 54px; margin-top: -40px; margin-bottom: 10px;
}
/*.blkChnlInfo .txtInfo span{ padding: 0px 10px 0px 5px;}*/

/*End Channel detail*/

.chnlItem{}
.chnlItem .banner{
    width: 100%;  height:64px;
}
.chnlItem .avatar{
    position: relative; width: 54px; height: 54px; margin-top: -40px; margin-bottom: 10px;
}

.blkRcmChnls{
    padding-top: 6px;
}
.blkRcmChnls li{
    display: inline-block;
}

/*Channel list*/
.blkListChnlVer{
    padding-top: 15px;
}
.blkListChnlVer .chnlItem .addBtn{
    line-height: 50px; text-align: center; background: var(--primary-bg-color); border: 1px var(--ucl-line-color) solid;
}

.blkListChnlVer .chnlItem .avatar{
    margin-top: 0; margin-bottom: 0px;
    display: inline-block; vertical-align: middle;
}
.blkListChnlVer .chnlItem .ctnhld{
    display: inline-block; vertical-align: middle;
    margin-left: 10px; width: 45%;
}
.blkListChnlVer .chnlItem .btn{
    margin-top: 6px;
}


/*Follow*/
.blkFollow{ border-bottom: 1px var(--ucl-line-color) solid;}
.blkFollow .chnlSlider{
    padding-right: 40px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.blkFollow .avatar{ width: 40px; height: 40px;}
.blkFollow li{ display: inline-block; padding-right: 6px;}
.blkFollow .more{
    background: var(--primary-bg-color); height: 40px; line-height: 40px;
    position: absolute; z-index: 9; right: 0px; padding: 0px 12px;
}
/*End Follow*/

/*Comment*/
.cmtItem{ position: relative;}
.cmtItem .icoMore{
    position: absolute; right: 0px; top: 12px; padding: 2px 4px; z-index: 9;
}
.cmtItem .showMore a{
    display: block; color: var(--ucl-menu-active-color); font-size: 0.9em;
}
.cmtItem .title{ font-size: 0.9em;}
.cmtItem .feedback li{
    color: #888; padding: 0px 10px 15px 10px; display: inline-block;
}
.cmtItem .feedback a{color: #888;}
.cmtItem .feedback a:hover{ color: var(--ucl-menu-active-color);}
.cmtItem .ctn{ padding-bottom: 0px;}

.cmtItem .cmtItem .icoMore{ right: -24px;}
.cmtItem .cmtItem .ctn{ padding-right: 0px;}
.cmtItem .cmtItem .ctnhld{ padding-right: 0px;}

.blkComments{}
.blkComments .cmtInput{ padding-top: 0px;}
.blkComments .cmtInput .avatar{position: absolute;}
.blkComments .cmtInput .inthld{ margin-left: 44px; display: block;}
.blkComments .cmtInput .ipt{ width: 100%;}
/*End Comment*/

.blkAbouts{}
.blkAbouts .info{ border-top: 1px #ddd solid; padding-top: 12px;}

.blkPackages .pkItem{ padding-top: 20px;}
.blkPackages .pkItem .btn{ margin: 5px auto;}
.blkPackages .pkItem .reged{ font-size: 0.8em; color: var(--ucl-menu-active-color);}
.blkPackages .pkItem .ico{ margin-top: -2px; position: relative}


/*Notification*/
.notiItem{ position: relative;}
.notiItem .avatar{ margin-left: 6px;}
.notiItem .pthld{ margin-right: 12px; width: 86px; height: 48px;}
.notiItem .ctnhld{
    display: table-cell; padding: 0px 12px; width: 100%;
}
.notiItem .icoMore{
    position: absolute; right: 0px; top: 12px; padding: 2px 4px; z-index: 9;
}
.notiItem.new:before{
    content: ''; position: absolute;
    width: 6px; height: 6px; background: var(--ucl-menu-active-color); margin: 24px auto auto 6px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}


/*Upload*/
.blkUpload{}
.blkUpload .uploader{
    background: var(--ucl-line-color); position: relative;  height: 200px;
}
.blkUpload .uploader .text{
    position: absolute; padding-top: 100px; width: 100%;
}
.blkUpload .uploader .text h5{
    padding-top: 10px;
}
.blkUpload .uploader input{
    background: #ff0000; width: 100%; height: 200px; position: relative; opacity: 0;
}
.blkUpload .icoBigCamera{
    width: 48px; height: 32px; position: absolute; top: 40%; margin-left: -24px;
}

.blkUpload .photoBtn{
    position: absolute; right: 0px; opacity: 0;
}
.blkUpload .arrowDown{ width: 8px;}
.blkUpload select{ position: relative; margin-top: -3px;}
/*End Upload*/

/*Sign In*/
.blkSignIn{
    height:100vh; min-height:100vh; color: var(--primary-bg-color); font-size: 1em; position: fixed; overflow: auto;
    background: #212121 url('../images/bglogin.png') no-repeat 50% 50%; background-size: cover;
}
.blkSignIn a{ color: var(--primary-bg-color);}
.blkSignIn a:hover{ color: #A0D0FF;}
.blkSignIn .ctn{
    padding: 36px;
}
.blkSignIn .ipt{
    border: 0px; background: var(--primary-bg-color); padding: 14px;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.blkSignIn .btn{
    padding: 14px; background: var(--ucl-menu-active-color); color: var(--primary-bg-color);
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.blkSignIn .btn:hover{ color: var(--primary-bg-color);}
.blkSignIn .btnFb{ background: #4A90E2;}
.blkSignIn .btnGg{ background: #E66868;}
.blkSignIn .btn3g{ background: #70B426;}
.blkSignIn .logo{ padding-top: 0px;}
.blkSignIn .forgot{ padding-top: 10px;}
.blkSignIn .reg{ padding-top: 30px;}
.blkSignIn .captcha .ipt{
    display: inline-block; width: 60%; vertical-align: top;
}
.blkSignIn .captcha div{
    display: inline-block; width: 38%; color: var(--primary-color);
    background: var(--primary-bg-color); height: 46px; line-height: 46px; vertical-align: top;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.blkSignIn .captcha .code{
    overflow: hidden; position: relative;
}
.blkSignIn .captcha .code img{
    max-width: 100%;
}
.blkSignIn .captcha .code a{
    position: absolute; right: 5px; top: 0px; z-index: 9;
}
/*End Sign In*/


/*User Page*/
.blkUserInfo{ color: var(--primary-bg-color); position: relative;}
.blkUserInfo h6 a.edit_user{ color: var(--primary-color); font-size: 11px;}
.blkUserInfo .banner{
    width: 100%;  height:110px; background: #000;
}
.blkUserInfo .banner img{
    opacity: 0.8;
}
.blkUserInfo .ctn{
    position: absolute; padding-top: 25px; z-index: 9;
}
.blkUserInfo .avatar{
    width: 48px; height:48px; margin-bottom: 5px;
}
.blkUserInfo .stBtn{
    position: absolute; right: 12px; bottom: 12px;  z-index: 9; width: 20px; height: 20px;
}
.blkUserInfo a{ color:var(--primary-color)}

.blkUserStart{
    border-bottom: 1px #ddd solid; color: var(--primary-color);
}
.blkUserStart .ctn{
    position: relative; display: block;
}
.blkUserStart .avatar{
    width: 144px; height: 144px; margin: auto auto 10px auto;
}
.blkUserStart .btnBlue{
    margin-top: 10px;
}

.blkUsers{}
.blkUsers li a{ display: block; padding: 15px;}
.blkUsers li a:hover, .blkUsers li a:focus, .blkUsers li a:active{
    background: var(--ucl-line-color);
}
.blkUsers li .ico{ margin: auto 15px; width: 20px; height: 20px;}
.blkUsers .btnBlue{
    padding: 14px;
}

.userItem .avatar{ margin: 0px 6px;}
.userItem .title{ margin-bottom: 0px;}
.userItem .ctnhld{
    display: table-cell; padding: 0px 100px 0px 12px; width: 100%;
}
.userItem .icoMore{
    position: absolute; right: 12px; top: 12px; padding: 2px 4px; z-index: 9;
}

.blkChannel .userItem .avatar{ width: 48px; height: 48px;}
.blkChnlSetup .avatar{
    position: absolute; left: 50%; top: 50%; z-index: 9;
    width: 54px; height: 54px; margin-left: -27px; margin-top: -27px;
}
.blkChnlSetup .photoBtn{
    height: 54px; width: 54px; position: absolute; z-index: 9; opacity: 0;
    background: var(--primary-bg-color); overflow: hidden;
}
.blkChnlSetup .avatar .ico{
    position: absolute; left: 50%; top: 50%;
    margin-left: -8px; margin-top: -8px;
}
.blkChnlSetup .stBtn{
    bottom: auto; top: 12px;
}
.blkChnlSetup .stBtn .photoBtn{
    height: 32px; width: 32px; margin-left: -6px; margin-top: -6px;
}
/*End User Page*/

/*Playlist*/
.blkPlaylist .plHeader{
    background: var(--primary-bg-color);
    position: relative;
}
.blkPlaylist .plHeader .controls a{
    padding: 5px; margin: auto 3px;
}
.blkPlaylist .plHeader .playBtn{
    position: absolute; bottom: -24px; right: 12px; text-align: center; line-height: 40px;
    background: #817f7f; color: var(--ucl-menu-active-color); width: 48px; height: 48px;
    border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}
.blkPlaylist .plHeader .playBtn .ico{ margin-right: -4px;}


/*Settings*/
.blkSettings{}
.blkSettings li{ display: block; padding: 15px; border-bottom: 1px #ddd solid;}
.blkSettings li a{ display: block;}
.blkSettings select{ position: relative; margin-top: -3px;}
.blkSettings .arrowDown{ width: 8px;}


/*Search*/
header.search,
header.search a {
    color: var(--primary-color);
}
header.search .ipt,
header.search button{
    position: relative; margin-top: -6px; border-bottom-color: rgba(0,0,0,0);
}

.blkSearch{}
.blkSearch li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding: 15px;
    overflow: hidden;
}
.blkSearch li a:hover, .blkUsers li a:focus, .blkUsers li a:active{
    background: var(--ucl-line-color);
}
.blkSearch li .ico{ margin: auto 15px auto 5px; width: 20px; height: 20px;}
.blkSearch li .ico.right{margin: auto;}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 414px) {
    .blkListVideos .videoItem .pthld{
        height: 232px;
    }
    .blkChnlInfo .banner{
        height:70px;
    }
}

@media (max-width: 375px) {
    .blkListVideos .videoItem .pthld{
        height: 210px;
    }
}


@media (max-width: 320px) {
    .blkListVideos .videoItem .pthld{
        height: 180px;
    }
    .blkChnlInfo .banner{
        height:54px;
    }

    .blkIphoneX .filterWeek .ipt{
        width: 35%; margin-right: 6px;
    }
    .blkIphoneX .filterMonth .ipt{
        margin: auto 6px; width: 42%;
    }

    .txtInfo .btnRegister {
        position: relative !important;
        right: 0 !important;
    }
}

/*Update by vietnt*/
.btnCancelVideo{
    background:#494949;
    color:var(--primary-bg-color);
    border-radius:6px;
    padding:4px 10px 8px 10px;
    min-width:100px;
    text-align:center;
}

.btnRegister{
    background:#eaa944;
    color:var(--primary-bg-color);
    border-radius:6px;
    padding:4px 10px 8px 10px;
    min-width:100px;
    text-align:center;
}

.btnCancelVideo:hover, .btnRegister:hover{
    color:var(--primary-bg-color) !important;
}

.blkVideoDetail .screen {
    position:relative;
}

.blkVideoDetail .screen .btn{
    position:absolute;
    bottom:10px;
    cursor:pointer;
}

.blkVideoDetail .screen .btnCancelVideo{
    position:absolute;
    left:10px;
}

.blkVideoDetail .screen .btnRegister{
    position:absolute;
    right:10px;
}

.txtInfo{
    position:relative;
}

.txtInfo .btnRegister{
    position:absolute;
    color:var(--primary-bg-color);
    font-size:13px;
    padding:1px 0 5px 0;
    min-width:70px;
    bottom:-5px;
    right:-15px;
}

.warningText {
    padding:10px;
    text-align:center;
}

.warningText strong{
    white-space:nowrap;
    display:inline-block;
}

.paddingTop {
    float:left;
    padding-top:60px;
}

#popUp2010 {
    background:transparent;
    text-align:center;
}

#popUp2010 .ctn{
    padding:0;
}

#popUp2010 img{
    max-width:300px;
}

#popUp2010 .text{
    position:absolute;
    top:145px;
    left:50%;
    margin-left:-70px;
    z-index:2;
    color:#cd2d4b;
    font-size:15px;
    width:155px;
    text-align:center;
}

#popUp2010 .close{
    position:absolute;
    top:0;
    right:-30px;
    color:var(--primary-bg-color);
}

#popUp2010 .close:hover{
    color:var(--ucl-menu-active-color);
}
span.color_red {
    color: red;
}
input#changepasswordform-verifycode {
    background: var(--ucl-main-background);
    color:var(--primary-color);
}

button.btn.btnBlue.btnLg.btnChangePassword {
    background: var(--ucl-searchbox-background);
    color: var(--primary-color);
}
.languageCode {
    position: relative;
    top: -2px;
    margin-left: 12px;
    cursor: pointer;
    margin-right: 10px;
}