.youtube .vjs-progress-control{
    position: static;
}
/*.youtube .vjs-progress-control .vjs-progress-holder {*/
    /*margin: 0;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*margin-top: -16px;*/
/*}*/
.youtube .vjs-big-play-button{
    border: 0px;
    background-color: rgba(0,129,255,0.9);
    width: 2.4em;
    left: 50%;
    top: 50%;
    margin-left: -1.2em;
    margin-top: -1em;
}
.youtube .vjs-time-control{
    min-width: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.youtube .vjs-current-time{
    padding-left: 1em;
}
.youtube .vjs-control-bar{
    background: rgba(51,51,51,0.5); color: #eee;
}
.youtube .vjs-play-progress:before{
    color: rgb(0,129,255);
}
.youtube .vjs-play-progress{
    background: rgba(0,129,255,0.9);
}
.video-js .vjs-control{
    width: 3em; padding: 0;
}
.video-js .vjs-play-control{
    margin-left: 0.8em;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content{
    color: #fff;
}

.vjs-info{
    display: block; position: relative;
    float: left; width: 100%; padding: 12px;
    color: #fff; border-bottom: 1px rgba(0,0,0,0.8) solid;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}


.vjs-info h3 {
    margin: 16px 0px 0px 0px;
    font-size: 16px;
}
.vjs-info p{ margin: 6px 0px 0px 0px; }
.vjs-info .control{ margin-top: 20px;}
.vjs-info .arrow{ position: absolute; right: 12px;}
.vjs-info .left{ float: left;}
.vjs-info .right{ float: right;}
.vjs-info .button{ width: 16px; margin: 5px 10px;}
.vjs-info a:hover{ opacity: 0.8;}


.vjs-playlist{
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.vjs-playlist ol{
    margin: 0; padding: 0; width: auto; list-style: none;
}

.vjs-playlist .vjs-playlist-index-text{
    display: none;
}
.vjs-playlist .vjs-playlist-item{
    height: 80px;
}
.vjs-playlist-title-container{
    position: absolute;
    left: 50%; top: 0; color: #ddd;
    width: 50%;
}
.vjs-playlist .vjs-playlist-thumbnail{
    width: 45%;
    height: 100%;
}

.vjs-playlist .vjs-selected .vjs-playlist-thumbnail::before{
    width: 45%; height: 80px; line-height: 80px;
}

.vi_playlist .vjs-playlist-now-playing::before{
    content: 'Đang phát';
}

.en_playlist .vjs-playlist-now-playing::before{
    content: 'Now playing';
}

.lo_playlist .vjs-playlist-now-playing::before{
    content: 'ຫຼິ້ນ';
}
.vjs-playlist .vjs-playlist-name{
    font-size: 14px; margin: 5px auto; color: #fff;
    height: 17px;
}
.vjs-playlist .vjs-selected .vjs-playlist-duration{
    display: block; opacity: 0.7;
}

.trans{
    transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s
}
.rotate180{
    transform: rotate(-180deg); -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg);
}

.player-container .info {
    background-color: #eee;
    border: thin solid #333;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 0 5px;
}

/*
  We include some minimal custom CSS to make the playlist UI look good
  in this context.
*/

.player-container {
    background: #1a1a1a;
    overflow: auto;
    width: 100%;
}

.player-container .video-js {
    float: left;
}

.player-container .vjs-playlist {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.vjs-mouse.vjs-playlist cite{
    height: 17px !important;
    line-height: 14px !important;
}

.vjs-playlist-now-playing-text{
    display: none;
}