{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form title-video-info">
                <div class="title">{{t('web','HÌNH THỨC NHẬN TIỀN')}}</div>
                <div class="tab">
                    <button class="tablinks active" {% if contract.status>=1 and contract.payment_type=="CASH" %} disabled style="color: #ddd" {% endif %}
                            onclick="tab(event, 'tab1'); document.getElementById('payment_type').value='BANK_ACCOUNT';"
                            {% if contract.payment_type=="BANK_ACCOUNT" %} id="defaultOpen" {% endif %} >
                        {{t('web','Tài khoản ngân hàng')}}
                    </button>
{#                    <button class="tablinks" {% if contract.status>=1 and contract.payment_type=="BANK_ACCOUNT" %} disabled style="color: #ddd" {% endif %}#}
{#                            onclick="tab(event, 'tab2'); document.getElementById('payment_type').value='CASH'; " {% if contract.payment_type=="CASH" %} id="defaultOpen" {% endif %}>#}
{#                        {{t('web','Tiền mặt tài khoản VTPay')}}#}
{#                    </button>#}
                </div>
            </div>

            <form method="post" action="" id="form-contract-account">
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}"/>
                <input type="hidden" name="payment_type" id="payment_type" value="BANK_ACCOUNT"/>

                <div id="tab1" class="tabcontent" {% if contract.payment_type=="CASH" %} style="height: 0" {% else %} style="height: auto" {% endif %} >
                    <div class="row-form form-inline">
                        <p><span class="iptlb">{{t('web','Số tài khoản')}}</span>
                            <input type="text"  name="account_number" value="{{ contract.account_number }}"
                                   class="form-control ipt2x" placeholder="">
                        </p>
                        <p><span class="iptlb">{{t('web','Ngân hàng')}} </span>
                            <span>
                        <input type="text"  name="bank_name" value="{{ contract.bank_name }}"
                               class="form-control ipt1x" placeholder=""
                               style="width: 178px;">
                    </span>
                            <span style="margin-left: 20px;">{{t('web','Chi nhánh')}}
                        <input type="text"  name="bank_department" value="{{ contract.bank_department }}"
                               class="form-control ipt1x" placeholder="">
                    </span>
                        <p><span class="iptlb">{{t('web','Địa chỉ thường trú')}}</span>
                            <input id="address1" type="text"  value="{{ contract.address }}" class="form-control ipt2x"
                                   placeholder="">
                        </p>
                        <p><span class="iptlb">{{t('web','Mã số thuế')}}</span>
                            <input id="tax_code1" type="text"  value="{{ contract.tax_code }}"
                                   class="form-control ipt2x" placeholder="">
                        </p>
                    </div>
                </div>
                <div id="tab2" class="tabcontent" {% if contract.payment_type=="BANK_ACCOUNT" or not contract.payment_type %} style="height: 0" {% else %} style="height: auto" {% endif %}>
                    <div class="row-form form-inline">
                        <p><span class="iptlb">{{t('web','Số điện thoại tài khoản VTP')}}</span>
                            <input type="text" name="payment_mobile_number" value="{{ contract.msisdn_pay }}"
                                   class="form-control ipt2x" placeholder="">
                        </p>
                        <p><span class="iptlb">{{t('web','Địa chỉ thường trú')}}</span>
                            <input id="address2" type="text"  value="{{ contract.address }}" class="form-control ipt2x"
                                   placeholder="">
                        </p>
                        <p><span class="iptlb">{{t('web','Mã số thuế')}}</span>
                            <input id="tax_code2" type="text" value="{{ contract.tax_code }}"
                                   class="form-control ipt2x" placeholder="">
                            <a style="margin-left: 10px;" target="_blank"
                               href="https://www.tncnonline.com.vn/Pages/TracuuMST.aspx ">{{t('web','Tra cứu MST')}}</a>
                        </p>
                        <p>{{t('web','Nếu chưa có tài khoản Viettel Pay, đăng ký')}} <a target="_blank" href="https://viettelpay.vn">{{t('web','tại đây')}}</a></p>
                    </div>
                </div>
                <p class="clearfix"></p>
                {% if contract.status ==0 %}
                    <div class="row-form">
                        <p>
                            <button onclick="window.location='/contract/personal-infomation'" type="reset"
                                    class="btn-cancel">{{t('web','Hủy bỏ')}}
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn-upload">{{t('web','Tiếp tục')}}</button>
                        </p>
                    </div>
                {% elseif contract.status ==1 %}
                    <div class="row-form">
                        <!--
                        <p>
                            <button onclick="window.location='/contract/personal-infomation'" type="reset"
                                    class="btn-cancel">Hủy bỏ
                            </button>
                        </p>
                        -->
                    </div>
                {% endif %}
                <p class="clearfix"></p>
            </form>


        </div>
    </div>

    <div class="upload-right">
        <div class="mdl-upload-guide">
            <div class="title">{{t('web','THÔNG TIN TÀI KHOẢN')}}</div>
            <div class="content-upload-bottom">

                <div class="scroll">
                    <p>
                        <a href="/contract/condition">1. {{t('web','Điều khoản')}}</a>
                        {% if contract %}
                        <i class="fa fa-check-circle"></i></p>
                    {% else %}
                        <i {% if not ok %} style="color: gray" {% endif %} class="fa fa-check-circle"></i></p>
                    {% endif %}

                    <p>
                        {% if contract %}
                            <a href="/contract/personal-infomation">2. {{t('web','Thông tin cá nhân')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>2. {{t('web','Thông tin cá nhân')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if contract.msisdn_pay or (contract.status>=1 and contract.status<=3) %}
                            <a href="/contract/account">3. {{t('web','Tài khoản')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>3. {{t('web','Tài khoản')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if  contract.status >=1 and contract.status<=3 %}
                            <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% if contract.status == 3 %}
                            {% else %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        {% else %}
                            {% if contract.msisdn_pay %}
                                <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% else %}
                                <a>4. {{t('web','Hợp đồng')}}</a>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>
                        <a href="/account/report-upload">5. {{t('web','Thu nhập')}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
