{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
{% set item = detail %}
<div class="body-content-left">
    <!--0.Left menu-->
</div>


<div class="body-content-right bg-playlate">
    <div class="mdl-play-left">
        <a {% if videosOfPlaylist.content|length == 0 %} href="javascript:void(0);" {% else %} href="{{ url('/playlist/detail-play-all',{'id':item.id})}}" {% endif %} class="item-hightlight">
            <img src="{{ item.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="">
            <span class="overlay">
                <i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}
            </span>
        </a>
        <div class="item-info">
            <p class="text-1" id ="name-playlist">{{item.name}}</p>
            <p class="text-info" >
                <span class="countVideoPlaylist">{{item.num_video}}</span> {{ item.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }} <i class="fa fa-circle"></i>  {{item.created_at}}
            </p>
            <input type="hidden" id="idPlaylist" value="{{item.id}}"/>
            <input type="hidden" id="namPlaylist" value="{{item.name}}"/>
            <input type="hidden" id="namDescription" value="{{item.description}}"/>
            <a href="javascript:void(0)" class="item edit-playlist">
                <span class="icon"><i class="fa fa-edit"></i></span> {{t('web','Chỉnh sửa danh sách phát')}}
            </a>
            <a href="javascript:void(0)" onclick ="confirmDeletePlaylist();return addEvent('delete_playlist_action', {'playlist_id': '{{ item.id }}'});" class="item">
                <span class="icon"><i class="fa fa-trash-o"></i></span> {{t('web','Xóa tất cả danh sách phát')}}
            </a>
        </div>
    </div>
    <div class="mdl-play-right">
        <div class="list-video list-video-horizontal-left">
            <input type="hidden" id="playlistId" value="{{item.id}}">
            <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
            <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
            <input type="hidden" id="load-more-id" value="video_playlist_{{item.id}}"/>
            <input type="hidden" id="type" value="PLAYLIST"/>
            <input type="hidden" id="typeDelete" value="PLAYLIST"/>
            {% if videosOfPlaylist.content| length > 0 %}
                <input type="hidden" id="number" value="{{videosOfPlaylist.content| length}}"/>
                {% include "@app/views/partials/playlistBox.twig" with {'box': videosOfPlaylist, 'detail': item} %}
            {% else %}
                <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
            {% endif %}
            <div id="container"></div>
        </div>
    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
