{{ use('website/assets/MyPlaylistAsset') }}
{{ register_my_playlist_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="0">
    <div class="mdl-general">
        <h1 class="title">
            <a href="javascript:void(0);" class="ellipsis" title="{{ t('web', 'Danh sách playlist')}}">
                {{t('web','Danh sách playlist')}}
            </a>
        </h1>
        <div class="content">
            <div class="list-video list-playlist" id="contentMyPlaylist" >
                <div class="item">
                    <a href="#" class="image">
                        <img src="images/data/16x9.png" class="frame-image"/>
                        <span class="number">
								1<br><i class="icon-playlist"></i>
							</span>
                        <span class="overlay">
								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}
							</span>
                    </a>
{#                    <div class="description">#}
{#                        <div class="function-more">#}
{#								<span class="button-link-more">#}
{#									<i class="fa fa-ellipsis-v"></i>#}
{#								</span>#}
{#                            <div class="popover-more">#}
{#                                <div class="item-popover">{{t('web','Thêm vào danh sách phát')}}</div>#}
{#                                <div class="item-popover">{{t('web','Xem sau')}}</div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <a href="#" class="name-video">President Trump Meets with Israeli PM Benjamin Netanyahu 9/18/17</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
                </div>
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">Luis Fonsi, Daddy Yankee - Despacito (Remix Audio) ft. Justin Bieber</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">Tóc Tiên</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">Best Of The Minions - Despicable Me 1 and Despicable Me 2</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">President Trump Speaks at Dinner w/ Latin American Leaders in New York 9/18/17</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">NBC News Special Report: Hazing In America | NBC Nightly News</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <a href="#" class="name-video">Jose Mourinho on Pogba Injury! Manchester United 4-0 Everton PRESS CONFERENCE</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <a href="#" class="image">#}
{#                        <img src="images/data/16x9.png" class="frame-image"/>#}
{#                        <span class="number">#}
{#								1<br><i class="icon-playlist"></i>#}
{#							</span>#}
{#                        <span class="overlay">#}
{#								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}#}
{#							</span>#}
{#                    </a>#}
{#                    <div class="description">#}
{#                        <div class="function-more">#}
{#								<span class="button-link-more">#}
{#									<i class="fa fa-ellipsis-v"></i>#}
{#								</span>#}
{#                            <div class="popover-more">#}
{#                                <div class="item-popover">{{t('web','Thêm vào danh sách phát')}}</div>#}
{#                                <div class="item-popover">{{t('web','Xem sau')}}</div>#}
{#                                <div class="item-popover">{{t('web','Xem sau')}}</div>#}
{#                                <div class="item-popover">{{t('web','Xem sau')}}</div>#}
{#                                <div class="item-popover">{{t('web','Thêm vào danh sách phát')}}</div>#}

{#                            </div>#}
{#                        </div>#}
{#                        <a href="#" class="name-video">Justice: What's The Right Thing To Do</a>#}
{#                        <a href="#" class="name-author">Langanh</a>#}
{#                        <div class="info">#}
{#                            <span class="cols-info">2684712 {{t('web','lượt xem')}}</span>#}
{#                            <span class="cols-info"><i class="fa fa-circle"></i> {{t('web','3h trước')}}</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
