{{ use('website/assets/EventAsset') }}
{{ register_event_asset() }}

<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div class="mdl-ipx">

        <div class="header">
            <a href="/event/index">
                <h5 class="title textSd">
                    <span style="padding-top: 10px;">{{ t('web', 'Xem Video') }}</span><br>
                    <span style="font-weight: bold">{{ t('web', 'Trúng Thẻ cào, Nhận Iphone X') }}</span>
                </h5>
                <h5 class="title textSd">{{ t('wap', 'XEM NGAY ĐIỂM CỦA BẠN') }}</h5>
                <div class="iphone"><img src="/images/ipx_iphone.png" width="58"></div>
            </a>
        </div>

        <div class="box">
            <div class="ctn">
                <h3 class="blkTitle">{{ t('wap', 'Trúng thưởng thẻ cào') }}</h3>
                <ul>
                    <li>

                        {{ t('wap', 'Đăng ký gói tháng nhận 10.000đ') }}<br>
                        <span class="txtInfo">{{ t('wap', '500 khách hàng đầu tiên trong tháng') }}</span>
                    </li>
                    <li>

                        {{ t('wap', 'Đăng ký gói ngày nhận 10.000đ') }}<br>
                        <span class="txtInfo">{{ t('wap', '2500 khách hàng đầu tiên trong tháng') }}</span>
                    </li>
                    <li>
                        {{ t('wap', 'Share video nhận 10.000đ') }}<br>
                        <span class="txtInfo"> {{ t('wap', '1000 lượt share video MyClip lên facebook đầu tiên') }}</span>
                    </li>
                    <li>
                        {{ t('wap', 'Upload video nhận 30.000đ') }}<br>
                        <span class="txtInfo"> {{ t('wap', '500 khách hàng có video upload được like nhiều nhất') }}</span>
                    </li>

                </ul>
                <p>&nbsp;</p>
                <h6 class="blkTitle">{{ t('wap', 'Tích điểm trúng thưởng iPhoneX:') }}</h6>
                <p>
                    - {{ t('wap', 'Đăng ký thành công gói MyClip tháng + 10.000 điểm') }}<br>
                    - {{ t('wap', 'Đăng ký thành công gói MyClip ngày + 10.000 điểm') }}<br>
                    - {{ t('wap', 'Share video MyClip trên Facebook + 1000 điểm') }}<br>
                    - {{ t('wap', 'Upload Video trên MyClip cộng 10.000 điểm') }}<br>
                    - {{ t('wap', '1 lượt Xem video trên MyClip + 100 điểm') }}<br>
                    - {{ t('wap', '1 lượt Like video trên MyClip + 100 điểm') }}<br>
                    - {{ t('wap', '1 lượt bình luận video trên MyClip + 100 điểm') }}<br>
                    - {{ t('wap', '1 lượt dislike trên MyClip - 20 điểm') }}<br>
                    - {{ t('wap', '1 lượt theo dõi kênh trên MyClip + 100 điểm') }}<br>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-849928907"></script>
<script>

    function gtag_report_conversion(url) {
        var callback = function () {
            if (typeof(url) != 'undefined') {
                window.location = url;
            }
        };
        gtag('event', 'conversion', {
            'send_to': 'AW-849928907/X7g_CI7Dq4MBEMvFo5UD',
            'event_callback': callback
        });
        return false;
    }
</script>
