{{ use('website/assets/EventAsset') }}
{{ register_event_asset() }}

<div class="body-content-left">
    <!--0.Left menu-->
</div>
<input type="hidden" id="offset" value="{{ responseData|length }}">

<div class="body-content-right" style="width: 1183px;">
    <div class="mdl-ipx">
        <div class="header">
                     <a href="/event/terms-condition">
                <h5 class="title textSd">
                    <span style="padding-top: 10px;">{{ t('web', 'Xem Video') }}</span><br>
                    <span style="font-weight: bold">{{ t('web', 'Trúng Thẻ cào, Nhận Iphone X') }}</span>
                </h5>
                <h5 class="title textSd">{{ t('wap', 'XEM NGAY ĐIỂM CỦA BẠN') }}</h5>
                <div class="iphone"><img src="/images/ipx_iphone.png" width="58"></div>
            </a>


        </div>
        <div class="box">
            <div class="ctn">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>{{ t('wap', 'Tương tác của bạn') }}</th>
                        <th width="60">{{ t('wap', 'Số điểm') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ t('wap', 'Bình luận' ) }}</td>
                        <td>{{ responseData.data.comment_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Xem video') }}</td>
                        <td>{{ responseData.data.watch_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Đăng tải video') }}</td>
                        <td>{{ responseData.data.upload_point }}</td>
                    </tr>

                    <tr>
                        <td>{{ t('wap', 'Chia sẻ video') }}</td>
                        <td class="alRight">{{ responseData.data.share_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Yêu thích video') }}</td>
                        <td class="alRight">{{ responseData.data.like_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Theo dõi kênh') }}</td>
                        <td>{{ responseData.data.follow_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Đăng ký dịch vụ') }}</td>
                        <td>{{ responseData.data.register_point }}</td>
                    </tr>
                    <tr>
                        <td>{{ t('wap', 'Không thích video') }}</td>
                        <td>{{ responseData.data.dislike_point }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>{{ t('wap', 'Tổng điểm') }}</td>
                        <td colspan="2">{{ responseData.data.total_point }}</td>
                    </tr>
                    </tfoot>
                </table>

                <p></p>
                <p></p>
                <p class="alCenter">
                    {{ t('wap', 'Nhấn vào đây để xem') }} <a href="/event/terms-condition"> {{ t('wap', 'Quy định tích lũy điểm và Nội dung chương trình') }}</a>
                </p>
                <p></p>
            <!--
                {% if responseData.data.like_fanpage_point %}
                    <p class="alCenter ctaBtn">
                        <a href="javascript:void(0)" class="btn btnBlue">Like Fanpage Myclip(đã ghi nhận)</a><br>
                    </p>
                {% else %}
                    <p class="alCenter ctaBtn">
                        <a href="/event/index?check=like-fanpage" class="btn btnBlue">Like Fanpage Myclip</a><br>
                    </p>
                {% endif %}
                 -->
                <p class="alCenter ctaBtn">
                    <div class="fb-like" data-href="https://www.facebook.com/myclip.vn.fanpage" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
                    <span class="txtInfo">{{ t('wap', 'Like fanpage Myclip để theo dõi sự kiện') }}</span>
                </p>


                <div id="fb-root">
                </div>

                <script>
                    var page_id = '2045581382431790';
                    (function() {
                        var e = document.createElement('script');
                        e.type = 'text/javascript';
                        e.src = document.location.protocol +
                            '//connect.facebook.net/en_US/all.js';
                        e.async = true;
                        document.getElementById('fb-root').appendChild(e);
                    } ());
                </script>

                {%if checkFanpage %}
                    <script>
                        window.fbAsyncInit = function() {
                            FB.init({ appId: '355961724747909', status: true, cookie: true, xfbml: true, oauth: true });
                            FB.login(function(response) {
                                if (response.authResponse) {
                                    FB.api('/me/likes/' + page_id, function(api_response) {
                                        try {
                                            if ((api_response.data[0].name) != undefined){
                                                $.ajax({
                                                    type: "GET",
                                                    dataType: 'json',
                                                    url: '/event/check-like-fanpage?t={{ checkFanpage }}',
                                                    success: function (rawData) {
                                                        if(rawData.errorCode==200){
                                                            showValidateMsg(trans('Like fanpage Myclip thành công. Vui lòng chờ tính điểm!'));
                                                        }else{
                                                            showValidateMsg(trans('Kiểm tra like fanpage thất bại. Vui lòng tải lại trang'));
                                                        }
                                                    }
                                                });
                                            }
                                            else{
                                                showValidateMsg(trans('Bạn hãy bấm like fanpage theo link bên dưới!'));
                                            }

                                        }
                                        catch (e) {
                                            showValidateMsg(trans('Bạn hãy bấm like fanpage theo link bên dưới!'));
                                        }
                                    });
                                }
                            }, { scope: 'user_likes' });
                        };
                    </script>
                {% else %}
                    <script>
                        window.fbAsyncInit = function() {
                            FB.init({ appId: '355961724747909', status: true, cookie: true, xfbml: true, oauth: true });
                        };
                    </script>
                {% endif %}

            </div>
        </div>
    </div>
</div>
