{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form title-video-info">
                <div class="title">{{t('web','THÔNG TIN CÁ NHÂN')}}</div>
                <p><i>* {{t('web','Bắt buộc nhập thông tin khi lần đầu tiên đăng tải')}}</i></p>
            </div>

            <form action="/account/account-infomation" enctype="multipart/form-data" method="post"
                  id="form-account-infomation">
                <div class="row-form form-inline">
                    <p><strong>1. {{t('web','Thông tin cá nhân')}}</strong></p>

                    <input type="hidden"
                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}"/>
                    <div class="row-form form-inline">

                        <p><span class="iptlb">{{t('web','Họ và tên')}}</span>
                            <input type="text" name="name" value="{{ account.name }}" class="form-control ipt2x"
                                   placeholder="">
                        </p>

                        <p><span class="iptlb">{{t('web','Địa chỉ email')}}</span>
                            <input type="text" name="email" value="{{ account.email }}" class="form-control ipt2x"
                                   placeholder="">
                        </p>

                        <p><span class="iptlb">{{t('web','Số CMND')}}</span>
                            <input type="text" name="id_card_number" value="{{ account.id_card_number }}"
                                   class="form-control ipt2x" placeholder="">
                        </p>
                        <p><span class="iptlb"></span>
                            <span>{{t('web','Ngày cấp')}}
                            <input type="text" id="id_card_created_at" name="id_card_created_at"
                                   value="{{ id_card_created_at }}" class="form-control ipt1x" placeholder="">
                        </span>
                            <span style="margin-left: 20px;">{{t('web','Nơi cấp')}}
                            <input type="text" name="id_card_created_by" value="{{ account.id_card_created_by }}"
                                   class="form-control ipt1x" placeholder="">
                        </span>
                        </p>
                        <p>
                            <span class="iptlb"></span>
                            <span>>{{t('web', 'Mặt trước') }}
                            <input style=" width: 333px" type="file" id="id_card_image_frontside" name="id_card_image_frontside" value="{{ account.id_card_image_frontside }}" class="form-control ipt1x" placeholder="">
                        </span>
                            {% if account.id_card_image_frontside %}
                                <a style="margin-left: 10px;" target="_blank" class="show-thum-hover" href="{{ imageUrl }}/{{  account.bucket}}/{{ account.id_card_image_frontside }}">{{t('web', 'Xem ảnh') }}</a>
                            {% endif %}
                            <span class="thumbnail-id-card" style="display: none">
                            <img class="thumbnail-id-card" src="{{ imageUrl }}/{{  account.bucket}}/{{ account.id_card_image_frontside }}" />
                        </span>
                        </p>
                        <p>
                            <span class="iptlb"></span>
                            <span >{{t('web', 'Mặt sau') }}
                            <input style="margin-left: 10px; width: 333px" type="file" id="id_card_image_backside" name="id_card_image_backside" value="{{ account.id_card_image_backside }}"  class="form-control ipt1x" placeholder="">
                        </span>
                            {% if account.id_card_image_backside %}
                                <a style="margin-left: 10px;"  target="_blank" class="show-thum-hover" href="{{ imageUrl }}/{{  account.bucket}}/{{ account.id_card_image_frontside }}">{{t('web', 'Xem ảnh') }}</a>
                            {% endif %}
                            <span class="thumbnail-id-card" style="display: none">
                            <img class="thumbnail-id-card" src="{{ imageUrl }}/{{  account.bucket}}/{{ account.id_card_image_backside }}" />
                        </span>
                        </p>
                        <p><span class="iptlb">{{t('web', 'Số điện thoại') }} (Movitel)</span>
                            <input type="text" name="msisdn" value="{{ (account.msisdn)?account.msisdn:msisdn }}" id="account-info-msisdn" class="form-control ipt2x" placeholder=""></p>
                        <p><span class="iptlb">{{t('web', 'Nhập mã') }} OTP</span>
                            <input type="text" class="form-control" placeholder="" name="otp">
                            <button type="button" class="btn-cancel" id="get_otp_account">{{t('web', 'Lấy mã') }} OTP</button>
                        </p>
                    </div>

                    <p class="clearfix"></p>
                    <div class="row-form">
                        <p><strong>2. {{t('web', 'Xác nhận') }}</strong></p>
                        <p><label><input type="checkbox" id="check-accept-account"> &nbsp;{{t('web', 'Tôi đã đọc và chấp nhận các') }} <a href="/dieu-khoan-su-dung">{{t('web', 'điều khoản') }}</a> {{t('web', 'và') }} <a href="/quy-che-hoat-dong">{{t('web', 'quy chế hoạt động') }}</a> {{t('web', 'của') }} MyClip</label></p>
                    </div>
                    <p class="clearfix"></p>
                    <div class="row-form">
                        <p>
                            <button onclick="window.location='/'" type="reset" class="btn-cancel">{{t('web','Hủy bỏ') }}
                            </button> &nbsp;&nbsp;
                            <button type="submit" disabled id="btn-submit-account-info" class="btn-cancel">{{t('web','Đồng ý') }}</button>
                        </p>
                    </div>
                </div>


            </form>
            <p class="clearfix"></p>
        </div>
    </div>
    <div class="upload-right">
        <div class="mdl-upload-guide">
            <div class="title">1. <a href="/contract/condition">{{t('web','Đăng ký nhận tiền') }}</a> <img src="/images/ic_new.png"
                                                                                           width="16"></div>
            <div class="title">2. {{t('web','Hướng dẫn upload video') }}</div>
            <div class="content-upload-bottom">
                <div class="scroll">
                    <p>{{t('web','Bạn có thể tải video lên MyClip bằng một vài bước đơn giản. Sử dụng hướng dẫn dưới đây để tải lên video của bạn từ máy tính hoặc từ thiết bị di động') }}.</p>
                    <p>1. {{t('web','Đăng nhập vào Myclip') }}.</p>
                    <p>2. {{t('web','Nhấp vào biểu tượng') }} <strong>{{t('web','Tải lên') }}</strong> {{t('web','ở đầu trang') }}.</p>
                    <p>3. {{t('web','Chọn Video tải lên từ thư viện Videos của bạn') }}</p>
                    <p>4. {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn') }} <strong>{{t('web','Tiếp theo') }}</strong>.</p>
                    <p>5. {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật') }}. </p>
                    <p>6. {{t('web','Nhấn vào') }} <strong>{{t('web','Tải lên') }}</strong>.</p>
                    <p><br></p>
                    <p>{{t('web','Nếu các hướng dẫn này không đưa bạn đến đúng nơi thì có thể bạn chưa nhận được phiên bản mới của tính năng đang dần được ra mắt với tất cả người dùng, vui lòng sử dụng hướng dẫn dưới đây') }}.</p>
                    <p>1. {{t('web','Đăng nhập vào Myclip') }}.</p>
                    <p>2. {{t('web','Nhấp vào biểu tượng') }} <strong>{{t('web','Tải lên') }}</strong>. {{t('web','ở đầu trang') }}.</p>
                    <p>3. {{t('web','Chọn Video tải lên từ thư viện Videos của bạn') }}</p>
                    <p>4. {{t('web','Áp dụng các tính năng nâng cao cho video của bạn sau đó nhấn') }} <strong>{{t('web','Tiếp theo') }}</strong>.</p>
                    <p>5. {{t('web','Điều chỉnh tiều đề, mô tả và cài đặt bảo mật') }}. </p>
                    <p>6. {{t('web','Nhấn vào') }} <strong>{{t('web','Tải lên') }}</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</div>