{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}
{% set data = responseData.data %}

<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <div class="outline-channel">
        {% include "@app/views/partials/banner.twig" with {'responseData': responseData} %}
        <div class="channel-info">
            <div class="right-content">
                <input type="hidden" value="{{ responseData.data.detail.id }}" id="channel_id">
                {% set status = data.detail.isFollow ? 0 :1 %}
                {% if isOwner %}
                    <a href="{{ url('/channel/update',{'id': responseData.data.detail.id}) }}" class="link-edit">{{t('web','Chỉnh sửa kênh')}}</a>
                {% endif %}
                <input type="hidden" value="{{ status }}" id="status_{{ data.detail.id }}">
                <input type="hidden" value="{{ data.detail.notification_type }}" id="notification-type">
                {% if channelId != responseData.data.id %}
                    <span id="icon-follow" data-id="{{ data.detail.id }}" data-status="{{ status }}"
                          data-name="{{ data.detail.name }}"
                          class="btn-follow {% if data.detail.isFollow == 1 %} btn-followed {% endif %}"
                          onclick=" return addEvent('follow_channel_action', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'follow_type ': !!+($('#status_' + {{ data.detail.id }}).val()) });">
                    <span class="txt-first"></span>
                    <span class="statusFollow"> {% if data.detail.isFollow == 1 %}&nbsp; {{t('web','ĐÃ THEO DÕI')}} {% else %} {{t('web','THEO DÕI')}}{% endif %}</span>
                </span>
                {% endif %}
                <span id="onOff" class="link-notify ico-bell on-off" data-target="#modal-notify"
                      style="{% if data.detail.isFollow %}display:inline-block;{% else %}display: none;{% endif %}">
                    <i class="fa {% if data.detail.notification_type >0 %} icon-ringoff {% else %} icon-notify {% endif %} notify"></i>
                </span>
            </div>
            <div class="avatar"><img src="{{ data.detail.avatarImage }}"
                                     onError="this.onerror=null;this.src='/images/data/16x9.jpg'"/></div>


            <div class="byline-container">
                <p class="text-1">{{ data.detail.name }}</p>
                {% if data.detail.official %}
                <div class="badge-style-type-verified style-scope" aria-label="đã xác minh"> <i class="fa fa-check-circle" style="padding-top:15px; margin: 8px"></i></div>
                {% endif %}
            </div>
{#            <span class="status-follow" {% if data.detail.isFollow != 1 %} style="display: none" {% endif %}><i#}
{#                        class="icon-checker"></i></span>#}
            <p class="text-2">{{ data.detail.num_follow | number_format(0, '.', ',') }}&nbsp; {{t('web','theo dõi')}}</p>
        </div>

        <div class="tab">
            <input type="hidden" value="{{ data.detail.id }}" id="idChannel"/>
            <button class="tablinks" onclick="tab(event, 'tab1')" id="defaultOpen">{{t('web','Trang chủ')}}</button>
            <button data-id="video_new_of_channel_{{ data.detail.id }}" id="view-video" class="tablinks"
                    onclick="tab(event, 'tab2');return addEvent('view_channel_videos',  {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}' });">
                Videos
            </button>
            <button class="tablinks"
                    onclick="tab(event, 'tab3');return addEvent('view_channel_intro', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'no_followers': '{{ data.detail.num_follow }}', 'no_videos': '{{ data.detail.num_video }}', 'created_at': '{{ data.detail.created_at }}', 'no_views': '{{ data.detail.totalViews }}' });">
                {{t('web','Giới thiệu')}}
            </button>
        </div>
        <div id="tab1" class="tabcontent">
            <div class="mdl-general">
                {% set newestVideo = responseData.data.newest_video %}
                {% set titleNew = t('web','Video mới nhất') %}
                {% set nodata = true %}
                {% if (newestVideo.content|length > 0) %}
                    {% set nodata = false %}
                    {% set loadMore = (newestVideo.content|length <  app.params['app.home.lazy.limit']) ?  false : true %}
                    {% include "@app/views/partials/videoBox.twig" with {'box': newestVideo,'hasTitle' : true, 'loadMore': loadMore,'url': url('/default/video-channel',{'id': 'video_new_of_channel_'~data.detail.id}), 'functionMore': true,'idBox':'video_new_of_channel_'} %}
                {% endif %}
            </div>
            <div class="mdl-general">
                {% set mostViewVideo = responseData.data.most_view_video %}
                {% if (mostViewVideo.content|length > 0) %}
                    {% set nodata = false %}
                    {% set loadMore = (mostViewVideo.content |length <  app.params['app.home.lazy.limit']) ?  false : true %}
                    {% set mostViewVideo = mostViewVideo|merge({'id': 'temp_most_view'}) %}

                    {% include "@app/views/partials/videoBox.twig" with {'box': mostViewVideo,'hasTitle' : true, 'loadMore': loadMore,'url': url('/default/video-channel',{'id': 'video_most_view_of_channel_'~data.detail.id}),'functionMore': true,'idBox':'video_most_view_of_channel_'} %}
                {% endif %}
            </div>
            {% if nodata %}
                {% include "@app/views/partials/noDataBox.twig" %}
            {% endif %}
        </div>
        <div id="tab2" class="tabcontent">
            <div class="mdl-general">
                <h1 class="title">

                    <a href="javascript:void(0);" id="playAllVideoChannel" class="text-1">
                        {{t('web','Phát tất cả')}}
                    </a>

                    <div class="sort-video">
                        <i class="fa icon-sort"></i> {{t('web','SẮP XẾP THEO')}}
                        <div class="popover-more">
                            <div id="video-new" class="item-popover"
                                 data-id="video_new_of_channel_{{ responseData.data.detail.id }}">{{t('web','Mới nhất')}}
                            </div>
                            <div id="video-old" class="item-popover"
                                 data-id="video_old_of_channel_{{ responseData.data.detail.id }}">{{t('web','Cũ nhất')}}
                            </div>
                            <div id="most-popular" class="item-popover"
                                 data-id="video_most_view_of_channel_{{ responseData.data.detail.id }}">{{t('web','Xem nhiều nhất')}}
                            </div>

                        </div>
                    </div>
                </h1>
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
                <input type="hidden" id="load-more-id" value="{{ responseData.data.id }}"/>
                <div class="content" id="content-tab">
                    <div class="content-item" id="video_most_view_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_new_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_old_of_channel_{{ responseData.data.detail.id }}"></div>
                </div>
            </div>
        </div>

        <div id="tab3" class="tabcontent">
            <div class="mdl-about">
                <div class="static">
                    <h3>{{t('web','Thống kê')}}</h3>
                    <p>{{t('web','Đã tham gia ngày')}}: {{ responseData.data.detail.created_at }}</p>
                    <p>{{ responseData.data.detail.totalViews | number_format(0,".",",") }}&nbsp;{{t('web','Lượt xem')}}</p>
                    <p>{{ responseData.data.detail.num_follow | number_format(0,".",",") }}&nbsp;{{t('web','Lượt theo dõi')}}</p>
                </div>

                <h3 class="title">{{t('web','Mô tả')}}</h3>
                <p>{{ responseData.data.detail.description }}</p>
            </div>
        </div>

    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
