{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}
{% set data = responseData.data %}

<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <div class="outline-channel">
        {% include "@app/views/partials/banner.twig" with {'responseData': responseData} %}
        <div class="channel-info">
            <div class="right-content">
                <input type="hidden" value="{{ responseData.data.detail.id }}" id="channel_id">
                {% set status = data.detail.isFollow ? 0 :1 %}
                {% if app.session.get('userId') == responseData.data.detail.id %}
                    <a href="{{ url('/channel/add') }}" class="link-edit">{{t('web','Thêm kênh')}}</a>
                {% endif %}
                <input type="hidden" value="{{ status }}" id="status_{{ data.detail.id }}">
                <input type="hidden" value="{{ data.detail.notification_type }}" id="notification-type">
                {% if channelId != app.session.get('userId') %}
                    <span class="hidden" id="icon-follow" data-id="{{ data.detail.id }}" data-status="{{ status }}"
                          data-name="{{ data.detail.name }}"
                          class="btn-follow {% if data.detail.isFollow == 1 %} btn-followed {% endif %}"
                          onclick=" return addEvent('follow_channel_action', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'follow_type ': !!+($('#status_' + {{ data.detail.id }}).val()) });">
                    <span class="txt-first"></span>
                    <span class="statusFollow"> {% if data.detail.isFollow == 1 %}&nbsp; {{t('web','ĐÃ THEO DÕI')}} {% else %} {{t('web','THEO DÕI')}}{% endif %}</span>
                </span>
                {% endif %}
                <span id="onOff" class="link-notify ico-bell on-off" data-target="#modal-notify"
                      style="{% if data.detail.isFollow %}display:inline-block;{% else %}display: none;{% endif %}">
                    <i class="fa {% if data.detail.notification_type >0 %} icon-ringoff {% else %} icon-notify {% endif %} notify"></i>
                </span>
            </div>

            <div class="avatar">
                <img src="{{ data.detail.avatarImage }}"
                                     onError="this.onerror=null;this.src='/images/data/4x4.png'"/>
            </div>

            <p class="text-1">{{ data.detail.msisdn }}
                <span class="status-follow" {% if data.detail.isFollow != 1 %} style="display: none" {% endif %}><i
                            class="icon-checker"></i></span>
            </p>

            <p class="text-2">{{ data.detail.num_follow | number_format(0, '.', ',') }}&nbsp; {{t('web','theo dõi')}}
                <br />
                <a href="/user/update/{{ responseData.data.detail.id }}">{{t('wap','Chỉnh sửa người dùng')}}</a>
            </p>

        </div>

        <div class="tab">
            <input type="hidden" value="{{ data.detail.id }}" id="idChannel"/>
            <button class="tablinks" onclick="tab(event, 'tab1')" id="defaultOpen">{{t('web','Kênh của tôi')}}</button>
            <button class="tablinks" onclick="tab(event, 'tab2');return addEvent('view_channel_videos',  {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}' });" data-id="video_new_of_user_{{ data.detail.id }}" id="view-video">
                Videos
            </button>

            <button data-id="playlist_public_{{ data.detail.id }}" id="view-playlist" class="tablinks"
                    onclick="tab(event, 'tab4');">
                {{t('web','Danh sách phát')}}
            </button>
            <button class="tablinks" onclick="tab(event, 'tab5')">{{t('web','Kênh')}}</button>
            <button class="tablinks" onclick="tab(event, 'tab6')" id="view-comment"  data-id="{{ data.detail.id }}">{{t('web','Bình luận')}}</button>
            <button class="tablinks"
                    onclick="tab(event, 'tab3');return addEvent('view_channel_intro', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'no_followers': '{{ data.detail.num_follow }}', 'no_videos': '{{ data.detail.num_video }}', 'created_at': '{{ data.detail.created_at }}', 'no_views': '{{ data.detail.totalViews }}' });">
                {{t('web','Giới thiệu')}}
            </button>
        </div>
        <div id="tab1" class="tabcontent">
            {% set listchannel = responseData.data.channel %}
            {% set nodata = true %}
            {% if (listchannel|length > 0) %}
                {% set nodata = false %}
                {% for channel in responseData.data.channel %}
                    {% if (channel.content|length > 0) %}
                        <div class="mdl-general">
                            <h1 class="title"><a href="{{ url('/channel/get-detail',{'id': ''~channel.id}) }}" class="ellipsis">{{ channel.name }}</a>
                                {% if channel.is_official == 1 %}
                                    <div class="badge-style-type-verified style-scope" aria-label="đã xác minh" style="display: inline-block; margin-left: 5px"> <i class="fa fa-check-circle"></i></div>
                                {% endif %}
                            </h1>
{#                            {% set firstBoxOfChannel = channel.content|length %}#}
                            {% set firstBoxOfChannel = channel.content %}
                            {% set loadMore = (firstBoxOfChannel|length <  app.params['app.home.lazy.limit']) ?  false : true %}
                            {% include "@app/views/partials/videoBox.twig" with {'box': firstBoxOfChannel,'hasTitle' : false, 'loadMore': loadMore,'url': '#', 'functionMore': true,'idBox': firstBoxOfChannel.id,'template_user':true} %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if nodata %}
                {% include "@app/views/partials/noDataBox.twig" %}
            {% endif %}
        </div>
        <div id="tab2" class="tabcontent">
            <div class="mdl-general">
                <h1 class="title">

                    <a href="/user/play-all/{{ responseData.data.detail.id }}" id="playAllVideoUser" class="text-1">
                        {{t('web','Phát tất cả')}}
                    </a>

                    <div class="sort-video">
                        <i class="fa icon-sort"></i> {{t('web','SẮP XẾP THEO')}}
                        <div class="popover-more">
                            <div id="video-new" class="item-popover"
                                 data-id="video_new_of_user_{{ responseData.data.detail.id }}">{{t('web','Mới nhất')}}
                            </div>
                            <div id="video-old" class="item-popover"
                                 data-id="video_old_of_user_{{ responseData.data.detail.id }}">{{t('web','Cũ nhất')}}
                            </div>
                            <div id="most-popular" class="item-popover"
                                 data-id="video_most_view_of_user_{{ responseData.data.detail.id }}">{{t('web','Xem nhiều nhất')}}
                            </div>

                        </div>
                    </div>
                </h1>
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
                <input type="hidden" id="load-more-id" value="{{ responseData.data.id }}"/>
                <div class="content" id="content-tab">
                    <div class="content-item" id="video_most_view_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_new_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_old_of_channel_{{ responseData.data.detail.id }}"></div>
                </div>
            </div>
        </div>
        <div id="tab4" class="tabcontent">
            <div class="mdl-general">
                <div class="content">
                    <div class="list-video list-playlist">
                        <div class="content-item" id="playlist_public_{{ data.detail.id }}">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="tab5" class="tabcontent">
            <div class="mdl-general">
                {% if not channelRelated.data.content %}
                    <p>{{t('web','Không có dữ liệu')}}</p>
                    {% if isOwner %}
                        <a href="/channel/search-channel" class="text-1">
                            <i class="fa icon-addcircle"></i> &nbsp;{{t('web','Thêm kênh liên quan')}}
                        </a>
                    {% endif %}
                {% else %}
                    <h1 class="title">
                        <span class="ellipsis">
                            {{t('web','Danh sách kênh liên quan')}}
                        </span>
                        {% if isOwner %}
                            <a href="/channel/search-channel" class="text-1">
                                <i class="fa icon-addcircle"></i> &nbsp;{{t('web','Thêm kênh liên quan')}}
                            </a>
                        {% endif %}
                    </h1>
                    <p>&nbsp;</p>
                    <div class="content">
                        <div class="list-channel">
                            {% for channel in channelRelated.data.content %}
                                <div class="item" id="channel_related_{{ channel.channel_id }}">
                                    <a href="/channel/{{ channel.channel_id }}" class="image">
                                        <img src="{{  channel.avatarImageHX }}"/>
                                    </a>
                                    <div class="description">
                                        <a href="/channel/{{ channel.channel_id }}"
                                           class="name-channel">{{ channel.channel_name_mini }}
                                            {% if channel.official == true %}
                                                <div class="badge-style-type-verified style-scope" aria-label="đã xác minh" style="display: inline-block; margin-left: 5px"> <i class="fa fa-check-circle"></i></div>
                                            {% endif %}
                                        </a>
                                        <a href="/channel/{{ channel.channel_id }}" class="text-1"> {{ channel.num_follow }} &nbsp;{{t('web','theo dõi')}}</a>
                                        {% if isOwner %}
                                            <a class="btn-register"
                                               onclick="removeChannelRelated({{ channel.channel_id }})"> {{t('web','Xóa')}}</a>
                                        {% elseif channel.isFollow %}
                                            <a  href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                                                class="btn-register" onclick="followChannel({{ channel.channel_id }}, 0)"> {{t('web',' Hủy theo dõi')}}</a>
                                            <a style="display: none "  href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}"
                                               class="btn-register" onclick="followChannel({{ channel.channel_id }}, 1)"> {{t('web',' Theo dõi')}}</a>
                                        {% else %}
                                            <a style="display: none " href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                                               class="btn-register" onclick="followChannel({{ channel.channel_id }}, 0)"> {{t('web',' Hủy theo dõi')}}</a>
                                            <a  href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}"
                                                class="btn-register" onclick="followChannel({{ channel.channel_id }}, 1)"> {{t('web',' Theo dõi')}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="tab3" class="tabcontent">
            <div class="mdl-about">
                <div class="">
                    <h3>{{t('web','Thống kê')}}</h3>
                    {% if responseData.data.detail.created_at %}
                    <p>{{t('web','Đã tham gia ngày')}}: {{ responseData.data.detail.created_at }}</p>
                    {% endif %}
                    <p>{{ responseData.data.detail.totalViews | number_format(0,".",",") }}&nbsp;{{t('web','Lượt xem')}}</p>
                    <p>{{ responseData.data.detail.num_follow | number_format(0,".",",") }}&nbsp;{{t('web','Lượt theo dõi')}}</p>
                </div>

               <h3 class="title">{{t('web','Mô tả')}}</h3>
               <p>{{ responseData.data.detail.description }}</p>
            </div>
        </div>
        <div id="tab6" class="tabcontent">
            <div class="mdl-general">
                <h1 class="title">

                    <div class="sort-comment">
                        <i class="fa fa-sort"></i> <span class="text">{{t('wap','Trạng thái')}}</span>
                        <div class="popover-more filter-cmt-user">
                            <div id="filter-cmt-all" class="item-popover"
                                 data-status="4" data-title="{{t('wap','Tất cả bình luận')}}">{{t('wap','Tất cả bình luận')}}
                            </div>
                            <div id="filter-cmt-approve" class="item-popover"
                                 data-status="1" data-title="{{t('wap','Đã duyệt')}}">{{t('wap','Đã duyệt')}}
                            </div>
                            <div id="filter-cmt-wait" class="item-popover"
                                 data-status="0" data-title="{{t('wap','Chờ duyệt')}}">{{t('wap','Chờ duyệt')}}
                            </div>
                            <div id="filter-cmt-reject" class="item-popover"
                                 data-status="2" data-title="{{t('wap','Từ chối')}}">{{t('wap','Từ chối')}}
                            </div>

                        </div>
                    </div>
                </h1>
                <input type="hidden" id="commentLimit" value="{{ app.params['app.showMore.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.showMore.limit'] }}">
                <input type="hidden" id="commentStatus" value="4"/>
                <input type="hidden" id="commentOffset" value="0"/>
                <input type="hidden" id="commentUrl" value="{{ url('/default/get-comment-user')}}">
                <input type="hidden" id="postCommentUrl" value="{{ url('/default/comment-user')}}">
                <input type="hidden" id="toggleLikeComment" value="{{ url('/default/like-comment')}}">
                <input type="hidden" id="approveComment" value="{{ url('/default/approved-comment')}}">
                <input type="hidden" id="commentType" value="VOD">
                <input type="hidden" id="canLoad" value="1">
                <div class="content" id="content-tab">
                    <div class="content-item content-comment mdl-comments" id="commentContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
