{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> {{ html.csrfMetaTags() | raw }}
        <title>{{ (this.title)?html.encode(this.title):t('web', 'Mạng xã hội video - UClip') }}</title>
        <link type="image/x-icon" rel="shortcut icon" href="/favicon2.ico">
        {{ this.head() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}
    </head>
    <body class="container-detail">
        {{ this.beginBody() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
        {# {% block header %}
            {{ HeaderWidget.widget({'head':'navbar-fixed-top'}) | raw }}
        {% endblock %} #}
        {{ MenuLeftWidget.widget() | raw }}
        <div class="body-content">
            {{ content | raw }}
        </div>
        {{ SigninWidget.widget() | raw }}
        {{ ChangePasswordWidget.widget() | raw }}
        {{ Alert.widget() | raw }}
        {% include '@app/views/partials/createPlaylistModal.twig' %}
        {% include '@app/views/partials/popupCommon.twig' %}
        {{ this.endBody() }}
        {% include '@app/views/partials/tracking.twig' %}
        <input type="hidden" id="userId" value="{{ app.session.get('userId') }}">
        <input type="hidden" id="videoIdSelected" value="">
        {{ TrackingWidget.widget() | raw }}
    </body>
</html>
{{ this.endPage() }}