{{ this.beginPage() }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    {{ html.csrfMetaTags() | raw }}
    <title>{{ (this.title)?html.encode(this.title):t('web', 'Mạng xã hội video - Myclip') }}</title>
	<link type="image/x-icon" rel="shortcut icon" href="/favicon2.ico">
    {{ this.head() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}
</head>
    <body class="{% if app.session.get('themeUserId') == 1 %}dark {% endif %}">
        {{ this.beginBody() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
        {{ content | raw }}
        {{ TrackingWidget.widget() | raw }}
        {{ this.endBody() }}
    </body>
</html>

{{ this.endPage() }}
