{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}
{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> {{ html.csrfMetaTags() | raw }}
        <title>{{ (this.title)?html.encode(this.title):t('web', 'Mạng xã hội video - Myclip') }}</title>
		<link type="image/x-icon" rel="shortcut icon" href="/favicon2.ico">
        {{ this.head() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}
    </head>
<body>
    {{ this.beginBody() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
    <div class="body-content" id="contentVideoBlock">
        {{ content | raw }}
    </div>
    {{ Alert.widget() | raw }}
    {{ TrackingWidget.widget() | raw }}
    {{ this.endBody() }}

</body>
</html>

{{ this.endPage() }}