{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}
{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> {{ html.csrfMetaTags() | raw }}
        <title>{{ (this.title)?html.encode(this.title):t('web', 'Mạng xã hội video - Myclip')}}</title>
		<link type="image/x-icon" rel="shortcut icon" href="/favicon2.ico">
        {{ this.head() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}
    </head>
    <body class="{% if app.session.get('themeUserId') == 1 %}dark {% endif %}">
        {{ this.beginBody() }}
        {% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
        {% block header %}
            {{ HeaderWidget.widget({'head':'navbar-fixed-top'}) | raw }}
        {% endblock %}
        {{ MenuLeftWidget.widget() | raw }}
        <div class="body-content" id="contentVideoBlock">
            {{ Alert.widget() | raw }}
            {{ content | raw }}
        </div>

        {{ SigninWidget.widget() | raw }}
        {{ ChangePasswordWidget.widget() | raw }}
        {% include '@app/views/partials/createPlaylistModal.twig' %}
        {% include '@app/views/partials/popupCommon.twig' %}
        {{ this.endBody() }}
        <input type="hidden" id="userId" value="{{ app.session.get('userId') }}">
        <input type="hidden" id="videoIdSelected" value="">
        {% include '@app/views/partials/tracking.twig' %}
        {{ TrackingWidget.widget() | raw }}
    </body>
</html>

{{ this.endPage() }}