{{ use('wapsite/assets/AppAsset') }}
{{ register_app_asset() }}

{{ use('yii/widgets/ActiveForm') }}
{{ use('yii/captcha/Captcha') }}

{% set form = active_form_begin({
    'id': 'activate-form',
    'action' : url('tv/activate'),
    'enableClientValidation' : false,
    'enableClientScript' : false,
    'errorCssClass':'',
    'fieldConfig' : {'template' : "{input}"},
    'options': {
     'class': 'form-horizontal',
    }
}) %}

<div class="ctn alCenter">

    <div class="form-login" id="activate" style="margin-top: 50px">

        <h1>{{t('wap', 'Kết nối với TV') }}</h1>
        <div class="form-group">
            <p align="center">{{t('wap', 'Quý khách vui lòng') }} <br>{{t('wap', 'nhập mã kích hoạt để liên kết TV với tài khoản Myclip của bạn') }}.</p>
        </div>

        <div class="form-group">
            {{ form.errorSummary(model, {'header' : '', 'class' : 'txt-warning'})|raw }}
        </div>

        <div class="form-group">
            {{ form.field(model, 'code').textInput({'class' : 'text-field ipt iptLg', 'placeholder' : t('wap', 'Mã kích hoạt')}) | raw }}
        </div>
        {% if showCaptcha %}
        {{ form.field(model, 'verifyCode').widget('yii\\captcha\\Captcha', {
            'options' : {'placeholder' : t('wap', 'Mã xác nhận'), 'class' : 'text-field-2 ipt iptLg'},
            'captchaAction': 'auth/captcha',
            'enableClientScript': false,
            'template': ' <div class="row-form">
						   {input}
                         <div class="image-capcha">
                            <span class="" onclick="refreshCaptcha('~ "'activateform-verifycode-image'" ~')">
                                {image}

                            </span>
                        </div> </div>
                '}) | raw }}
        {% endif %}

        <div class="form-group">
            <button type="submit" class="btn btnLg boxSd" style="background: #009dfd; color: white" >{{t('wap', 'Kích hoạt') }}</button>
        </div>
        <div class="clear"></div>
        {{ active_form_end() }}
        <div class="clear"></div>
    </div>
</div>
