{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}

{% set packages = responseData.data %}
{% set showMessage =1 %}
{% set isConfirmSMS = responseData.isConfirmSMS %}

{% for package in packages %}
    {% if package.status %}
        {% set showMessage =0 %}
    {% endif %}
{% endfor %}



<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    {#    <h3>Gói cước</h3>#}
    {#   {% if showMessage %}
           <p>
               {% if msisdn %} Xin chào {{ msisdn }}, {% endif %}
               Quý khách chưa đăng ký dịch vụ Myclip. Hãy đăng ký các gói cước sau để sử dụng toàn bộ các tính năng của
               dịch vụ.
           </p>
       {% endif %}#}
    <div class="mdl-package">
        {% for package in packages %}
            <div class="item {% if package.status %} registed {% endif%}">
                <div class="content">
                    <h3 class="title">{{ package.name }}</h3>
                    <p class="text-2">{{package.fee| number_format(0,",",".")}}<sup>MT</sup><span class="text-sub"></span></p>
                    <p class="text-3" title="{{package.description}}">{{package.description}}</p>
                    {% if userId %}
                        <div class="check"><i class="fa icon-checker"></i></div>
                        {% if isConfirmSMS and not package.status %}
                            <span class="action-vietnt btn-package" onclick="document.getElementById('{{ 'f_'~ package.id }}').submit();"> {{t('web','Đăng ký')}} </span>
                        {% else %}
                            <span data-target="package_popup_{{ package.id }}_step1"
                                  class="action-vietnt btn-package {% if package.status %} btn-package-remove {% endif %} ">{% if package.status %} {{t('web','Hủy gói')}} {% else %} {{t('web','Đăng ký')}} {% endif %}</span>
                        {% endif %}
                    {% else%}
                        <span onclick="Account.signInModal()"
                              class= "action-vietnt btn-package {% if package.status %} btn-package-remove {% endif %} ">{% if package.status %} {{t('web','Hủy gói')}} {% else %} {{t('web','Đăng ký')}} {% endif %}</span>
                    {%endif%}

                </div>

            </div>

            {% if package.status==0 %}

                <div class="modal-vietnt" id="package_popup_{{ package.id }}_step1">
                    <div class="modal-content-vietnt">
                        <h3 class="title">{{t('web','Mua gói cước')}} </h3>
                        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
                        <div class="row-form">{{ package.popup[0]|raw }}</div>
                        <div class="row-form">
                        </div>
                        <div class="row-form">
                            <button class="btn-login btn-login-small" onclick="hidePopup('#package_popup_{{ package.id }}_step1'); showPopup('#package_popup_{{ package.id }}_step2');">
                                {{t('web','ĐĂNG KÝ')}}
                            </button>

                            <button type="button" class="btn-cancel" onclick="hidePopup('#package_popup_{{ package.id }}_step1');">
                                {{t('web','ĐỂ SAU')}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal-vietnt" id="package_popup_{{ package.id }}_step2">
                    <div class="modal-content-vietnt">
                        <h3 class="title">{{t('web','Xác nhận mua gói cước')}} </h3>
                        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
                        <div class="row-form"> {{ package.popup[1]|raw }}</div>
                        <div class="row-form">
                            <form action="/account/register-service" method="post"  id={{ 'f_'~ package.id }} >
                                <input type="hidden" name="package_id" value="{{ package.id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                                <div class="row-button">
                                    <button type="submit" class="btn-login  btn-login-small" onsubmit="return addEvent('goi_cuoc_register_action', {'goi_cuoc_type': '{{ package.type }}', 'goi_cuoc_id': '{{ package.id }}', 'goi_cuoc_price': '{{ package.fee }}'});">
                                        {{t('web','ĐỒNG Ý')}}
                                    </button>
                                    <button type="button" class="btn-cancel"
                                            onclick="hidePopup('#package_popup_{{ package.id }}_step2');">
                                        {{t('web','ĐỂ SAU')}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="modal-vietnt" id="package_popup_{{ package.id }}_step1">
                    <div class="modal-content-vietnt">
                        <h3 class="title">{{t('web','Hủy gói cước')}}</h3>
                        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
                        <div class="row-form">{{ package.popup[0]|raw }}</div>
                        <div class="row-form"></div>
                        <div class="row-form">
                            <form action="/account/unregister-service" method="post">
                                <input type="hidden" name="package_id" value="{{ package.id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                                <button type="submit" class="btn-login btn-login-small" onclick="return addEvent('goi_cuoc_cancel_action', {'goi_cuoc_type': '{{ package.type }}', 'goi_cuoc_id': '{{ package.id }}', 'goi_cuoc_price': '{{ package.fee }}'});">
                                    {{t('web','HỦY GÓI')}}
                                </button>


                                <button type="button" class="btn-cancel"
                                        onclick="hidePopup('#package_popup_{{ package.id }}_step1');">
                                    {{t('web','ĐỂ SAU')}}
                                </button>

                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}

        {% if packages|length==0 %}
            <p> {{t('web','Không có gói cước')}}. </p>
        {% endif %}

    </div>
</div>
</div>