<!--BOXSEARH-->
{% set isEmpty = 1 %}
<div class="scroll">
    <ul class="link-header list-default">   
        {% for data in responseData.data %}
            {% if data.type == "CHANNEL"%}
                {% if data.content|length >0 %} {% set isEmpty = 0 %} {% endif  %}
                {%for item in data.content %}
                    <li>
                        <a href="{{url('channel/get-detail',{'id': item.id})}}" class="name-film">{{item.name}}</a>
                    </li>
                    <span class="delete-search delete-history">
                            <i class="icon-delete"></i>
                        </span>
                {% endfor%}
            {% elseif data.type== "VOD" %}
                {% if data.content|length >0 %} {% set isEmpty = 0 %} {% endif  %}
                {%for item in data.content %}
                    <li>
                        <a href="{{url('video/detail',{'id': item.id, 'slug': item.slug})}}" class="name-film">{{item.name}}</a>
                    </li>
                    <span  class="delete-search phumx">
                            <i class="icon-delete"></i>
                        </span>
                {% endfor%}
            {% endif%}

        {% endfor%}
        {% if isEmpty %}
            <li> {{t('web','Nhập ít nhất 3 kí tự để thực hiện tìm kiếm')}} </li>
            {% endif %}
    </ul>
</div>
