{% for box in responseData %}

    {% for item in box.content %}
        {% include "@app/views/partials/videoSmallBox.twig" with {'item': item, 'description': true, 'removeItem': false,'more': true, 'channel': true, 'noFollow':'noFollow'} %}
    {% endfor%}

{% endfor %}