{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div id="accordion" class="mdl-general">

        <h3 class="title">{{t('web','Điều khoản sử dụng')}} <span class="pull-right icon-support"> </span></h3>
        <div class="mdl-support-content">
            <p> {{ t('web', 'Đang cập nhật') }}</p>
{#            <h3>I. {{t('web','CÁC NỘI DUNG CẤM TRAO ĐỔI, CHIA SẺ TRÊN MẠNG XÃ HỘI MYCLIP')}}</h3>#}
{#            <p>- {{t('web','support47')}}.</p>#}
{#            <p>- {{t('web','support46')}}. <br>#}
{#                {{t('web','support45')}}.#}
{#            </p>#}
{#            <p>- {{t('web','support44')}}. </p>#}
{#            <p>- {{t('web','support43')}}.</p>#}
{#            <p>#}
{#                - {{t('web','support42')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support41')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support40')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support39')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support38')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support37')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support36')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support35')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support34')}}.#}
{#            </p>#}
{#            <p>#}
{#                -{{t('web','support33')}}#}
{#            </p>#}
{#            <h3>II. {{t('web','support32')}}  </h3>#}
{#            <p>1. {{t('web','support31')}}</p>#}
{#            <p>- {{t('web','support30')}}.</p>#}
{#            <p>- {{t('web','support29')}}.</p>#}
{#            <p>- {{t('web','support28')}}.</p>#}
{#            <p>- {{t('web','support27')}}.</p>#}



{#            <p>2. {{t('web','support26')}}</p>#}
{#            <p>- {{t('web','support25')}}.</p>#}
{#            <p>- {{t('web','support24')}}. </p>#}
{#            <p> - {{t('web','support23')}}. </p>#}
{#            <p>#}
{#                - {{t('web','support22')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support21')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support20')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support19')}}.#}
{#                - {{t('web','support18')}}.#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support17')}}.#}
{#            </p>#}
{#            <strong>III. {{t('web','support16')}} </strong>#}
{#            <p>1. {{t('web','support15')}} </p>#}
{#            <p>#}
{#                - {{t('web','support14')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support13')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support12')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support11')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support10')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support9')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support8')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support7')}}#}
{#            </p>#}
{#            <p>#}
{#                - {{t('web','support6')}}#}
{#            </p>#}
{#            <p>2. {{t('web','support5')}}</p>#}
{#            <p>- {{t('web','support4')}}</p>#}
{#            <p>- {{t('web','support3')}} </p>#}
{#            <p>- {{t('web','support2')}} </p>#}
{#            <p>- {{t('web','support1')}}. </p>#}
{#            <p>- {{t('web','Trong bất kỳ trường hợp nào, Nhà cung cấp cũng không chịu trách nhiệm pháp lý về người sử dụng hoặc bất kỳ cá nhân, tổ chức nào cho những tổn thất, dù là trực tiếp, gián tiếp, hoặc là hậu quả của sự kiện khác, kể cả thiệt hại về kinh tế phát sinh từ việc sử dụng hoặc không thể sử dụng thông tin trên MXH MYCLIP, ngay cả khi MXH MYCLIP không có khuyến cáo về khả năng xảy ra các tổn thất đó')}}. </p>#}
{#            <p>- {{t('web','Nhà cung cấp không chịu trách nhiệm nếu thông tin được các thành viên của mạng đưa lên không được cập nhật theo mong muốn của người sử dụng. Theo đó, Nhà cung cấp không chịu trách nhiệm về các thông tin mà thành viên của MXH MYCLIP đăng tải lên')}}.</p>#}
{#            <p>- {{t('web','Đảm bảo hệ thống trả tin nhắn Alert miễn phí cho thành viên MyClip là thuê bao 3G Viettel đủ điều kiện nhận tin Alert (là thuê bao 3G không có lịch sử truy cập MyClip trong 7 ngày)')}} </p>#}
{#            <p>- {{t('web','Các liên kết trên MXH MYCLIP có thể dẫn người sử dụng tới các web/wapsite khác và người sử dụng thừa nhận và đồng ý rằng MXH MYCLIP không chịu trách nhiệm về sự chính xác hoặc giá trị của bất kỳ thông tin nào do các web/wapsite liên kết cung cấp')}}.</p>#}
{#            <h3>IV. {{t('web','CƠ CHẾ XỬ LÝ ĐỐI VỚI THÀNH VIÊN VI PHẠM THỎA THUẬN CUNG CẤP VÀ SỬ DỤNG DỊCH VỤ  MXH MYCLIP')}} </h3>#}
{#            <p>- {{t('web','Nếu người sử dụng đã đăng ký là thành viên  MXH MYCLIP nhưng không tuân thủ các quy định sử dụng này, người sử dụng sẽ bị dừng tư cách thành viên ngay lập tức mà không cần thông báo trước')}}.</p>#}
{#            <p>- {{t('web','Tùy theo mức độ vi phạm, các thành viên sẽ được nhắc nhở bằng tin nhắn hay email hoặc xóa tài khoản vĩnh viễn mà không cần thông báo trước')}}. </p>#}
{#            <p>- {{t('web','Tối đa với mỗi lỗi vi phạm, thành viên sẽ được nhắc nhở 1 lần. Nếu thành viên vẫn tái phạm thì bình luận sẽ bị xóa mà không báo trước')}}.</p>#}
{#            <p>- {{t('web','Trường hợp người sử dụng vi phạm phạm pháp luật, gây hậu quả nghiêm trọng, Nhà cung cấp có thể đưa vụ việc ra cơ quan quản lý Nhà nước để xử lý theo quy định của pháp luật nước Cộng hòa xã hội chủ nghĩa Việt Nam')}}.</p>#}
{#            <h3>V. {{t('web','CẢNH BÁO VỀ CÁC RỦI RO KHI LƯU TRỮ, TRAO ĐỔI VÀ CHIA SẺ THÔNG TIN TRÊN DỊCH VỤ')}} </h3>#}
{#            <p>- {{t('web','Dịch vụ  MXH MYCLIP cho phép người sử dụng tải lên, đệ trình, lưu trữ, gửi hoặc nhận nội dung. Người sử dụng giữ mọi quyền sở hữu trí tuệ đối với nội dung đó. Tuy nhiên, nhà cung cấp không đảm bảo những thông tin người sử dụng tải lên, đệ trình, lưu trữ, gửi trên MXH MYCLIP là không có rủi ro về an toàn thông tin')}}. </p>#}
{#            <p>- {{t('web','Nhà cung cấp có thể phân tích nội dung của người sử dụng (bao gồm cả email) để cung cấp cho người sử dụng những tính năng sản phẩm có liên quan đến cá nhân, chẳng hạn như kết quả tìm kiếm tùy chỉnh, quảng cáo tùy chỉnh cũng như phát hiện spam và phần mềm độc hại. Phân tích này diễn ra khi nội dung được gửi, nhận cũng như khi được lưu trữ')}}. </p>#}
{#            <p>- {{t('web','Nếu người sử dụng có tài khoản trên MXH MYCLIP, nhà cung cấp có thể hiển thị tên Profile (tên hiển thị), ảnh Profile (ảnh hiển thị) của người sử dụng và các hành động người sử dụng thực hiện trên MXH MYCLIP hoặc trên các ứng dụng của MXH MYCLIP (chẳng hạn như các bài đánh giá người sử dụng viết và những nhận xét người sử dụng đăng)')}}.</p>#}
{#            <h3>VI. {{t('web','CƠ CHẾ GIẢI QUYẾT KHIẾU NẠI, TRANH CHẤP GIỮA CÁC THÀNH VIÊN  VỚI NHÀ CUNG CẤP DỊCH VỤ  MXH MYCLIP HOẶC VỚI CÁC TỔ CHỨC, CÁ NHÂN KHÁC')}} </h3>#}
{#            <p>- {{t('web','Mọi khiếu nại, tranh chấp giữa các thành viên  MXH MYCLIP phải được gửi trực tiếp tới nhà cung cấp dịch vụ  MXH MYCLIP qua các hình thức email, số hotline hoặc gặp trực tiếp')}}. </p>#}
{#            <p>- {{t('web','Sau khi tiếp nhận khiếu nại của các thành viên  MXH MYCLIP, nhà cung cấp dịch vụ  phải có phản hồi chậm nhất trong vòng 72 giờ kể từ thời điểm tiếp nhận khiếu nại, tranh chấp')}}. </p>#}
{#            <p>- {{t('web','Trong trường hợp các bên tham gia khiếu nại, tranh chấp chưa thỏa mãn với kết quả giải quyết khiếu nại của nhà cung cấp thì có thể gửi lại yêu cầu giải quyết khiếu nại tối đa 03 (ba) lần. Nếu quá 03 lần mà khiếu nại vẫn chưa được giải quyết dứt điểm thì căn cứ vào phạm vi và mức độ vi phạm của các bên, nhà cung cấp có toàn quyền xử lý khiếu nại, tranh chấp trên cơ sở các quy định tại Thỏa thuận này')}}.</p>#}
{#            <p>#}
{#                {{t('web','Địa chỉ liên lạc')}}<br>#}
{#                {{t('web','Dự án MyClip – Trung tâm VAS – Tổng Công ty Viễn thông Viettel')}}<br>#}
{#                {{t('web','Địa chỉ: Tòa nhà CIT ngõ 15 đường Duy Tân – Cầu Giấy – Hà Nội')}}<br>#}
{#                {{t('web','E-mail')}}: Viettelvas092014@gmail.com<br>#}
{#                {{t('web','Hotline: Tổng đài CSKH Viettel 198 (miễn phí)')}}#}
{#            </p>#}
{#            <h3>VII. {{t('web','GIỚI HẠN VÀ MIỄN TRÁCH NHIỆM PHÁP LÝ')}}</h3>#}
{#            <p>- {{t('web','Chúng tôi sẽ không chịu trách nhiệm liên quan đến các nội dung do Bạn đăng tải, chia sẻ MyClip. Bạn hoàn toàn chịu trách nhiệm đối với các hoạt động của mình trên dịch vụ của Chúng tôi về những vi phạm pháp luật của nội dung tin đăng, hay các vi phạm về quyền sở hữu trí tuệ liên quan đến nội dung video/hình hảnh/livestreaming. Bạn và thành viên có hành vi vi phạm phải bồi thường, và bồi hoàn cho Chúng tôi cũng như các chủ thể quyền toàn bộ các tổn thất, chi phí (bao gồm chi phí luật sư và tòa án, nếu có) mà')}} </p>#}
        </div>

    </div>
</div>
