{{ use('wapsite/assets/PromotionAsset') }}
{{ register_promotion_asset() }}

<div class="wrap-all">

    <header>
        <div class="wrap-960">
            <div id="humberger"><i class="icon icon-humberger"></i></div>
            <div id="sublogo"><a href="/"><img src="/promotion/imgs/logo.png" height="32"></a></div>
            <nav class="clr-bg grd-blue">
                <div class="close"><i class="icon icon-close-menu trans"></i></div>
                <div id="logo"><a href="/"><img src="/promotion/imgs/logo.png" height="32"></a></div>
                <ul>
                    <li><a href="#home">{{ t('wap', 'THAM GIA CHƯƠNG TRÌNH') }}</a></li>
                    <li><a href="#topview">{{ t('wap', 'TOP VIDEO VIEW CAO NHẤT') }}</a></li>
                    <li><a href="#newrelease">{{ t('wap', 'MỚI UPLOAD') }}</a></li>
                    <li><a href="#winners">{{ t('wap', 'DANH SÁCH TRÚNG THƯỞNG') }}</a></li>
                    <li><a href="#policy">{{ t('wap', 'THỂ LỆ') }}</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="block block-top block-intro" id="home">
            <div class="wrap-960 wrap-block">
                <div class="items hide-mobile"></div>
                <div class="left al-ct">
                    <p><img src="/promotion/imgs/intro_title.png"></p>
                    <p>&nbsp;</p>
                    <p><a class="button button-orange" href="/">{{ t('wap', 'THAM GIA NGAY') }}</a></p>
                    <p class="txtInfo">{{ responseData.data.rangeStr }}</p>
                </div>

                <div class="right al-ct top-video">

                    <div class="al-ct timeTab">
                        <a onclick="hideShowDiv('#tab-head-2', '#tab-head-1')"  href="javascript:void(0)">{{ t('wap', 'Đợt 01') }}</a>
                        <a onclick="hideShowDiv('#tab-head-1', '#tab-head-2')"  href="javascript:void(0)" >{{ t('wap', 'Đợt 02') }}</a>
                    </div>

                    <div id="tab-head-1" style="display: none">
                        <h4>{{ t('wap', 'ĐỢT 1: LƯỢT VIEW CAO NHẤT') }}</h4>
                        <p class="txtInfo">{{ t('wap', 'Từ ngày 15/11/2017 đến 15/12/2017') }}</p>
                        {% set cc = 0 %}
                        {% for video in responseData.data.mostview1512.content if cc < 1 %}
                            {% set cc = cc + 1 %}
                            <article class="videoItem">
                                <div class="pthld">
                                    <span class="timing">{{ video.duration }}</span>
                                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img src="{{ video.coverImage }}" alt=""></a>
                                </div>
                            </article>
                            <h6 class="title"><a href={{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}>{{ video.name }}</a></h6>

                        {% endfor %}
                    </div>
                    <div id="tab-head-2">
                        <h4>{{ t('wap', 'ĐỢT 2: LƯỢT VIEW CAO NHẤT') }}</h4>
                        <p class="txtInfo">{{ t('wap', 'Từ ngày 15/12/2017 đến 15/01/2018') }}</p>
                        {% set cc = 0 %}
                        {% for video in responseData.data.mostview.content if cc < 1 %}
                            {% set cc = cc + 1 %}
                            <article class="videoItem">
                                <div class="pthld">
                                    <span class="timing">{{ video.duration }}</span>
                                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img style="height: 100%" src="{{ video.coverImage }}" alt=""></a>
                                </div>
                            </article>
                            <h6 class="title"><a href={{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}>{{ video.name }}</a></h6>

                        {% endfor %}
                    </div>



                </div>

            </div>
        </section>

        <section class="block block-videos grd-blue" id="topview" >
            <div class="wrap-960 wrap-block">
                <h1 class="al-ct">{{ t('wap', 'Top video có lượt xem cao nhất') }}</h1>

                <div class="al-ct timeTab">
                    <a onclick="hideShowDiv('#topview', '#topview1512')"  href="javascript:void(0)">{{ t('wap', 'Đợt 01') }}</a>
                    <a class="active"    href="javascript:void(0)" >{{ t('wap', 'Đợt 02') }}</a>
                </div>

                {% set cc = 0 %}
                {% for video in responseData.data.mostview.content %}
                    {% set cc = cc + 1 %}

                    <article class="videoItem {% if cc > maxVideoShow %} hide-video-promotion {% endif %}"  {% if cc > maxVideoShow %} style="display: none"{% endif %}>
                        <div class="pthld">
                            <span class="timing">{{ video.duration }}</span>
                            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img
                                        src="{{ video.coverImage }}" alt=""></a>
                        </div>
                        <div class="ctn">
                            <h6 class="title"><a
                                        href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ video.name }}</a>
                            </h6>
                            <p class="txtInfo">
                                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a> <i
                                        class="dot"></i>
                                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                            </p>
                        </div>
                    </article>

                {% endfor %}

                {% if cc > maxVideoShow %}
                    <p class="al-ct txtInfo moreBtn" id="showMoreMostViewVideoPromotion">
                        <a onclick="showVideoPromotion('#topview', '#showMoreMostViewVideoPromotion')" href="javascript:void(0)">{{ t('wap', 'XEM THÊM') }} <i class="icon icon-right-arrow"></i></a></p>
                {% endif %}

            </div>
        </section>

        <section class="block block-videos grd-blue" id="topview1512" style="display: none" >
            <div class="wrap-960 wrap-block">
                <h1 class="al-ct">{{ t('wap', 'Top video có lượt xem cao nhất') }}</h1>

                <div class="al-ct timeTab">
                    <a class="active"   href="javascript:void(0)">{{ t('wap', 'Đợt 01') }}</a>
                    <a  href="javascript:void(0)" onclick="hideShowDiv('#topview1512', '#topview')" >{{ t('wap', 'Đợt 02') }}</a>
                </div>

                {% set cc = 0 %}
                {% for video in responseData.data.mostview1512.content %}
                    {% set cc = cc + 1 %}

                    <article class="videoItem {% if cc > maxVideoShow %} hide-video-promotion {% endif %}"  {% if cc > maxVideoShow %} style="display: none"{% endif %}>
                        <div class="pthld">
                            <span class="timing">{{ video.duration }}</span>
                            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img
                                        src="{{ video.coverImage }}" alt=""></a>
                        </div>
                        <div class="ctn">
                            <h6 class="title"><a
                                        href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ video.name }}</a>
                            </h6>
                            <p class="txtInfo">
                                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a> <i
                                        class="dot"></i>
                                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                            </p>
                        </div>
                    </article>

                {% endfor %}

                {% if cc > maxVideoShow %}
                    <p class="al-ct txtInfo moreBtn" id="showMoreMostViewVideoPromotion1512">
                        <a onclick="showVideoPromotion('#topview1512', '#showMoreMostViewVideoPromotion1512')" href="javascript:void(0)">{{ t('wap', 'XEM THÊM') }} <i class="icon icon-right-arrow"></i></a></p>
                {% endif %}

            </div>
        </section>

        <section class="block block-videos grd-blue" id="newrelease" >
            <div class="wrap-960 wrap-block">
                <h1 class="al-ct">{{ t('wap', 'Mới upload') }}</h1>
                <div class="al-ct timeTab">
                    <a onclick="hideShowDiv('#newrelease', '#newrelease1512')"   href="javascript:void(0)">{{ t('wap', 'Đợt 01') }}</a>
                    <a class="active"    href="javascript:void(0)" >{{ t('wap', 'Đợt 02') }}</a>
                </div>

                {% set cc = 0 %}
                {% for video in responseData.data.newest.content %}
                    {% set cc = cc + 1 %}
                    <article class="videoItem {% if cc > maxVideoShow %} hide-video-promotion {% endif %}" {% if cc > maxVideoShow %} style="display: none"{% endif %}>
                        <div class="pthld">
                            <span class="timing">{{ video.duration }}</span>
                            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img
                                        src="{{ video.coverImage }}" alt=""></a>
                        </div>
                        <div class="ctn">
                            <h6 class="title"><a
                                        href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ video.name }}</a>
                            </h6>
                            <p class="txtInfo">
                                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a> <i
                                        class="dot"></i>
                                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                            </p>
                        </div>
                    </article>
                {% endfor %}

                {% if cc > maxVideoShow %}
                    <p class="al-ct txtInfo moreBtn" id="showMoreNewVideoPromotion">
                        <a onclick="showVideoPromotion('#newrelease', '#showMoreNewVideoPromotion')" href="javascript:void(0)">{{ t('wap', 'XEM THÊM') }} <i class="icon icon-right-arrow"></i></a></p>
                {% endif %}
            </div>
        </section>

        <section class="block block-videos grd-blue" id="newrelease1512"  style="display: none" >
            <div class="wrap-960 wrap-block">
                <h1 class="al-ct">{{ t('wap', 'Mới upload') }}</h1>
                <div class="al-ct timeTab">
                    <a class="active"   href="javascript:void(0)">{{ t('wap', 'Đợt 01') }}</a>
                    <a onclick="hideShowDiv('#newrelease1512', '#newrelease')"  href="javascript:void(0)" >{{ t('wap', 'Đợt 02') }}</a>
                </div>

                {% set cc = 0 %}
                {% for video in responseData.data.newest1512.content %}
                    {% set cc = cc + 1 %}
                    <article class="videoItem {% if cc > maxVideoShow %} hide-video-promotion {% endif %}" {% if cc > maxVideoShow %} style="display: none"{% endif %}>
                        <div class="pthld">
                            <span class="timing">{{ video.duration }}</span>
                            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}"><img
                                        src="{{ video.coverImage }}" alt=""></a>
                        </div>
                        <div class="ctn">
                            <h6 class="title"><a
                                        href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ video.name }}</a>
                            </h6>
                            <p class="txtInfo">
                                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a> <i
                                        class="dot"></i>
                                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                            </p>
                        </div>
                    </article>
                {% endfor %}

                {% if cc > maxVideoShow %}
                    <p class="al-ct txtInfo moreBtn" id="showMoreNewVideoPromotion1512">
                        <a onclick="showVideoPromotion('#newrelease1512', '#showMoreNewVideoPromotion1512')" href="javascript:void(0)">{{ t('wap', 'XEM THÊM') }} <i class="icon icon-right-arrow"></i></a></p>
                {% endif %}
            </div>
        </section>

        {% if responseData.data.winner.content %}
            <section class="block block-videos block-winners grd-blue" id="winners">
                <div class="wrap-960 wrap-block">
                    <h1 class="al-ct">{{ t('wap', 'Danh sách trúng thưởng') }}</h1>

                    {% set cc = 0 %}
                    {% for winner in responseData.data.winner.content %}
                        {% set cc = cc + 1 %}
                        <article class="videoItem">
                            <div class="winner">
                                <h1>{{ cc }}</h1>
                                <div class="ctn">
                                    <h3>{{ winner.userName }}</h3>
                                    <p>{{ winner.msisdn }}</p>
                                </div>
                            </div>
                            <div class="pthld">
                                <span class="timing">{{ winner.duration }}</span>
                                <a href="javascript:void(0)"><img src="{{ winner.coverImage }}" alt=""></a>
                            </div>
                            <div class="ctn">
                                <h6 class="title"><a href="{{ url('video/detail',{'id':winner.id, 'slug':winner.slug}) }}">{{ winner.name }}</a></h6>
                                <p class="txtInfo">
                                    <a href="{{ url('video/detail',{'id':winner.id, 'slug':winner.slug}) }}">{{ winner.userName }}</a> <i class="dot"></i>
                                    {{ t('wap','{count} lượt xem', {'count': winner.play_times}) }}
                                </p>
                            </div>
                        </article>

                    {% endfor %}

                </div>
            </section>
        {% endif %}

        <section class="block block-rules grd-blue" id="policy">
            <div class="wrap-960 wrap-block">
                <h1 class="al-ct">Thể lệ</h1>
                <div class="ctn left">
                    <p>Đăng tải Clip Hay, trúng ngay Iphone X</p>

                    <p>1. Thời gian khuyến mại: từ ngày 15/11/2017 đến hết ngày 15/01/2018.</p>

                    <p>2. Phạm vi khuyến mại: Trên phạm vi toàn quốc.</p>

                    <p>3. Hình thức khuyến mại: Xác định Video Clip do khách hàng upload lên dịch vụ mạng xã hội Myclip có lượt view cao nhất trong chương trình sẽ nhận được giải thưởng.</p>

                    <p>4. Đối tượng được hưởng khuyến mại:</p>
                    <p>-	Khách hàng có quốc tịch Việt Nam, đang sinh sống và làm việc tại Việt Nam, tham gia đăng tải VideoClip lên dịch vụ MyClip trong thời gian khuyến mại.</p>

                    <p>5. Xác định khách hàng trúng thưởng</p>

                    <p>
                        -	Khách hàng Viettel  thực hiện upload video lên hệ thống, video phải đảm bảo tuân thủ theo qui định của dịch vụ myclip (về tính pháp lý, thuần phong mỹ tục, tôn giáo, chính trị...), video sẽ được kiểm duyệt trước khi public trên hệ thống MyClip.
                    </p>

                    <p>
                        -	Sau khi video của khách hàng upload lên hệ thống Myclip được phê duyệt, video clip của khách hàng có lượng Views cao nhất trong mỗi đợt triển khai sẽ được nhận giải thưởng của chương trình.
                    </p>
                    <p>
                        -	Với các Video của các khách hàng hợp lệ upload, video nào có lượt view trên hệ thống dịch vụ myclip cao nhất là video thắng cuộc, khách hàng nào là chủ sở hữu của video này là khách hàng trúng thưởng.
                    </p>
                    <p>
                        -	Trong trường hợp có trên 01 khách hàng tham gia hợp lệ, có cùng số lượt view như nhau, giải thưởng sẽ trao cho khách hàng có thời gian upload video thành công sớm nhất.
                    </p>
                    <p>
                        -	Mỗi khách hàng được upload không giới hạn số lượng video trong thời gian khuyến mãi.
                    </p>
                    <p>
                        -	Danh sách khách hàng trúng thưởng đợt 2 không bao gồm khách hàng đã trúng thưởng đợt 1.
                    </p>

                    <p>
                        6.	Các quy định khác:
                    </p>

                    <p>
                        -	Khách hàng trúng thưởng phải nộp thuế thu nhập không thường xuyên (nếu có) theo quy định của pháp luật hiện hành.
                    </p>
                    <p>
                        -	Khách hàng tham dự chương trình khuyến mại này vẫn được hưởng quyền lợi từ các chương trình khuyến mại khác của Tổng Công ty Viễn thông Viettel (nếu đủ điều kiện).
                    </p>
                    <p>
                        -	Nếu được khách hàng trúng thưởng đồng ý, Tổng Công ty Viễn thông Viettel sẽ sử dụng tên và hình ảnh của khách hàng trúng thưởng cho mục đích quảng cáo thương mại.
                    </p>
                    <p>
                        -	Trong trường hợp xảy ra tranh chấp liên quan đến chương trình khuyến mại này, Tổng Công ty Viễn thông Viettel có trách nhiệm trực tiếp giải quyết, nếu không thỏa thuận được tranh chấp sẽ được xử lý theo quy định của pháp luật.
                    </p>
                    <p>
                        -	Đối với những giải thưởng không có người trúng thưởng Tổng Công ty Viễn thông Viettel phải có trách nhiệm trích nộp 50% giá trị đã công bố của giải thưởng đó vào ngân sách nhà nước theo quy định tại khoản 4 Điều 96 Luật Thương mại.
                    </p>
                    <p>
                        -	Chương trình không áp dụng đối với các clip đăng của CBCNV Viettel
                    </p>
                    <p>
                        -	Với các Video upload lên hệ thống chưa có ảnh đại diện hoặc có ảnh đại diện bị lỗi thì được duyệt sau ngày 8/12
                    </p>
                </div>
                <div class="right al-ct hide-mobile">
                    <p><img src="/promotion/imgs/rules_iphone.png"></p>
                    <h1>02</h1>
                    <p>iPhone X</p>
                </div>
            </div>
        </section>

        <section class="block block-videos grd-blue">
            <div class="wrap-960 wrap-block al-ct">
                <a class="button button-orange" href="javascript:void(0)">THAM GIA NGAY</a>
            </div>
        </section>
    </main>
</div>