{{ use('wapsite/assets/DetailAdAsset') }}
{{ register_detail_ad_asset() }}

<div>
    <section class="blk blkVideoDetail">
        <div class="container" style="padding: 10px; text-align: center; color: black">
            {{ popupGA }}
        </div>

        <div class="screen pthld" style="height: 100%">
            <div class="banner-film" id="suggest-package">
                <img src="{{ detail.coverImage }}" width="100%"
                     onError="this.onerror=null;this.src='/images/16x9.png';"/>
                <div>
                    <a id="regSuggestion"
                       href="javascript:void(0)" {% if needLogin %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#regSuggestion').fadeOut();$('#confirmRegSuggestion').fadeIn()" {% endif %}
                       style="position: absolute; right: 10px; bottom: 20px; background: #EAA944; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                        <span style="display: inline-block; vertical-align: middle;">{{t('wap', 'Đăng ký để xem video') }}</span>
                    </a>
                    <form id="register-sub-suggestionform"
                            {% if isRegisterAsync %}
                                action="{{ url('account/register-no-wait-service') }}"
                            {% else %}
                                action="{{ url('account/register-service') }}"
                            {% endif %}

                          method="post">

                        <input type="hidden" name="package_id" value="{{ package_id }}"/>
                        <input type="hidden"
                               name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                               value="CSRF_TOKEN_VALUE">

                        <a id="confirmRegSuggestion"
                           href="javascript:void(0)" {% if needLogin %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#register-sub-suggestionform').submit();$(this).removeAttr('onClick')" {% endif %}
                           style="display:none; position: absolute; right: 10px; bottom: 20px; background: #EAA944; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                            <span style="display: inline-block; vertical-align: middle;">{{t('wap', 'Đồng ý để xem video') }}</span>
                        </a>
                    </form>
                    <a href="{{ detailUrl }}"
                       style="position: absolute; left: 10px; bottom: 20px; background: #494949; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('wap', 'Bỏ qua') }}</a>
                </div>
            </div>
        </div>

        <div class="ctn">
            <h6 class="title" id="video-name">{{ detail.name }}</h6>
            <div class="txtInfo">{{ t('wap','{count} lượt xem', {'count': detail.play_times}) }}</div>
        </div>

        <div class="desc blkBdTop ctn txtInfo toggle" id="videoDesc">
            <div>{{ detail.description }}</div>
        </div>
    </section>

    {% if relateds|length >0 %}
        <section class="blk blkBdTop blkListVideosVer" style="padding-bottom: 50px;">
            <h6 class="blkTitle">
                {{t('wap', 'Liên Quan') }}
            </h6>
            {% set pos =0 %}
            {% for video in relateds.content %}
                {% set pos = pos + 1 %}
                <article class="videoItem">
                    <div class="ctn">
                        <div class="pthld">
                            <span class="timing">{{ video.duration }}</span>
                            <a href="{{ url('video/ad',{'id':video.id, 'package_id':package_id, 'utm_source': source }) }}"
                               title="{{ video.name }}">
                                <img src="{{ video.coverImage }}"
                                     onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
                            </a>
                        </div>
                        <div class="ctnhld">
                            <h6 class="title">
                                <a href="{{ url('video/ad',{'id':video.id, 'package_id':package_id, 'utm_source': source }) }}"
                                   title="{{ video.name }}">{{ video.name }}</a>
                            </h6>
                            <p class="txtInfo">


                                {% if pos <=2 %}
                                    <a href="javascript:void(0)"
                                       data-content="{{ video.coverImage }}"
                                       data-text="{{ video.name }}"
                                        class="btn btnRegister registerAdList">{{t('wap', 'Đăng ký') }}</a>
                                 {% else %}
                                     <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a>
                                     <i class="dot"></i>
                                     <a href="{{ url('video/ad',{'id':video.id, 'package_id':package_id, 'utm_source': source }) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% endif %}
</div>