{{ use('wapsite/assets/DetailAsset') }}
{{ register_detail_asset() }}

{% set detail = responseData.detail %}
{% set streams = responseData.streams %}
{% set relateds = responseData.relateds.content %}

{% set isRegisterFast = streams.popup.is_register_fast %}

{% if storeUrl %}
    {#<script>
        window.onload = function() {
            <!-- Deep link URL for existing users with app already installed on their device -->
            window.location = '{{ storeUrl|raw }}';
            <!-- Download URL (TUNE link) for new users to download the app -->

            {% if appStoreUrl %}
                setTimeout("window.location = '{{ appStoreUrl }}';", 1000);
            {% endif %}
        }
    </script>#}
{% endif %}

{% if streams.errorCode == 200 %}
    <input type="hidden" id="play" name="play" value="true"/>
    {% if streams.urlStreaming and not popupGA %}
        <input type="hidden" id="url" name="url" value="{{ streams.urlStreaming }}"/>
    {% else %}
        <input type="hidden" id="url" name="url" value=""/>
    {% endif %}

    <input type="hidden" id="poster" name="poster" value="{{ detail.coverImage }}"/>
    <input type="hidden" id="play" value="true"/>
    <input type="hidden" id="media_type" value="VOD"/>
    <input type="hidden" id="is_pc" value="{{ app.session.get('is_pc') }}"/>
    <input type="hidden" id="is_ios" value="{{ app.session.get('is_ios') }}"/>
    <input type="hidden" id="ajaxUrl" value="{{ url('/account/watch-time') }}"/>
    <input type="hidden" id="playId" value="{{ detail.id }}"/>
    <input type="hidden" id="playPosition" value="{{ responseData.currentTime }}"/>
    <input type="hidden" id="parentId" value="{{ detail.id }}"/>
    <input type="hidden" id="language" value="{{ detail.getLang(detail.multilang) }}"/>
{% endif %}
{% if streams.popup %}
    {% include '@app/views/partials/popup.twig' with {'type': 'VOD', 'popup':streams.popup, 'autoDisplay': streams.autoDisplay, 'msisdn': msisdn } %}
{% endif %}

<div>
    <section id="section_detail" class="blk blkVideoDetail">
        {% if detail.suggest_package_id and ((streams.popup and streams.errorCode!=200) or popupGA) and streams.errorCode!=401 %}
            <div class="container" style="padding: 10px; text-align: center; color: black">
                {% if  streams.popup.confirm %}
                    {{ streams.popup.confirm }}
                {% else %}
                    {{ popupGA }}
                {% endif %}
            </div>
        {% endif %}

        {% if popupGA %}
            <input type="hidden" id="google-adwords" value="1"/>
        {% endif %}

        <div class="screen pthld" style="height: 100%">
            {% if streams.urlStreaming and not popupGA %}

                <div id="playerBox" {% if showTime != null %}style="display: none" {% endif %}>
                    <video id="videoBox" class="video-js  vjs-16-9 youtube"
                           controls {% if isIOS %}  webkit-playsinline  playsinline {% endif %}>
                    </video>
                </div>
                {% if showTime != null %}

                    <input type="hidden" id="idUrlGetStream"
                           value="{{ url('/video/ajax-get-video-stream', {'id' : detail.id }) }}"/>
                    <input type="hidden" id="showTimer" value="{{ showTime }}"/>
                    <div id="countdown" class="screen countdown alCenter">
                        <h5>{{t('wap', 'Chương trình sẽ bắt đầu sau') }}</h5>
                        <div class="counter"></div>
                    </div>
                {% endif %}
            {% else %}

                {% if detail.suggest_package_id and (streams.popup or popupGA) %}
                    <div class="banner-film" id="suggest-package">
                        <img src="{{ detail.coverImage }}" width="100%"
                             onError="this.onerror=null;this.src='/images/16x9.png';"/>
                        <div>
                            <a id="regSuggestion"
                               href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#regSuggestion').fadeOut();$('#confirmRegSuggestion').fadeIn()" {% endif %}
                               style="position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                <span style="display: inline-block; vertical-align: middle;">{{t('wap', 'Đăng ký') }}<br>{{t('wap', 'để xem video') }}</span>
                            </a>

                            <form id="register-sub-suggestionform" action="{{ url('account/register-service') }}"
                                  method="post">
                                <input type="hidden" name="package_id" value="{{ detail.suggest_package_id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                                <a id="confirmRegSuggestion"
                                   href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#register-sub-suggestionform').submit();$(this).removeAttr('onClick')" {% endif %}
                                   style="display:none; position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                    <span style="display: inline-block; vertical-align: middle;">{{t('wap', 'Đồng ý') }} <br/>{{t('wap', 'để xem video') }}</span>
                                </a>
                            </form>
                            {% if popupGA %}
                                <a href="{{ detailUrl }}"
                                   style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('wap', 'Bỏ qua') }}</a>
                            {% else %}
                                <a href="javascript:void(0)"
                                   onClick="$('#suggest-package').remove();$('#play-area').show()"
                                   style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('wap', 'Bỏ qua') }}</a>
                            {% endif %}

                        </div>
                    </div>
                {% else %}


                {% endif %}

                <div class="banner-film"
                     id="play-area" {% if detail.suggest_package_id and (streams.popup or popupGA) %} style="display:none" {% endif %}>
                    <div
                            {% if streams.errorCode==401 %}
                                onClick="window.location='{{ url('auth/login?popup=1') }}'"
{#                            {% elseif isRegisterFast %}#}
{#                                onClick="document.getElementById('register-sub-form').submit()"#}
                            {% else %}
                                onClick="$('#popup-step1').fadeIn()"
                            {% endif %} >
                        <img src="{{ detail.coverImage }}" width="100%"
                             onError="this.onerror=null;this.src='/images/16x9.png';"/>
                        <div class="overlay-video youtube video-js">
                            <button class="vjs-big-play-button" type="button" aria-live="polite" title="Play Video"
                                    aria-disabled="false"><span aria-hidden="true"
                                                                class="vjs-icon-placeholder"></span><span
                                        class="vjs-control-text">{{t('wap', 'Phát video') }}</span></button>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
        <div class="ctn">
            <a class="right toggleBtn trans" data-target="#videoDesc" data-ani="rotate180" href="#">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-down-solid') }}"></use>
                </svg>
            </a>
            <h6 class="title">{{ detail.name }}</h6>
            <div class="txtInfo">
                {{ t('wap','{count} lượt xem', {'count': detail.play_times}) }}
            </div>
        </div>
        <div class="ctn">
            <ul class="btnList list5Items alCenter">
                <li><a href="javascript:void(0)" data-like="{{ detail.isFavourite }}"
                       data-number="{{ detail.likeCount }}" data-id="{{ detail.id }}" id="linkLike_{{ detail.id }}"
                       class="likeBtn"
                       onclick="return addEvent('like_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'like_type': true });">
                        <div class="onOff">
                            <svg class="ico icoLike {% if detail.isFavourite != 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-like') }}"></use>
                            </svg>
                            <svg class="ico icoLiked {% if detail.isFavourite == 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-liked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numLike_{{ detail.id }}">{{ detail.likeCount }}</p>
                    </a></li>
                <li><a href="javascript:void(0)" data-dislike="{{ detail.isFavourite }}"
                       data-number="{{ detail.dislikeCount }}" data-id="{{ detail.id }}"
                       id="linkDislike_{{ detail.id }}" class="dislikeBtn"
                       onclick="return addEvent('like_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'like_type': false });">
                        <div class="onOff">
                            <svg class="ico icoDislike {% if detail.isFavourite != -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-dislike') }}"></use>
                            </svg>
                            <svg class="ico icoDisliked {% if detail.isFavourite == -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-disliked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numDislike_{{ detail.id }}">{{ detail.dislikeCount }}</p>
                    </a>
                </li>
                <li>
                    <a href="{{ 'javascript:void(0)' }}" title="{{ t('web','Share') }}" id="shareVideoDetail"
                       class="txt656565 modalBtn btnShare" onclick="$('#containerShare').show()">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use>
                        </svg>
                        <p class="txtInfo">{{ t('wap', 'Chia sẻ') }}</p>
                    </a>
                </li>
                <li>
                    <a class="optMnBtn detailVideoBtnAddTo" data-id="{{ detail.id }}"
                       data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}"
                       data-target="#playlistOpt">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use>
                        </svg>
                        <p class="txtInfo">{{t('wap', 'Thêm vào') }}</p>
                    </a>
                </li>
                <li>
                    <a class="optMnBtn" data-target="#reportOtp">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-flag') }}"></use>
                        </svg>
                        <p class="txtInfo">{{t('wap', 'Báo cáo') }}</p>
                    </a>
                </li>
            </ul>
        </div>

        <input type="hidden" id="is_follow" value="{{ detail.owner.isFollow }}"/>

        <div class="user blkBdTop ctn">

            <a class="{{ (detail.owner.isFollow)?"btn right":"btn btnOutlineBlueS right" }}" href="javascript:void(0)"
               id="followVideo" data-id="{{ detail.owner.id }}"
               onclick="return addEvent('follow_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'follow_type ': !!+(1-$('#is_follow').val()) });">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-follow') }}"></use>
                </svg>
                {% set a1=t('wap', 'Đã theo dõi') %}
                {% set a2=t('wap', 'Theo dõi') %}
                <span>{{ (detail.owner.isFollow)?t('wap', 'Đã theo dõi'):t('wap', 'Theo dõi') }}</span>
            </a>

            <div class="avatar pthld left"><a href="{{ url('channel/get-detail',{'id':detail.owner.id}) }}">
                    <img src="{{ detail.owner.avatarImage }}"
                         onError="this.onerror=null;this.src='/images/avatar.gif'" alt=""></a>
            </div>
            <div class="ctnhld">
                <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
                <div><a href="{{ url('channel/get-detail',{'id':detail.owner.id}) }}">{{ detail.owner.name }}</a></div>
                <div class="txtInfo" id="total_follow">{{ detail.owner.followCount }}{{" "}}{{t('wap', 'theo dõi') }} </div>
            </div>
        </div>

        <div class="desc blkBdTop ctn txtInfo toggle" id="videoDesc">
            <p>{{t('wap', 'Xuất bản') }} {{ detail.publishedTime }}</p>
            <div>{{ detail.description }}</div>
        </div>

    </section>

    {#{% if relateds|length >0 %}#}
        {#{% include '@app/views/partials/relatedVideoBox.twig' with {'data': relateds} %}#}
    {#{% endif %}#}

    <div id="relatedBox">
    </div>

    {% include '@app/views/partials/commentBox.twig' with {'contentId': detail.id , 'content': detail.name , 'avatarImage': avatarImage,  'type': 'VOD', 'detail': detail} %}
    {% include '@app/views/partials/shareSocialModal.twig' with {'shareLink': shareLink, 'detail': detail} %}
</div>

{% include '@app/views/partials/popupCommon.twig' %}

<div class="modal modalPopup" id="reportOtp">
    <div class="ctn">
        <h5>{{t('wap', 'Báo cáo vi phạm') }}</h5>
        {% for report in app.params['setting.feedback'] %}
            <p>
                <input id="rdo_{{ report.id }}" type="radio" name="report" value="{{ report.id }}">
                <label for="rdo_{{ report.id }}">{{ t('wap', report.content) }}</label>
            </p>
        {% endfor %}
        <p>{{t('wap', 'Nếu bạn là chủ sở hữu video vui lòng') }} <a href="/lien-he" style="color:blue">{{t('wap', 'làm theo hướng dẫn') }}</a>
            {{t('wap', 'để thông báo về nội dung vi phạm bản quyền.') }}</p>
        <div class="action alRight">
            <a href="javascript:void(0)" id="piracy-cancel" class="close" href="javascript:void(0)">{{t('wap', 'HỦY') }}</a>
            <span></span>
            <a href="javascript:void(0)" onclick="postFeedBack()" id="report-issue" class="ok">{{t('wap', 'ĐỒNG Ý') }}</a>
            <input type="hidden" id="postFeedbackUrl" value="{{ url('default/feed-back') }}">
            <input type="hidden" id="contentId" value="{{ detail.id }}">
            <input type="hidden" id="channelId" value="{{ detail.owner.id }}">
            <input type="hidden" id="channel_name" value="{{ detail.owner.name }}"/>
            <input type="hidden" id="category_id" value="{{ detail.cate.id }}"/>
            <input type="hidden" id="category_name" value="{{ detail.cate.name }}"/>
            <input type="hidden" id="category_parent_id" value="{{ detail.cate.parent_id }}"/>
            <input type="hidden" id="video_name" value="{{ detail.name }}"/>
            <input type="hidden" id="tag_name" value="{{ detail.tag }}"/>
            <input type="hidden" id="typeReport" value="VOD">
            <input type="hidden" id="contentReport" value="{{ detail.name }}">
            <input type="hidden" id="related_limit" value="{{ relatedLimit }}"/>
            <input type="hidden" id="related_offset" value="0"/>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="containerShare">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="containerShareLink">
            <div class="modal-header">
                <h5 class="modal-title">{{t('web','Chia sẻ')}}</h5>
                <button id="closeContainerShare" type="button" class="btn btn-secondary" style="float: right; background-color: white" >X</button>
            </div>
            <textarea class="form-control" id="shareWebsite" rows="3" style="display: inline-table; padding: inherit">{{ shareLink | raw }}</textarea>
            <br>
            <div class="modal-footer">
                <button id="copyLinkShare" type="button" class="btn btn-primary">{{t('wap','Copy')}}</button>
            </div>
            <div id="copy-success-link" class="alert alert-success">
                <strong>{{t('wap','Link copied to clipboard')}}</strong>
            </div>
        </div>
    </div>
</div>

{% if detail.cate.is_world_cup_category %}
    <input type="hidden" id="popup-suggest-register-month-package" value="1">
{% endif %}

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
