{% set detail = responseData.detail %}
{% set streams = responseData.streams %}
{% set relateds = responseData.relateds.content %}

<div>
    <section class="blk blkVideoDetail">
        <div class="ctn">
            <a class="right toggleBtn trans" data-target="#videoDesc" data-ani="rotate180" href="#">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-down-solid') }}"></use>
                </svg>
            </a>
            <h6 class="title"> <a href="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}">{{ detail.name }}</a> </h6>
            <div class="txtInfo">{{ t('wap','{count} lượt xem', {'count': detail.play_times}) }}</div>
        </div>
        <div class="ctn">
            <ul class="btnList list5Items alCenter">
                <li><a href="javascript:void(0)" data-like="{{ detail.isFavourite }}"
                       data-number="{{ detail.likeCount }}" data-id="{{ detail.id }}" id="linkLike_{{ detail.id }}"
                       class="likeBtn">
                        <div class="onOff">
                            <svg class="ico icoLike {% if detail.isFavourite != 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-like') }}"></use>
                            </svg>
                            <svg class="ico icoLiked {% if detail.isFavourite == 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-liked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numLike_{{ detail.id }}">{{ detail.likeCount }}</p>
                    </a></li>
                <li><a href="javascript:void(0)" data-dislike="{{ detail.isFavourite }}"
                       data-number="{{ detail.dislikeCount }}" data-id="{{ detail.id }}"
                       id="linkDislike_{{ detail.id }}" class="dislikeBtn">
                        <div class="onOff">
                            <svg class="ico icoDislike {% if detail.isFavourite != -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-dislike') }}"></use>
                            </svg>
                            <svg class="ico icoDisliked {% if detail.isFavourite == -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-disliked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numDislike_{{ detail.id }}">{{ detail.dislikeCount }}</p>
                    </a></li>
{#                <li>#}
{#                    <a href="javascript:void(0);" id="shareDetail" class="modalBtn btnShare" data-target="#popupShare"#}
{#                       data-id="{{ detail.id }}"#}
{#                       data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}">#}
{#                        <svg class="ico">#}
{#                            <use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use>#}
{#                        </svg>#}
{#                        <p class="txtInfo">{{t('wap', 'Chia sẻ') }}</p>#}
{#                    </a>#}
{#                </li>#}
                <li>
                    <a class="optMnBtn detailVideoBtnAddTo" data-id="{{ detail.id }}"
                       data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}"
                       data-target="#playlistOpt">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use>
                        </svg>
                        <p class="txtInfo">{{t('wap', 'Thêm vào') }}</p>
                    </a>
                </li>
                <li>
                    <a class="optMnBtn" data-target="#reportOtp">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-flag') }}"></use>
                        </svg>
                        <p class="txtInfo">{{t('wap', 'Báo cáo') }}</p>
                    </a>
                </li>
            </ul>
        </div>

        <input type="hidden" id="is_follow" value="{{ detail.owner.isFollow }}"/>

        <div class="user blkBdTop ctn">
            <a class="right {% if detail.owner.isFollow %} color0081FF {% endif %}" href="javascript:void(0)"
               id="followVideo" data-id="{{ detail.owner.id }}">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-follow') }}"></use>
                </svg>
            </a>
            <div class="avatar pthld left"><a href="{{ url('channel/get-detail',{'id':detail.owner.id}) }}">
                    <img src="{{ detail.owner.avatarImage }}"
                         onError="this.onerror=null;this.src='/images/avatar.gif'" alt=""></a>
            </div>
            <div class="ctnhld">
                <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
                <div><a href="{{ url('channel/get-detail',{'id':detail.owner.id}) }}">{{ detail.owner.name }}</a></div>
                <div class="txtInfo" id="total_follow">{{ detail.owner.followCount }} {{t('wap', 'theo dõi') }}</div>
            </div>
        </div>
        <div class="desc blkBdTop ctn txtInfo toggle" id="videoDesc">
            <p>{{t('wap', 'Xuất bản') }} {{ detail.publishedTime }}</p>
            <div>{{ detail.description }}</div>
        </div>
    </section>
    
    {% if relateds|length >0 %}
        {% include '@app/views/partials/relatedVideoAjaxBox.twig' with {'data': relateds} %}
    {% endif %}
    
    {% include '@app/views/partials/commentBox.twig' with {'contentId': detail.id , 'content': detail.name , 'avatarImage': avatarImage,  'type': 'VOD'} %}
    {% include '@app/views/partials/shareSocialModal.twig' with {'shareLink': shareLink} %}
</div>

{% include '@app/views/partials/popupCommon.twig' %}

<div class="modal modalPopup" id="reportOtp">
    <div class="ctn">
        <h5>{{t('wap', 'Báo cáo vi phạm') }}</h5>
        {% for report in app.params['setting.feedback'] %}
            <p>
                <input id="rdo_{{ report.id }}" type="radio" name="report" value="{{ report.id }}">
                <label for="rdo_{{ report.id }}">{{ t('wap', report.content) }}</label>
            </p>
        {% endfor %}
        <p>{{t('wap', 'Nếu bạn là chủ sở hữu video vui lòng') }} <a href="/lien-he" style="color:blue">{{t('wap', 'làm theo hướng dẫn') }}</a>
            {{t('wap', 'để thông báo về nội dung vi phạm bản quyền.') }}</p>
        <div class="action alRight">
            <a href="javascript:void(0)" id="piracy-cancel" class="close" href="javascript:void(0)">{{t('wap', 'HỦY') }}</a>
            <span></span>
            <a href="javascript:void(0)" onclick="postFeedBack()" id="report-issue" class="ok">{{t('wap', 'ĐỒNG Ý') }}</a>
            <input type="hidden" id="postFeedbackUrl" value="{{ url('default/feed-back') }}">
            <input type="hidden" id="contentId" value="{{ detail.id }}">
            <input type="hidden" id="typeReport" value="VOD">
            <input type="hidden" id="contentReport" value="{{ detail.name }}">
        </div>

    </div>
</div>
