
{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}
 {{ HeaderWidget.widget({'type':'main','title':title}) | raw }}

<div id="{{ id }}">
    <section {% if type=='sub' %} class="blk blkPadBoth blkListVideosVer" {% else %}  class="blk blkPadBothExt blkListVideosVer" {% endif %}>

        {% include "@app/views/partials/videoSmallBox.twig" with {'data': responseData.data, 'hasTitle': false, 'hasArrow': false,'iconMore': true} %}

        {% if responseData.data.content|length == 0  %}
            <p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
        {% endif %}

        <div id="container"></div>

        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
        {% if offset %}
            <input type="hidden" id="getMoreOffset" value="{{ offset }}">
        {% else %}
            <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        {% endif %}
        <input type="hidden" id="load-more-id" value="{{ id }}"/>
        <input type="hidden" id="type" value="VOD"/>
    </section>
    {% if id == 'video_history' %}
        <div class="modal modalOptMn" id="specialOpt">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btnDelete"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{t('wap', 'Xóa lịch sử xem') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
                </li>
            </ul>
        </div>
        <div class="overlay"></div>
    {% elseif id == 'video_watch_later' %}
        <div class="modal modalOptMn" id="specialOpt">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btnRemoveViewLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{t('wap', 'Xóa khỏi xem sau') }}</a>
                </li>
                <li>
                    <a data-videoid="1" href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
                </li>
            </ul>
        </div>
        <div class="overlay"></div>
    {% elseif id == 'video_owner' %}
        <div class="modal modalOptMn" id="specialOpt">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btnSeeLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-later') }}"></use></svg>{{t('wap', 'Thêm vào xem sau') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="modalBtn btnCreatePlaylist" data-target="#createPlaylistModal" data-opt="clearAll"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg> {{t('wap', 'Tạo danh sách phát') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="modalBtn btnLoadMyPlaylist" data-opt="clearAll" data-target="#playlistPop"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg> {{t('wap', 'Thêm vào danh sách phát') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="modalBtn btnCreatePlaylist" onclick="openEditVideo()" ><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-edit') }}"></use></svg>{{t('wap', 'Chỉnh sửa') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close" data-opt="clearAll" id="delete_my_video_button"  >
                        <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg>{{t('wap', 'Xóa') }}
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close btnTriggercomment"><i class="fa fa-commenting-o ico" aria-hidden="true"></i> <span>{{t('wap','Tắt bình luận')}}</span></a>
                </li>

            </ul>
        </div>

    
{#        <ul>#}
{#            <li>#}
{#                <a href="javascript:void(0);" class="btnSeeLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-later') }}"></use></svg>{{t('wap', 'Thêm vào xem sau') }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:void(0);" class="modalBtn btnCreatePlaylist" data-target="#createPlaylistModal" data-opt="clearAll"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg> {{t('wap', 'Tạo danh sách phát') }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:void(0);" class="modalBtn btnLoadMyPlaylist" data-opt="clearAll" data-target="#playlistPop"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg> {{t('wap', 'Thêm vào danh sách phát') }}</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="javascript:void(0);" class="close" data-opt="clearAll" id="delete_my_video_button"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg>{{t('wap', 'Xóa') }}</a>#}
{#            </li>#}
{#        </ul>#}

        </div>
        <div class="overlay"></div>

        <div class="modal modalPopup" id="editVideoModal" style="position: absolute">
            <div class="ctn">
                <h5>{{t('wap', 'Chỉnh sửa video') }}</h5>
                    <div class="ctn" style="padding:0">
                        <div class="form-group">
                            <form id="edit_video_form" method="post" enctype="multipart/form-data" action="/video/edit-video">
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                                <input type="hidden" name="id" id="edit_video_id">
                                <div class="row-form">
                                    <p>{{t('wap', 'Tên video') }}</p>
                                    <input class="ipt iptLg" placeholder="{{t('wap','Nhập tên video mới')}}" autofocus type="text" id="edit_video_name" name="title" style="width: 100%"/>
                                </div>
                                <div class="row-form">
                                    <p>{{t('wap', 'Chọn ảnh đại diện') }}</p>
                                    <input type="file" id="edit_video_file" name="thumbnail"/>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="controls">
                        <a class="btn btnBlue ok" href="javascript:void(0)" id="edit_video_button">{{t('wap', 'Chỉnh sửa') }}</a>
                        <a class="btn btnOutline close" href="javascript:void(0)">{{t('wap', 'Đóng') }}</a>
                    </div>
            </div>
        </div>

    {% endif %}

</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
