{{ HeaderWidget.widget({'type': type ,'title':responseData.data.name}) | raw }}
{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}

<main id="{{ id }}">
    <section {% if type=='sub' %} class="blk blkPadBoth blkListVideosVer" {% else %}  class="blk blkPadBothExt blkListVideosVer" {% endif %}>

        <h6 class="blkTitle">{{ t('wap', 'Sắp xếp theo') }}: <a class="icoMore optMnBtn" data-target="#viewOptFilter">
                {% if filter ==1 or filter ==0 %} {{ t('wap', 'Mới nhất') }}{% elseif filter==2 %}  {{ t('wap', 'Cũ nhất') }} {% elseif filter==3 %} {{ t('wap', 'Xem nhiều nhất') }}  {% endif %}
                <svg class="ico ico12"><use xlink:href="/images/defs.svg#ico-down-solid"></use></svg>
            </a>
        </h6>

        {% include "@app/views/partials/videoSmallBox.twig" with {'data': responseData.data, 'hasTitle': false, 'hasArrow': false, 'iconMore': true} %}

        {% if responseData.data.content|length == 0  %}
            <p class="ctn">{{ t('wap', 'Không có dữ liệu') }}</p>
        {% endif %}

        <div id="container"></div>

        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
        {% if offset %}
            <input type="hidden" id="getMoreOffset" value="{{ offset }}">
        {% else %}
            <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        {% endif %}
        <input type="hidden" id="load-more-id" value="{{ id }}"/>
        <input type="hidden" id="type" value="VOD"/>
    </section>
    {% if id == 'video_history' %}
        <div class="modal modalOptMn" id="specialOpt">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btnDelete"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{ t('wap', 'Xóa lịch sử xem') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{ t('wap', 'Hủy bỏ') }}</a>
                </li>
            </ul>
        </div>
        <div class="overlay"></div>
    {% elseif id == 'video_watch_later' %}
        <div class="modal modalOptMn" id="specialOpt">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="btnRemoveViewLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{ t('wap', 'Xóa khỏi xem sau') }}</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{ t('wap', 'Hủy bỏ') }}</a>
                </li>
            </ul>
        </div>
        <div class="overlay"></div>
    {% endif %}

</main>
<div class="modal modalOptMn" id="viewOptFilter">
    <ul>
        <li>
            <a href="/default/get-list-video-filter?id=video_new_of_channel_{{ nid }}&filter=1"><svg class="ico"><use xlink:href="/images/defs.svg#ico-later"></use></svg> {{ t('wap', 'Mới nhất') }}</a>
        </li>
        <li>
            <a href="/default/get-list-video-filter?id=video_old_of_channel_{{ nid }}&filter=2"><svg class="ico"><use xlink:href="/images/defs.svg#ico-later"></use></svg> {{ t('wap', 'Cũ nhất') }}</a>
        </li>
        <li>
            <a href="/default/get-list-video-filter?id=video_most_view_of_channel_{{ nid }}&filter=3"><svg class="ico"><use xlink:href="/images/defs.svg#ico-view"></use></svg> {{ t('wap', 'Xem nhiều nhất') }}</a>
        </li>
    </ul>
</div>
{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}

