{% for k,video in data %}
    {% if k == 0%}
        {% set nextVideo = video.name %}
        <input type="hidden" id="nextVideo" value="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" />
    {% endif %}
    <article class="videoItem">
        <div class="ctn">

            <div class="pthld">
                <span class="timing">{{video.duration}}</span>
                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" title="{{video.name}}">
                    <img src="{{ video.coverImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
                </a>
                {% if(video.price_play == 0) %}
                    <div class="attach-img">
                        <img src="/images/freeVideo.png">
                    </div>
                {% endif %}
            </div>
            <div class="ctnhld">
                <h6 class="title">
                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" title="{{video.name}}">{{video.name}}</a>
                </h6>
                <p class="txtInfo">
                    <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{video.userName}}</a> <i class="dot"></i>
                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                </p>
            </div>
            <a class="icoMore optMnBtn" data-target="#videoOpt" data-id="{{video.id}}" data-url="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use></svg>
            </a>
        </div>
    </article>
{% endfor %}