{{ HeaderWidget.widget({'type': "sub" ,'title': responseData.data.name }) | raw }}
{{ use('wapsite/assets/ReactAsset') }}
{{ register_react_asset() }}

<main>
    <section class="blk blkPadBoth blkListVideosVer">
        {% include "@app/views/partials/videoSmallBox.twig" with {'data': responseData.data, 'hasTitle': false, 'hasArrow': false, 'playlist':true, 'iconMore': true}  %}

        {% if responseData.data.content|length == 0 %}
            <p class="ctn">{{ t('backend', 'Không có dữ liệu') }}</p>
        {% endif %}

        <div id="container">
        </div>
        <input type="hidden" id="is_not_owner" value="444">
        <input type="hidden" id="idInt" value="{{idInt}}">
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="load-more-id" value="{{id}}"/>
        {% if id== 'list_channel_follow' %}
            <input type="hidden" id="type" value="CHANNEL"/>
        {% else %}
            <input type="hidden" id="type" value="VOD"/>
        {% endif %}

    </section>
</main>

