/* RESPONSIVE CSS
-------------------------------------------------- */
@media(min-width: 960px) {
    .clr-bg{ background: none!important;}
    .hide-desktop{ display: none;}
    .hide-mobile{ display: block;}

    header{ background: rgba(0,123,211,0.4);}
    header #humberger{ display: none;}
    header #account{ padding-right: 0px;}
    header nav{ display: inline-block!important; background: none!important; opacity: 1; position: relative; width: 100%; height: auto;}
    header nav .close{ display: none;}
    header nav #logo{ display: inline-block; width: 120px; margin: 0; line-height: 48px;}
    header nav ul{ display: inline-block; margin: 0; padding: 0; float: right; font-size: 0.8em;}
    header nav ul li{ display: inline-block; margin-left: 20px; line-height: 48px;}
    header nav a{ font-size: 1em; font-weight: 400; padding: 0;}
    header #sublogo{ display: none;}

    .block h1{ font-size: 3.6em; padding: 12px 0px;}
    .block-intro .left{ padding-top: 60px;}
    .block-intro .left img{ width: 340px;}
    .block-intro .right{ position: relative; margin-right: -60px;}
    .block-intro .right img{ width: 600px;}

    .block-videos .videoItem{ width: 24%; float: none; margin-right: 12px; display: inline-block}
    .block-videos .videoItem:nth-child(4n + 1){ margin-right: 0px;}
    .block-videos .videoItem .pthld{
        position: relative; float: left; width: 100%; height: 146px;
    }
    .videoItem .ctn{
        padding-top: 8px; padding-left: 0px;
    }
    .videoItem .winner .ctn{
        padding-top: 8px; padding-left: 12px;
    }

    .block-rules .left{ width: 780px;}
    .block-rules .right{ width: 160px;}
    .block-rules .right h1{ line-height: 0.6; padding-top: 0px;}

    .block-winners .videoItem{ width: 49%;}
    .block-winners .videoItem:nth-child(2n + 1){ margin-right: 0px;}
    .block-winners .videoItem .pthld{ width: 240px; margin-left: 68px;}
    .block-winners .videoItem>.ctn{
        width: 240px; margin-left: 68px; float: left;
    }
}

@media(min-width: 768px) {
    .block h1{ font-size: 3em; padding: 12px 0px;}
    .block-intro .left{ padding-top: 20px;}
    .block-intro .left img{ width: 300px;}
    .block-intro .right{ position: relative; margin-right: 0px;}
    .block-intro .right img{ width: 400px;}

    .block-videos .videoItem{ width: 23.7%; float: none; margin-right: 12px; display: inline-block}
    .block-videos .videoItem:nth-child(4n + 1){ margin-right: 0px;}
    .block-videos .videoItem .pthld{
        position: relative; float: left; width: 100%; height: 112px;
    }
    .block-videos .videoItem .title{}
    .videoItem .ctn{
        padding-top: 8px; padding-left: 0px;
    }
    .videoItem .winner .ctn{
        padding-top: 8px; padding-left: 12px;
    }

    .top-video{ width: 40%;}
    .top-video .pthld{ width: 320px; height: 200px; float: none; margin-left: 35px;}

    .block-rules .left{ width: 748px;}
    .block-rules .right{ width: 160px;}
    .block-rules .right h1{ line-height: 0.6; padding-top: 0px;}

    .block-winners .videoItem{ width: 49%;}
    .block-winners .videoItem:nth-child(2n + 1){ margin-right: 0px;}
    .block-winners .videoItem .pthld{ width: 190px; margin-left: 68px;}
    .block-winners .videoItem>.ctn{
        width: 190px; margin-left: 68px; float: left;
    }

    .block-winners .wrap-960{ width: 70%;}
    .block-winners .videoBig .pthld{ width: 300px; height: 160px; margin-left: 0px;}
    .block-winners .videoBig>.ctn{
        width: 300px; margin-left: 0px; float: left;
    }
    .block-winners .videoItem .winnerBig{ float: right; width: auto; margin-right: 30px;}
}

