{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form title-video-info">
                <div class="title">{{t('web','XÁC NHẬN THÔNG TIN CÁ NHÂN')}}</div>

            </div>
            <div class="row-form" style="max-height: 380px; overflow-y: scroll">
                {{ condition|raw }}
            </div>

            <p class="clearfix"></p>

            {% if contract.status==0 %}
                <div class="row-form">
                    <form action="" method="post">
                        <p><a class="btn-cancel" href="/">{{t('wap','Từ chối')}}</a>
                            <a class="btn-upload" href="/contract/personal-infomation">{{t('web','Tôi đã đọc và Đồng ý')}}</a>
                        </p>

                    </form>
                </div>
            {% endif %}

            <p class="clearfix"></p>
        </div>
    </div>
    <div class="upload-right">
        <div class="mdl-upload-guide">
            <div class="title">{{t('web','THÔNG TIN TÀI KHOẢN')}}</div>
            <div class="content-upload-bottom">

                <div class="scroll">
                    <p>
                        <a href="/contract/condition">1. {{t('web','Điều khoản')}}</a>
                        {% if contract %}
                        <i class="fa fa-check-circle"></i></p>
                    {% else %}
                        <i {% if not ok %} style="color: gray" {% endif %} class="fa fa-check-circle"></i></p>
                    {% endif %}

                    <p>
                        {% if contract %}
                            <a href="/contract/personal-infomation">2. {{t('web','Thông tin cá nhân')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>2. {{t('web','Thông tin cá nhân')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if contract.msisdn_pay or (contract.status>=1 and contract.status<=3) %}
                            <a href="/contract/account">3. {{t('web','Tài khoản')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>3. {{t('web','Tài khoản')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if  contract.status >=1 and contract.status<=3 %}
                            <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% if contract.status == 3 %}
                            {% else %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        {% else %}
                            {% if contract.msisdn_pay %}
                                <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% else %}
                                <a>4. {{t('web','Hợp đồng')}}</a>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>
                        <a href="/account/report-upload">5. {{t('web','Thu nhập')}}</a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1775833932440003');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->