{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form text-center">
                <p class="clearfix">&nbsp;</p>
                <p class="clearfix">&nbsp;</p>

                {% if contract.status == 1 %}
                    <h4>{{t('web','Thông tin đang được phê duyệt')}}</h4>
                    <p>{{t('web','Chúng tôi sẽ xem xét và phê duyệt trong thời gian sớm nhất')}}.</p>
                {% elseif contract.status ==2 %}
                    <h4>{{t('web','Hợp đồng đã được phê duyệt')}}</h4>
                {% elseif contract.status ==3 %}
                    <h4>{{t('web','Hợp đồng đã bị từ chối')}}</h4>
                    <p style="color: red">
                        {% if contract.reason %} {{t('web','Hợp đồng đã bị từ chối với lý do')}}: {{ contract.reason }} {% endif %}
                    </p>
                {% endif %}

                <p class="clearfix">&nbsp;</p>

                <form action="/contract/contract" method="post" >
                    <input type="hidden"
                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}"/>
                    {% if contract.status == 1 %}
                        <p>
                            <button id="modify-contract" type="submit" name="action-contract" value="modify-contract"
                                    class="btn-upload   btn-contract-condition">{{t('web','Làm lại hợp đồng')}}
                            </button>
                        </p>
                    {% elseif contract.status ==3 %}
                        <p>
                            <button id="modify-contract" type="submit" name="action-contract"
                                    value="change-failure-contract" class="btn-upload   btn-contract-condition">
                                {{t('web','Làm lại hợp đồng')}}
                            </button>
                        </p>
                    {% endif %}
                </form>

                <p class="clearfix">&nbsp;</p>

            </div>

            <p class="clearfix"></p>

        </div>
    </div>

    <div class="upload-right">
        <div class="mdl-upload-guide">
            <div class="title">{{t('web','THÔNG TIN TÀI KHOẢN')}}</div>
            <div class="content-upload-bottom">

                <div class="scroll">
                    <p>
                        <a href="/contract/condition">1. {{t('web','Điều khoản')}}</a>
                        {% if contract %}
                        <i class="fa fa-check-circle"></i></p>
                    {% else %}
                        <i {% if not ok %} style="color: gray" {% endif %} class="fa fa-check-circle"></i></p>
                    {% endif %}

                    <p>
                        {% if contract %}
                            <a href="/contract/personal-infomation">2. {{t('web','Thông tin cá nhân')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>2. {{t('web','Thông tin cá nhân')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if contract.msisdn_pay or (contract.status>=1 and contract.status<=3) %}
                            <a href="/contract/account">3. {{t('web','Tài khoản')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>3. {{t('web','Tài khoản')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if  contract.status >=1 and contract.status<=3 %}
                            <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% if contract.status == 3 %}
                            {% else %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        {% else %}
                            {% if contract.msisdn_pay %}
                                <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% else %}
                                <a>4. {{t('web','Hợp đồng')}}</a>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>
                        <a href="/account/report-upload">5. {{t('web','Thu nhập')}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1775833932440003');
    fbq('track', 'CompleteRegistration');
</script>

<noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
</noscript>
