{{ use('website/assets/ContractAsset') }}
{{ register_contract_asset() }}

<div class="mdl-upload">
    <div class="upload-left">
        <div class="left-content">
            <div class="row-form title-video-info">
                <div class="title">{{t('web','XÁC NHẬN THÔNG TIN CÁ NHÂN')}}</div>
            </div>

            {% if contract.status ==0 %}
                <div class="row-form">
                    <p>
                        <label><input type="checkbox" id="load-infomation"> &nbsp;{{t('wap','Sử dụng thông tin có sẵn')}}</label>
                    </p>
                    <p><i>* {{t('web','Bắt buộc nhập thông tin khi lần đầu tiên đăng tải')}}</i></p>
                </div>
            {% endif %}

            <form action="/contract/personal-infomation" enctype="multipart/form-data" method="post" id="form-contract">
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}"/>

                <input type="hidden" id="info_type">

                <div class="row-form form-inline">
                    <p><strong>1. {{t('web','Thông tin cá nhân')}}</strong></p>
                    <p><span class="iptlb">{{t('web','Họ và tên')}}</span>
                        <input type="text" name="name" value="{{ contract.name }}" class="form-control ipt2x"
                               placeholder="">
                    </p>

                    <p><span class="iptlb">{{t('web','Địa chỉ email')}}</span>
                        <input type="text" name="email" value="{{ contract.email }}" class="form-control ipt2x"
                               placeholder="">
                    </p>

                    <p><span class="iptlb">{{t('web','Số CMND')}}</span>
                        <input type="text" name="id_card_number" value="{{ contract.id_card_number }}"
                               class="form-control ipt2x" placeholder="">
                    </p>
                    <p><span class="iptlb"></span>
                        <span>{{t('web','Ngày cấp')}}
                            <input type="text" id="id_card_created_at" name="id_card_created_at"
                                   value="{{ contract.id_card_created_at }}" class="form-control ipt1x" placeholder="">
                        </span>
                        <span style="margin-left: 20px;">{{t('web','Nơi cấp')}}
                            <input type="text" name="id_card_created_by" value="{{ contract.id_card_created_by }}"
                                   class="form-control ipt1x" placeholder="">
                        </span>
                    </p>
                    <input type="hidden" id="tem_image_id_frontside_image"
                           value="{{ contract.id_card_image_frontside }}"/>
                    <input type="hidden" id="tem_image_id_backside_image"
                           value="{{ contract.id_card_image_backside }}"/>
                    <p class="id_card">

                    </p>
                    <p>
                        <span class="iptlb"></span>
                        <span>{{t('web','Mặt trước')}}
                            <input style=" width: 333px" type="file" id="id_card_image_frontside"
                                   name="id_card_image_frontside" value="{{ contract.id_card_image_frontside }}"
                                   class="form-control ipt1x" placeholder="">
                        </span>


                        <a id="id_card_fontside_viewer" {% if contract.id_card_image_frontside %} style="margin-left: 10px;" {% else %} style="display: none" {% endif %}
                           target="_blank" class="show-thum-hover"
                           href="{{ imageUrl }}/{{ contract.bucket }}/{{ contract.id_card_image_frontside }}">{{t('web','Xem ảnh')}}</a>


                        <span class="thumbnail-id-card" style="display: none">
                            <img class="thumbnail-id-card"
                                 src="{{ imageUrl }}/{{ contract.bucket }}/{{ contract.id_card_image_frontside }}"/>
                        </span>
                    </p>
                    <p>
                        <span class="iptlb"></span>
                        <span>{{t('web','Mặt sau')}}
                            <input style="margin-left: 10px; width: 333px" type="file" id="id_card_image_backside"
                                   name="id_card_image_backside" value="{{ contract.id_card_image_backside }}"
                                   class="form-control ipt1x" placeholder="">
                        </span>

                        <a id="id_card_backside_viewer" {% if contract.id_card_image_backside %} style="margin-left: 10px;" {% else %} style="display: none" {% endif %}
                           target="_blank" class="show-thum-hover"
                           href="{{ imageUrl }}/{{ contract.bucket }}/{{ contract.id_card_image_backside }}">{{t('web','Xem ảnh')}}</a>

                        <span class="thumbnail-id-card" style="display: none">
                            <img class="thumbnail-id-card"
                                 src="{{ imageUrl }}/{{ contract.bucket }}/{{ contract.id_card_image_backside }}"/>
                        </span>
                    </p>
                    <p><span class="iptlb">{{t('web','Số điện thoại')}} (Unitel)</span>
                        <input type="text" name="msisdn" value="{{ contract.msisdn }}" class="form-control ipt2x"
                               placeholder="">
                    </p>
                    {% if contract.status !=2 %}
                    <p>
                        <span class="iptlb"> {{t('web','Nhập mã OTP')}} </span>
                       <input type="text" name="otp" class="form-control ipt1x" placeholder="">
                        <button type="button" class="btn-cancel" id="get_otp_contract">{{t('web','Lấy mã OTP')}}</button>
                    </p>
                    {% endif %}
                    <p id="contract_otp" style="color: red"></p>
                </div>
                <p class="clearfix"></p>
                {% if contract.status !=2 %}
                    <div class="row-form">
                        <p>
                            <button onclick="window.location='/contract/condition'" type="reset" class="btn-cancel">
                                {{t('web','Hủy bỏ')}}
                            </button> &nbsp;&nbsp;
                            <button type="submit" name="submit-info" value="DONE" class="btn-upload">{{t('web','Xác nhận thông tin')}}</button>
                        </p>
                        <br/>
                    </div>
                {% endif %}
            </form>
            <p class="clearfix"></p>
        </div>
    </div>

    <div class="upload-right">
        <div class="mdl-upload-guide">
            <div class="title">{{t('web','THÔNG TIN TÀI KHOẢN')}}</div>
            <div class="content-upload-bottom">

                <div class="scroll">
                    <p>
                        <a href="/contract/condition">1. {{t('web','Điều khoản')}}</a>
                        {% if contract %}
                        <i class="fa fa-check-circle"></i></p>
                    {% else %}
                        <i {% if not ok %} style="color: gray" {% endif %} class="fa fa-check-circle"></i></p>
                    {% endif %}

                    <p>
                        {% if contract %}
                            <a href="/contract/personal-infomation">2. {{t('web','Thông tin cá nhân')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>2. {{t('web','Thông tin cá nhân')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if contract.msisdn_pay or (contract.status>=1 and contract.status<=3) %}
                            <a href="/contract/account">3. {{t('web','Tài khoản')}}</a>
                            <i class="fa fa-check-circle"></i>
                        {% else %}
                            <a>3. {{t('web','Tài khoản')}}</a>
                        {% endif %}
                    </p>

                    <p>
                        {% if  contract.status >=1 and contract.status<=3 %}
                            <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% if contract.status == 3 %}
                            {% else %}
                                <i class="fa fa-check-circle"></i>
                            {% endif %}
                        {% else %}
                            {% if contract.msisdn_pay %}
                                <a href="/contract/contract">4. {{t('web','Hợp đồng')}}</a>
                            {% else %}
                                <a>4. {{t('web','Hợp đồng')}}</a>
                            {% endif %}
                        {% endif %}
                    </p>
                    <p>
                        <a href="/account/report-upload">5. {{t('web','Thu nhập')}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
