/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
  background: #3a4656 url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
}

.sidebar-toggler-container {
  width: 30px !important;
  border-radius: 4px;
  margin: 10px 0 0 92px;
}

.page-sidebar-closed .sidebar-toggler-container {
  margin-left: 9px !important;
  width: 30px !important;
}

.page-sidebar .sidebar-toggler:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler:hover {
  filter: alpha(opacity=100);
  background: #24303E url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
  opacity: 1;
}

.sidebar-toggler-container .sidebar-toggler {
  float: right; margin-top: 0; margin-right: 0;
}

.aws-thead-float > .table-bordered {
  border-bottom: 1px solid #ddd !important;
}

.active-ico {
  position: relative;
}
.active-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.inactive-ico {
  position: relative;
}
.inactive-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.image-grid-display{
  max-height: 160px;
  max-width: 160px;
}
.preview-image{
  width:100%;
  max-height: 205px;
  max-width: 180px;
}

.topic-checkbox-list{
  height: 210px !important;
  overflow-y: scroll;
}

.topic-checkbox-list label{
  display: block;
}


.editable-checklist{
  height: 250px;
  overflow: scroll;
}

td.cell-content{
  text-align: right;
  vertical-align: middle !important;
}

th.cell-key, td.cell-key{
  text-align: center;
  vertical-align: middle !important;
}

td.cell-text{
  text-align: left;
  vertical-align: middle !important;
}

/*.table-bordered>tbody>tr>td {*/
   /*border: 0px solid #ddd;*/
/*}*/

.col-md-3{
  margin-bottom: 10px;
}

.snapshot-choice{
  width: 100%;
}

.snapshot-choice .form-group{
  float: left;
}
table.breakAll td
{
  word-break: break-all;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  /*width: 35%;*/
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.feebackType{
  padding-top: 10px;
}
.feedbackGeneral{
  margin-top: -6px;
}

.headerTable{
  font-weight: bold;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.text-wrap{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}


.vt-promotion-data-index .btn-upload {
  padding: .375rem .75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #d1d1d1;
  background-clip: padding-box;
  border-radius: 20px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  border: 0;
  min-width: 210px;
  margin-top: 5px;
  font-family: 'Helvetica-Bold';
}

.vt-promotion-data-index .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.vt-promotion-data-index .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* css manage view day*/
.summary {
  padding: 12px 0;
}
.table-responsive.table-price table.table.table-striped.table-bordered tbody td
{
  text-align: right;
  min-width: 100px;
}
.table-responsive.table-price table.table.table-striped.table-bordered thead th:nth-child(1),
.table-responsive.table-price table.table.table-striped.table-bordered tbody td:nth-child(1),
.table-responsive.table-price table.table.table-striped.table-bordered thead th:nth-child(n) {
  text-align: center;
  min-width: 32px;
}
.table-responsive.table-price table.table.table-striped.table-bordered tbody td:nth-child(2) {
  text-align: left;
}
.daterangepicker .input-mini {
  min-width: 100%;
  display: inline-block;
}
.form-group.field-local_channel_id > span {
  pointer-events: none;
  opacity: 0.5;
}