{{ use('website/assets/DetailPlayAllAsset') }}
{{ register_detail_play_all_asset() }}
{% set item = detail %}

<div class="player-container">
    <div class="content-playlist-player">
        <video id="video" class="video-js">
        </video>
        <div id="countdown" class="countdown-timer" style="display:none;"></div>
        <div class="left-playlist">
            <div class="header-list">
                <h4 class="text-1">{{ item.title }}</h4>
                <p class="text-2">{{ item.name }}</p>
                <p>
                    <span class="btn-repeat-list"><i class="fa icon-replay"></i></span>
                    <span class="btn-random-list"><i class="fa icon-random"></i></span>
                </p>
            </div>
            <div class="vjs-playlist">
                <!--
                  The contents of this element will be filled based on the
                  currently loaded playlist
                -->
            </div>
        </div>
    </div>
    <input id="playerData" type="hidden" value="{{ playerData }}">
    <input id="videoIdsData" type="hidden" value="{{ videoIdsData }}">

    <input id="videoId" type="hidden" value="{{ videoId }}">
    <input id="videoBoxUrl" type="hidden" value="{{ url('video/detail-box') }}">
</div>


<div id="video-content">

</div>



<script type="text/javascript">
    //Playlist

</script>