{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.lazy.limit'] }}">

    <input type="hidden" id="load-more-id" value="{{type}}"/>
    <input type="hidden" id="type" value="VOD"/>
    <input type="hidden" id="showDescriptionId" value="1"/>
    <input type="hidden" id="icoDelVideoHistory" value="1"/>
    <input type="hidden" id="typeDelete" value="HISTORYVIEW"/>
    <input type="hidden" id="function-more" value="0"/>
    <input type="hidden" id="mutiLine" value="false" />
    {% include "@app/views/partials/verticalVideoBox.twig" with {'box': responseData,'loadMore': false,'hasTitle':false,'menuHistory':true, 'route':route,'removeItem': true, className: 'cut-over', 'mutiLine': false,'typeFunction':'HISTORY'} %}
</div>


{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}