{{ use('website/assets/HistoryAsset') }}
{{ register_history_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">

    <div class="mdl-general">
        <div class="content">
            <div class="menu-history">
                <p class="item-title">{{t('web','Loại lịch sử')}}</p>
                <p onclick="window.location = '{{url('default/history')}}'"  class="item {% if route == 'default/history' %} selected {% endif %}">{{t('web','Lịch sử xem')}} <i class="fa icon-checker"></i></p>
                <p onclick="window.location = '{{url('default/history-search')}}'" class="item {% if route =='default/history-search' %} selected {% endif %} ">{{t('web','Lịch sử tìm kiếm')}} <i class="fa icon-checker"></i></p>
                <p class="item-clear">{{t('web','Xóa lịch sử')}} <i class="fa icon-delete"></i></p>
            </div>
            <div class="list-video list-video-horizontal-left list-video-no-images">
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">

                <input type="hidden" id="typeDelete" value="HISTORYSEARCH"/>
  
                <div id="history-search"></div>
            </div>

        </div>
    </div>
</div>
