<div class="body-content-left">
    <!--0.Left menu-->
</div>

<input type="hidden" id="offset" value="{{ responseData|length }}">

<div class="body-content-right" id="home-page-right">
    {% if banner %}
        <div class="mdl-banner-newyear">
            <a href="{{ banner.link }}"><img src="{{ banner.image }}" width="946" height="278" alt=""></a>
        </div>
    {% endif %}

    {% for box in responseData %}
        {% set withSlide = true %}
        {% if box.id  == "video_recommend" or box.id  == "video_home" or box.id == "video_hot_2" %}
            {% set withSlide = false %}
        {% endif %}
        {% if box.content|length < app.params['app.home.limit']%}
            {% include "@app/views/partials/videoBox.twig" with {'box': box,'hasTitle':true,'loadMore': false, 'url': url('default/playlist',{id:box.id}),'functionMore': true,"channel": true,'idBox':box.id, 'mutiLine': true ,'withSlide': withSlide } %}
        {% else%}
            {% include "@app/views/partials/videoBox.twig" with {'box': box,'hasTitle':true,'loadMore': true, 'url': url('default/playlist',{id:box.id}),'functionMore': true,"channel": true,'idBox':box.id,'mutiLine': true,'withSlide': withSlide} %}
        {%endif%}
    {% endfor %}

</div>

<div class="clearfix"></div>
<div class="spinner" id="spinner" style="display: none">
    <div class="quarter">
        <div class="circle"></div>
    </div>
</div>

{% if popup %}
    {% include '@app/views/partials/popupVideo.twig' with {'type': 'ALL', 'popup': popup, 'autoDisplay': true, 'msisdn': msisdn } %}
{% endif %}

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
