{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}

<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
    <input type="hidden" id="load-more-id" value="{{id}}">
    <input type="hidden" id="type" value="CHANNEL">
    <input type="hidden" id="action" value="true">
    <input type="hidden" id="hotChannelUrl" value="{{ hotChannel }}">

    <div class="mdl-general">
        <h1 class="title">
            <a href="" class="ellipsis">
                {{ title }}
            </a>
        </h1>
        <div class="content">
            <div class="list-video list-video-horizontal-left list-subscription">
                {% if responseData.data.content|length ==0 %}
                    <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
                {% else %}
                    <br/>
                    {% for item in responseData.data.content %}
                        {% include "@app/views/partials/channelSmallBox.twig" with {'item': item, 'action': true} %}
                    {% endfor %}
                {% endif %}
                <!--div id="container"-->

                <!--/div-->
            </div>

        </div>
    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}

