
{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
<div class="body-content-left"> </div>
{#<div class="body-content-right">#}
{#    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">#}
{#    <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">#}
{#    <input type="hidden" id="load-more-content" value="{{ boxId }}" />#}
{#    <input type="hidden" id="show-more-limit" value="{{ app.params['app.showMore.limit'] }}" />#}
{#    {% include "@app/views/partials/box.twig" with {'responseData': responseData} %}#}

{#    <div id="lazy-container"></div>#}
{#</div>#}


<section class="blk blkListVideos blkPadBoth">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">

    <input type="hidden" id="load-more-id" value="video_recommend"/>

    {% include "@app/views/partials/box.twig" with {'data': responseData.data, 'hasTitle': true, 'hasArrow': false}  %}  
    <div id="container">

    </div>  
</section>