<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">

    <div class="mdl-general">
        <div class="content">
            {#            <div class="result-search">
                            Khoảng 15081900 kết quả
                        </div>#}
            <div class="list-video list-video-horizontal-left list-video-horizontal-left-full">
                {% set isEmpty = 1 %}
                {% for box in responseData %}
                    {% if box.content|length >0 %} {% set isEmpty = 0 %} {% endif  %}
                    {% if box.id =='channel_search' %}
                        <div id="searchChannel">
                            <input type="hidden" id="search-channel-offset" value="{{ offset }}"/>
                            <input type="hidden" id="search-channel-limit" value="{{ limit }}"/>
                            {% for item in box.content %}
                                {% include "@app/views/partials/channelSmallBox.twig" with {'item': item,'noFollow':'noFollow'} %}
                            {% endfor%}

                        </div>
                        {% if box.content|length >= offset %}
                            <div class="dDown">
                                <a class="right trans" href="javascript:void(0)">
                                    <svg class="ico" onclick="loadSearchMoreChannel('{{ query }}', this)">
                                        <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}
                    {% elseif box.id == 'video_search' %}
                        <div id="searchVideo">
                                <input type="hidden" id="search-video-offset" value="{{ offset }}"/>
                                <input type="hidden" id="search-video-limit" value="{{ limit }}"/>

                                {% for item in box.content %}
                                    {% include "@app/views/partials/videoSmallBox.twig" with {'item': item, 'description': true, 'removeItem': false,'more': true, 'channel': true, 'noFollow':'noFollow'} %}
                                {% endfor%}

                        </div>
                        {% if box.content|length >= offset %}
                            <div class="dDown">
                                <a class="right trans" href="javascript:void(0)">
                                    <svg class="ico" onclick="loadSearchMoreVideo('{{ query }}', this)">
                                        <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}
                    {%endif%}
                {% endfor%}
                {% if(isEmpty) %}
                    <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
