{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}

<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div class="mdl-general">
        <div class="mdl-support-content">

            <h3 class="title">ĐIỀU KHOẢN SỬ DỤNG USER UPLOAD</h3>

            <h3>Nguyên tắc cộng đồng</h3>

            <b>1. Bạn chấp nhận</b>
            <p>
                A. Bằng việc sử dụng hoặc vào trang MyClip hoặc bất kỳ các sản phẩm, phần mềm, nguồn cấp dữ liệu, và các
                dịch vụ nào của MyClip được cung cấp cho bạn trên, từ, hoặc thông qua trang MyClip (gọi chung là "Dịch
                Vụ"), bạn thể hiện bạn đồng ý với (1) các điều khoản và điều kiện này được bổ sung cho các "Điều Khoản
                Dịch Vụ", (2) Quy chế hoạt động của MyClip, được tìm thấy tại http://myclip.vn/quy-che-hoat-dong và được
                đưa vào đây bằng dẫn chiếu. Nếu bạn không đồng ý với bất kỳ điều khoản nào trong các điều khoản, Quy chế
                hoạt động của MyClip thì vui lòng không sử dụng Dịch Vụ.
            </p>
            <p>
                B. Mặc dù chúng tôi có thể tìm cách thông báo cho bạn khi có những thay đổi lớn trong các Điều Khoản
                Dịch Vụ này, nhưng bạn cần phải xem lại định kỳ bản cập nhật gần nhất tại
                http://myclip.vn/quy-che-hoat-dong và http://myclip.vn/default/term-condition ; MyClip có thể, theo
                quyền quyết định của riêng mình, thay đổi hoặc điều chỉnh các Điều Khoản Dịch Vụ và các chính sách vào
                bất kỳ thời điểm nào, và bạn đồng ý chịu ràng buộc bởi những thay đổi hoặc điều chỉnh nêu trên. Không có
                nội dung nào trong các Điều Khoản Dịch Vụ này được xem là trao bất kỳ các quyền hoặc lợi ích bên thứ ba
                nào.
            </p>
            <p>
                C. Đồng ý cho phép MyClip tự động lấy dữ liệu cá nhân đã đăng ký dịch vụ di động trên mạng Viettel.
            </p>
            <b>2. Dịch vụ</b>

            <p>A. Các Điều Khoản Dịch Vụ này áp dụng đối với tất cả những người dùng Dịch Vụ, kể cả những người dùng
                đồng thời là người đóng góp Nội Dung trên Dịch Vụ. “Nội Dung” bao gồm văn bản, phần mềm, tập lệnh, đồ
                họa, ảnh chụp, âm thanh, nhạc, video, các bản kết hợp nghe nhìn, các tính năng tương tác và các tư liệu
                khác mà bạn có thể xem trên, truy cập thông qua, hoặc đóng góp vào Dịch Vụ. Dịch Vụ bao gồm tất cả các
                phương diện của MyClip, bao gồm nhưng không giới hạn ở tất cả các sản phẩm, phần mềm và dịch vụ được
                cung cấp thông qua trang MyClip, chẳng hạn như các kênh MyClip, "Ứng Dụng Phát Có Thể Chèn Được
                (Embeddable Player)" của MyClip, "Ứng Dụng" của MyClip và các ứng dụng khác.
            </p>
            <p>B. Dịch Vụ có thể chứa các đường dẫn đến các trang web của bên thứ ba mà MyClip không sở hữu hoặc kiểm
                soát. MyClip không kiểm soát, và không nhận trách nhiệm nào đối với nội dung, các chính sách bảo mật,
                hoặc các cách thực hành của bất kỳ các trang web bên thứ ba nào. Ngoài ra, MyClip sẽ không và không thể
                kiểm duyệt hoặc chỉnh sửa nội dung của bất kỳ trang bên thứ ba nào. Bằng việc sử dụng Dịch Vụ, bạn giải
                trừ một cách rõ ràng cho MyClip khỏi bất kỳ và tất cả trách nhiệm phát sinh từ việc bạn dùng bất kỳ
                trang web bên thứ ba nào.
            </p>
            <p>C. Do vậy, chúng tôi khuyến khích bạn nhận biết được khi bạn rời khỏi Dịch Vụ và đọc các điều khoản và
                điều kiện và chính sách bảo mật của từng trang web khác mà bạn vào xem.
            </p>
            <b>3. Các tài khoản MyClip</b>
            <p>A. Để truy cập một số tính năng của Dịch Vụ, bạn sẽ phải tạo ra Tài Khoản MyClip. Bạn không bao giờ được
                sử dụng tài khoản của người khác khi không được cho phép. Khi tạo tài khoản của mình, bạn phải cung cấp
                thông tin chính xác và hoàn chỉnh. Bạn chỉ chịu trách nhiệm đối với hoạt động diễn ra trên tài khoản của
                mình, và bạn phải bảo mật mật khẩu tài khoản của mình. Bạn phải thông báo ngay lập tức cho MyClip về bất
                kỳ vi phạm nào đối với sự bảo mật hoặc việc sử dụng trái phép tài khoản của bạn qua tổng đài miễn phí
                198 .
            </p>
            <p>B. Mặc dù MyClip sẽ không chịu trách nhiệm đối với những tổn thất của bạn do việc sử dụng trái phép tài
                khoản của bạn, nhưng bạn có thể phải chịu trách nhiệm đối với những tổn thất của MyClip hoặc những người
                khác do việc sử dụng trái phép đó.
            </p>
            <b>4. Sử dụng Dịch Vụ nói chung — Cho phép và hạn chế</b>
            <p>MyClip thông qua đây cho phép bạn truy cập và sử dụng Dịch Vụ như được nêu trong các Điều Khoản Dịch Vụ
                này, với điều kiện là:
            </p>
            <p>A. Bạn đồng ý không truyền đạt trên bất kỳ phương tiện truyền đạt nào bất kỳ phần nào của Dịch Vụ hoặc
                Nội Dung khi không có sự cho phép trước bằng văn bản của MyClip, trừ khi MyClip cung cấp phương tiện cho
                việc truyền đạt đó thông qua chức năng được Dịch Vụ cung cấp (chẳng hạn như Ứng Dụng Phát Có Thể Chèn
                Được).
            </p>
            <p>B. Bạn đồng ý không thay đổi hoặc sửa đổi bất kỳ phần nào của Dịch Vụ.
            </p>
            <p>C. Bạn đồng ý không truy cập Nội Dung thông qua bất kỳ công nghệ hoặc phương tiện nào mà không phải là
                các trang phát lại bằng video của chính Dịch Vụ, Ứng Dụng Phát Có Thể Chèn Được, hoặc các phương tiện
                được cho phép rõ ràng khác mà MyClip có thể chỉ định.
            </p>
            <p>D. Bạn đồng ý không sử dụng Dịch Vụ cho bất kỳ mục đích thương mại nào sau đây trừ khi bạn có được sự
                chấp thuận trước bằng văn bản của MyClip:
            </p>
            <p>+    Bán quyền truy cập Dịch Vụ;
            </p>
            <p>+    Bán các chương trình quảng cáo, tài trợ, hoặc khuyến mãi có trên hoặc thuộc phạm vi Dịch Vụ hoặc Nội
                Dung; hoặc
            </p>
            <p>+ Bán các chương trình quảng cáo, tài trợ, hoặc khuyến mãi trên bất kỳ trang nào của blog hoặc trang web
                cho phép bật quảng cáo có chứa đựng Nội Dung được truyền đạt thông qua Dịch Vụ, trừ khi tư liệu khác
                không lấy từ MyClip xuất hiện trên cùng trang và đủ giá trị để làm cơ sở cho việc bán nêu trên.
            </p>
            <p>E. Sử dụng cho mục đích thương mại bị nghiêm cấm không bao gồm:</p>
            <p>+ Đăng tải video gốc lên MyClip, hoặc duy trì kênh gốc trên MyClip, để quảng bá hoạt động kinh doanh của
                bạn hoặc doanh nghiệp hoạt động nghệ thuật;
            </p>
            <p>+ Hiển thị video MyClip thông qua Ứng Dụng Phát Có Thể Chèn Được trên blog hoặc trang web cho phép bật
                quảng cáo, còn phụ thuộc vào các hạn chế quảng cáo quy định ở trên tại Mục 4.D; hoặc
            </p>
            <p>+ Bất kỳ việc sử dụng nào mà MyClip cho phép rõ ràng bằng văn bản.
            </p>
            <p>(Để biết thêm thông tin về nội dung nào cấu thành hành vi sử dụng cho mục đích thương mại bị cấm, vui
                lòng xem Câu hỏi thường gặp (FAQ) của chúng tôi.)
            </p>
            <p>F. Nếu bạn sử dụng Ứng Dụng Phát Có Thể Chèn Được trên trang web của mình, bạn không được thay đổi, thiết
                lập, hoặc chặn bất kỳ phần hoặc chức năng nào của Ứng Dụng Phát Có Thể Chèn Được, bao gồm nhưng không
                giới hạn ở các đường dẫn ngược trở lại trang MyClip.
            </p>
            <p>G. Nếu bạn sử dụng Ứng Dụng Đăng Tải của MyClip, bạn đồng ý rằng ứng dụng này có thể tự động tải xuống và
                cài đặt các cập nhật tùy từng thời điểm từ MyClip. Những cập nhật này được thiết kế nhằm cải thiện, nâng
                cao và phát triển thêm Ứng Dụng Đăng Tải và có thể dưới hình thức các hiệu chỉnh lỗi, chức năng nâng
                cao, mô-đun phần mềm mới và phiên bản mới hoàn toàn. Bạn đồng ý nhận các cập nhật nêu trên (và cho phép
                MyClip chuyển những cập nhật này cho bạn) như là một phần trong việc bạn sử dụng Ứng Dụng Đăng Tải.
            </p>
            <p>H. Bạn đồng ý không sử dụng hoặc khởi động bất kỳ hệ thống tự động nào, bao gồm nhưng không giới hạn ở,
                các "rô-bô," "nhện," hoặc "thiết bị đọc ngoại tuyến," mà truy cập Dịch Vụ theo cách thức gửi nhiều thông
                báo yêu cầu đến các máy chủ MyClip trong khoảng thời gian nhất định hơn một người có thể tạo ra hợp lý
                trong cùng khoảng thời gian bằng cách sử dụng trình duyệt web trực tuyến thông thường. Bất kể có quy
                định nêu trên, MyClip cho phép các công ty kinh doanh công cụ tìm kiếm công khai sử dụng nhện để sao
                chép tư liệu từ trang web cho mục đích duy nhất và chỉ trong chừng mực cần thiết là tạo ra các danh mục
                tư liệu sẵn có và có thể tìm kiếm công khai, chứ không phải là các bản lưu hoặc các sao lưu của các tư
                liệu nêu trên. MyClip bảo lưu quyền thu hồi những ngoại lệ này trong những trường hợp chung chung hoặc
                trong những trường hợp cụ thể. Bạn đồng ý không thu thập hoặc thu lấy bất kỳ thông tin cá nhân có thể
                nhận dạng được nào từ Dịch Vụ, kể cả tên tài khoản, cũng như không sử dụng các hệ thống liên lạc do Dịch
                Vụ cung cấp (chẳng hạn như các nhận xét, email) cho bất kỳ mục đích lôi kéo thương mại nào. Bạn đồng ý
                không lôi kéo, cho các mục đích thương mại, bất kỳ những người dùng Dịch Vụ nào đối với Nội Dung của họ.
            </p>
            <p>I. Khi sử dụng Dịch Vụ, bạn sẽ tuân thủ tất cả các pháp luật được áp dụng.
            </p>
            <p>J. MyClip bảo lưu quyền ngưng bất kỳ phần nào của Dịch Vụ vào bất kỳ thời điểm nào.
            </p>
            <b>5. Bạn sử dụng Nội Dung</b>
            <p>Bên cạnh các hạn chế chung nêu trên, những hạn chế và điều kiện sau đây được áp dụng cụ thể với việc bạn
                sử dụng Nội Dung.
            </p>
            <p>A. Nội Dung trên Dịch Vụ, và các nhãn hiệu, nhãn dịch vụ và biểu tượng (các "Nhãn") trên Dịch Vụ, thuộc
                sở hữu của hoặc được cấp quyền sử dụng cho MyClip, còn phụ thuộc vào quyền tác giả và các quyền sở hữu
                trí tuệ khác theo quy định của pháp luật.
            </p>
            <p>B. Nội Dung được cung cấp cho bạn theo NGUYÊN TRẠNG. Bạn có thể truy cập Nội Dung để bạn biết và sử dụng
                cho mục đích cá nhân chỉ theo như đã được dự định thông qua chức năng được cung cấp của Dịch Vụ và theo
                như được cho phép theo các Điều Khoản Dịch Vụ này. Bạn không được tải xuống bất kỳ Nội Dung nào trừ khi
                bạn nhìn thấy liên kết “tải xuống” hoặc liên kết tương tự mà MyClip hiển thị trên Dịch Vụ cho Nội Dung
                đó. Bạn không được sao, chép, truyền đạt, truyền tải, phát, trình bày, bán, cấp quyền sử dụng, hoặc bằng
                cách khác khai thác bất kỳ Nội Dung nào cho bất kỳ các mục đích nào khác khi không có sự đồng ý trước
                bằng văn bản của MyClip hoặc các bên cấp quyền sử dụng tương ứng Nội Dung. MyClip và các bên cấp quyền
                sử dụng của MyClip bảo lưu tất cả các quyền không được cấp một cách rõ ràng trong và đối với Dịch Vụ và
                Nội Dung.
            </p>
            <p>C. Bạn đồng ý không tránh né, vô hiệu hóa, tắt hoặc bằng cách khác cản trở các tính năng liên quan đến
                bảo mật của Dịch Vụ hoặc các tính năng ngăn cản hoặc hạn chế việc sử dụng hoặc sao chép bất kỳ Nội Dung
                nào hoặc áp đặt các giới hạn đối với việc sử dụng Dịch Vụ hoặc Nội Dung trong Dịch Vụ.
            </p>
            <p>D. Bạn hiểu rằng khi sử dụng Dịch Vụ, bạn sẽ tiếp cận Nội Dung từ nhiều nguồn khác nhau, và MyClip không
                chịu trách nhiệm về sự chính xác, hữu dụng, an toàn, hoặc các quyền sở hữu trí tuệ của hoặc liên quan
                đến Nội Dung nêu trên. Bạn cũng hiểu và xác nhận rằng bạn có thể tiếp cận Nội Dung không chính xác, có
                tính công kích, khiếm nhã, hoặc có thể làm khó chịu, và bạn đồng ý từ bỏ, và thông qua đây từ bỏ, bất kỳ
                các quyền hoặc chế tài theo pháp luật hoặc theo lẽ công bằng nào mà bạn có hoặc có thể có đối với MyClip
                về vấn đề nêu trên, và trong chừng mực được pháp luật áp dụng cho phép, đồng ý bồi hoàn và giữ vô hại
                cho MyClip, các bên sở hữu, bên điều hành, công ty liên kết, bên cấp quyền sử dụng, và bên nhận nhượng
                quyền sử dụng của MyClip trong phạm vi đầy đủ nhất được pháp luật cho phép về tất cả các vấn đề liên
                quan đến việc bạn sử dụng Dịch Vụ.
            </p>
            <b>6. Nội Dung và thao tác của bạn</b>
            <p>A. Là một người có tài khoản MyClip, bạn có thể gửi Nội Dung lên Dịch Vụ, kể cả video và các nhận xét của
                người sử dụng. Bạn hiểu rằng MyClip không bảo đảm bất kỳ sự bảo mật nào đối với bất kỳ Nội Dung nào mà
                bạn gửi lên.
            </p>
            <p>B. Bạn hoàn toàn chịu trách nhiệm về Nội Dung của chính bạn và các hậu quả của việc gửi lên và công bố
                Nội Dung của bạn trên Dịch Vụ. Bạn xác nhận, cam đoan, và bảo đảm rằng bạn sở hữu hoặc có các quyền sử
                dụng, quyền, sự đồng ý, và cho phép cần thiết để công bố Nội Dung mà bạn đưa vào; và bạn cấp quyền sử
                dụng cho MyClip tất cả bằng sáng chế, nhãn hiệu, bí mật kinh doanh, quyền tác giả hoặc các quyền thuộc
                sở hữu riêng khác trong và đối với Nội Dung nêu trên để công bố trên Dịch Vụ căn cứ theo các Điều Khoản
                Dịch Vụ này.
            </p>
            <p>C. Để làm rõ, bạn giữ lại tất cả các quyền sở hữu của mình đối với Nội Dung của bạn. Tuy nhiên, bằng việc
                gửi Nội Dung lên MyClip, bạn thông qua đây cấp cho MyClip quyền sử dụng toàn cầu, không độc quyền, miễn
                phí bản quyền, có thể chuyển giao để sử dụng, sao chép, truyền đạt, tạo lập các tác phẩm phái sinh,
                trình bày, và thực hiện Nội Dung liên quan đến Dịch Vụ và hoạt động kinh doanh của MyClip (và của các
                bên kế thừa và các công ty liên kết của MyClip), bao gồm nhưng không giới hạn cho việc quảng bá và
                truyền đạt lại một phần hoặc toàn bộ Dịch Vụ (và các tác phẩm phái sinh của Dịch Vụ) trong bất kỳ định
                dạng truyền thông đại chúng nào và thông qua bất kỳ các kênh truyền thông đại chúng nào. Bạn cũng thông
                qua đây cấp cho từng người dùng được phép không độc quyền để truy cập Nội Dung của bạn thông qua Dịch
                Vụ, và để sử dụng, sao chép, truyền đạt, trình bày và thực hiện Nội Dung theo như được cho phép thông
                qua chức năng của Dịch Vụ và theo các Điều Khoản Dịch Vụ này. Sự cho phép nêu trên được bạn cấp trong
                Nội Dung video mà bạn gửi lên Dịch Vụ chấm dứt trong thời gian hợp lý về phương diện thương mại sau khi
                bạn gỡ bỏ hoặc xóa video của mình khỏi Dịch Vụ. Tuy nhiên, bạn hiểu và đồng ý rằng MyClip có thể giữ
                lại, nhưng không được trình bày, truyền đạt, hoặc thực hiện các bản chép các video của bạn trên máy chủ
                mà đã bị gỡ bỏ hoặc xóa bỏ. Sự cho phép nêu trên được bạn cấp trong phần nhận xét của người dùng mà bạn
                gửi lên là vĩnh viễn và không thể hủy ngang.
            </p>
            <p>D. Bạn cũng đồng ý thêm là Nội Dung mà bạn gửi lên Dịch Vụ không chứa đựng tư liệu đã đăng ký bản quyền
                của bên thứ ba, hoặc tư liệu là đối tượng thuộc quyền sở hữu riêng của bên thứ ba khác, trừ khi bạn có
                sự cho phép từ người sở hữu hợp pháp của tư liệu hoặc bằng cách khác bạn được đăng tải hợp pháp tư liệu
                và cấp cho MyClip tất cả các quyền li-xăng được cấp trong đó.
            </p>
            <p>E. Bạn cũng đồng ý thêm là bạn sẽ không gửi lên Dịch Vụ bất kỳ Nội Dung nào hay tư liệu nào khác mà trái
                ngược với các Hướng Dẫn Dành Cho Người Dùng của MyClip, hiện đang có trên trang
                http://myclip.vn/quy-che-hoat-dong mà có thể được cập nhật trong từng thời điểm, hoặc trái với pháp luật
                và quy định áp dụng của địa phương, quốc gia, và quốc tế.
            </p>
            <p>F. MyClip sẽ xử lý bất kỳ nội dung âm thanh hoặc âm thanh-hình ảnh nào được quý vị tải lên Dịch Vụ theo
                các Điều Khoản Về Xử Lý Dữ Liệu Của MyClip (http://myclip.vn/default/term-condition), ngoại trừ trường
                hợp quý vị tải lên nội dung đó cho các mục đích cá nhân hoặc cho các hoạt động gia đình. Tìm hiểu thêm
                tại đây: http://myclip.vn/quy-che-hoat-dong
            </p>
            <p>G. MyClip không xác thực bất kỳ Nội Dung nào được gửi lên Dịch Vụ bởi bất kỳ người dùng nào hoặc bên cấp
                quyền nào khác, hoặc bất kỳ quan điểm, đề xuất, hoặc ý kiến tư vấn được trình bày rõ ràng trong Nội Dung
                đó, và MyClip cũng khước từ một cách rõ ràng bất kỳ và tất cả trách nhiệm liên quan đến Nội Dung. MyClip
                không cho phép các hoạt động xâm phạm quyền tác giả và xâm phạm quyền sở hữu trí tuệ trên Dịch Vụ, và
                MyClip sẽ gỡ bỏ tất cả Nội Dung nếu được thông báo hợp lệ rằng Nội Dung nêu trên xâm phạm quyền sở hữu
                trí tuệ của bên khác. MyClip bảo lưu quyền gỡ bỏ Nội Dung mà không cần báo trước.
            </p>
            <b>7. Chính sách chấm dứt tài khoản</b>
            <p>A. MyClip sẽ chấm dứt quyền truy cập của người dùng vào Dịch Vụ nếu, trong những tình huống phù hợp,
                người dùng được xác định là người xâm phạm nhiều lần.
            </p>
            <p>B. MyClip bảo lưu quyền quyết định Nội Dung có vi phạm các Điều Khoản Dịch Vụ này vì những lý do không
                phải lý do xâm phạm quyền tác giả hay không, chẳng hạn như, nhưng không giới hạn ở, nội dung khiêu dâm,
                tục tĩu, hay quá dài. Vào bất kỳ thời điểm nào, MyClip có thể, không cần thông báo trước và theo quyền
                quyết định của riêng mình, gỡ bỏ Nội Dung nêu trên và/hoặc chấm dứt tài khoản của người dùng do gửi lên
                tư liệu vi phạm các Điều Khoản Dịch Vụ này.
            </p>
            <b>8. Luật sở hữu trí tuệ</b>
            <p>C. Nếu bạn là chủ sở hữu quyền tác giả hoặc là bên đại diện chủ sở hữu quyền tác giả và cho rằng bất kỳ
                Nội Dung nào xâm phạm các quyền tác giả của bạn, bạn có thể gửi thông báo căn cứ theo Luật sở hữu trí
                tuệ bằng cách cung cấp bằng văn bản cho Bên Đại Diện Quyền Tác Giả của chúng tôi các thông tin sau đây.
            </p>
            <p>+ Chữ ký bằng tay hoặc điện tử của người được phép hành động thay mặt cho chủ sở hữu của một quyền độc
                quyền bị cáo buộc xâm phạm;
            </p>
            <p>+ Đặc điểm nhận dạng của tác phẩm có quyền tác giả được cho là đã bị xâm phạm, hoặc nếu một thông báo đơn
                nhất bao gồm nhiều tác phẩm có quyền tác giả tại một trang trực tuyến đơn nhất, danh mục đại diện các
                tác phẩm đó tại trang đó;
            </p>
            <p>+ Đặc điểm nhận dạng của tư liệu được cho là xâm phạm hoặc là đối tượng của hoạt động xâm phạm và phải
                được gỡ bỏ hoặc việc truy cập vào đó sẽ bị vô hiệu và thông tin đầy đủ hợp lý cho phép nhà cung cấp dịch
                vụ xác định vị trí của tư liệu;
            </p>
            <p>+ Thông tin đầy đủ hợp lý cho phép nhà cung cấp dịch vụ liên hệ với bạn, chẳng hạn như địa chỉ, số điện
                thoại, và nếu có, thư điện tử;
            </p>
            <p>+ Tuyên bố rằng bạn tin ngay rằng việc sử dụng tư liệu theo cách thức bị khiếu nại không được chủ sở hữu
                quyền tác giả, bên đại diện của chủ sở hữu quyền tác giả, hoặc pháp luật cho phép; và
            </p>
            <p>+ Tuyên bố rằng thông tin trong thông báo là chính xác, và theo quy định về hình phạt khai man, bạn được
                phép hành động thay mặt cho chủ sở hữu của quyền độc quyền bị cáo buộc xâm phạm.

            </p>
            <p>Bạn có thể chuyển thông báo vi phạm bản quyền BU MyClip – Trung tâm VAS – Tổng Công ty Viễn thông
                Viettel; Địa chỉ: Tòa nhà CIT ngõ 15 đường Duy Tân – quận Cầu Giấy – thành phố Hà Nội. Để làm rõ, chỉ
                các thông báo khiếu nại bản quyền mới được gửi đến Bên Đại Diện Quyền Tác Giả; bất kỳ phản hồi, nhận
                xét, yêu cầu hỗ trợ kỹ thuật nào khác và các thông tin liên lạc khác phải được chuyển đến bộ phận phụ
                trách dịch vụ khách hàng MyClip thông qua Email: myclipviettelvas@gmail.com. Bạn xác nhận rằng nếu bạn
                không tuân thủ tất cả các yêu cầu của Mục 5(D) này, thông báo khiếu nại bản quyền của bạn có thể không
                có giá trị.
            </p>
            <p>B. Thông báo phản đối. Nếu bạn cho rằng Nội Dung của bạn mà đã bị gỡ bỏ (hoặc việc truy cập đã bị vô
                hiệu) là không xâm phạm, hoặc rằng bạn có sự cho phép từ chủ sở hữu quyền tác giả, bên đại diện của sở
                hữu quyền tác giả, hoặc căn cứ theo luật, để đăng tải hoặc sử dụng tư liệu trong Nội Dung của bạn, bạn
                có thể gửi một thông báo phản đối có chứa các thông tin sau đây đến Bên Đại Diện Quyền Tác Giả:
            </p>
            <p>+ Chữ ký bằng tay hoặc điện tử của bạn;
            </p>
            <p>+ Đặc điểm nhận dạng của Nội Dung đã bị gỡ bỏ hoặc bị vô hiệu truy cập và vị trí Nội Dung xuất hiện trước
                khi bị gỡ bỏ hoặc vô hiệu;
            </p>
            <p>+ Tuyên bố rằng bạn tin ngay rằng Nội Dung đã bị gỡ bỏ hoặc vô hiệu do sơ xuất hoặc xác định sai đặc điểm
                của Nội Dung
            </p>
            <p>+ Họ tên, địa chỉ, số điện thoại, và địa chỉ thư điện tử, tuyên bố bạn đồng ý thực hiện quyền và nghĩa vụ
                của người sử dụng dịch vụ mạng xã hội và thực hiện thực hiện đúng yêu cầu Nghị định số 27 sửa đổi, bổ
                sung một số điều của Nghị định số 72/2013 về quản lý, cung cấp, sử dụng dịch vụ Internet và thông tin
                trên mạng.
            </p>
            <p>Nếu Bên Đại Diện Quyền Tác Giả nhận thông báo phản đối, MyClip có thể gửi bản sao của thông báo phản đối
                đến bên khiếu nại ban đầu thông báo với người đó rằng MyClip có thể thay thế Nội Dung bị gỡ bỏ hoặc chấm
                dứt vô hiệu Nội Dung đó trong 10 ngày làm việc. Trừ khi chủ sở hữu quyền tác giả khởi kiện yêu cầu Tòa
                án ban hành lệnh đối với bên cung cấp, thành viên hoặc người dùng Nội Dung, Nội Dung bị gỡ bỏ có thể
                được thay thế, hoặc việc truy cập vào Nội Dung được khôi phục, trong 10 đến 14 ngày làm việc hoặc nhiều
                hơn sau khi nhận được thông báo phản đối, theo quyền quyết định của riêng MyClip.
            </p>
            <b>9. Khước từ bảo đảm</b>
            <p>Bạn đồng ý rằng bạn tự chịu rủi ro khi sử dụng các dịch vụ. Trong phạm vi đầy đủ nhất mà pháp luật cho
                phép, myclip, các viên chức, giám đốc, nhân viên và các bên đại diện của myclip khước từ mọi bảo đảm, rõ
                ràng hoặc ngụ ý, liên quan đến các dịch vụ và việc bạn sử dụng các dịch vụ. Myclip không đưa ra bảo đảm
                hoặc cam đoan nào về tính chính xác hoặc hoàn chỉnh của nội dung trên trang này hoặc nội dung trên bất
                kỳ các trang nào dẫn đến trang này và không nhận lãnh trách nhiệm pháp lý hoặc trách nhiệm cho bất kỳ
                (i) sai sót, lỗi, hoặc những điểm không chính xác trong nội dung, (ii) tổn thương ở người hoặc thiệt hại
                tài sản, mang bất kỳ tính chất gì, do hệ quả của việc bạn truy cập và sử dụng dịch vụ của chúng tôi,
                (iii) bất kỳ việc truy cập hoặc sử dụng không được phép các máy chủ bảo mật của chúng tôi và/hoặc bất kỳ
                và tất cả thông tin cá nhân và/hoặc thông tin tài chính chứa trong đó, (iv) bất kỳ gián đoạn hoặc chấm
                dứt truyền tải đến và từ các dịch vụ của chúng tôi, (iv) bất kỳ loại bọ, vi-rút, ngựa trojan, hoặc loại
                tương tự nào có thể được truyền đến hoặc thông qua các dịch vụ của chúng tôi do bất kỳ bên thứ ba nào
                thực hiện, và/hoặc (v) bất kỳ sai sót hoặc bỏ sót trong bất kỳ nội dung nào hoặc vì bất kỳ thiệt hại
                hoặc tổn thất nào thuộc bất kỳ loại nào phát sinh do sử dụng bất kỳ nội dung được đăng tải, được gửi
                email, truyền hoặc mặt khác được cung cấp thông qua các dịch vụ. Myclip không bảo đảm, xác thực, bảo
                lãnh, hoặc nhận lãnh trách nhiệm đối với bất kỳ sản phẩm hoặc dịch vụ nào được quảng cáo hoặc đưa ra bởi
                một bên thứ ba thông qua các dịch vụ hoặc bất kỳ các dịch vụ nào có siêu liên kết hoặc xuất hiện trong
                bất kỳ bảng quảng cáo (banner) hoặc hình thức quảng cáo khác, và Myclip sẽ không là một bên hoặc chịu
                trách nhiệm dưới bất kỳ hình thức nào trong việc giám sát bất kỳ giao dịch nào giữa bạn và nhà cung cấp
                sản phẩm hoặc dịch vụ bên thứ ba. Với việc mua sản phẩm hoặc dịch vụ thông qua bất kỳ trung gian hoặc
                trong bất kỳ môi trường nào, bạn cần phải suy xét tốt nhất và cẩn trọng khi cần thiết.
            </p>
            <b>10. Giới hạn trách nhiệm</b>
            <p>Trong mọi trường hợp, myclip, các viên chức, giám đốc, nhân viên, hoặc bên đại diện của myclip không chịu
                trách nhiệm với bạn về bất kỳ thiệt hại trực tiếp, gián tiếp, liên quan, đặc biệt, mang tính trừng phạt
                hoặc hậu quả nào phát sinh từ bất kỳ (i) sai sót, lỗi, hoặc những điểm không chính xác trong nội dung,
                (ii) tổn thương ở người hoặc thiệt hại tài sản, mang bất kỳ tính chất gì, do hệ quả của việc bạn truy
                cập và sử dụng dịch vụ của chúng tôi, (iii) bất kỳ việc truy cập hoặc sử dụng không được phép các máy
                chủ bảo mật của chúng tôi và/hoặc bất kỳ và tất cả thông tin cá nhân và/hoặc thông tin tài chính chứa
                trong đó, (iv) bất kỳ gián đoạn hoặc chấm dứt truyền tải đến và từ các dịch vụ của chúng tôi, (iv) bất
                kỳ loại bọ, vi-rút, ngựa trojan, hoặc loại tương tự nào có thể được truyền đến hoặc thông qua các dịch
                vụ của chúng tôi do bất kỳ bên thứ ba nào thực hiện, và/hoặc (v) bất kỳ sai sót hoặc bỏ sót trong bất kỳ
                nội dung nào hoặc vì bất kỳ thiệt hại hoặc tổn thất nào thuộc bất kỳ loại nào phát sinh do bạn sử dụng
                bất kỳ nội dung được đăng tải, được gửi email, truyền hoặc mặt khác được cung cấp thông qua các dịch vụ,
                dù là trên cơ sở bảo hành, hợp đồng, trách nhiệm ngoài hợp đồng, hoặc bất kỳ lý thuyết pháp lý nào khác,
                dù công ty có được thông báo về khả năng của các thiệt hại đó hay không. Giới hạn trách nhiệm trên đây
                áp dụng trong phạm vi đầy đủ nhất mà pháp luật tại quốc gia liên quan cho phép. Bạn xác nhận một cách cụ
                thể rằng myclip sẽ không chịu trách nhiệm về nội dung hoặc hành vi phỉ báng, xúc phạm hoặc trái pháp
                luật của bất kỳ bên thứ ba nào và rằng rủi ro tổn thương hoặc thiệt hại từ nội dung hoặc hành vi trên
                hoàn toàn thuộc về bạn. Các dịch vụ được myclip kiểm soát và đưa ra từ các cơ sở của myclip tại Nước
                cộng hoà xã hội chủ nghĩa Việt Nam. Myclip không đưa ra cam đoan nào rằng các dịch vụ là phù hợp hoặc
                sẵn có để sử dụng tại các địa điểm khác. Những ai truy cập hoặc sử dụng dịch vụ từ các quốc gia khác
                tiến hành truy cập hoặc sử dụng với ý chí của chính họ và có trách nhiệm tuân thủ pháp luật sở tại.
            </p>
            <b>11. Bồi hoàn</b>
            <p>Trong trường hợp được pháp luật áp dụng cho phép, bạn đồng ý bảo vệ, bồi hoàn và giữ vô hại cho MyClip,
                công ty, các viên chức, giám đốc, nhân viên và bên đại diện của MyClip khỏi và đối với bất kỳ và tất cả
                các khiếu nại, thiệt hại, nghĩa vụ, tổn thất, trách nhiệm, chi phí hoặc nợ, và phí tổn (bao gồm nhưng
                không giới hạn ở phí luật sư) phát sinh từ: (i) việc bạn sử dụng hoặc truy cập vào Dịch Vụ, (ii) việc
                bạn vi phạm bất kỳ điều khoản nào trong các Điều Khoản Dịch Vụ này; (iii) việc bạn vi phạm bất kỳ quyền
                bên thứ ba nào, bao gồm nhưng không giới hạn ở quyền tác giả, quyền tài sản hoặc quyền bảo mật riêng tư;
                hoặc (iv) bất kỳ yêu cầu nào rằng Nội Dung của bạn đã gây ra thiệt hại cho bên thứ ba. Nghĩa vụ bảo vệ
                và bồi hoàn vẫn còn tiếp tục có hiệu lực sau khi các Điều Khoản Dịch Vụ này và việc bạn sử dụng Dịch Vụ
                chấm dứt.
            </p>
            <b>12. Khả năng chấp nhận các Điều Khoản Dịch Vụ</b>
            <p>Bạn khẳng định rằng bạn trên 15 tuổi hoặc là trẻ vị thành niên tự chịu trách nhiệm, hoặc có được sự đồng
                ý hợp pháp của cha mẹ hoặc người giám hộ, và hoàn toàn có khả năng và có năng lực giao kết các điều
                khoản, điều kiện, nghĩa vụ, xác nhận, cam đoan và bảo đảm được nêu ra trong các Điều Khoản Dịch Vụ, và
                chấp hành và tuân thủ các Điều Khoản Dịch Vụ này. Trong bất kỳ trường hợp nào, bạn khẳng định rằng bạn
                trên độ tuổi 15, vì Dịch Vụ không dành cho trẻ em dưới 15 tuổi. Nếu bạn dưới 15 tuổi, thì vui lòng không
                sử dụng Dịch Vụ. Có nhiều trang web khác phù hợp với lứa tuổi của bạn. Hãy trao đổi với cha mẹ bạn về
                những trang nào phù hợp với bạn.
            </p>
            <b>13. Chuyển giao</b>
            <p>Bạn không được chuyển giao hay chuyển nhượng các Điều Khoản Dịch Vụ này, và bất kỳ các quyền nào được cấp
                trong đây, nhưng MyClip có thể thực hiện chuyển giao mà không có bất kỳ hạn chế gì.
            </p>
            <b>14. Điều khoản chung</b>
            <p>Bạn đồng ý rằng: (i) dịch vụ được xem là chỉ đặt tại Việt Nam; và (ii) dịch vụ được xem là một trang web
                thụ động không làm phát sinh thẩm quyền tài phán đối nhân đối với myclip, cụ thể hoặc chung chung, tại
                các lãnh thổ tài phán không phải là Việt Nam. Các điều khoản dịch vụ này được điều chỉnh theo pháp luật
                nội dung trong phạm vi nước Việt Nam, mà không xét đến các nguyên tắc xung đột pháp luật. Bất kỳ khiếu
                nại hoặc tranh chấp nào giữa bạn và myclip mà phát sinh toàn bộ hoặc một phần từ dịch vụ sẽ được quyết
                định độc quyền bởi tòa án có thẩm quyền tài phán tại Việt Nam. Các điều khoản dịch vụ này cùng với thông
                báo bảo mật riêng tư tại http://myclip.vn/dieu-khoan-su-dung và bất kỳ thông báo pháp lý nào khác được
                myclip công bố về dịch vụ, sẽ cấu thành toàn bộ thỏa thuận giữa bạn và myclip liên quan đến dịch vụ. Nếu
                bất kỳ quy định nào của các điều khoản dịch vụ này bị tòa án có thẩm quyền tài phán xem là vô hiệu, thì
                sự vô hiệu của điều khoản đó sẽ không làm ảnh hưởng đến hiệu lực của các điều khoản còn lại trong các
                điều khoản dịch vụ này, nghĩa là sẽ còn đầy đủ hiệu lực thi hành. Việc từ bỏ bất kỳ điều khoản nào trong
                các điều khoản này sẽ không được xem là từ bỏ khác hoặc tiếp tục từ bỏ đối với điều khoản đó hoặc bất kỳ
                điều khoản nào khác, và việc myclip không khẳng định bất kỳ quyền hoặc quy định nào trong các điều khoản
                dịch vụ này sẽ không cấu thành việc từ bỏ quyền hoặc quy định đó. Myclip bảo lưu quyền sửa đổi các điều
                khoản dịch vụ này tại bất kỳ thời điểm nào mà không cần thông báo, và trách nhiệm của bạn là phải xem
                lại các điều khoản dịch vụ này để biết về bất kỳ thay đổi nào. Việc bạn sử dụng dịch vụ sau khi có việc
                sửa đổi các điều khoản dịch vụ này sẽ thể hiện bạn đồng ý và chấp nhận các điều khoản sửa đổi của các
                điều khoản dịch vụ. bạn và myclip thỏa thuận rằng bất kỳ nguyên nhân khiếu kiện nào phát sinh từ hoặc
                liên quan đến các dịch vụ phải bắt đầu trong vòng một (1) năm sau khi nảy sinh nguyên nhân khiếu kiện.
                Nếu không, nguyên nhân khiếu kiện đó bị loại bỏ vĩnh viễn.
            </p>

        </div>
    </div>
</div>
