{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
<div class="body-content-left"></div>
<div class="body-content-right">

    {% if responseData.data.content | length > 0 %}
        {% include "@app/views/partials/videoBox.twig" with {'box': responseData.data,'hasTitle' : true, 'loadMore': false,'url': '#','swicth' : true, 'channel': true,mutiLine:true,'functionMore': true,'myVideo':myVideo} %}
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ responseData.data.content | length }}">
        <input type="hidden" id="load-more-id" value="{{ responseData.data.id }}"/>
        <input type="hidden" id="type" value="VOD"/>
        <input type="hidden" id="alias" value=""/>
        <input type="hidden" id="mutiLine" value="true"/>
        <input type="hidden" id="isMyVideo" value="{{ myVideo }}"/>

    {% else %}
        {% include "@app/views/partials/noDataBox.twig" %}
    {% endif %}
</div>

<div class="modal-vietnt" id="popupEditVideo" style="display: none;">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Chỉnh sửa')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="content">
            <form id="edit_video_form" method="post" enctype="multipart/form-data" action="/video/edit-video">
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                <input type="hidden" name="id" id="edit_video_id">
                <div class="row-form">
                    <p>{{t('web','Tên video')}}</p>
                    <input type="text" id="edit_video_name" name="title" style="width: 100%"/>
                </div>
                <div class="row-form" style="margin-bottom: 10px;">
                    <p>{{t('web','Chọn ảnh đại diện')}}</p>
                    <input type="file" id="edit_video_file" name="thumbnail"/>
                </div>
                <div class="row-form">
                    <button class="btn" id="edit_video_button" style="float: right;">{{t('web','Chỉnh sửa')}}</button>
                </div>

            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="modal-vietnt" id="popupUploadFeedback" style="display: none;">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','GỬI Ý KIẾN PHẢN HỒI')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="content">
            <form id="feedback_video_form" method="post" enctype="multipart/form-data" action="/video/feedback-upload-video">
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                <input type="hidden" name="id" id="feedback_video_id">
                <div class="row-form">
                    <p>{{t('web','Nội dung phản hồi')}}</p>
                    <textarea maxlength="1000" type="text" id="feedback_content" name="feedback_content" style="width: 100%; height: 100px;" ></textarea>
                </div>
                <div class="row-form" style="margin-bottom: 10px;">
                    <p>{{t('web','Đính kèm')}}</p>
                    <input type="file" id="feedback_file" name="feedback_file"/>
                </div>
                <div class="row-form">
                    <button class="btn" id="edit_video_button" style="float: right;">{{t('web','GỬI Ý KIẾN')}}</button>
                </div>

            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
