{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
{% set box = responseData.data%}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right bg-playlate">
    {% if  responseData.data.content| length > 0 %}
        <div class="mdl-play-left">
            <a href="javascript:void(0)" class="item-hightlight btn-watch-later">
                <img src="{{ box.content[0].coverImage }}" onError="this.onerror=null;this.src='/images/data/4x4.png'" >
                <span class="overlay">
                    <i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}
                </span>
            </a>
            <div class="item-info">
                <a href="javascript:void(0)" class="link-random btn-rd-watch-later"><i class="fa icon-random"></i></a>
                <p class="text-1"><a href="{{ url('playlist/detail-watch-later') }}">{{box.name}}</a></p>
                    {#        <p class="text-info">
                                3 videos   <i class="fa fa-circle"></i>   3h trước
                            </p>#}
            </div>
            <a href="javascript:void(0)" onclick ="confirmDelete()" class="item">
                <span class="icon"><i class="fa fa-trash-o"></i></span> {{t('web','Xóa tất cả danh sách phát')}}
            </a>
            <a href="{{url('channel/get-detail',{'id':user.id })}}" class="item">
                {#            <span class="avatar-text" style="background-color: #bf360c">
                                R
                            </span>#}
                <img src="{{ user.avatarImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="avatar-text">
                <p class="text-1">{{user.name}}</p>
            </a>
        </div>
        <div class="mdl-play-right">
            <div class="list-video list-video-horizontal-left">
                <input type="hidden" id="playlistId" value="{{item.id}}">
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ offset}}">
                <input type="hidden" id="load-more-id" value="{{id}}"/>
                <input type="hidden" id="type" value="PLAYLIST"/>
                <input type="hidden" id="typeDelete" value="PLAYLATE"/>
                <input type="hidden" id="number" value="{{responseData.data.content| length}}"/>


                {% include "@app/views/partials/playlistBox.twig" with {'box': responseData.data} %}

            </div>
        </div>
    {%  else %}
        {% include "@app/views/partials/noDataBox.twig"  %}
    {% endif%}   

</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}