<div class="info-video-user recommendChnl" id="recommendChnl">
    <p>
        <strong>{{t('web','KÊNH ĐỀ XUẤT CHO BẠN')}}</strong>
        <span class="right"><a href="javascript:void(0)" onclick="document.getElementById('recommendChnl').remove()"><i class="icon-delete"></i></a></span>
    </p>
    <div class="owl-carousel listChnl">
        {% for channel in responseData.data.content %}
            <div class="chnl user-avatar item chnl-center" id="channel_{{ channel.channel_id }}">
                <div class="banner">
                    <a href="/channel/{{ channel.channel_id }}">
                        <img src="{{ channel.coverImage }}"/>
                    </a>
                </div>
                <div class="user">
                    <a href="/channel/{{ channel.channel_id }}">
                        <img src="{{ channel.avatarImage }}"/>
                    </a>
                </div>
                <p class="title"><a href="/channel/{{ channel.channel_id }}">{{ channel.channel_name }}</a></p>
                <p class="cols-info">{{ channel.num_follow }} {{t('web','theo dõi')}}</p>
                <p> <a href="javascript:void(0)" onclick="followChannelAndHide('{{ channel.channel_id }}', '#channel_{{ channel.channel_id }}')"><span class="btn-default">{{t('web','Theo dõi')}}</span></a>  </p>
            </div>
        {% endfor %}
    </div>
</div>