{{ use('website/assets/CategoryAsset') }}
{{ register_category_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
{% set detail = responseData.data.category_detail %}
{% set items = responseData.data.content %}
<div class="body-content-right">
    <div class="outline-channel">
        <div class="mdl-banner">
            <img src="{{ detail.coverImage }}" width="100%" onError="this.onerror=null;this.src='/images/data/channels_banner.gif';" class="image image6x1"/>
        </div>
        <div class="channel-info">
            <img src="{{ detail.avatarImage }}" width="100%" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="avatar"/>
            <p class="text-1">{{detail.name}}</p>
            <p class="text-2">{{ t('web','{count} lượt xem', {'count': detail.play_times}) }}</p>
        </div>
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.category.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ items|length }}">
        <input type="hidden" id="load-more-id" value="{{id}}">
        <input type="hidden" id="type" value="CATEGORY_CHILD">
        {% if items|length ==0 %}
            <div class="mdl-general">
                <p class="text-info">{{t('web','Không có dữ liệu')}}</p>
            </div>
        {% else %}
            {% for key,item in  items %}

                {% if( item.content | length > 0)%}
                    <div class="mdl-general">
                        <h1 class="title">
                            {% set arrId = item.id |split('_') %}
                            {% set k = arrId| length %}
                            {% set playId = playIdPrefix ~arrId[k-1] %}
                            <a href="{{ url('category/get-cate-detail',{'id' : arrId[k-1] }) }}" class="ellipsis">
                                {{item.name}}
                            </a>
                            {#       <a href="{{url('default/play-all-video',{'id': playId})}}" class="text-1">
                                       Phát tất cả
                                   </a>#}
                            <a href="{{ url('video/detail',{'id':item.content[0].id, 'slug':item.content[0].slug}) }}" class="text-1">
                                {{t('web','Phát tất cả')}}
                            </a>
                        </h1>
                        <div class="content">
                            <div class="list-video">
                                <div class="owl-carousel owl-carousel-{{key + 1}}">
                                    {% for video in item.content %}

                                        <div class="item">
                                            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug })}}" class="image"> 
                                                <img src="{{ video.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="image16x9" title="{{video.fullName}}">
                                                <span class="time">{{video.duration}}</span>
                                            </a>
                                            <div class="description">								  	  
                                                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug })}}" class="name-video" title="{{video.fullName}}">{{video.name}}</a>
                                                {% if video.userId %}
                                                    <a href="{{ url('channel/get-detail',{'id':video.userId})}}" class="name-author">{{video.fullUserName}}<span class="status-follow"><i class="icon-checker"></i></span></a>
                                                        {% endif %}
                                                <div class="info">
                                                    <span class="cols-info">{{ t('web','{count} lượt xem', {'count': video.play_times}) }}</span>
                                                    <span class="cols-info"><i class="fa fa-circle"></i> {{video.publishedTime}}</span>
                                                </div>
                                            </div>  
                                        </div>
                                    {%endfor%}   
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif%}
            {%endfor%}
        {% endif%}
        <div id="container">

        </div>
    </div>
</div>


