{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
{% set detail = responseData.data.detail %}
{% set items = responseData.data.most_trending_video %}
<div class="body-content-right">
    <div class="outline-channel">
        <div class="mdl-banner">
            <img src="{{ detail.coverImage }}" width="100%" onError="this.onerror=null;this.src='/images/data/channels_banner.gif';" class="image image6x1"/>
        </div>
        <div class="channel-info">
            <img src="{{ detail.avatarImage }}" width="100%" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="avatar"/>
            <p class="text-1">{{detail.name}}</p>
            <p class="text-2">{{ t('web','{count} lượt xem', {'count': detail.play_times}) }}</p>
        </div>
        <div class="mdl-general">
            <h1 class="title">
                <!--<a href="#" class="text-1">Phát tất cả</a>-->
                <span id ="title-cate" class="txt-1">{{t('web','Bóng đá')}} </span>
                <div class="sort-video">
                    <i class="fa icon-sort"></i> {{t('web','SẮP XẾP THEO')}}
                    <div class="popover-more">
                        <div id ="most-popular-cate" class="item-popover" data-id="video_most_trending_of_cate_{{detail.id}}" data-name="{{ t('web', 'Phổ biến nhất') }}" >{{t('web','Phổ biến nhất')}}</div>
                        <div id ="video-new-cate" class="item-popover" data-id="video_new_of_cate_{{detail.id}}" data-name="{{t('web','Mới nhất')}}">{{t('web','Mới nhất')}}</div>
                        <div id ="video-most-view-cate" class="item-popover" data-id="video_most_view_of_cate_{{detail.id}}" data-name="{{t('web','Xem nhiều nhất')}}" >{{t('web','Xem nhiều nhất')}}</div>
                    </div>
                </div>
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
                <input type="hidden" id="load-more-id" value="{{responseData.data.id}}"/>
                <input type="hidden" id="channel-display" value="true"/>
                <input type="hidden" id="auto-load" value="video_new_of_cate_{{detail.id}}" data-name="{{ t('web', 'Mới nhất') }}"/>
            </h1>
            <div class="content">
                <div id ="list-content" class="list-video">
                    <div class="content-item" id="video_most_trending_of_cate_{{detail.id}}"></div>
                    <div class="content-item" id="video_new_of_cate_{{detail.id}}"></div>
                    <div class="content-item" id="video_most_view_of_cate_{{detail.id}}"></div>
                </div>
            </div>

        </div>
        <div id="container">

        </div>
    </div>
</div>

