{{ use('website/assets/LoadAsset') }}
{{ register_load_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
	<input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
	<input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.lazy.limit'] }}">

	<input type="hidden" id="load-more-id" value="{{type}}"/>
	<input type="hidden" id="type" value="VOD"/>
        <input type="hidden" id="mutiLine" value="true"/>
    {% include "@app/views/partials/videoBox.twig" with {'box': responseData,'loadMore': false,'hasTitle':true,'functionMore': true,'channel': true,'mutiLine': true} %}
</div>

