{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div class="mdl-general">
        <h3 class="title">{{t('web','Chính sách riêng tư')}}</h3>
        <div class="mdl-support-content">
            {% if content %}
                {{ content | raw }}
            {% endif %}
    </div>
</div>
