{% for box in responseData %}

    {% for item in box.content %}
        {% include "@app/views/partials/channelSmallBox.twig" with {'item': item,'noFollow':'noFollow'} %}
    {% endfor%}

{% endfor %}