{{ use('website/assets/AppAsset') }}
{{ register_app_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div class="mdl-general">
        <h3 class="title">{{t('web','Chính sách dịch vụ')}}</h3>
        <div class="mdl-support-content">
            <h4>{{ t('web', 'Prequisite conditions') }}:</h4>
            <p> - {{ t('web', "Haloclip service is only for HALOTEL's subscribers") }}</p>
            <p> - {{ t('web', "Subscribers are in two-ways active") }}</p>
            <p> - {{ t('web', "To use a service a user must have smartphone, Computer, tablet or any 3G device") }}</p>
            <p> - {{ t('web', "Users with both Android and IOS will be able to access myclip service") }}</p>
            <p> - {{ t('web', "Have enough money to join the service") }}</p> <br/>

            <h4>{{ t('web', 'Service packages') }}:</h4>
            <p>{{ t('web', 'Haloclip service has 3 packages: Daily,  Weekly and Monthly package') }}</p>
            <p>+ <strong>{{ t('web', 'Daily Package') }}</strong></p>
            <p>&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 300Tsh/Day for registering daily package') }}</p>
            <p>+ <strong>{{ t('web', 'Weekly Package') }}</strong></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 1,500Tsh/Week for registering weekly package') }}</p>
            <p>+ <strong>{{ t('web', 'Monthly Package') }}</strong></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 3,000Tsh/Month for registering monthly package') }}</p>
        </div>

    </div>
</div>
