{% for k,iData in data %}
    <div class="mdl-general">
        <h1 class="title">
            <a href="{{url('default/playlist',{id:iData.id})}}" class="ellipsis">
                {{ iData.name }}
            </a>
        </h1>
        <div class="content">
            <div class="list-video owl-carousel has-slider">
                {% for item in iData.content %}
                    {% include "@app/views/partials/videoSmallBox.twig" with {'item': item, 'description': false, 'removeItem': false, 'more': true, 'channel': channel,'idBox':idBox,'myVideo':myVideo} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
