<div class="body-detail-left">
    <!--Player-->
    {% set detail = responseData.detail %}
    {% set streams = responseData.streams %}
    {% set relateds = responseData.relateds.content %}
    {% if detail.suggest_package_id and streams.popup and streams.errorCode!=401 %}
        <div class="container" style="padding: 10px; text-align: center;">
            {{ streams.popup.confirm }}
        </div>
    {% endif %}
    <!--Info video-->
    <div class="info-video">
        <input type="hidden" id="commentUrl" value="{{ url('default/list-comment') }}">
        <input type="hidden" id="toggleLikeUrl" value="{{ url('video/like-video') }}">
        <input type="hidden" id="toggleLikeComment" value="{{ url('default/like-comment') }}">
        <input type="hidden" id="postCommentUrl" value="{{ url('default/comment') }}">
        <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
        {% if streams.errorCode == 200 %}
            <input type="hidden" id="play" name="play" value="true"/>
            <input type="hidden" id="url" name="url" value="{{ streams.urlStreaming }}"/>
            <input type="hidden" id="poster" name="poster" value="{{ detail.coverImage }}"/>
            <input type="hidden" id="play" value="true"/>
            <input type="hidden" id="media_type" value="{{ type }}"/>
            <input type="hidden" id="is_pc" value="{{ app.session.get('is_pc') }}"/>
            <input type="hidden" id="is_ios" value="{{ app.session.get('is_ios') }}"/>
            <input type="hidden" id="ajaxUrl" value="{{ url('/account/watch-time') }}"/>
            <input type="hidden" id="playId" value="{{ detail.id }}"/>
            <input type="hidden" id="playPosition" value="{{ responseData.currentTime }}"/>
            <input type="hidden" id="parentId" value="{{ detail.id }}"/>
        {% endif %}
        <div class="info-video-name">

            {% if detail.tagline == 1 %}
                <div class="tagline">
                    <a href="/thinh-hanh"> #{{t('web','THỊNH HÀNH')}} </a>
                </div>
            {% elseif detail.tagline ==2 %}
                <div class="tagline">
                    {# <a href="/de-xuat"> #{{t('web','ĐỀ XUẤT')}} </a> #}
                </div>
            {% endif %}

            <h3>{{ detail.name }}</h3>
            <div class="cols-info" style="margin-left: 0px;">{{ t('web','{count} lượt xem', {'count': detail.play_times}) }}</div>
            <div class="right">
                <div class="cols-info {% if detail.isFavourite == 1 %}choosed{% endif %}" id="likeBoxId{{ detail.id }}">
                    <a href="javascript:void(0)" data-like="{{ detail.isFavourite }}"
                       title="{% if detail.isFavourite == 1 %}{{t('web','Bỏ thích')}}{% else %}{{t('web','Tôi thích video này')}}{% endif %}"
                       data-number="{{ detail.likeCount }}" data-id="{{ detail.id }}" id="linkLike_{{ detail.id }}"
                       class="likeBtn"><i class="fa icon-like" aria-hidden="true"></i></a> <span
                            id="numLike_{{ detail.id }}">{{ detail.likeCount }}</span>
                </div>
                <div class="cols-info {% if detail.isFavourite == -1 %}choosed{% endif %}"
                     id="dislikeBoxId{{ detail.id }}">
                    <a href="javascript:void(0)" data-dislike="{{ detail.isFavourite }}"
                       title="{% if detail.isFavourite == -1 %}{{t('web','Bỏ không thích video này')}}{% else %}{{t('web','Tôi không thích video này')}}{% endif %}"
                       data-number="{{ detail.dislikeCount }}" data-id="{{ detail.id }}"
                       id="linkDislike_{{ detail.id }}" class="dislikeBtn"><i class="fa icon-dislike"
                                                                              aria-hidden="true"></i></a><span
                            id="numDislike_{{ detail.id }}">{{ detail.dislikeCount }}</span>
                </div>
{#                <div class="cols-info">#}
{#                    <a href="javascript:void(0);" id="shareDetail" title="{{t('web','Chia sẻ qua mạng xã hội')}}"#}
{#                       class="txt656565 modalBtn btnShare" data-target="#popupShare" data-id="{{ detail.id }}"#}
{#                       data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}"><i#}
{#                                class="fa icon-share" aria-hidden="true"></i> {{t('web','Chia sẻ')}}</a>#}
{#                </div>#}
                <div class="cols-info">
                    <div class="function-add-playlist" data-videoid="{{ detail.id }}">
                        <span class="btn-add-playlist" title="{{t('web','Thêm video vào playlist')}}" data-target="" id="btnAddMoreId"><i
                                    class="fa icon-addplaylist" aria-hidden="true"></i> {{t('web','Thêm vào')}}</span>
                        <div class="content" id="blockAddMorePL{{ detail.id }}">
                            <div class="title">{{t('web','Thêm vào')}}</div>
                            <div class="scroll myPlaylistBox" data-firstload="0" id="myPlaylistBox{{ detail.id }}">
                            </div>
                            <div class="bottom-playlist">
                                <span class="btn-addplaylist btnShowAddNewPL"><i class="icon-plus"></i> {{t('web','Tạo playlist mới')}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cols-info">
                    <span class="alert-illegal" title="{{t('web','Báo cáo video lỗi')}}" id="btnReport"><i class="fa icon-warning"
                                                                                            aria-hidden="true"></i> {{t('web','Báo cáo')}}</span>
                </div>
            </div>
        </div>

        <div id="channel_related_detail">
        </div>

        <div class="info-video-user">
            <div class="user-avatar">
                <div class="function-button">
                    <input type="hidden" id="status-channel"
                           value="{% if detail.owner.isFollow == 1 %}0{% else %}1{% endif %}"/>
                    <a href="javascript:void(0);" id="followVideo" data-id="{{ detail.owner.id }}"
                       data-name="{{ detail.owner.name }}">
                        <span class="btn-default"
                              id="txtFollow">{% if detail.owner.isFollow == 1 %}{{t('web','Hủy theo dõi')}}{% else %}{{t('web','Theo dõi')}}{% endif %}</span>
                    </a>
                </div>

                <span class="user"><img src="{{ detail.owner.avatarImage }}" width="100%"
                                        onError="this.onerror=null;this.src='/images/data/4x4.png';"/></span>
                <p>{{ detail.owner.name }}</p>
                <p>{{ t('web','{count} lượt theo dõi', {'count': detail.owner.followCount}) }}</p>
            </div>
        </div>
        <div class="info-video-description open-description">
            <p>{{t('web','Xuất bản')}} {{ detail.publishedTime }}</p>
            <div class="content-text" id="descriptionVideo">
                {{ detail.description }}
            </div>
            <p id="btnMoreDescription">
                <span class="btn-view-full"> 
                    <span class="text-1">+ {{t('web','Xem đầy đủ')}}</span>
                    <span class="text-2">- {{t('web','Xem rút gọn')}}</span>
                </span>
            </p>
        </div>
    </div>
    <!--Comments-->
    {% include '@app/views/partials/commentBox.twig' with {'contentId': detail.id , 'content': detail.name , 'type': 'VOD'} %}
</div>
{% if relateds|length >0 %}
    {% include '@app/views/partials/relatedVideoBox.twig' with {'data': relateds} %}
{% endif %}
{% if streams.popup %}
    {% include '@app/views/partials/popupVideo.twig' with {'type': type, 'popup':streams.popup, 'autoDisplay': streams.autoDisplay, 'msisdn': msisdn } %}
{% endif %}
{% include '@app/views/video/reportModal.twig' with {'detail': detail} %}
{#{% include '@app/views/partials/shareSocialModal.twig' with {'shareLink': shareLink} %}#}



