{{ use('website/assets/DetailAsset') }}
{{ register_detail_asset() }}
<div class="body-detail">

    <!--Player-->
    {% set detail = responseData.detail %}
    {% set streams = responseData.streams %}
    {% set relateds = responseData.relateds.content %}
    {% set isRegisterFast = streams.popup.is_register_fast %}

    {% if detail.suggest_package_id and ((streams.popup and streams.errorCode!=200) or popupGA) and streams.errorCode!=401 %}
        <div class="container" style="padding: 10px; text-align: center;">
            {% if  streams.popup.confirm %}
                {{ streams.popup.confirm }}
            {% else %}
                {{ popupGA }}
            {% endif %}
        </div>
    {% endif %}

    {% if popupGA %}
        <input type="hidden" id="google-adwords" value="1"/>
    {% endif %}

    <input type="hidden" id="video_id" value="{{ detail.id }}"/>
    <input type="hidden" id="channel_id" value="{{ detail.owner.id }}"/>
    <input type="hidden" id="channel_name" value="{{ detail.owner.name }}"/>
    <input type="hidden" id="category_id" value="{{ detail.cate.id }}"/>
    <input type="hidden" id="category_name" value="{{ detail.cate.name }}"/>
    <input type="hidden" id="category_parent_id" value="{{ detail.cate.parent_id }}"/>
    <input type="hidden" id="video_name" value="{{ detail.name }}"/>
    <input type="hidden" id="tag_name" value="{{ detail.tag }}"/>
    <input type="hidden" id="related_limit" value="{{ relatedLimit }}"/>
    <input type="hidden" id="related_offset" value="0"/>

    <div class="player width-common">
        {% if streams.urlStreaming and not popupGA %}
            <div id="playerBox" {% if showTime != null %}style="display: none" {% endif %}>
                <video id="videoBox" class="video-js vjs-myclip vjs-default-skin vjs-16-9" controls>
                </video>
            </div>
            {% if showTime != null %}
                <input type="hidden" id="idUrlGetStream"
                       value="{{ url('/video/ajax-get-video-stream', {'id' : detail.id }) }}"/>
                <input type="hidden" id="showTimer" value="{{ showTime }}"/>
                <div id="countdown" class="countdown-timer">
                </div>
            {% endif %}
        {% else %}
            {% if detail.suggest_package_id  and (streams.popup or popupGA) %}
                <div id="suggest-package">
                    <img src="{{ detail.coverImage }}" width="100%"
                         onError="this.onerror=null;this.src='/images/data/16x9.png';"/>
                    <div>
                        <a id="regSuggestion"
                           href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location = '{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#regSuggestion').fadeOut();$('#confirmRegSuggestion').fadeIn()" {% endif %}
                           style="position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                            <span style="display: inline-block; vertical-align: middle;">{{t('web','Đăng ký')}}<br>{{t('web','để xem video')}}</span>
                        </a>

                        <form id="register-sub-suggestionform" action="{{ url('account/register-service') }}"
                              method="post">
                            <input type="hidden" name="package_id" value="{{ detail.suggest_package_id }}"/>
                            <input type="hidden"
                                   name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                   value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                            <a id="confirmRegSuggestion"
                               href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location = '{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#register-sub-suggestionform').submit();$(this).removeAttr('onClick')" {% endif %}
                               style="display:none; position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                <span style="display: inline-block; vertical-align: middle;">{{t('web','Xác nhận')}} <br/>{{t('web','đăng ký')}}</span>
                            </a>
                        </form>
                        {% if popupGA %}
                            <a href="{{ detailUrl }}"
                               style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('web','Bỏ qua')}}</a>
                        {% else %}
                            <a href="javascript:void(0)" onClick="$('#suggest-package').remove();$('#play-area').show()"
                               style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('web','Bỏ qua')}}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div id="play-area" {% if detail.suggest_package_id and (streams.popup or popupGA) %} style="display:none" {% endif %}>
                    <div
                        {% if streams.errorCode==401 %}
                            onClick="window.location='{{ url('auth/login?popup=1') }}'"
                        {% elseif isRegisterFast %}
                            onClick="document.getElementById('register-sub-form').submit()"
                        {% else %}
                            onClick="$('#popup-step1').fadeIn()"
                        {% endif %} >
                    <img src="{{ detail.coverImage }}" width="100%"
                         onError="this.onerror=null;this.src='/images/data/16x9.png';"/>
                    <div class="overlay-video">
                        <div class="btn-play vjs-icon-play icoPlayFix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {#{% if relateds|length >0 %}#}
        {#{% include '@app/views/partials/relatedVideoBox.twig' with {'data': relateds, 'auto': true} %}#}
    {#{% endif %}#}

    <div id="relatedBox">

    </div>

    <!--Info video-->
    <div class="info-video width-common">
        <input type="hidden" id="commentUrl" value="{{ url('default/list-comment') }}">
        <input type="hidden" id="toggleLikeUrl" value="{{ url('video/like-video') }}">
        <input type="hidden" id="toggleLikeComment" value="{{ url('default/like-comment') }}">
        <input type="hidden" id="postCommentUrl" value="{{ url('default/comment') }}">
        <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
        {% if streams.errorCode == 200 %}
            <input type="hidden" id="play" name="play" value="true"/>
            <input type="hidden" id="url" name="url" value="{{ streams.urlStreaming }}"/>
            <input type="hidden" id="poster" name="poster" value="{{ detail.coverImage }}"/>
            <input type="hidden" id="play" value="true"/>
            <input type="hidden" id="media_type" value="{{ type }}"/>
            <input type="hidden" id="is_pc" value="{{ app.session.get('is_pc') }}"/>
            <input type="hidden" id="is_ios" value="{{ app.session.get('is_ios') }}"/>
            <input type="hidden" id="ajaxUrl" value="{{ url('/account/watch-time') }}"/>
            <input type="hidden" id="playId" value="{{ detail.id }}"/>
            <input type="hidden" id="playPosition" value="{{ responseData.currentTime }}"/>
            <input type="hidden" id="parentId" value="{{ detail.id }}"/>
        {% endif %}
        <div class="info-video-name">
            {% if detail.tagline == 1 %}
                <div class="tagline">
                    <a href="/thinh-hanh"> #{{t('web','THỊNH HÀNH')}} </a>
                </div>
            {% elseif detail.tagline ==2 %}
                <div class="tagline">
                    {# <a href="/de-xuat"> #{{t('web','ĐỀ XUẤT')}} </a> #}
                </div>
            {% endif %}

            <h3>{{ detail.name }}</h3>
            <div class="cols-info" style="margin-left: 0px;">{{ t('web','{count} lượt xem', {'count': detail.play_times}) }}</div>
            <div class="right">
                <div class="cols-info {% if detail.isFavourite == 1 %}choosed{% endif %}" id="likeBoxId{{ detail.id }}">
                    <a href="javascript:void(0)" data-like="{{ detail.isFavourite }}"
                       data-number="{{ detail.likeCount }}" data-id="{{ detail.id }}" id="linkLike_{{ detail.id }}"
                       class="likeBtn"
                       title="{% if detail.isFavourite == 1 %}{{t('web','Bỏ thích')}}{% else %}{{t('web','Tôi thích video này')}}{% endif %}"
                       onclick="return addEvent('like_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'like_type': true});">
                        <i class="fa icon-like" aria-hidden="true"></i></a>
                    <span id="numLike_{{ detail.id }}">{{ detail.likeCount }}</span>
                </div>
                <div class="cols-info {% if detail.isFavourite == -1 %}choosed{% endif %}"
                     id="dislikeBoxId{{ detail.id }}">
                    <a href="javascript:void(0)" data-dislike="{{ detail.isFavourite }}"
                       data-number="{{ detail.dislikeCount }}" data-id="{{ detail.id }}"
                       id="linkDislike_{{ detail.id }}" class="dislikeBtn"
                       title="{% if detail.isFavourite == -1 %}{{t('web','Bỏ không thích video này')}}{% else %}{{t('web','Tôi không thích video này')}}{% endif %}"
                       onclick="return addEvent('like_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'like_type': false});">
                        <i class="fa icon-dislike" aria-hidden="true"></i></a>
                    <span id="numDislike_{{ detail.id }}">{{ detail.dislikeCount }}</span>
                </div>
                <div class="cols-info">
                    <div class="function-add-playlist" data-videoid="{{ detail.id }}">
                        <span class="btn-add-playlist" title="{{t('web','Thêm video vào playlist')}}" data-target="" id="btnAddMoreId"><i
                                    class="fa icon-addplaylist" aria-hidden="true"></i> {{t('web','Thêm vào')}}</span>
                        <div class="content" id="blockAddMorePL{{ detail.id }}">
                            <div class="title">{{t('web','Thêm vào')}}</div>
                            <div class="scroll myPlaylistBox" data-firstload="0" id="myPlaylistBox{{ detail.id }}">
                            </div>
                            <div class="bottom-playlist">
                                <span class="function-add-playlist btn-addplaylist btnShowAddNewPL"><i
                                            class="icon-plus"></i> {{t('web','Tạo playlist mới')}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cols-info">
                    <span class="alert-illegal" title="{{t('web','Báo cáo video lỗi')}}" id="btnReport"><i class="fa icon-warning" aria-hidden="true"></i> {{t('web','Báo cáo')}}</span>
                </div>
            </div>
        </div>
        <div id="channel_related_detail">

        </div>
        <div class="info-video-user">
            <div class="user-avatar">
                <div class="function-button">
                    <input type="hidden" id="status-channel"
                           value="{% if detail.owner.isFollow == 1 %}0{% else %}1{% endif %}"/>
                    <a href="javascript:void(0);" id="followVideo" data-id="{{ detail.owner.id }}"
                       data-name="{{ detail.owner.name }}"
                       onclick="return addEvent('follow_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'follow_type ': !!+($('#status-channel').val())});">
                        <span class="btn-default" id="txtFollow">
                            {% if detail.owner.isFollow == 1 %}{{t('web','Hủy theo dõi')}}{% else %}{{t('web','Theo dõi')}}{% endif %}</span>
                    </a>
                </div>

                <span class="user">
                    <a href="{{ url('channel/get-detail',{'id':detail.owner.id }) }}">
                        <img src="{{ detail.owner.avatarImage }}" width="100%"
                             onError="this.onerror=null;this.src='/images/data/4x4.png';"/>
                    </a>

                </span>
                <p><a href="{{ url('channel/get-detail',{'id':detail.owner.id }) }}">{{ detail.owner.name }}</a></p>
                <p><span id="countFollowId">{{ t('web','{count} lượt theo dõi', {'count': detail.owner.followCount}) }}</p>
            </div>

        </div>

        <div class="info-video-description open-description">
            <p>{{t('web','Xuất bản')}} {{ detail.publishedTime }}</p>
            <div class="content-text" id="descriptionVideo">
                {{ detail.description }}
                <div class="text-category">{{t('web','Chủ đề')}} : <a href="{{ url('category/get-cate-detail',{'id': detail.cate.id }) }}">{{ detail.cate.name }}</a>
                </div>
            </div>

            <p id="btnMoreDescription">
                <span class="btn-view-full">
                    <span class="text-1 showMoreDes">+ {{t('web','Xem đầy đủ')}}</span>
                    <span class="text-2 hideDes">- {{t('web','Xem rút gọn')}}</span>
                </span>
            </p>
        </div>

    </div>



    <!--Comments-->
    {% include '@app/views/partials/commentBox.twig' with {'contentId': detail.id , 'content': detail.name , 'type': 'VOD', 'detail': detail} %}
    {% include '@app/views/partials/shareSocialModal.twig' with {'shareLink': shareLink, 'detail': detail} %}
</div>
{% if streams.popup %}
    {% include '@app/views/partials/popupVideo.twig' with {'type': type, 'popup':streams.popup, 'autoDisplay': streams.autoDisplay, 'msisdn': msisdn } %}
{% endif %}
{% include '@app/views/video/reportModal.twig' with {'detail': detail} %}

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
