{% for k,item in data %}
    <div class="item">
        <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium }) }}"
           class="image" title="{{ item.fullName }}">
            <img src="{{ item.coverImage }}" width="100%"
                 onError="this.onerror=null;this.src='/images/data/16x9.png';"
                 class="frame-image image16x9"/>
            <span class="time">{{ item.duration }}</span>
        </a>
        <div class="description">
            <div class="function-more">
                <span class="button-link-more"><i class="fa fa-ellipsis-v"></i></span>
                <div class="popover-more">
                    <div class="item-popover function-add-playlist" data-videoid="{{ item.id }}">{{t('web','Thêm vào danh sách phát')}}
                    </div>
                    <div class="item-popover function-add-playlater" data-videoid="{{ item.id }}">{{t('web','Thêm vào xem sau')}}
                    </div>

                </div>
{##}
                <div class="cols-info">
                    <div id="function-add-playlist{{ item.id }}" class="function-add-playlist"
                         data-videoid="{{ item.id }}">
                        <div class="content" id="blockAddMorePL{{ item.id }}">
                            <div class="title">{{t('web','Thêm vào')}}</div>
                            <div class="scroll myPlaylistBox" data-firstload="0"
                                 id="myPlaylistBox{{ item.id }}"></div>
                            <div class="bottom-playlist">
                                <span class="btn-addplaylist"><i class="icon-plus btnShowAddNewPL"></i> {{t('web','Tạo playlist mới')}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium }) }}"
               class="name-video" title="{{ item.fullName }}">{{ item.fullName }}</a>
            <div class="info">
                                <span class="cols-info"><a href="{{ url('channel/get-detail',{'id':item.userId }) }}"
                                                           title="{{ item.fullUserName }}">{{ item.fullUserName }}</a></span>
                <span class="cols-info" title="{{ t('web','{count} lượt xem', {'count': item.play_times}) }}"><i
                            class="fa fa-circle"></i> {{ t('web','{count} lượt xem', {'count': item.play_times}) }}</span>
            </div>
        </div>
    </div>
{% endfor %}
{##}