<div id="reportModal" class="modal-vietnt">
    <div class="modal-content-vietnt">
        <h3 class="title"> {{t('web','Báo cáo vi phạm')}} </h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
        	{% for report in app.params['setting.feedback'] %}
                <p>
                	<label><input id="rdo_{{ report.id }}" data-content="{{ report.content }}" type="radio" name="report" value="{{ report.id }}" />
                	<span for="rdo_{{ report.id }}">{{ t('wap',report.content) }}</span></label>
                </p>
            {% endfor %}
            <p>{{t('web','Nếu bạn là chủ sở hữu video vui lòng')}} <a class="color337ab7" href="/lien-he">{{t('web','làm theo hướng dẫn')}}</a>
                {{t('web','để thông báo về nội dung vi phạm bản quyền')}}.</p>
        </div>
        <div class="row-form-border">
	        <input type="hidden" id="postFeedbackUrl" value="{{ url('default/feed-back') }}">
            <input type="hidden" id="contentId" value="{{ report.id }}">
            <input type="hidden" id="contentAnhntm" value="{{ detail.content }}">
            <input type="hidden" id="typeReport" value="VOD">
            <input type="hidden" id="contentReport" value="{{ detail.name }}">
            <span class="action-vietnt btn-cancel" data-dismiss="close">{{t('web','Hủy')}}</span>
            <input type="button" class="btn-login btn-login-small btn-ok" id="submitpostFeedBack"  value="{{t('web','ĐỒNG Ý')}}">
        </div>      
    </div>
</div>
