/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler,
.page-sidebar .sidebar-toggler {
  background: #3a4656 url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
}

.sidebar-toggler-container {
  width: 30px !important;
  border-radius: 4px;
  margin: 10px 0 0 92px;
}

.page-sidebar-closed .sidebar-toggler-container {
  margin-left: 9px !important;
  width: 30px !important;
}

.page-sidebar .sidebar-toggler:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler:hover {
  filter: alpha(opacity=100);
  background: #24303E url("../img/sidebar_toggler_icon_default.png") no-repeat scroll 7px 7px;
  opacity: 1;
}

.sidebar-toggler-container .sidebar-toggler {
  float: right; margin-top: 0; margin-right: 0;
}

.aws-thead-float > .table-bordered {
  border-bottom: 1px solid #ddd !important;
}

.active-ico {
  position: relative;
}
.active-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.inactive-ico {
  position: relative;
}
.inactive-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.image-grid-display{
  max-height: 160px;
  max-width: 160px;
}
.preview-image{
  max-height: 205px;
  max-width: 180px;
}

.topic-checkbox-list{
  height: 210px !important;
  overflow-y: scroll;
}

.topic-checkbox-list label{
  display: block;
}
.input-mini{
  min-width: 200px !important;
}

.editable-checklist{
  height: 250px;
  overflow: scroll;
}

td.cell-content{
  text-align: right;
  vertical-align: middle !important;
}

th.cell-key, td.cell-key{
  text-align: center;
  vertical-align: middle !important;
}

th.cell-text, td.cell-text{
  text-align: left;
  vertical-align: middle !important;
}

/*.table-bordered>tbody>tr>td {*/
/*border: 0px solid #ddd;*/
/*}*/

.col-md-3{
  margin-bottom: 10px;
}

.snapshot-choice{
  width: 100%;
}

.snapshot-choice .form-group{
  float: left;
}