

.active-ico {
  position: relative;
}
.active-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.inactive-ico {
  position: relative;
}
.inactive-ico:before {
  content: "\f05d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #000;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}

.qq-upload-list li {
  max-width: 95% !important;
  height: 100% !important;
  padding: 0 0 10px !important;
}
.qq-thumbnail-wrapper {
  float: left;
  padding: 7px;
}
.qq-upload-list-selector li {
  width: 100%;
  max-width: 100% !important;
}

.qq-gallery .qq-thumbnail-wrapper {
  height: 100%;
  width: 300px;
}
.qq-gallery .qq-upload-list {
  max-height: none !important;
}
.qq-gallery.qq-uploader {
  max-height: none !important;
  min-height: none !important;
}

.upload-spinner {
  background: rgba(0, 0, 0, 0) url("/fine-uploader/fine-uploader/loading.gif") repeat scroll 0 0;
  display: inline-block;
  height: 15px;
  margin-left: 20px;
  vertical-align: text-bottom;
  width: 15px;
}
#uploader {
  margin-bottom: 20px;
}





.preview-image{
  max-height: 220px;
}

.image-preview{

  text-align: center;

}

.image-preview-display{
  margin-top: 20px;
  max-height: 220px;
  max-width: 245px;
}