{% if (comments|length ==0) and offset == 0 %}
<div id="boxNoComment">
  <h5 class="blkTitle">{{ t('web', 'Chưa có bình luận') }}.</h5>
</div>
{% endif %}
{% for parentComment in comments %}
{% set childCommentNum = parentComment.children|length %}
<div class="media" id="cm_{{parentComment.id}}">
  <div class="media-left">
    <div class="image">
        <a href="{{ url('channel/get-detail',{'id':parentComment.user_id }) }}">
            <img src="{{parentComment.avatarImage ? parentComment.avatarImage : parentComment.coverImage}}" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
        </a>
    </div>
  </div>
  <div class="media-body">
    <p class="txt-singer comment-textarea-linhtvn">
      <span class="media-heading"><a href="{{ url('channel/get-detail',{'id':parentComment.user_id }) }}" class="name-channel-cm"> {{ parentComment.full_name }}</a> <br/>  </span> {{ parentComment.comment }}
    </p>
    <p class="txt-time">
        <span class="col">
          <a href="javascript:void(0);" data-like="{{parentComment.is_like}}" data-commentid="{{parentComment.id}}" class="btnLikeComment"><i id="icoLikedComment_{{parentComment.id}}" class="fa {% if parentComment.is_like == true %}fa-heart{% else %}fa-heart-o{% endif %}"></i></a> <span class="txtInfo likeCommentNumber_{{parentComment.id}}">{{ parentComment.like_count }}</span>
        </span>
        <a href="javascript:void(0)" data-id="{{parentComment.id}}" class="col btnReplyComment">{{ t('wap', 'Trả lời') }}</a>
        <span class="time">{{ parentComment.created_at|dateAgo }}</span>
    </p>
    <div class="boxReply"></div>
    {% set count =0 %}
    {% if childCommentNum > 0 %}
        {% for childComment in parentComment.children %}
        {% set count = count +1 %}
        <div class="child {% if count > 2 %}cm_group_{{ parentComment.id }} hidden {% endif %}">
          <div class="media-left">
              <a href="{{ url('channel/get-detail',{'id':childComment.user_id }) }}">
                  <img src="{{childComment.avatarImage ? childComment.avatarImage : childComment.coverImage}}" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
              </a>
          </div>
          <div class="media-body">
              <p class="txt-singer comment-textarea-linhtvn">
                  <span class="media-heading"><a href="{{ url('channel/get-detail',{'id':childComment.user_id }) }}" class="name-channel-cm">  {{ childComment.full_name }} </a> <br/> </span> {{ childComment.comment }}
              </p>
              <p class="txt-time">
                  <span class="col">
                    <a href="javascript:void(0);" data-like="{{childComment.is_like}}" data-commentid="{{childComment.id}}" id="btnLikeComment_{{childComment.id}}" class="btnLikeComment">
                      <i id="icoLikedComment_{{childComment.id}}" class="fa {% if childComment.is_like == true %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                    </a> <span class="txtInfo likeCommentNumber_{{childComment.id}}">{{ childComment.like_count }}</span>
                  </span>
                  <span class="time">{{ childComment.created_at|dateAgo }}</span>
              </p>
          </div>
        </div>
        {% endfor %}
        {% if childCommentNum > 2 %}
            <div class="showMore">
                <p>
                    <a href="javascript:void(0);" data-id="{{parentComment.id}}" class="liked viewMoreComment">{{ t('wap', 'Xem') }} {{ childCommentNum - 2 }} {{ t('wap', 'câu trả lời trước') }}</a>
                </p>
            </div>
            <!--sub comment-->
        {% endif %}
    {% endif %}
  </div>
</div>
{% endfor %}
