<div class="{% if isChild %}child{% else %}media{% endif %}" id="cm_{{responseData.data.id}}">
    <div class="media-left">
        {% if isChild %}
            <a href="{{ url('channel/get-detail',{'id':app.session.get('userId') }) }}">
                <img src="{{ app.session.get('avatarImage') }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object">
            </a>
        {% else %}
            <div class="image">
                <a href="{{ url('channel/get-detail',{'id':app.session.get('userId') }) }}">
                    <img src="{{ app.session.get('avatarImage') }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object"/>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="media-body">
{#        {% if isChild == false %}<p class="txt-singer">{% endif %}#}
        <p class="txt-singer">
            <span class="media-heading"> <a href="{{ url('channel/get-detail',{'id':app.session.get('userId')}) }}" class="name-channel-cm">{{ responseData.data.full_name }} </a></span> {{ responseData.data.comment }}
        </p>
{#        {% if isChild == false %}</p>{% endif %}#}
        <p class="txt-time">
            <span class="col">
                <a href="javascript:void(0);" data-like="{{responseData.data.is_like}}" data-commentid="{{responseData.data.id}}" id="btnLikeComment_{{responseData.data.id}}" class="btnLikeComment">
                    <i id="icoLikedComment_{{responseData.data.id}}" class="fa {% if responseData.data.is_like == true %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                </a> 
                <span class="txtInfo likeCommentNumber_{{responseData.data.id}}">{{ responseData.data.like_count }}</span>
            </span> 
            {% if isChild == 0 %} 
                <a href="javascript:void(0)" data-id="{{responseData.data.id}}" class="col btnReplyComment" id="btnReplyComment_{{responseData.data.id}}">{{t('web','Trả lời')}}</a>
            {% endif %}                          
            <span class="time">{{ responseData.data.created_at|dateAgo }}</span>                            
        </p>
        <div class="boxReply"></div>
    </div>
</div>
