<header class="has-promotion">
    <nav>
        <a href="/" class="logo" style="margin-left: 100px;"></a>
        <div class="right-content">
            {% if app.session.get('userId') %}
                <div class="link-notify" title="Notification" onclick="loadFirstNotification()">
                    {#                <div class="link-notify" title="Notification">#}
                    <i class="fa icon-notify"></i>
                </div>
            {% endif %}
            <div id="language" class="language-option">
                <form method="post" id="menuLang" name="myform" action="{{ url(['default/changlanguagelogin']) }}">
                    <select id="selectLanguages" name="language"  title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">
                        {# <option value="vi" {{ app.language == 'vi' ? 'selected' : '' }}>Tiếng Việt</option> #}
                        <option value="en" {{ app.language == 'en' ? 'selected' : '' }}>English</option>
                        <option value="lo" {{ app.language == 'lo' ? 'selected' : '' }}>Laos</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</header>
<script type="text/javascript">
    var mainLanguage = '{{ app.language }}';


    var arrLang = {
        'en': {
            'Bình luận':'Comment',
            'Hủy':'Cancel',
            'Nhập bình luận...':'Enter comment ...',
            'Vui lòng nhập nội dung bình luận':'Please enter the comment content',
            'Đã theo dõi':'Followed',
            'Đăng kí theo dõi kênh thành công':'Register success channel tracker',
            'theo dõi':'follow',
            'Theo dõi':'Follow',
            'Hủy theo dõi kênh thành công':'Cancel tracker success channel',
            'Hủy theo dõi':'Cancel follow',
            'Theo dõi kênh thành công':'Track channel success',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Input Captor code, from 1 to 50 characters',
            'Thêm video thành công vào playlist.':'Add video to success to play list',
            'Mã captcha bắt buộc nhập':'Input captcha',
            'Bạn có chắc chắn xoá liên kết?':'Are you sure to remove link?',
            'Thêm thành công':'Add successfully',
            'Thành công':'Successful',
            'Yêu cầu nhập file video':'Video file input request',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Input required title and is not greater than 255 character',
            'Mô tả không được lớn hơn 500 kí tự':'Description is not larger than 500 characters',
            'Quý khách vui lòng nhập mô tả từ':'Please enter a description from',
            'Định dang file ảnh được phép':'The image file is specified',
            'KÊNH':'CHANNEL',
            'Tên nhập trong khoảng từ':'Input name in interval',
            'đến':'to',
            'kí tự':'character',
            'Mô tả không được lớn hơn':'Description is not greater than',
            ' người theo dõi':' tracker',
            'Vui lòng chọn loại báo cáo lỗi':'Please choose an error report',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'The busy system, please try again!',
            'Chắc chắn xóa video?':'Sure delete video',
            'Xác nhận xóa kênh liên quan không?':'Specify remove the channel related?',
            'Xóa thành công':'Delete success',
            'VIDEO':'VIDEO',
            'Không có dữ liệu với từ khóa tìm kiếm':'No data with search keywords',
            ' lượt xem ':' views ',
            ' lượt xem':' views',
            'Xóa danh lịch sử xem thành công':'Successfully deleted watch history',
            'Bạn có chắc xóa playlist không?':'You have sure you delete playlist?',
            'Bật chế độ phát ngẫu nhiên':'Enable random mode',
            'Tắt chế độ phát ngẫu nhiên':'Disable random mode',
            'Bật chế độ phát lặp lại':'Enable Repeat Play',
            'Tắt chế độ phát lặp lại':'Disable Repeat Play',
            'Bạn có chắc xóa video khỏi playlist không?':'Are you sure you delete video from playlist?',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'There was an error occurred in the contents of the player. Please try again.',
            'Đang chờ upload...':'Waiting for upload...',
            'Đang chờ upload':'Waiting for upload',
            'Bỏ video thành công khỏi playlist':'Remove successful video from playlist',
            'Bỏ thích':'Dislike',
            'Thích video thành công':'Likes successful videos',
            'Tôi thích video này':'I like this video',
            'Bỏ thích video thành công':'Quit liking video successfully',
            'Bỏ không thích video này':'Don\'t like this video',
            'Không thích video thành công':'Do not like video success',
            'Tôi không thích video này':'I don\'t like this video',
            'Bỏ không thích video thành công':'Un-like video successfully',
            'Chương trình sẽ bắt đầu sau':'The program will start after',
            'Ngày':'Days',
            'Giờ':'Hours',
            'Phút':'Minutes',
            'Giây':'Seconds',
            'TIẾP THEO':'NEXT',
            'Thêm câu trả lời':'Add an answer',
            'Trả lời':'Reply',
            'Có lỗi xảy ra vui lòng thử lại':'An error has occurred please try again',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Please login to use this feature',
            'Phản hồi đang được quản trị viên xem xét':'Feedback is being reviewed by administrators',
            'Nội dung không được chấp nhận với lý do: ':'Content is not accepted for the reason: ',
            'Nội dung không được chấp nhận':'Content is not accepted',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Request to enter From - To date',
            'Yêu cầu chọn Tháng':'Request to select Month',
            'Yêu cầu nhập Tài khoản ngân hàng':'Requesting a Bank Account',
            'Yêu cầu nhập ngân hàng':'Request for bank entry',
            'Yêu cầu nhập chi nhánh ngân hàng':'Request to enter bank branch',
            'Yêu cầu nhập địa chỉ':'Please enter the address',
            'Yêu cầu nhập mã số thuế':'Request to enter tax code',
            'Yêu cầu nhập Số điện thoại':'Request to enter Phone number',
            'Yêu cầu nhập Số điện thoại Unitel':'Request to enter Unitel phone number',
            'Yêu cầu nhập tên':'Please enter name',
            'Yêu cầu nhập email':'Please enter Email',
            'Định dạng email không đúng':'Email format is incorrect',
            'Yêu cầu nhập Số chứng minh thư':'Request for ID card number',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Request to enter the place of identity card issuance',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Request to enter the date of identification card',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Request to import photos of the front of ID card',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Request to import photo of the back card',
            'Định dạng ảnh mặt sau cho phép':'The back image format allows',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'OTP đã gửi thành công':'OTP sent successfully',
            'Quý khách vui lòng nhập tên từ':'Please enter the name from',
            'Tắt thông báo thành công':'Turn off successful notifications',
            'Chuyển trạng thái thông báo thành công':'Successful status notification',
            'lịch sử xem':'view history',
            'danh sách xem sau':'list view later',
            'Bạn có muốn xóa video ':'Do you want to delete the video ',
            'khỏi':'from ',
            'không':' ',
            'Xóa video thành công ':'Delete video successfully ',
            'Xóa video khỏi lịch sử thành công':'Successfully remove videos from history',
            'Bạn có muốn xóa danh sách xem sau không ?':'Would you like to delete the following list of views?',
            'Xóa danh sách xem sau thành công':'Delete list of successes after review',
            'lịch sử tìm kiếm':'search history',
            'Bạn có muốn xóa ':'Do you want to delete ',
            ' không ?':' ?',
            'Xóa nội dung thành công':'Delete content successfully',
            'Xóa lịch sử xem thành công':'Delete successful viewing history',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Enter at least 3 characters to perform a search',
            'Không có dữ liệu':'No data',
            'Xóa lịch sử tìm kiếm thất bại':'Clear search history failed',
            'Xóa lịch sử tìm kiếm thành công':'Delete search history successfully',
            ' năm trước':' last year',
            ' tháng trước':' last month',
            ' tuần trước':' last week',
            ' ngày trước':' yesterday',
            ' giờ trước':' hours ago',
            ' phút trước':' minute ago',
            'Bạn có muốn xóa danh sách phát không ?':'Do you want to delete the playlist?',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Required name entered and cannot be greater than 255 characters',
            'Vui lòng chọn loại báo cáo':'Please select report type',
            'Thêm kênh':'Add channel',
            'Đăng tải':'Upload',
            'Vui lòng chọn file upload':'Please select the upload file',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Executing file upload, if exiting will cancel the upload.',
            'Trình duyệt không hỗ trợ':'Browser does not support',
            'File không đúng định dạng:':'File is not in the correct format:',
            'Kích thước file quá lớn':'File size is too large',
            'Kích thước file quá nhỏ':'File size is too small',
            'rỗng, vui lòng chọn file khác.':'empty, please select another file.',
            'Upload không thành công':'Upload failed',
            'Chọn video file':'Choose video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload failed, please try again later!',
            'Đăng tải thành công':'Successful posting',
            'Hoàn Thành':'Finish',
            'Đồng ý':'Agree',
            'Bạn có muốn hủy upload file này?':'Do you want to cancel uploading this file?',
            'Đang trong quá trình tải video, không thể sửa.':'In the process of downloading videos, cannot edit.',
            'Thêm vào':'Add',
            'Chờ phê duyệt(Không xem được)':'Wait for approval (Cannot view)',
            'Từ chối duyệt':'Refuse to approve',
            '(Lý do: ':'(Reason: ',
            'ĐÃ GỬI Ý KIẾN':'SENT COMMENTS',
            'GỬI Ý KIẾN':'COMMENTS',
            'Phát tiếp theo':'Play next',
            'Video chưa có tên':'Video does not have the name',
            'Đang phát':'Playing',
            'Tạo playlist mới':'Create new playlist',
            'Thêm vào danh sách phát':'Add to playlist',
            'Thêm vào xem sau':'Add to watch later',
            'Chia sẻ':'Share',
            'Xoá':'Delete',
            'Chỉnh sửa':'Edit',
            'Nội dung không có quyền xem':'Content does not have permission to view',
            'Bật chế độ vòng lặp':'Turn on loop mode',
            'Tắt chế độ vòng lặp':'Turn off loop mode',
            'Bỏ video thành công khỏi playlist.':'Remove video from playlist successfully.',
            'Có lỗi xảy ra vui lòng thử lại.':'An error occurred please try again.',
            'Vừa xong':'just finished',
            'PHÁT TẤT CẢ':'PLAY ALL',
            'Vui lòng nhập tên video':'Please enter the video name',
            'Xác nhận mật khẩu không đúng.':'Password was wrong.',
            'Like fanpage UClip thành công. Vui lòng chờ tính điểm!':'',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'',
        },
        'vi': {
            'Xác nhận mật khẩu không đúng.':'Xác nhận mật khẩu không đúng.',
            'Vừa xong':'Vừa xong',
            'Có lỗi xảy ra vui lòng thử lại.':'Có lỗi xảy ra vui lòng thử lại.',
            'Tắt chế độ vòng lặp':'Tắt chế độ vòng lặp',
            'Nội dung không có quyền xem':'Nội dung không có quyền xem',
            'Xoá':'Xoá',
            'Chia sẻ':'Chia sẻ',
            'Thêm vào danh sách phát':'Thêm vào danh sách phát',
            'Video chưa có tên':'Video chưa có tên',
            'ĐÃ GỬI Ý KIẾN':'ĐÃ GỬI Ý KIẾN',
            'Từ chối duyệt':'Từ chối duyệt',
            'Thêm vào':'Thêm vào',
            'Đang trong quá trình tải video, không thể sửa.':'Đang trong quá trình tải video, không thể sửa.',
            'Đồng ý':'Đồng ý',
            'Đăng tải thành công':'Đăng tải thành công',
            'Upload không thành công':'Upload không thành công',
            'Kích thước file quá nhỏ':'Kích thước file quá nhỏ',
            'File không đúng định dạng:':'File không đúng định dạng:',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.',
            'Đăng tải':'Đăng tải',
            'Thêm kênh':'Thêm kênh',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Tên bắt buộc nhập và không được lớn hơn 255 kí tự',
            ' giờ trước':' giờ trước',
            ' tuần trước':' tuần trước',
            ' năm trước':' năm trước',
            'Xóa lịch sử tìm kiếm thất bại':'Xóa lịch sử tìm kiếm thất bại',
            'Xóa lịch sử xem thành công':'Xóa lịch sử xem thành công',
            ' không ?':' không ?',
            'Bạn có muốn xóa danh sách xem sau không ?':'Bạn có muốn xóa danh sách xem sau không ?',
            'Xóa video khỏi lịch sử thành công':'Xóa video khỏi lịch sử thành công',
            'không':'không',
            'danh sách xem sau':'danh sách xem sau',
            'Chuyển trạng thái thông báo thành công':'Chuyển trạng thái thông báo thành công',
            'Quý khách vui lòng nhập mô tả từ':'Quý khách vui lòng nhập mô tả từ',
            'Quý khách vui lòng nhập tên từ':'Quý khách vui lòng nhập tên từ',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập Tài khoản ngân hàng':'Yêu cầu nhập Tài khoản ngân hàng',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Yêu cầu nhập ngày cấp chứng minh thư',
            'Yêu cầu nhập Số chứng minh thư':'Yêu cầu nhập Số chứng minh thư',
            'Yêu cầu nhập tên':'Yêu cầu nhập tên',
            'Yêu cầu nhập chi nhánh ngân hàng':'Yêu cầu nhập chi nhánh ngân hàng',
            'Yêu cầu nhập Số điện thoại':'Yêu cầu nhập Số điện thoại',
            'Yêu cầu nhập Số điện thoại Unitel':'Yêu cầu nhập Số điện thoại Unitel',
            'Yêu cầu nhập địa chỉ':'Yêu cầu nhập địa chỉ',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Yêu cầu nhập Từ ngày-Đến ngày',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Vui lòng đăng nhập để sử dụng tính năng này',
            'Nội dung không được chấp nhận':'Nội dung không được chấp nhận',
            'Nội dung không được chấp nhận với lý do: ':'Nội dung không được chấp nhận với lý do: ',
            'Chương trình sẽ bắt đầu sau':'Chương trình sẽ bắt đầu sau',
            'TIẾP THEO':'TIẾP THEO',
            'Trả lời':'Trả lời',
            'Đang chờ upload':'Đang chờ upload',
            'Bình luận':'Bình luận',
            'Tắt chế độ phát ngẫu nhiên':'Tắt chế độ phát ngẫu nhiên',
            'Bật chế độ phát lặp lại':'Bật chế độ phát lặp lại',
            'Tắt chế độ phát lặp lại':'Tắt chế độ phát lặp lại',
            'Bạn có chắc xóa playlist không?':'Bạn có chắc xóa playlist không?',
            'Bạn có chắc xóa video khỏi playlist không?':'Bạn có chắc xóa video khỏi playlist không?',
            'Hủy':'Hủy',
            'Nhập bình luận...':'Nhập bình luận...',
            'Vui lòng nhập nội dung bình luận':'Vui lòng nhập nội dung bình luận',
            'Đã theo dõi':'Đã theo dõi',
            'Đăng kí theo dõi kênh thành công':'Đăng kí theo dõi kênh thành công',
            'Chắc chắn xóa video?':'Chắc chắn xóa video?',
            'theo dõi':'theo dõi',
            'Theo dõi':'Theo dõi',
            'Thành công':'Thành công',
            'Thêm thành công':'Thêm thành công',
            'Vui lòng chọn loại báo cáo lỗi':'Vui lòng chọn loại báo cáo lỗi',
            'Hủy theo dõi kênh thành công':'Hủy theo dõi kênh thành công',
            'Tên nhập trong khoảng từ':'Tên nhập trong khoảng từ',
            'Thêm video thành công vào playlist.':'Thêm video thành công vào playlist.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự',
            'Mã captcha bắt buộc nhập':'Mã captcha bắt buộc nhập',
            'Bạn có chắc chắn xoá liên kết?':'Bạn có chắc chắn xoá liên kết?',
            'Yêu cầu nhập file video':'Yêu cầu nhập file video',
            'Mô tả không được lớn hơn 500 kí tự':'Mô tả không được lớn hơn 500 kí tự',
            'Định dang file ảnh được phép':'Định dang file ảnh được phép',
            'KÊNH':'KÊNH',
            'Xóa danh lịch sử xem thành công':'Xóa danh lịch sử xem thành công',
            'kí tự':'kí tự',
            'Xóa thành công':'Xóa thành công',
            'Mô tả không được lớn hơn':'Mô tả không được lớn hơn',
            'đến':'đến',
            'Bỏ thích':'Bỏ thích',
            'VIDEO':'VIDEO',
            ' lượt xem ':' lượt xem ',
            ' lượt xem':' lượt xem',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Hệ thống đang bận, quý khách vui lòng thử lại sau!',
            ' người theo dõi':' người theo dõi',
            'Bỏ video thành công khỏi playlist':'Bỏ video thành công khỏi playlist',
            'Xác nhận xóa kênh liên quan không?':'Xác nhận xóa kênh liên quan không?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Không có dữ liệu với từ khóa tìm kiếm',
            'Bật chế độ phát ngẫu nhiên':'Bật chế độ phát ngẫu nhiên',
            'Đang chờ upload...':'Đang chờ upload...',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.',
            'Thích video thành công':'Thích video thành công',
            'Tôi thích video này':'Tôi thích video này',
            'Bỏ thích video thành công':'Bỏ thích video thành công',
            'Bỏ không thích video này':'Bỏ không thích video này',
            'Không thích video thành công':'Không thích video thành công',
            'Tôi không thích video này':'Tôi không thích video này',
            'Bỏ không thích video thành công':'Bỏ không thích video thành công',
            'Ngày':'Ngày',
            'Giờ':'Giờ',
            'Phút':'Phút',
            'Giây':'Giây',
            'Thêm câu trả lời':'Thêm câu trả lời',
            'Có lỗi xảy ra vui lòng thử lại':'Có lỗi xảy ra vui lòng thử lại',
            'Phản hồi đang được quản trị viên xem xét':'Phản hồi đang được quản trị viên xem xét',
            'Yêu cầu chọn Tháng':'Yêu cầu chọn Tháng',
            'Yêu cầu nhập ngân hàng':'Yêu cầu nhập ngân hàng',
            'Yêu cầu nhập mã số thuế':'Yêu cầu nhập mã số thuế',
            'Yêu cầu nhập email':'Yêu cầu nhập email',
            'Định dạng email không đúng':'Định dạng email không đúng',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Yêu cầu nhập Nơi cấp chứng minh thư',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Yêu cầu nhập ảnh mặt trước chứng minh thư',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Yêu cầu nhập ảnh mặt sau chứng minh thư',
            'Định dạng ảnh mặt sau cho phép':'Định dạng ảnh mặt sau cho phép',
            'OTP đã gửi thành công':'OTP đã gửi thành công',
            'lịch sử xem':'lịch sử xem',
            'Tắt thông báo thành công':'Tắt thông báo thành công',
            'Bạn có muốn xóa video ':'Bạn có muốn xóa video ',
            'khỏi':'khỏi',
            'Xóa video thành công ':'Xóa video thành công ',
            'Xóa danh sách xem sau thành công':'Xóa danh sách xem sau thành công',
            'lịch sử tìm kiếm':'lịch sử tìm kiếm',
            'Bạn có muốn xóa ':'Bạn có muốn xóa ',
            'Xóa nội dung thành công':'Xóa nội dung thành công',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm',
            'Không có dữ liệu':'Không có dữ liệu',
            'Xóa lịch sử tìm kiếm thành công':'Xóa lịch sử tìm kiếm thành công',
            ' tháng trước':' tháng trước',
            ' ngày trước':' ngày trước',
            ' phút trước':' phút trước',
            'Bạn có muốn xóa danh sách phát không ?':'Bạn có muốn xóa danh sách phát không ?',
            'Vui lòng chọn loại báo cáo':'Vui lòng chọn loại báo cáo',
            'Vui lòng chọn file upload':'Vui lòng chọn file upload',
            'Trình duyệt không hỗ trợ':'Trình duyệt không hỗ trợ',
            'Kích thước file quá lớn':'Kích thước file quá lớn',
            'rỗng, vui lòng chọn file khác.':'rỗng, vui lòng chọn file khác.',
            'Chọn video file':'Chọn video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload không thành công, vui lòng thử lại sau!',
            'Hoàn Thành':'Hoàn Thành',
            'Bạn có muốn hủy upload file này?':'Bạn có muốn hủy upload file này?',
            'Chờ phê duyệt(Không xem được)':'Chờ phê duyệt(Không xem được)',
            '(Lý do: ':'(Lý do: ',
            'GỬI Ý KIẾN':'GỬI Ý KIẾN',
            'Phát tiếp theo':'Phát tiếp theo',
            'Đang phát':'Đang phát',
            'Tạo playlist mới':'Tạo playlist mới',
            'Thêm vào xem sau':'Thêm vào xem sau',
            'Chỉnh sửa':'Chỉnh sửa',
            'Bật chế độ vòng lặp':'Bật chế độ vòng lặp',
            'Bỏ video thành công khỏi playlist.':'Bỏ video thành công khỏi playlist.',
            'PHÁT TẤT CẢ':'PHÁT TẤT CẢ',
            'Vui lòng nhập tên video':'Vui lòng nhập tên video',
        },
        'lo': {
            ' giờ trước':' ຊົ່ວໂມງກ່ອນ',
            ' không ?':' ບໍ່',
            ' lượt xem ':' ຈໍານວນຜູ້ເຂົ້າເບິ່ງ ',
            ' lượt xem':' ຈໍານວນຜູ້ເຂົ້າເບິ່ງ',
            ' năm trước':' ປີທີ່ຜ່ານມາ',
            ' ngày trước':' ມື້ກ່ອນຫນ້ານີ້',
            ' người theo dõi':' ຜູ້ຕິດຕາມ',
            ' phút trước':' ນາທີກ່ອນ',
            ' tháng trước':' ເດືອນທີ່ຜ່ານມາ',
            ' tuần trước':' ອາທິດທີ່ຜ່ານມາ',
            '(Lý do:': 'ເຫດຜົນ',
            'Bạn có chắc chắn xoá liên kết?':'ທ່ານແນ່ໃຈວ່າລົບລ້າງການເຊື່ອມຕໍ່ນີ້?',
            'Bạn có chắc xóa playlist không?':'ທ່ານແນ່ໃຈບໍ່ວ່າຈະລົບ playlist ນີ້?',
            'Bạn có chắc xóa video khỏi playlist không?':'ທ່ານແນ່ໃຈວ່າລົບວິດີໂອຈາກ playlist?',
            'Bạn có muốn hủy upload file này?':'ທ່ານຕ້ອງການຍົກເລີກການອັບໂຫລດໄຟລ໌ນີ້?',
            'Bạn có muốn xóa ':'ທ່ານຕ້ອງການລົບ',
            'Bạn có muốn xóa danh sách phát không ?':'ທ່ານຕ້ອງການລົບ playlist?',
            'Bạn có muốn xóa danh sách xem sau không ?':'ທ່ານຕ້ອງການລົບລາຍຊື່ການເບິ່ງພາຍຫຼັງນີ້ບໍ່?',
            'Bạn có muốn xóa video ':'ທ່ານຕ້ອງການລົບວິດີໂອ ',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'ທ່ານກະລຸນາກົດຖືກໃຈແຟນເພັກຕາມລິ້ງລຸ່ມນີ້! ',
            'Bật chế độ phát lặp lại':'ເປີດໂຫມດການຫຼິ້ນຄືນໃຫມ່',
            'Bật chế độ phát ngẫu nhiên':'ເປີດໂຫມດການຫຼິ້ນແບບສຸ່ມ',
            'Bật chế độ vòng lặp':'ເປີດໂຫມດວົງຈອນ',
            'Bình luận':'ຄວາມຄິດເຫັນ',
            'Bỏ không thích video này':'ບໍ່ມັກວິດີໂອນີ້',
            'Bỏ không thích video thành công':'ທ່ານໄດ້ກົດບໍ່ຖືກໃຈວິດີໂອນີ້ສໍາເລັດ',
            'Bỏ thích video thành công':'ທ່ານໄດ້ກົດຖືກໃຈວິດີໂອນີ້ສໍາເລັດ',
            'Bỏ thích':'ບໍ່ຖືກໃຈ',
            'Bỏ video thành công khỏi playlist.':'ລົບວິດີໂອອອກຈາກລາຍຊື່ເພງສຳເລັດ',
            'Bỏ video thành công khỏi playlist':'ລົບວິດີໂອອອກຈາກລາຍຊື່ເພງສຳເລັດ',
            'Chắc chắn xóa video?':'ແນ່ໃຈບໍ່ວ່າທ່ານຈະລົບວິດີໂອ?',
            'Chia sẻ':'ແຊ໌',
            'Chỉnh sửa':'ແກ້ໄຂ',
            'Chờ phê duyệt(Không xem được)':'ລໍຖ້າສໍາລັບການອະນຸມັດ (ບໍ່ສາມາດເບິ່ງ)',
            'Chọn video file':'ເລືອກໄຟລ໌ວິດີໂອ',
            'Chương trình sẽ bắt đầu sau':'ລາຍການຈະເລີ່ມໃນພາຍຫຼັງ',
            'Chuyển trạng thái thông báo thành công':'ໄດ້ປ່ຽນສະຖານະພາບການແຈ້ງເຕືອນສຳເລັດ',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'ເກີດຄວາມຜິດພາດໃນລະຫວ່າງການຫຼິ້ນ. ກະລຸນາລອງອີກເທື່ອຫນຶ່ງ.',
            'Có lỗi xảy ra vui lòng thử lại.':'ມີຂໍ້ຜິດພາດກະລຸນາລອງອີກຄັ້ງ',
            'Có lỗi xảy ra vui lòng thử lại':'ເກີດຄວາມຜິດພາດກະລຸນາລອງໃໝ່ອີກຄັ້ງ',
            'ĐÃ GỬI Ý KIẾN':'ໄດ້ສົ່ງຄໍາເຫັນສຳເລັດ',
            'Đã theo dõi':'ໄດ້ຕິດຕາມ',
            'Đang chờ upload...':'ລໍຖ້າອັບໂຫລດ...',
            'Đang chờ upload':'ລໍຖ້າອັບໂຫລດ',
            'Đăng kí theo dõi kênh thành công':'ລົງທະບຽນສໍາລັບການຕິດຕາມຊ່ອງທາງສໍາເລັດ',
            'Đang phát':'ກຳລັງຫຼິ້ນ',
            'Đăng tải thành công':'ການອັບໂຫລດສໍາເລັດແລ້ວ',
            'Đăng tải':'ອັບໂຫລດ',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'ກຳລັງປະຕິບັດການອັບໂຫລດໄຟລ໌, ຖ້າທ່ານກົດອອກຈະຍົກເລີກການອັບໂຫລດ.',
            'Đang trong quá trình tải video, không thể sửa.':'ໃນຂະບວນການຂອງການດາວໂຫລດວິດີໂອ, ບໍ່ສາມາດແກ້ໄຂໄດ້.',
            'danh sách xem sau':'ລາຍຊື່ເບິ່ງພາຍຫຼັງ',
            'đến':'ມາ',
            'Định dạng ảnh mặt sau cho phép':'ຮູບແບບຮູບພາບທາງຫຼັງໄດ້ຖືກຮັບອະນຸຍາດ',
            'Định dạng ảnh mặt trước cho phép':'ຮູບແບບຮູບພາບທາງໜ້າໄດ້ຖືກຮັບອະນຸຍາດ',
            'Định dạng ảnh mặt trước cho phép':'ຮູບແບບຮູບພາບທາງຫນ້າໄດ້ຖືກຮັບອະນຸຍາດ',
            'Định dạng email không đúng':'ຮູບແບບອີເມວບໍ່ຖືກຕ້ອງ',
            'Định dang file ảnh được phép':'ຮູບແບບໄຟລ໌ຮູບພາບໄດ້ຖືກອະນຸຍາດ',
            'Đồng ý':'ຕົກລົງ',
            'File không đúng định dạng':'ໄຟລ໌ບໍ່ຖືກຕ້ອງຕາມຮູບແບບ',
            'Giây':'ວິນາທີ',
            'Giờ':'ຊົ່ວໂມງ',
            'GỬI Ý KIẾN':'ສົ່ງຄວາມຄິດເຫັນ',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'ລະບົບກຳລັງຂັດຂ້ອງ, ກະລຸນາລອງໃໝ່ອີກຄັ້ງໃນພາຍຫຼັງ!',
            'Hoàn Thành':'ສຳເລັດ',
            'Hủy theo dõi kênh thành công':'ຍົກເລີກການຕິດຕາມຊ່ອງທາງສໍາເລັດ',
            'Hủy theo dõi':'ຍົກເລີກການຕິດຕາມ',
            'Hủy':'ຍົກເລີກ',
            'KÊNH':'CHANNEL',
            'Kh\xF4ng c\xF3 d\u1EEF li\u1EC7u':'ບໍ່ມີຂໍ້ມູນ',
            'khỏi':'ຈາກ',
            'Không có dữ liệu với từ khóa tìm kiếm':'ບໍ່ມີຂໍ້ມູນທີ່ມີທ່ານຄົ້ນຫາ',
            'Không có dữ liệu':'ບໍ່ມີຂໍ້ມູນ',
            'Không thích video thành công':'ທ່ານບໍ່ຖືກໃຈວິດີໂອນີ້ສຳເລັດແລ້ວ',
            'không':'ບໍ່',
            'kí tự':'ຕົວອັກສອນ',
            'Kích thước file quá lớn':'ຂະຫນາດໄຟລ໌ຂະຫນາດໃຫຍ່ເກີນໄປ',
            'Kích thước file quá nhỏ':'ຂະຫນາດໄຟລ໌ຂະຫນາດນ້ອຍເກີນໄປ',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'ກວດກາການກົດຖືກໃຈ fanpage ລົ້ມເຫຼວ, ກະລຸນາລອງໃໝ່ອີກຄັ້ງ',
            'lịch sử tìm kiếm':'ປະຫວັດການຄົ້ນຫາ',
            'lịch sử xem':'ປະຫວັດການເບິ່ງ',
            'Like fanpage UClip thành công. Vui lòng chờ tính điểm!':'ທ່ານໄດ້ກົດຖືກໃຈ fanpage ສຳເລັດແລ້ວ, ກະລຸນາລໍຖ້າຮັບຄະແນນ',
            'Mã captcha bắt buộc nhập':'ການປ້ອນຂໍ້ມູນ captcha',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'ຕ້ອງມີລະຫັດການເປີດນຳໃຊ້ຕັ້ງແຕ່ 1 ຫາ 50 ຕົວອັກສອນ',
            'Mô tả không được lớn hơn 500 kí tự':'ຄໍາອະທິບາຍບໍ່ສາມາດຫຼາຍກວ່າ 500 ຕົວອັກສອນ',
            'Mô tả không được lớn hơn':'ຄໍາອະທິບາຍຕ້ອງມີຂະຫນາດບໍ່ໃຫຍ່ເກີນໄປ',
            'Ngày':'ມື້',
            'Nhập bình luận...':'ກະລຸນາໃສ່ຄໍາເຫັນ...',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'ກະລຸນາໃສ່ຢ່າງຫນ້ອຍ 3 ຕົວອັກສອນເພື່ອປະຕິບັດການຄົ້ນຫາ',
            'Nội dung không có quyền xem':'ເນື້ອຫາບໍ່ມີການອະນຸຍາດໃຫ້ເບິ່ງ',
            'Nội dung không được chấp nhận với lý do':'ເນື້ອຫາບໍ່ໄດ້ຮັບການຍອມຮັບຍ້ອນເຫດຜົນ',
            'Nội dung không được chấp nhận':'ເນື້ອຫາບໍ່ໄດ້ຮັບການຍອມຮັບ',
            'OTP đã gửi thành công':'OTP ຖືກສົ່ງສໍາເລັດແລ້ວ',
            'Phản hồi đang được quản trị viên xem xét':'ຄໍາຕິຊົມກຳລັງຖືກຄຸ້ມຄອງກວດກາໂດຍຜູ້ຄວມຄຸມ',
            'PHÁT TẤT CẢ':'ສະແດງທັງຫມົດ',
            'Phát tiếp theo':'ຫຼິ້ນຕໍ່ໄປ',
            'Phút':'ນາທີ',
            'Quý khách vui lòng nhập mô tả từ':'ລູກຄ້າກະລຸນາຕື່ມຄຳອະທິບາຍໃສ່ຈາກ',
            'Quý khách vui lòng nhập tên từ':'ລູກຄ້າກະລຸນາຕື່ມຊື່ໃສ່...',
            'rỗng, vui lòng chọn file khác.':'ວ່າງເປົ່າ, ກະລຸນາຄັດເລືອກເອົາໄຟລ໌ອື່ນ.',
            'Tạo playlist mới':'ສ້າງ playlist ໃຫມ່',
            'Tắt chế độ phát lặp lại':'ປິດໂຫມດການຫຼິ້ນຄືນ',
            'Tắt chế độ phát ngẫu nhiên':'ປິດໂຫມດການຫຼິ້ນແບບສຸ່ມ',
            'Tắt chế độ vòng lặp':'ປິດໂຫມດ loop',
            'Tắt thông báo thành công':'ປິດການແຈ້ງເຕືອນສໍາເລັດ',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':' ຊື່ທີ່ທ່ານຕ້ອງການໃສ່ ແລະ ບໍ່ເກີນ 255 ອັກສອນ',
            'Tên nhập trong khoảng từ':'ຊື້ທີ່ປ້ອນເຂົ້າໃນໄລຍະຫ່າງ',
            'Thành công':'ຄວາມສໍາເລັດ',
            'Thêm câu trả lời':'ຕື່ມຄໍາຕອບ',
            'Thêm kênh':'ເພີ່ມຊ່ອງ',
            'Thêm thành công':'ເພີ່ມຄວາມສຳເລັດ',
            'Thêm vào danh sách phát':'ເພີ່ມໃນລາຍການເພງ',
            'Thêm vào xem sau':'ເພີ່ມໄວ້ເບິ່ງພາຍຫຼັງ',
            'Thêm vào':'ເພີ່ມເຂົ້າ',
            'Thêm video thành công vào playlist.':'ເພີ່ມວິດີໂອໃນ playlist ສຳເລັດແລ້ວ.',
            'Theo dõi kênh thành công':'ຕິດຕາມຊ່ອງທາງສຳເລັດ',
            'theo dõi':'ຕິດຕາມ',
            'Theo dõi':'ຕິດຕາມ',
            'Thích video thành công':'ຖືກໃຈວິດີໂອສຳເລັດ',
            'TIẾP THEO':'ຕໍ່ໄປ',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'ຫົວຂໍ້ທີ່ຕ້ອງການ ແລະ ບໍ່ໃຫ້ເກີນ 255 ອັກສອນ',
            'Tôi không thích video này':'ຂ້ອຍບໍ່ມັກວິດີໂອນີ້',
            'Tôi thích video này':'ຂ້ອຍມັກວິດີໂອນີ້',
            'Trả lời':'ຕອບ',
            'Trình duyệt không hỗ trợ':'Browser ບໍ່ສະຫນັບສະຫນູນ',
            'Từ chối duyệt':'ປະຕິເສດການອະນຸມັດ',
            'Upload không thành công, vui lòng thử lại sau!':'ການອັບໂຫລດລົ້ມເຫລວ, ກະລຸນາລອງໃໝ່ອີກເທື່ອຫນຶ່ງ!',
            'Upload không thành công':'ການອັບໂຫລດບໍ່ສຳເລັດ',
            'Video chưa có tên':'ວິດີໂອຍັງບໍ່ມີຊື່',
            'VIDEO':'ວິດີໂອ',
            'Vừa xong':'ຫາກໍ່ແລ້ວ',
            'Vui lòng chọn file upload':'ກະລຸນາເລືອກໄຟອັບໂຫລດ',
            'Vui lòng chọn loại báo cáo lỗi':'ກະລຸນາເລືອກປະເພດຂອງບົດລາຍງານທີ່ຜິດພາດ',
            'Vui lòng chọn loại báo cáo':'ກະລຸນາເລືອກປະເພດບົດລາຍງານ',
            'Vui lòng đăng nhập để sử dụng tính năng này':'ກະລຸນາເຂົ້າສູ່ລະບົບເພື່ອໃຊ້ຄຸນລັກສະນະນີ້',
            'Vui lòng nhập nội dung bình luận':'ກະລຸນາໃສ່ເນື້ອຫາຄໍາຄິດເຫັນ',
            'Vui lòng nhập tên video':'ກະລຸນາໃສ່ຊື່ວິດີໂອ',
            'Xác nhận mật khẩu không đúng.':'ຢືນຢັນລະຫັດຜ່ານບໍ່ຖືກຕ້ອງ.',
            'Xác nhận xóa kênh liên quan không?':'ຢືນຢັນລົບຊ່ອງທີ່ກ່ຽວຂ້ອງ?',
            'Xóa danh lịch sử xem thành công':'ລົບປະຫວັດຜົນການເບິ່ງສໍາເລັດ',
            'Xóa danh sách xem sau thành công':'ລົບປະຫວັດຜົນການເບິ່ງຍ້ອນຫຼັງສຳເລັດ',
            'Xóa lịch sử tìm kiếm thành công':'ລົບປະຫວັດການຊອກຫາສໍາເລັດ',
            'Xóa lịch sử tìm kiếm thất bại':'ລົບປະຫວັດການຄົ້ນຫາລົ້ມເຫລວ',
            'Xóa lịch sử xem thành công':'ລົບປະຫວັດການເບິ່ງສຳເລັດ',
            'Xóa nội dung thành công':'ລົບເນື້ອຫາສຳເລັດ',
            'Xóa thành công':'ລົບສໍາເລັດແລ້ວ',
            'Xóa video khỏi lịch sử thành công':'ລົບວິດີໂອອອກຈາກປະຫວັດສຳເລັດ',
            'Xóa video thành công ':'ລົບວິດີໂອສຳເລັດ ',
            'Xoá':'ລົບ',
            'Yêu cầu chọn Tháng':'ກະລຸນາເລືອກເດືອນ',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'ກະລຸນາອັບຮູບບັດປະຈຳຕົວດ້ານຫຼັງຂອງທ່ານ',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'ກະລຸນາອັບຮູບບັດປະຈຳຕົວດ້ານໜ້າຂອງທ່ານ',
            'Yêu cầu nhập chi nhánh ngân hàng':'ກະລຸນາໃສ່ສາຂາທະນາຄານທີ່ທ່ານໃຊ້ບໍລິການ',
            'Yêu cầu nhập địa chỉ':'ກະລຸນາໃສ່ທີ່ຢູ່',
            'Yêu cầu nhập email':'ກະລຸນາໃສ່ອີເມວຂອງທ່ານ',
            'Yêu cầu nhập file video':'ກະລຸນາອັບໄຟລ໌ວິດີໂອຂອງທ່ານ',
            'Yêu cầu nhập mã số thuế':'ກະລຸນາໃສ່ລະຫັດເລກອາກອນຂອງທ່ານ',
            'Yêu cầu nhập ngân hàng':'ກະລຸນາໃສ່ເລກບັນຊີທະນາຄານຂອງທ່ານ',
            'Yêu cầu nhập ngày cấp chứng minh thư':'ກະລຸນາໃສ່ວັນທີອອກເລກບັດປະຈຳຕົວຂອງທ່ານ',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'ກະລຸນາໃສ່ສະຖານທີ່ອອກບັດປະຈຳຕົວຂອງທ່ານ',
            'Yêu cầu nhập Số chứng minh thư':'ກະລຸນາໃສ່ເລກບັດປະຈຳຕົວຂອງທ່ານ',
            'Yêu cầu nhập Số điện thoại Unitel':'ກະລຸນາໃສ່ໝາຍເລກໂທລະສັບ Unitel ຂອງທ່ານ',
            'Yêu cầu nhập Số điện thoại':'ກະລຸນາໃສ່ໝາຍເລກໂທລະສັບຂອງທ່ານ',
            'Yêu cầu nhập Tài khoản ngân hàng':'ກະລຸນາໃສ່ບັນຊີທະນາຄານຂອງທ່ານ',
            'Yêu cầu nhập tên':'ກະລຸນາໃສ່ຊື່ຂອງທ່ານ',
            'Yêu cầu nhập Từ ngày-Đến ngày':'ກະລຸນາໃສ່ວັນທີ…ຫາວັນທີ...',

        }
    }
    function trans(source) {
        //console.log('test:' +arrLang[mainLanguage][source]);
        //console.log(Object.keys(arrLang[mainLanguage][source]));
        // if(arrLang[mainLanguage][source].isEmpty()){
        //     return source;
        // }
        var item = arrLang[mainLanguage][source];
        if(item == undefined){
            return source;
        }
        return item;

        // if (typeof arrLang[currentLanguage][source] != 'undefined') {
        //     return arrLang[currentLanguage][source];
        // }
        //  return source;

    }
</SCRIPT>
