<header class="has-promotion">
    <nav>
        <div class="header-button hvr-radial-out"><i class="fa icon-menu"></i></div>
        <a href="/" class="logo"></a>   
        <div class="box-search">
            <form method="GET" action ="{{url('default/search-result')}}" id="search-item">
                <input type="hidden" value="{{ url('default/search-suggestion-result') }}" id="urlSearch">
                <input type="hidden" value="{{ app.params['app.history.limit'] }}" id="limit-history">
                <input type="text" name="query" value="{{app.request.get('query')}}" class="input-text" id="keyword" placeholder="{{t('web','Nhập từ khóa')}}">
                <button type="submit" class="btn-search">
                    <i class="fa icon-search2" aria-hidden="true"></i>
                </button>
            </form>
            <div class="suggesstion" id ="contentSuggess">

            </div>
        </div>

        <div class="right-content">
            <!--
            <div class="promotion-event">
                <div class="content">
                    <a href="/event/terms-condition" style="color: white">
                        <img src="/images/data/iphone.png" class="image hvr-buzz-out" >
                        <span class="text-1">Trúng thưởng</span> iPhoneX
                    </a>
                </div>
            </div>
            -->

            <a href="/account/upload" class="btn-upload"><i class="fa icon-upload"></i> {{t('web','Tải lên')}}</a>
            {% if app.session.get('userId') %}
                <!--div class="link-notify" title="Notification" onclick="loadFirstNotification()"-->
{#                <div class="link-notify" title="Notification">#}
{#                    <i class="fa icon-notify"></i>#}
{#                    <div class="mdl-general mdl-notify">#}
{#                        <div class="title">{{t('web','THÔNG BÁO')}}</div>#}
{#                        <p align="center" class="no-notification">{{t('web','Không có dữ liệu')}}</p>#}
{#                        <!--div class="list-notify">#}
{#                            <div class="scroll" id="notifications-scroll">#}
{#                                <div class="content" id="notificationsContent">#}
{#                                    <div class="itemEmpty" style="display:none">#}
{#                                        <p class="no-notification">Không có dữ liệu</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="clearfix"></div>#}
{#                                <div class="spinner">#}
{#                                    <div class="quarter">#}
{#                                        <div class="circle"></div>#}
{#                                    </div>#}
{#                                </div>#}

{#                            </div>#}
{#                        </div-->#}
{#                    </div>#}
{#                </div>#}
                <div id="login" class="link-account">
                    <span class="link-login loged">
                        <img src="{{ app.session.get('avatarImage') }}"
                             onError="this.onerror=null;this.src='/images/data/4x4.png'" width="100%" height="100%" alt="" class="avatar">
                    </span>
                    <div class="mdl-general mdl-account popover-more">
                        <div class="title">						
                            <span class="text-account">
                                <span class="avatar" >
                                    <img src="{{ app.session.get('avatarImage') }}"
                                         onError="this.onerror=null;this.src='/images/data/4x4.png'" width="100%" height="100%" alt="">
                                </span>
                                <p class="text-1">{{app.session.get('fullName')}}</p>
                            </span>
                        </div>
                        <div class="list">
                            <a href="{{url('channel/get-detail',{'id':app.session.get('userId')})}} " class="item"><i class="fa icon-setting"></i> {{t('web','Kênh của tôi')}} </a>
                            <a href="{{url('default/list-package')}}" class="item active"><i class="fa icon-package"></i> {{t('web','Gói cước')}} </a>
                            <a href="{{url('default/my-video')}}" class="item"><i class="fa icon-video"></i> {{t('web','Video của tôi')}} </a>
                            <a href="{{url('account/report-upload')}}" class="item"><i class="fa icon-income"></i> {{t('web','Thu nhập')}} </a>

                            <a href="{{url('contract/account')}}" class="item"><i class="icon-info"></i> {{t('web','Thông tin thanh toán')}} </a>
{#                            <a href="/lien-ket" class="item"><i class="fa icon-trend"></i> {{t('web','Liên kết tài khoản')}} </a>#}

                            <a href="{{url('default/contact')}}" class="item"><i class="fa icon-contact"></i> {{t('web','Trợ giúp')}} </a>

                            <a href="javascript:void(0);" onclick="showChangePass()" class="item"><i class="fa icon-locked"></i> {{t('web','Đổi mật khẩu')}} </a>
                            <a href="{{url('auth/logout')}}" class="item" onclick="return addEvent('logout_action', {})"><i class="fa icon-logout"></i> {{t('web','Đăng xuất')}} </a>
                        </div>
                    </div>
                </div>
            {% else %}
{#                <a href="javascript:void(0);" class="link-login hvr-radial-out" id="btnSignIn"><i class="fa icon-user"></i></a>#}
                <a href="/auth/login" class="link-login hvr-radial-out"><i class="fa icon-user"></i></a>
            {% endif %}
            <div id="language" class="language-option">
                <form method="post" id="menuLang" name="myform" action="{{ url(['default/changlanguage']) }}">
                    <select id="selectLanguages"  name="language"  title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">
                        <option value="en" {{ app.language == 'en' ? 'selected' : '' }}>{{ t('wap', 'English') }}</option>
                        <option value="mz" {{ app.language == 'mz' ? 'selected' : '' }}>{{ t('wap', 'Portuguese') }}</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript">
    var mainLanguage = '{{ app.language }}';


    var arrLang = {
        'en': {
            'Bình luận':'Comment',
            'Hủy':'Cancel',
            'Nhập bình luận...':'Enter comment ...',
            'Vui lòng nhập nội dung bình luận':'Please enter the comment content',
            'Đã theo dõi':'Followed',
            'Đăng kí theo dõi kênh thành công':'Register success channel tracker',
            'theo dõi':'follow',
            'Theo dõi':'Follow',
            'Hủy theo dõi kênh thành công':'Cancel tracker success channel',
            'Hủy theo dõi':'Cancel tracking',
            'Theo dõi kênh thành công':'Track channel success',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Input Captor code, from 1 to 50 characters',
            'Thêm video thành công vào playlist.':'Add video to success to play list',
            'Mã captcha bắt buộc nhập':'Input captcha',
            'Bạn có chắc chắn xoá liên kết?':'Are you sure to remove link?',
            'Thêm thành công':'Add successfully',
            'Thành công':'Successful',
            'Yêu cầu nhập file video':'Video file input request',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Input required title and is not greater than 255 character',
            'Mô tả không được lớn hơn 500 kí tự':'Description is not larger than 500 characters',
            'Quý khách vui lòng nhập mô tả từ':'Please enter a description from',
            'Định dang file ảnh được phép':'The image file is specified',
            'KÊNH':'CHANNEL',
            'Tên nhập trong khoảng từ':'Input name in interval',
            'đến':'to',
            'kí tự':'character',
            'Mô tả không được lớn hơn':'Description is not greater than',
            ' người theo dõi':' tracker',
            'Vui lòng chọn loại báo cáo lỗi':'Please choose an error report',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'The busy system, please try again!',
            'Chắc chắn xóa video?':'Sure delete video',
            'Xác nhận xóa kênh liên quan không?':'Specify remove the channel related?',
            'Xóa thành công':'Delete success',
            'VIDEO':'VIDEO',
            'Không có dữ liệu với từ khóa tìm kiếm':'No data with search keywords',
            ' lượt xem ':' views ',
            ' lượt xem':' views',
            'Xóa danh lịch sử xem thành công':'Successfully deleted watch history',
            'Bạn có chắc xóa playlist không?':'Are you sure to delete this playlist?',
            'Bật chế độ phát ngẫu nhiên':'Enable random mode',
            'Tắt chế độ phát ngẫu nhiên':'Disable random mode',
            'Bật chế độ phát lặp lại':'Enable Repeat Play',
            'Tắt chế độ phát lặp lại':'Disable Repeat Play',
            'Bạn có chắc xóa video khỏi playlist không?':'Are you sure you delete video from playlist?',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'There was an error occurred in the contents of the player. Please try again.',
            'Đang chờ upload...':'Waiting for upload',
            'Đang chờ upload':'Waiting for upload',
            'Bỏ video thành công khỏi playlist':'Remove successful video from playlist',
            'Bỏ thích':'Dislike',
            'Thích video thành công':'Likes successful videos',
            'Tôi thích video này':'I like this video',
            'Bỏ thích video thành công':'Quit liking video successfully',
            'Bỏ không thích video này':'Don\'t like this video',
            'Không thích video thành công':'Do not like video success',
            'Tôi không thích video này':'I don\'t like this video',
            'Bỏ không thích video thành công':'Un-like video successfully',
            'Chương trình sẽ bắt đầu sau':'The program will start after',
            'Ngày':'Days',
            'Giờ':'Hours',
            'Phút':'Minutes',
            'Giây':'Seconds',
            'TIẾP THEO':'NEXT',
            'Thêm câu trả lời':'Add an answer',
            'Trả lời':'Reply',
            'Có lỗi xảy ra vui lòng thử lại':'An error has occurred please try again',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Please login to use this feature',
            'Phản hồi đang được quản trị viên xem xét':'Feedback is being reviewed by administrators',
            'Nội dung không được chấp nhận với lý do: ':'Content is not accepted for the reason: ',
            'Nội dung không được chấp nhận':'Content is not accepted',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Request to enter From - To date',
            'Yêu cầu chọn Tháng':'Request to select Month',
            'Yêu cầu nhập Tài khoản ngân hàng':'Requesting a Bank Account',
            'Yêu cầu nhập ngân hàng':'Request for bank entry',
            'Yêu cầu nhập chi nhánh ngân hàng':'Request to enter bank branch',
            'Yêu cầu nhập địa chỉ':'Please enter the address',
            'Yêu cầu nhập mã số thuế':'Request to enter tax code',
            'Yêu cầu nhập Số điện thoại':'Request to enter Phone number',
            'Yêu cầu nhập Số điện thoại Viettel':'Request to enter Viettel phone number',
            'Yêu cầu nhập tên':'Please enter name',
            'Yêu cầu nhập email':'Please enter Email',
            'Định dạng email không đúng':'Email format is incorrect',
            'Yêu cầu nhập Số chứng minh thư':'Request for ID card number',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Request to enter the place of identity card issuance',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Request to enter the date of identification card',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Request to import photos of the front of ID card',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Request to import photo of the back card',
            'Định dạng ảnh mặt sau cho phép':'The back image format allows',
            'Định dạng ảnh mặt trước cho phép':'The front image format allows',
            'OTP đã gửi thành công':'OTP sent successfully',
            'Quý khách vui lòng nhập tên từ':'Please enter the name from',
            'Tắt thông báo thành công':'Turn off successful notifications',
            'Chuyển trạng thái thông báo thành công':'Successful status notification',
            'lịch sử xem':'view history',
            'danh sách xem sau':'list view later',
            'Bạn có muốn xóa video ':'Do you want to delete the video ',
            'khỏi':'from ',
            'không':' ',
            'Xóa video thành công ':'Delete video successfully ',
            'Xóa video khỏi lịch sử thành công':'Successfully remove videos from history',
            'Bạn có muốn xóa danh sách xem sau không ?':'Would you like to delete the following list of views?',
            'Xóa danh sách xem sau thành công':'Delete list of successes after review',
            'lịch sử tìm kiếm':'search history',
            'Bạn có muốn xóa ':'Do you want to delete ',
            ' không ?':' ?',
            'Xóa nội dung thành công':'Delete content successfully',
            'Xóa lịch sử xem thành công':'Delete successful viewing history',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Enter at least 3 characters to perform a search',
            'Không có dữ liệu':'No data',
            'Không có video':'No video',
            'Xóa lịch sử tìm kiếm thất bại':'Clear search history failed',
            'Xóa lịch sử tìm kiếm thành công':'Delete search history successfully',
            ' năm trước':' last year',
            ' tháng trước':' last month',
            ' tuần trước':' last week',
            ' ngày trước':' yesterday',
            ' giờ trước':' hours ago',
            ' phút trước':' minute ago',
            'Bạn có muốn xóa danh sách phát không ?':'Do you want to delete the playlist?',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Required name entered and cannot be greater than 255 characters',
            'Vui lòng chọn loại báo cáo':'Please select report type',
            'Thêm kênh':'Add channel',
            'Đăng tải':'Upload',
            'Vui lòng chọn file upload':'Please select the upload file',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Executing file upload, if exiting will cancel the upload.',
            'Trình duyệt không hỗ trợ':'Browser does not support',
            'File không đúng định dạng:':'File is not in the correct format:',
            'Kích thước file quá lớn':'File size is too large',
            'Kích thước file quá nhỏ':'File size is too small',
            'rỗng, vui lòng chọn file khác.':'empty, please select another file.',
            'Upload không thành công':'Upload failed',
            'Chọn video file':'Choose video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload failed, please try again later!',
            'Đăng tải thành công':'Successful posting',
            'Hoàn Thành':'Finish',
            'Đồng ý':'Agree',
            'Bạn có muốn hủy upload file này?':'Do you want to cancel uploading this file?',
            'Đang trong quá trình tải video, không thể sửa.':'In the process of downloading videos, cannot edit.',
            'Thêm vào':'Add',
            'Chờ phê duyệt(Không xem được)':'Wait for approval (Cannot view)',
            'Từ chối duyệt':'Refuse to approve',
            '(Lý do: ':'(Reason: ',
            'ĐÃ GỬI Ý KIẾN':'SENT COMMENTS',
            'GỬI Ý KIẾN':'COMMENTS',
            'Phát tiếp theo':'Play next',
            'Video chưa có tên':'Video does not have the name',
            'Đang phát':'Playing',
            'Tạo playlist mới':'Create new playlist',
            'Thêm vào danh sách phát':'Add to playlist',
            'Thêm vào xem sau':'Add to watch later',
            'Chia sẻ':'Share',
            'Xoá':'Delete',
            'Chỉnh sửa':'Edit',
            'Nội dung không có quyền xem':'Content does not have permission to view',
            'Bật chế độ vòng lặp':'Turn on loop mode',
            'Tắt chế độ vòng lặp':'Turn off loop mode',
            'Bỏ video thành công khỏi playlist.':'Remove video from playlist successfully.',
            'Có lỗi xảy ra vui lòng thử lại.':'An error occurred please try again.',
            'Vừa xong':'just finished',
            'PHÁT TẤT CẢ':'PLAY ALL',
            'Vui lòng nhập tên video':'Please enter the video name',
            'Xác nhận mật khẩu không đúng.':'Password was wrong.',
            'Like fanpage Myclip thành công. Vui lòng chờ tính điểm!':'',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'',
        },
        'vi': {
            'Xác nhận mật khẩu không đúng.':'Xác nhận mật khẩu không đúng.',
            'Vừa xong':'Vừa xong',
            'Có lỗi xảy ra vui lòng thử lại.':'Có lỗi xảy ra vui lòng thử lại.',
            'Tắt chế độ vòng lặp':'Tắt chế độ vòng lặp',
            'Nội dung không có quyền xem':'Nội dung không có quyền xem',
            'Xoá':'Xoá',
            'Chia sẻ':'Chia sẻ',
            'Thêm vào danh sách phát':'Thêm vào danh sách phát',
            'Video chưa có tên':'Video chưa có tên',
            'ĐÃ GỬI Ý KIẾN':'ĐÃ GỬI Ý KIẾN',
            'Từ chối duyệt':'Từ chối duyệt',
            'Thêm vào':'Thêm vào',
            'Đang trong quá trình tải video, không thể sửa.':'Đang trong quá trình tải video, không thể sửa.',
            'Đồng ý':'Đồng ý',
            'Đăng tải thành công':'Đăng tải thành công',
            'Upload không thành công':'Upload không thành công',
            'Kích thước file quá nhỏ':'Kích thước file quá nhỏ',
            'File không đúng định dạng:':'File không đúng định dạng:',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.',
            'Đăng tải':'Đăng tải',
            'Thêm kênh':'Thêm kênh',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Tên bắt buộc nhập và không được lớn hơn 255 kí tự',
            ' giờ trước':' giờ trước',
            ' tuần trước':' tuần trước',
            ' năm trước':' năm trước',
            'Xóa lịch sử tìm kiếm thất bại':'Xóa lịch sử tìm kiếm thất bại',
            'Xóa lịch sử xem thành công':'Xóa lịch sử xem thành công',
            ' không ?':' không ?',
            'Bạn có muốn xóa danh sách xem sau không ?':'Bạn có muốn xóa danh sách xem sau không ?',
            'Xóa video khỏi lịch sử thành công':'Xóa video khỏi lịch sử thành công',
            'không':'không',
            'danh sách xem sau':'danh sách xem sau',
            'Chuyển trạng thái thông báo thành công':'Chuyển trạng thái thông báo thành công',
            'Quý khách vui lòng nhập mô tả từ':'Quý khách vui lòng nhập mô tả từ',
            'Quý khách vui lòng nhập tên từ':'Quý khách vui lòng nhập tên từ',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập Tài khoản ngân hàng':'Yêu cầu nhập Tài khoản ngân hàng',
            'Định dạng ảnh mặt trước cho phép':'Định dạng ảnh mặt trước cho phép',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Yêu cầu nhập ngày cấp chứng minh thư',
            'Yêu cầu nhập Số chứng minh thư':'Yêu cầu nhập Số chứng minh thư',
            'Yêu cầu nhập tên':'Yêu cầu nhập tên',
            'Yêu cầu nhập chi nhánh ngân hàng':'Yêu cầu nhập chi nhánh ngân hàng',
            'Yêu cầu nhập Số điện thoại':'Yêu cầu nhập Số điện thoại',
            'Yêu cầu nhập Số điện thoại Viettel':'Yêu cầu nhập Số điện thoại Viettel',
            'Yêu cầu nhập địa chỉ':'Yêu cầu nhập địa chỉ',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Yêu cầu nhập Từ ngày-Đến ngày',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Vui lòng đăng nhập để sử dụng tính năng này',
            'Nội dung không được chấp nhận':'Nội dung không được chấp nhận',
            'Nội dung không được chấp nhận với lý do: ':'Nội dung không được chấp nhận với lý do: ',
            'Chương trình sẽ bắt đầu sau':'Chương trình sẽ bắt đầu sau',
            'TIẾP THEO':'TIẾP THEO',
            'Trả lời':'Trả lời',
            'Đang chờ upload':'Đang chờ upload',
            'Bình luận':'Bình luận',
            'Tắt chế độ phát ngẫu nhiên':'Tắt chế độ phát ngẫu nhiên',
            'Bật chế độ phát lặp lại':'Bật chế độ phát lặp lại',
            'Tắt chế độ phát lặp lại':'Tắt chế độ phát lặp lại',
            'Bạn có chắc xóa playlist không?':'Bạn có chắc xóa playlist không?',
            'Bạn có chắc xóa video khỏi playlist không?':'Bạn có chắc xóa video khỏi playlist không?',
            'Hủy':'Hủy',
            'Nhập bình luận...':'Nhập bình luận...',
            'Vui lòng nhập nội dung bình luận':'Vui lòng nhập nội dung bình luận',
            'Đã theo dõi':'Đã theo dõi',
            'Đăng kí theo dõi kênh thành công':'Đăng kí theo dõi kênh thành công',
            'Theo dõi kênh thành công':'Theo dõi kênh thành công',
            'Chắc chắn xóa video?':'Chắc chắn xóa video?',
            'theo dõi':'theo dõi',
            'Theo dõi':'Theo dõi',
            'Thành công':'Thành công',
            'Thêm thành công':'Thêm thành công',
            'Vui lòng chọn loại báo cáo lỗi':'Vui lòng chọn loại báo cáo lỗi',
            'Hủy theo dõi kênh thành công':'Hủy theo dõi kênh thành công',
            'Hủy theo dõi':'Hủy theo dõi',
            'Hủy theo dõi kênh thành công':'Hủy theo dõi kênh thành công',
            'Tên nhập trong khoảng từ':'Tên nhập trong khoảng từ',
            'Thêm video thành công vào playlist.':'Thêm video thành công vào playlist.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự',
            'Mã captcha bắt buộc nhập':'Mã captcha bắt buộc nhập',
            'Bạn có chắc chắn xoá liên kết?':'Bạn có chắc chắn xoá liên kết?',
            'Yêu cầu nhập file video':'Yêu cầu nhập file video',
            'Mô tả không được lớn hơn 500 kí tự':'Mô tả không được lớn hơn 500 kí tự',
            'Định dang file ảnh được phép':'Định dang file ảnh được phép',
            'KÊNH':'KÊNH',
            'Xóa danh lịch sử xem thành công':'Xóa danh lịch sử xem thành công',
            'kí tự':'kí tự',
            'Xóa thành công':'Xóa thành công',
            'Mô tả không được lớn hơn':'Mô tả không được lớn hơn',
            'đến':'đến',
            'Bỏ thích':'Bỏ thích',
            'VIDEO':'VIDEO',
            ' lượt xem ':' lượt xem ',
            ' lượt xem':' lượt xem',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Hệ thống đang bận, quý khách vui lòng thử lại sau!',
            ' người theo dõi':' người theo dõi',
            'Bỏ video thành công khỏi playlist':'Bỏ video thành công khỏi playlist',
            'Xác nhận xóa kênh liên quan không?':'Xác nhận xóa kênh liên quan không?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Không có dữ liệu với từ khóa tìm kiếm',
            'Bật chế độ phát ngẫu nhiên':'Bật chế độ phát ngẫu nhiên',
            'Đang chờ upload...':'Đang chờ upload...',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.',
            'Thích video thành công':'Thích video thành công',
            'Tôi thích video này':'Tôi thích video này',
            'Bỏ thích video thành công':'Bỏ thích video thành công',
            'Bỏ không thích video này':'Bỏ không thích video này',
            'Không thích video thành công':'Không thích video thành công',
            'Tôi không thích video này':'Tôi không thích video này',
            'Bỏ không thích video thành công':'Bỏ không thích video thành công',
            'Ngày':'Ngày',
            'Giờ':'Giờ',
            'Phút':'Phút',
            'Giây':'Giây',
            'Thêm câu trả lời':'Thêm câu trả lời',
            'Có lỗi xảy ra vui lòng thử lại':'Có lỗi xảy ra vui lòng thử lại',
            'Phản hồi đang được quản trị viên xem xét':'Phản hồi đang được quản trị viên xem xét',
            'Yêu cầu chọn Tháng':'Yêu cầu chọn Tháng',
            'Yêu cầu nhập ngân hàng':'Yêu cầu nhập ngân hàng',
            'Yêu cầu nhập mã số thuế':'Yêu cầu nhập mã số thuế',
            'Yêu cầu nhập email':'Yêu cầu nhập email',
            'Định dạng email không đúng':'Định dạng email không đúng',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Yêu cầu nhập Nơi cấp chứng minh thư',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Yêu cầu nhập ảnh mặt trước chứng minh thư',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Yêu cầu nhập ảnh mặt sau chứng minh thư',
            'Định dạng ảnh mặt sau cho phép':'Định dạng ảnh mặt sau cho phép',
            'OTP đã gửi thành công':'OTP đã gửi thành công',
            'lịch sử xem':'lịch sử xem',
            'Tắt thông báo thành công':'Tắt thông báo thành công',
            'Bạn có muốn xóa video ':'Bạn có muốn xóa video ',
            'khỏi':'khỏi',
            'Xóa video thành công ':'Xóa video thành công ',
            'Xóa danh sách xem sau thành công':'Xóa danh sách xem sau thành công',
            'lịch sử tìm kiếm':'lịch sử tìm kiếm',
            'Bạn có muốn xóa ':'Bạn có muốn xóa ',
            'Xóa nội dung thành công':'Xóa nội dung thành công',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm',
            'Không có dữ liệu':'Không có dữ liệu',
            'Không có video':'Không có video',
            'Xóa lịch sử tìm kiếm thành công':'Xóa lịch sử tìm kiếm thành công',
            ' tháng trước':' tháng trước',
            ' ngày trước':' ngày trước',
            ' phút trước':' phút trước',
            'Bạn có muốn xóa danh sách phát không ?':'Bạn có muốn xóa danh sách phát không ?',
            'Vui lòng chọn loại báo cáo':'Vui lòng chọn loại báo cáo',
            'Vui lòng chọn file upload':'Vui lòng chọn file upload',
            'Trình duyệt không hỗ trợ':'Trình duyệt không hỗ trợ',
            'Kích thước file quá lớn':'Kích thước file quá lớn',
            'rỗng, vui lòng chọn file khác.':'rỗng, vui lòng chọn file khác.',
            'Chọn video file':'Chọn video file',
            'Upload không thành công, vui lòng thử lại sau!':'Upload không thành công, vui lòng thử lại sau!',
            'Hoàn Thành':'Hoàn Thành',
            'Bạn có muốn hủy upload file này?':'Bạn có muốn hủy upload file này?',
            'Chờ phê duyệt(Không xem được)':'Chờ phê duyệt(Không xem được)',
            '(Lý do: ':'(Lý do: ',
            'GỬI Ý KIẾN':'GỬI Ý KIẾN',
            'Phát tiếp theo':'Phát tiếp theo',
            'Đang phát':'Đang phát',
            'Tạo playlist mới':'Tạo playlist mới',
            'Thêm vào xem sau':'Thêm vào xem sau',
            'Chỉnh sửa':'Chỉnh sửa',
            'Bật chế độ vòng lặp':'Bật chế độ vòng lặp',
            'Bỏ video thành công khỏi playlist.':'Bỏ video thành công khỏi playlist.',
            'PHÁT TẤT CẢ':'PHÁT TẤT CẢ',
            'Vui lòng nhập tên video':'Vui lòng nhập tên video',
        },
        'tz': {
            'PHÁT TẤT CẢ':'Cheza zote',
            'Vừa xong':'Imemaliza',
            'Có lỗi xảy ra vui lòng thử lại.':'Kuna tatizo, tafadhali jaribu tena',
            'Bỏ video thành công khỏi playlist.':'Umefanikio kuacha video kutoka kwenye orodha ya kucheza',
            'Tắt chế độ vòng lặp':'Zima kujirudia',
            'Bật chế độ vòng lặp':'Wezesha kucheza baada ya muda',
            'Nội dung không có quyền xem':'Maudhui hayaruhusiwi kutazamwa',
            'Chỉnh sửa':'Boresha',

            'Chia sẻ':'Shirikisha/Sambaza',
            'Thêm vào xem sau':'Boresha kutazama baadae',
            'Thêm vào danh sách phát':'Ongeza kwenye orodha',
            'Tạo playlist mới':'Tengeneza orodha mpya ya kucheza',
            'Đang phát':'Inayocheza',
            'Video chưa có tên':'Video haina jina',
            'GỬI Ý KIẾN':'MAONI',
            'ĐÃ GỬI Ý KIẾN':'MALALAMIKO',
            '(Lý do: ':'(Sababu: ',
            'Từ chối duyệt':'Kataa kuthibitisha',
            'Chờ phê duyệt(Không xem được)':'Subiri kupitishwa (huwezi kutazama)',
            'Thêm vào':'Ongeza',
            'Đang trong quá trình tải video, không thể sửa.':'Katika hali ya kupakua video, haiwezi kuboreshwa',
            'Bạn có muốn hủy upload file này?':'Unataka kusitisha kupakia hili faili?',
            'Đồng ý':'Kubali',
            'Hoàn Thành':'Maliza',
            'Đăng tải thành công':'Umefanikiwa kupakia',
            'Upload không thành công, vui lòng thử lại sau!':'Upakiaji umeshindikana, tafadhali jaribu tena baadae!',
            'Chọn video file':'Chagua faili la Video',
            'Upload không thành công':'Umeshindwa kupakia',
            'rỗng, vui lòng chọn file khác.':'Tupu, tafadhali chagua faili lingine.',
            'Kích thước file quá nhỏ':'Faili ni dogo mno',
            'Kích thước file quá lớn':'Faili ni kubwa kupita kiasi',
            'File không đúng định dạng:':'Faili haina fomati nzuri:',
            'Trình duyệt không hỗ trợ':'Browser haiwezi kufungua',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Inapakia faili, kama utaondoa itasitisha zoezi la kupakia.',
            'Vui lòng chọn file upload':'Tafadhali chagua faili la kupakia',
            'Đăng tải':'Pakia',
            'Thêm kênh':'Ongeza chaneli',
            'Bạn có muốn xóa danh sách phát không ?':'Je unataka kufuta orodha ya kucheza?',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Jina linalotakiwa kuweka halipaswi kuwa na herufi zaidi ya 255',
            ' phút trước':' Dakika iliyopita',
            ' giờ trước':' Masaa yaliyopita',
            ' ngày trước':' Jana',
            ' tuần trước':' Wiki iliyopita',
            ' năm trước':' Mwaka uliopita',
            ' tháng trước':' Mwezi uliopita',
            'Xóa lịch sử tìm kiếm thành công':'Umefanikiwa kufuta historia ya utafutaji',
            'Xóa lịch sử tìm kiếm thất bại':'Umeshindwa kufuta historia ya utafutaji',
            'Không có dữ liệu':'Hauna intaneti',
            'Không có video':'Hakuna video',
            'Không có channel':'Hakuna chaneli',


            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Weka walau herufi 3 kutafuta',
            'Xóa lịch sử xem thành công':'Umefanikiwa kufuta historia ya ulizotazama',
            'Xóa nội dung thành công':'Umefanikiwa kufuta maudhui',
            ' không ?':' Hapana?',
            'Bạn có muốn xóa ':'Je unataka kufuta',
            'lịch sử tìm kiếm':'Historia ya utafutaji',
            'Xóa danh sách xem sau thành công':'Futa orodha ya zilizofanikiwa baada ya kutazama',
            'Bạn có muốn xóa danh sách xem sau không ?':'Je unataka kufuta orodha ya maoni?',
            'Xóa video khỏi lịch sử thành công':'Umefanikiwa kuondoa Video kwenye histori',
            'Xóa video thành công ':'Umefanikiwa kufuta Video ',
            'không':'hapana',
            'khỏi':'zima',
            'Bạn có muốn xóa video ':'Unataka kufuta video',
            'danh sách xem sau':'Tazama orodha baadae',
            'Chuyển trạng thái thông báo thành công':'Umefanikiwa',
            'Quý khách vui lòng nhập mô tả từ':'Tafadhali weka maelezo kuanzia',
            'Quý khách vui lòng nhập tên từ':'Tafadhali weka jina kuanzia',
            'OTP đã gửi thành công':'Umefanikiwa kuwasilisha OTP',
            'Yêu cầu nhập tên':'Weka jina',
            'Định dạng ảnh mặt trước cho phép':'Fomati ya picha ya mbele inaruhusiwa',
            'Định dạng ảnh mặt sau cho phép':'Fomati ya picha ya nyuma inaruhusiwa',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Weka picha ya mbele ya kitambulisho',
            'Định dạng ảnh mặt trước cho phép':'Fomati ya picha ya mbele inaruhusiwa',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Weka picha ya nyuma ya kitambulisho',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Weka tarehe ya kitambulisho',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Weka mahali kitambulisho kilipotolewa',
            'Yêu cầu nhập Số chứng minh thư':'Weka namba ya kitambulisho',
            'Định dạng email không đúng':'Fomati ya barua pepe si sahihi',
            'Yêu cầu nhập email':'Barua pepe inahitajika',
            'Yêu cầu nhập Số điện thoại':'Unapaswa kuweka namba',
            'Yêu cầu nhập Số điện thoại Viettel':'Unatakiwa kuweka namba ya Halotel',
            'Yêu cầu nhập chi nhánh ngân hàng':'Unaombwa kuweka tawi la Benki',
            'Yêu cầu nhập địa chỉ':'Tafadhali weka anuani',
            'Yêu cầu nhập mã số thuế':'Weka code ya mlipa kodi',
            'Yêu cầu nhập ngân hàng':'Weka taarifa za benki',
            'Yêu cầu chọn Tháng':'Chagua Mwezi',
            'Yêu cầu nhập Tài khoản ngân hàng':'Unatakiwa kuweka namba ya akaunti',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Unapaswa kuweka kuanzi- mpaka leo',
            'Phản hồi đang được quản trị viên xem xét':'Maoni yanaangaliwa na msimamizi',
            'Nội dung không được chấp nhận với lý do: ':'Maudhui hayakubaliki kwa sababu',
            'Nội dung không được chấp nhận':'Maudhui hayakubaliki',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Tafadhali ingia kwenye akaunti kupata hiki kipengele',
            'Có lỗi xảy ra vui lòng thử lại':'Kuna tatizo, tafadhali jaribu tena',
            'Thêm câu trả lời':'Weka jibu',
            'Trả lời':'Jibu',
            'Ngày':'Tarehe',
            'Giờ':'Saa',
            'Phút':'Dakika',
            'Giây':'Sekunde',
            'TIẾP THEO':'NEXT',
            'Chương trình sẽ bắt đầu sau':'Anza baadae',
            'Đang chờ upload':'Inasubiri kupakia',
            'Bình luận':'Maoni',
            'Tắt chế độ phát ngẫu nhiên':'Zuia kucheza bila mtiririko',
            'Bật chế độ phát lặp lại':'Washa kucheza kwa kujirudia',
            'Tắt chế độ phát lặp lại':'Zima kucheza kwa kujirudia',
            'Bạn có chắc xóa playlist không?':'Je unataka kufuta orodha ya kucheza?',
            'Bạn có chắc xóa video khỏi playlist không?':'Je unataka kufuta Video kutoka kwenye orodha ya kucheza?',
            'Hủy':'Sitisha',
            'Nhập bình luận...':'Weka maoni…',
            'Vui lòng nhập nội dung bình luận':'Tafadhali weka maoni kwenye maudhui',


            'Theo dõi kênh thành công':'Umefanikiwa kupata chaneli',
            'Chắc chắn xóa video?':'Unataka kufuta video?',
            'theo dõi':'fuata',
            'Theo dõi':'Fuata',
            'Tắt thông báo thành công':'Umefanikiwa kuzima upokeaji taarifa',
            'Thành công':'kupakia',
            'Thêm thành công':'Umefanikiwa kuongeza',
            'Vui lòng chọn loại báo cáo lỗi':'Tafadhali chagua aina ya kosa lililoripotiwa',
            'Vui lòng chọn loại báo cáo':'Tafadhali chagua aina ya ripoti',
            'Hủy theo dõi kênh thành công':'Umefanikiwa kupata chaneli',
            'Hủy theo dõi':'usifute',
            'Tên nhập trong khoảng từ':'Weka jina katikati ya neno ',
            'Thêm video thành công vào playlist.':'Umefanikiwa kuongeza Video kwenye orodha.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Unapaswa kuweka code za kuwezesha, herusi 1 hadi 50 ',
            'Mã captcha bắt buộc nhập':'Weka code za capcha',
            'Bạn có chắc chắn xoá liên kết?':'Je unataka kufuta kiungo?',
            'Yêu cầu nhập file video':'Unataka kuweka faili la video',
            'Mô tả không được lớn hơn 500 kí tự':'Maelezo hayawezi kuwa makubwa yenye urefu zaidi ya 500',
            'Định dang file ảnh được phép':'Fomati ya picha inaruhusiwa',
            'KÊNH':'CHANELI',
            'Xóa danh lịch sử xem thành công':'Umefanikiwa kufuta histori ya utafutaji',
            'lịch sử xem':'Angalia histori',
            'kí tự':'Herufi',

            'Mô tả không được lớn hơn':'Maelezo hayawezi kuwa makubwa zaidi',

            'Bỏ thích':'Sijapenda',
            'VIDEO':'VIDEO',
            ' lượt xem ':' Maoni ',
            ' lượt xem':' Maoni',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Mfumo unatumika, tafadhali jaribu tena baadae!',
            ' người theo dõi':' Mfuataji',
            'Bỏ video thành công khỏi playlist':'Umefanikio kuacha video kutoka kwenye orodha ya kucheza',
            'Xác nhận xóa kênh liên quan không?':'Thibitisha kufuta chaneli zinazofanana?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Thibitisha kufuta chaneli zinazofanana?',
            'Bật chế độ phát ngẫu nhiên':'Zuia kucheza bila mtiririko',
            'Đang chờ upload...':'Inasubiri kupakia...',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Kichwa cha maelezo hakipaswi kuwa na  herufi zaidi ya 255',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Kuna tatizo wakati wa kucheza Video .Tafadhali jaribu tena;Kuna tatizo wakati wa kucheza Video .Tafadhali jaribu tena.',
            'Thích video thành công':'Umefanikiwa kupenda video',
            'Tôi thích video này':'Nimeipenda hii Video',
            'Bỏ thích video thành công':'Umefanikiwa kutopenda Video',
            'Bỏ không thích video này':'Sijapenda hii Vide',
            'Không thích video thành công':'Umefanikiwa kutopenda video',
            'Tôi không thích video này':'Sijaipenda hii video',
            'Bỏ không thích video thành công':'Umefanikiwa kutopenda video',
            'Phát tiếp theo':'Tangazo jipya',
            'đến':'kwenda',
            'Xóa thành công':'Umefanikiwa kufuta',
            'TẢI APP':  'Pakua App',
            'Tải app': 'Pakua App',

            // Chưa dịch
            'Xác nhận mật khẩu không đúng.':'',
            'Xoá':'',
            'Đăng kí theo dõi kênh thành công':'',
            'Đã theo dõi':'',
            'Vui lòng nhập tên video':'',
            'Like fanpage Myclip thành công. Vui lòng chờ tính điểm!':'',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'',

            'Có thể bạn thích': 'Labda unapenda'
        },
        'mz': {
            'Bình luận':'Comentar',
            'giờ trước':'Horas antes',
            ' không ?':'Nao',
            'lượt xem ':'Vizualizacoes',
            'lượt xem':'Vizualizacoes',
            ' lượt xem':' Vizualizacoes',
            'năm trước':'Ano passado',
            'ngày trước':'Ontem',
            'người theo dõi':'',
            'phút trước':'Minutos antes',
            'tháng trước':'Mes passado',
            'tuần trước':'Semana passada',
            '(Lý do':'Motivo',
            'Bạn có chắc chắn xoá liên kết?':'Tem a certeza que pretende remover link',
            'Bạn có chắc xóa playlist không?':'Tem a certeza que pretende remover esta lista de reproducao?',
            'Bạn có chắc xóa video khỏi playlist không?':'Tem a certeza que pretende remover este video da lista de reproducao?',
            'Bạn có muốn hủy upload file này?':'Tem a certeza que pretende cancelar o carregamento deste ficheiro?',
            'Bạn có muốn xóa ':'Pretende Remover',
            'Bạn có muốn xóa danh sách phát không ?':'Pretende Remover a lista de reproducao?',
            'Bạn có muốn xóa danh sách xem sau không ?':'Gostaria de Remover a seguinte lista das vizualizacoes?',
            'Bạn có muốn xóa video ':'Pretende Remover o video?',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'',
            'Bật chế độ phát lặp lại':'Permitir repetir a reproducao',
            'Bật chế độ phát ngẫu nhiên':'Permitir o modo aleatorio',
            'Bật chế độ vòng lặp':'Activar o modo loop',
            'Bỏ không thích video này':'Nao gostar deste video',
            'Bỏ không thích video thành công':'Deixou de gostar o video com sucesso',
            'Bỏ thích video thành công':'Deixar de gostar do video com sucesso',
            'Bỏ thích':'Nao gostar  ',
            'Bỏ video thành công khỏi playlist.':'Removeu o video da lista de reproducao com sucesso ',
            'Bỏ video thành công khỏi playlist':'Removeu o video da lista de reproducao com sucesso ',
            'Chắc chắn xóa video?':'Remover video',
            'Chia sẻ':'Partilhar',
            'Chỉnh sửa':'Editar',
            'Chờ phê duyệt(Không xem được)':'Eperar por aprovacao (nao pode vizualizar)',
            'Chọn video file':'Escolher ficheiro de video',
            'Chương trình sẽ bắt đầu sau':'O programa ira iniciar depois',
            'Chuyển trạng thái thông báo thành công':'Notificacao de situacao bem-sucedida',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Ocorreu um erro nos conteudos reproduzidos. Tente novamente',
            'Có lỗi xảy ra vui lòng thử lại.':'Ocorreu um erro. Tente novamente',
            'Có lỗi xảy ra vui lòng thử lại':'Ocorreu um erro. Tente novamente',
            'ĐÃ GỬI Ý KIẾN':'ENVIAR COMENTARIOS',
            'Đã theo dõi':'Seguido',
            'Đang chờ upload...':'Esperando carregamento',
            'Đang chờ upload':'Esperando carregamento',
            'Đăng kí theo dõi kênh thành công':'Tracker do canal registado',
            'Đang phát':'Reproduzindo',
            'Đăng tải thành công':'Publicado',
            'Đăng tải':'Carregar',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'Carregando o ficheiro. Se sair, ira cancelar o carregamento',
            'Đang trong quá trình tải video, không thể sửa.':'Em processo de download, impossivel editar',
            'danh sách xem sau':'Vizualizar lista mais tarde',
            'đến':'para',
            'Định dạng ảnh mặt sau cho phép':'Formato de imagem traseira aceite',
            'Định dạng ảnh mặt trước cho phép':'Formato de imagem frontal aceite',
            'Định dạng ảnh mặt trước cho phép':'Formato de imagem frontal aceite',
            'Định dạng email không đúng':'Formato de e-mail incorrecto',
            'Định dang file ảnh được phép':'O arquivo de imagem está especificado',
            'Đồng ý':'Concordar',
            'File không đúng định dạng':'O ficheiro nao esta no formato correcto',
            'Giây':'Segundos',
            'Giờ':'Horas  ',
            'GỬI Ý KIẾN':'COMENTARIOS',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Sistema oucupado, tente novamente',
            'Hoàn Thành':'Terminar',
            'Hủy theo dõi kênh thành công':'Tracker do canal cancelado',
            'Hủy theo dõi':'Cancelar tracking',
            'Hủy':'Cancelar  ',
            'KÊNH':'CANAL',
            'khỏi':'A partir de',
            'Không có dữ liệu với từ khóa tìm kiếm':'Nenhum dado com palavras-chave de pesquisa',
            'Không có dữ liệu':'Nenhum dado',
            'Không thích video thành công':'Nao gostar do video',
            'không':'',
            'kí tự':'Caracter',
            'Kích thước file quá lớn':'O tamanho do ficheiro e muito grande',
            'Kích thước file quá nhỏ':'O tamanho do ficheiro e muito pequeno',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'',
            'lịch sử tìm kiếm':'Pesquisar historico',
            'lịch sử xem':'Vizualizar historico',
            'Like fanpage Myclip thành công. Vui lòng chờ tính điểm!':'Fazer gosto na pagina de fas do Myclip',
            'Mã captcha bắt buộc nhập':'Inserir captcha',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Codigo de entrada, de 1 a 50 caracteres',
            'Mô tả không được lớn hơn 500 kí tự':'A descricao nao pode exceder mais que 500 caracteres',
            'Mô tả không được lớn hơn':'A descricao não é maior que',
            'Ngày':'Dias',
            'Nhập bình luận...':'Inserir comentario',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Insira pelo menos tres caracteres para realizar uma pesquisa',
            'Nội dung không có quyền xem':'Nao tem permissao para vizualizar o conteudo',
            'Nội dung không được chấp nhận với lý do':'O conteudo nao e aceite por motivos…',
            'Nội dung không được chấp nhận':'Conteudo nao aceite',
            'OTP đã gửi thành công':'OTP enviado com sucesso',
            'Phản hồi đang được quản trị viên xem xét':'O feedback está a ser revisto pelos administradores',
            'PHÁT TẤT CẢ':'REPRODUZIR TODOS',
            'Phát tiếp theo':'Reproduzir seguinte',
            'Phút':'Minutos',
            'Quý khách vui lòng nhập mô tả từ':'Por favor insira a descricao de',
            'Quý khách vui lòng nhập tên từ':'Por favor insira o nome de',
            'rỗng, vui lòng chọn file khác.':'Vazio, por favor selecione outro ficheiro',
            'Tạo playlist mới':'Criar outra lista de reproducao',
            'Tắt chế độ phát lặp lại':'Desactivar reproducao repetida',
            'Tắt chế độ phát ngẫu nhiên':'Desactivar modo aleatorio',
            'Tắt chế độ vòng lặp':'Desactivar modo de loop',
            'Tắt thông báo thành công':'Desativar notificacoes bem-sucedidas',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Nome inserido e nao pode exceder 225 caracteres',
            'Tên nhập trong khoảng từ':'Inserir nome no intervalo',
            'Thành công':'Bem sucedido',
            'Thêm câu trả lời':'Adicionar resposta',
            'Thêm kênh':'Adicionar canal',
            'Thêm thành công':'Adicionaou com sucesso',
            'Thêm vào danh sách phát':'Adicionar a lista de reproducao',
            'Thêm vào xem sau':'Adicionar para ver mais tarde',
            'Thêm vào':'Adicionar',
            'Thêm video thành công vào playlist.':'Adicionar video a lista de reproduzidos com sucesso',
            'Theo dõi kênh thành công':'Canal track bem sucedido',
            'theo dõi':'Seguir',
            'Theo dõi':'Seguir',
            'Thích video thành công':'Gostar de videos bem sucedidos',
            'TIẾP THEO':'PROXIMO',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Insira o titula e nao exceda 255 caracteres',
            'Tôi không thích video này':'Nao gosto deste video',
            'Tôi thích video này':'Gosto deste video',
            'Trả lời':'Responder',
            'Trình duyệt không hỗ trợ':'O navegador nao suporta',
            'Từ chối duyệt':'Recusar a aprovacao',
            'Upload không thành công, vui lòng thử lại sau!':'Carregamento falhou, por favor tente mais tarde',
            'Upload không thành công':'Carregamento falhou  ',
            'Video chưa có tên':'Video sem nome',
            'VIDEO':'VIDEO  ',
            'Vừa xong':'Acabou de terminar',
            'Vui lòng chọn file upload':'Selecione o ficheiro a carregar',
            'Vui lòng chọn loại báo cáo lỗi':'Escolha um relatorio errado',
            'Vui lòng chọn loại báo cáo':'Selecione o tipo de relatorio',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Por favor resgista-te para utilizar este recurso',
            'Vui lòng nhập nội dung bình luận':'Por favor, insira um comentario',
            'Vui lòng nhập tên video':'Insira o nome do video',
            'Xác nhận mật khẩu không đúng.':'Palavra-passe incorrecta',
            'Xác nhận xóa kênh liên quan không?':'remover o canal relacionado?',
            'Xóa danh lịch sử xem thành công':'Historico de assistidos removidos com sucesso',
            'Xóa danh sách xem sau thành công':'Remover lista de sucessos após revisão',
            'Xóa lịch sử tìm kiếm thành công':'Remover histórico de pesquisa com sucesso',
            'Xóa lịch sử tìm kiếm thất bại':'Falha ao limpar o histórico de pesquisa',
            'Xóa lịch sử xem thành công':'Remover histórico de visualizacoes bem-sucedido ",',
            'Xóa nội dung thành công':'Removido conteudo com sucesso',
            'Xóa thành công':'Removido com sucesso',
            'Xóa video khỏi lịch sử thành công':'Removeu os videos do historico com sucesso',
            'Xóa video thành công ':'Removido o video com sucesso',
            'Xoá':'Remover',
            'Yêu cầu chọn Tháng':'Solicitar para selecionar mes',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'Solicitar para importar fotografia no cartao',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Solicitar para importar fotografias frontais no cartao ID',
            'Yêu cầu nhập chi nhánh ngân hàng':'Solicitar para inserir agencia bancaria',
            'Yêu cầu nhập địa chỉ':'Insira o endereco',
            'Yêu cầu nhập email':'Insira o e-mail',
            'Yêu cầu nhập file video':'Insira ficheiro de video',
            'Yêu cầu nhập mã số thuế':'Solicitar insercao numero tributario',
            'Yêu cầu nhập ngân hàng':'Solicitar entrada de conta bancaria',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Solicitar insercao de data de emissao do bilhete de identidade  ',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Solicitar insercao do local de emissao do bilhete de identidade',
            'Yêu cầu nhập Số chứng minh thư':'Solicitar de numero ID',
            'Yêu cầu nhập Số điện thoại Viettel':'Solicitar para inserir numero de telefone-VIETTEL',
            'Yêu cầu nhập Số điện thoại':'Solicitar insercao de  numero de telefone',
            'Yêu cầu nhập Tài khoản ngân hàng':'Conta Bancaria requisitada',
            'Yêu cầu nhập tên':'Insira o nome  ',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Solicitar de entrada de - ate a data',
            'Không có video':'Não há vídeos',
            'File không đúng định dạng:':'O arquivo está incorreto:',

        },
    }
    function trans(source) {
        //console.log('test:' +arrLang[mainLanguage][source]);
        //console.log(Object.keys(arrLang[mainLanguage][source]));
        // if(arrLang[mainLanguage][source].isEmpty()){
        //     return source;
        // }
        var item = arrLang[mainLanguage][source];
        console.log(item);
        if(item ==undefined){
            return source;
        }
        console.log(source);
       return item;

        // if (typeof arrLang[currentLanguage][source] != 'undefined') {
        //     return arrLang[currentLanguage][source];
        // }
        //  return source;

    }
</SCRIPT>
