{% for key,item in box.content %}
    <div class="item has-number item-{{item.id}}">
        <div class="number" id="number{{item.id}}">{{key +1}}</div>
        <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}" class="image" title="{{ item.fullName }}">
            <img src="{{ item.coverImage }}" onError="this.onerror=null;this.src='/images/data/16x9.png'" class="image16x9">
            <span class="time">{{ item.duration }}</span>
        </a>
        <div class="description">
            <a href="{{ url('video/detail',{'id':item.id, 'slug':item.slug, 'click_source': item.click_source, 'click_medium': item.click_medium })}}" class="name-video" title="{{ item.fullName }}">{{ item.name }}</a>
            <a href="{{ url('channel/get-detail',{'id':item.userId }) }}" class="name-author" title="{{ item.fullUserName }}">{{ item.userName }}</a>
            <div class="info">
                <span class="cols-info"><i class="{% if item.userId %} fa fa-circle {% endif%}"></i> {{ item.play_times }} {{t('web','lượt xem')}}</span>
                <span class="cols-info"><i class="fa fa-circle"></i> {{ item.publishedTime }}</span>
            </div>
            <div class="des des-playlist">
                {{ item.description }}
            </div>
            <a href="javascript:void(0)" data-id="{{item.id}}" data-name="{{item.name}}" class="rmVideoHistory" onclick="return addEvent('remove_video_from_playlist',  {'video_id': '{{ item.id }}', 'video_name': '{{ item.name }}', 'playlist_id': '{{ detail.id }}', 'playlist_name': '{{ detail.name }}' });">
                <span class="remove-video"><i class="fa icon-delete"></i></span>
            </a>
        </div>
    </div>

{% endfor %}
<div id="container"></div>
