{% if type=='ALL' %}

    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set registerSub = popup.package_id %}
    {% set urlRegisterSub = url('account/register-service') %}
{% endif %}

{% if type=='VOD' %}
    {% set isBuyVideo = popup.is_buy_video %}
    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRetail = popup.confirm_buy_video %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set confirmAcceptLossData = popup.confirm_accept_loss_data %}
    {% set idBuyVideo = popup.video_id %}
    {% set registerSub = popup.package_id %}
    {% set acceptLossData = popup.accept_loss_data %}
    {% set urlBuyRetail = url('account/buy') %}
    {% set urlRegisterSub = url('account/register-service') %}
    {% set urlAcceptLossData = url('account/accept-loss-data') %}
{% endif %}

{% if type=='FILM' or type=='PLAYLIST' %}
    {% set isBuyVideo = popup.is_buy_video %}
    {% set isBuyPlaylist = popup.is_buy_playlist %}
    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRetail = popup.confirm_buy_video %}
    {% set confirmCategory = popup.confirm_buy_playlist %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set confirmAcceptLossData = popup.confirm_accept_loss_data %}
    {% set idBuyVideo = popup.video_id %}
    {% set idBuyCategory = popup.playlist_id %}
    {% set registerSub = popup.package_id %}
    {% set acceptLossData = popup.accept_loss_data %}
    {% set urlBuyRetail = url('account/buy') %}
    {% set urlBuyCategory = url('account/buy') %}
    {% set urlRegisterSub = url('account/register-service') %}
    {% set urlAcceptLossData = url('account/accept-loss-data') %}
{% endif %}

{% set isConfirmSMS = popup.is_confirm_sms %}
{% set isRegisterFast = popup.is_register_fast %}
{% set contentId = popup.content_id %}





{% if type=='VOD' or type=='FILM' or type=='PLAYLIST' %}

    <div class="modal-vietnt" id="popup-step1" {% if autoDisplay %} style="display:block" {% endif %}>
        <div class="modal-content-vietnt">
            <h3 class="title">{{ t('wap','Xin chào {msisdn}', {'msisdn': msisdn }) }}</h3>
            <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
            <div class="row-form">
                <p>{{ popup.confirm|raw }}</p>
                <p>{{ popup.confirm_accept_loss_data|raw }}</p>
            </div>
            <div class="row-form-border">
                {% if isBuyVideo %}
                    <button class="btn-login btn-login-small btn-ok"
                            onclick="$('#popup-step1').fadeOut(); $('#popupBuyRetail').fadeIn(); ">
                        {{t('web','MUA LẺ')}}
                    </button>
                {% endif %}
                {% if isBuyPlaylist %}
                    <button class="btn-login btn-login-small btn-ok"
                            onclick="$('#popup-step1').fadeOut(); $('#popupBuyCategory').fadeIn()">
                        {{t('web','MUA TRỌN BỘ')}}
                    </button>
                {% endif %}
                {% if isRegisterSub %}
                    {% if isConfirmSMS %}
                        <button class="btn-login btn-login-small btn-ok"
                                onclick="document.getElementById('register-sub-form').submit()">
                            {{t('web','ĐĂNG KÝ')}}
                        </button>
                    {% else %}
                        <button class="btn-login btn-login-small btn-ok"
                                onclick="$('#popup-step1').fadeOut(); $('#popupRegisterPackage').fadeIn()">
                            {{t('web','ĐĂNG KÝ')}}
                        </button>
                    {% endif %}
                {% endif %}
                {% if acceptLossData %}
                    <form action="{{ urlAcceptLossData }}" method="post" id="accept-loss-data-form" style="display: inline-block">
                        <input type="hidden"
                               name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                               value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}" />
                        <button type="submit" class="btn-login btn-login-small btn-ok">
                            {{t('web','XEM TIẾP')}}
                        </button>
                    </form>
                {% endif %}
                <button class="action-vietnt btn-cancel" onclick="$('#popup-step1').fadeOut();">
                    {{t('web','ĐỂ SAU')}}
                </button>
            </div>
        </div>
    </div>
{% endif %}

{% if type == 'ALL' %}
    <div class="modal-vietnt" id="popup-step-promotion-1"  {% if autoDisplay %} style="display: block {% endif %}">
        <div class="modal-content-vietnt">
            <h3 class="title">{% if msisdn %}{{t('web','Xin chào')}} {{ msisdn }}{% else %}{{t('web','Đăng ký dịch vụ')}}{% endif %}</h3>
            <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
            <div class="row-form">
                <p>{{ popup.confirm|raw }}</p>
            </div>
            <div class="row-form-border">
                <button class="action-vietnt btn-cancel" onclick="$('#popup-step-promotion-1').fadeOut();">
                    {{t('web','ĐỂ SAU')}}
                </button>
                {% if isRegisterSub %}
                    <button class="btn-login btn-login-small btn-ok"
                            onclick="$('#popup-step-promotion-1').fadeOut(); $('#popupRegisterPackage').fadeIn()">
                        {{t('web','ĐĂNG KÝ')}}
                    </button>
                {% endif %}
            </div>  
        </div>
    </div>
{% endif %}

{% if isRegisterSub %}
    <div class="modal-vietnt" id="popupRegisterPackage">
        <div class="modal-content-vietnt">
            <h3 class="title">{{t('web','Mua gói cước')}}</h3>
            <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
            <div class="row-form">
                <p>{{ confirmRegisterSub|raw }}</p>
            </div>
            <div class="row-form-border">
                <form action="{{ urlRegisterSub }}" method="post" id="register-sub-form">
                    <input type="hidden" name="package_id" value="{{ registerSub }}"/>

                    {% if isRegisterFast %}
                        <input type="hidden" name="content_id" value="{{ contentId }}"/>
                    {% endif %}

                    <input type="hidden" 
                        name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                        value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                    <button type="button" class="action-vietnt btn-cancel" onclick="$('#popupRegisterPackage').fadeOut(); ">{{t('web','ĐỂ SAU')}}</button>
                    <button type="submit" class="btn-login btn-login-small btn-ok">
                        {{t('web','ĐỒNG Ý')}}
                    </button>
                 </form>
            </div>  
        </div>
    </div>
{% endif %}

{% if isBuyVideo %}
    <div class="modal-vietnt" id="popupBuyRetail">
        <div class="modal-content-vietnt">
            <h3 class="title">{{t('web','Mua lẻ')}}</h3>
            <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
            <div class="row-form">
                <p>{{ confirmRetail|raw }}</p>
            </div> 
            <div class="row-form-border">
                <form action="{{ urlBuyRetail }}" method="post" id="buy-retail-form">
                    <input type="hidden" name="item_id" value="{{ idBuyVideo }}"/>
                    <input type="hidden" name="type" value="VOD"/>
                    <input type="hidden"
                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                    <button type="button" class="action-vietnt btn-cancel" onclick="$('#popupBuyRetail').fadeOut(); ">{{t('web','ĐỂ SAU')}}</button>
                    <button type="submit" class="btn-login btn-login-small btn-ok">
                        {{t('web','ĐỒNG Ý')}}
                    </button>
                 </form>
            </div>   
        </div> 
    </div>
{% endif %}

{% if isBuyPlaylist %}
    <div class="modal-vietnt" id="popupBuyCategory">
        <h3 class="title">{{t('web','Mua lẻ')}}</h3>
        <span class="action-vietnt close" data-dismiss="close"><i class="fa icon-delete"></i></span>
        <div class="row-form">
            <p>{{ confirmCategory|raw }}</p>
        </div> 
        <div class="row-form-border">
            <form action="{{ urlBuyCategory }}" method="post" id="buy-category-form">
                <input type="hidden" name="item_id" value="{{ idBuyCategory }}"/>
                <input type="hidden" name="type" value="PLAYLIST"/>
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                <button type="button" class="action-vietnt btn-cancel" onclick="$('#popupBuyCategory').fadeOut(); ">{{t('web','ĐỂ SAU')}}</button>
                <button type="submit" class="btn-login btn-login-small btn-ok">
                    {{t('web','ĐỒNG Ý')}}
                </button>
            </form>
        </div> 
    </div>
{% endif %}

