{#<script type='text/javascript'>
    var countlyObj = {
    {% for key, value in trackingContent.content %}
        "{{ key }}": "{{ value }}",
    {% endfor %}
    };

    //send event on button click
    function addEvent(eventName, obj){
    Countly.q.push(['add_event', {
    "key": eventName,
    "segmentation": jQuery.extend(countlyObj, obj)
    }]);
    }

</script>#}