{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}


    {{ HeaderWidget.widget({'title':t('wap', 'Thông báo'),'type':'sub'}) | raw }}

    <section class="blk blkPackages blkPadBoth">
            <article class="ctn pkItem">
                <p>
                   {{ message }}
                </p>
            <p> {{ t('wap', 'Sẽ tự chuyển đến chi tiết video sau') }} <span id="countdown">3</span>s. {{ t('wap', 'Hoặc click') }} <a href="{{ redirectLink }}"> {{ t('wap', 'vào đây') }} </a></p>
            </article>
    </section>

    <div style="display: none">
        {% if errorCode ==0 or errorCode ==977 %}
            {% include '@app/views/partials/adwords.twig' with {'a':1}  %}
        {% endif %}
    </div>
    <script type="text/javascript">
        // Total seconds to wait
        var cdSeconds = 3;

        function countdownS() {
            cdSeconds = cdSeconds - 1;
            if (cdSeconds < 0) {
                // Chnage your redirection link here
                window.location = "{{ redirectLink }}";
            } else {
                // Update remaining seconds
                document.getElementById("countdown").innerHTML = cdSeconds;
                // Count down using javascript
                window.setTimeout("countdownS()", 1000);
            }
        }
        // Run countdown function
        countdownS();

    </script>





