{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title':  t('wap', 'Liên hệ')}) | raw }}
<div class="mdl-support ctn blkPadBoth">
    <h3 class="title">{{ t('wap', 'Liên hệ') }}</h3>
    <div class="mdl-support-content">
        <p>{{ t('wap', 'Thông tin liên hệ') }}:<br/>
            {{ t('wap', 'Dự án MXH MyClip – Trung tâm VAS – Tổng Công ty Viễn thông Viettel') }}<br/>
            {{ t('wap', 'Địa chỉ: Tòa nhà CIT ngõ 15 đường Duy Tân – quận Cầu Giấy – thành phố Hà Nội') }}.<br/>
            {{ t('wap', 'Số điện thoại') }}: (024) 62731458<br/>
            {{ t('wap', 'Tổng đài 24/24: 198 (miễn phí liên hệ từ thuê bao Viettel)') }}<br/>
        </p>
    </div>
</div>
