{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

<div class="blkPadBoth">
    <!--
    <section class="blk blkIphoneX blkBdBt">
        <div class="ctn banner">
            <span class="hot">Hot</span> <span class="title"><a href="/event/main-index">Xem video - Trúng thẻ cào, iPhone X</a></span>
        </div>
    </section>
    -->
    {#
    {{ CHtml::form() }}
        <div id="langdrop">
            {{ CHtml::dropDownList('_lang', currentLang, array('en_us' => 'English', 'is_is' => 'Icelandic'), array('submit' => '')) }}
        </div>
    {{  CHtml::endForm() }}
    #}
    {% for block in responseData.data %}
        {# {{ responseData.data | var_dump}} #}
        {# {% set text='line 14 '~responseData.data %}
        {{ text }}#}
        {% if block.content|length > 0 %}
            {% if block.type=='CATEGORY' %}
            {#{{block.type}}#}
                <section class="blk blkTopChnls">
                    <ul class="chnlSlider owl-carousel">
                        {#Doan lay du lieu hien thi cac channel#}
                        {% for category in block.content %}
                            {# {{ category | var_dump}} #}
                            <li class="owl-item li-cate" id="li-cate-{{ category.id }}">
                                <div class="avatar {% if category.is_event %} highlight-event {% endif %}">
                                    <a onclick="loadHomeCategory('{{ category.id }}')">
                                        <img src="{{ category.avatarImage }}" alt="{{ category.name }}">
                                    </a>
                                </div>
                                <p class="title {% if category.is_event %} text-highlight-event {% endif %}">{{ category.name_short  }} </p>
                            </li>
                        {% endfor %}

                    </ul>
                </section>
            {% endif %}
        {% endif %}

        {% if block.type!='CATEGORY' and block.content|length > 0 %}
            {# {{ block.type ~ block.content|length }} #}
            <section class="blk blkListVideos">
                <div class="ctn">

                    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                    <input type="hidden" id="getMoreOffset" value="0">
                    <input type="hidden" id="load-more-id" value="video_hot"/>

                    <div id="root-tab">
                        {% include "@app/views/partials/videoBox.twig" with {'data': block, 'hasTitle': true, 'hasArrow': false} %}
                    </div>

                    {% if block.content|length == 0 %}
                        <p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
                    {% endif %}

                    <div id="container">
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

</div>

{% if popup %}
    {% include '@app/views/partials/popup.twig' with {'type': 'ALL', 'popup': popup, 'msisdn': msisdn } %}
{% endif %}

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
