{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title': t('wap', 'Giới thiệu')}) | raw }}

<div class="mdl-support ctn">
    <h3 class="title" style="margin-top: 50px">{{t('wap', 'Giới thiệu dịch vụ') }}</h3>
    <div class="mdl-support-content">
        <p>
            {{t('wap', 'MyClip là một mạng xã hội video do Viettel cung cấp. Là nơi để người dùng có thể tải lên (upload), xem, chia sẻ (share), thêm vào mục yêu thích (like), bình luận về video (comment), theo dõi người dùng khác (follow) … KHÔNG GIỚI HẠN LƯU LƯỢNG DATA TỐC ĐỘ CAO VIETTEL') }}
        </p>
        <p>
            {{t('wap', 'Myclip có hàng trăm nghìn video đặc sắt, hấp dẫn (Yan; Yeah1; KemxoiTV; Sao Nhập ngũ; Bạn muốn hẹn hò…)') }}
        </p>

    </div>
</div>
