{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}
{{ HeaderWidget.widget({'type':'sub','title':title}) | raw }}

<main>
    <section class="blk blkFollow blkPadBoth">
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="type" value="CHANNEL">

        <input type="hidden" id="load-more-id" value="list_channel_follow"/>
        {% for list in responseData.data.content %}
            <article class="userItem" id="{{ list.channel_id }}">
            <div class="ctn">
            <div class="avatar left">
                <a href="channel/{{ list.channel_id }}">
                    {% if (list.avatarImage == '') %}
                    <img src="../images/dfphoto.png" alt="">
                    {% else %}
                    <img src=" {{ list.avatarImage }} " alt="">
                    {% endif %}
                </a>
            </div>

            <div class="ctnhld">
                <h6 class="title"><a href="channel/{{ list.channel_id }}">{{ list.channel_name }}</a></h6>
                <div class="txtInfo">
                    {{ t('wap', '{count} video(s)', {'count': list.num_video}) }} <i class="dot"></i>
                    {{ t('wap', '{count} lượt theo dõi', {'count': list.num_follow}) }}
                </div>
            </div>

            <a class="icoMore btn btnOutlineBlueS right follow-btn-2" onclick="followChannel({{ list.channel_id }});return addEvent('follow_channel_action', {'channel_id': '{{ list.channel_id }}', 'channel_name': '{{ list.channel_name }}', 'follow_type ': '0' });">
                <svg class="ico">
                    <use xlink:href="../images/defs.svg#ico-follow"></use>
                </svg>
                <span>{{t('wap', 'Đã theo dõi') }}</span>
            </a>

            </div>
            </article>
        {% endfor %}

        {% if responseData.data.content|length ==0 %}
            <p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
        {% endif %}

        <div id="container">
        </div>
    </section>
</main>

