{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}

{% set packages = responseData.data %}
{% set isConfirmSMS = responseData.isConfirmSMS %}
{% set showMessage =0 %}

    {{ HeaderWidget.widget({'title': t('wap', 'Gói cước') ,'type':'sub'}) | raw }}

    <section class="blk blkPackages blkPadBoth">
        {% for package in packages %}
            {% if package.status %}
                {% set showMessage =1 %}
            {% endif %}
        {% endfor %}

        {% if showMessage %}
            <p class="ctn">
                {{ responseData.infoMessage }}
            </p>
        {% elseif msisdn %}
            <p class="ctn">
                {{ t('wap', 'Xin chào {msisdn}', {'msisdn': msisdn}) }},
            </p>
        {% endif %}

        {% if(packages|length == 0) %}
            <p class="ctn">{{ t('wap', 'Không có gói cước') }}</p>
        {% endif %}

        {% for package in packages %}
            <article class="ctn pkItem">
                <h5>{{ package.name }} {% if( package.status == 1) %}<span class="right reged"><svg class="ico"><use xlink:href="/images/defs.svg#ico-checked"></use></svg> {{ t('wap', 'Đã đăng ký') }}</span>{% endif %}</h5>
                <p class="clrGrey">{{ package.description }}</p>
                <input type="hidden" class="package_id" value="{{ package.id }}"/>
                {% if( package.status == 0) %}
                    {% if isConfirmSMS %}
                        <a {% if userId %}  href="javascript:void(0)"  onclick="document.getElementById('{{ 'f_'~ package.id }}').submit();" {% else %} class="btn btnBlue" href="/auth/login" {% endif %}  class="btn btnBlue" >{{ t('wap', 'Đăng ký') }}</a>
                    {% else %}
                        <a {% if userId %}  href="javascript:void(0)" data-target="#package_popup_{{ package.id }}_step2" {% else %} class="btn btnBlue" href="/auth/login" {% endif %}  class="btn btnBlue modalBtn" >{{ t('wap', 'Đăng ký') }}</a>
                    {% endif %}

                {% else %}
                    <a href="javascript:void(0)" class="btn btnOutline modalBtn"
                       data-target="#package_popup_{{ package.id }}_step1">{{ t('wap', 'Hủy gói') }}</a>
                {% endif %}
            </article>
            {% if package.status==0 %}
                <div class="modal modalPopup" id="package_popup_{{ package.id }}_step1">
                    <div class="ctn">
                        <h5>{{ t('wap', 'Đăng ký gói cước') }}</h5>
                        <p class="clrGrey"> {{ package.popup[0]|raw }} </p>
                        <div class="action alRight">
                            <form action="/account/register-service" method="post" id={{ 'f_'~ package.id }} >
                                <input type="hidden" name="package_id" value="{{ package.id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                                <a class="ok modalBtn" href="javascript:void(0)" data-target="#package_popup_{{ package.id }}_step2">{{ t('wap', 'Đăng ký') }}</a>
                                <a class="close" href="javascript:void(0)">{{ t('wap', 'Để sau') }}</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal modalPopup" id="package_popup_{{ package.id }}_step2">
                    <div class="ctn">
                        <h5>{{ t('wap', 'Xác nhận mua gói cước') }}</h5>
                        <p class="clrGrey">{{ package.popup[1]|raw }}</p>
                        <div class="action alRight">
                            <form action="/account/register-service"  method="post">
                                <input type="hidden" name="package_id" value="{{ package.id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                                <a class="ok okSubmit" href="javascript:void(0)" onsubmit="return addEvent('goi_cuoc_register_action', {'goi_cuoc_type': '{{ package.type }}', 'goi_cuoc_id': '{{ package.id }}', 'goi_cuoc_price': '{{ package.fee }}'});">{{ t('wap', 'Đồng ý') }}</a>
                                <a class="close" href="javascript:void(0)">{{ t('wap', 'Để sau') }}</a>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="modal modalPopup" id="package_popup_{{ package.id }}_step1">
                    <div class="ctn">
                        <h5>{{ t('wap', 'Hủy gói cước') }}</h5>
                        <p class="clrGrey">{{ package.popup[0]|raw }}</p>
                        <div class="action alRight">
                            <form action="/account/unregister-service"  method="post">
                                <input type="hidden" name="package_id" value="{{ package.id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                                <a class="ok okSubmit" href="javascript:void(0)" onclick="return addEvent('goi_cuoc_cancel_action', {'goi_cuoc_type': '{{ package.type }}', 'goi_cuoc_id': '{{ package.id }}', 'goi_cuoc_price': '{{ package.fee }}'});">{{ t('wap', 'Hủy dịch vụ') }}</a>
                                <a class="close" href="javascript:void(0)">{{ t('wap', 'Đóng') }}</a>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </section>





