{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}
{{ HeaderWidget.widget({'type':'sub','title': t('wap', 'Chính sách riêng tư')}) | raw }}

<div class="mdl-support ctn">
    <h3 class="title">Chính sách riêng tư của MXH MeuClip</h3>
    <div class="mdl-support-content">
        <p>
            Các nội dung trên dịch vụ MeuClip, gồm tất cả các nội dung do người sử dụng đăng tải, bao gồm và không giới
            hạn âm thanh, âm nhạc, video... trách nhiệm thuộc về người đăng tải nội dung lên hệ thống. Chính vì vậy, khi
            cá nhân đăng một nội dung lên hệ thống thì cần chắc chắn rằng người sử dụng được sự cho phép hợp pháp của
            tác giả, và đoạn nội dung đó không vi phạm quyền sở hữu trí tuệ.
        </p>
        <p>
            Cá nhân không được phép sao chép, phân tán, chuyển nhượng, bán, cấp phép, sửa chữa hoặc khai thác vào bất kỳ
            mục đích nào khác mà không được sự đồng ý của người có thẩm quyền của Viettel. MeuClip giữ quyền sở hữu đối
            với các nội dung chưa rõ ràng về quyền sở hữu trí tuệ trên/hoặc có liên quan. Nếu cá nhân tải xuống hoặc in
            một nội dung nào đó (sử dụng vì mục đích cá nhân) phải tuân theo các quy định về bản quyền hoặc các luật về
            sở hữu trí tuệ liên quan tới nội dung đó.
        </p>
        <p>
            Vì vậy cá nhân không được phép (bao gồm và không giới hạn) đánh dấu hay đăng ký cũng như sao chép, mô phỏng,
            sử dụng toàn bộ hay một phần những logo, tên gọi, tên miền thuộc quyền sở hữu của MeuClip (http://meuclip.co.mz)
            vào bất kỳ mục đích nào mà không được sự cho phép bằng văn bản của Viettel
        </p>
        <p>
            Mọi sự xâm phạm bản quyền MeuClip, dưới bất kỳ hình thức nào sẽ bị xử lý theo pháp luật. Cá nhân đồng ý không
            làm hỏng, vô hiệu hoá hoặc có những xâm phạm khác vào các tính năng bảo mật hoặc các chức năng ngăn chặn,
            cấm sử dụng, sao chép các nội dung và tôn trọng các qui định về giới hạn sử dụng của MXH MeuClip.
        </p>
    </div>

</div>
