{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

<div class="blkPadBoth">
    {% if categoryData.data.content|length >0  %}
        <section class="blk blkTopChnls">
            <ul class="chnlSlider owl-carousel">
                {% for category in categoryData.data.content %}
                    <li class="owl-item" style="text-align: center">
                        <div class="avatar">
                            <a href="/chuyen-muc/{{ category.id }}/{{ category.slug }}">
                                <img src="{{ category.avatarImage }}" alt="{{ category.name }}">
                            </a>
                        </div>
                        <span class="cate-name" >{{ category.name_short  }} </span>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section class="blk blkListVideos">
        <div class="ctn">
            <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
            <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
            <input type="hidden" id="load-more-id" value="video_home"/>

            {% include "@app/views/partials/videoBox.twig" with {'data': videoData.data, 'hasTitle': true, 'hasArrow': false} %}

            {% if videoData.data.content|length == 0 %}
                <p class="ctn">{{t('web','Không có dữ liệu')}}</p>
            {% endif %}

            <div id="container">
            </div>
        </div>
    </section>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
