{{ use('wapsite/assets/ListSmallAsset') }}
{{ register_list_small_asset() }}

<header>
    <div class="ctn">
        <div class="lMn">
        </div>
        <div class="rMn">
            <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
        </div>
        <nav class="mainMn pTitle alCenter">
            {{ t('wap', 'Tìm kiếm') }}: {{ query }}
        </nav>
    </div>
</header>

<div class="modal modalSearch" id="searchPop">
    <div class="siBox">
        <div class="ctn">
            <div class="lIco">
                <button type="reset"><svg class="ico close"><use xlink:href="/images/defs.svg#ico-back"></use></svg></button></div>
            <div class="rIco">
                <button class="icoClose" onclick="removeKeyword()" type="reset"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></button>
                <a href="javascript:void(0)" class="ico-search-header">
                    <svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg>
                </a>
            </div>
            <input class="ipt iptLg iptSearch" id="keyword" type="text" placeholder="{{t('wap', 'Nhập từ khóa') }}" autofocus>
        </div>
    </div>
    <div class="blkSearch">
        <ul id="contentSuggess">
        </ul>
    </div>
</div>

<input type="hidden" value="{{ url('default/search-suggestion') }}" id="urlSearch">
<div id="main-result-search">
    <div class="blk blkPadBoth">
        {% set isEmpty = 1 %}
        {% for box in responseData %}
            {% if box.content|length >0 %} {% set isEmpty = 0 %} {% endif %}
            {% if box.id =='channel_search' %}
                <section class="blk blkChannel" id="searchChannel">
                    <h6 class="blkTitle">{{t('wap', 'KÊNH') }}</h6>
                    <input type="hidden" id="search-channel-offset" value="{{ offset }}"/>
                    <input type="hidden" id="search-channel-limit" value="{{ limit }}"/>
                    {% set cc=0 %}
                    {% for item in box.content %}
                        {% set cc=cc+1 %}
                        <article class="userItem">
                            <div class="ctn">
                                <div class="avatar left">
                                    <a href="/channel/{{ item.channel_id }}"><img
                                                src="{{ item.avatarImage }}" alt=""></a>
                                </div>
                                <div class="ctnhld">
                                    <h6 class="title"><a
                                                href="/channel/{{ item.channel_id }}">{{ item.channel_name }}</a></h6>
                                    <div class="txtInfo">
                                        {{ item.num_video }} {{ item.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}
                                        <br>
                                        {{ item.num_follow }} {{t('wap', 'lượt theo dõi') }}
                                    </div>
                                </div>
                            </div>
                        </article>

                    {% endfor %}


                </section>

                {% if box.content|length >= offset %}
                    <div class="dDown dDownPadding">
                        <a class="right trans" href="javascript:void(0)">
                            <svg class="ico" onclick="loadSearchMoreChannel('{{ query }}', this)">
                                <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                            </svg>
                        </a>
                    </div>
                    <input type="hidden" id="video_search_state" value="down">
                {% endif %}
            {% elseif box.id == 'video_search' %}
                <section class="blk blkListVideosVer blkBdTop" id="searchVideo">
                    <h6 class="blkTitle">{{t('wap', 'VIDEO') }}</h6>
                    <input type="hidden" id="search-video-offset" value="{{ offset }}"/>
                    <input type="hidden" id="search-video-limit" value="{{ limit }}"/>
                    {% set cc=0 %}
                    {% for video in box.content %}
                        {% set cc=cc+1 %}

                        <article class="videoItem item-{{ video.id }}">
                            <div class="ctn">
                                <div class="pthld">
                                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium }) }}">
                                        <img src="{{ video.coverImage }}"
                                             onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
                                    </a>
                                    {% if(item.price_play == 0) %}
                                        <div class="attach-img">
                                            <img src="/images/freeVideo.png">
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="ctnhld">
                                    <h6 class="title"><a
                                                href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium }) }}">{{ video.name }}</a>
                                    </h6>
                                    <p class="txtInfo">
                                        {% if hideChannel %}
                                            {{ t('wap','{count} lượt xem', {'count': video.play_times}) }} <i class="dot"></i>{{ video.publishedTime }}
                                        {% else %}
                                            <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a>
                                            <i class="dot"></i>
                                            {{ t('wap','{count} lượt xem', {'count': video.play_times}) }}
                                        {% endif %}
                                    </p>
                                </div>

                                {% if displayMoreBtn %}
                                    <a class="icoMore optMnBtn"
                                       data-target="{% if playlist %} #playlistOpt {% else %} #videoOpt{% endif %}"
                                       data-id="{{ video.id }}">
                                        <svg class="ico">
                                            <use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}

                </section>
                {% if box.content|length >= offset %}
                    <div class="dDown">
                        <a class="right trans" href="javascript:void(0)">
                            <svg class="ico" onclick="loadSearchMoreVideo('{{ query }}', this)">
                                <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
                            </svg>
                        </a>
                    </div>
                    <input type="hidden" id="channel_search_state" value="down">
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if(isEmpty) %}
            <p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
        {% endif %}

    </div>
</div>

<div id="main-suggestion-search" style="display: none">
    <section class="blk blkSearch blkPadBoth ">
        <ul id="contentSuggess">
            {% for keyword in keywords %}
                <li><a href="/default/search-result?query={{ keyword }}">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-recent"></use>
                        </svg>
                        {{ keyword }}
                        <svg class="ico right">
                            <use xlink:href="/images/defs.svg#ico-arrow45"></use>
                        </svg>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>

<input type="hidden" value="{{ url('default/search-suggestion') }}" id="urlSearch">



{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
