{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

<header class="search">
    <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-search"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="javascript:void(0)" onclick="removeKeyword()">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-close"></use>
                    </svg>
                </a>
            </div>
            <nav class="mainMn pTitle alCenter">
                <input class="ipt iptLg" type="text" id="keyword" placeholder={{t('wap', 'Nhập từ khóa') }} autofocus>
            </nav>
    </div>
</header>
<input type="hidden" value="{{ url('default/search-suggestion') }}" id="urlSearch">

<main>
    <section class="blk blkSearch blkPadBoth" >
        <ul id="contentSuggess">
            {% for keyword in keywords %}
            <li><a href="/default/search-result?query={{ keyword }}">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-recent"></use>
                    </svg>
                    <span class="trunc-text">{{ keyword }}</span>
                    <svg class="ico right">
                        <use xlink:href="/images/defs.svg#ico-arrow45"></use>
                    </svg>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>
</main>