{% for box in responseData %}
    {% set cc=0 %}
    {% for item in box.content %}
    {% set cc=cc+1 %}
        <article class="userItem {% if cc>3 %}hideMeChannel{% endif %}">
            <div class="ctn">
                <div class="avatar left">
                    <a href="/channel/{{ item.channel_id }}">
                        <img src="{{ item.avatarImage }}" alt="">
                    </a>
                </div>
                <div class="ctnhld">
                    <h6 class="title">
                        <a href="/channel/{{ item.channel_id }}">{{ item.channel_name }}</a>
                    </h6>
                    <div class="txtInfo">
                        {{ item.num_video }} {{ item.num_video > 1 ? t('wap', 'videos') : t('wap', 'video') }}
                        <br>
                        {{ item.num_follow }} {{ t('wap', 'lượt theo dõi') }}
                    </div>
                </div>
            </div>
        </article>

    {% endfor %}
{% endfor %}
