{% for box in responseData %}

    {% for video in box.content %}
        {% set cc=cc+1 %}

        <article class="videoItem item-{{ video.id }}">
            <div class="ctn">
                <div class="pthld">
                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium }) }}">
                        <img src="{{ video.coverImage }}"
                             onError="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                    </a>
                    {% if(video.price_play == 0) %}
                        <div class="attach-img">
                            <img src="/images/freeVideo.png">
                        </div>
                    {% endif %}
                </div>
                <div class="ctnhld">
                    <h6 class="title"><a
                                href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium }) }}">{{ video.name }}</a>
                    </h6>
                    <p class="txtInfo">
                        {% if hideChannel %}
                            {{ t('wap','{count} lượt xem', {'count': video.play_times}) }} <i class="dot"></i>{{ video.publishedTime }}
                        {% else %}
                            <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a>
                            <i class="dot"></i>
                            {{ t('wap','{count} lượt xem', {'count': video.play_times}) }}
                        {% endif %}
                    </p>
                </div>
                {% if displayMoreBtn %}
                    <a class="icoMore optMnBtn"
                       data-target="{% if playlist %} #playlistOpt {% else %} #videoOpt{% endif %}"
                       data-id="{{ video.id }}">
                        <svg class="ico">
                            <use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use>
                        </svg>
                    </a>
                {% endif %}
            </div>
        </article>
    {% endfor %}

{% endfor %}