{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}
{{ HeaderWidget.widget({'type':'sub','title': t('wap', 'Chính sách riêng tư')}) | raw }}

<div class="mdl-support ctn">
    <h3 class="title">{{t('web','Chính sách dịch vụ')}}</h3>
    <div class="mdl-support-content">
        <h4>{{ t('web', 'Prequisite conditions') }}:</h4>
        <p> - {{ t('web', "Myclip service is only for HALOTEL's subscribers") }}</p>
        <p> - {{ t('web', "Subscribers are in two-ways active") }}</p>
        <p> - {{ t('web', "To use a service a user must have smartphone, Computer, tablet or any 3G device") }}</p>
        <p> - {{ t('web', "Users with both Android and IOS will be able to access myclip service") }}</p>
        <p> - {{ t('web', "Have enough money to join the service") }}</p> <br/>

        <h4>{{ t('web', 'Service packages') }}:</h4>
        <p>{{ t('web', 'Myclip service has 3 packages: Daily,  Weekly and Monthly package') }}</p>
        <p>+ <strong>{{ t('web', 'Daily Package') }}</strong></p>
        <p>&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 150Tsh/Day for registering daily package') }}</p>
        <p>+ <strong>{{ t('web', 'Weekly Package') }}</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 500Tsh/Day for registering weekly package') }}</p>
        <p>+ <strong>{{ t('web', 'Monthly Package') }}</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;- {{ t('web', 'Service fee is 2000Tsh/Day for registering monthly package') }}</p>
    </div>

</div>

