{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}
{{ HeaderWidget.widget({'type':'sub','title': t('wap', 'Chính sách riêng tư')}) | raw }}

<div class="mdl-support ctn">
    <h3 class="title">{{t('web','Hướng dẫn dịch vụ')}}</h3>
    <div class="mdl-support-content">
        <h4>{{ t('web', 'Service Subscription') }}:</h4>
        <p> - {{ t('web', "Send ON, ON7 or ON30 to 15738 to register packages") }}</p>
        <p> - {{ t('web', "To use a service , please visit haloclip.co.tz, and subscribe to service packages to enjoy a diversity range of interesting video clips") }}</p>

        <h4>{{ t('web', 'Service Unsubscription') }}:</h4>
        <p>- {{ t('web', 'To unsubscibe a service , Send OFF to 15738.') }}</p>

        <h4>{{ t('web', 'Package subscription via app/Web/ or Wap') }}:</h4>
        <p> - {{ t('web', "Visit haloclip.co.tz") }}</p>
        <p> - {{ t('web', "Go to subscription button and press it for subscription the preferred package") }}</p>

        <h4>{{ t('web', 'Help Informations') }}:</h4>
        <p>- {{ t('web', 'Send HELP 15738 or call 100 (Free)') }}</p>
    </div>

</div>

