{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title': t('wap', 'Điều khoản')}) | raw }}

<div  class="mdl-support ctn" style="margin-top:50px">
    <div class="mdl-support-content">
        {{ t('wap', 'Nội dung hiện tại đang được cập nhật.') }}
{#        <h6>I. CÁC NỘI DUNG CẤM TRAO ĐỔI, CHIA SẺ TRÊN MẠNG XÃ HỘI MYCLIP</h6>#}
{#        <p>- Tuyệt đối nghiêm cấm mọi hành vi tuyên truyền, chống phá và xuyên tạc chính quyền, thể chế chính trị, và các chính sách của nhà nước, kích động bạo lực, tuyên truyền chiến tranh xâm lược, gây hận thù giữa các dân tộc và nhân dân các nước. Không lưu giữ những nội dung dâm ô, đồi trụy, kích động tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong mỹ tục của dân tộc, hay tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những hành vi vi phạm pháp luật khác theo quy định của pháp luật Việt Nam. Trường hợp phát hiện, không những bị xóa bỏ tài khoản mà chúng tôi còn có thể cung cấp thông tin của người đó cho các cơ quan chức năng để xử lý theo pháp luật.</p>#}
{#        <p>- Nghiêm cấm việc xúc phạm, nhạo báng người khác dưới bất kỳ hình thức nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc...). <br>#}
{#            Nghiêm cấm mọi hành vi mạo nhận hay cố ý làm người khác tưởng lầm mình là một người khác trên MXH MYCLIP. Mọi hành vi vi phạm sẽ bị xử lý hoặc tước bỏ tài khoản.#}
{#        </p>#}
{#        <p>- Không được gửi lên MXH MYCLIP bất kỳ thông tin bất hợp pháp, lừa gạt, bôi nhọ, sỉ nhục, tục tĩu, khiêu dâm, xúc phạm, đe dọa, lăng mạ, thù hận, kích động… hoặc trái với chuẩn mực đạo đức chung của xã hội. </p>#}
{#        <p>- Nghiêm cấm những nội dung miêu tả tỉ mỉ những hành động dâm ô, bạo lực, giết người rùng rợn; đăng, phát các hình ảnh phản cảm, thiếu tính nhân văn; cung cấp nội dung, hình ảnh, tranh khỏa thân có tính chất kích dục, thiếu thẩm mỹ, không phù hợp với thuần phong, mỹ tục Việt Nam.</p>#}
{#        <p>#}
{#            - Nghiêm cấm tuyên truyền những thông điệp mang tính quảng cáo, mời gọi, quảng bá cơ hội đầu tư hay bất kỳ dạng liên lạc nào có mục đích thương mại mà người dùng không mong muốn; vi phạm hoặc xâm phạm các quyền của những người khác, trong đó bao gồm cả tài liệu xâm phạm đến quyền riêng tư hoặc công khai, hoặc tài liệu được bảo vệ bản quyền, tên thương mại hoặc quyền sở hữu khác, các sản phẩm phái sinh mà không được sự cho phép của người có quyền hợp pháp.#}
{#        </p>#}
{#        <p>#}
{#            - Không được gửi hoặc truyền tải bất kỳ thông tin nào không thuộc quyền sở hữu của người sử dụng trừ khi đó là thông tin được cung cấp miễn phí.#}
{#        </p>#}
{#        <p>#}
{#            - Tuyệt đối nghiêm cấm việc gửi bất kỳ thông tin nào có chứa các loại virus, trojan, bọ hay các thành phần gây nguy hại đến hệ thống MXH MYCLIP, máy tính, mạng Internet và các thông tin bảo mật của MXH MYCLIP và của các thành viên trên MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Không được sử dụng, cung cấp thông tin vi phạm các quy định về sở hữu trí tuệ, về giao dịch thương mại điện tử và các quy định khác của pháp luật hiện hành.#}
{#        </p>#}
{#        <p>#}
{#            - Không được xâm phạm, xâm nhập, tiếp cận, sử dụng bất kỳ phần nào trong máy chủ của chúng tôi, và bất kỳ dữ liệu nào nếu không được chúng tôi cho phép, nghiêm cấm các hành vi lợi dụng lỗi hệ thống để trục lợi cá nhân gây thiệt hại đến nhà cung cấp dịch vụ và các thành viên của MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Không được phá vỡ luồng thông tin bình thường trong một tương tác, đưa ra tuyên bố hoặc đại diện cho một doanh nghiệp, hiệp hội, thể chế hay tổ chức nào khác mà người sử dụng không được uỷ quyền phát ngôn hoặc nhằm mục đích trục lợi cá nhân gây sự nhầm lẫn đối với những thành viên cùng tham gia MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Không được tạo ra các thông tin giả mạo cá nhân, tổ chức, doanh nghiệp khác; thông tin sai sự thật xâm hại đến quyền và lợi ích hợp pháp của các cá nhân, tổ chức khác.#}
{#        </p>#}
{#        <p>#}
{#            - Không được có các hành động nhằm hạn chế hoặc cấm đoán bất kỳ người dùng nào khác sử dụng MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Không được truyền bá tác phẩm báo chí, văn học, nghệ thuật, xuất bản phẩm vi phạm các quy định của pháp luật.#}
{#        </p>#}
{#        <p>#}
{#            -Dịch vụ này được phát triển và sở hữu bởi Viettel, không cá nhân, tổ chức nào được phép sao chép, tái tạo, phân phối, sử dụng cho mục đích thương mại hoặc hình thức khác xâm phạm tới quyền của chủ sở hữu nếu không có sự đồng ý và cho phép bằng văn bản của Viettel. Mọi vi phạm sẽ được xử lý như sau: ngừng cung cấp dịch vụ và phạt theo quy định của pháp luật hiện#}
{#        </p>#}
{#        <h6>II. QUYỀN, TRÁCH NHIỆM CỦA NGƯỜI SỬ DỤNG DỊCH VỤ  </h6>#}
{#        <p>1. Quyền của người sử dụng dịch vụ  MXH MYCLIP</p>#}
{#        <p>- Được quyền tham gia sử dụng dịch vụ  MXH MYCLIP, nếu đồng ý với nội dung của Thỏa thuận cung cấp và sử dụng dịch vụ  MXH MYCLIP.</p>#}
{#        <p>- Được quyền đăng ký tài khoản người dùng trên MXH MYCLIP.</p>#}
{#        <p>#}
{#            - Thuê bao 3G Viettel được quyền nhận tin nhắn Alert miễn phí (tin nhắn giới thiệu nội dung Hot trên MyClip) nếu trong vòng 07 ngày không có lịch sử truy cập MyClip. Lưu ý: Hệ thống sẽ nhắn tin tối đa 2 lần cho khách hàng nếu khách hàng vẫn tiếp tục không truy cập MyClip sẽ mất quyền lợi nhận tin nhắn Alert miễn phí này. Khách hàng có quyền từ chối nhận tin nhắn Alert miễn phí bằng cách soạn tin TC MyClip gửi 1331 (miễn phí).#}
{#        </p>#}
{#        <p>- Có quyền chia sẻ thông tin dưới các định dạng MXH MYCLIP đã quy định.</p>#}
{#        <p>2. Trách nhiệm của người sử dụng dịch vụ  MXH MYCLIP</p>#}
{#        <p>- Có trách nhiệm tuân thủ mọi quy định của MXH MYCLIP.</p>#}
{#        <p>- Chịu trách nhiệm đối với các nội dung, video clip và bất kỳ sự chia sẻ nào với các cá nhân, tổ chức khác trên MXH MYCLIP. </p>#}
{#        <p> - Không sử dụng MXH MYCLIP vào mục đích thương mại mà không có sự cho phép bằng văn bản của chúng tôi trước đó. </p>#}
{#        <p>#}
{#            - Không được hạn chế hoặc cấm đoán bất kỳ người dùng nào khác sử dụng và đọc thông tin trên MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Cho phép cho MXH MYCLIP sử dụng, trưng bày, tái sản xuất, chỉnh sửa, làm cho phù hợp, xuất bản, cung cấp, xúc tiến, dịch và tạo ra các phiên bản phái sinh hoặc tổ hợp khác, một phần hoặc toàn bộ, trên phạm vi toàn cầu mà không đòi hỏi thù lao. Việc này được áp dụng với bất cứ dạng thức, phương tiện, công nghệ nào đã được biết đến hoặc phát triển sau này; người sử dụng cần lưu ý rằng, các video clip trên MXH MYCLIP có thể tiếp tục nằm trên MXH MYCLIP ngay cả khi tài khoản của người sử dụng đã bị xóa vì bất kỳ lý do gì.#}
{#        </p>#}
{#        <p>#}
{#            - Không yêu cầu về bất kỳ khoản tiền thưởng, phí, nhuận bút, lệ phí và các kiểu chi trả khác liên quan đến việc MXH MYCLIP sử dụng, tiết lộ, áp dụng, hoặc chỉnh sửa Phản hồi của người sử dụng.#}
{#        </p>#}
{#        <p>#}
{#            - Người sử dụng đồng ý rằng MXH MYCLIP và những bên tham gia cung cấp dịch vụ đều không cung cấp những tư vấn chuyên khoa, việc sử dụng những thông tin tư vấn đó hoặc bất kỳ thông tin nào khác đều thuộc quyền quyết định của người sử dụng và các yếu tố rủi ro của nó sẽ không thuộc trách nhiệm của MXH MYCLIP. Nếu người sử dụng đặt niềm tin vào những thông tin trên MXH MYCLIP hãy thực hiện trên cơ sở sự hiểu biết của người sử dụng và hoàn toàn chịu trách nhiệm về các nguy cơ, hậu quả có thể xảy ra.#}
{#            - Không sử dụng trái phép mật khẩu, khóa mật mã và thông tin riêng của thành viên khác trên MXH MYCLIP. Không gây cản trở việc sử dụng bình thường tài khoản, mật khẩu của người sử dụng khác.#}
{#        </p>#}
{#        <p>#}
{#            - Không xâm phạm, tiếp cận hay sử dụng bất kỳ phần nào trong máy chủ của MXH MYCLIP. Nghiêm cấm mọi hành vi lợi dụng lỗi hệ thống để trục lợi cá nhân gây thiệt hại đến nhà cung cấp dịch vụ.#}
{#        </p>#}
{#        <strong>III. QUYỀN, TRÁCH NHIỆM NHÀ CUNG CẤP DỊCH VỤ  MXH MYCLIP </strong>#}
{#        <p>1. Quyền của nhà cung cấp dịch vụ  MXH MYCLIP </p>#}
{#        <p>#}
{#            - Nhà cung cấp có toàn quyền xóa bỏ bất kỳ thông tin nào cũng như thay đổi giao diện, sự trình bày, thành phần hoặc chức năng, nội dung của trang MXH MYCLIP tại bất kỳ thời điểm nào mà không cần báo trước.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp có toàn quyền thay đổi những nội dung trong Thỏa thuận này mà không cần báo trước. Với việc tiếp tục sử dụng MXH MYCLIP sau những sửa đổi đó, người sử dụng mặc nhiên đồng ý chấp hành các nội dung đã được sửa đổi này.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp được quyền giữ lại hoặc tiết lộ bất kì nội dung nào đưa lên, bao gồm cả các thông tin cá nhân khi đăng ký tài khoản, nếu pháp luật, cơ quan có thẩm quyền yêu cầu.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp có toàn quyền từ chối truy cập của người sử dụng vào MXH MYCLIP hoặc bất kỳ phần nào của website/wapsite ngay lập tức mà không cần báo trước nếu chúng tôi cho rằng người sử dụng đã vi phạm bất cứ quy định nào trong Thỏa thuận này.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp có quyền xử lý các thông tin đăng tải cho phù hợp với thuần phong mỹ tục, các quy tắc đạo đức và các quy tắc đảm bảo an ninh quốc gia. Theo đó, chúng tôi có toàn quyền cho phép hoặc không cho phép bài viết của người sử dụng xuất hiện hay tồn tại trên MXH MYCLIP.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp được quyền sử dụng, tiết lộ, áp dụng và sửa đổi bất kỳ ý tưởng, khái niệm, cách thức, đề xuất, gợi ý, bình luận hoặc hình thức thông báo nào khác mà người sử dụng cung cấp cho chúng tôi (“Phản hồi”) một cách hoàn toàn miễn phí.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp có quyền không xác thực bất cứ một vấn đề, biến cố hoặc sự kiện nào và với bất kỳ mục đích nào, tương ứng với bất kỳ người, sản phẩm hoặc dịch vụ nào của một bên thứ ba.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp không bảo đảm mỗi phần của MXH MYCLIP không bị gián đoạn, không có lỗi, không có virus, đúng giờ, an toàn, chính xác, ổn định hay bất kỳ nội dung nào là an toàn cho người sử dụng.#}
{#        </p>#}
{#        <p>#}
{#            - Nhà cung cấp có quyền từ chối xuất bản, loại bỏ hoặc ngăn truy cập tới bất kỳ Nội dung nào mà người sử dụng đã cung cấp trên MXH MYCLIP vào bất cứ lúc nào, với bất cứ lý do nào, có hoặc không có thông báo.#}
{#        </p>#}

{#		#}
{#        <p>2. Trách nhiệm của nhà cung cấp dịch vụ  MXH MYCLIP</p>#}
{#        <p>- Cung cấp dịch vụ  MXH MYCLIP theo đúng những cam kết, mục tiêu đã đề ra trong Thỏa thuận này. </p>#}
{#        <p>- Kiểm soát các nội dung được người sử dụng đưa lên trang nhằm đảm bảo các nội dung này không vi phạm các quy định trong Thỏa thuận này và các quy định khác của pháp luật nước Cộng hòa xã hội chủ nghĩa Việt Nam. </p>#}
{#        <p>- Tất cả thông tin chỉ dành cho việc tham khảo tổng quát và thảo luận với cộng đồng của người sử dụng. MXH MYCLIP không nhận bất cứ trách nhiệm nào về những thông tin đó. </p>#}
{#        <p>- Toàn bộ trách nhiệm pháp lý của nhà cung cấp nằm trong diễn đàn và bị giới hạn bởi pháp luật, vì vậy Nhà cung cấp không chứng thực, bảo đảm hoặc bảo hành cho bất cứ thông tin, vật liệu, sản phẩm hoặc dịch vụ nào giao dịch thông qua MXH MYCLIP. </p>#}
{#        <p>- Trong bất kỳ trường hợp nào, Nhà cung cấp cũng không chịu trách nhiệm pháp lý về người sử dụng hoặc bất kỳ cá nhân, tổ chức nào cho những tổn thất, dù là trực tiếp, gián tiếp, hoặc là hậu quả của sự kiện khác, kể cả thiệt hại về kinh tế phát sinh từ việc sử dụng hoặc không thể sử dụng thông tin trên MXH MYCLIP, ngay cả khi MXH MYCLIP không có khuyến cáo về khả năng xảy ra các tổn thất đó. </p>#}
{#        <p>- Nhà cung cấp không chịu trách nhiệm nếu thông tin được các thành viên của mạng đưa lên không được cập nhật theo mong muốn của người sử dụng. Theo đó, Nhà cung cấp không chịu trách nhiệm về các thông tin mà thành viên của MXH MYCLIP đăng tải lên.</p>#}
{#        <p>- Đảm bảo hệ thống trả tin nhắn Alert miễn phí cho thành viên MyClip là thuê bao 3G Viettel đủ điều kiện nhận tin Alert (là thuê bao 3G không có lịch sử truy cập MyClip trong 7 ngày) </p>#}
{#        <p>- Các liên kết trên MXH MYCLIP có thể dẫn người sử dụng tới các web/wapsite khác và người sử dụng thừa nhận và đồng ý rằng MXH MYCLIP không chịu trách nhiệm về sự chính xác hoặc giá trị của bất kỳ thông tin nào do các web/wapsite liên kết cung cấp.</p>#}
{#        <h6>IV. CƠ CHẾ XỬ LÝ ĐỐI VỚI THÀNH VIÊN VI PHẠM THỎA THUẬN CUNG CẤP VÀ SỬ DỤNG DỊCH VỤ  MXH MYCLIP </h6>#}
{#        <p>- Nếu người sử dụng đã đăng ký là thành viên  MXH MYCLIP nhưng không tuân thủ các quy định sử dụng này, người sử dụng sẽ bị dừng tư cách thành viên ngay lập tức mà không cần thông báo trước.</p>#}
{#        <p>- Tùy theo mức độ vi phạm, các thành viên sẽ được nhắc nhở bằng tin nhắn hay email hoặc xóa tài khoản vĩnh viễn mà không cần thông báo trước. </p>#}
{#        <p>- Tối đa với mỗi lỗi vi phạm, thành viên sẽ được nhắc nhở 1 lần. Nếu thành viên vẫn tái phạm thì bình luận sẽ bị xóa mà không báo trước.</p>#}
{#        <p>- Trường hợp người sử dụng vi phạm phạm pháp luật, gây hậu quả nghiêm trọng, Nhà cung cấp có thể đưa vụ việc ra cơ quan quản lý Nhà nước để xử lý theo quy định của pháp luật nước Cộng hòa xã hội chủ nghĩa Việt Nam.</p>#}
{#        <h6>V. CẢNH BÁO VỀ CÁC RỦI RO KHI LƯU TRỮ, TRAO ĐỔI VÀ CHIA SẺ THÔNG TIN TRÊN DỊCH VỤ </h6>#}
{#        <p>- Dịch vụ  MXH MYCLIP cho phép người sử dụng tải lên, đệ trình, lưu trữ, gửi hoặc nhận nội dung. Người sử dụng giữ mọi quyền sở hữu trí tuệ đối với nội dung đó. Tuy nhiên, nhà cung cấp không đảm bảo những thông tin người sử dụng tải lên, đệ trình, lưu trữ, gửi trên MXH MYCLIP là không có rủi ro về an toàn thông tin. </p>#}
{#        <p>- Nhà cung cấp có thể phân tích nội dung của người sử dụng (bao gồm cả email) để cung cấp cho người sử dụng những tính năng sản phẩm có liên quan đến cá nhân, chẳng hạn như kết quả tìm kiếm tùy chỉnh, quảng cáo tùy chỉnh cũng như phát hiện spam và phần mềm độc hại. Phân tích này diễn ra khi nội dung được gửi, nhận cũng như khi được lưu trữ. </p>#}
{#        <p>- Nếu người sử dụng có tài khoản trên MXH MYCLIP, nhà cung cấp có thể hiển thị tên Profile (tên hiển thị), ảnh Profile (ảnh hiển thị) của người sử dụng và các hành động người sử dụng thực hiện trên MXH MYCLIP hoặc trên các ứng dụng của MXH MYCLIP (chẳng hạn như các bài đánh giá người sử dụng viết và những nhận xét người sử dụng đăng).</p>#}
{#        <h6>VI. CƠ CHẾ GIẢI QUYẾT KHIẾU NẠI, TRANH CHẤP GIỮA CÁC THÀNH VIÊN  VỚI NHÀ CUNG CẤP DỊCH VỤ  MXH MYCLIP HOẶC VỚI CÁC TỔ CHỨC, CÁ NHÂN KHÁC </h6>#}
{#        <p>- Mọi khiếu nại, tranh chấp giữa các thành viên  MXH MYCLIP phải được gửi trực tiếp tới nhà cung cấp dịch vụ  MXH MYCLIP qua các hình thức email, số hotline hoặc gặp trực tiếp. </p>#}
{#        <p>- Sau khi tiếp nhận khiếu nại của các thành viên  MXH MYCLIP, nhà cung cấp dịch vụ  phải có phản hồi chậm nhất trong vòng 72 giờ kể từ thời điểm tiếp nhận khiếu nại, tranh chấp. </p>#}
{#        <p>- Trong trường hợp các bên tham gia khiếu nại, tranh chấp chưa thỏa mãn với kết quả giải quyết khiếu nại của nhà cung cấp thì có thể gửi lại yêu cầu giải quyết khiếu nại tối đa 03 (ba) lần. Nếu quá 03 lần mà khiếu nại vẫn chưa được giải quyết dứt điểm thì căn cứ vào phạm vi và mức độ vi phạm của các bên, nhà cung cấp có toàn quyền xử lý khiếu nại, tranh chấp trên cơ sở các quy định tại Thỏa thuận này.</p>#}
{#        <p>#}
{#            Địa chỉ liên lạc<br>#}
{#            Dự án MyClip – Trung tâm VAS – Tổng Công ty Viễn thông Viettel<br>#}
{#            Địa chỉ: Tòa nhà CIT ngõ 15 đường Duy Tân – Cầu Giấy – Hà Nội<br>#}
{#            E-mail: Viettelvas092014@gmail.com<br>#}
{#            Hotline: Tổng đài CSKH Viettel 198 (miễn phí)#}
{#        </p>#}
{#        <h6>VII. GIỚI HẠN VÀ MIỄN TRÁCH NHIỆM PHÁP LÝ</h6>#}
{#        <p>- Chúng tôi sẽ không chịu trách nhiệm liên quan đến các nội dung do Bạn đăng tải, chia sẻ MyClip. Bạn hoàn toàn chịu trách nhiệm đối với các hoạt động của mình trên dịch vụ của Chúng tôi về những vi phạm pháp luật của nội dung tin đăng, hay các vi phạm về quyền sở hữu trí tuệ liên quan đến nội dung video/hình hảnh/livestreaming. Bạn và thành viên có hành vi vi phạm phải bồi thường, và bồi hoàn cho Chúng tôi cũng như các chủ thể quyền toàn bộ các tổn thất, chi phí (bao gồm chi phí luật sư và tòa án, nếu có) mà </p>#}
{#    </div>#}

</div>
