{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title': 'Điều khoản'}) | raw }}

<div  class="mdl-support ctn" style="margin-top:50px">
    <div class="mdl-support-content">
            <div class="mdl-support-content">
                <h6>Quy chế hoạt động</h6>
                <h3>I.	QUY ĐỊNH CHUNG </h3>
                <h6>1.	Phạm vi điều chỉnh và đối tượng áp dụng</h6>
                <p>-	Quy chế này quy định về tổ chức, quản lí và hoạt động của mạng xã hội trực tuyến Myclip, bao gồm việc cung cấp, chia sẻ thông tin về giải trí, điện ảnh dành cho người sử dụng từ 15 đến 40 tuổi.</p>
                <p>-	Quy chế này áp dụng đối với toàn bộ thuê bao Viettel đăng nhập và đăng kí sử dụng mạng xã hội trực tuyến Myclip.</p>
                <p>-	Đối tượng phục vụ là thuê bao di động Viettel, độ tuổi chủ yếu từ 15 đến 40 tuổi. </p>

                <h6>2.	Mục đích và ý nghĩa Mạng xã hội Myclip</h6>
                <p>
                    -	Mạng xã hội trực tuyến Myclip trở thành một hệ thống chia sẻ thông tin âm nhạc, phim trực tuyến cho cộng đồng thuê bao của Viettel từ 15 đến 30 tuổi.
                </p><p>
                    -	Giúp cho các thành viên sử dụng mạng Internet dễ dàng thiết lập một không gian riêng để chứa những thông tin họ đã thực hiện.
                </p><p>
                    -	Đóng vai trò là nơi cung cấp nhiều thông tin âm nhạc có ý nghĩa, bổ ích đối với Người sử dụng Internet
                </p><p>
                    -	Trang có địa chỉ trên mạng internet là http://myclip.vn và http://myclip.com.vn.
                </p><p>
                <h6>II.	QUY CHẾ HOẠT ĐỘNG CỦA MẠNG XÃ HỘI</h6>
                <h6>Điều 1. Giải thích từ ngữ</h6>

                <p>
                    -	Thỏa thuận: Là sự trao đổi, đồng ý về việc cung cấp, trao đổi thông tin trên mạng xã hội Myclip, cùng với tất cả các bản sửa đổi, bổ sung, cập nhật.
                </p><p>
                    -	Myclip: Là dịch vụ mạng xã hội do Tổng Công ty Viễn thông Viettel quản lý, khai thác được truy cập tại địa chỉ http://myclip.vn.
                </p><p>
                    -	Nhà cung cấp: Tổng Công ty Viễn thông Viettel hoặc viết tắt là Viettel.
                </p><p>
                    -	Ban quản trị Mạng xã hội: Là bộ phận được Tổng Công ty Viễn thông Viettel giao nhiệm vụ quản lý, khai thác mạng xã hội Myclip.
                </p><p>
                    -	Thông tin cá nhân: Là những thông tin góp phần định danh một cá nhân thông tin gắn liền với việc xác định danh tính, nhân thân của cá nhân bao gồm tên, tuổi, địa chỉ, số điện thoại, địa chỉ thư điện tử của Người sử dụng và một số thông tin khác theo quy định của pháp luật.
                </p><p>
                    -	Người sử dụng/thành viên: Là chủ tài khoản, sở hữu hợp pháp tài khoản trên mạng xã hội Myclip.
                </p><p>
                    -	Sở hữu trí tuệ: Là những sáng chế, cải tiến, thiết kế, quy trình, công thức, phương pháp, cơ sở dữ liệu, thông tin, bản vẽ, mã, chương trình máy tính, tác phẩm có bản quyền (hiện tại và tương lai), thiết kế mạch tích hợp bán dẫn, thương hiệu, nhãn hiệu (dù đã đăng ký hay chưa đăng ký) tên thương mại và (thiết kế) bao bì thương phẩm.
                </p><p>
                <h6>Điều 2. Đăng ký tài khoản</h6>
                <p>
                    -	Một số tính năng của mạng xã hội Myclip yêu cầu Người sử dụng phải đăng ký, đăng nhập để sử dụng. Nếu Người sử dụng không đăng ký, đăng nhập thì chỉ sử dụng mạng xã hội Myclip với các tính năng thông thường. Viettel khuyến khích Người sử dụng đăng ký tài khoản để sử dụng mạng xã hội Myclip được tốt nhất.
                </p><p>
                    -	Người sử dụng tự chịu trách nhiệm về năng lực hành vi trong việc đăng ký tài khoản và sử dụng mạng xã hội Myclip và có trách nhiệm tự bảo mật thông tin tài khoản của mình, nếu những thông tin trên bị tiết lộ dưới bất kỳ hình thức nào thì Người sử dụng phải chấp nhận những rủi ro phát sinh.
                </p><p>
                    -	Nếu Người sử dụng biết hoặc nghi ngờ rằng mật khẩu hoặc tài khoản của mình đã bị xâm nhập, hãy báo cho Ban quản trị mạng xã hội Myclip bằng thông tin đề cập tại mục Liên hệ.
                </p><p>
                    -	Cá nhân đăng nhập đăng ký phải đảm bảo:
                </p><p>
                    +	Không được sử dụng tài khoản của người khác khi chưa được phép. Cá nhân sẽ phải chịu trách nhiệm pháp lý đối với những tổn thất của mạng xã hội Myclip hoặc các bên có liên quan trong trường hợp các tổn thất đó được xác định là do tài khoản Người sử dụng gây ra. Mạng xã hội Myclip sẽ không chịu trách nhiệm với những tổn thất của Người sử dụng phát sinh do việc tài khoản của Người sử dụng bị sử dụng bất hợp pháp gây ra.
                </p><p>
                    +	Cá nhân đồng ý không lấy và sử dụng các thông tin cá nhân của Người sử dụng khác. Bao gồm các thông tin về tài khoản hoặc địa chỉ email (thư điện tử) từ trang web/wap, không lấy (hoặc lôi kéo các thành viên khác lấy) các thông tin từ hệ thống vì mục đích thương mại.
                </p><p>
                    -	Mạng xã hội Myclip có quyền từ chối truy cập ngay lập tức của Người sử dụng vi phạm Thỏa thuận này mà không cần thông báo lý do.
                </p>
                <h6>Điều 3. Các nội dung cấm trao đổi và chia sẻ trên mạng xã hội</h6>

                <p>
                    -	Lợi dụng việc cung cấp, sử dụng dịch vụ Internet và thông tin trên mạng nhằm mục đích:
                </p><p>
                    +	Chống lại Nhà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam; gây phương hại đến an ninh quốc gia, trật tự an toàn xã hội; phá hoại khối đại đoàn kết dân tộc; tuyên truyền chiến tranh, khủng bố; gây hận thù, mâu thuẫn giữa các dân tộc, sắc tộc, tôn giáo;
                </p><p>
                    +	Tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong, mỹ tục của dân tộc;
                </p><p>
                    +	Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác do pháp luật quy định;
                </p><p>
                    +	Đưa thông tin xuyên tạc, vu khống, xúc phạm uy tín của tổ chức, danh dự và nhân phẩm của cá nhân;
                </p><p>
                    +	Quảng cáo, tuyên truyền, mua bán hàng hóa, dịch vụ bị cấm; truyền bá tác phẩm báo chí, văn học, nghệ thuật, xuất bản phẩm bị cấm;
                </p><p>
                    +	Giả mạo tổ chức, cá nhân và phát tán thông tin giả mạo, thông tin sai sự thật xâm hại đến quyền và lợi ích hợp pháp của tổ chức, cá nhân.
                </p><p>
                    -	Cản trở trái pháp luật việc cung cấp và truy cập thông tin hợp pháp, việc cung cấp và sử dụng các dịch vụ hợp pháp trên Internet của tổ chức, cá nhân.
                </p><p>
                    -	Cản trở trái pháp luật hoạt động của hệ thống máy chủ tên miền quốc gia Việt Nam “.vn”, hoạt động hợp pháp của hệ thống thiết bị cung cấp dịch vụ Internet và thông tin trên mạng.
                </p><p>
                    -	Sử dụng trái phép mật khẩu, khóa mật mã của tổ chức, cá nhân; thông tin riêng, thông tin cá nhân và tài nguyên Internet.
                </p><p>
                    -	Tạo đường dẫn trái phép đối với tên miền hợp pháp của tổ chức, cá nhân; tạo, cài đặt, phát tán phần mềm độc hại, virus máy tính; xâm nhập trái phép, chiếm quyền điều khiển hệ thống thông tin, tạo lập công cụ tấn công trên Internet.
                </p><p>
                <h6>Điều 4. Nội dung cung cấp, trao đổi thông tin</h6>
                <p>
                    Mạng xã hội Myclip là một website/wapsite/app mạng xã hội trực tuyến dành cho người dùng trên mạng internet, điện thoại di động, Smart TV nhằm cung cấp cho khách hàng các thông tin và dịch vụ về âm nhạc, phim tiện lợi, hữu ích, không phân biệt không gian và thời gian; Hướng tới đối tượng khách hàng của Viettel từ 13 tuổi trở lên có nhu cầu xem và chia sẻ thông tin về lĩnh vực âm nhạc.
                </p><p>
                    1.	Nội dung cung cấp trên Mạng xã hội Myclip:
                </p><p>
                    -	Người sử dụng lưu ý Mạng xã hội Myclip chỉ được phép Nghe/tải, chia sẻ các thông tin thuộc lĩnh vực âm nhạc, phim và sử dụng các chức năng trao đổi thông tin, bình luận, chia sẻ ...
                </p><p>
                    -	Đối với những nội dung có quyền sở hữu trí tuệ như text, ảnh, audio và video, Người sử dụng đã đăng phát trên Mạng xã hội Myclip thì mặc định cấp cho Viettel một giấy phép không độc quyền, có thể chuyển nhượng, có thể cấp phép lại, miễn phí, toàn quyền để sử dụng kể cả khi người sử dụng xóa tài khoản hoặc nội dung trên mạng xã hội Myclip.
                </p><p>
                    -	Mạng xã hội Myclip chỉ đăng phát những nội dung cung cấp không thuộc nội dung cấm chia sẻ, trao đổi trên mạng xã hội được quy định tại mục 1 trên đây. Với những nội dung vi phạm, mạng xã hội Myclip từ chối đăng phát không cần thông báo cho người sử dụng.
                </p><p>
                    2.	Tính chính xác, hợp pháp của nội dung
                </p><p>
                    -	Đây là website/wapsite/app và phần mềm mạng xã hội thuộc quyền sở hữu của Viettel, Viettel cho phép Người sử dụng đăng tải, cung cấp, trao đổi, chia sẻ, đăng tải các thông tin về các lĩnh vực âm nhạc, phim. Viettel không chịu trách nhiệm về mức độ chính xác, tính hữu ích, độ an toàn, hoặc các quyền sở hữu trí tuệ liên quan tới những thông tin mà Người sử dụng khác đăng tải.
                </p><p>
                    -	Người sử dụng đồng ý rằng sẽ không đăng tải lên mạng xã hội Myclip các nội dung đã có bản quyền, các bí mật thương mại hoặc các nội dung khác liên quan tới các quyền sở hữu trí tuệ của bên thứ ba, trừ trường hợp là chủ sở hữu hợp pháp của các nội dung này hoặc có sự chấp thuận từ chủ sở hữu. Mạng xã hội Myclip sẽ loại bỏ tất cả các nội dung phát hành nếu được thông báo rằng những nội dung vi phạm quyền sở hữu trí tuệ mà không cần thông báo trước.
                </p><p>
                    3.	Trao đổi, hủy thông tin trên Mạng xã hội Myclip
                </p><p>
                    -	Người sử dụng đồng ý để Viettel kinh doanh, sử dụng các nội dung đã được họ cung cấp, trao đổi, chia sẻ trên mạng xã hội Myclip và không yêu cầu Viettel thanh toán bất kỳ khoản tiền thưởng, phí, nhuận bút, lệ phí hoặc các chi trả khác liên quan.
                </p><p>
                    -	Người sử dụng cho phép thành viên khác được quyền sử dụng lại thông tin đăng tải bao gồm nhưng không giới hạn việc chỉnh sửa lại, biên soạn, phân tán, trình chiếu nội dung đăng tải đó vì mục đích cá nhân hoặc phi thương mại.
                </p><p>
                    -	Bài viết đánh giá ý kiến của Người sử dụng là một phần Dịch vụ của mạng xã hội Myclip. Người dùng có thể xuất bản, truyền tải, gửi đi những đánh giá, ý kiến, hoặc những tài liệu khác lên mạng xã hội Myclip. Người sử dụng phải đảm bảo bài viết, đánh giá của Người sử dụng phù hợp với giới hạn ngôn từ và nội dung.
                </p><p>
                    -	Người sử dụng hiểu rằng khi muốn tìm cách xóa nội dung của mình từ các dịch vụ của mạng xã hội Myclip, việc này phải mất một khoảng thời gian nhất định. Vì vấn đề kỹ thuật và quy trình nên có thể không theo ý muốn của Người sử dụng. Người sử dụng chấp nhận những rủi ro phát sinh và mạng xã hội Myclip được loại trừ trách nhiệm này. Viettel khuyên Người sử dụng nên lưu giữ một bản trước khi đăng tải lên mạng xã hội Myclip.
                </p><p>
                <h6>Điều 5. Quyền, trách nhiệm của Người sử dụng mạng xã hội:</h6>
                <p>
                    -	Người sử dụng mạng xã hội tuân thủ thời gian hoạt động của điểm truy nhập Internet công cộng và mạng xã hội Myclip chỉ phục vụ cho đối tượng 13 tuổi trở lên. Vì vậy, đối tượng khách hàng chưa đủ 13 tuổi Viettel không được phép tham gia dịch vụ này.
                </p><p>
                    -	Khi đăng tải thông tin trên mạng xã hội Myclip, Người sử dụng tự chịu toàn bộ các trách nhiệm pháp lý liên quan đến toàn bộ nội dung đăng tải, bao gồm nhưng không giới hạn tính hợp pháp của nội dung, quyền sở hữu trí tuệ và các chấp thuận cần thiết khác từ cơ quan có thẩm quyền.
                </p><p>
                    -	Bất kỳ nội dung, hình ảnh, audio, clip, video, thông tin, bình luận, hình ảnh hoặc nội dung khác được đăng tải bởi Người sử dụng trên mạng xã hội Myclip, Người sử dụng đồng ý rằng (i) tự chịu trách nhiệm về nội dung do mình đăng tải; và (ii) Viettel và mạng xã hội Myclip được miễn trừ mọi trách nhiệm liên quan.
                </p><p>
                    -	Tuân thủ các quy định về bảo đảm an toàn thông tin, an ninh thông tin. Người sử dụng có trách nhiệm tháo gỡ những nội dung vi phạm do mình đăng tải ngay lập tức đồng thời phải chịu trách nhiệm trước pháp luật và các bên liên quan về nội dung đăng tải đó.
                </p><p>
                    -	Được bảo vệ bí mật thông tin riêng và thông tin cá nhân theo quy định của pháp luật.
                </p><p>
                    -	Tuân thủ Thỏa thuận cung cấp, trao đổi thông tin trên mạng xã hội này. Nếu vi phạm, tùy thuộc vào mức độ vi phạm Viettel sẽ khóa tài khoản vĩnh viễn, tước bỏ mọi quyền lợi của Người sử dụng đối các sản phẩm của Viettel và sẽ yêu cầu cơ quan chức năng truy tố Người sử dụng trước pháp luật nếu cần thiết.
                </p><p>
                    -	Người sử dụng thông báo ngay cho Viettel về bất kỳ trường hợp nào sử dụng trái phép tài khoản và mật khẩu của Người sử dụng hoặc bất kỳ các hành động phá vỡ hệ thống bảo mật nào. Người sử dụng cũng bảo đảm rằng, Người sử dụng luôn thoát tài khoản của mình sau mỗi lần sử dụng.
                </p><p>
                    -	Người sử dụng có trách nhiệm bảo mật thông tin tài khoản, nếu những thông tin trên bị tiết lộ dưới bất kỳ hình thức nào thì Người sử dụng phải chấp nhận những rủi ro phát sinh. Viettel sẽ căn cứ vào những thông tin hiện có trong tài khoản để làm căn cứ quyết định chủ sở hữu tài khoản nếu có tranh chấp và Viettel sẽ không chịu trách nhiệm về mọi tổn thất phát sinh.
                </p><p>
                    -	Trong quá trình sử dụng sản phẩm, Người sử dụng được sử dụng các dịch vụ hỗ trợ của Viettel quy định tại website/wapsite/app. Khi phát hiện ra lỗi của mạng xã hội Myclip, Người sử dụng hãy thông báo cho Viettel qua email Myclip@viettel.com.vn.
                </p><p>
                    -	Thực hiện quyền và trách nhiệm khác theo quy định pháp luật.
                </p>
                <h6>Điều 6. Quyền và trách nhiệm của Nhà cung cấp:</h6>
                <p>
                    -	Viettel có trách nhiệm công khai thỏa thuận cung cấp và sử dụng dịch vụ mạng xã hội trên trang chủ của mạng xã hội Myclip;
                </p><p>
                    -	Có trách nhiệm thiết lập hệ thống, biện pháp bảo vệ bí mật thông tin riêng, thông tin cá nhân của người sử dụng đồng thời thông báo cho người sử dụng về quyền, trách nhiệm và các rủi ro khi lưu trữ, trao đổi và chia sẻ thông tin trên mạng;
                </p><p>
                    -	Có trách nhiệm bảo mật thông tin cá nhân của chủ tài khoản và Bảo đảm quyền quyết định của người sử dụng khi cho phép thông tin cá nhân của mình được cung cấp cho tổ chức, doanh nghiệp, cá nhân khác. Viettel không trao đổi những thông tin này với bên thứ 3, trừ trường hợp theo quy định pháp luật hoặc được chủ tài khoản chấp nhận.
                </p><p>
                    -	Viettel cam kết không chủ động cung cấp thông tin công cộng có nội dung vi phạm nêu tại Điều 3 Thỏa thuận này;
                </p><p>
                    -	Có trách nhiệm phối hợp với cơ quan quản lý nhà nước có thẩm quyền để loại bỏ hoặc ngăn chặn thông tin có nội dung vi phạm. Khi phát hiện những vi phạm như sử dụng cheats, hacks, truyền bá nội dung cấm hoặc những lỗi khác, Viettel có quyền sử dụng những thông tin mà Người sử dụng cung cấp khi đăng ký tài khoản để chuyển cho Cơ quan chức năng giải quyết theo quy định của pháp luật.
                </p><p>
                    -	Cung cấp thông tin cá nhân và thông tin riêng của người sử dụng có liên quan đến hoạt động khủng bố, tội phạm, vi phạm pháp luật khi có yêu cầu của cơ quan quản lý nhà nước có thẩm quyền;
                </p><p>
                    -	Thực hiện nghiêm túc công tác thanh tra, kiểm tra, lưu trữ, cung cấp thông tin, báo cáo theo yêu cầu của cơ quan quản lý nhà nước có thẩm quyền và giải quyết khiếu nại của khách hàng đối với việc cung cấp dịch vụ theo quy định của Bộ Thông tin và Truyền thông;
                </p><p>
                    -	Thực hiện việc đăng ký, lưu trữ và quản lý thông tin cá nhân của người thiết lập trang thông tin điện tử cá nhân và người cung cấp thông tin khác trên mạng xã hội theo quy định của Bộ Thông tin và Truyền thông. Bảo đảm chỉ những người đã cung cấp đầy đủ, chính xác thông tin cá nhân theo quy định mới được thiết lập trang thông tin điện tử cá nhân hoặc cung cấp thông tin trên mạng xã hội;
                </p><p>
                    -	Viettel chỉ cung cấp tài khoản đăng ký của người sử dụng khi được cung cấp đầy đủ, chính xác thông tin cá nhân trên mạng xã hội. Trong quá trình đăng ký tài khoản, Viettel có trách nhiệm công khai thỏa thuận cung cấp và sử dụng dịch vụ mạng xã hội, nếu người sử dụng vi phạm bất cứ điều khoản nào trong Thỏa thuận cung cấp dịch vụ mạng xã hội này, Viettel có toàn quyền chấm dứt, xóa bỏ tài khoản của Người sử dụng mà không cần sự đồng ý của Người sử dụng và không phải chịu bất cứ trách nhiệm nào đối với Người sử dụng.
                </p><p>
                    -	Trong trường hợp nhận được tố cáo của Người sử dụng khác, Viettel sẽ tiến hành giám sát kiểm tra và log data cùng những chứng cứ liên quan, nếu vi phạm Viettel có quyền tắt ngay lập tức các video đang được phát sóng bởi Người sử dụng và/hoặc cảnh cáo, khóa, tạm dừng chat của Người sử dụng vi phạm. Viettel có toàn quyền quyết định các hình thức xử lý đối với các trường hợp vi phạm. Tùy vào tính chất sự việc, mức độ ảnh hưởng và nghiêm trọng, Viettel sẽ đưa ra hình thức xử lý phù hợp.
                </p><p>
                    -	Viettel sở hữu về hệ thống máy chủ của dịch vụ. Vì vậy, Viettel có quyền lưu trữ, cung cấp thông tin theo yêu cầu của cơ quan quản lý nhà nước có thẩm quyền và Viettel nhận và giải quyết khiếu nại của khách hàng các trường hợp phát sinh trong quá trình sử dụng mạng xã hội Myclip.
                </p>
                <h6>Điều 7. Cơ chế xử lý thành viên vi phạm</h6>
                <p>
                    a)	Nguyên tắc
                </p><p>
                    -	Người sử dụng vi phạm Thỏa thuận cung cấp và sử dụng mạng xã hội thì tùy theo mức độ nghiêm trọng của hành vi vi phạm sẽ bị xử phạt tương ứng.
                </p><p>
                    -	Trường hợp hành vi vi phạm của Người sử dụng chưa được quy định trong thỏa thuận này thì tùy vào tính chất, mức độ của hành vi vi phạm, mạng xã hội Myclip sẽ đơn phương, toàn quyền quyết định mức xử phạt hợp lý.
                </p><p>
                    -	Hình thức xử phạt khóa tài khoản mạng xã hội Myclip có thời hạn hoặc vĩnh viễn, điều đó đồng nghĩa với việc Người sử dụng cũng không thể sử dụng các sản phẩm khác khi truy cập từ tài khoản mạng xã hội Myclip.
                </p><p>
                    -	Nếu tài khoản mạng xã hội Myclip bị khóa vĩnh viễn thì toàn bộ những quyền lợi của chủ tài khoản cũng sẽ khóa vĩnh viễn.
                </p><p>
                    b)	Các hình thức xử phạt:
                </p><p>
                    -	Hình thức xử phạt khóa tài khoản 120 ngày hoặc khóa vĩnh viễn áp dụng đối với các hành vi sau:
                </p><p>
                    +	Người sử dụng có hành vi lợi dụng mạng xã hội Myclip nhằm chống phá nước Cộng hòa Xã hội Chủ nghĩa Việt Nam. Hành vi này bao gồm nhưng không giới hạn việc Người sử dụng đặt tên thành viên trùng tên với các vĩ nhân, các vị anh hùng của dân tộc, các vị lãnh đạo của Đảng và nhà nước, hoặc người dùng có sử dụng hình ảnh, video, phát ngôn, chat… có chứa thông tin bàn luận về vấn đề chính trị hoặc tiết lộ bí mật nhà nước Cộng hòa Xã hội Chủ nghĩa Việt Nam.
                </p><p>
                    +	Thông tin, hình ảnh, video khiêu dâm: Người sử dụng đăng tải hình ảnh, âm thanh, video khiêu dâm, chat sex hoặc tuyên truyền các các nội dung khiêu dâm.
                </p><p>
                    +	Thông tin cá cược, cờ bạc: Lợi dụng mạng xã hội Myclip, người dùng đăng tải nội dung thông tin, hình ảnh, âm thanh, video chứa thông tin để tổ chức các hình thức cá cược, cờ bạc hoặc các thỏa thuận liên quan đến tiền, hiện kim, hiện vật.
                </p><p>
                    +	Lan truyền thông tin lừa đảo: Sử dụng văn bản, hình ảnh, âm thanh hoặc video có chứa thông tin lừa đảo, giả làm chính thức các tổ chức, cá nhân; hoặc gian lận, lừa đảo tài sản của người khác hoặc tài khoản mạng xã hội Myclip.
                </p><p>
                    +	Phá hoại hệ thống mạng xã hội Myclip: Người sử dụng lợi dụng việc sử dụng sản phẩm để xâm nhập vào hệ thống máy chủ nhằm phá hoại sản phẩm hoặc cản trở việc truy cập thông tin. Người sử dụng sử dụng công cụ kỹ thuật nhằm tăng điểm hoạt động, vật phẩm hoặc nhằm treo máy, spam chat.
                </p><p>
                    +	Sử dụng diễn đàn hỏi đáp để lôi kéo tổ chức hội họp thực tế ở bên ngoài thực hiện các hành vi vi phạm pháp luật.
                </p><p>
                    -	Hình thức xử khóa tài khoản 30 ngày được áp dụng đối với các hành vi sau:
                </p><p>
                    +	Hành vi giao tiếp: Chat khiêu dâm ở mức độ nhẹ, spam chat, kích động các thành viên khác đến các phòng khác của mạng xã hội Myclip để gây rối hoặc tuyên truyền những thông tin vi phạm.
                </p><p>
                    +	Quảng cáo: Trong tên thành viên, trạng thái, giải thích về bản thân có chứa thông tin quảng cáo hoặc sử dụng các văn bản, hình ảnh, âm thanh, hoặc video và thông tin quảng cáo mà không có sự đồng ý bằng văn bản của Viettel. Ngoài ra thành viên sử dụng sản phẩm với mục đích quảng cáo, tuyên truyền, mua bán và truyền bá hàng hoá, dịch vụ bị cấm, trong trường hợp này tùy thuộc vào mức độ nghiêm trọng sẽ áp dụng hình phạt 2 hoặc hình phạt 3.
                </p><p>
                    +	Xâm phạm riêng tư: Sử dụng hình ảnh cá nhân của người khác, công khai những tư liệu cá nhân và những thông tin của khác như danh tính, địa chỉ, số điện thoại mà chưa được sự đồng ý và tiến hành gọi điện quấy nhiễu hoặc kích động người khác quấy nhiễu.
                </p><p>
                    +	Công kích người khác: Sử dụng hình ảnh, thông tin, âm thanh hoặc video, xúc phạm, đưa thông tin xuyên tạc, vu khống, nhạo báng, xúc phạm uy tín tới tổ chức, cá nhân.
                </p><p>
                    +	Vi phạm bản quyền: Ăn cắp các nội dung trên khóa học, sao chép hoặc trích dẫn mà không được phép sử dụng bản quyền của người khác.
                </p><p>
                    -	Hình thức xử khóa tài khoản 7 ngày được áp dụng đối với các hành vi sau.
                </p><p>
                    +	Công kích, xuyên tạc, xúc phạm nhân phẩm các thành viên khác.
                </p><p>
                    +	Các hình ảnh video được streaming, thông tin đăng tải có tính chất nhạy cảm, khiêu gợi, dung tục.
                </p><p>
                <h6>  Điều 8. Giới hạn trách nhiệm và từ chối đảm bảo</h6>
                <p>
                    -	Viettel sẽ không chịu trách nhiệm đối với bất cứ vấn đề gì về hệ thống trong quá trình Người sử dụng sử dụng mạng xã hội Myclip.
                </p><p>
                    -	Nếu phát sinh rủi ro, thiệt hại trong trường hợp bất khả kháng bao gồm nhưng không giới hạn như chập điện, hư hỏng phần cứng, phần mềm, sự cố đường truyền internet hoặc do thiên tai v.v... Người sử dụng phải chấp nhận những rủi ro, thiệt hại nếu có. Viettel cam kết sẽ nỗ lực giảm thiểu những rủi ro, thiệt hại phát sinh tuy nhiên Viettel sẽ không chịu bất cứ trách nhiệm nào phát sinh trong các trường hợp này.
                </p><p>
                    -	Viettel hoàn toàn không chịu trách nhiệm rủi ro về mọi giao dịch của Người sử dụng với bên thứ 3 trong quá trình sử dụng mạng xã hội Myclip. Khi Người sử dụng sử dụng sản phẩm và/hoặc giao dịch với bên thứ 3, Người sử dụng đã hiểu và đồng ý tự chịu trách nhiệm những rủi ro phát sinh.
                </p><p>
                    -	Bài viết, hình ảnh, audio, clip, video của Người sử dụng có thể có những hạn chế, có thể gây phản đối, bất hợp pháp, không chính xác, hoặc không phù hợp. Mạng xã hội Myclip không có trách nhiệm cho bất kỳ bài viết nào, audio, clip, video, hình ảnh nào. Nội dung được đăng không phản ánh quan điểm hay chính sách của mạng xã hội Myclip. Viettel có quyền, nhưng không có nghĩa vụ, giám sát và hạn chế hoặc loại bỏ các nội dung đăng tải trên trừ khi Viettel có cơ sở cho rằng, nội dung được đăng tải là vi phạm Thỏa thuận này cũng như vi phạm pháp luật.
                </p><p>
                <h6>
                    Điều 9. Cơ chế giải quyết khiếu nại, tranh chấp giữa các thành viên mạng xã hội với tổ chức, doanh nghiệp thiết lập mạng xã hội hoặc với tổ chức, cá nhân khác
                </h6>
                <p>
                    a)	Nguyên tắc
                </p><p>

                    Người sử dụng đồng ý và tuân thủ rằng, Khi Người sử dụng đăng ký tạo tài khoản và được Viettel cung cấp tài khoản để sử dụng một phần hoặc toàn bộ mạng xã hội Myclip, thì bất kỳ tranh chấp phát sinh trong quá trình sử dụng của Người sử dụng sẽ được giải quyết theo pháp luật hiện hành của nước Cộng hòa Xã hội Chủ nghĩa Việt Nam.
                </p><p>
                    -	Viettel chỉ hỗ trợ, giải quyết khiếu nại, tố cáo của Người sử dụng trong trường hợp Người sử dụng đã ghi đầy đủ, trung thực và chính xác thông tin khi đăng ký tài khoản.
                </p><p>
                    -	Đối với tranh chấp giữa Người sử dụng mạng xã hội Myclip với nhau hoặc giữa Người sử dụng với Viettel, Viettel sẽ căn cứ log hệ thống để giải quyết. Theo đó, Viettel sẽ bảo vệ quyền lợi tối đa có thể cho Người sử dụng đăng ký đầy đủ thông tin theo quy định.
                </p><p>
                    -	Người sử dụng đồng ý bảo vệ, bồi hoàn và loại trừ Viettel khỏi những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí bao gồm nhưng không giới hạn án phí, chi phí luật sư, chuyên gia tư vấn có liên quan đến việc giải quyết hoặc phát sinh từ sự vi phạm của Người sử dụng trong quá trình sử dụng mạng xã hội Myclip.
                </p><p>
                    b)	Tranh chấp giữa các thành viên sử dụng mạng xã hội với Viettel.
                </p><p>
                    -	Mọi khiếu nại, khiếu kiện nếu có thì sẽ được Viettel giải quyết nhanh chóng. Khi có khiếu nại, vui lòng thông báo cho Viettel qua email, điện thoại, hoặc đến trực tiếp địa chỉ niêm yết trên trang chủ mạng xã hội Myclip. Viettel sẽ xem xét và phản hồi sớm nhất nhưng không quá 07 ngày kể từ ngày tiếp nhận thông tin khiếu nại. Mạng xã hội Myclip có bộ phận giải quyết khiếu nại tiếp nhận và sẽ phản hồi cho các bạn qua email mà bạn đã đăng ký.
                </p><p>
                    -	Nếu Người sử dụng khiếu nại, khiếu kiện đến các cơ quan chức năng thì Viettel sẽ tuân thủ theo các trình tự thủ tục mà pháp luật quy định. Tuy nhiên, Viettel khuyến khích hình thức giải quyết thông qua biện pháp thương lượng.
                </p><p>
                    c)	Tranh chấp giữa cá nhân với cá nhân là thành viên của mạng xã hội Myclip; giữa cá nhân là thành viên mạng xã hội Myclip với cá nhân, tổ chức không phải là thành viên mạng xã hội Myclip.
                </p><p>
                    -	Viettel không chịu trách nhiệm về tính chính xác các thông tin mà các thành viên truyền đưa trên mạng xã hội. Do đó khi phát sinh khiếu nại, trước tiên Viettel có thể ẩn nội dung khiếu nại, đồng thời hãy gửi cho Viettel biết nội dung khiếu nại chi tiết và chứng cứ đính kèm qua email hoặc trực tiếp. Viettel sẽ kiểm tra, yêu cầu các bên chứng minh. Nếu bên nào không chứng minh được thì Viettel sẽ gỡ bỏ nội dung của người vi phạm.
                </p><p>
                    -	Việc khiếu nại, khiếu kiện giữa các cá nhân, tổ chức thông qua các cơ quan pháp luật thì Viettel chỉ đóng vai trò là người có quyền và nghĩa vụ liên quan và Viettel sẽ tham dự theo các quy định của pháp luật.
                </p><p>
                    Địa chỉ liên lạc:
                </p><p>
                    Tổng Công ty Viễn thông Viettel;
                </p><p>
                    Số 1, Giang Văn Minh, Kim Mã, Ba Đình, Hà Nội.
                </p><p>
                    Số điện thoại: (04) 62692181
                </p><p>
                <h6>Điều 11. Các nội dung khác</h6>
                </p><p>
                    1.	Nguy cơ, rủi ro khi lưu trữ, trao đổi và chia sẻ thông tin trên mạng xã hội: Viettel cảnh báo người sử dụng khi chia sẻ nội dung trên mạng xã hội Myclip:
                </p><p>
                    -	Nguy cơ bị sao chép, chia sẻ lại các nội dung mà người sử dụng đã đăng tải trên mạng xã hội Myclip: Đối với những nội dung đã đăng phát trên mạng xã hội Myclip, khi Người sử dụng xóa nội dung hoặc xóa tài khoản thì nội dung đó vẫn có thể tồn tại ở mạng xã hội Myclip vì nội dung đó đã được chia sẻ bởi người sử dụng khác và những người đó chưa xóa nội dung đó.
                </p><p>
                    -	Rủi ro khi đã xóa nội dung nhưng vẫn còn bản sao lưu: do nội dung bị xóa có thể vẫn còn trong các bản sao lưu trong một khoảng thời gian hợp lý.
                </p><p>
                    -	Nguy cơ khi các thành viên khác có thể tìm hiểu thông tin của người sử dụng: do trong quá trình Người sử dụng công bố nội dung hoặc thông tin trên Mạng xã hội, Người sử dụng đang cho phép thành viên của mạng xã hội Myclip đọc, sử dụng thông tin đó.
                </p><p>
                    -	Nhà cung cấp mạng xã hội Myclip không có nghĩa vụ đền bù cho người sử dụng: Viettel luôn tiếp nhận phản hồi hoặc các đề xuất khác của Người sử dụng về mạng xã hội Myclip nhưng Người sử dụng cần hiểu rằng Viettel có thể sử dụng các phản hồi và đề xuất đó mà không có nghĩa vụ phải đền bù cho Người sử dụng
                </p><p>
                    -	Nguy cơ tiếp nhận các nội dung không mong muốn: do các spam, tiếp thị bất hợp pháp như quảng cáo đồi trụy… trên mạng xã hội Myclip mà nhân viên kiểm soát nội dung của mạng xã hội Myclip chưa kịp thời loại bỏ.
                </p><p>
                    -	Nguy cơ mất an toàn hệ thống: Do người dùng đã click vào những link tải lên virus hoặc mã độc hại khác của những thành viên khác hoặc bị hack thông tin đăng nhập hoặc tài khoản.
                </p><p>
                    2.	Thu thập, xử lý các dữ liệu cá nhân của người sử dụng dịch vụ mạng xã hội:
                </p><p>
                    -	Trong trường hợp khách hàng sử dụng dịch vụ 3G của Viettel, khi truy cập vào trang wap, hệ thống có hỗ trợ tính năng nhận diện thuê bao giúp khách hàng không phải đăng nhập và đăng ký thông tin trước khi sử dụng dịch vụ. Nếu người dùng sử dụng mạng wifi hoặc hệ thống không nhận diện được thuê bao, người dùng sẽ được cấp tài khoản với tên sử dụng - user (là số điện thoại của Khách hàng) và mật khẩu để truy cập và sử dụng dịch vụ.
                </p><p>
                    -	Để đảm bảo công khai, khi khách hàng gửi yêu cầu tham gia website/wapsite/app (khi không truy cập dịch vụ 3G), Viettel sẽ thông báo thu thập thông nội dung sau đây để Khách hàng xem xét, lựa chọn có tham gia sử dụng dịch vụ hay không. Đây là thông tin bắt buộc phải nhập khi Người sử dụng đăng ký tài khoản trên trang web, wap và thông tin Người sử dụng chọn để chia sẻ. Gồm có:
                </p><p>
                    (1)	Thông tin đăng ký:
                </p><p>
                    +	Mục đích thu thập thông tin cá nhân;
                </p><p>
                    +	Phạm vi sử dụng thông tin;
                </p><p>
                    +	Thời gian lưu trữ thông tin;
                </p><p>
                    +	Những người hoặc tổ chức có thể được tiếp cận với thông tin đó;
                </p><p>
                    +	Địa chỉ của đơn vị thu thập và quản lý thông tin, bao gồm cách thức liên lạc để người tiêu dùng có thể hỏi về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân mình;
                </p><p>
                    +	Phương thức và công cụ để người tiêu dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình trên hệ thống thương mại điện tử của đơn vị thu thập thông tin.
                </p><p>
                    Hoặc Viettel sẽ sử dụng các thông tin thuê bao đã đăng ký với nhà mạng.
                </p><p>
                    (2)	Thông tin Người sử dụng chọn để chia sẻ: Bao gồm thông tin Người sử dụng chọn để chia sẻ trên mạng xã hội Myclip, như khi Người sử dụng cập nhật trạng thái, tải video, bình luận về tin của thành viên khác.
                </p><p>
                    (3)	Thông tin mà người khác chia sẻ về Người sử dụng: Viettel nhận được thông tin về Người sử dụng từ bạn bè Người sử dụng và những người khác, như khi họ tải lên thông tin liên hệ của Người sử dụng, đăng ảnh của Người sử dụng, đánh dấu Người sử dụng vào ảnh hoặc cập nhật trạng thái hoặc tại một vị trí hoặc thêm Người sử dụng vào một nhóm.
                </p><p>
                    -	Sau khi điền đầy đủ các thông tin trên, website/wapsite/app sẽ hiển thị công cụ để chủ thể thông tin xác nhận sự đồng ý thông qua các chức năng trực tuyến bảng thông báo trên website/wapsite/app hoặc thư điện tử, tin nhắn hoặc những phương thức khác theo thỏa thuận giữa hai bên.
                </p><p>
                    -	Thông tin khác mà Viettel nhận được về Người sử dụng sẽ được xử lý theo quy trình: Khi Người sử dụng đăng những nội dung như ảnh, audio hoặc video trên mạng xã hội Myclip, Viettel có thể nhận thêm dữ liệu liên quan như thời gian, ngày và địa điểm Người sử dụng chụp ảnh hoặc quay video.
                </p><p>
                    -	Cách Viettel sử dụng thông tin nhận được: Viettel sử dụng thông tin nhận được về Người sử dụng liên quan đến các dịch vụ và tính năng mà Viettel cung cấp.
                </p><p>
                    +	Để lưu trữ thông tin cá nhân về Người sử dụng tối thiểu 2 năm đối với các thông tin về tài khoản, thời gian đăng nhập, đăng xuất, địa chỉ IP của người sử dụng và nhật ký xử lý thông tin được đăng tải.
                </p><p>
                    +	Để hiển thị theo yêu cầu của Người sử dụng.
                </p><p>
                    +	Để thực hiện gợi ý cho Người sử dụng và thành viên khác của mạng xã hội Myclip.
                </p><p>
                    +	Ngoài các mục đích trên Viettel không được phép thu thập, sử dụng thông tin của người sử dụng vào bất kỳ mục đích gì.
                </p><p>
                    3.	Chính sách bảo vệ thông tin cá nhân, thông tin riêng của người sử dụng dịch vụ mạng xã hội.
                </p><p>
                    -	Với thông tin thu thập từ người sử dụng, Viettel công khai trên website/wapsite/app cơ chế riêng để chủ thể thông tin được lựa chọn việc cho phép hoặc không cho phép sử dụng thông tin cá nhân của họ trong những trường hợp sau:
                </p><p>
                    +	Chia sẻ, tiết lộ, chuyển giao thông tin cho một bên thứ ba;
                </p><p>
                    +	Sử dụng thông tin cá nhân để gửi quảng cáo, giới thiệu sản phẩm và các thông tin có tính thương mại khác.
                </p><p>
                    -	Đồng thời, Viettel xây dựng hệ thống kỹ thuật và các giải pháp nhằm đảm bảo an toàn, an ninh cho thông tin cá nhân:
                </p><p>
                    +	Tổng Công ty Viễn thông Viettel – Chi nhánh Tập đoàn Viễn thông Quân đội chịu trách nhiệm về mật khẩu và bản quyền phần mềm thiết kế, phần mềm chống virus, các kỹ thuật đảm bảo cho mạng xã hội hoạt động, bảo trì hệ thống, xử lý kỹ thuật khi có sự cố xảy ra.
                </p><p>
                    +	Về cơ sở dữ liệu (CSDL): Hệ thống sử dụng CSDL MSSQL đã được update bản vá an toàn thông tin, thu hồi các quyền không cần thiết, đảm bảo các tài khoản được cấp đúng và đủ quyền nhằm ngăn chặn nguy cơ tài khoản bị chiếm quyền sử dụng. Cấu hình đảm bảo tuân thủ các quy định về an toàn thông tin.
                </p><p>
                    +	Hệ điều hành máy chủ và mô hình mạng hệ thống đáp ứng và tuân thủ đúng quy hoạch và quy định về an toàn thông tin.
                </p><p>
                    +	Về checklist giám sát và KPI: Hệ thống đã có công cụ giám sát và cảnh báo ứng dụng tự động, kiểm tra một phút một lần và gửi cảnh báo qua tin nhắn cho Quản trị viên. Hệ thống cũng đã có log ứng dụng, đảm bảo log theo thời gian thực và được hiệu kiểm hiệu năng, đảm bảo đáp ứng yêu cầu hiệu năng.
                </p><p>
                    +	Cơ chế dự phòng và phân tải hệ thống: Hệ thống dự phòng theo cơ chế Active – Standby trong đó server chạy CMS và Media đã dựng dự phòng Web Server, trên Web Server cũng đã dựng dự phòng CMS và Media.
                </p><p>
                    -	Chỉ thực hiện công khai thông tin trong trường hợp có sự đồng ý của Người sử dụng hoặc Cơ quan chức năng, pháp luật yêu cầu.
                </p>
                <h6>Điều 12. Hiệu lực của thỏa thuận</h6>
                <p>
                    -	Bằng việc truy cập sử dụng website/wapsite/app mạng xã hội Myclip, Người sử dụng đã đồng ý và tuân theo các điều khoản được quy định tại Thỏa thuận này.
                </p><p>
                    -	Khi truy cập, sử dụng mạng xã hội Myclip bằng bất cứ phương tiện (máy tính, điện thoại, thiết bị kết nối internet) hoặc sử dụng ứng dụng Myclip mà Viettel phát triển thì Người sử dụng cũng phải tuân theo Quy chế này.
                </p><p>
                    -	Để đáp ứng nhu cầu sử dụng của Người sử dụng, mạng xã hội Myclip không ngừng hoàn thiện và phát triển, vì vậy các điều khoản quy định tại Thỏa thuận cung cấp và sử dụng dịch vụ mạng xã hội có thể được cập nhật, chỉnh sửa bất cứ lúc nào mà không cần phải thông báo trước tới Người sử dụng. Mạng xã hội Myclip sẽ công bố rõ trên website/wapsite/app, diễn đàn về những thay đổi, bổ sung đó.
                </p><p>
                    -	Trong trường hợp một hoặc một số điều khoản Thỏa Thuận cung cấp và sử dụng dịch vụ mạng xã hội Myclip này xung đột với các quy định của luật pháp Việt Nam, điều khoản đó sẽ được chỉnh sửa cho phù hợp với quy định pháp luật hiện hành, phần còn lại của Thỏa Thuận vẫn giữ nguyên giá trị.
                </p><p>
                    -	Thỏa Thuận cung cấp và sử dụng dịch vụ mạng xã hội Myclip có giá trị từ ngày 01/8/2017.
                </p>

            </div>

        </div>

</div>
