{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}
<section class="blk blkListVideos blkPadBoth" style="margin-top: 85px">
	<input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
	<input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">

	<input type="hidden" id="load-more-id" value="tet_holiday"/>

	{% include "@app/views/partials/videoBox.twig" with {'data': responseData.data, 'hasTitle': true, 'hasArrow': false}  %}  
	<div id="container">
	</div>  
 </section>


{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
