{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

<div class="blkPadBoth">
	{% if channelData.data.content|length >0 and loadId!='video_recommend'  %}
				<section class="blk blkTopChnls">
			<ul class="chnlSlider owl-carousel">
                {% for channel in channelData.data.content %}
					<li class="owl-item">
						<div class="avatar">
							<a href="/channel/{{ channel.channel_id }}">
								<img src="{{ channel.avatarImage }}" alt="{{ channel.channel_name }}"></a>
						</div>
					</li>
                {% endfor %}
				<li class="owl-item">
					<div class="avatar addBtn">
						<a href="/chon-noi-dung">
							<svg class="ico icoAdd">
								<use xlink:href="/images/defs.svg#ico-add"></use>
							</svg>
						</a></div>
				</li>
			</ul>
		</section>
	{% endif %}

	<section class="blk blkListVideos">
		<div class="ctn">
			<input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
			<input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
			<input type="hidden" id="load-more-id" value="{{ loadId }}"/>
			
			<div id="root-tab">
				{% include "@app/views/partials/videoBox.twig" with {'data': videoData.data, 'hasTitle': true, 'hasArrow': false} %}
				{% if videoData.data.content|length == 0 %}
					<p class="ctn">{{t('wap', 'Không có dữ liệu') }}</p>
				{% endif %}
			</div>

			<div id="container">
			</div>
		</div>
	</section>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
