{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}
{{ HeaderWidget.widget({'type':'main','title':title}) | raw }}
<main>
    <section class="blk blkListVideos blkPadBoth">
        <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
        <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">

        <input type="hidden" id="load-more-id" value="video_channel_follow"/>

        {% if not listFollowChannel.data.content is empty %}
            <section class="blk blkFollow">
                <div class="ctn">
                    <a href="/danh-sach-theo-doi" class="more">{{t('wap', 'Xem tất cả') }}</a>
                    <ul id="listFollowChannel">
                        {% for item in listFollowChannel.data.content %}
                            <li>
                                <div class="avatar">
                                    <a href="channel/{{ item.channel_id }}">
                                        <img src="{% if item.avatarImage == '' %} ../images/dfphoto.png {% else %} {{ item.avatarImage }}{% endif %}"/></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

        {% endif %}
        <div class="ctn">
            {% include "@app/views/partials/videoBox.twig" with {'data': responseData.data, 'hasTitle': true, 'hasArrow': false} %}
            <div id="container">
            </div>
        </div>
    </section>
</main>
