{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

{{ HeaderWidget.widget({'type':'main', 'title': videoData.data.name}) | raw }}

<div class="blkPadBoth">
	<section class="blk blkListVideos">
		<div class="ctn">
			<input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
			<input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
			<input type="hidden" id="load-more-id" value="video_of_category_{{ id }}"/>

			{% include "@app/views/partials/videoBox.twig" with {'data': videoData.data, 'hasTitle': true, 'hasArrow': false} %}
			{% if videoData.data.content|length == 0 %}
				<p class="ctn">{{t('web','Không có dữ liệu')}}</p>
			{% endif %}

			<div id="container">
			</div>

		</div>
	</section>
</div>
