{{ use('wapsite/assets/ListAsset') }}
{{ register_list_asset() }}

{{ HeaderWidget.widget({'type':'sub','title': 'Thông báo'}) | raw }}
<div class="mdl-support ctn blkPadBoth">

    {% if state==1 %}
    <h5 class="title">Đã tìm được chủ nhân đầu tiên của chiếc iPhoneX</h5>
    <div class="mdl-support-content" style="text-align: center">
        <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Sau một tháng triển khai chương trình “MeuClip Tích Điểm Tặng Quà” (từ ngày 22/05-21/06), MeuClip rất vui mừng chào đón chủ nhân đầu tiên trúng giải đặc biệt – 01 chiếc iPhone X thời thượng là anh Đoàn Chí Linh có số điện thoại 01688xxxx74, địa chỉ tại ấp Hòa Tây, xã Bình Hòa Bắc, huyện Đức Huệ, tỉnh Long An. </p>
        <img src="/images/winner-iphone.jpg" width="320px"  />
        <p style="color: gray; font-style: italic">(Đại diện Viettel Long An trao thưởng cho khách hàng Đoàn Chí Linh)</p>
        <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Khi được hỏi về “bí kíp” để săn giải cao nhất của chương trình, anh Linh chia sẻ rằng đã theo dõi MeuClip từ những ngày đầu và cảm thấy đây là một trang mạng rất thú vị với nội dung phong phú, cập nhật nhanh xu hướng mới của xã hội. Vì muốn tạo dấu ấn riêng, gần đây anh bắt đầu tạo cho mình một tài khoản người dùng và upload video lên MeuClip. Anh cũng thường xuyên tự quay các clip về cuộc sống thường nhật và không ngờ những clip đó lại thu hút rất nhiều người vào like và comment. Giải thưởng này đến với anh thật sự là một điều may mắn nhưng cũng rất xứng đáng với công sức và tâm huyết anh dành cho MeuClip bấy lâu nay.</p>
        <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Chương trình tích điểm tặng quà của MeuClip vẫn còn tiếp tục đến hết ngày 22/8/2018. Các bạn hãy nhanh tay tạo tài khoản và upload lên những video thật thú vị để rinh quà liền tay nhé. Vẫn còn hàng nghìn phần quà là thẻ cào Viettel và giải đặc biệt là chiếc iPhone X nữa đang chờ các bạn ở phía trước. Thông tin chi tiết về thể lệ chương trình được đăng tại: <a style="color: blue" href="http://meuclip.co.mz/event/info">http://meuclip.co.mz/event/info</a> . Chúc các bạn may mắn!</p>
    </div>
    {% endif %}

    {% if state==2 %}
        <h5 class="title">Chủ nhân thứ hai của chiếc iPhone X đến từ Bắc Cạn!</h5>
        <div class="mdl-support-content" style="text-align: center">
            <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Kết thúc tháng thứ hai của chương trình sự kiện MeuClip “Tích điểm tặng quà”, chúng ta cùng chúc mừng chủ nhân của SĐT 0976xxxx90 – Anh Hoàng Văn Hùng trú tại xã Đức Vân, huyện Ngân Sơn, tỉnh Bắc Kạn đã dành được phần thưởng là iPhoneX. Anh Hùng mới gia nhập đại gia đình MeuClip cách đây không lâu nên giải thưởng đạt được lần này khiến anh rất vui mừng, xúc động.  </p>
            <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Ngoài phần thưởng iPhoneX, hàng nghìn thẻ cào Viettel cũng được trao đến khách hàng. Chi tiết xem tại <a href="http://meuclip.co.mz/sukien">http://MeuClip.vn/sukien</a> </p>
            <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;MeuClip vẫn tiếp tục chào đón thật nhiều các thành viên mới trong đại gia đình MeuClip. Các bạn nhanh tay upload Video của mình để <b>KIẾM TIỀN</b> cùng MeuClip.</p>
            <p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;Chi tiết hướng dẫn upload video và đăng ký nhận tiền xem tại website: http://meuclip.co.mz/contract/condition</p>
            <img src="/images/winner-iphone2.jpg" width="320px"  />
        </div>
    {% endif %}

    {% if state==3 %}
        <h5 class="title">“MeuClip Tích Điểm Tặng Quà”: Giải đặc biệt (iPhoneX) cuối cùng đã tìm được chủ nhân!</h5>
        <div class="mdl-support-content" style="text-align: center">
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;Sự kiện “MeuClip tích điểm tặng quà” đã tìm ra được chủ nhân giải đặc biệt cuối cùng. Khách hàng may mắn này là anh Bùi Văn Tuân, trú tại Giao Thủy, Nam Định có số điện thoại 0989xxxx21.
            </p>
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;Phát biểu cảm nghĩ về giải thưởng lần này, anh Tuân rất bất ngờ khi biết tin mình trúng giải. Với bản thân anh, tham gia vào cộng đồng MeuClip chỉ để xem các video hài, phim sau giờ làm việc căng thẳng…. Nhưng thật may mắn khi đã trúng thưởng được iphone từ chương trình. Điều này sẽ là một động lực to lớn khiến anh Tuân và những khách hàng khác sẽ ngày càng tin tưởng và gắn bó với mạng xã hội MeuClip.
            </p>
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;BTC chương trình MeuClip tích điểm tặng quà thật sự vui mừng vì chỉ trong một thời gian ngắn diễn ra chương trình, MeuClip đã nhận được rất nhiều sự quan tâm của các khách hàng trên mọi miền đất nước. Chắc chắn trong thời gian tới, chúng tôi sẽ tổ chức thêm nhiều sự kiện hơn nữa để tri ân đến khách hàng.
            </p>
            <p style="text-align: left">
                &nbsp;&nbsp;&nbsp;&nbsp;Xem thêm danh sách khách hàng trúng thưởng thẻ cào tại: http://meuclip.co.mz/sukien
            </p>
            <p style="text-align: left">
                Cài app MeuClip để trải nghiệm trên Mobile tốt hơn
            </p>
            <p style="text-align: left">
                + iOS: <a href="https://goo.gl/VGD798">https://goo.gl/VGD798</a>
            </p>
            <p style="text-align: left">
                + Android: <a href="https://goo.gl/S9bjH1">https://goo.gl/S9bjH1</a>
            </p>
            <img src="/images/winner-iphone31.jpg" width="320px"/>
            <br>
            <img src="/images/winner-iphone41.jpg" width="320px"/>
        </div>
    {% endif %}
</div>
