{{ use('wapsite/assets/HomeAsset') }}
{{ register_home_asset() }}

<section class="blk blkListVideos blkPadBoth">
	<section class="blk blkIphoneX blkBdBt">
		<div class="ctn banner">
			<span class="hot">{{ t('wap','Hot') }}</span> <span class="title"><a href="/event/main-index">{{ t('wap', 'Xem video - Trúng thẻ cào, iPhone X') }}</a></span>
		</div>
	</section>
	
	<input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
	<input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">

	<input type="hidden" id="load-more-id" value="world_cup"/>
	<div class="ctn">
		{% include "@app/views/partials/videoBox.twig" with {'data': responseData.data, 'hasTitle': true, 'hasArrow': false}  %}  

			<div id="container">
			</div>  
	</div>  

 </section>


{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
