{{ use('website/assets/DetailPlayAllAsset') }}
{{ register_detail_play_all_asset() }}
{% set item = detail %}

<div class="player-container">
    <div class="content-playlist-player">
        <video id="video" class="video-js">
        </video>
        <div id="countdown" class="countdown-timer" style="display:none;"></div>
        <div class="left-playlist">
            <div class="header-list">
                <h4 class="text-1">{{ item.name }}</h4>
                <p class="text-2" title="{{ item.userName }}">{{ item.userName }} &nbsp; <span id="position_video">1</span>/{{ totalVideo }}</p>
                {% if totalVideo > 1 %}
                    <p>
                        <span class="btn-repeat-list" title="{{t('wap','Phát lặp lại')}}"><i class="fa icon-replay"></i></span>
                        <span class="btn-random-list" title="{{t('wap','Phát ngẫu nhiên')}}" id="btnPlayRandomList"><i class="fa icon-random"></i></span>
                    </p>
                {% endif %}
            </div>
            <div class="vjs-playlist">
                <!--
                  The contents of this element will be filled based on the
                  currently loaded playlist
                -->
            </div>
        </div>
    </div>
    <input id="playerData" type="hidden" value="{{ playerData }}">
    <input id="videoIdsData" type="hidden" value="{{ videoIdsData }}">

    <input id="videoId" type="hidden" value="{{ videoId }}">
    <input id="videoBoxUrl" type="hidden" value="{{ url('video/detail-box') }}">
    
    <input type="hidden" id="commentUrl" value="{{ url('default/list-comment') }}">
    <input type="hidden" id="toggleLikeUrl" value="{{ url('video/like-video') }}">
    <input type="hidden" id="toggleLikeComment" value="{{ url('default/like-comment') }}">
    <input type="hidden" id="postCommentUrl" value="{{ url('default/comment') }}">
    <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
    <input type="hidden" id="repeatPlaylist" value="0"/>
    <input type="hidden" id="isWatchLater" value="{{ url }}"/>

    {# Taila thêm vào#}
    <input type="hidden" id="video_id" value="{{ videoId }}"/>
    <input type="hidden" id="related_limit" value="10"/>
    <input type="hidden" id="related_offset" value="0"/>
    {# End Taila thêm #}
</div>
<div id="video-content">

</div>



<script type="text/javascript">
    //Playlist

</script>