{{ use('website/assets/MyPlaylistAsset') }}
{{ register_my_playlist_asset() }}
<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.limit'] }}">
    <input type="hidden" id="getMoreOffset" value="0">
    <div class="mdl-general">
        <h1 class="title">
            <a href="javascript:void(0);" class="ellipsis" title="{{ t('web', 'Danh sách playlist')}}">
                {{t('web','Danh sách playlist')}}
            </a>
        </h1>
        <div class="content">
            <div class="list-video list-playlist" id="contentMyPlaylist" >
                <div class="item">
                    <a href="#" class="image">
                        <img src="images/data/16x9.png" class="frame-image"/>
                        <span class="number">
								1<br><i class="icon-playlist"></i>
							</span>
                        <span class="overlay">
								<i class="fa fa-play"></i> {{t('web','PHÁT TẤT CẢ')}}
							</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
