{{ use('website/assets/DetailAsset') }}
{{ register_detail_asset() }}
{# <div class="body-detail"> #}

    <!--Player-->
    {% set detail = responseData.detail %}
    {% set isCheck = responseData.is_check %}
    {% set isembed = true %}
    {% set streams = responseData.streams %}
    {% set relateds = responseData.relateds.content %}
    {% set isRegisterFast = streams.popup.is_register_fast %}

    {% if detail.suggest_package_id and ((streams.popup and streams.errorCode!=200) or popupGA) and streams.errorCode!=401 %}
        <div class="container" style="padding: 10px; text-align: center;">
            {% if  streams.popup.confirm %}
                {{ streams.popup.confirm }}
            {% else %}
                {{ popupGA }}
            {% endif %}
        </div>
    {% endif %}

    {% if popupGA %}
        <input type="hidden" id="google-adwords" value="1"/>
    {% endif %}

    <input type="hidden" id="video_id" value="{{ detail.id }}"/>
    <input type="hidden" id="channel_id" value="{{ detail.owner.id }}"/>
    <input type="hidden" id="channel_name" value="{{ detail.owner.name }}"/>
    <input type="hidden" id="category_id" value="{{ detail.cate.id }}"/>
    <input type="hidden" id="category_name" value="{{ detail.cate.name }}"/>
    <input type="hidden" id="category_parent_id" value="{{ detail.cate.parent_id }}"/>
    <input type="hidden" id="video_name" value="{{ detail.name }}"/>
    <input type="hidden" id="tag_name" value="{{ detail.tag }}"/>
    <input type="hidden" id="related_limit" value="{{ relatedLimit }}"/>
    <input type="hidden" id="related_offset" value="0"/>
    {# width-common #}
    <div class="player ">
        {% if streams.urlStreaming and not popupGA %}
            <div id="playerBox" {% if showTime != null %}style="display: none" {% endif %}>
                <video id="videoBox" class="video-js vjs-myclip vjs-default-skin vjs-16-9" controls>
                </video>
            </div>
            {% if showTime != null %}
                <input type="hidden" id="idUrlGetStream"
                       value="{{ url('/video/ajax-get-video-stream', {'id' : detail.id }) }}"/>
                <input type="hidden" id="showTimer" value="{{ showTime }}"/>
                <div id="countdown" class="countdown-timer">
                </div>
            {% endif %}
        {% else %}
            {% if detail.suggest_package_id  and (streams.popup or popupGA) %}
                <div id="suggest-package">
                    <img src="{{ detail.coverImage }}" width="100%"
                         onError="this.onerror=null;this.src='/images/data/16x9.png';"/>
                    <div>
                        <a id="regSuggestion"
                           href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location = '{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#regSuggestion').fadeOut();$('#confirmRegSuggestion').fadeIn()" {% endif %}
                           style="position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                            <span style="display: inline-block; vertical-align: middle;">{{t('web','Đăng ký')}}<br>{{t('web','để xem video')}}</span>
                        </a>

                        <form id="register-sub-suggestionform" action="{{ url('account/register-service') }}"
                              method="post">
                            <input type="hidden" name="package_id" value="{{ detail.suggest_package_id }}"/>
                            <input type="hidden"
                                   name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                   value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                            <a id="confirmRegSuggestion"
                               href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location = '{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#register-sub-suggestionform').submit();$(this).removeAttr('onClick')" {% endif %}
                               style="display:none; position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                <span style="display: inline-block; vertical-align: middle;">{{t('web','Xác nhận')}} <br/>{{t('web','đăng ký')}}</span>
                            </a>
                        </form>
                        {% if popupGA %}
                            <a href="{{ detailUrl }}"
                               style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('web','Bỏ qua')}}</a>
                        {% else %}
                            <a href="javascript:void(0)" onClick="$('#suggest-package').remove();$('#play-area').show()"
                               style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{t('web','Bỏ qua')}}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div id="play-area" {% if detail.suggest_package_id and (streams.popup or popupGA) %} style="display:none" {% endif %}>
                <div
                        {% if streams.errorCode==401 %}
                            {% if isCheck == 0 %}
                                onClick="window.location='{{ url('auth/login?popup=1') }}'"
                            {% endif %}
                        {% elseif isRegisterFast %}
                            onClick="document.getElementById('register-sub-form').submit()"
                        {% else %}
                            onClick="$('#popup-step1').fadeIn()"
                        {% endif %} >
                    <img src="{{ detail.coverImage }}" width="100%"
                         onError="this.onerror=null;this.src='/images/data/16x9.png';"/>
                    <div class="overlay-video">
                        <div class="btn-play vjs-icon-play icoPlayFix"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <!--Info video-->
    <div class="info-video width-common">
        <input type="hidden" id="commentUrl" value="{{ url('default/list-comment') }}">
        <input type="hidden" id="toggleLikeUrl" value="{{ url('video/like-video') }}">
        <input type="hidden" id="toggleLikeComment" value="{{ url('default/like-comment') }}">
        <input type="hidden" id="isCheck" value="{{ isCheck }}">
        <input type="hidden" id="postCommentUrl" value="{{ url('default/comment') }}">
        <input type="hidden" id="followVideoURL" value="{{ url('account/follow-video') }}"/>
        {% if streams.errorCode == 200 %}
            <input type="hidden" id="play" name="play" value="true"/>
            {# hoadd #}
            <input type="hidden" id="url" name="url" value="{{ streams.urlStreaming }}"/>
            <input type="hidden" id="poster" name="poster" value="{{ detail.coverImage }}"/>
            <input type="hidden" id="play" value="true"/>
            <input type="hidden" id="media_type" value="{{ type }}"/>
            <input type="hidden" id="is_pc" value="{{ app.session.get('is_pc') }}"/>
            <input type="hidden" id="is_ios" value="{{ app.session.get('is_ios') }}"/>
            <input type="hidden" id="ajaxUrl" value="{{ url('/account/watch-time') }}"/>
            <input type="hidden" id="playId" value="{{ detail.id }}"/>
            {#            loại bỏ chức năng xem lại video đã xem giữa chừng#}
            {#            <input type="hidden" id="playPosition" value="{{ responseData.currentTime }}"/> #}
            <input type="hidden" id="parentId" value="{{ detail.id }}"/>
        {% endif %}
        <div id="channel_related_detail">

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="shareModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share embed</h5>
            </div>
            <div class="modal-body container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- <video width="auto" height="290" controls>
                            <source src="{{ streams.urlStreaming }}" type="video/mp4">
                        </video> -->
                        <video id="videoBoxShare" class="video-js vjs-myclip vjs-default-skin vjs-16-9" width="auto" height="290" controls>
                        </video>
                    </div>
                    <div class="col-md-4">
                        <textarea class="form-control" id="embed-code" rows="3"><iframe src="{{ iframeVideo }}" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="400px" width="600px" allowfullscreen></iframe></textarea>
                    </div>
                </div>
                <div id="copy-success" class="alert alert-success">
                    <strong>Link copied to clipboard</strong>
                </div>
            </div>


            <div class="modal-footer">
                <button id="copyVideoShare" type="button" class="btn btn-primary">Copy</button>
                <button id="closeVideoShare" type="button" class="btn btn-secondary" >Close</button>
            </div>
        </div>
    </div>
{# </div> #}
