{{ use('wapsite/assets/DetailAsset') }}
{{ register_detail_asset() }}

{% set detail = responseData.detail %}
{% set streams = responseData.streams %}
{% set relateds = responseData.relateds.content %}
<main>
    {% if streams.errorCode == 200 %}
        <input type="hidden" id="play" name="play" value="true"/>
        <input type="hidden" id="url" name="url" value="{{ streams.urlStreaming }}"/>
        <input type="hidden" id="poster" name="poster" value="{{ detail.coverImage }}"/>
        <input type="hidden" id="play" value="true"/>
        <input type="hidden" id="media_type" value="VOD"/>
        <input type="hidden" id="is_pc" value="{{ app.session.get('is_pc') }}"/>
        <input type="hidden" id="is_ios" value="{{ app.session.get('is_ios') }}"/>
        <input type="hidden" id="ajaxUrl" value="{{ url('/account/watch-time') }}"/>
        <input type="hidden" id="playId" value="{{ detail.id }}"/>
        <input type="hidden" id="playPosition" value="{{ responseData.currentTime }}"/>
        <input type="hidden" id="parentId" value="{{ detail.id }}"/>
    {% endif %}
    {% if streams.popup %}
        {% include '@app/views/partials/popup.twig' with {'type': 'PLAYLIST', 'popup':streams.popup, 'autoDisplay': streams.autoDisplay, 'msisdn': msisdn } %}
    {% endif %}
    <div>
        <section class="blk blkVideoDetail">
            <div class="screen pthld">               
                {% if streams.urlStreaming %} 
                    <video id="videoBox" src="{{ streams.urlStreaming }}" class="video-js  vjs-16-9 youtube" controls>
                    </video>
                {% else %}
                    {% if detail.suggest_package_id and streams.popup %}
                        <div class="banner-film" id="suggest-package">
                            <img src="{{ detail.coverImage }}" width="100%" onError="this.onerror=null;this.src='/images/16x9.png';"/>
                            <div class="overlay">
                                <a id="regSuggestion" href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#regSuggestion').fadeOut();$('#confirmRegSuggestion').fadeIn()" {% endif %} style="position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                    <i class="fa icon-play2" style="vertical-align: middle; margin-right: 5px;"></i>
                                    <span style="display: inline-block; vertical-align: middle;">Đăng ký<br>để xem video</span>
                                </a>

                                <form id="register-sub-suggestionform" action="{{ url('account/register-service') }}" method="post">
                                    <input type="hidden" name="package_id" value="{{ streams.popup.package_id }}"/>
                                    <input type="hidden"
                                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                                    <a id="confirmRegSuggestion" href="javascript:void(0)" {% if streams.errorCode==401 %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#register-sub-suggestionform').submit();$(this).removeAttr('onClick')" {% endif %} style="display:none; position: absolute; left: 10px; bottom: 20px; background: #0081ff; padding: 6px 20px 6px 15px; border-radius: 20px; color: #fff;">
                                        <i class="fa icon-play2" style="vertical-align: middle; margin-right: 5px;"></i>
                                        <span style="display: inline-block; vertical-align: middle;">{{ t('wap', 'Xác nhận') }} <br/>{{ t('wap', 'đăng ký') }}</span>
                                    </a>
                                </form>

                                <a href="javascript:void(0)" onClick="$('#suggest-package').remove();$('#play-area').show()" style="position: absolute; right: 10px; bottom: 20px; background: #222; padding: 10px 20px; border-radius: 16px; color: #fff;">{{ t('wap', 'Bỏ qua') }}</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="banner-film" {% if detail.suggest_package_id and streams.popup%} style="display:none" {% endif %}>
                        <div {% if streams.errorCode==401 %} onclick="window.location='{{ url('auth/login?popup=1') }}'" {% else %} onClick="$('#popup-step1').fadeIn()" {% endif %} >
                            <img src="{{ detail.coverImage }}" width="100%" onError="this.onerror=null;this.src='/images/16x9.png';"/>
                            <div class="overlay-video youtube video-js">
                                <button class="vjs-big-play-button" type="button" aria-live="polite" title="Play Video" aria-disabled="false"><span aria-hidden="true" class="vjs-icon-placeholder"></span><span class="vjs-control-text">{{ t('wap', 'Play Video') }}</span></button>
                            </div>
                        </div>
                    </div>
                {% endif %}                         
            </div>
            <div class="ctn">
                <a class="right toggleBtn trans" data-target="#videoDesc" data-ani="rotate180" href="#"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-down-solid')}}"></use></svg></a>
                <h6 class="title">{{ detail.name }}</h6>
                <div class="txtInfo">{{ t('wap','{count} lượt xem', {'count': detail.play_times}) }}</div>
            </div>
            {% if responseData.parts|length > 1 %}
            <div class="ctn">
                <ul class="chapterList owl-carousel">
                    {% for k,chapter in responseData.parts %}
                        {% if detail.id == chapter.id %}
                        <li class="item crrIdx"><span>
                            <a href="{{ url('video/detail',{'playlist_id':playlistId,'id':chapter.id, 'slug':detail.slug}) }}">{{k+1}}</a>
                        </span></li>
                        {% else %}
                        <li class="item">
                            <a href="{{ url('video/detail',{'playlist_id':playlistId,'id':chapter.id, 'slug':detail.slug}) }}">{{k+1}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="ctn">
                <ul class="btnList list5Items alCenter">
                    <li><a href="javascript:void(0)" data-like="{{detail.isFavourite}}"  data-number="{{detail.likeCount}}" data-id="{{detail.id}}" id="linkLike_{{detail.id}}" class="likeBtn">
                        <div class="onOff">
                            <svg class="ico icoLike {% if detail.isFavourite != 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-like') }}"></use>
                            </svg>
                            <svg class="ico icoLiked {% if detail.isFavourite == 1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-liked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numLike_{{detail.id}}">{{ detail.likeCount }}</p>
                    </a></li>
                    <li><a href="javascript:void(0)" data-dislike="{{detail.isFavourite}}" data-number="{{detail.dislikeCount}}" data-id="{{detail.id}}" id="linkDislike_{{detail.id}}" class="dislikeBtn">
                        <div class="onOff">
                            <svg class="ico icoDislike {% if detail.isFavourite != -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-dislike') }}"></use>
                            </svg>
                            <svg class="ico icoDisliked {% if detail.isFavourite == -1 %} active {% endif %}">
                                <use xlink:href="{{ url('images/defs.svg#ico-disliked') }}"></use>
                            </svg>
                        </div>
                        <p class="txtInfo" id="numDislike_{{detail.id}}">{{ detail.dislikeCount }}</p>
                    </a></li>
{#                    <li><a href="javascript:void(0);" data-target="#popupShare" class="modalBtn btnShare" id="shareDetail" data-id="{{detail.id}}" data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}">#}
{#                        <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use></svg>#}
{#                        <p class="txtInfo">{{ t('wap', 'Chia sẻ') }}</p>#}
{#                    </a></li>#}
                    <li>
                        <a class="optMnBtn detailVideoBtnAddTo" data-id="{{detail.id}}" data-url="{{ url('video/detail',{'id':detail.id, 'slug':detail.slug}) }}" data-target="#playlistOpt">
                            <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg>
                            <p class="txtInfo">{{ t('wap', 'Thêm vào') }}</p>
                        </a>
                    </li>
                    <li>
                        <a class="optMnBtn" data-target="#reportOtp">
                            <svg class="ico">
                                <use xlink:href="{{ url('images/defs.svg#ico-flag') }}"></use>
                            </svg>
                            <p class="txtInfo">{{ t('wap', 'Báo cáo') }}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <input type="hidden" id="is_follow" value="{{ detail.owner.isFollow }}"/>
            <div class="user blkBdTop ctn">
                <a class="right {% if detail.owner.isFollow %} color0081FF {% endif %}" href="javascript:void(0)" id="followVideo" data-id="{{detail.owner.id}}">
                    <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-follow') }}"></use></svg>
                </a>
                <div class="avatar pthld left"><a href="{{ url('detail/get-detail',{'id':detail.owner.id}) }}">
                    <img src="{{ detail.owner.avatarImage }}"
                         onError="this.onerror=null;this.src='/images/avatar.gif'" alt=""></a>
                </div>
                <div class="ctnhld">
                    <input type="hidden" id="followVideoURL" value="{{ url('/account/follow-video') }}"/>
                    <div><a href="{{ url('detail/get-detail',{'id':detail.owner.id}) }}">{{ detail.owner.name }}</a></div>
                    <div class="txtInfo" id="total_follow">{{ detail.owner.followCount }} {{ t('wap', 'theo dõi')</div>
                </div>
            </div>
            <div class="desc blkBdTop ctn txtInfo toggle" id="videoDesc">
                <p>{{ t('wap', 'Xuất bản') {{detail.publishedTime}}</p>
                <div>{{ detail.description }}</div>
            </div>
        </section>
        {% if relateds|length >0 %}    
            {% include '@app/views/partials/relatedVideoBox.twig' with {'data': relateds} %}
        {% endif %}
        {% include '@app/views/partials/commentBox.twig' with {'contentId': detail.id , 'content': detail.name , 'type': 'VOD'} %}
    </div>
    {% include '@app/views/partials/shareSocialModal.twig' with {'shareLink': shareLink} %}
    {% include '@app/views/partials/popupCommon.twig' %}


    <div class="modal modalPopup" id="reportOtp">
        <div class="ctn">
            <h5>{{ t('wap', 'Báo cáo vi phạm') }}</h5>
            {% for report in app.params['setting.feedback'] %}
                <p>
                    <input id="rdo_{{ report.id }}" type="radio" name="report" value="{{ report.id }}">
                    <label for="rdo_{{ report.id }}">{{ report.content }}</label>
                </p>
            {% endfor %}
            <p>{{ t('wap', 'Nếu bạn là chủ sở hữu video vui lòng') }} <a href="/lien-he" style="color:blue">{{ t('wap', 'làm theo hướng dẫn') }}</a>
                {{ t('wap', 'để thông báo về nội dung vi phạm bản quyền') }}.</p>
            <div class="action alRight">
                <a href="javascript:void(0)" id="piracy-cancel" class="close" href="javascript:void(0)">{{ t('wap', 'HỦY') }}</a>
                <span></span>
                <a href="javascript:void(0)" onclick="postFeedBack()" id="report-issue" class="ok">{{ t('wap', 'ĐỒNG Ý') }}</a>
                <input type="hidden" id="postFeedbackUrl" value="{{ url('default/feed-back') }}">
                <input type="hidden" id="contentId" value="{{ detail.id }}">
                <input type="hidden" id="typeReport" value="VOD">
                <input type="hidden" id="contentReport" value="{{ detail.name }}">
            </div>

        </div>
    </div>
</main>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}