{{ use('wapsite/assets/EventAsset') }}
{{ register_event_asset() }}
<main>
    <div class="blkPadBoth">
        <div class="blkPadBoth">
            <section class="blk blkIphoneX">
                <div class="ctn {% if responseData.monthReport %} blkBdBt {% endif %}">
                    <h5><strong>{{ t('wap', 'GIẢI THƯỞNG THÁNG') }}</strong></h5>

                    <form action="" method="get" id="form-award-month">
                        <div class="filterMonth form-group">
                            <select class="ipt" name="month_report" id="month_report">
                                <option value="">{{ t('wap', 'Chọn') }}</option>
                                {% for key,range in responseData.reportRange %}
                                    <option {% if key == responseData.monthReport %} selected {% endif %} value="{{ key }}">{{ range }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btnBlue">Xem</button>
                        </div>
                    </form>

                    {% if responseData.monthReport %}
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th width="100">{{ t('wap', 'Số thuê bao') }}</th>
                            <th style="text-align: left;padding-left: 30px;">{{ t('wap', 'Giải thưởng') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in responseData.data  %}
                                <tr>
                                    <td>{{ item.msisdn }}</td>
                                    <td style="text-align: left; padding-left: 30px;">{{ item.award_name }}</td>
                                </tr>
                            {% endfor %}

                            {% if responseData.data|length==0 %}
                                <tr>
                                    <td colspan="3" style="text-align: center">{{ t('wap', 'Không có dữ liệu') }}</td>
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                    {% endif %}

                    <nav class="pagination alCenter">
                        {% if responseData.totalPage >1 %}
                            <a {% if responseData.currentPage ==1 %} class="active" {% endif %} href="/event/award-month?page=1&month_report={{ responseData.monthReport }}">1</a>
                            {% if max(2,responseData.currentPage-2 ) >3 %}
                                ...
                            {% endif %}
                            {% set start = max(2,responseData.currentPage-2) %}
                            {% set stop= min(responseData.currentPage+2,responseData.totalPage-1) %}


                            {% if responseData.totalPage>=2 %}
                                {% for i in start..max(start, stop) %}
                                    <a {% if responseData.currentPage ==i %} class="active" {% endif %} href="/event/award-month?page={{ i }}&month_report={{ responseData.monthReport }}">{{ i }}</a>
                                {% endfor %}
                            {% endif %}

                            {% if min(responseData.currentPage+2, responseData.totalPage ) < responseData.totalPage-1 %}
                                ...
                            {% endif %}
                        {% endif %}

                        {% if responseData.totalPage >=3 %}
                            <a {% if responseData.currentPage ==responseData.totalPage %} class="active" {% endif %} href="/event/award-month?page={{ responseData.totalPage }}&month_report={{ responseData.monthReport }}">{{ responseData.totalPage }}</a>
                        {% endif %}

                    </nav>
                </div>
                <p></p><p></p>
                <p class="alCenter ctaBtn" style="margin: 0px auto; width: 320px;">
                    <a href="/event/index" class="btn btnBlue" style="float: left; width: 150px">{{ t('wap', 'Điểm của tôi') }}</a>
                    <a href="/event/award-week" class="btn btnBlue" style="float: left; margin-left: 10px;width: 160px">{{ t('wap', 'Giải thưởng tuần') }}</a>
                </p>
            </section>
        </div>
    </div>
</main>