{{ use('wapsite/assets/EventAsset') }}
{{ register_event_asset() }}

<main>
    <div class="blkPadBoth">
        <div class="blkPadBoth">
            <section class="blk blkIphoneX">
                <div class="ctn {% if responseData.monthReport %} blkBdBt {% endif %}">
                    <h5><strong>{{ t('wap', 'GIẢI THƯỞNG TUẦN') }}</strong></h5>

                    <form action="" method="get" id="form-award-week" >
                        <div class="filterWeek form-group">
                            <input class="ipt" name="from_date" id="datepicker_fromdate" placeholder="{{ t('wap', 'Từ ngày') }}" value="{{ responseData.fromDate }}">
                            <svg onclick="openDatePicker('#datepicker_fromdate')" class="ico icoCal"><use xlink:href="/images/defs.svg#ico-calendar"></use></svg>

                            <input class="ipt" name="to_date" id="datepicker_todate" placeholder="{{ t('wap', 'Tới ngày') }}" value="{{ responseData.toDate }}">
                            <svg onclick="openDatePicker('#datepicker_todate')"  class="ico icoCal"><use xlink:href="/images/defs.svg#ico-calendar"></use></svg>
                            <button type="submit" class="btn btnBlue">{{ t('wap', 'Xem') }}</button>
                        </div>
                    </form>
                    <input type="hidden" id="event_start_date" value="{{ responseData.startDate }}">

                    {% if responseData.fromDate %}
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="100">{{ t('wap', 'Số thuê bao') }}</th>

                                <th style="text-align: left;padding-left: 30px;">{{ t('wap', 'Giải thưởng') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in responseData.data  %}
                                <tr>
                                    <td>{{ item.msisdn }}</td>

                                    <td >{{ item.award_name }}</td>
                                </tr>
                            {% endfor %}

                            {% if responseData.data|length==0 %}
                                <tr>
                                    <td colspan="3" style="text-align: center">{{ t('wap', 'Không có dữ liệu') }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% endif %}

                    <nav class="pagination alCenter">

                        {% if responseData.totalPage >1 %}
                            <a {% if responseData.currentPage ==1 %} class="active" {% endif %} href="/event/award-week?page=1&from_date={{ responseData.fromDate }}&to_date={{ responseData.toDate }}">1</a>
                            {% if max(2,responseData.currentPage-2 ) >3 %}
                                ...
                            {% endif %}

                            {% set start = max(2,responseData.currentPage-2) %}
                            {% set stop= min(responseData.currentPage+2,responseData.totalPage-1) %}


                            {% if responseData.totalPage>=2 %}
                                {% for i in start..max(start, stop) %}
                                    <a {% if responseData.currentPage ==i %} class="active" {% endif %} href="/event/award-week?page={{ i }}&from_date={{ responseData.fromDate }}&to_date={{ responseData.toDate }}">{{ i }}</a>
                                {% endfor %}
                            {% endif %}

                            {% if min(responseData.currentPage+2, responseData.totalPage ) < responseData.totalPage-1 %}
                                ...
                            {% endif %}
                        {% endif %}

                        {% if responseData.totalPage >=3 %}
                            <a {% if responseData.currentPage ==responseData.totalPage %} class="active" {% endif %} href="/event/award-week?page={{ responseData.totalPage }}&from_date={{ responseData.fromDate }}&to_date={{ responseData.toDate }}">{{ responseData.totalPage }}</a>
                        {% endif %}

                    </nav>
                </div>

                <p></p><p></p>
                <p class="alCenter ctaBtn" style="margin: 0px auto; width: 320px;">
                    <a href="/event/index" class="btn btnBlue" style="float: left; width: 150px">{{ t('wap', 'Điểm của tôi') }}</a>
                    <a href="/event/award-month" class="btn btnBlue" style="float: left; margin-left: 10px;width: 160px">{{ t('wap', 'Giải thưởng tháng') }}</a>
                </p>
            </section>
        </div>
    </div>
</main>