{{ use('wapsite/assets/EventAsset') }}
{{ register_event_asset() }}

{{ HeaderWidget.widget({'type':'event','title': t('wap', 'Sự kiện')}) | raw }}

<main>
    <div class="blkPadBothExt">
        <section class="blk blkBdTop blkEvent">
            <p class="alCenter joinBtn">
                <a class="btn btnWhite" href="/event/guide">{{ t('wap', 'Bắt đầu chơi') }}</a>
            </p>
            <div><img src="/images/event_poster.png"></div>
        </section>
    </div>

</main>
