{{ use('website/assets/EventMinAsset') }}
{{ register_event_min_asset() }}

<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <div class="mdl-ipx">

        <div class="header">
            <a href="/event/index">
                <h5 class="title textSd">
                    <span style="padding-top: 10px;">Xem Video</span><br>
                    <span style="font-weight: bold">Trúng Thẻ cào, Nhận Iphone X</span>
                </h5>
                <h5 class="title textSd">XEM NGAY ĐIỂM CỦA BẠN</h5>
                <div class="iphone"><img src="/images/ipx_iphone.png" width="58"></div>
            </a>
        </div>

        <div class="box">
            <div class="ctn">
                <p>
                    <strong>
                        1. Giới thiệu chương trình
                    </strong>
                </p>
                <p>Nhằm mục đích tạo ra sân chơi dành cho khách hàng, MyClip tổ chức triển khai chương trình Tích
                    điểm tặng quà, Khách hàng tương tác trên MyClip có cơ hội nhận HÀNG NGHÌN giải thưởng thẻ cào và
                    có cơ hội trúng Iphone X</p>
                <p><a href="/event/award-week">Danh sách đua top trúng thưởng tuần</a></p>
                <p><a href="/event/award-month">Danh sách đua top trúng thưởng tháng</a></p>

                <p><strong>2. Thời gian triển khai</strong></p>
                <p><a href="javascript:void(0)" onclick="sh('time-event')"> Thời gian triển khai từ 22/05/2018 – 22/08/2018</a></p>
                <div style="display:none" id="time-event">
                    <p>Tháng thứ nhất: Từ 22/05 đến 21/06</p>
                    <p>Tuần 1: 22/05-28/05</p>
                    <p>Tuần 2: 29/05-04/06</p>
                    <p>Tuần 3: 05/06-11/06</p>
                    <p>Tuần 4: 12/06-18/06</p>
                    <p>Tháng thứ hai: Từ 22/06 đến 21/07</p>
                    <p>Tuần 1: 22/06-28/06</p>
                    <p>Tuần 2: 29/06-5/07</p>
                    <p>Tuần 3: 06/07-12/07</p>
                    <p>Tuần 4: 13/07-19/07</p>
                    <p>Tháng thứ ba: 22/07 đến 22/08</p>
                    <p>Tuần 1: 22/07-28/07</p>
                    <p>Tuần 2: 29/07-04/08</p>
                    <p>Tuần 3: 05/08-11/08</p>
                    <p>Tuần 4: 12/08-18/08</p>
                </div>


                <p><strong>3. Đối tượng tham gia</strong></p>
                <p>Tất cả các thuê bao Viettel tham gia mạng xã hội MyClip</p>
                <p><strong>4. Nội dung chương trình</strong></p>
                <p><strong>4.1 Cơ cấu giải thưởng</strong></p>
                <p>Khách hàng tham gia chương trình bằng cách tương tác với mạng xã hội MyClip có các giải thưởng
                    sau:</p>
                <p>(1) 500 khách hàng đăng ký gói tháng MyClip đầu tiên trong tháng nhận thẻ cào 10.000 đồng</p>
                <p>(2) 2.500 khách hàng đầu tiên đăng ký gói ngày MyClip duy trì dịch vụ 7 ngày (trừ cước 7 lần)
                    nhận thẻ cào 10.000 đồng</p>
                <p> (3) 1.000 lượt share video MyClip lên facebook đầu tiên trong tháng nhận thẻ cào 10.000 đồng</p>
                <p>(4) 500 khách hàng có video upload được bình luận nhiều nhất trên MyClip trong tháng nhận thẻ cào
                    30.000 đồng</p>
                <p>(5) 500 khách hàng có video upload được like nhiều nhất trên MyClip trong tháng nhận thẻ cào
                    30.000 đồng</p>
                <p>(6) 500 khách hàng có kênh video upload được theo dõi nhiều nhất trên MyClip trong tháng nhận thẻ
                    cào 30.000 đồng</p>
                <p>(7) 2 khách hàng có video upload được bình luận nhiều nhất trên MyClip trong tuần nhận thẻ cào
                    20.000 đồng</p>
                <p>(8) 2 khách hàng có video upload được like nhiều nhất trên MyClip trong tuần nhận thẻ cào 20.000
                    đồng</p>
                <p>(9) 2 khách hàng có kênh video upload được theo dõi nhiều nhất trên MyClip trong tuần nhận thẻ
                    cào 20.000 đồng</p>
                <p>(10) 500 khách hàng đầu tiên upload video trên MyClip trong tháng nhận thẻ cào 10.000 đồng</p>
                <p>(11) Khách hàng Tích điểm cao nhất trong tháng trúng Iphone X: </p>
                <p><strong>4.2. Cơ chế tích điểm như sau</strong></p>

                <p>- Đăng ký thành công gói cước tháng cộng 10.000 điểm</p>
                <p>- Đăng ký thành công gói cước ngày MyClip và duy trì dịch vụ 7 ngày (trừ cước thành công 7 lần)
                    cộng 10.000 điểm</p>
                <p> - Share video MyClip trên Facebook cộng 1000 điểm</p>
                <p> - Upload video trên MyClip cộng 10.000 điểm</p>

                <p> - Nội dung do khách hàng Upload lên MyClip, video đó được</p>
                <p> + 1 lượt Xem video trên MyClip cộng 100 điểm</p>
                <p> + 1 lượt Like video trên MyClip cộng 100 điểm</p>
                <p> + 1 lượt bình luận video trên MyClip cộng 100 điểm</p>
                <p> + 1 lượt dislike trên MyClip trừ 20 điểm</p>

                <p> o 1 lượt theo dõi kênh trên MyClip được 100 điểm</p>

                <p><strong> * Chi tiết về cách tính điểm: <a href="/event/info">XEM TẠI ĐÂY</a> </strong></p>

                <p>Lưu ý: Giải thưởng là thẻ cào Viettel, Iphone X không có giá trị quy đổi bằng tiền mặt</p>
                <p>- Nhóm giải 4,5,6: Một thuê bao chỉ được nhận 1 trong 3 giải trong 1 tháng.</p>
                <p>- Nhóm giải 1,2,3,4,5,6,10,11: Một thuê bao chỉ được nhận 1 giải duy nhất trong 3 tháng</p>

                <p>- Nhóm giải 7,8,9: Một thuê bao chỉ được nhận 1 trong 3 giải.1 Thuê bao chỉ được nhận một giải
                    tuần duy nhất trong tháng.
                </p>

                <p>
                    - Nhóm giải thưởng 4,5,6,7,8,9,11: Nếu trong trường hợp khách hàng có số điểm bằng nhau căn cứ
                    vào cơ cấu điểm khách hàng tích lũy được theo thứ tự ưu tiên share, comment, like, xem, theo dõi
                    cao hơn sẽ được giải. Nếu cơ cấu điểm bằng nhau thì căn cứ vào thời gian share video đầu tiên
                    sớm hơn sẽ được giải
                </p>
                <p>
                    - Nhóm giải thưởng 1,2,3,10: sẽ căn cứ thời gian của khách hàng theo mili giây để trao giải.
                </p>

                <p>- Sau khi có điểm tổng kết tháng, điểm tháng sau sẽ được trở lại về 0 để khách hàng tích điểm
                    lại từ đầu. Quy chế cộng điểm các tháng tương tự nhau.
                </p>

                <p> <a href="/event/info"><strong>5. Quy định giải thưởng và trao giải:</strong></a> </p>
                <p><a style="text-align: center" href="/event/guide">BẮT ĐẦU NGAY</a></p>

            </div>
        </div>
    </div>
</div>

<script>

    function sh(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>

<div class="clearfix"></div>

