{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}
{% set data = responseData.data %}

<div class="body-content-left">
    <!--0.Left menu-->
</div>

<div class="body-content-right">
    <div class="outline-channel">
        {% include "@app/views/partials/banner.twig" with {'responseData': responseData} %}
        <div class="channel-info">
            <div class="right-content">
                <input type="hidden" value="{{ responseData.data.detail.id }}" id="channel_id">
                {% set status = data.detail.isFollow ? 0 :1 %}
                {% if app.session.get('userId') == responseData.data.detail.id %}
                    <a href="{{ url('/channel/update',{'id': responseData.data.detail.id}) }}" class="link-edit">{{t('web','Chỉnh sửa kênh')}}</a>
                {% endif %}
                <input type="hidden" value="{{ status }}" id="status_{{ data.detail.id }}">
                <input type="hidden" value="{{ data.detail.notification_type }}" id="notification-type">
                {% if channelId != app.session.get('userId') %}
                    <span id="icon-follow" data-id="{{ data.detail.id }}" data-status="{{ status }}"
                          data-name="{{ data.detail.name }}"
                          class="btn-follow {% if data.detail.isFollow == 1 %} btn-followed {% endif %}"
                          onclick=" return addEvent('follow_channel_action', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'follow_type ': !!+($('#status_' + {{ data.detail.id }}).val()) });">
                    <span class="txt-first"></span>
                    <span class="statusFollow"> {% if data.detail.isFollow == 1 %} {{t('web','ĐÃ THEO DÕI')}} {% else %} {{t('web','THEO DÕI')}}{% endif %}</span>
                </span>
                {% endif %}
                <span id="onOff" class="link-notify ico-bell on-off" data-target="#modal-notify"
                      style="{% if data.detail.isFollow %}display:inline-block;{% else %}display: none;{% endif %}">
                    <i class="fa {% if data.detail.notification_type >0 %} icon-ringoff {% else %} icon-notify {% endif %} notify"></i>
                </span>
            </div>
            <div class="avatar"><img src="{{ data.detail.avatarImage }}"
                                     onError="this.onerror=null;this.src='/images/data/4x4.png'"/></div>
            <p class="text-1">{{ data.detail.name }}
                <span class="status-follow" {% if data.detail.isFollow != 1 %} style="display: none" {% endif %}><i
                            class="icon-checker"></i></span>
            </p>
            <p class="text-2">{{ t('web','{count} lượt theo dõi', {'count': data.detail.num_follow | number_format(0, '.', ',')}) }}</p>
        </div>

        <div class="tab">
            <input type="hidden" value="{{ data.detail.id }}" id="idChannel"/>
            <button class="tablinks" onclick="tab(event, 'tab1')" id="defaultOpen">{{t('web','Trang chủ')}}</button>
            <button data-id="video_new_of_channel_{{ data.detail.id }}" id="view-video" class="tablinks"
                    onclick="tab(event, 'tab2');return addEvent('view_channel_videos',  {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}' });">
                Videos
            </button>
            <button data-id="playlist_public_{{ data.detail.id }}" id="view-playlist" class="tablinks"
                    onclick="tab(event, 'tab4');">
                {{t('web','Danh sách phát')}}
            </button>
            <button class="tablinks" onclick="tab(event, 'tab5')">{{t('web','Kênh')}}</button>

            <button class="tablinks"
                    onclick="tab(event, 'tab3');return addEvent('view_channel_intro', {'channel_id': '{{ data.detail.id }}', 'channel_name': '{{ data.detail.name }}', 'no_followers': '{{ data.detail.num_follow }}', 'no_videos': '{{ data.detail.num_video }}', 'created_at': '{{ data.detail.created_at }}', 'no_views': '{{ data.detail.totalViews }}' });">
                {{t('web','Giới thiệu')}}
            </button>
        </div>
        <div id="tab1" class="tabcontent">
            <div class="mdl-general">
                {% set newestVideo = responseData.data.newest_video %}
                {% set titleNew = t('web','Video mới nhất') %}
                {% set nodata = true %}
                {% if (newestVideo.content|length > 0) %}
                    {% set nodata = false %}
                    {% set loadMore = (newestVideo.content|length <  app.params['app.home.lazy.limit']) ?  false : true %}
                    {% include "@app/views/partials/videoBox.twig" with {'box': newestVideo,'hasTitle' : true, 'loadMore': loadMore,'url': url('/default/video-channel',{'id': 'video_new_of_channel_'~data.detail.id}), 'functionMore': true,'idBox':'video_new_of_channel_'} %}
                {% endif %}
            </div>
            <div class="mdl-general">
                {% set mostViewVideo = responseData.data.most_view_video %}
                {% if (mostViewVideo.content|length > 0) %}
                    {% set nodata = false %}
                    {% set loadMore = (mostViewVideo.content |length <  app.params['app.home.lazy.limit']) ?  false : true %}
                    {% set mostViewVideo = mostViewVideo|merge({'id': 'temp_most_view'}) %}

                    {% include "@app/views/partials/videoBox.twig" with {'box': mostViewVideo,'hasTitle' : true, 'loadMore': loadMore,'url': url('/default/video-channel',{'id': 'video_most_view_of_channel_'~data.detail.id}),'functionMore': true,'idBox':'video_most_view_of_channel_'} %}
                {% endif %}
            </div>
            {% if nodata %}
                {% include "@app/views/partials/noDataBox.twig" %}
            {% endif %}
        </div>
        <div id="tab2" class="tabcontent">
            <div class="mdl-general">
                <h1 class="title">

                    <a href="javascript:void(0);" id="playAllVideoChannel" class="text-1">
                        {{t('web','Phát tất cả')}}
                    </a>

                    <div class="sort-video">
                        <i class="fa icon-sort"></i> {{t('web','SẮP XẾP THEO')}}
                        <div class="popover-more">
                            <div id="video-new" class="item-popover"
                                 data-id="video_new_of_channel_{{ responseData.data.detail.id }}">{{t('web','Mới nhất')}}
                            </div>
                            <div id="video-old" class="item-popover"
                                 data-id="video_old_of_channel_{{ responseData.data.detail.id }}">{{t('web','Cũ nhất')}}
                            </div>
                            <div id="most-popular" class="item-popover"
                                 data-id="video_most_view_of_channel_{{ responseData.data.detail.id }}">{{t('web','Xem nhiều nhất')}}
                            </div>

                        </div>
                    </div>
                </h1>
                <input type="hidden" id="homeItemLimit" value="{{ app.params['app.home.lazy.limit'] }}">
                <input type="hidden" id="getMoreOffset" value="{{ app.params['app.home.limit'] }}">
                <input type="hidden" id="load-more-id" value="{{ responseData.data.id }}"/>
                <div class="content" id="content-tab">
                    <div class="content-item" id="video_most_view_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_new_of_channel_{{ responseData.data.detail.id }}"></div>
                    <div class="content-item" id="video_old_of_channel_{{ responseData.data.detail.id }}"></div>
                </div>
            </div>
        </div>
        <div id="tab4" class="tabcontent">
            <div class="mdl-general">
                <div class="content">
                    <div class="list-video list-playlist">
                        <div class="content-item" id="playlist_public_{{ data.detail.id }}">

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="tab5" class="tabcontent">
            <div class="mdl-general">
                {% if not channelRelated.data.content %}
                    <p>{{t('web','Không có dữ liệu')}}</p>
                    {% if isOwner %}
                        <a href="/channel/search-channel" class="text-1">
                            <i class="fa icon-addcircle"></i> {{t('web','Thêm kênh')}}
                        </a>
                    {% endif %}
                {% else %}
                    <h1 class="title">
                        <a href="#" class="ellipsis">
                            {{t('web','Danh sách kênh')}}
                        </a>
                        {% if isOwner %}
                        <a href="/channel/search-channel" class="text-1">
                            <i class="fa icon-addcircle"></i> {{t('web','Thêm kênh')}}
                        </a>
                        {% endif %}
                    </h1>
                    <p>&nbsp;</p>
                    <div class="content">
                        <div class="list-channel">
                            {% for channel in channelRelated.data.content %}
                                <div class="item" id="channel_related_{{ channel.channel_id }}">
                                    <a href="#" class="image">
                                        <img src="{{  channel.avatarImageHX }}"/>
                                    </a>
                                    <div class="description">
                                        <a href="/channel/{{ channel.channel_id }}"
                                           class="name-channel">{{ channel.channel_name_mini }}</a>
                                            <a href="/channel/{{ channel.channel_id }}" class="text-1">{{ t('web','{count} lượt theo dõi', {'count': channel.num_follow}) }}</a>
                                        {% if isOwner %}
                                        <a class="btn-register"
                                           onclick="removeChannelRelated({{ channel.channel_id }})">{{t('web','Xóa')}}</a>
                                        {% elseif channel.isFollow %}
                                            <a  href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                                                class="btn-register" onclick="followChannel({{ channel.channel_id }}, 0)">{{t('web','Hủy theo dõi')}}</a>
                                            <a style="display: none "  href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}"
                                               class="btn-register" onclick="followChannel({{ channel.channel_id }}, 1)">{{t('web','Theo dõi')}}</a>
                                        {% else %}
                                                    <a style="display: none " href="javascript:void(0)" id="channel_btn_unfollow_{{ channel.channel_id }}"
                                                       class="btn-register" onclick="followChannel({{ channel.channel_id }}, 0)">{{t('web','Hủy theo dõi')}}</a>
                                                    <a  href="javascript:void(0)" id="channel_btn_follow_{{ channel.channel_id }}"
                                                        class="btn-register" onclick="followChannel({{ channel.channel_id }}, 1)">{{t('web','Theo dõi')}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


        <div id="tab3" class="tabcontent">
            <div class="mdl-about">
                <div class="static">
                    <h3>{{t('web','Thống kê')}}</h3>
                    <p>{{t('web','Đã tham gia ngày')}}: {{ responseData.data.detail.created_at }}</p>
                    <p>{{ t('web','{count} lượt xem', {'count': responseData.data.detail.totalViews | number_format(0,".",",")}) }}</p>
                </div>

                <h3 class="title">{{t('web','Mô tả')}}</h3>
                <p>{{ responseData.data.detail.description }}</p>
            </div>
        </div>

    </div>
</div>

{% if trackingContent %}
    {% include '@app/views/partials/trackingView.twig' with {'trackingContent': trackingContent} %}
{% endif %}
