{{ use('website/assets/ListAsset') }}
{{ register_list_asset() }}

<div class="mdl-channel" style="width: 850px">
    <div class="content">
        <div class="clearfix row-form" style="margin-bottom: 10px;">
            <h4 class="pull-left">{{t('web','Thêm kênh liên quan')}}</h4>
             <a href="/channel/{{userId}}" class="btn-default pull-right">{{t('web','Quay lại')}}</a>
        </div>
        <div class="row-form">
            <div class="form-group">
                <input id="keyword_channel" type="text" class="form-control" placeholder="{{t('web','Tìm kiếm')}}">
            </div>
        </div>

        <div class="list-channel" id="content_channel_suggess">
            {% for channel in channelRelated.data.content %}
                <div class="item" id="channel_related_{{ channel.channel_id }}">
                    <a href="/channel/{{ channel.channel_id }}" class="image">
                        {# <img src="{{ channel.avatarImageHX }}"/>#}
                        <img src="{{ channel.avatarImageHX }}"  onError="this.onerror=null;this.src='/images/avatar.gif'"/>

                    </a>
                    <a href="/channel/{{ channel.channel_id }}" class="name-channel">{{ channel.channel_name_mini }}</a>
                    <div class="description">
                        <a href="/channel/{{ channel.channel_id }}" class="name-channel">{{ channel.name }}</a>
                        <a href="/channel/{{ channel.channel_id }}" class="text-1">{{ t('web','{count} lượt theo dõi', {'count': channel.num_follow}) }}</a>
                        <a href="javascript:void(0)" class="btn-register add-channel-related" data-id="{{ channel.channel_id }}">{{t('web','Thêm kênh')}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </div>
</div>

