<div class="body-content-left">
    <!--0.Left menu-->
</div>
<div class="body-content-right">
    <div class="outline-channel">
        {% include "@app/views/partials/banner.twig" with {'responseData': responseData} %}
        <div class="mdl-edit-channel">
            <div class="title">{{t('web','Thông tin chỉnh sửa')}}</div>
            <div class="content">
                <form action="/channel/update" method="POST" enctype="multipart/form-data" id="editChannel">
                    <input type="hidden"
                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                    <input type="hidden" name="id" value="{{responseData.data.detail.id}}"/>
                    <input type="hidden" id="name-min-lenght" value="{{app.params['channel.name.minlength']}}"/>
                    <input type="hidden" id="name-max-lenght" value="{{app.params['channel.name.maxlength']}}"/>
                    <input type="hidden" id="description-min-lenght" value="{{app.params['channel.description.minlength']}}"/>
                    <input type="hidden" id="description-max-lenght" value="{{app.params['channel.description.maxlength']}}"/>

                    <div class="row-form">
                        <p class="text-3">{{t('web','Ảnh banner top')}}</p>
                        <div class="form-group">
                            <input type="file" name="file_banner" id ="file_banner" value={{t('web','Chọn ảnh')}}"...">
                            <label class="control-label color_red">{{ t('web', 'Vui lòng chọn ảnh {extension}, kích thước {size}', {'extension': 'JPG, PNG', 'size': '1920px * 330px'}) }}</label>
                        </div>	
                        <div class="input-error" id="errorBanner"></div>
                    </div>
                    <div class="row-form">
                        <p class="text-3">{{t('web','Ảnh đại diện')}}</p>
                        <div class="form-group">
                            <input type="file" name="file_avatar" id ="file_avartar" value={{t('web','Chọn ảnh')}}"...">
                            <label class="control-label color_red">{{ t('web', 'Vui lòng chọn ảnh {extension}, kích thước {size}', {'extension': 'JPG, PNG', 'size': '180px * 180px'}) }}</label>
                        </div>
                        <div class="input-error" id="errorAvartar"></div>
                    </div>
                    <div class="row-form">
                        <p class="text-3">{{t('web','Tên kênh')}}</p>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="" id ="name"  value="{{responseData.data.detail.name}}" style="width: 550px">
                        </div>	
                        <div class="input-error" id="errorName"></div>
                    </div>
                    <div class="row-form">
                        <p class="text-3">{{t('web','Giới thiệu')}}</p>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="comment" name="description" placeholder="">{{responseData.data.detail.description}}</textarea>
                            <p class="text-1" align="right">{{ t('web','Nội dung không quá {number} ký tự', {'number': app.params['channel.description.maxlength']})}}</p>
                        </div> 	
                        <div class="input-error" id="errorDes"></div>
                    </div>
                    <div class="row-form">
                        <div class="form-group">
                            <label>{{t('web','Trạng thái')}}</label>
                            <p>{{ (responseData.data.detail.status==0)? t('web','Đang chờ duyệt'): ( responseData.data.detail.status==1?t('web','Đã duyệt'): t('web','Từ chối')) }}</p>
                        </div>
                        {% if responseData.data.detail.status==2 and responseData.data.detail.reason %}
                                <div class="form-group">
                                    <label>{{t('web','Lý do từ chối')}}</label>
                                    <p>{{ responseData.data.detail.reason }}</p>
                                </div>
                        {% endif %}
                    </div>
                    <div class="row-form">
                        <input type="button" onclick="javascript:validateEditChannel()" class="btn-default" value="{{t('web','Chỉnh sửa')}}">
                        <input type="button" onclick="javascript:eraseText()" class="link-view-more" value="{{t('web','Làm lại')}}">
                    </div>
                </form>
            </div>	
        </div>

        <div class="clearfix"></div>
    </div>

</div>
