
{% if  app.session.get('source') == 'WAP|GA5' %}
        {#<script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 868555488;
            var google_conversion_label = "sEyPCNe1qngQ4LWUngM";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript"
                src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt=""
                     src="//www.googleadservices.com/pagead/conversion/868555488/?label=sEyPCNe1qngQ4LWUngM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>#}
    {% elseif app.session.get('source') == 'WAP|GA6' %}
        {#<!-- Google Code for Sub Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 969346103;
            var google_conversion_label = "yaqtCNaW838Qt5iczgM";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt=""
                     src="//www.googleadservices.com/pagead/conversion/969346103/?label=yaqtCNaW838Qt5iczgM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>#}
    {% elseif app.session.get('source') ==  'WAP|GA2' %}
        {#<!-- SUB DAT Global site tag (gtag.js) - Google AdWords: 825172423 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825172423"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'AW-825172423');
            gtag('event', 'conversion', {'send_to': 'AW-825172423/FgdhCM679X8Qx8O8iQM'});
        </script>#}
    {% elseif app.session.get('source') ==  'WAP|GA3' %}
        {#<!-- SUB DAT Global site tag (gtag.js) - Google AdWords: 825172423 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825172423"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'AW-825172423');
            gtag('event', 'conversion', {'send_to': 'AW-825172423/FgdhCM679X8Qx8O8iQM'});
        </script>#}
    {% elseif app.session.get('source') == 'WAP|FB' %}
        {#<!-- Facebook Pixel Code -->

        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1775833932440003');
            fbq('track', 'Purchase', {value: '3000', currency: 'VND'});
        </script>
        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->#}
    {% elseif app.session.get('source') == 'WAP|FB1' %}
        {#<!-- Facebook Pixel Code -->

        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1775833932440003');
            fbq('track', 'Purchase', {value: '3000', currency: 'VND'});
        </script>
        <noscript>
            <img height="1" width="1" src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->#}
    {% elseif app.session.get('source') == 'WAP|TOP' %}

        {#<script type="text/javascript">
            gtag('event', 'conversion', {'send_to': 'AW-989984849/BnpUCLbtj4sBENHwh9gD'});
        </script>#}

    {% elseif app.session.get('source') == 'WAP|HOTVIDEO' %}

        {#<script type="text/javascript">
            gtag('event', 'conversion', {'send_to': 'AW-790192412/rCtBCN3o3IoBEJzC5fgC'});
        </script>#}

    {% elseif app.session.get('source') == 'WAP|TOPFB' %}
        {#<script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '472890896231025');
            fbq('track', 'CompleteRegistration', {
                value: 3000,
                currency: 'VND'
            });
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=472890896231025&ev=PageView&noscript=1"/>
        </noscript>#}
		
	{% elseif app.session.get('source') == 'WAP|HAY' %}	
			{#<!-- Global site tag (gtag.js) - Google AdWords: 840460701 -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=AW-840460701"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'AW-840460701');
			  gtag('event', 'conversion', {'send_to': 'AW-840460701/wwzLCNqHuIUBEJ3T4ZAD'});
			</script>#}

    {% elseif app.session.get('source') == 'WAP|FB89' or app.session.get('source') == 'WAP|FB99'%}
        {#<!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1775833932440003');

            fbq('track', 'CompleteRegistration', {
                value: 3000,
                currency: 'VND'
            });

        </script>
        <!-- End Facebook Pixel Code -->#}
    {% else %}
        {#<!-- MAIN Global site tag (gtag.js) - Google AdWords: 849928907 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-849928907"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'AW-849928907');
            gtag('event', 'conversion', {'send_to': 'AW-849928907/so2oCK-U6XEQy8WjlQM'});
        </script>#}

{% endif %}
