{% if message|length > 0 %}
    <div class="overlay-popup" id="popupAlert" style="display: none">
        <div class="body-popup">
            <div class="wrap">
                <a onclick="hidePopup('#popupAlert')" class="close right popup-close"
                   style="padding-right: 7px; padding-top: 7px;">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-close"></use>
                    </svg>
                </a>
                <div class="piracy">
                    <h2>
                        {% if addition_param == 'PROMOTION' or addition_param == 'REGISTER_CONFIRM' %}
                            {{ t('wap', 'Xin chào {msisdn}', {'msisdn': msisdn}) }}
                        {% else %}
                            {{ t('wap', 'Thông báo') }}
                        {% endif %}
                    </h2>
                    <p class="title">{{ message }}</p>

                    {% if addition_param == 'REGISTER_CONFIRM' %}
                        <input type="hidden" id="register_confirm" value="1"/>
                        <div class="list-button" style="padding: 10px">
                            <a href="javascript:void(0)" class="replace-href" data-number="{{ short_code }}"
                               data-body="{{ sms_command }}">
                                {{ t('wap', 'ĐỒNG Ý') }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if addition_param == 'REGISTER_SUCCESS' or  addition_param == 'REGISTER_SUCCESS_NOWAIT' %}
                {# <input type="hidden" id="google_adword" value="google_adword"/>
                {% include '@app/views/partials/adwords.twig' with {'a':1}  %} #}
        {% endif %}
    </div>
    <!-- Neu khong co message ma NOWAIT thi van gui GAword -->
{% elseif  addition_param == 'REGISTER_SUCCESS_NOWAIT' %}
    {# <input type="hidden" id="google_adword" value="google_adword"/>
    {% include '@app/views/partials/adwords.twig' with {'a':1}  %} #}
{% endif %}



