
{% for channel in data %}

    {% set detailUrl = url('channel/get-detail',{'id':channel.id }) %}
    <article class="videoItem item-{{ channel.id }}">
        <div class="ctn">
            <div class="pthld">
                <a href="{{ detailUrl }}">
                    <div class="plOverlay alCenter">
                        <p>{{ channel.video_count }}</p>
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-playlist"></use>
                        </svg>
                    </div>

                    <img src="/images/dfphoto.png" onerror="this.onerror=null;this.src='/images/dfphoto.png'" alt="">
                </a>
            </div>
            <div class="ctnhld">
                <h6 class="title" style="display: inline-block">
                    <a href="{{ detailUrl }}">{{ channel.name }}</a>
                </h6>
                {% if channel.is_official %}
                    <img src="/images/icon_official.png" style="width: 12px; height: 12px">
                {% endif %}
                <p class="txtInfo">
                    <a href={{ detailUrl }}>
                        {{ channel.view_count }}&nbsp;{{ t('wap', 'lượt xem') }}
                    </a>
                    <span class="{# hideInfo3 #}">
                            <i class="dot"></i>
                            <a href={{ detailUrl }}>
                            {{ channel.video_count }}&nbsp;{{ t('wap', 'Video') }}
                            </a>
                        </span>
                </p>
            </div>
            <a class="icoMore optMnBtn optMnBtn_channel" data-url="{{ detailUrl }}" data-id="{{ channel.id }}" data-target="#editChannelOpt">
                <svg class="ico">
                    <use xlink:href="/images/defs.svg#ico-more"></use>
                </svg>
            </a>
        </div>

    </article>
{% endfor %}
