{% for video in comments %}
        {% set listComment = video.list_comment %}
        <div class="row item-comment">
            <div class="col-md-12 col-xs-12">
                <div class="item box-video" id="comment-right">
                    <a target="_blank" href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" class="title">
                        <div class="videoImage">
                            <img src="{{ video.coverImage }}" onerror="this.onerror=null;this.src='/images/16x9.png'" class="avatarFull">
                        </div>
                        <span>{{ video.name }}</span>
                    </a>
                    <span><i class="fa fa-more"></i></span>
                </div>

            </div>
            <div class="col-md-12 col-xs-12 list-comment">
                {% if (listComment|length ==0) and offset == 0 %}
                    <div id="boxNoComment">
                        <h5 class="blkTitle">{{ t('wap', 'Chưa có bình luận') }}.</h5>
                    </div>
                {% endif %}
                {% for comment in listComment %}
                    {% set childCommentNum = comment.children|length %}
                    <div class="media comment-left" id="cm_{{ comment.id }}">
                        <div class="media-left">
                            <div class="userInfo">
                                <a href="javascript:void(0);">
                                    <img src="{{comment.avatarImage  }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object avatar-cm">
                                </a>
                                <p class="txt-singer comment-textarea-linhtvn">
                                    <span class="media-heading">
                                        <a href="javascript:void(0);" class="name-user-cm">{{comment.full_name  }} </a>
                                        <span class="time-cm">{{comment.created_at_format  }}</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="mdl-comment">
                            <div class="comment-content">{{comment.comment  }}</div>
                            <span class="col">
                                <a href="javascript:void(0);" data-like="" data-commentid="{{ comment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment {% if comment.status != 1 %} hide{% endif %}" title="{{ t('wap','Thích')}}">
                                    <span class="likeCommentNumber_{{ comment.id }}">{{ comment.like_count }}&nbsp;</span>{% if (comment.like == 1) %}<i id="icoLikedComment_{{ comment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ comment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                                </a>
                            </span>
                            <span class="col">
                                <a href="javascript:void(0);" data-like="" data-commentid="{{ comment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment {% if comment.status != 1 %} hide{% endif %}" title="{{ t('wap','Không thích')}}">
                                    <span class="disLikeCommentNumber_{{ comment.id }}">{{ comment.dislike_count }}&nbsp;</span>{% if (comment.like == 2) %}<i id="icoDisLikedComment_{{ comment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ comment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                                </a>
                            </span>
                            <span data-id="{{ comment.id }}" class="col btnReplyComment btn btn-cmt {% if comment.status != 1 %} hide {% endif %}" id="btnReplyComment_{{ comment.id }}">
                               <i class="fa fa-comments-o" aria-hidden="true"></i> {{ t('wap','Đáp lại') }}
                            </span>
                            <span class="approve-cmt btn btn-cmt approve-cmt-{{ comment.id }} col {% if comment.status == 1 %} hide {% endif %}" data-commentid="{{ comment.id }}" title="{{ t('wap','Duyệt')}}"><i class="fa fa-check" aria-hidden="true"></i> {{ t('wap','Duyệt')}}</span>
                            <span class="reject-cmt btn btn-cmt reject-cmt-{{ comment.id }} col {% if comment.status == 2 %} hide {% endif %}" data-commentid="{{ comment.id }}" title="{{ t('wap','Từ chối')}}"><i class="fa fa-times" aria-hidden="true"></i> {{ t('wap','Từ chối')}}</span>
                            </p>
                            <div class="boxReply_{{ comment.id }}"  style="display: none;">
                                <div class="media item-typing" id="one-time-comment">
                                    <textarea id="inputComment_{{ comment.id }}" class="ipt iptLg mb10" placeholder="{{ t('wap','Thêm câu trả lời') }}"></textarea>
                                    <p>
                                        <input type="button" class="btn-default btnPostReplyComment" data-type="VOD" data-parentid="{{ comment.id }}" data-contentid="{{ video.id }}" value="{{ t('wap','Đáp lại') }}">
                                        <input type="button" class="btn-cancel btnClearReply" data-parentid="{{ comment.id }}" data-contentid="{{ video.id }}" value="{{ t('wap','Hủy') }}">
                                    </p>
                                </div>
                            </div>
                            {% set count =0 %}
                            {% if childCommentNum > 0 %}
                                {% for childComment in comment.children %}
                                    {% set count = count +1 %}
                                    <div class="comment-left child {% if count > 2 %} cm_group_{{ childComment.parent_id }} hidden {% endif %}" id="cm_{{ childComment.id }}">
                                        <div class="media-left">
                                            <div class="userInfo">
                                                <a href="javascript:void(0);">
                                                    <img src="{{childComment.avatarImage ? childComment.avatarImage : childComment.coverImage}}" onError="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object avatar-cm"/>
                                                </a>
                                                <p class="txt-singer comment-textarea-linhtvn">
                                                <span class="media-heading">
                                                    <a href="javascript:void(0);" class="name-user-cm">{{childComment.full_name  }} </a>
                                                    <span class="time-cm">{{childComment.created_at_format  }}</span>
                                                </span>
                                                </p>
                                            </div>

                                        </div>
                                        <div class="media-body">
                                            <p class="mdl-comment">
                                            <div class="comment-content">{{childComment.comment  }}</div>
{#                                                <a href="javascript:void(0)" data-id="{{ childComment.id }}" class="col btnReplyComment" id="btnReplyComment_{{ childComment.id }}">{{ t('wap','Trả lời') }}</a>#}
                                                <span class="col">
                                                    <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment {% if childComment.status != 1 %} hide{% endif %}" title="{{ t('wap','Thích')}}">
                                                        <span class="likeCommentNumber_{{ childComment.id }}">{{ childComment.like_count }}&nbsp;</span>{% if (childComment.like == 1) %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                                                    </a>
                                                </span>
                                                <span class="col">
                                                    <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment {% if childComment.status != 1 %} hide{% endif %}" title="{{ t('wap','Không thích')}}">
                                                        <span class="disLikeCommentNumber_{{ childComment.id }}">{{ childComment.dislike_count }}&nbsp;</span>{% if (childComment.like == 2) %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                                                    </a>
                                                </span>
                                            <span class="approve-cmt btn btn-cmt approve-cmt-{{ childComment.id }} col {% if childComment.status == 1 %} hide {% endif %}" data-commentid="{{ childComment.id }}" title="{{ t('wap','Duyệt')}}"><i class="fa fa-check" aria-hidden="true"></i> {{ t('wap','Duyệt')}}</span>
                                            <span class="reject-cmt btn btn-cmt reject-cmt-{{ childComment.id }} col {% if childComment.status == 2 %} hide {% endif %}" data-commentid="{{ childComment.id }}" title="{{ t('wap','Từ chối')}}"><i class="fa fa-times" aria-hidden="true"></i> {{ t('wap','Từ chối')}}</span>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if childCommentNum > 2 %}
                                    <div class="showMore">
                                        <p>
                                            <a href="javascript:void(0);" data-id="{{comment.id}}" class="liked viewMoreComment">{{ t('wap', 'Xem') }}&nbsp; {{ childCommentNum - 2 }}&nbsp; {{ t('wap', 'câu trả lời trước') }}</a>
                                        </p>
                                    </div>
                                    <!--sub comment-->
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}









