<section class="blk blkBdTop blkComments">
    <input type="hidden" id="commentUrl" value="{{ url('default/list-comment') }}">
    <input type="hidden" id="toggleLikeUrl" value="{{ url('video/like-video') }}">
    <input type="hidden" id="toggleLikeComment" value="{{ url('default/like-comment') }}">
    <input type="hidden" id="postCommentUrl" value="{{ url('default/comment') }}">
    <input type="hidden" id="contentId" value="{{ contentId }}">
    <input type="hidden" id="commentType" value="{% if type == 'FILM' %} PLAYLIST {% else %}{{type}}{% endif %}">
    <input type="hidden" id="replyCommentId" value="0">
    <input type="hidden" id="commentOffset" value="0">
    <input type="hidden" id="commentLimit" value="20">
    <div class="loadingBoxComment">
        <h6 class="blkTitle" id="titleComment">{{t('wap', 'Bình luận') }}</h6>
        <section class="cmtInput ctn {% if detail.can_comment == 0 %} hidden{% endif %}">
            <div class="avatar pthld"><a href="javascript:void(0)"><img src="{{ avatarImage }}" alt=""></a></div>
            <div class="inthld">
                <textarea name="" id="inputComment" class="ipt padding0 iptLg" placeholder="{{t('wap', 'Thêm bình luận...') }}"></textarea>
            </div>
            <div class="btnCommentBox right" id="btnCommentBox">
{#                <a href="javascript:void(0)" class="clearComment">{{t('wap', 'Hủy') }}</a>#}
                <input type="button" class="clearComment"  value="{{t('web','Hủy')}}" onclick="return addEvent('comment_video_action', $('#btnCommentBox').hide());">

                <a href="javascript:void(0)" class="btnComment" data-type="VOD" data-parentid="0" data-videoid="{{contentId}}"
                   onclick="return addEvent('comment_video_action',  {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'comment_content ': $('#inputComment').val() });">
                    {{t('wap', 'Bình luận') }}
                </a>
            </div>
        </section> 
        <section class="blkBdTop cmtList" id="boxNoComment" style="display:none;">
            <h6 class="blkTitle">{{t('wap', 'Chưa có bình luận.') }}</h6>
        </section>         
        <section class="blkBdTop cmtList" id="commentContent">
        </section>  
        <div class="spinner" id="loading-comment" style="display:none;">
            <div class="quarter">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</section>