{% if (comments|length ==0) and offset == 0 %}
    <p class="ctn" id="blank_comment">{{t('wap', 'Chưa có bình luận.') }}</p>
    <input type="hidden" id="comment-empty">
{% elseif (comments|length ==0) %}
    <input type="hidden" id="comment-empty">
{% endif %}

{% for parentComment in comments %}
{% set childCommentNum = parentComment.children|length %}
<article class="cmtItem media-cm-video" id="cm_{{parentComment.id}}">
    <div class="user ctn">
        <div class="avatar pthld left"><a href="javascript:void(0);"><img src="{{ parentComment.avatarImage }}" alt=""></a></div>
        <div class="ctnhld_v1">
            <div class="title comment-textarea-linhtvn">{{ parentComment.comment }}</div>
            <p class="txtInfo">
                <a href="javascript:void(0);">{{ parentComment.full_name }}</a> <i class="dot"></i>
                {{ parentComment.created_at|dateAgo }}
            </p>
            <ul class="feedback">
                <li>           
                      <span class="col">
                        <a href="javascript:void(0);" data-like="" data-commentid="{{ parentComment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                            <span class="likeCommentNumber_{{ parentComment.id }}">{{ parentComment.like_count }}&nbsp;</span>{% if (parentComment.like == 1) %}<i id="icoLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                        </a>
                      </span>
                        <span class="col">
                          <a href="javascript:void(0);" data-like="" data-commentid="{{ parentComment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                              <span class="disLikeCommentNumber_{{ parentComment.id }}">{{ parentComment.dislike_count }}&nbsp;</span>{% if (parentComment.like == 2) %}<i id="icoDisLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ parentComment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                          </a>
                      </span>
                </li>
                {% if parentComment.is_comment > 0 %}
                    {% if parentComment.status ==1 %}
                        <li class="answerComment">
                            <a href="javascript:void(0)" data-id="{{parentComment.id}}" class="btnReplyComment" id="btnReplyComment_{{parentComment.id}}">{{ t('wap','Trả lời') }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <div class="boxReply"></div>

            {% set count =0 %}
            {% if childCommentNum > 0 %}
            <ul>
                {% for childComment in parentComment.children %}
                {% set count = count +1 %}
                <li class="{% if count > 1 %}cm_group_{{ parentComment.id }} hidden{% endif %}">
                    <article class="cmtItem">
                        <div class="user ctn">
                            <div class="avatar pthld left"><a href="javascript:void(0);"><img src="{{ childComment.avatarImage }}" alt=""></a></div>
                            <div class="ctnhld">
                                <div class="title">{{ childComment.comment }}</div>
                                <p class="txtInfo">
                                    <a href="javascript:void(0);">{{ childComment.full_name }}</a> <i class="dot"></i>
                                    {{ childComment.created_at|dateAgo }}
                                </p>
                                <ul class="feedback">
                                    <li>
                                          <span class="col">
                                            <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                                                <span class="likeCommentNumber_{{ childComment.id }}">{{ childComment.like_count }}&nbsp;</span>{% if (childComment.like == 1) %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                                            </a>
                                          </span>
                                        <span class="col">
                                              <a href="javascript:void(0);" data-like="" data-commentid="{{ childComment.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                                                  <span class="disLikeCommentNumber_{{ childComment.id }}">{{ childComment.dislike_count }}&nbsp;</span>{% if (childComment.like == 0 and childComment.like is not null) %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ childComment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                                              </a>
                                          </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <!--end sub comment-->
            {% if childCommentNum > 2 %}
                <div class="showMore"><a href="javascript:void(0);" data-id="{{parentComment.id}}" class="viewMoreComment">{{ t('wap','Xem') }}&nbsp; {{ childCommentNum - 2 }}&nbsp; {{ t('wap','câu trả lời trước') }}</a> </div>
                <!--sub comment-->
            {% endif %}
        </div>
    </div>
</article>
{% endfor %}
