{% set comment = responseData.data %}
<div class="comment-left child {% if count > 2 %} cm_group_{{ comment.parent_id }} hidden {% endif %}" id="cm_{{ comment.id }}">
    <div class="media-left">
        <div class="userInfo">
            <a href="{{ url('video/detail',{'id':comment.id, 'slug':comment.slug})}}">
                <img src="{{comment.avatarImage  }}" onerror="this.onerror=null;this.src='/images/data/4x4.png';" class="img-circle media-object avatar-cm">
            </a>
            <p class="txt-singer comment-textarea-linhtvn">
                <span class="media-heading">
                    <a href="javascript:void(0);" class="name-user-cm">{{comment.full_name  }} </a>
                    <span class="time-cm">{{comment.created_at_format  }}</span>
                </span>
            </p>
        </div>
    </div>
    <div class="media-body">
        <p class="mdl-comment">
        <div class="comment-content">{{comment.comment  }}</div>
        <span class="col">
            <a href="javascript:void(0);" data-like="" data-commentid="{{ comment.id }}" data-contentId="{{ comment.content_id  }}" class="btnLikeComment {% if comment.status != 1 %} hide{% endif %}" title="{{ t('wap','Thích')}}">
                <span class="likeCommentNumber_{{ comment.id }}">{{ comment.like_count }}&nbsp;</span>{% if (comment.like == 1) %}<i id="icoLikedComment_{{ comment.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ comment.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
            </a>
        </span>
        <span class="col">
            <a href="javascript:void(0);" data-like="" data-commentid="{{ comment.id }}" data-contentId="{{ comment.content_id  }}" class="btnDisLikeComment {% if comment.status != 1 %} hide{% endif %}" title="{{ t('wap','Không thích')}}">
                <span class="disLikeCommentNumber_{{ comment.id }}">{{ comment.disklike_count }}&nbsp;</span>{% if (comment.like == 2) %}<i id="icoDisLikedComment_{{ comment.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ comment.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
            </a>
        </span>
            <span class="approve-cmt btn btn-cmt approve-cmt-{{ comment.id }} col {% if comment.status == 1 %} hide {% endif %}" data-commentid="{{ comment.id }}" title="{{ t('wap','Duyệt')}}"><i class="fa fa-check" aria-hidden="true"></i> {{ t('wap','Duyệt')}}</span>
            <span class="reject-cmt btn btn-cmt reject-cmt-{{ comment.id }} col {% if comment.status == 2 %} hide {% endif %}" data-commentid="{{ comment.id }}" title="{{ t('wap','Từ chối')}}"><i class="fa fa-times" aria-hidden="true"></i> {{ t('wap','Từ chối')}}</span>
            </p>
        </div>
    </div>
</div>

