{% if isChild %}
   <ul>
       <li>
            <article class="cmtItem">
                <div class="user ctn">
                    <div class="avatar pthld left"><a href="javascript:void(0);"><img src={{ responseData.data.avatarImage }} alt=""></a></div>
                    <div class="ctnhld_v1">
                        <div class="title comment-textarea-linhtvn">{{ responseData.data.comment }}</div>
                        <p class="txtInfo">
                            <a href="javascript:void(0)">{{ responseData.data.full_name }}</a> <i class="dot"></i>
                            {{ responseData.data.created_at|dateAgo }}
                        </p>
                        <ul class="feedback">
                            <li>
                                <span class="col">
                                    <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                                        <span class="likeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.like_count }}&nbsp;</span>{% if (responseData.data.like == 1) %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                                    </a>
                                </span>
                                <span class="col">
                                    <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                                        <span class="disLikeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.dislike_count }}&nbsp;</span>{% if (responseData.data.like == 2) %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
       </li>
    </ul>
{% else %}
    <article class="cmtItem" id="cm_{{responseData.data.id}}">
        <div class="user ctn">
            <div class="avatar pthld left"><a href="javascript:void(0);"><img src={{ responseData.data.avatarImage }} alt=""></a></div>
            <div class="ctnhld_v1">
                <div class="title">{{ responseData.data.comment }}</div>
                <p class="txtInfo">
                    <a href="javascript:void(0)">{{ responseData.data.full_name }}</a> <i class="dot"></i>
                    {{ responseData.data.created_at|dateAgo }}
                </p>
                <ul class="feedback">
                    <li>           
                        <span class="col">
                            <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnLikeComment" title="{{ t('wap','Thích')}}">
                                <span class="likeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.like_count }}&nbsp;</span>{% if (responseData.data.like == 1) %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-up" aria-hidden="true"></i>{% else %}<i id="icoLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>{% endif %}
                            </a>
                        </span>
                        <span class="col">
                            <a href="javascript:void(0);" data-like="" data-commentid="{{ responseData.data.id }}" data-contentId="{{ video.id }}" class="btnDisLikeComment" title="{{ t('wap','Không thích')}}">
                                <span class="disLikeCommentNumber_{{ responseData.data.id }}">{{ responseData.data.dislike_count }}&nbsp;</span>{% if (responseData.data.like == 0 and responseData.data.like is not null) %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-down" aria-hidden="true"></i>{% else %}<i id="icoDisLikedComment_{{ responseData.data.id }}" class="fa fa-thumbs-o-down" aria-hidden="true"></i>{% endif %}
                            </a>
                        </span>
                    </li>
                    {% if responseData.data.status == 1 %}
                    <li class="answerComment">
                        <a href="javascript:void(0)" onclick="Video.showReplyForm({{ responseData.data.id }});"  data-id="{{responseData.data.id}}" class="btnReplyComment" id="btnReplyComment_{{responseData.data.id}}">{{ t('wap','Trả lời') }}</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="boxReply"></div>
            </div>
        </div>
    </article>
{% endif %}