<div class="modal modalPopup" id="createPlaylistModal">
    <div class="ctn">
        <h5>{{t('wap', 'Danh sách phát mới') }}</h5>
        <form action="/playlist/create" id="addPlaylistForm" method="post">
            <div class="ctn" style="padding:0">
                <div class="form-group">
                    <input class="ipt iptLg" placeholder="{{t('wap', 'Nhập tên danh sách mới') }}" autofocus  name="namePlaylist" rows="1"/>
                    <input type="hidden"  name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}" value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                </div>
            </div>
            <div class="controls">
                <a class="btn btnBlue ok" href="javascript:void(0)">{{t('wap', 'Tạo mới') }}</a>
                <a class="btn btnOutline close" href="javascript:void(0)">{{t('wap', 'Đóng') }}</a>
            </div>
        </form>
    </div>
</div>


<div class="modal modalPopup" id="editPlaylistModal">
    <div class="ctn">
        <h5>{{t('wap', 'Chỉnh sửa playlist') }}</h5>
        <div class="ctn">
            <form action="/playlist/update-playlist" id="editPlaylistForm" name="editPlaylistForm" method="post">
                <input type="hidden" name="id" id ="idPlaylist" value="">
                <input type="hidden"
                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                <p id="error_message"  style="color: red"></p>
                <p>{{ t('wap','TÊN') }}</p>
                <input type="text" maxlength="255" id = "editName" name="name" class="ipt padding0 iptLg">
                <p class="mt10">{{ t('wap','MÔ TẢ') }}</p>
                <input type="text"  maxlength="500" id = "editDescription"  name="description" class="ipt padding0 iptLg ">
                </p>
                <div class="action alRight">
                    <a class="ok" href="javascript:void(0)" onclick="validateEditPlayslist()">{{t('wap', 'Lưu') }}</a>
                    <a class="close" href="javascript:void(0)">{{t('wap', 'Đóng') }}</a>
                </div>
            </form>
        </div>
    </div>
</div>

