{% if msisdn %}
    {% if sub %}
        <p class="ctn">
            {{ t('wap', 'Xin chào') }} <a class="clrBlue" href="{{ url('default/list-package') }}">{{ msisdn }}</a>, {{ t('wap', 'Quý khách đang sử dụng dịch vụ MyClip. Quý khách được xem Video miễn cước data tốc độ cao trên myclip.vn') }}
        </p>
    {% else %}
        <p class="ctn">
            {{ t('wap', 'Xin chào') }} <a class="clrBlue" href="{{ url('default/list-package') }}">{{ msisdn }}</a>
        </p>
    {% endif %}
{% else %}
    <p class="ctn">
        {{ t('wap', 'Không nhận diện được thuê bao, Quý khách vui lòng truy cập bằng 3G/4G của Viettel hoặc') }} <a class="clrBlue" href="{{ url('auth/login') }}">{{ t('wap', 'đăng nhập') }}</a> {{ t('wap', 'để sử dụng dịch vụ') }}
    </p>
{% endif %}
