<div class="overlay-popup" id="popupNoUpload" style="display: none">
    <div class="body-popup">
        <div class="wrap">
            <div class="piracy ctn">
                <p class="ctn">{{ popupNoUpload }}</p>
                <p class="ctn">
                    <a style="margin-left: 74px;"  href="javascript:void(0)" class="linkStore link-download"
                       attr-ios="https://apps.apple.com/us/app/meuclip/id1552861050?l=vi&amp;mt=8"
                       attr-android="https://play.google.com/store/apps/details?id=com.viettel.mov&amp;hl=vi">
                        {{t('wap', 'LINK TẢI APP') }}
                    </a>
                </p>
                <div class="list-button">
                    <button type="button" class="close">{{t('wap', 'Đóng') }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <nav>
        <ul>
            <li>
                <a {% if route == "default/index" %} class="active" {% endif %} href="/" alt="">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-home') }}"></use>
                    </svg>
                    <br> {{t('wap', 'Trang chủ') }}
                </a>
            </li>

            <li>
                <a {% if route == "default/recommend" %} class="active" {% endif %} href="{{ url(['default/recommend']) }}" alt="">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-rcm') }}"></use>
                    </svg>
                    <br>{{t('wap', 'Đề xuất') }}
                </a>
            </li>
            <li>
                <a {% if route == "default/trending" %} class="active" {% endif %} href="{{ url(['default/trending']) }}" alt="{{t('wap', 'Thịnh hành') }}">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-trending') }}"></use>
                    </svg>
                    <br>{{t('wap', 'Thịnh hành') }}
                </a>
            </li>
            <li>
                <a {% if route == "default/follow-channel" %} class="active" {% endif %} href="{{ url(['default/follow-channel']) }}" alt="">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-follow') }}"></use>
                    </svg>
                    <br>{{t('wap', 'Theo dõi') }}
                </a>
            </li>
            <li>
                <a href="{{ url(['account/detail']) }}" {% if route == "account/detail" %} class="active" {% endif %} alt="">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-user') }}"></use>
                    </svg>
                    <br>{{t('wap', 'Cá nhân') }}
                </a>
            </li>
        </ul>
    </nav>
</footer>

<script type="text/javascript">
    var currentLanguage = '{{ app.language }}';
    var arrLang = {
        'en': {
            'Bình luận':'Comment',
            'Hủy':'Cancel',
            'Nhập bình luận...':'Enter comment ...',
            'Vui lòng nhập nội dung bình luận':'Please enter the comment content',
            'Đã theo dõi':'Followed',
            'Đăng kí theo dõi kênh thành công':'Register success channel tracker',
            'theo dõi':'follow',
            'Theo dõi':'Follow',
            'Hủy theo dõi kênh thành công':'Cancel tracker success channel',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Input Captor code, from 1 to 50 characters',
            'Thêm video thành công vào playlist.':'Add video to success to play list',
            'Mã captcha bắt buộc nhập':'Input captcha',
            'Bạn có chắc chắn xoá liên kết?':'Are you sure to remove link?',
            'Thêm thành công':'Add successfully',
            'Thành công':'Successful',
            'Yêu cầu nhập file video':'Video file input request',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Input required title and is not greater than 255 character',
            'Mô tả không được lớn hơn 500 kí tự':'Description is not larger than 500 characters',
            'Định dang file ảnh được phép':'The image file is specified',
            'KÊNH':'CHANNEL',
            'Tên nhập trong khoảng từ':'Input name in interval',
            'đến':' to ',
            'kí tự':' character',
            'Mô tả không được lớn hơn':'Description is not greater than',
            ' người theo dõi':' Follow',
            'Vui lòng chọn loại báo cáo lỗi':'Please choose an error report',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'The busy system, please try again!',
            'Chắc chắn xóa video?':'Sure delete video',
            'Xác nhận xóa kênh liên quan không?':'Specify remove the channel related?',
            'Xóa thành công':'Delete success',
            'VIDEO':'VIDEO',
            'Không có dữ liệu với từ khóa tìm kiếm':'No data with search keywords',
            ' lượt xem ':' views ',
            'Xóa danh lịch sử xem thành công':'Successfully deleted watch history',
            'Bạn có chắc xóa playlist không?':'You have sure you delete playlist?',
            'Bật chế độ phát ngẫu nhiên':'Enable random mode',
            'Tắt chế độ phát ngẫu nhiên':'Disable random mode',
            'Bật chế độ phát lặp lại':'Enable Repeat Play',
            'Tắt chế độ phát lặp lại':'Disable Repeat Play',
            'Bạn có chắc xóa video khỏi playlist không?':'Are you sure you delete video from playlist?',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'There was an error occurred in the contents of the player. Please try again.',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Required name entered and cannot be greater than 255 characters',
            'Chờ phê duyệt(chưa xem được)':'Waiting for approval (not viewable)',
            'Mô tả từ':'Description from ',
            'Like fanpage Myclip thành công. Vui lòng chờ tính điểm!':'Like MyClip fanpage success. Please wait for points!',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'Check like fanpage failed. Please reload the page',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'Please click like fanpage follow the link below!',
            'Mô tả trong khoảng từ':'Description in the word range',
            'Bạn đã xóa video thành công':'You have successfully deleted the video',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Enter at least 3 characters to search',
            "<li> Nhập ít nhất 3 kí tự để thực hiện tìm kiếm </li>":"<li>Enter at least 3 characters to search</li>",
            'Bạn không có playlist. Hãy tạo mới.':'You do not have a playlist. Please create new. ',
            'Tắt bình luận':'Turn off comment',
            'Bật bình luận':'Turn on comment',
            'tháng trước' : ' months ago',
            'năm trước' : ' years ago',
            'tuần trước' : ' week ago',
            'ngày trước' : ' days ago',
            'giờ trước' : ' hours ago',
            'phút trước' : ' minutes ago',
            'Thêm kênh':'Add channel',
            'Giao diện sáng' : 'Appearance Light',
            'Giao diện tối' : 'Appearance Dark',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'Content is not larger than 1000 characters',
        },
        'vi': {
            'Mô tả từ':'Mô tả từ ',
            'Chờ phê duyệt(chưa xem được)':'Chờ phê duyệt(chưa xem được)',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'Tên bắt buộc nhập và không được lớn hơn 255 kí tự',
            'Bình luận':'Bình luận',
            'Tắt chế độ phát ngẫu nhiên':'Tắt chế độ phát ngẫu nhiên',
            'Bật chế độ phát lặp lại':'Bật chế độ phát lặp lại',
            'Tắt chế độ phát lặp lại':'Tắt chế độ phát lặp lại',
            'Bạn có chắc xóa playlist không?':'Bạn có chắc xóa playlist không?',
            'Bạn có chắc xóa video khỏi playlist không?':'Bạn có chắc xóa video khỏi playlist không?',
            'Hủy':'Hủy',
            'Nhập bình luận...':'Nhập bình luận...',
            'Vui lòng nhập nội dung bình luận':'Vui lòng nhập nội dung bình luận',
            'Đã theo dõi':'Đã theo dõi',
            'Đăng kí theo dõi kênh thành công':'Đăng kí theo dõi kênh thành công',
            'Chắc chắn xóa video?':'Chắc chắn xóa video?',
            'theo dõi':'theo dõi',
            'Theo dõi':'Theo dõi',
            'Thành công':'Thành công',
            'Thêm thành công':'Thêm thành công',
            'Vui lòng chọn loại báo cáo lỗi':'Vui lòng chọn loại báo cáo lỗi',
            'Hủy theo dõi kênh thành công':'Hủy theo dõi kênh thành công',
            'Tên nhập trong khoảng từ':'Tên nhập trong khoảng từ',
            'Thêm video thành công vào playlist.':'Thêm video thành công vào playlist.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự',
            'Mã captcha bắt buộc nhập':'Mã captcha bắt buộc nhập',
            'Bạn có chắc chắn xoá liên kết?':'Bạn có chắc chắn xoá liên kết?',
            'Yêu cầu nhập file video':'Yêu cầu nhập file video',
            'Mô tả không được lớn hơn 500 kí tự':'Mô tả không được lớn hơn 500 kí tự',
            'Định dang file ảnh được phép':'Định dang file ảnh được phép',
            'KÊNH':'KÊNH',
            'Xóa danh lịch sử xem thành công':'Xóa danh lịch sử xem thành công',
            'kí tự':' kí tự',
            'Xóa thành công':'Xóa thành công',
            'Mô tả không được lớn hơn':'Mô tả không được lớn hơn',
            'đến':' đến ',
            'VIDEO':'VIDEO',
            ' lượt xem ':' lượt xem ',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'Hệ thống đang bận, quý khách vui lòng thử lại sau!',
            ' người theo dõi':' người theo dõi',
            'Xác nhận xóa kênh liên quan không?':'Xác nhận xóa kênh liên quan không?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Không có dữ liệu với từ khóa tìm kiếm',
            'Bật chế độ phát ngẫu nhiên':'Bật chế độ phát ngẫu nhiên',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.',
            'Bạn không có playlist. Hãy tạo mới.':'Bạn không có playlist. Hãy tạo mới.',
            'Tắt bình luận':'Tắt bình luận',
            'Bật bình luận':'Bật bình luận',
            'tháng trước' : ' tháng trước',
            'năm trước' : ' năm trước',
            'tuần trước' : ' tuần trước',
            'ngày trước' : ' ngày trước',
            'giờ trước' : ' giờ trước',
            'phút trước' : ' phút trước',
            'Thêm kênh':'Thêm kênh',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'Content is not larger than 1000 characters',
        },
        'mz': {
            'Mô tả từ':'Descrição da palavra ',
            'Chờ phê duyệt(chưa xem được)':'Aguardando aprovação (ainda não visível)',
            'Xác nhận mật khẩu không đúng.':'A senha estava errada.',
            'PHÁT TẤT CẢ':'PLAY ALL',
            'Vừa xong':'Acabado de terminar',
            'Có lỗi xảy ra vui lòng thử lại.':'Ocorreu um erro. Por favor, tente novamente.',
            'Bỏ video thành công khỏi playlist.':'Vídeo removido da lista de reprodução com sucesso.',
            'Tắt chế độ vòng lặp':'Desativar o modo loop',
            'Bật chế độ vòng lặp':'Ativar o modo loop',
            'Nội dung không có quyền xem':'O conteúdo não tem permissão para visualizar',
            'Chỉnh sửa':'Editar',
            'Xoá':'Excluir',
            'Chia sẻ':'Compartilhar',
            'Thêm vào xem sau':'Adicione para assistir depois',
            'Thêm vào danh sách phát':'Adicionar à Playlist',
            'Tạo playlist mới':'Crie uma nova lista de reprodução',
            'Đang phát':'Tocando agora',
            'Video chưa có tên':'O vídeo não tem nome',
            'GỬI Ý KIẾN':'ENVIAR COMENTÁRIOS',
            'ĐÃ GỬI Ý KIẾN':'COMENTÁRIOS ENVIADOS',
            '(Lý do: ':'(Razão: ',
            'Từ chối duyệt':'Recusar a aprovação',
            'Chờ phê duyệt(Không xem được)':'Aguardando aprovação (Não é possível visualizar)',
            'Thêm vào':'Adicionar',
            'Đang trong quá trình tải video, không thể sửa.':'Vídeo em andamento, não pode ser editado.',
            'Bạn có muốn hủy upload file này?':'Deseja cancelar o upload deste arquivo?',
            'Đồng ý':'Aceita',
            'Hoàn Thành':'Terminar',
            'Đăng tải thành công':'Carregado com sucesso',
            'Upload không thành công, vui lòng thử lại sau!':'O envio falhou. Tente novamente mais tarde!',
            'Chọn video file':'Selecionar arquivo de vídeo',
            'Upload không thành công':'Falha no upload',
            'rỗng, vui lòng chọn file khác.':'Vazio, selecione outro arquivo.',
            'Kích thước file quá nhỏ':'O tamanho do arquivo é muito pequeno',
            'Kích thước file quá lớn':'O tamanho do arquivo é muito grande',
            'File không đúng định dạng:':'O arquivo está incorreto:',
            'Trình duyệt không hỗ trợ':'O navegador não suporta',
            'Đang thực hiện upload file, nếu thoát sẽ hủy thực hiện upload.':'O arquivo de upload está em andamento; se encerrado, o upload será cancelado.',
            'Vui lòng chọn file upload':'Por favor, selecione o arquivo de upload',
            'Đăng tải':'Envio',
            'Thêm kênh':'Adicionar canais',
            'Bạn có muốn xóa danh sách phát không ?':'Deseja excluir a lista de reprodução?',
            'Tên bắt buộc nhập và không được lớn hơn 255 kí tự':'O nome é obrigatório e não pode ter mais que 255 caracteres',
            ' phút trước':' minuto atrás',
            ' giờ trước':' horas atrás',
            ' ngày trước':' ontem',
            ' tuần trước':' Semana Anterior',
            ' năm trước':' ano passado',
            ' tháng trước':' mês passado',
            'Xóa lịch sử tìm kiếm thành công':'Limpar histórico de pesquisa com sucesso',
            'Xóa lịch sử tìm kiếm thất bại':'Limpar falha no histórico de pesquisa',
            'Không có dữ liệu':'Sem dados',
            'Kh\xF4ng c\xF3 d\u1EEF li\u1EC7u':'ບໍ່ມີຂໍ້ມູນ',
            'Nhập ít nhất 3 kí tự để thực hiện tìm kiếm':'Digite pelo menos 3 caracteres para realizar a pesquisa',
            "<li> Nhập ít nhất 3 kí tự để thực hiện tìm kiếm </li>":"<li>Digite pelo menos 3 caracteres para realizar a pesquisa</li>",
            'Xóa lịch sử xem thành công':'Limpar histórico de exibição com êxito',
            'Xóa nội dung thành công':'Conteúdo excluído com sucesso',
            ' không ?':' não é ?',
            'Bạn có muốn xóa ':'Você quer deletar',
            'lịch sử tìm kiếm':'histórico de busca',
            'Xóa danh sách xem sau thành công':'Excluiu com êxito a seguinte lista de observação',
            'Bạn có muốn xóa danh sách xem sau không ?':'Deseja excluir a seguinte lista de observação?',
            'Xóa video khỏi lịch sử thành công':'Vídeo removido com êxito do histórico',
            'Xóa video thành công ':'O vídeo foi excluído com sucesso ',
            'không':'não é',
            'khỏi':'fora de',
            'Bạn có muốn xóa video ':'Deseja excluir o vídeo ',
            'danh sách xem sau':'Lista de observação mais tarde',
            'Chuyển trạng thái thông báo thành công':'Alternar status de notificação com êxito',
            'Quý khách vui lòng nhập mô tả từ':'Digite uma descrição da palavra',
            'Quý khách vui lòng nhập tên từ':'Digite o nome da palavra',
            'OTP đã gửi thành công':'OTP enviado com sucesso',
            'Yêu cầu nhập tên':'Digite o nome',
            'Định dạng ảnh mặt trước cho phép':'Formato de foto frontal permitido',
            'Định dạng ảnh mặt sau cho phép':'O formato de foto na parte traseira permite',
            'Yêu cầu nhập ảnh mặt trước chứng minh thư':'Digite a foto na frente do seu bilhete de identidade',
            'Định dạng ảnh mặt trước cho phép':'Formato de foto frontal permitido',
            'Yêu cầu nhập ảnh mặt sau chứng minh thư':'São necessárias fotos na parte de trás do seu bilhete de identidade',
            'Yêu cầu nhập ngày cấp chứng minh thư':'Digite a data em que o ID foi emitido',
            'Yêu cầu nhập Nơi cấp chứng minh thư':'Digite seu ID',
            'Yêu cầu nhập Số chứng minh thư':'Digite seu número de identificação',
            'Định dạng email không đúng':'O formato do email está incorreto',
            'Yêu cầu nhập email':'Email (obrigatório)',
            'Yêu cầu nhập Số điện thoại':'Por favor, digite seu número de telefone',
            'Yêu cầu nhập Số điện thoại Viettel':'Requer a inserção do número de telefone do Viettel',
            'Yêu cầu nhập chi nhánh ngân hàng':'Digite uma agência bancária',
            'Yêu cầu nhập địa chỉ':'Por favor digite um Endereço',
            'Yêu cầu nhập mã số thuế':'Código tributário obrigatório',
            'Yêu cầu nhập ngân hàng':'Entrada bancária obrigatória',
            'Yêu cầu chọn Tháng':'Pedido para escolher o Mês',
            'Yêu cầu nhập Tài khoản ngân hàng':'É necessário entrar na conta bancária',
            'Yêu cầu nhập Từ ngày-Đến ngày':'Exigir entrada de data até',
            'Phản hồi đang được quản trị viên xem xét':'A resposta está sendo revisada pelo administrador',
            'Nội dung không được chấp nhận với lý do: ':'O conteúdo não é aceitável pelo motivo: ',
            'Nội dung không được chấp nhận':'Conteúdo não aceito',
            'Vui lòng đăng nhập để sử dụng tính năng này':'Por favor, logue-se para utilizar este recurso',
            'Có lỗi xảy ra vui lòng thử lại':'Ocorreu um erro. Por favor, tente novamente',
            'Thêm câu trả lời':'Adicione a resposta',
            'Trả lời':'Resposta',
            'Ngày':'Dia',
            'Giờ':'Horas',
            'Phút':'Minuto',
            'Giây':'Segundos',
            'TIẾP THEO':'PRÓXIMO',
            'Chương trình sẽ bắt đầu sau':'O programa começará mais tarde',
            'Đang chờ upload':'Aguardando upload',
            'Bình luận':'Comente',
            'Tắt chế độ phát ngẫu nhiên':'Desativar modo aleatório',
            'Bật chế độ phát lặp lại':'Ativar o modo de reprodução repetida',
            'Tắt chế độ phát lặp lại':'Desativar o modo de reprodução repetida',
            'Bạn có chắc xóa playlist không?':'tens certeza que queres excluir a lista de reprodução?',
            'Bạn có chắc xóa video khỏi playlist không?':'Tem certeza de que excluiu o vídeo da lista de reprodução?',
            'Hủy':'Cancelar',
            'Nhập bình luận...':'Digite um comentário...',
            'Vui lòng nhập nội dung bình luận':'Por favor insira o texto do comentário',
            'Đã theo dõi':'Seguido',
            'Đăng kí theo dõi kênh thành công':'Inscreva-se no canal com sucesso',
            'Theo dõi kênh thành công':'Inscreva-se no canal com sucesso',
            'Chắc chắn xóa video?':'Claro excluir vídeos?',
            'theo dõi':' Segue',
            'Theo dõi':'Segue',
            'Tắt thông báo thành công':'Desativar notificações de sucesso',
            'Thành công':'Sucesso',
            'Thêm thành công':'Mais sucesso',
            'Vui lòng chọn loại báo cáo lỗi':'Selecione um tipo de relatório de erro',
            'Vui lòng chọn loại báo cáo':'Selecione um tipo de relatório',
            'Hủy theo dõi kênh thành công':'Deixado de seguir com sucesso',
            'Hủy theo dõi':'Deixar de seguir',
            'Tên nhập trong khoảng từ':'O nome digitado no intervalo de palavras',
            'Thêm video thành công vào playlist.':'Adicione vídeos de sucesso à lista de reprodução.',
            'Mã kích hoạt bắt buộc nhập, từ 1 đến 50 kí tự':'Código de ativação necessário, de 1 a 50 caracteres',
            'Mã captcha bắt buộc nhập':'Código Captcha necessário para inserir',
            'Bạn có chắc chắn xoá liên kết?':'Tem certeza de que excluiu o link?',
            'Yêu cầu nhập file video':'Arquivo de vídeo obrigatório',
            'Mô tả không được lớn hơn 500 kí tự':'A descrição não pode ter mais que 500 caracteres',
            'Định dang file ảnh được phép':'Formato de arquivo permitido',
            'KÊNH':'CANAIS',
            'Xóa danh lịch sử xem thành công':'Histórico de exibição excluído com sucesso',
            'lịch sử xem':'Ver histórico',
            'kí tự':' personagens',
            'Xóa thành công':'Excluir com êxito',
            'Mô tả không được lớn hơn':'A descrição não pode ser maior',
            'đến':' venha ',
            'Bỏ thích':'Ao contrário',
            'VIDEO':'VIDEO',
            ' lượt xem ':' Visualizações ',
            ' lượt xem':' Visualizações',
            'Hệ thống đang bận, quý khách vui lòng thử lại sau!':'O sistema está ocupado, tente novamente mais tarde!',
            ' người theo dõi':' seguidores',
            'Bỏ video thành công khỏi playlist':'Vídeo removido da lista de reprodução com sucesso',
            'Xác nhận xóa kênh liên quan không?':'Confirmar a exclusão do canal relacionado?',
            'Không có dữ liệu với từ khóa tìm kiếm':'Não há dados com termos de pesquisa',
            'Bật chế độ phát ngẫu nhiên':'Ativar modo aleatório',
            'Đang chờ upload...':'Aguardando upload...',
            'Tiêu đề bắt buộc nhập và không được lớn hơn 255 kí tự':'O título é obrigatório e não pode ter mais que 255 caracteres',
            'Có lỗi xảy ra trong quá trình phát nội dung. Vui lòng thử lại sau.':'Ocorreu um erro durante a reprodução do conteúdo. Por favor, tente novamente mais tarde.',
            'Thích video thành công':'Gostou do vídeo com sucesso',
            'Tôi thích video này':'Eu gosto desse video',
            'Bỏ thích video thành công':'Diferente do vídeo de sucesso',
            'Bỏ không thích video này':'Não gosto deste vídeo',
            'Không thích video thành công':'Não gosto do vídeo de sucesso',
            'Tôi không thích video này':'Eu não gosto desse vídeo',
            'Bỏ không thích video thành công':'Abandonar não gosta do vídeo de sucesso',
            'Phát tiếp theo':'Tocar próximo',
            'Vui lòng nhập tên video':'Digite o nome do vídeo',
            'Like fanpage Myclip thành công. Vui lòng chờ tính điểm!':'Curta a fanpage Myclip com sucesso. Por favor, aguarde pontos!',
            'Kiểm tra like fanpage thất bại. Vui lòng tải lại trang':'A verificação da página de fãs falhou. Por favor recarregue a página່',
            'Bạn hãy bấm like fanpage theo link bên dưới!':'Por favor, clique como página de fãs siga o link abaixo!',
            'Mô tả trong khoảng từ':'Descreva no intervalo de palavras',
            'Bạn đã xóa video thành công':'Você excluiu o vídeo com sucesso',
            'Bạn không có playlist. Hãy tạo mới.':'Você não tem uma lista de reprodução. Por favor, crie um novo. ',
            'Tắt bình luận':'Desligue os comentário',
            'Bật bình luận':'Ligue os comentário',
            'tháng trước'  : ' Meses atrás',
            'năm trước'  : ' anos atrás',
            'tuần trước'  : ' semanas atrás',
            'ngày trước' : ' dias atrás',
            'giờ trước'  : ' horas atrás',
            'phút trước'  :  ' minutos antes',
            'Giao diện sáng' : 'Aspeto escuro',
            'Giao diện tối' : 'Aspeto claro',
            'Nội dung bình luận không được lớn hơn 1000 kí tự':'O conteúdo obrigatório e pelo menos 1000 caracteres',
        }
    }
    function trans(source) {
        if (typeof arrLang[currentLanguage][source] != 'undefined') {
            return arrLang[currentLanguage][source];
        }
        return source;
    }
</script>