<header>
    {% if type == 'main' %}
        <div class="inviteBox showed" id="inviteBox" style="display: none;">
            <a href="javascript:void(0)" class="right linkStore"
               attr-ios="https://apps.apple.com/us/app/meuclip/id1552861050?l=vi&amp;mt=8"
               attr-android="https://play.google.com/store/apps/details?id=com.viettel.mov&amp;hl=vi">
                {{t('wap', 'Xem') }}
            </a>
            <a class="left toggleBtn"data-target="#inviteBox" onclick="hideInviteBox()" ><svg class="ico">
                    <use xlink:href="/images/defs.svg#ico-close"></use></svg>
            </a>
            <div class="appIcon"><img src="/images/Icon_launch.svg" width="64"></div>
            <div class="appInfo">
                <h6>{{t('wap', 'UClip – Xem quay phát video') }}</h6>
                <p class="txtInfo">{{t('wap', 'Movitel SA') }}</p>
                <p><img src="/images/starts.png"> </p>
                <p>{{t('wap', 'Tải về từ Store') }}</p>
            </div>
        </div>
        <div class="ctn">
            <div class="lMn">
                {% if title %}
                    <a href="javascript:window.history.back();" style="float: left">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                    </a>
                    <h5 style="float: left; margin-left: 5px; font-size: 18px">{{ title }}</h5>
                {% else %}
                    <a href="/">
                        <svg class="logo">
                            <use xlink:href="/images/defs.svg#logo"></use>
                            {#                            <use xlink:href="/images/defs_bk_taila.svg#logo"></use>#}
                        </svg>
                    </a>
                {% endif %}
            </div>
            <div class="rMn">
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick="showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% if  app.language =='vi' %}
                            <img src="{{ url('images/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
                        {% endif %}
                        {% if app.language == 'en' %}
                            <img src="{{ url('images/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
                        {% endif %}
                        {% if app.language == 'lo' %}
                            <img src="{{ url('images/1x/loIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-lo">
                        {% endif %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>

    {% elseif type == 'channel' %}
        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <svg class="logo">
                        <use xlink:href="/images/defs.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer" >
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% if  app.language =='vi' %}
                            <img src="{{ url('images/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
                        {% endif %}
                        {% if app.language == 'en' %}
                            <img src="{{ url('images/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
                        {% endif %}
                        {% if app.language == 'lo' %}
                            <img src="{{ url('images/1x/loIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-lo">
                        {% endif %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter"> </nav>
        </div>
        <nav class="subTab" id="channelMenu">
            <ul class="chnlSlider owl-carousel">
                <li class="item"><a {% if route == "channel/get-detail" %} class="active" {% endif %}
                            href="{{ url('/channel/get-detail',{'id': id}) }}" alt="">{{ t('wap', 'Trang chủ') }}</a></li>
                <li class="item"><a {% if route == "default/get-list-video-filter" %} class="active" {% endif %}
                            href="{{ url('default/get-list-video-filter',{'id': "video_new_of_channel_"~id}) }}"
                            alt="">{{ t('wap', 'Video') }}</a></li>
                <li class="item"><a {% if route == "channel/get-list-playlist" %} class="active" {% endif %}
                            href="{{ url('channel/get-list-playlist',{'id': id}) }}"
                            alt="">{{ t('wap', 'Danh sách phát') }}</a></li>
                <li class="item"><a {% if route == "channel/channel-related" %} class="active" {% endif %}
                            href="{{ url('channel/channel-related',{'channel_id': id}) }}"
                            alt="">{{ t('wap', 'Kênh') }}</a></li>
                <li class="item"><a {% if route == "channel/get-about" %} class="active" {% endif %}
                            href="{{ url('channel/get-about',{'id': id}) }}" alt="">{{ t('wap', 'Giới thiệu') }}</a></li>
            </ul>
        </nav>
    {% elseif type == 'sub' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer" >
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% if  app.language =='vi' %}
                            <img src="{{ url('images/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
                        {% endif %}
                        {% if app.language == 'en' %}
                            <img src="{{ url('images/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
                        {% endif %}
                        {% if app.language == 'lo' %}
                            <img src="{{ url('images/1x/loIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-lo">
                        {% endif %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle">{{ title }}</nav>
        </div>

    {% elseif type == 'playlist' %}
        <div class="ctn">
            <div class="lMn">
                <!--
                <a href="javascript:window.history.back();">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                </a>
                -->
            </div>
            <div class="rMn">
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% if  app.language =='vi' %}
                            <img src="{{ url('images/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
                        {% endif %}
                        {% if app.language == 'en' %}
                            <img src="{{ url('images/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
                        {% endif %}
                        {% if app.language == 'lo' %}
                            <img src="{{ url('images/1x/loIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-lo">
                        {% endif %}
                    </span>
                </span>
            </div>
            {#                        <div class="rMn">#}
            {#                            <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>#}
            {#                            <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg></a>#}
            {#                            <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>#}
            {#                            <form class="rMn_child" method="post" id="menuLang" name="myform" action="{{ url(['default/changlanguage']) }}">#}
            {#                                <select id="language" name="language" onchange="action_lang()" title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">#}
            {#                                    <option value="vi" {{ app.language == 'vi' ? 'selected' : '' }}>VI</option>#}
            {#                                    <option value="en" {{ app.language == 'en' ? 'selected' : '' }}>EN</option>#}
            {#                                    <option value="lo" {{ app.language == 'lo' ? 'selected' : '' }}>LO</option>#}
            {#                                </select>#}
            {#                            </form>#}
            {#                        </div>#}
            <nav class="mainMn pTitle alCenter">{{ t('wap', 'Playlist') }}</nav>
        </div>
    {% elseif type == 'playlistDelete' %}
        <div class="ctn">
            <div class="lMn">
                <!--
                <a href="javascript:window.history.back();">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                </a>
                -->
            </div>
            <div class="rMn">
                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ title }}</nav>
        </div>
    {% elseif type == 'choose_chnls' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ t('wap', 'Chọn nội dung') }}</nav>
        </div>
    {% elseif type == 'channel_update' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>

            <div class="rMn">

                <a href="javascript:void(0)" onclick='validateEditChannel()' id="upload-button">
                    <b>{{ t('wap', 'Lưu') }}</b>

                </a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ title }}</nav>
        </div>
    {% elseif type =='detail' %}
    {% elseif type == 'distribution' %}
        <div class="inviteBox showed" id="inviteBox" style="display: none;">
            <a href="javascript:void(0)" class="right linkStore"
               attr-ios="https://apps.apple.com/vn/app/uclip/id1522320219"
               attr-android="https://play.google.com/store/apps/details?id=com.viettel.myclip&hl=vi">
                {{ t('wap', 'XEM') }}
            </a>
            <a class="left toggleBtn"data-target="#inviteBox" onclick="hideInviteBox()" ><svg class="ico">
                    <use xlink:href="/images/defs.svg#ico-close"></use></svg>
            </a>
            {#            <div class="appIcon"><img src="/images/appicon_96x96.png" width="64"></div>#}
            <div class="appIcon"><img src="/images/Icon_launch.svg" width="64"></div>
            <div class="appInfo">
                <h6>{{t('wap', 'UClip – Xem quay phát video') }}</h6>
                <p class="txtInfo">{{t('wap', 'Movitel SA') }}</p>
                <p><img src="/images/starts.png"> </p>
                <p>{{t('wap', 'Tải về từ Store') }}</p>
            </div>
        </div>

        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <svg class="logo">
                        <use xlink:href="/images/defs.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">

                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>

            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>

    {% elseif type == 'event' %}
        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <svg class="logo">
                        <use xlink:href="/images/defs.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore optMnBtn" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% if  app.language =='vi' %}
                            <img src="{{ url('images/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
                        {% endif %}
                        {% if app.language == 'en' %}
                            <img src="{{ url('images/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
                        {% endif %}
                        {% if app.language == 'lo' %}
                            <img src="{{ url('images/1x/loIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-lo">
                        {% endif %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>
        <nav class="subTab">
            <ul class="subTabSlider owl-carousel">
                <li class="owl-item"><a  {% if route == "event/main-index" %} class="active" {% endif %} href="/event/main-index" alt="">{{t('wap', 'Sự kiện') }}</a> </li>
                <li class="owl-item"><a href="/event/index" {% if route == "event/index" %} class="active" {% endif %} alt="">{{t('wap', 'Điểm của tôi') }}</a> </li>
                <li class="owl-item"><a href="/event/guide" {% if route == "event/guide" %} class="active" {% endif %} alt="">{{t('wap', 'Hướng dẫn') }}</a> </li>
                <li class="owl-item"><a href="/event/terms-condition" {% if route == "event/terms-condition" %} class="active" {% endif %} alt="">{{t('wap', 'Thể lệ') }}</a> </li>
            </ul>
        </nav>
    {% endif %}

</header>

<input type="hidden" value="{{ url('default/search-suggestion') }}" id="urlSearch">

<div class="modal modalSearch" id="searchPop">
    <div class="siBox">
        <div class="ctn">
            <div class="lIco">
                <button type="reset"><svg class="ico close"><use xlink:href="/images/defs.svg#ico-back"></use></svg></button></div>
            <div class="rIco">
                <button class="icoClose" onclick="removeKeyword()" type="reset"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></button>
                <a href="javascript:void(0)" class="ico-search-header">
                    <svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg>
                </a>
            </div>
            <input class="ipt iptLg iptSearch" id="keyword" type="text" placeholder="{{t('wap', 'Nhập từ khóa') }}" autofocus>
        </div>
    </div>
    <div class="blkSearch">
        <ul id="contentSuggess">
        </ul>
    </div>
</div>

<form class="modal modalOptMn" id="languagePop"  name="myform" action="{{ url(['default/changlanguage']) }}">
    <div title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">
        <ul>
            <li>
                <a href="#" onclick="selectLanguage('vi')">Vietnamese</a>
            </li>
            <li>
                <a href="#" onclick="selectLanguage('en')">English</a>
            </li>
            <li>
                <a href="#" onclick="selectLanguage('lo')">Laos</a>
            </li>
        </ul>
    </div>
</form>

<SCRIPT LANGUAGE="JavaScript">
    // function action_lang()
    // {
    //     var x = document.getElementsByName('myform');
    //     //alert(x);
    //     x[0].submit();
    // }

    function myFunction() {
        var element = document.getElementById("languagePop");
        element.classList.toggle("my_style");
    }
</SCRIPT>

