<header>
    {% if type == 'main' %}
        <div class="inviteBox showed" id="inviteBox" style="display: none;">
            <a href="javascript:void(0)" class="right linkStore"
               attr-ios="https://apps.apple.com/us/app/meuclip/id1552861050?l=vi&amp;mt=8"
               attr-android="https://play.google.com/store/apps/details?id=com.viettel.mov&amp;hl=vi">
                {{t('wap', 'Xem') }}
            </a>
            <a class="left toggleBtn"data-target="#inviteBox" onclick="hideInviteBox()" ><svg class="ico">
                    <use xlink:href="/images/defs.svg#ico-close"></use></svg>
            </a>
            <div class="appIcon"><img src="/images/appicon_96x96.png" width="64"></div>
            <div class="appInfo">
                <h6>{{t('wap', 'MyClip – Xem quay phát video') }}</h6>
                <p class="txtInfo">{{t('wap', 'Movitel SA') }}</p>
                <p><img src="/images/starts.png"> </p>
                <p>{{t('wap', 'Tải về từ Store') }}</p>
            </div>
        </div>
        <div class="ctn">
            <div class="lMn">
                {% if title %}
                    <a href="javascript:window.history.back();" style="float: left">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                    </a>
                    <h5 style="float: left; margin-left: 5px; font-size: 18px">{{ title }}</h5>
                {% else %}
                    <a href="/">
                        <span class="logo">
                            <img src="/images/logo_brandname.png" height="32"/>
                        </span>
                    </a>
                {% endif %}
            </div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                {% if app.session.get('userId') %}
                    <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                    <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                        <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </span>
                    </a>
                {% endif %}
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick="showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>

    {% elseif type == 'channel' %}
        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <span class="logo">
                        <img src="/images/logo_brandname.png" height="32"/>
                    </span>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt="">
                    <svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer" >
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter"> </nav>
        </div>
        <nav class="subTab" id="channelMenu">
            <ul class="chnlSlider owl-carousel">
                <li class="item"><a {% if route == "channel/get-detail" %} class="active" {% endif %}
                            href="{{ url('/channel/get-detail',{'id': id}) }}" alt="">{{ t('wap', 'Trang chủ') }}</a></li>
                <li class="item"><a {% if route == "default/get-list-video-filter" %} class="active" {% endif %}
                            href="{{ url('default/get-list-video-filter',{'id': "video_new_of_channel_"~id}) }}"
                            alt="">{{ t('wap', 'Video') }}</a></li>
                <li class="item"><a {% if route == "channel/get-about" %} class="active" {% endif %}
                            href="{{ url('channel/get-about',{'id': id}) }}" alt="">{{ t('wap', 'Giới thiệu') }}</a></li>
            </ul>
        </nav>
    {% elseif type == 'user' %}
        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <span class="logo">
                        <img src="/images/logo_brandname.png" height="32"/>
                    </span>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer" >
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter"> </nav>
        </div>
        <nav class="subTab" id="channelMenu">
            <ul class="chnlSlider owl-carousel">
                <li class="item"><a {% if route == "channel/get-user-detail" %} class="active" {% endif %}
                            href="{{ url('/channel/get-user-detail',{'id': id}) }}" alt="">{{ t('wap', 'Kênh của tôi') }}</a></li>
                <li class="item"><a {% if route == "default/get-list-video-filter" %} class="active" {% endif %}
                            href="{{ url('default/get-list-video-filter',{'id': "video_new_of_user_"~id,'type':'user'}) }}"
                            alt="">{{ t('wap', 'Video') }}</a></li>
                <li class="item"><a {% if route == "channel/get-list-playlist" %} class="active" {% endif %}
                            href="{{ url('channel/get-list-playlist',{'id': id}) }}"
                            alt="">{{ t('wap', 'Danh sách phát') }}</a></li>
                <li class="item"><a {% if route == "channel/channel-related" %} class="active" {% endif %}
                            href="{{ url('channel/channel-related',{'channel_id': id}) }}"
                            alt="">{{ t('wap', 'Kênh') }}</a></li>
                <li class="item"><a {% if route == "channel/get-user-about" %} class="active" {% endif %}
                            href="{{ url('channel/get-user-about',{'id': id}) }}" alt="">{{ t('wap', 'Giới thiệu') }}</a></li>
            </ul>
        </nav>
    {% elseif type == 'sub' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                       {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <!--
            <nav class="mainMn pTitle alCenter">  </nav>
            -->
            <nav class="mainMn pTitle">{{ title }}</nav>
        </div>

    {% elseif type == 'playlist' %}
        <div class="ctn">
            <div class="lMn"></div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer">
                    </span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                       {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter">{{ t('wap', 'Playlist') }}</nav>
        </div>
    {% elseif type == 'playlistDelete' %}
        <div class="ctn">
            <div class="lMn">
                <!--
                <a href="javascript:window.history.back();">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                </a>
                -->
            </div>
            <div class="rMn">
                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ title }}</nav>
        </div>
    {% elseif type == 'choose_chnls' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>
            <div class="rMn">
                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ t('wap', 'Chọn nội dung') }}</nav>
        </div>
    {% elseif type == 'channel_update' %}
        <div class="ctn">
            <div class="lMn">
                <a href="javascript:window.history.back();">
                    <svg class="ico">
                        <use xlink:href="/images/defs.svg#ico-back"></use>
                    </svg>
                </a>
            </div>

            <div class="rMn">

                <a href="javascript:void(0)" onclick='validateEditChannel()' id="upload-button">
                    <b>{{ t('wap', 'Lưu') }}</b>

                </a>
            </div>
            <nav class="mainMn pTitle alCenter">{{ title }}</nav>
        </div>
    {% elseif type =='detail' %}
        <header class="transparent">
            <div class="ctn">
                <div class="lMn">
                    <!--
				<a href="{{ referUrl }}">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-back"></use>
                        </svg>
                    </a>
				-->
                </div>

                <!--
                <div class="rMn">
                    <a class="icoMore optMnBtn" data-target="#playerOpt">
                        <svg class="ico">
                            <use xlink:href="/images/defs.svg#ico-more"></use>
                        </svg>
                    </a>
                </div>
                -->
            </div>
        </header>

    {% elseif type == 'distribution' %}
        <div class="inviteBox showed" id="inviteBox" style="display: none;">
            <a href="javascript:void(0)" class="right linkStore"
               attr-ios="https://itunes.apple.com/vn/app/myclip-clip-hot/id1186215150?l=vi&mt=8"
               attr-android="https://play.google.com/store/apps/details?id=com.viettel.myclip&hl=vi">
                {{ t('wap', 'XEM') }}
            </a>
            <a class="left toggleBtn"data-target="#inviteBox" onclick="hideInviteBox()" ><svg class="ico">
                    <use xlink:href="/images/defs.svg#ico-close"></use></svg>
            </a>
            <div class="appIcon"><img src="/images/appicon_96x96.png" width="64"></div>
            <div class="appInfo">
                <h6>{{t('wap', 'MyClip – Xem quay phát video') }}</h6>
                <p class="txtInfo">{{t('wap', 'Movitel SA') }}</p>
                <p><img src="/images/starts.png"> </p>
                <p>{{t('wap', 'Tải về từ Store') }}</p>
            </div>
        </div>

        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <span class="logo">
                        <img src="/images/logo_brandname.png" height="32"/>
                    </span>
                </a>
            </div>
            <div class="rMn">

                <a href="javascript:void(0)" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>

            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>

    {% elseif type == 'event' %}
        <div class="ctn">
            <div class="lMn">
                <a href="/">
                    <span class="logo">
                        <img src="/images/logo_brandname.png" height="32"/>
                    </span>
                </a>
            </div>
            <div class="rMn">
                <a href="{{ url(['/video-free']) }}" title="Free videos" alt="">
                    <img src="/images/icon-free.svg" height="20"/>
                </a>
                <a href="{{ url(['account/upload-media']) }}" title="Upload" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-upload"></use></svg></a>
                <a href="{{ url(['account/get-notification']) }}" title="Notification" alt=""><svg class="ico"><use xlink:href="/images/defs.svg#ico-notification"></use></svg>
                    <span id="notification-count" class="style-scope ytd-notification-topbar-button-renderer"></span>
                </a>
                <a href="javascript:void(0)" title="Search" id="search-icon" class="modalBtn" data-target="#searchPop" ><svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg></a>
                <span class="languageCode icoMore optMnBtn" data-target="#languagePop" onclick=" showOptMn($('#languagePop'));" >
                    <span class="icon-language">
                        {% include '@app/views/partials/language.twig' %}
                    </span>
                </span>
            </div>
            <nav class="mainMn pTitle alCenter">&nbsp;</nav>
        </div>
        <nav class="subTab">
            <ul class="subTabSlider owl-carousel">
                <li class="owl-item"><a  {% if route == "event/main-index" %} class="active" {% endif %} href="/event/main-index" alt="">{{t('wap', 'Sự kiện') }}</a> </li>
                <li class="owl-item"><a href="/event/index" {% if route == "event/index" %} class="active" {% endif %} alt="">{{t('wap', 'Điểm của tôi') }}</a> </li>
                <li class="owl-item"><a href="/event/guide" {% if route == "event/guide" %} class="active" {% endif %} alt="">{{t('wap', 'Hướng dẫn') }}</a> </li>
                <li class="owl-item"><a href="/event/terms-condition" {% if route == "event/terms-condition" %} class="active" {% endif %} alt="">{{t('wap', 'Thể lệ') }}</a> </li>
            </ul>
        </nav>
    {% endif %}

</header>

<input type="hidden" value="{{ url('default/search-suggestion') }}" id="urlSearch">

<div class="modal modalSearch" id="searchPop">
    <div class="siBox">
        <div class="ctn">
            <div class="lIco">
                <button type="reset"><svg class="ico close"><use xlink:href="/images/defs.svg#ico-back"></use></svg></button></div>
            <div class="rIco">
                <button class="icoClose" onclick="removeKeyword()" type="reset"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></button>
                <a href="javascript:void(0)" class="ico-search-header">
                    <svg class="ico"><use xlink:href="/images/defs.svg#ico-search"></use></svg>
                </a>
            </div>
            <input class="ipt iptLg iptSearch" id="keyword" type="text" placeholder="{{t('wap', 'Nhập từ khóa') }}" autofocus>
        </div>
    </div>
    <div class="blkSearch">
        <ul id="contentSuggess">
        </ul>
    </div>
</div>

<form class="modal modalOptMn" id="languagePop"  name="myform" action="{{ url(['default/changlanguage']) }}">
    <div title="{{t('wap', 'Vui lòng chọn ngôn ngữ!') }}">
        <ul>
            <li>
                <a href="#" onclick="selectLanguage('en')">English</a>
            </li>
            <li>
                <a href="#" onclick="selectLanguage('mz')">Portuguese</a>
            </li>
        </ul>
    </div>
</form>
<SCRIPT LANGUAGE="JavaScript">
    function action_lang()
    {
        var x = document.getElementsByName('myform');
        //alert(x);
        x[0].submit();
    }
</SCRIPT>
