{%  if app.session.get('themeUserId') == 1 %}
    {% if  app.language =='vi' %}
        <img src="{{ url('images/Icon/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
    {% endif %}
    {% if app.language == 'en' %}
        <img src="{{ url('images/Icon/1x/enlconwhite.png') }}" style="margin-bottom: -5px;" alt="icon-en">
    {% endif %}
    {% if app.language == 'mz' %}
        <img src="{{ url('images/Icon/1x/mzlconwhite.png') }}" style="margin-bottom: -5px;" alt="icon-tz">
    {% endif %}
{% else %}
    {% if  app.language =='vi' %}
        <img src="{{ url('images/Icon/1x/viIconmdpi.png')  }}" style="margin-bottom: -5px;" alt="icon-vi">
    {% endif %}
    {% if app.language == 'en' %}
        <img src="{{ url('images/Icon/1x/enIconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-en">
    {% endif %}
    {% if app.language == 'mz' %}
        <img src="{{ url('images/Icon/1x/mzlconmdpi.png') }}" style="margin-bottom: -5px;" alt="icon-tz">
    {% endif %}
{% endif %}