{% if type == true %}
    <div class="modal modalOptMn" id="cmtOpt">
        <ul>
            <li>
                <a href="javascript:void(0);" class="btnDelete"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{t('wap', 'Xóa playlist') }}</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="modalBtn btnEdit"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-edit') }}"></use></svg> {{t('wap', 'Chỉnh sửa playlist') }}</a>
            </li>
            <li>
                <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
            </li>
        </ul>
    </div>
{% else %}
    <div class="modal modalOptMn" id="playlistOpt">
        <ul>
            <li>
                <a href="javascript:void(0);" class="btnSeeLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-later') }}"></use></svg>{{t('wap', 'Thêm vào xem sau') }}</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="modalBtn btnCreatePlaylist" data-target="#createPlaylistModal"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg> {{t('wap', 'Tạo danh sách phát mới') }}</a>
            </li>
            <li>
                <a href="javascript:void(0)"class="modalBtn btnLoadMyPlaylist" data-target="#playlistPop" data-opt="clearAll"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg> {{t('wap', 'Thêm vào danh sách phát') }}</a>
            </li>
            <li>
                <a class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
            </li>
        </ul>
    </div>
{% endif %}
