<div class="modal modalPopup" id="popupMessage" style="display: none">
    <div class="ctn">
        <h5> {{ t('wap', 'Thông báo') }} </h5>
        <p class="clrGrey"></p>
        <div class="action alRight">
            <a class="close" href="javascript:void(0)">{{ t('wap', 'Đóng') }}</a>
        </div>
    </div>
</div>
