{% if type=='ALL' %}

    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set registerSub = popup.package_id %}
    {% set urlRegisterSub = url('account/register-service') %}
{% endif %}


{% if type=='DISTRIBUTION' %}

    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set registerSub = popup.package_id %}
    {% set urlRegisterSub = url('account/register-service') %}
{% endif %}

{% if type=='VOD' %}
    {% set isBuyVideo = popup.is_buy_video %}
    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRetail = popup.confirm_buy_video %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set confirmAcceptLossData = popup.confirm_accept_loss_data %}
    {% set idBuyVideo = popup.video_id %}
    {% set registerSub = popup.package_id %}
    {% set acceptLossData = popup.accept_loss_data %}
    {% set urlBuyRetail = url('account/buy') %}
    {% set urlRegisterSub = url('account/register-service') %}
    {% set urlAcceptLossData = url('account/accept-loss-data') %}
{% endif %}

{% if type=='FILM' or type=='PLAYLIST' %}
    {% set isBuyVideo = popup.is_buy_video %}
    {% set isBuyPlaylist = popup.is_buy_playlist %}
    {% set isRegisterSub = popup.is_register_sub %}
    {% set confirmRetail = popup.confirm_buy_video %}
    {% set confirmCategory = popup.confirm_buy_playlist %}
    {% set confirmRegisterSub = popup.confirm_register_sub %}
    {% set confirmAcceptLossData = popup.confirm_accept_loss_data %}
    {% set idBuyVideo = popup.video_id %}
    {% set idBuyCategory = popup.playlist_id %}
    {% set registerSub = popup.package_id %}
    {% set acceptLossData = popup.accept_loss_data %}
    {% set urlBuyRetail = url('account/buy') %}
    {% set urlBuyCategory = url('account/buy') %}
    {% set urlRegisterSub = url('account/register-service') %}
    {% set urlAcceptLossData = url('account/accept-loss-data') %}
{% endif %}

{% set isConfirmSMS = popup.is_confirm_sms %}
{% set isRegisterFast = popup.is_register_fast %}
{% set contentId = popup.content_id %}



{% if type=='VOD' or type=='FILM' or type=='PLAYLIST' %}

    <div class="overlay-popup" id="popup-step1" {% if autoDisplay %} style="display:block" {% endif %}>
        <div class="body-popup">
            <div class="wrap">
                <a onclick="$('#popup-step1').fadeOut();" class="close right popup-close" style="padding-right: 7px; padding-top: 7px;"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></a>
                <div class="piracy popup-custom">
                    <h2>{{ t('wap', 'Xin chào {msisdn}', {'msisdn': msisdn}) }}</h2>
                    <p>{{ popup.confirm|raw }}</p>
                    <p>{{ popup.confirm_accept_loss_data|raw }}</p>
                    <div class="list-button">
                        {% if isBuyVideo %}
                            <div class="row-button">
                                <button class="popup-close"
                                        onclick="$('#popup-step1').fadeOut(); $('#popupBuyRetail').fadeIn(); ">
                                    {{t('wap', 'MUA LẺ') }}
                                </button>
                            </div>
                        {% endif %}
                        {% if isBuyPlaylist %}
                            <div class="row-button">
                                <button class="popup-close"
                                        onclick="$('#popup-step1').fadeOut(); $('#popupBuyCategory').fadeIn()">
                                    {{t('wap', 'MUA TRỌN BỘ') }}
                                </button>
                            </div>
                        {% endif %}
                        {% if isRegisterSub %}
                            <div class="row-button">

                                {% if isRegisterSub %}
                                    {% if isConfirmSMS %}
                                        <button class="popup-close"
                                                onclick="document.getElementById('register-sub-form').submit()">
                                            {{t('wap', 'ĐĂNG KÝ') }}
                                        </button>
                                    {% elseif not msisdn %}
                                        <a href="{{ url('auth/login') }}">{{ t('wap','Đăng nhập')|upper }}</a>
                                    {% else %}
                                        <a href="{{ url('default/list-package') }}">{{t('wap','ĐĂNG KÝ')}}</a>
                                        {# <button class="popup-close" onclick="$('#popup-step1').fadeOut(); $('#popupRegisterPackage').fadeIn()">{{t('wap', 'ĐĂNG KÝ') }}</button> #}
                                    {% endif %}
                                {% else %}
                                    <button class="popup-close"
                                            onclick="$('#popup-step1').fadeOut(); $('#popupRegisterPackage').fadeIn()">
                                        {{t('wap', 'ĐĂNG KÝ') }}
                                    </button>
                                {% endif %}

                            </div>
                        {% endif %}

                        {% if acceptLossData %}
                            <div class="row-button">
                                <form action="{{ urlAcceptLossData }}" method="post" id="accept-loss-data-form">
                                    <input type="hidden"
                                           name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                           value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                                    <button type="submit" class="popup-close">
                                        {{t('wap', 'XEM TIẾP') }}
                                    </button>
                                </form>
                            </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if type == 'ALL' %}
    <div class="overlay-popup" id="popup-step-promotion-1" style="display: block">
        <div class="body-popup">
            <div class="wrap">
                <div class="piracy popup-custom">
                    <h2>{% if msisdn %}{{ t('wap', 'Xin chào {msisdn}', {'msisdn': msisdn}) }}{% else %}{{t('wap', 'Đăng ký dịch vụ') }}{% endif %}</h2>
                    <p>{{ popup.confirm|raw }}</p>
                    <div class="list-button">
                        <div class="row-button">
                            {% if isRegisterSub %}
                                <button class="popup-close btn-ok"
                                        onclick="$('#popup-step-promotion-1').fadeOut(); $('#popupRegisterPackage').fadeIn()">
                                    {{t('wap', 'ĐĂNG KÝ') }}
                                </button>
                            {% endif %}
                            <span></span>
                        </div>
                        <div class="row-button">
                            <button class="popup-close" onclick="$('#popup-step-promotion-1').fadeOut();">
                                {{t('wap', 'ĐỂ SAU') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if type == 'DISTRIBUTION' %}

    <div class="overlay-popup" id="popup-step-promotion-1" style="display: block">
        <div class="body-popup">
            <div class="wrap">
                <div class="piracy popup-custom">


                    <h2>{% if msisdn %}{{ t('wap', 'Xin chào {msisdn}', {'msisdn': msisdn}) }}{% else %}{{t('wap', 'Đăng ký dịch vụ') }}{% endif %}</h2>
                    <p class="title">{{ popup.confirm|raw }}</p>
                    <div class="list-button" style="padding: 10px">
                            <form action="{{ urlRegisterSub }}"  method="post">
                                <input type="hidden" name="package_id" value="{{ popup.package_id }}"/>
                                <input type="hidden"
                                       name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                                       value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                                <button type="submit" class="popup-close btn-ok">{{t('wap', 'Đăng ký') }}</button>
                            </form>
                    </div>

                    <div class="list-button" style="padding: 10px">
                        <a href="javascript:void(0)"  onclick="$('#popup-step-promotion-1').fadeOut();">{{t('wap', 'Để sau') }}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endif %}


{% if isRegisterSub %}
    <div class="overlay-popup" id="popupRegisterPackage">
        <div class="body-popup">
            <div class="wrap">
                <div class="piracy popup-custom">
                    <h2>{{t('wap', 'Mua gói cước') }}</h2>
                    <p class="popup-content">
                        {{ confirmRegisterSub|raw }}
                    </p>
                    <form action="{{ urlRegisterSub }}" method="post" id="register-sub-form">
                        <input type="hidden" name="package_id" value="{{ registerSub }}"/>
                        {% if isRegisterFast %}
                            <input type="hidden" name="content_id" value="{{ contentId }}"/>
                        {% endif %}

                        <input type="hidden"
                               name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                               value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                        <div class="list-button">
                            <div class="row-button">
                                <button type="submit" class="popup-close btn-ok">
                                    {{t('wap', 'ĐỒNG Ý') }}
                                </button>
                                <span></span>
                            </div>
                            <div class="row-button">
                                <button type="button" onclick="$('#popupRegisterPackage').fadeOut(); ">
                                    {{t('wap', 'ĐỂ SAU') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if isBuyVideo %}
    <div class="overlay-popup" id="popupBuyRetail">
        <div class="body-popup">
            <div class="wrap">
                <div class="piracy popup-custom">
                    <h2>{{t('wap', 'Mua lẻ') }}</h2>
                    <p>{{ confirmRetail|raw }}</p>
                    <form action="{{ urlBuyRetail }}" method="post" id="buy-retail-form">
                        <input type="hidden" name="item_id" value="{{ idBuyVideo }}"/>
                        <input type="hidden" name="type" value="VOD"/>
                        <input type="hidden"
                               name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                               value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">

                        <div class="list-button">
                            <div class="row-button">
                                <button type="submit" class="popup-close btn-ok">
                                    {{t('wap', 'ĐỒNG Ý') }}
                                </button>
                                <span></span>
                                <button type="button" onclick="$('#popupBuyRetail').fadeOut(); ">
                                    {{t('wap', 'ĐỂ SAU') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if isBuyPlaylist %}
    <div class="overlay-popup" id="popupBuyCategory">
        <div class="body-popup">
            <div class="wrap">
                <div class="piracy popup-custom">
                    <h2>{{t('wap', 'Mua lẻ') }}</h2>
                    <p>{{ confirmCategory|raw }}</p>
                    <form action="{{ urlBuyCategory }}" method="post" id="buy-category-form">
                        <input type="hidden" name="item_id" value="{{ idBuyCategory }}"/>
                        <input type="hidden" name="type" value="PLAYLIST"/>
                        <input type="hidden"
                               name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                               value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
                        <div class="list-button">
                            <div class="row-button">
                                <button type="submit" class="popup-close btn-ok">
                                    {{t('wap', 'ĐỒNG Ý') }}
                                </button>
                                <span></span>
                                <button type="button" onclick="$('#popupBuyCategory').fadeOut(); ">
                                    {{t('wap', 'ĐỂ SAU') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

