<div class="modal modalPopup" id="popupCommon">
    <div class="ctn">
        <h5>{{t('wap', 'THÔNG BÁO') }}</h5>
        <div class="piracy1">
            <p class="title"></p>      
        </div>
        <div class="action alRight">
            <a class="close" href="javascript:void(0)">{{ t('wap', 'Đóng') }}</a>
        </div>
    </div>
</div>
<div class="modal modalPopup" id="optionNotification">
    <div class="ctn">
        <h5>{{t('wap', 'Nhận thông báo') }}</h5>
        <div class="ctn">
            <p class="clrGrey">
            <p><input type="radio" name="accept" value="0"> {{t('wap', 'Không nhận thông báo') }}</p>
            <p><input type="radio" name="accept" value="1"> {{t('wap', 'Thỉnh thoảng') }}</p>
            <p><input type="radio" name="accept" value="2"> {{t('wap', 'Tất cả') }}</p>
            <div class="action alRight">
                <a class="ok" href="javascript:void(0)">{{t('wap', 'Đồng ý') }}</a>
                <a class="close" href="javascript:void(0)">{{t('wap', 'Đóng') }}</a>
            </div>
        </div>
    </div>
</div>

<div class="modal modalWC" id="videoOptWorldCup">
    <div class="ctn alCenter">
        <a class="close right"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></a>
        <h1><img src="/images/wc_logo.png" width="200"></h1>
        <p>{{t('wap', 'Xem Video, Phim, Thể thao 100% Data tốc độ cao trên MyClip (Giá DV 35.000 đồng/tháng, gia hạn hàng tháng)') }}</p>
        <p>&nbsp;</p>

        <form id="form-wc" action="/account/register-service"  method="post">
            <input type="hidden" name="package_id" value="3"/>
            <input type="hidden"
                   name="{{ this.renderDynamic('return \\Yii::$app->getRequest()->csrfParam;') | raw }}"
                   value="{{ this.renderDynamic('return \\Yii::$app->getRequest()->getCsrfToken();') | raw }}">
        </form>

        <p><a class="btn btnWhite" onclick="document.getElementById('form-wc').submit()" href="javascript:void(0)">{{t('wap', 'Đăng ký ngay') }}</a> </p>

    </div>
    <img src="/images/wc_footer.png">
</div>

<div class="modal modalPopup" id="popUp2010">
    <div class="ctn">
        <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="/images/defs.svg#ico-close"></use></svg></a>
        <img src="/images/woman_01.png">
        <p class="text">{{ app.session.get('message.for.2010')|raw }}</p>
    </div>
</div>



