<section class="blk blkBdTop blkListVideosVer">
    {% if type == 'FILM' %}
        <h6 class="blkTitle">
            {{t('wap', 'Phim cùng thể loại') }}
        </h6>
        <input type="hidden" id="autoPlay" value="0" />
    {% else %}
        <h6 class="blkTitle">
            {{t('wap', 'Xem tiếp') }}
            <div class="rightCn f1em">
                {{t('wap', 'Tự động phát') }}
                <div onclick="autoPlayVideoV2()" class="onOff switch">
                    <svg class="ico active"><use xlink:href="{{ url('images/defs.svg#ico-on') }}"></use></svg>
                    <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-off') }}"></use></svg>
                </div>
            </div>
        </h6>
        <input type="hidden" id="autoPlay" value="1" />
    {% endif %}
    {% set nextVideo = '' %}
    {% for k,video in data %}
    {% if k == 0%} 
        {% set nextVideo = video.name %}
        <input type="hidden" id="nextVideo" value="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" />
    {% endif %}
        <article class="videoItem">
        <div class="ctn">
            <div class="pthld">
			<span class="timing">{{video.duration}}</span>
				<a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" title="{{video.name}}">
					<img src="{{ video.coverImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
                    {% if(video.price_play == 0) %}
                        <div class="attach-img">
                            <img src="/images/freeVideo.png">
                        </div>
                    {% endif %}
				</a>
            </div>
            <div class="ctnhld">
                <h6 class="title">
                    <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" title="{{video.name}}">{{video.name}}</a>
                </h6>
                <p class="txtInfo">
                    <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{video.userName}}</a> <i class="dot"></i>
					<a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">{{ t('wap','{count} lượt xem', {'count': video.play_times}) }}</a>
                </p>
            </div>
            <a class="icoMore optMnBtn" data-target="#videoOpt" data-id="{{video.id}}" data-url="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                <svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use></svg>
            </a>
        </div>
    </article>
    {% endfor %}


</section>

<div class="dDownComment" style="text-align: center">
    <a class="trans link-view-more" id="load-more-related-video">
        <svg class="ico">
            <use xlink:href="{{ url('images/defs.svg#ico-arrow-down-ol') }}"></use>
        </svg>
    </a>
</div>


<div  id="modalAutoPlay" style="display:none;">
    <div class="vjs-modal-dialog" tabindex="-1">
        <div class="vjs-modal-dialog-content" role="document">

            <div class="text-center" onclick="window.location=document.getElementById('nextVideo').value">
                <h5>{{t('wap', 'Tiếp Theo') }}</h5>
                <p><b>{{nextVideo}}</b></p>
                <p id="countDown">
                    <span class="player-next-s3"></span>
                    <svg id="animated" width="60px" heigh="60px" viewbox="0 0 100 100">
                        <circle cx="50" cy="50" r="45" fill="url(#image)"/>
                        <path fill="none" stroke-linecap="round" stroke-width="5" stroke="#fff"
                            stroke-dasharray="251.2,0"
                            d="M50 10
                               a 40 40 0 0 1 0 80
                               a 40 40 0 0 1 0 -80">
                            <animate attributeName="stroke-dasharray" from="0,251.2" to="251.2,0" dur="5s"/>           
                        </path>
                    </svg>
                </p>
            </div>

            <div class="text-center" style="margin-top: 25px">
                <p class="btn-cancel-next-video" >
                    <button class="a-cancel-next-video" onclick="cancelNextVideo()" > {{t('wap', 'BỎ QUA') }} </button>
                </p>
            </div>

        </div>
    </div>
</div>