{% for history in responseData.histories %}

    <tr class="more-report {% if history.display_more %}display-report{% endif %}">
        <td>{{ t('wap', 'Tháng') }} {{ history.month }}</td>
        <td><strong>{{ history.revenue|number_format(0, ',', '.') }}<sup>{{ t('wap', 'đ') }}</sup></strong></td>
        <td class="txtInfo">{{ history.status }}</td>
    </tr>

{% endfor %}
