<div class="modal modalPopup classShareSocial" id="popupShare">
    <div class="ctn">
        <h5>{{t('wap', 'Chia sẻ') }}
            <a style="float: right; color: black; margin-right: -25px; margin-top: -15px;" class="close">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use>
                </svg>
            </a>
        </h5>
        <div class="text-center">
            <div class="share">
                <a href="javascript:void(0)" pref="https://facebook.com/sharer/sharer.php?u={{ shareLink }}"
                   target="_blank"
                   aria-label="Share on Facebook"
                   class="close-popup-share btnFbShare shareMe"
                   onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Facebook' });">
                    <img src="/images/facebook.png">
                    <p>Facebook</p>
                </a>

                <a href="javascript:void(0)" pref="https://plus.google.com/share?url={{ shareLink }}" target="_blank"
                   aria-label="Share on Google+"
                   class="close-popup-share btnGgShare shareMe"
                   onclick="return addEvent('share_video_action', {'video_id': '{{ detail.id }}', 'video_name': '{{ detail.name }}', 'channel_id': '{{ detail.owner.id }}', 'channel_name': '{{ detail.owner.name }}', 'share_type': 'Google' });">
                    <img src="/images/google-plus.png">
                    <p>Google+</p>
                </a>
                
            </div>
        </div>
        <!--
        <div class="text-center">
            <p>Áp dụng 1000 lượt chia sẻ facebook đầu tiên. Chi tiết <a style="color: blue" href="/event/terms-condition"> TẠI ĐÂY</a>            </p>
        </div>
        -->
    </div>
</div>