{#<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-88258508-1', 'auto');
    ga('send', 'pageview');

</script>#}

{% if app.session.get('source') == 'WAP|GA2' or app.session.get('source') == 'WAP|GA3' %}
    {#<!-- SUB DAT -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825172423"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-825172423');
    </script>#}

{% elseif  app.session.get('source') == 'WAP|FB' or app.session.get('source') == 'WAP|FB1' %}
    {#<!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1775833932440003');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->#}
{% elseif  app.session.get('source') == 'WAP|TOP' %}

    {#<script async src="https://www.googletagmanager.com/gtag/js?id=AW-989984849"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-989984849');
    </script>#}

{% elseif  app.session.get('source') == 'WAP|HOTVIDEO' %}

    {#<script async src="https://www.googletagmanager.com/gtag/js?id=AW-790192412"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag(){
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-790192412');

    </script>#}

{% elseif  app.session.get('source') == 'WAP|FB89' or app.session.get('source') == 'WAP|FB99' %}

    {#<!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1775833932440003');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1775833932440003&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->#}

{% else %}

    {#<!-- MAIN Global site tag (gtag.js) - Google AdWords: 849928907 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-849928907"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'AW-849928907');
    </script>#}

{% endif %}