{#<script type='text/javascript'>
        Countly.q.push(['add_event', {
            "key":"{{ trackingContent.id }}",
            "segmentation": {
                {% for key, value in trackingContent.content %}
                    {% if key == 'user_info' %}
                        "{{ key }}": {{ value|raw }},
                    {% else %}
                        "{{ key }}": "{{ value }}",
                    {% endif %}
                {% endfor %}
            }
        }]);
</script>#}