
{% set cc=0 %}
{% for video in data.content %}
    {% set cc= cc+1 %}
    <article class="videoItem load-bar" id="video-item-{{ video.id }}" data-content="{{ video.id }}">
        {% if(video.price_play == 0) %}
            <div class="attach-img">
                <img src="/images/freeVideo.png">
            </div>
        {% endif %}
        <div class="pthld">
            <div class="playback"><span id="playback-{{ video.id }}" style="width: 0%"></span></div>
            <span class="timing">{{ video.duration }}</span>
            <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                <img data-display="{{ video.animationImage }}" data-src="{{ video.coverImage }}"  {% if cc <= 3 %} src="{{ video.coverImage }}"  class="animated-image" {% else %} class="lazy animated-image" src="/images/16x9.gif" {% endif %}    onError="this.onerror=null;this.src='/images/16x9.gif'" alt="">
            </a>
        </div>

        <div class="ctn">
            <div class="avatar">
                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}" title="{{ video.userName }}">
                    <img data-src="{{ video.userAvatarImage }}" {% if cc <= 3 %} src="{{ video.userAvatarImage }}" {% else %} src="/images/avatar.gif" class="lazy" {% endif %}  onError="this.onerror=null;this.src='/images/avatar.gif'" alt="">
                </a>
            </div>

            <h6 class="title">
                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}" name="urlVideo">{{ video.name }}</a>
            </h6>

            <p class="txtInfo">
                <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a>
                <i class="dot"></i>
                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                    {{ t('wap','{count} lượt xem', {'count': video.play_times}) }}
                </a>
                <i class="dot"></i>
                <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                    {{ video.publishedTime }}
                </a>
            </p>

            <a class="icoMore optMnBtn" data-target="#videoOpt" data-id="{{ video.id }}"
               data-url="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}"
               data-opt="clearAll">
                <svg class="ico">
                    <use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use>
                </svg>
            </a>
        </div>
    </article>
{% endfor %}