{% if hasTitle %}
    <h6 class="blkTitle">
        {% if data.categoryImage %}
            <div class="avatar">
                <img src="{{ data.categoryImage }}" alt="">
            </div>
        {% endif %}
        {{ data.name }}
    </h6>
{% endif %}

{% for video in data.content %}
    {% if video.status != 2 %}
        {% set detailUrl = "javascript:void(0)" %}
    {% else %}
        {% set detailUrl = url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium }) %}
    {% endif %}

    <article class="videoItem item-{{ video.id }}">
        <div class="ctn">
            <div class="pthld">
                <span class="timing">{{video.duration}}</span>
                <a href="{{ detailUrl }}">
                    <img src="{{ video.coverImage }}" onError="this.onerror=null;this.src='/images/16x9.png'" alt="">
                </a>
                {% if(video.price_play == 0) %}
                    <div class="attach-img">
                        <img src="/images/freeVideo.png">
                    </div>
                {% endif %}
            </div>
            <div class="ctnhld">
                <h6 class="title">
                    <a href="{{ detailUrl }}">{{ video.name }}</a>
                </h6>
                <p class="txtInfo">
                    {% if video.status == 3 %}
                        <a href={{ detailUrl }}>
                            {{ t('wap', 'Từ chối duyệt') }} {% if video.reason %} ({{ t('wap', 'Lý do') }}: {{ video.reason }}) {% endif %}
                        </a>

                    {% elseif video.status == 1 %}
                        <a href={{ detailUrl }}>
                            {{ t('wap', 'Chờ phê duyệt(chưa xem được)') }}
                        </a>
                    {% else %}
                      
                        <a href="{{ url('channel/get-detail',{'id':video.userId }) }}">{{ video.userName }}</a>
                        <i class="dot"></i>
                        <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                            {{ t('wap','{count} lượt xem', {'count': video.play_times}) }}
                        </a>
                        <i class="dot"></i>
                        <a href="{{ url('video/detail',{'id':video.id, 'slug':video.slug, 'click_source': video.click_source, 'click_medium': video.click_medium}) }}">
                            {{ video.publishedTime }}
                        </a>
                    {% endif %}
                </p>
            </div>
            {% if (video.status == 2 and iconMore != false) or id=='video_owner' %}
                <a class="icoMore optMnBtn" data-target="{% if playlist %} #playlistOpt {% else %} #videoOpt{% endif %}"
                   data-url="{{ video.linkSocial }}"
                   data-id="{{ video.id }}"  data-comment="{{ video.can_comment }}" data-status="{{ video.status }}">
                    <svg class="ico">
                        <use xlink:href="{{ url('images/defs.svg#ico-more') }}"></use>
                    </svg>
                </a>
            {% endif %}


        </div>
    </article>
{% endfor %}
{% if hasPage and num > data.content|length %}
    <a class="btn btnLg" href="{{ url('default/get-video-list',{'id': id}) }}">{{ t('wap', 'Xem tất cả') }}&nbsp;{{ num }}&nbsp;videos</a>
{% endif %}