<div class="modal modalOptMn" id="videoOpt">
    <ul>
        <li>
            <a href="javascript:void(0);" class="btnSeeLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-later') }}"></use></svg>{{t('wap', 'Thêm vào xem sau') }}</a>
        </li>
        <li>
            <a   {% if app.session.get('userId') %} href="javascript:void(0);" class="modalBtn btnCreatePlaylist" data-target="#createPlaylistModal" data-opt="clearAll" {% else %} href="/auth/login" class="btnCreatePlaylist" {% endif %}  ><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg> {{t('wap', 'Tạo danh sách phát') }}</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="modalBtn btnLoadMyPlaylist" data-opt="clearAll" data-target="#playlistPop"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg> {{t('wap', 'Thêm vào danh sách phát') }}</a>
        </li>
{#        <li>#}
{#            <a href="javascript:void(0);" class="modalBtn" data-opt="clearAll" data-target="#popupShare"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use></svg> {{t('wap', 'Chia sẻ') }}</a>#}
{#        </li>#}
        <li>
            <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
        </li>
    </ul>
</div>
<div class="modal modalOptMn" id="playlistOpt">
    <ul>
        <li>
            <a href="javascript:void(0);" class="btnSeeLater"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-later') }}"></use></svg>{{t('wap', 'Thêm vào xem sau') }}</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="modalBtn btnCreatePlaylist" data-target="#createPlaylistModal" data-opt="clearAll"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-addto') }}"></use></svg> {{t('wap', 'Tạo danh sách phát') }}</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="modalBtn btnLoadMyPlaylist" data-opt="clearAll" data-target="#playlistPop"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-playlist') }}"></use></svg> {{t('wap', 'Thêm vào danh sách phát') }}</a>
        </li>
        <li>
            <a href="javascript:void(0);" id ="btnDelete" onclick="hideModal()"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-delete') }}"></use></svg> {{t('wap', 'Xóa video khỏi playlist') }}</a>
        </li>
{#        <li>#}
{#            <a href="javascript:void(0);" class="modalBtn" data-opt="clearAll" data-target="#popupShare"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-shareto') }}"></use></svg> {{t('wap', 'Chia sẻ') }}</a>#}
{#        </li>#}
        <li>
            <a href="javascript:void(0);" class="close"><svg class="ico"><use xlink:href="{{ url('images/defs.svg#ico-close') }}"></use></svg> {{t('wap', 'Hủy bỏ') }}</a>
        </li>
    </ul>
</div>
<div class="overlay"></div>
<input type="hidden" id="idVideoClickOption" value=""/>
<input type="hidden" id="urlShare" value=""/>

{% if not app.session.get('userId') %}  {% endif %}