{{ use('wapsite/assets/MapAccountAsset') }}

{{ register_map_account_asset() }}
{{ this.beginPage() }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    {{ html.csrfMetaTags() | raw }}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <title>{{ (this.title)?html.encode(this.title):t('wap', 'Mạng xã hội video - Myclip')}}</title>
	<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    {{ this.head() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}

</head>
<body class="{% if app.session.get('themeUserId') == 1 %}dark {% endif %}">

{{ this.beginBody() }}
{% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
<main>
    <section class="blk blkMapAccount">
        {{ Alert.widget() | raw }}
        {{ TrackingWidget.widget() | raw }}
        {{ content | raw }}
    </section>
</main>

{% if app.session.get('distributionId') <= 0 %}
    {{ FooterWidget.widget() | raw }}
{% endif %}

{% include '@app/views/partials/popupCommon.twig' %}
<div class="overlay"></div>
{{ this.endBody() }}
{% include '@app/views/partials/tracking.twig' %}
</body>
</html>

{{ this.endPage() }}