{{ use('wapsite/assets/AppAsset') }}

{{ register_app_asset() }}
{{ this.beginPage() }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    {{ html.csrfMetaTags() | raw }}
    <title>{{ (this.title)?html.encode(this.title):t('wap', 'Mạng xã hội video - Myclip') }}</title>
	<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    {{ this.head() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}

</head>
<body>

{{ this.beginBody() }}
{% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
<main>
    <section class="blk blkSignIn">
        {{ Alert.widget() | raw }}
        {{ TrackingWidget.widget() | raw }}
        {{ content | raw }}
    </section>
</main>

{{ this.endBody() }}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88258508-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>

{{ this.endPage() }}