{{ this.beginPage() }}

<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>


    {{ html.csrfMetaTags() | raw }}
    <title>{{ (this.title)?html.encode(this.title):t('wap', 'Mạng xã hội video - Myclip') }}</title>
	<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    {{ this.head() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}

</head>
<body class="{% if app.session.get('themeUserId') == 1 %}dark {% endif %}">
{{ this.beginBody() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
    <main>
        {{ content | raw }}
    {% include '@app/views/partials/playlistOptionModal.twig' %}
    {% include '@app/views/partials/createPlayListModal.twig' %}
    {% include '@app/views/partials/videoOptionModal.twig' %}
    {{ Alert.widget() | raw }}

    {% if app.session.get('distributionId') <= 0 %}
       {{ FooterWidget.widget() | raw }}
    {% endif %}
	
    <div id="loadMyPlaylist"></div>
    <input type="hidden" id="userId" value="{{ app.session.get('userId') }}">
{{ this.endBody() }}
<!--[if IE]>
<script>svg4everybody();</script>
<!--<![endif]-->
{% include '@app/views/partials/tracking.twig' %}
{{ TrackingWidget.widget() | raw }}
 </main>

</body>
</html>
{{ this.endPage() }}
