{{ this.beginPage() }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/html1/DTD/xhtml1-strict.dtd">

<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    {{ html.csrfMetaTags() | raw }}
    <title>{{ (this.title)?html.encode(this.title):t('wap', 'Mạng xã hội video - Myclip')}}</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    {{ this.head() }}
    {% include '@app/views/partials/trackingHead.twig' with {'pos': 'head'} %}
</head>
<body class="{% if app.session.get('themeUserId') == 1 %}dark {% endif %}">
{{ this.beginBody() }}
{% include '@app/views/partials/trackingHead.twig' with {'pos': 'body'} %}
{{ HeaderWidget.widget({'type':'distribution'}) | raw }}
<main>
    {{ content | raw }}

{{ Alert.widget() | raw }}
{% if app.session.get('distributionId') <= 0 %}
    {{ FooterWidget.widget() | raw }}
{% endif %}

    {% include '@app/views/partials/videoOptionModal.twig' %}
    {% include '@app/views/partials/createPlayListModal.twig' %}
    {% include '@app/views/partials/shareSocialModal.twig' %}
    {% include '@app/views/partials/popupCommon.twig' %}
    {% include '@app/views/partials/popupMessage.twig' %}

    <input type="hidden" id="userId" value="{{ app.session.get('userId') }}">

    {{ this.endBody() }}
    <!--[if IE]>
    <script>svg4everybody();</script>
    <!--<![endif]-->
    {% include '@app/views/partials/tracking.twig' %}
    {{ TrackingWidget.widget() | raw }}
</main>
</body>
</html>
{{ this.endPage() }}
